{"openapi":"3.0.1","info":{"title":"ApiManagementClient","description":"Use these REST APIs for performing operations on entities like API, Product, and Subscription associated with your Azure API Management deployment.","version":"2018-01-01","x-apisguru-categories":["cloud"],"x-logo":{"url":"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"},"x-origin":[{"format":"swagger","url":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimanagement.json","version":"2.0"}],"x-preferred":true,"x-providerName":"azure.com","x-serviceName":"apimanagement","x-tags":["Azure","Microsoft"],"x-jentic-source-url":"https://api.apis.guru/v2/specs/azure.com/apimanagement/2018-01-01/swagger.yaml"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies":{"get":{"tags":["Policy"],"description":"Lists all the Global Policy definitions of the Api Management service.","operationId":"Policy_ListByService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"scope","in":"query","description":"Policy scope.","schema":{"type":"string","enum":["Tenant","Product","Api","Operation","All"],"x-ms-enum":{"modelAsString":false,"name":"PolicyScopeContract"}},"x-ms-enum":{"modelAsString":false,"name":"PolicyScopeContract"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of Policy Contracts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyCollection"}}}}},"x-ms-examples":{"ApiManagementListPolicies":{"parameters":{"api-version":"2018-01-01","resourceGroupName":"rg1","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{"body":{"nextLink":"","value":[{"id":"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy","name":"policy","properties":{"policyContent":"<!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n    - Only the <forward-request> policy element can appear within the <backend> section element.\r\n    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r\n    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r\n    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r\n    - To remove a policy, delete the corresponding policy statement from the policy document.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n-->\r\n<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"},"type":"Microsoft.ApiManagement/service/policies"}]}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}":{"get":{"tags":["Policy"],"description":"Get the Global policy definition of the Api Management service.","operationId":"Policy_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"policyId","in":"path","description":"The identifier of the Policy.","required":true,"schema":{"type":"string","enum":["policy"],"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the Policy Contracts.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyContract"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-ms-examples":{"ApiManagementGetPolicy":{"parameters":{"api-version":"2018-01-01","policyId":"policy","resourceGroupName":"rg1","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{"body":{"id":"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy","name":"policy","properties":{"policyContent":"<!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n    - Only the <forward-request> policy element can appear within the <backend> section element.\r\n    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r\n    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r\n    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r\n    - To remove a policy, delete the corresponding policy statement from the policy document.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n-->\r\n<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"},"type":"Microsoft.ApiManagement/service/policies"}}}}}},"put":{"tags":["Policy"],"description":"Creates or updates the global policy configuration of the Api Management service.","operationId":"Policy_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"policyId","in":"path","description":"The identifier of the Policy.","required":true,"schema":{"type":"string","enum":["policy"],"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The policy contents to apply.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyContract"}}},"required":true},"responses":{"200":{"description":"Global policy configuration of the Api Management service was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyContract"}}}},"201":{"description":"Global policy configuration was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyContract"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-ms-examples":{"ApiManagementCreatePolicy":{"parameters":{"api-version":"2018-01-01","parameters":{"properties":{"contentFormat":"xml","policyContent":"<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"}},"policyId":"policy","resourceGroupName":"rg1","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{"body":{"id":"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy","name":"policy","properties":{"policyContent":"<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"},"type":"Microsoft.ApiManagement/service/policies"}},"201":{"body":{"id":"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy","name":"policy","properties":{"policyContent":"<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"},"type":"Microsoft.ApiManagement/service/policies"}}}}},"x-codegen-request-body-name":"parameters"},"delete":{"tags":["Policy"],"description":"Deletes the global policy configuration of the Api Management Service.","operationId":"Policy_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"policyId","in":"path","description":"The identifier of the Policy.","required":true,"schema":{"type":"string","enum":["policy"],"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the policy configuration at the Global level.","content":{}},"204":{"description":"Successfully deleted the policy configuration at the Global level.","content":{}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-ms-examples":{"ApiManagementDeletePolicy":{"parameters":{"If-Match":"*","api-version":"2018-01-01","policyId":"policy","resourceGroupName":"rg1","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{},"204":{}}}}},"head":{"tags":["Policy"],"description":"Gets the entity state (Etag) version of the Global policy definition in the Api Management service.","operationId":"Policy_GetEntityTag","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"policyId","in":"path","description":"The identifier of the Policy.","required":true,"schema":{"type":"string","enum":["policy"],"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The current entity state version is present in the ETag header.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."},"details":{"type":"array","description":"The list of invalid fields send in request, in case of validation error.","items":{"type":"object","properties":{"code":{"type":"string","description":"Property level error code."},"message":{"type":"string","description":"Human-readable representation of property-level error."},"target":{"type":"string","description":"Property name."}},"description":"Error Field contract."}},"message":{"type":"string","description":"Human-readable representation of the error."}},"description":"Error Body contract."}},"description":"Error Response."}}}}},"x-ms-examples":{"ApiManagementHeadPolicy":{"parameters":{"api-version":"2018-01-01","policyId":"policy","resourceGroupName":"rg1","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{"headers":{"etag":"AAAAAAAAAAa="}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets":{"get":{"tags":["PolicySnippets"],"description":"Lists all policy snippets.","operationId":"PolicySnippets_ListByService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"scope","in":"query","description":"Policy scope.","schema":{"type":"string","enum":["Tenant","Product","Api","Operation","All"],"x-ms-enum":{"modelAsString":false,"name":"PolicyScopeContract"}},"x-ms-enum":{"modelAsString":false,"name":"PolicyScopeContract"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of Policy Contracts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySnippetsCollection"}}}}},"x-ms-examples":{"ApiManagementListPolicySnippets":{"parameters":{"api-version":"2018-01-01","resourceGroupName":"rg1","scope":"Api","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{"body":[{"content":"<authentication-basic username=\"username\" password=\"password\" />","name":"Authenticate with Basic","scope":268435471,"toolTip":"Authenticate with the backend service using Basic authentication. Use in the inbound section at API scope."}]}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions":{"get":{"tags":["Regions"],"description":"Lists all azure regions in which the service exists.","operationId":"Regions_ListByService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lists of Regions in which the service is deployed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionListResult"}}}}},"x-ms-examples":{"ApiManagementListRegions":{"parameters":{"api-version":"2018-01-01","resourceGroupName":"rg1","serviceName":"apimService1","subscriptionId":"subid"},"responses":{"200":{"body":{"count":1,"nextLink":"","value":[{"isDeleted":false,"isMasterRegion":true,"name":"West US"}]}}}}},"x-ms-pageable":{"nextLinkName":"nextLink"}}}},"components":{"schemas":{"ErrorFieldContract":{"type":"object","properties":{"code":{"type":"string","description":"Property level error code."},"message":{"type":"string","description":"Human-readable representation of property-level error."},"target":{"type":"string","description":"Property name."}},"description":"Error Field contract."},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."},"details":{"type":"array","description":"The list of invalid fields send in request, in case of validation error.","items":{"type":"object","properties":{"code":{"type":"string","description":"Property level error code."},"message":{"type":"string","description":"Human-readable representation of property-level error."},"target":{"type":"string","description":"Property name."}},"description":"Error Field contract."}},"message":{"type":"string","description":"Human-readable representation of the error."}},"description":"Error Body contract."}},"description":"Error Response."},"ErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."},"details":{"type":"array","description":"The list of invalid fields send in request, in case of validation error.","items":{"type":"object","properties":{"code":{"type":"string","description":"Property level error code."},"message":{"type":"string","description":"Human-readable representation of property-level error."},"target":{"type":"string","description":"Property name."}},"description":"Error Field contract."}},"message":{"type":"string","description":"Human-readable representation of the error."}},"description":"Error Body contract."},"PolicyCollection":{"type":"object","properties":{"nextLink":{"type":"string","description":"Next page link if any."},"value":{"type":"array","description":"Policy Contract value.","items":{"$ref":"#/components/schemas/PolicyContract"}}},"description":"The response of the list policy operation."},"PolicyContract":{"properties":{"properties":{"$ref":"#/components/schemas/PolicyContractProperties"}},"description":"Policy Contract details.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PolicyContractProperties":{"required":["policyContent"],"type":"object","properties":{"contentFormat":{"type":"string","description":"Format of the policyContent.","default":"xml","enum":["xml","xml-link","rawxml","rawxml-link"],"x-ms-enum":{"modelAsString":true,"name":"PolicyContentFormat","values":[{"description":"The contents are inline and Content type is an XML document.","value":"xml"},{"description":"The policy XML document is hosted on a http endpoint accessible from the API Management service.","value":"xml-link"},{"description":"The contents are inline and Content type is a non XML encoded policy document.","value":"rawxml"},{"description":"The policy document is not Xml encoded and is hosted on a http endpoint accessible from the API Management service.","value":"rawxml-link"}]}},"policyContent":{"type":"string","description":"Json escaped Xml Encoded contents of the Policy."}},"description":"Policy contract Properties."},"PolicySnippetContract":{"type":"object","properties":{"content":{"type":"string","description":"Snippet content.","readOnly":true},"name":{"type":"string","description":"Snippet name.","readOnly":true},"scope":{"type":"integer","description":"Binary OR value of the Snippet scope.","readOnly":true},"toolTip":{"type":"string","description":"Snippet toolTip.","readOnly":true}},"description":"Policy snippet."},"PolicySnippetsCollection":{"type":"object","properties":{"value":{"type":"array","description":"Policy snippet value.","items":{"$ref":"#/components/schemas/PolicySnippetContract"}}},"description":"The response of the list policy snippets operation."},"RegionContract":{"type":"object","properties":{"isDeleted":{"type":"boolean","description":"whether Region is deleted."},"isMasterRegion":{"type":"boolean","description":"whether Region is the master region."},"name":{"type":"string","description":"Region name.","readOnly":true}},"description":"Region profile."},"RegionListResult":{"type":"object","properties":{"count":{"type":"integer","description":"Total record count number across all pages.","format":"int64"},"nextLink":{"type":"string","description":"Next page link if any."},"value":{"type":"array","description":"Lists of Regions.","items":{"$ref":"#/components/schemas/RegionContract"}}},"description":"Lists Regions operation response details."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type for API Management resource.","readOnly":true}},"description":"The Resource definition.","x-ms-azure-resource":true}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},"IfMatchOptionalParameter":{"name":"If-Match","in":"header","description":"ETag of the Entity. Not required when creating an entity, but required when updating an entity.","schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"IfMatchRequiredParameter":{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"PolicyIdParameter":{"name":"policyId","in":"path","description":"The identifier of the Policy.","required":true,"schema":{"type":"string","enum":["policy"],"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},"x-ms-enum":{"modelAsString":true,"name":"PolicyIdName"},"x-ms-parameter-location":"method"},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"ServiceNameParameter":{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"SkipQueryParameter":{"name":"$skip","in":"query","description":"Number of records to skip.","schema":{"minimum":0,"type":"integer","format":"int32","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"TopQueryParameter":{"name":"$top","in":"query","description":"Number of records to return.","schema":{"minimum":1,"type":"integer","format":"int32","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow.","flows":{"implicit":{"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","scopes":{"user_impersonation":"impersonate your user account"}}}}}},"x-original-swagger-version":"2.0"}