{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Dweet.io allows users to share data from mobile, tablets, and pcs, and them to other devices and accounts across social media platforms. Dweet.io provides an API to access the different functionality of the Dweet.io service. Users can make REST calls to read and create dweets, lock and unlock things, and perform other calls. The API returns JSON and JSONP.",
    "title": "dweet.io",
    "version": "2.0",
    "x-apisguru-categories": [
      "iot"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/dweet.io/2.0/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_dweet_io_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "https://dweet.io/play/definition",
        "version": "1.2"
      }
    ],
    "x-providerName": "dweet.io"
  },
  "servers": [
    {
      "url": "https://dweet.io/"
    }
  ],
  "paths": {
    "/alert/{who}/when/{thing}/{condition}": {
      "get": {
        "parameters": [
          {
            "description": "A comma separated list of Email addresses to send the alert to.",
            "in": "path",
            "name": "who",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unique name of a thing. It is recommended that you use a GUID as to avoid name collisions.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A condition that returns a string or a true value if a condition is met.",
            "in": "path",
            "name": "condition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "alerts"
        ],
        "description": "Create an alert for a thing. A thing must be locked before an alert can be set.",
        "operationId": "createAlertGET",
        "summary": "Create an alert for a thing. A thing must be locked before an alert can be set."
      }
    },
    "/dweet/for/{thing}": {
      "post": {
        "parameters": [
          {
            "description": "A unique name of a thing. It is recommended that you use a GUID as to avoid name collisions.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "dweets"
        ],
        "description": "Create a dweet for a thing.",
        "operationId": "post-dweet-for-by-thing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The actual content of the string. Can be any valid JSON string.",
          "required": true
        },
        "summary": "Create a dweet for a thing."
      }
    },
    "/dweet/quietly/for/{thing}": {
      "post": {
        "parameters": [
          {
            "description": "A unique name of a thing. It is recommended that you use a GUID as to avoid name collisions.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "dweets"
        ],
        "description": "Create a dweet for a thing.  This method differs from /dweet/for/{thing} only in that successful dweets result in an HTTP 204 response rather than the typical verbose response.",
        "operationId": "post-dweet-quietly-for-by-thing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The actual content of the string. Can be any valid JSON string.",
          "required": true
        },
        "summary": "Create a dweet for a thing.  This method differs from /dweet/for/{thing} only in that successful dweets result in an HTTP 204 response rather than the typical verbose response."
      }
    },
    "/get/alert/for/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "alerts"
        ],
        "description": "Get the alert attached to a thing.",
        "operationId": "getAlert",
        "summary": "Get the alert attached to a thing."
      }
    },
    "/get/dweets/for/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "dweets"
        ],
        "description": "Read the last 5 cached dweets for a thing.",
        "operationId": "get-get-dweets-for-by-thing",
        "summary": "Read the last 5 cached dweets for a thing."
      }
    },
    "/get/latest/dweet/for/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "dweets"
        ],
        "description": "Read the latest dweet for a thing.",
        "operationId": "getLatestDweet",
        "summary": "Read the latest dweet for a thing."
      }
    },
    "/get/stored/alerts/for/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The calendar date (YYYY-MM-DD) from which you'd like to start your query.  The response will be a maximum of one day.",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The hour of the day represented in the date parameter in 24-hour (00-23) format.  If this parameter is included, a maximum of 1 hour will be returned starting at this hour.",
            "in": "query",
            "name": "hour",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Current valid parameters for this are 'csv' and 'json'.  If this parameter is left blank, all responses default to hapi-json dweet-speak.",
            "in": "query",
            "name": "responseType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "storage"
        ],
        "description": "Read all the saved alerts for a thing from long term storage.  You can query a maximum of 1 day per request and a granularly of 1 hour.",
        "operationId": "getStoredAlerts",
        "summary": "Read all the saved alerts for a thing from long term storage.  You can query a maximum of 1 day per request and a granularly of 1 hour."
      }
    },
    "/get/stored/dweets/for/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The calendar date (YYYY-MM-DD) from which you'd like to start your query.  The response will be a maximum of one day.",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The hour of the day represented in the date parameter in 24-hour (00-23) format.  If this parameter is included, a maximum of 1 hour will be returned starting at this hour.",
            "in": "query",
            "name": "hour",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Current valid parameters for this are 'csv' and 'json'.  If this parameter is left blank, all responses default to hapi-json dweet-speak.",
            "in": "query",
            "name": "responseType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "storage"
        ],
        "description": "Read all the saved dweets for a thing from long term storage.  You can query a maximum of 1 day per request and a granularly of 1 hour.",
        "operationId": "get-get-stored-dweets-for-by-thing",
        "summary": "Read all the saved dweets for a thing from long term storage.  You can query a maximum of 1 day per request and a granularly of 1 hour."
      }
    },
    "/listen/for/dweets/from/{thing}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "dweets"
        ],
        "description": "Sorry, this function uses HTTP chunked responses and cannot be tested here. Try something like: <pre>curl --raw https://dweet.io/listen/for/dweets/from/{thing}</pre>",
        "operationId": "listenForDweets",
        "summary": "Listen for dweets from a thing."
      }
    },
    "/lock/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid dweet.io lock.",
            "in": "query",
            "name": "lock",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid dweet.io master key.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "locks"
        ],
        "description": "Reserve and lock a thing.",
        "operationId": "lockThing",
        "summary": "Reserve and lock a thing."
      }
    },
    "/remove/alert/for/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid key for a locked thing. If the thing is not locked, this can be ignored.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "alerts"
        ],
        "description": "Remove an alert for a thing.",
        "operationId": "removeAlert",
        "summary": "Remove an alert for a thing."
      }
    },
    "/remove/lock/{lock}": {
      "get": {
        "parameters": [
          {
            "description": "A valid dweet.io lock.",
            "in": "path",
            "name": "lock",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid dweet.io master key.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "locks"
        ],
        "description": "Remove a lock from thing.",
        "operationId": "removeLock",
        "summary": "Remove a lock from thing."
      }
    },
    "/unlock/{thing}": {
      "get": {
        "parameters": [
          {
            "description": "A unique name of a thing.",
            "in": "path",
            "name": "thing",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A valid dweet.io master key.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "locks"
        ],
        "description": "Unlock a thing.",
        "operationId": "unlockThing",
        "summary": "Unlock a thing."
      }
    }
  },
  "components": {
    "requestBodies": {
      "post-dweet-for-by-thingContent": {
        "content": {
          "application/json": {
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "The actual content of the string. Can be any valid JSON string.",
        "required": true
      }
    }
  },
  "tags": [
    {
      "description": "Alerts for things.",
      "name": "alerts"
    },
    {
      "description": "Create or read dweets in short term cache.",
      "name": "dweets"
    },
    {
      "description": "Lock and unlock your things.",
      "name": "locks"
    },
    {
      "description": "Read dweets from long term storage.",
      "name": "storage"
    }
  ]
}