{
  "openapi": "3.0.3",
  "info": {
    "title": "AbuseIPDB API",
    "version": "2.0.0",
    "description": "API for checking and reporting IP addresses for abusive behavior. Provides IP reputation data, abuse reports, blacklists, and network-level checks.",
    "x-jentic-source-url": "https://docs.abuseipdb.com"
  },
  "servers": [
    {
      "url": "https://api.abuseipdb.com/api/v2"
    }
  ],
  "paths": {
    "/check": {
      "get": {
        "operationId": "checkIpAddress",
        "summary": "Check an IP address for abuse reports",
        "tags": [
          "Check"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "IPv4 or IPv6 address to check",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAgeInDays",
            "in": "query",
            "description": "Maximum age of reports to return (1-365, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            }
          },
          {
            "name": "verbose",
            "in": "query",
            "description": "Include verbose report data including individual reports",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - invalid IP address or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "operationId": "getReports",
        "summary": "Get abuse reports for an IP address",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "IPv4 or IPv6 address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAgeInDays",
            "in": "query",
            "description": "Maximum age of reports (1-365, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Results per page (1-100, default 25)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated reports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/blacklist": {
      "get": {
        "operationId": "getBlacklist",
        "summary": "Get list of most reported IP addresses",
        "tags": [
          "Blacklist"
        ],
        "parameters": [
          {
            "name": "confidenceMinimum",
            "in": "query",
            "description": "Minimum confidence score (25-100, default 100)",
            "schema": {
              "type": "integer",
              "minimum": 25,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default 10000)",
            "schema": {
              "type": "integer",
              "default": 10000
            }
          },
          {
            "name": "plaintext",
            "in": "query",
            "description": "Return plain text list instead of JSON",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "onlyCountries",
            "in": "query",
            "description": "Comma-separated ISO 3166 country codes to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exceptCountries",
            "in": "query",
            "description": "Comma-separated ISO 3166 country codes to exclude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipVersion",
            "in": "query",
            "description": "Filter by IP version (4 or 6)",
            "schema": {
              "type": "integer",
              "enum": [
                4,
                6
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blacklisted IPs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/report": {
      "post": {
        "operationId": "reportIpAddress",
        "summary": "Report an abusive IP address",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ReportInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check-block": {
      "get": {
        "operationId": "checkNetworkBlock",
        "summary": "Check a CIDR network block for abuse reports",
        "tags": [
          "Check"
        ],
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": true,
            "description": "CIDR notation subnet (e.g. 207.126.144.0/20)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAgeInDays",
            "in": "query",
            "description": "Maximum age of reports (1-365, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network block check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckBlockResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk-report": {
      "post": {
        "operationId": "bulkReport",
        "summary": "Submit bulk IP abuse reports via CSV",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "csv": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing abuse reports"
                  }
                },
                "required": [
                  "csv"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk report result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clear-address": {
      "delete": {
        "operationId": "clearAddress",
        "summary": "Remove your own reports for an IP address",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "IP address to clear reports for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reports cleared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CheckResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "ipAddress": {
                "type": "string"
              },
              "isPublic": {
                "type": "boolean"
              },
              "ipVersion": {
                "type": "integer"
              },
              "isWhitelisted": {
                "type": "boolean"
              },
              "abuseConfidenceScore": {
                "type": "integer"
              },
              "countryCode": {
                "type": "string"
              },
              "usageType": {
                "type": "string"
              },
              "isp": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              },
              "hostnames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "totalReports": {
                "type": "integer"
              },
              "numDistinctUsers": {
                "type": "integer"
              },
              "lastReportedAt": {
                "type": "string",
                "format": "date-time"
              },
              "reports": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "reportedAt": {
            "type": "string",
            "format": "date-time"
          },
          "comment": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "reporterId": {
            "type": "integer"
          },
          "reporterCountryCode": {
            "type": "string"
          },
          "reporterCountryName": {
            "type": "string"
          }
        }
      },
      "ReportsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "lastPage": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      },
      "BlacklistResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ipAddress": {
                  "type": "string"
                },
                "abuseConfidenceScore": {
                  "type": "integer"
                },
                "lastReportedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "ReportInput": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address to report"
          },
          "categories": {
            "type": "string",
            "description": "Comma-separated abuse category IDs"
          },
          "comment": {
            "type": "string",
            "description": "Description of the abuse"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the abuse event"
          }
        },
        "required": [
          "ip",
          "categories"
        ]
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "ipAddress": {
                "type": "string"
              },
              "abuseConfidenceScore": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CheckBlockResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "networkAddress": {
                "type": "string"
              },
              "netmask": {
                "type": "string"
              },
              "minAddress": {
                "type": "string"
              },
              "maxAddress": {
                "type": "string"
              },
              "numPossibleHosts": {
                "type": "integer"
              },
              "addressSpaceDesc": {
                "type": "string"
              },
              "reportedAddress": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ipAddress": {
                      "type": "string"
                    },
                    "numReports": {
                      "type": "integer"
                    },
                    "mostRecentReport": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "abuseConfidenceScore": {
                      "type": "integer"
                    },
                    "countryCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BulkReportResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "savedReports": {
                "type": "integer"
              },
              "invalidReports": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "input": {
                      "type": "string"
                    },
                    "rowNumber": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ClearAddressResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "numReportsDeleted": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Key",
        "description": "AbuseIPDB API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}