{
  "openapi": "3.0.3",
  "info": {
    "title": "Genius Sports Data API",
    "version": "2.0.0",
    "description": "Genius Sports data API providing access to sports fixtures, live match state data, and real-time streaming via Ably. Supports multiple sports including American Football, Basketball, Football, and Tennis.",
    "x-jentic-source-url": "https://sportsdata.api.geniussports.com/docs/basic-usage",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://auth.api.geniussports.com",
      "description": "Authentication"
    },
    {
      "url": "https://platform.matchstate.api.geniussports.com",
      "description": "Match State API"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Obtain access token",
        "description": "Obtains access tokens using client credentials OAuth2 flow.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OIDC client ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sources/{source}/sports/{sportId}/fixtures/{fixtureId}/liveaccess/matchstate/enhanced": {
      "get": {
        "operationId": "getLiveMatchState",
        "summary": "Get live match state and Ably access metadata",
        "description": "Retrieves metadata and access tokens for Ably real-time connections for a specific fixture.",
        "tags": [
          "Match State"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GeniusPremium",
                "GeniusLiveStats"
              ]
            },
            "description": "Data source"
          },
          {
            "name": "sportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                17,
                4,
                10,
                24
              ]
            },
            "description": "Sport ID (17=American Football, 4=Basketball, 10=Football, 24=Tennis)"
          },
          {
            "name": "fixtureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Match/fixture identifier"
          }
        ],
        "security": [
          {
            "bearerAuth": [],
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Match state data and Ably connection info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Match State"
    }
  ]
}
