{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Enterprise Admin Service API",
    "title": "Enterprise Admin Service API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/uday730/AdminService/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apim-enterpriseservicesandbx.azure-api.net/adminserviceAPI"
    }
  ],
  "paths": {
    "/CreateUser": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json;": {
                "schema": {
                  "$ref": "#/components/schemas/createUserResponse"
                }
              }
            },
            "description": "The OK response"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Create User"
        ],
        "description": "Run",
        "operationId": "Run",
        "requestBody": {
          "content": {
            "application/json;": {
              "schema": {
                "$ref": "#/components/schemas/createUserRequest"
              }
            }
          },
          "description": "New User Details",
          "required": true
        }
      }
    },
    "/GetCompanyById": {
      "get": {
        "parameters": [
          {
            "description": "User Object Id",
            "in": "query",
            "name": "CompanyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;": {
                "schema": {
                  "$ref": "#/components/schemas/getUserInfoResponse"
                }
              }
            },
            "description": "The OK response"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Get User Details"
        ],
        "description": "Run1",
        "operationId": "Run1"
      }
    },
    "/GetUserAuthorizations": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getUserAuthorizationResponse"
                }
              }
            },
            "description": "The OK response"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Get User Authorizations Details"
        ],
        "description": "Run2",
        "operationId": "Run2",
        "requestBody": {
          "content": {
            "application/json;": {
              "schema": {
                "$ref": "#/components/schemas/getUserAuthenticationRequest"
              }
            }
          },
          "description": "User Details",
          "required": true
        }
      }
    },
    "/GetUserByObjectId": {
      "get": {
        "parameters": [
          {
            "description": "User Object Id",
            "in": "query",
            "name": "ObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;": {
                "schema": {
                  "$ref": "#/components/schemas/getUserInfoResponse"
                }
              }
            },
            "description": "The OK response"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Get User Details"
        ],
        "description": "Run4",
        "operationId": "Run4"
      }
    },
    "/GetUsersByCompanyId": {
      "get": {
        "parameters": [
          {
            "description": "User Company Id",
            "in": "query",
            "name": "CompanyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response"
          }
        },
        "tags": [
          "Get User Details"
        ],
        "description": "Run3",
        "operationId": "Run3"
      }
    }
  },
  "components": {
    "schemas": {
      "companyModel": {
        "properties": {
          "companyType": {
            "$ref": "#/components/schemas/companyTypeModel"
          },
          "companyTypeId": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "platforms": {
            "items": {
              "$ref": "#/components/schemas/companyPlatformModel"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "companyPlatformModel": {
        "properties": {
          "description": {
            "type": "string"
          },
          "platform": {
            "$ref": "#/components/schemas/platformModel"
          },
          "usesEnterpriseCompanyId": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "companyTypeModel": {
        "properties": {
          "companyTypeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "component": {
        "properties": {
          "componentID": {
            "type": "string"
          },
          "componentName": {
            "type": "string"
          },
          "componentScopes": {
            "items": {
              "$ref": "#/components/schemas/componentscope"
            },
            "type": "array"
          },
          "componentType": {
            "type": "string"
          },
          "permissionID": {
            "type": "string"
          },
          "permissionName": {
            "type": "string"
          },
          "platformID": {
            "type": "string"
          },
          "platformName": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "componentscope": {
        "properties": {
          "scopeID": {
            "type": "string"
          },
          "scopeName": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "createUserRequest": {
        "properties": {
          "companyId": {
            "format": "int32",
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "createUserResponse": {
        "properties": {
          "companyId": {
            "format": "int32",
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "tempPassword": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "getUserAuthenticationRequest": {
        "properties": {
          "platformId": {
            "format": "int32",
            "type": "integer"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "getUserAuthorizationModel": {
        "properties": {
          "navigationItems": {
            "items": {
              "$ref": "#/components/schemas/navigationItem"
            },
            "type": "array"
          },
          "roles": {
            "items": {
              "$ref": "#/components/schemas/role"
            },
            "type": "array"
          },
          "userID": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "getUserAuthorizationResponse": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/getUserAuthorizationModel"
          },
          "status": {
            "default": 101,
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "getUserInfoResponse": {
        "properties": {
          "company": {
            "$ref": "#/components/schemas/companyModel"
          },
          "companyId": {
            "format": "int32",
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "navigationItem": {
        "properties": {
          "componentDescription": {
            "type": "string"
          },
          "componentId": {
            "type": "string"
          },
          "componentName": {
            "type": "string"
          },
          "componentType": {
            "type": "string"
          },
          "displayOrder": {
            "format": "int32",
            "type": "integer"
          },
          "iconImage": {
            "type": "string"
          },
          "menuHint": {
            "type": "string"
          },
          "navigationType": {
            "type": "string"
          },
          "parentComponentId": {
            "format": "int32",
            "type": "integer"
          },
          "platformID": {
            "type": "string"
          },
          "route": {
            "type": "string"
          },
          "routeName": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "platformModel": {
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "role": {
        "properties": {
          "components": {
            "items": {
              "$ref": "#/components/schemas/component"
            },
            "type": "array"
          },
          "roleID": {
            "type": "string"
          },
          "roleName": {
            "type": "string"
          },
          "roleScopes": {
            "items": {
              "$ref": "#/components/schemas/roleScope"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "roleScope": {
        "properties": {
          "roleScopeID": {
            "type": "string"
          },
          "roleScopeName": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/authorize",
            "scopes": {
              "https://zelisdevb2c.onmicrosoft.com/4fcfad86-3860-4c07-92fc-415d749d51ef/demo.read": "demo.read"
            },
            "tokenUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "Create User"
    },
    {
      "name": "Get User Authorizations Details"
    },
    {
      "name": "Get User Details"
    }
  ]
}