{
  "openapi": "3.0.3",
  "info": {
    "title": "Smile API",
    "version": "1.14.0",
    "description": "The Smile API provides employment and income data from a single API. ",
    "contact": {
      "name": "Smile Technology Pte Ltd",
      "url": "https://www.getsmileapi.com",
      "email": "info@getsmileapi.com"
    },
    "termsOfService": "https://www.getsmileapi.com/terms-and-conditions",
    "x-jentic-source-url": "https://github.com/SmileAPI/smile-openapi/blob/main/openapi-v1.yaml"
  },
  "servers": [
    {
      "url": "https://sandbox.smileapi.io/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://open.smileapi.io/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/providers": {
      "get": {
        "summary": "List Providers",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "upwork",
                            "name": "Upwork",
                            "longName": "Upwork Global Inc.",
                            "logoUrl": "https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png",
                            "type": "GIG",
                            "typeLabel": "Gig Platform",
                            "subType": "SERVICES",
                            "subTypeLabel": "Professional Services",
                            "active": true,
                            "enabled": true,
                            "mfa": true,
                            "accountConnection": true,
                            "supported": [
                              "IDENTITIES"
                            ]
                          },
                          {
                            "id": "freelancer",
                            "name": "Freelancer",
                            "longName": "Freelancer Technology Pty Limited",
                            "logoUrl": "https://cdn.smileapi.io/image/provider-logo/v20210813064500/freelancer.png",
                            "type": "GIG",
                            "typeLabel": "Gig Platform",
                            "subType": "SERVICES",
                            "subTypeLabel": "Professional Services",
                            "active": true,
                            "enabled": true,
                            "mfa": true,
                            "accountConnection": true,
                            "supported": [
                              "IDENTITIES"
                            ]
                          },
                          {
                            "id": "grab",
                            "name": "Grab",
                            "longName": "Grab Holdings Inc",
                            "logoUrl": "https://cdn.smileapi.io/image/provider-logo/v20210813064500/freelancer.png",
                            "type": "GIG",
                            "typeLabel": "Gig Platform",
                            "subType": "TRANSPORTATION",
                            "subTypeLabel": "Transport and Delivery",
                            "active": true,
                            "enabled": true,
                            "mfa": true,
                            "accountConnection": true,
                            "supported": [
                              "IDENTITIES"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-providers",
        "description": "Get a list of employment data providers from the Smile Network.",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "type",
            "description": "Filter results to certain type of providers."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "subType",
            "description": "Filter results to certain subset of a certain subtype of providers"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "active",
            "description": "Filter results to active or inactive providers."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "enabled",
            "description": "Filter results to enabled or disabled providers."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "accountConnection",
            "description": "Filter results to providers with real-time account connections."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter results by provider name"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "ids",
            "description": "Filter results by provider ids, each id will be matched exactly, please following this format 'ids=id1,id2,id3'."
          },
          {
            "schema": {
              "type": "array",
              "maxItems": 10,
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "topIds",
            "description": "Show these providers on the top of the list, please following this format 'ids=id1,id2,id3'."
          }
        ]
      },
      "parameters": []
    },
    "/providers/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Provider",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "upwork",
                        "name": "Upwork",
                        "longName": "Upwork Global Inc.",
                        "logoUrl": "https://cdn.smileapi.io/image/provider-logo/v20210813064500/upwork.png",
                        "type": "GIG",
                        "typeLabel": "Gig Platform",
                        "subType": "SERVICES",
                        "subTypeLabel": "Professional Services",
                        "active": true,
                        "enabled": true,
                        "mfa": true,
                        "accountConnection": true,
                        "supported": [
                          "IDENTITIES",
                          "TRANSACTIONS"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "get-provider",
        "description": "Get a data provider from the Smile Network.",
        "parameters": []
      }
    },
    "/users": {
      "get": {
        "summary": "List Users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "tenant-17bbf36498de4d68a0d4f86c7b62f69f",
                            "externalMetadata": {
                              "property1": "string",
                              "property2": "string"
                            },
                            "createdAt": "2021-04-14T09:30:24Z",
                            "session": {
                              "channel": "Default",
                              "channelId": null,
                              "userId": "tenantId-123abc456def789abc123def456abc78",
                              "status": "IN_PROGRESS"
                            }
                          },
                          {
                            "id": "tenant-17bbf36498de4d68a0d4f86c7b62f69f",
                            "externalMetadata": {
                              "property1": "string",
                              "property2": "string"
                            },
                            "createdAt": "2021-04-14T09:30:24Z",
                            "session": {
                              "channel": "Default",
                              "channelId": null,
                              "userId": "tenantId-123abc456def789abc123def456abc78",
                              "status": "IN_PROGRESS"
                            }
                          },
                          {
                            "id": "tenant-17bbf36498de4d68a0d4f86c7b62f69f",
                            "externalMetadata": {
                              "property1": "string",
                              "property2": "string"
                            },
                            "createdAt": "2021-04-14T09:30:24Z",
                            "session": {
                              "channel": "Default",
                              "channelId": null,
                              "userId": "tenantId-123abc456def789abc123def456abc78",
                              "status": "IN_PROGRESS"
                            }
                          },
                          {
                            "id": "tenant-17bbf36498de4d68a0d4f86c7b62f69f",
                            "externalMetadata": {
                              "key1": "value",
                              "key2": "value"
                            },
                            "createdAt": "2021-04-14T09:30:24Z",
                            "session": {
                              "channel": "WinkSite",
                              "channelId": "site-123abc456def789abc123def456abc78",
                              "userId": "tenantId-123abc456def789abc123def456abc78",
                              "status": "COMPLETED"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-users",
        "description": "List users from the Smile Network.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-01"
            },
            "in": "query",
            "name": "startDate",
            "description": "Filter by user creation date, start of date range (YYYY-MM-DD)"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-21"
            },
            "in": "query",
            "name": "endDate",
            "description": "Filter by user creation date, end of date range (YYYY-MM-DD)"
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create User",
        "operationId": "create-user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPostRequest"
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPostResponse"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "default": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "description": "Create a user in the Smile Network.",
        "tags": [
          "Users"
        ]
      }
    },
    "/users/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get User",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "tenant-17bbf36498de4d68a0d4f86c7b62f69f",
                        "externalMetadata": {
                          "property1": "string",
                          "property2": "string"
                        },
                        "createdAt": "2021-04-14T09:30:24Z",
                        "session": {
                          "channel": "WinkSite",
                          "channelId": "site-123abc456def789abc123def456abc78",
                          "userId": "tenantId-123abc456def789abc123def456abc78",
                          "status": "COMPLETED"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "get-user",
        "description": "Get a particular user profile.",
        "parameters": []
      }
    },
    "/users/{id}/payload": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Session Payload",
        "description": "Retrieve the payload data for a specific user session",
        "operationId": "get-user-session-payload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The user ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tenant-123abc456def789abc123def456abc78"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User session payload retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPayloadGetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        }
      }
    },
    "/users/{id}/resetSession": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Reset User Session",
        "description": "Clean the payload data for a specific user session",
        "operationId": "reset-user-session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The user ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tenant-123abc456def789abc123def456abc78"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User session payload reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tokens": {
      "post": {
        "summary": "Refresh Token",
        "operationId": "create-token",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPostResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "expiresAt": "2021-04-14T09:30:24Z",
                        "mode": "SANDBOX",
                        "accessToken": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "description": "Refresh a token for a user",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "in": "query",
            "name": "userId",
            "required": true,
            "description": "the user whom to create token for."
          }
        ]
      }
    },
    "/consentTemplates": {
      "post": {
        "description": "Create a consent template",
        "operationId": "create-consent-template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentTemplateCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplateCreateResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "summary": "Create Consent Template",
        "tags": [
          "Consent Templates"
        ],
        "x-contentType": "application/json",
        "x-accepts": "application/json"
      },
      "get": {
        "description": "List consent templates",
        "operationId": "list-consent-templates",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplateListResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "summary": "List Consent Templates",
        "tags": [
          "Consent Templates"
        ],
        "x-accepts": "application/json"
      }
    },
    "/consentTemplates/{id}": {
      "delete": {
        "summary": "Delete Consent Template",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "delete-consent-template",
        "description": "Delete a consent template",
        "tags": [
          "Consent Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                            "createdAt": "2021-04-14T09:30:24Z",
                            "name": "Event Notification Postback",
                            "url": "https://webhook.clienturl.xyz",
                            "eventTypes": [
                              "ACCOUNT_CONNECTED"
                            ],
                            "active": true,
                            "secret": "a little secret",
                            "updatedAt": "2021-04-14T09:30:24Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-webhooks",
        "description": "List all webhook endpoints.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create Webhook",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookPostResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "createdAt": "2021-04-14T09:30:24Z",
                        "name": "Event Notification Postback",
                        "url": "https://webhook.clienturl.xyz",
                        "eventTypes": [
                          "ACCOUNT_CONNECTED"
                        ],
                        "secret": "a little secret",
                        "active": true,
                        "updatedAt": "2021-04-14T09:30:24Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "create-webhook",
        "description": "Create a webhook endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPostRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "Event Notification Postback",
                    "url": "https://webhook.clienturl.xyz",
                    "eventTypes": [
                      "ACCOUNT_CONNECTED",
                      "IDENTITY_ADDED"
                    ],
                    "active": true,
                    "secret": "a little secret"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/webhooks/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "createdAt": "2021-04-14T09:30:24Z",
                        "name": "Event Notification Postback",
                        "url": "https://webhook.clienturl.xyz",
                        "eventTypes": [
                          "ACCOUNT_CONNECTED"
                        ],
                        "active": true,
                        "secret": "a little secret",
                        "updatedAt": "2021-04-14T09:30:24Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "get-webhook",
        "description": "Get a webhook endpoint."
      },
      "delete": {
        "summary": "Delete Webhook",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "delete-webhook",
        "description": "Delete a webhook endpoint.",
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/tasks": {
      "get": {
        "summary": "List Tasks",
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "task-a2e3ad1afa54ee818678e3494eb5ca30",
                            "type": "LINK_ACCOUNT",
                            "startedAt": "2023-04-14T09:31:24Z",
                            "finishedAt": "2023-04-14T09:33:21Z",
                            "status": "Finished",
                            "datapoints": [
                              "IDENTITIES",
                              "DOCUMENTS",
                              "EINCOMES",
                              "INCOMES"
                            ],
                            "metadata": {
                              "createdAt": "2021-04-14T09:30:24Z",
                              "sourceId": "a-17bbf36498de4d68a0d4f86c7b62f69f",
                              "sourceType": "ACCOUNT",
                              "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                              "providerId": "upwork"
                            }
                          },
                          {
                            "id": "task-a2e3ad18678e3494eb5ca301afa54ee8",
                            "type": "LINK_ACCOUNT",
                            "startedAt": "2023-04-14T09:31:24Z",
                            "finishedAt": null,
                            "status": "Started",
                            "datapoints": [],
                            "metadata": {
                              "createdAt": "2021-04-14T09:30:24Z",
                              "sourceId": "a-17bbf36498de4d68a0d4f86c7b62f69f",
                              "sourceType": "ACCOUNT",
                              "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                              "providerId": "upwork"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "list-tasks",
        "description": "Get the user's tasks.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-01"
            },
            "in": "query",
            "name": "startDate",
            "description": "Filter by task created date, start of date range (YYYY-MM-DD)"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-21"
            },
            "in": "query",
            "name": "endDate",
            "description": "Filter by task created date, end of date range (YYYY-MM-DD)"
          },
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ]
      }
    },
    "/tasks/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Task",
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "task-a2e3ad1afa54ee818678e3494eb5ca30",
                        "type": "LINK_ACCOUNT",
                        "startedAt": "2023-04-14T09:31:24Z",
                        "finishedAt": "2023-04-14T09:33:21Z",
                        "status": "Finished",
                        "datapoints": [
                          "IDENTITIES",
                          "DOCUMENTS",
                          "EINCOMES",
                          "LINK",
                          "INSIGHT"
                        ],
                        "metadata": {
                          "createdAt": "2021-04-14T09:30:24Z",
                          "sourceId": "a-17bbf36498de4d68a0d4f86c7b62f69f",
                          "sourceType": "ACCOUNT",
                          "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                          "providerId": "upwork"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-task",
        "description": "Get a user's task by ID."
      }
    },
    "/accounts": {
      "get": {
        "summary": "List Accounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "a-17bbf36498de4d68a0d4f86c7b62f69f",
                            "createdAt": "2021-04-14T09:30:24Z",
                            "providerId": "grab",
                            "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                            "connectionStatus": "ERROR",
                            "connection": {
                              "status": "ERROR",
                              "errorCode": "ACCOUNT_DISABLED",
                              "errorMessage": "Account is disabled",
                              "updatedAt": "2021-04-14T09:30:24Z"
                            },
                            "monitorStatus": "UNSUPPORTED",
                            "monitor": {
                              "status": "UNSUPPORTED",
                              "updatedAt": null
                            }
                          },
                          {
                            "id": "a-7fa7e260ad724f39b61427f6ac2edc69",
                            "createdAt": "2021-04-15T09:30:24Z",
                            "providerId": "freelancer",
                            "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                            "connectionStatus": "CONNECTED",
                            "connection": {
                              "status": "CONNECTED",
                              "errorCode": null,
                              "errorMessage": null,
                              "updatedAt": "2021-04-18T09:30:24Z"
                            },
                            "monitorStatus": "ACTIVE",
                            "monitor": {
                              "stust": "ACTIVE",
                              "updatedAt": "2023-03-14T09:30:24Z"
                            }
                          },
                          {
                            "id": "a-79da958ecb2143659747deaebca1cfe0",
                            "createdAt": "2021-04-17T09:30:24Z",
                            "providerId": "upwork",
                            "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                            "connectionStatus": "CONNECTED",
                            "connection": {
                              "status": "CONNECTED",
                              "errorCode": null,
                              "errorMessage": null,
                              "updatedAt": "2021-04-19T09:30:24Z"
                            },
                            "monitorStatus": "ACTIVE",
                            "monitor": {
                              "status": "ACTIVE",
                              "updatedAt": null
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-accounts",
        "description": "Get a list of user accounts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-01"
            },
            "in": "query",
            "name": "startDate",
            "description": "Filter by account linking date, start of date range (YYYY-MM-DD)"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-21"
            },
            "in": "query",
            "name": "endDate",
            "description": "Filter by account linking date, end of date range (YYYY-MM-DD)"
          }
        ]
      },
      "parameters": []
    },
    "/accounts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Account",
        "tags": [
          "Accounts"
        ],
        "operationId": "get-account",
        "description": "Get a user's particular account information.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "a-17bbf36498de4d68a0d4f86c7b62f69f",
                        "createdAt": "2021-04-14T09:30:24Z",
                        "providerId": "grab",
                        "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                        "connectionStatus": "ERROR",
                        "connection": {
                          "status": "ERROR",
                          "errorCode": "ACCOUNT_DISABLED",
                          "errorMessage": "Account is disabled",
                          "updatedAt": "2021-04-14T09:30:24Z"
                        },
                        "monitorStatus": "ACTIVE",
                        "monitor": {
                          "status": "ACTIVE",
                          "updatedAt": "2021-04-14T09:30:24Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "Revoke Account",
        "tags": [
          "Accounts"
        ],
        "operationId": "delete-account",
        "description": "Delete a user's particular account information including the related data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "parameters": []
      }
    },
    "/accounts/{id}/payload": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Account Payload",
        "tags": [
          "Accounts"
        ],
        "operationId": "get-account-payload",
        "description": "Get a user's particular account payload.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPayloadGetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "parameters": []
      }
    },
    "/accounts/{id}/exports/generate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "post": {
        "summary": "Generate account export",
        "tags": [
          "Accounts"
        ],
        "operationId": "generate-account-export",
        "description": "Generate a particular account export.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountExportGenerateRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "exportExtensionType": "PDF"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountExportGenerateResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "export-4d686c7b62f69fa0d4f817bbf36498de",
                        "createdAt": "2021-04-14T09:30:24Z",
                        "accountId": "a-17bbf36498de4d68a0d4f86c7b62f69f",
                        "exportExtensionType": "PDF",
                        "md5": "f8498de49d68a0d4bbf36f6c7b62f617",
                        "downloadUrl": "https://file.smileapi.io/tenants/xx/users/xx-2c4f00ad9b014466868b57b554e9391b/accounts/a-35aa43673f024b26bd699c713e885ddb/exports/export-4d686c7b62f69fa0d4f817bbf36498de.pdf"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "parameters": []
      }
    },
    "/accounts/{accountId}/disableMonitor": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "the particular account ID."
        }
      ],
      "post": {
        "summary": "Disable Monitor",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "disable-account-monitor",
        "description": "disable monitor account data."
      }
    },
    "/invites": {
      "get": {
        "summary": "List Invites",
        "tags": [
          "Invites"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                            "createdAt": "2021-04-14T09:30:24Z",
                            "fullName": "George Cimafranca Palomero, Jr",
                            "firstName": "George",
                            "lastName": "Palomero",
                            "email": "gpalomero1234@smileapi.io",
                            "templateId": "tpl-b2c5e816-65ad-4130-819d-db89acc5869a",
                            "winkTemplateId": "wtpl-db89acc5869a-b2c5e816-65ad-4130-819d",
                            "userId": "tenantId-b2c5e816-65ad-4130-819d-db89acc5869a",
                            "status": "INVITED",
                            "updatedAt": "2021-04-14T09:30:24Z",
                            "invitedAt": "2021-04-14T09:30:24Z",
                            "linkedAt": "2021-04-14T09:30:24Z",
                            "inviteLandingPageUrl": "https://user.getsmileapi.com/invite-user/xx-xxxxxx?token=xxxxxxxxx"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-invites",
        "description": "Get the list of invites sent out to users.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ]
      },
      "post": {
        "summary": "Create Invite",
        "operationId": "create-invite",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitePostResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "createdAt": "2021-04-14T09:30:24Z",
                        "fullName": "George Cimafranca Palomero, Jr",
                        "firstName": "George",
                        "lastName": "Palomero",
                        "email": "gpalomero1234@smileapi.io",
                        "templateId": "tpl-b2c5e816-65ad-4130-819d-db89acc5869a",
                        "winkTemplateId": "wtpl-db89acc5869a-b2c5e816-65ad-4130-819d",
                        "userId": "tenantId-b2c5e816-65ad-4130-819d-db89acc5869a",
                        "status": "INVITED",
                        "updatedAt": "2021-04-14T09:30:24Z",
                        "invitedAt": "2021-04-14T09:30:24Z",
                        "linkedAt": "2021-04-14T09:30:24Z",
                        "inviteLandingPageUrl": "https://user.getsmileapi.com/invite-user/xx-xxxxxx?token=xxxxxxxxx"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "description": "Create and send an invite to a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitePostRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "fullName": "Ryan Joseph Peterson Chua Ng",
                    "firstName": "Ryan",
                    "lastName": "Ng",
                    "email": "ryan1234@smileapi.io",
                    "templateId": "tpl-b2c5e81665ad4130819ddb89acc5869a",
                    "winkTemplateId": "wtpl-db89acc5869a-b2c5e816-65ad-4130-819d"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Invites"
        ]
      }
    },
    "/invites/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Invite",
        "tags": [
          "Invites"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "createdAt": "2021-04-14T09:30:24Z",
                        "fullName": "George Cimafranca Palomero, Jr",
                        "firstName": "George",
                        "lastName": "Palomero",
                        "email": "gpalomero1234@smileapi.io",
                        "templateId": "tpl-b2c5e816-65ad-4130-819d-db89acc5869a",
                        "winkTemplateId": "wtpl-db89acc5869a-b2c5e816-65ad-4130-819d",
                        "userId": "tenantId-b2c5e816-65ad-4130-819d-db89acc5869a",
                        "status": "INVITED",
                        "updatedAt": "2021-04-14T09:30:24Z",
                        "invitedAt": "2021-04-14T09:30:24Z",
                        "linkedAt": "2021-04-14T09:30:24Z",
                        "inviteLandingPageUrl": "https://user.getsmileapi.com/invite-user/xx-xxxxxx?token=xxxxxxxxx"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "get-invite",
        "description": "Get invite sent to users by ID."
      }
    },
    "/invites/{inviteId}/logs": {
      "parameters": [
        {
          "name": "inviteId",
          "in": "path",
          "schema": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": "ID of the specific invite in the collection.",
          "required": true
        }
      ],
      "get": {
        "summary": "List Invite Logs",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteLogListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": null,
                        "items": [
                          {
                            "id": "invl-b2c5e816-65ad-4130-819d-db89acc5869a",
                            "inviteId": "inv-b2c5e816-65ad-4130-819d-db89acc5869a",
                            "createdAt": "2021-04-14T09:30:24Z",
                            "inviteStatus": "INVITED",
                            "userId": "tenant-17bbf36498de4d68a0d4f86c7b62f69f"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-invite-log",
        "description": "List invite log."
      }
    },
    "/inviteTemplates": {
      "get": {
        "summary": "List Invite Templates",
        "tags": [
          "Invite Templates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteTemplateListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                            "name": "Email Template v1",
                            "company": {
                              "name": "XYZ Bank",
                              "logoUrl": "https://xyzbank.co/logo.png"
                            },
                            "email": {
                              "sendEmail": true,
                              "senderName": "XYZ Bank",
                              "replyAddress": "replies@xyz.co",
                              "subject": "Please connect your work account to share your data with us",
                              "body": "Hello ${firstName}! We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time."
                            },
                            "landingPage": {
                              "header": "Share your employment and income data with us at ${companyName}",
                              "description": "We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time.",
                              "button": "START NOW"
                            },
                            "successPage": {
                              "header": "Thank you for sharing your employment and income data with us at ${companyName}",
                              "description": "The process was successful! Please wait for us to get in touch!",
                              "button": "Connect another account"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-invite-templates",
        "description": "Get the list of invite templates.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ]
      },
      "post": {
        "summary": "Create Invite Template",
        "operationId": "create-invite-template",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteTemplatePostResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "name": "Email Template v1",
                        "company": {
                          "name": "XYZ Bank",
                          "logoUrl": "https://xyzbank.co/logo.png"
                        },
                        "email": {
                          "sendEmail": true,
                          "senderName": "XYZ Bank",
                          "replyAddress": "replies@xyz.co",
                          "subject": "Please connect your work account to share your data with us",
                          "body": "Hello ${firstName}! We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time."
                        },
                        "landingPage": {
                          "header": "Share your employment and income data with us at {$companyName}",
                          "description": "We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time.",
                          "button": "START NOW"
                        },
                        "successPage": {
                          "header": "Thank you for sharing your employment and income data with us at ${companyName}",
                          "description": "The process was successful! Please wait for us to get in touch!",
                          "button": "Connect another account"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "description": "Create an invite template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteTemplatePostRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "Email Template v1",
                    "company": {
                      "name": "XYZ Bank",
                      "logoUrl": "https://xyzbank.co/logo.png"
                    },
                    "email": {
                      "sendEmail": true,
                      "senderName": "XYZ Bank",
                      "replyAddress": "replies@xyz.co",
                      "subject": "Please connect your work account to share your data with us",
                      "body": "Hello {{firstName}}, We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time."
                    },
                    "landingPage": {
                      "header": "We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time.",
                      "description": "Share your employment and income data with us at {{company.name}}",
                      "button": "START NOW"
                    },
                    "successPage": {
                      "header": "The process was successful! Please wait for us to get in touch!",
                      "description": "Thank you for sharing your employment and income data with us at {{company.name}}",
                      "button": "Connect another account"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Invite Templates"
        ]
      }
    },
    "/inviteTemplates/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get Invite Template",
        "tags": [
          "Invite Templates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteTemplateGetResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "name": "Email Template v1",
                        "company": {
                          "name": "XYZ Bank",
                          "logoUrl": "https://xyzbank.co/logo.png"
                        },
                        "email": {
                          "sendEmail": true,
                          "senderName": "XYZ Bank",
                          "replyAddress": "replies@xyz.co",
                          "subject": "Please connect your work account to share your data with us",
                          "body": "Hello ${firstName}! We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time."
                        },
                        "landingPage": {
                          "header": "Share your employment and income data with us at ${companyName}",
                          "description": "We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time.",
                          "button": "START NOW"
                        },
                        "successPage": {
                          "header": "Thank you for sharing your employment and income data with us at ${companyName}",
                          "description": "The process was successful! Please wait for us to get in touch!",
                          "button": "Connect another account"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "get-invite-template",
        "description": "Get invite template."
      },
      "put": {
        "summary": "Update Invite Template",
        "operationId": "update-invite-template",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteTemplateUpdateResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "id": "17bbf36498de4d68a0d4f86c7b62f69f",
                        "name": "Email Template v1",
                        "company": {
                          "name": "XYZ Bank",
                          "logoUrl": "https://xyzbank.co/logo.png"
                        },
                        "email": {
                          "sendEmail": true,
                          "senderName": "XYZ Bank",
                          "replyAddress": "replies@xyz.co",
                          "subject": "Please connect your work account to share your data with us",
                          "body": "Hello {$firstName}! We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time."
                        },
                        "landingPage": {
                          "header": "Share your employment and income data with us at {$companyName}",
                          "description": "We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for giving you service. It will be a quick process and should take no more than a few seconds of your time.",
                          "button": "START NOW"
                        },
                        "successPage": {
                          "header": "Thank you for sharing your employment and income data with us at {$companyName}",
                          "description": "The process was successful! Please wait for us to get in touch!",
                          "button": "Connect another account"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "tags": [
          "Invite Templates"
        ],
        "description": "Update invite template.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteTemplateUpdateRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "Email Template v1",
                    "company": {
                      "name": "XYZ Bank",
                      "logoUrl": "https://xyzbank.co/logo.png"
                    },
                    "email": {
                      "sendEmail": true,
                      "senderName": "XYZ Bank",
                      "replyAddress": "replies@xyz.co",
                      "subject": "Please connect your work account to share your data with us",
                      "body": "Hello {{firstName}}, We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for granting you a loan. It will be a quick process and should take no more than a few minutes of your time."
                    },
                    "landingPage": {
                      "header": "We are working with our partner, Smile API, so you can easily share your employment and income data to us as a requirement for granting you a loan. It will be a quick process and should take no more than a few minutes of your time.",
                      "description": "Share your employment and income data with us at {{company.name}}",
                      "button": "START NOW"
                    },
                    "successPage": {
                      "header": "The process was successful! Please wait for us to get in touch!",
                      "description": "Thank you for sharing your employment and income data with us at {{company.name}}",
                      "button": "Connect another account"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "delete": {
        "summary": "Delete Invite Template",
        "operationId": "delete-invite-template",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteTemplateDeleteResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "tags": [
          "Invite Templates"
        ],
        "description": "Delete invite template."
      }
    },
    "/archives": {
      "get": {
        "summary": "List Archives",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveListResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "code": "OK",
                      "message": "Success",
                      "requestId": "5b79399a-6852-4234-bb0e-ad472648282d",
                      "data": {
                        "nextCursor": "1259723474",
                        "items": [
                          {
                            "id": "u-17bbf36498de4d68a0d4f86c7b62f69f",
                            "createdAt": "2021-04-14T09:30:24Z",
                            "providerId": "user-provided",
                            "userId": "tenant-5c1a2e8678e3494eba303ad1afa54ee8",
                            "type": "SOCIAL_SECURITY",
                            "state": {
                              "status": "STARTED",
                              "errorCode": null,
                              "errorMessage": null,
                              "updatedAt": "2021-04-14T09:30:24Z"
                            },
                            "rawFiles": [
                              {
                                "id": "f-17bbf36498de4d68a0d4f86c7b62f69f",
                                "createdAt": "2021-04-14T09:30:24Z",
                                "name": "Screen Shot 2021-04-14 at 5.30.24 PM",
                                "subType": "PERSONAL_INFORMATION",
                                "size": 3048,
                                "format": "PNG",
                                "url": "https://file.smileapi.io/tenants/smileapi/users/smileapi-17bbf36498de4d68a0d4f86c7b62f69f/files/file-17bbf36498de4d68a0d4f86c7b62f69f.jpeg"
                              }
                            ],
                            "classification": null,
                            "analysis": null
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "401": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "403": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "404": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "415": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "429": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "500": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "501": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "503": {
            "$ref": "#/components/responses/Standard-Errors"
          },
          "504": {
            "$ref": "#/components/responses/Standard-Errors"
          }
        },
        "operationId": "list-archives",
        "description": "Get the user's archives.",
        "parameters": [
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/FileTypeId"
            },
            "in": "query",
            "name": "fileType",
            "description": "Filter by archive date, start of date range (YYYY-MM-DD)"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-01"
            },
            "in": "query",
            "name": "startDate",
            "description": "Filter by archive date, start of date range (YYYY-MM-DD)"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-04-21"
            },
            "in": "query",
            "name": "endDate",
            "description": "Filter by archive date, end of date range (YYYY-MM-DD)"
          }
        ],
        "tags": [
          "Archives"
        ]
      },
      "post": {
        "summary": "Create Archive",
        "description": "Create an archive.",
        "operationId": "create-archive",
        "tags": [
          "Archives"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
