{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "info@kedlin.com",
      "name": "Call Control",
      "url": "https://www.callcontrol.com/documentation"
    },
    "description": "API for blocking phone calls with Call Control. Data is from crowdsourced community blacklist from 12+ million users and government agencies (FTC, FCC, IRS).",
    "title": "Call Control API",
    "version": "2015-11-01",
    "x-jentic-source-url": "https://www.callcontrol.com/js/swagger/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.callcontrol.com/"
    }
  ],
  "paths": {
    "/api/2015-11-01/Complaints/{phoneNumber}": {
      "get": {
        "parameters": [
          {
            "description": "phone number to search",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Complaints"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Complaints"
        ],
        "description": "Complaints: Free service providing community and government complaint lookup by phone number.",
        "operationId": "Complaints_Complaints",
        "summary": "Complaints: Free service providing community and government complaint lookup by phone number."
      }
    },
    "/api/2015-11-01/Enterprise/GetUser/{phoneNumber}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CallControlUser"
                }
              }
            },
            "description": "User Object"
          },
          "400": {
            "description": "Bad request (invalid phone number)"
          }
        },
        "tags": [
          "EnterpriseApi"
        ],
        "description": "Enterprise GET: GetUser - Returns current information from the user.",
        "operationId": "EnterpriseApi_GetUser",
        "summary": "Enterprise GET: GetUser - Returns current information from the user."
      }
    },
    "/api/2015-11-01/Enterprise/ShouldBlock/{phoneNumber}/{userPhoneNumber}": {
      "get": {
        "parameters": [
          {
            "description": "phone number to search",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "phone number of user to look up block rules",
            "in": "path",
            "name": "userPhoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "enum": [
                    "allow",
                    "voiceMail",
                    "block"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "true(block) false (no block)"
          },
          "400": {
            "description": "Bad request (invalid phone number)"
          }
        },
        "tags": [
          "EnterpriseApi"
        ],
        "description": "Enterprise GET: ShouldBlock - returns a call block proceed decision.",
        "operationId": "EnterpriseApi_ShouldBlock",
        "summary": "Enterprise GET: ShouldBlock - returns a call block proceed decision."
      }
    },
    "/api/2015-11-01/Enterprise/UpsertUser": {
      "post": {
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "tags": [
          "EnterpriseApi"
        ],
        "description": "UpsertUser: insert or update all properties from a user.",
        "operationId": "EnterpriseApi_UpsertUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallControlUser"
              }
            }
          },
          "required": true
        },
        "summary": "UpsertUser: insert or update all properties from a user."
      }
    },
    "/api/2015-11-01/Report": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "tags": [
          "Reputation"
        ],
        "description": "Report: report spam calls received to tune algorithms.",
        "operationId": "Reputation_Report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallReport"
              }
            }
          },
          "required": true
        },
        "summary": "Report: report spam calls received to tune algorithms."
      }
    },
    "/api/2015-11-01/Reputation/{phoneNumber}": {
      "get": {
        "parameters": [
          {
            "description": "phone number to search",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Reputation"
                }
              }
            },
            "description": "Reputation information"
          },
          "400": {
            "description": "Bad request (invalid phone number)"
          }
        },
        "tags": [
          "Reputation"
        ],
        "description": "Reputation: Premium service returning reputation information of a phone number.",
        "operationId": "Reputation_Reputation",
        "summary": "Reputation: Premium service returning reputation information of a phone number."
      }
    }
  },
  "components": {
    "schemas": {
      "CallControlUser": {
        "properties": {
          "BlackList": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "BlockBehavior": {
            "enum": [
              "allow",
              "voiceMail",
              "block"
            ],
            "type": "string"
          },
          "BreakThroughQhWithMultipleCalls": {
            "type": "boolean"
          },
          "Email": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "PhoneNumber": {
            "type": "string"
          },
          "QuietHourList": {
            "items": {
              "$ref": "#/components/schemas/QuietHour"
            },
            "type": "array"
          },
          "UseCommunityBlacklist": {
            "type": "boolean"
          },
          "WhiteList": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "WhiteListBreaksQh": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "CallReport": {
        "properties": {
          "CallTime": {
            "format": "date-time",
            "type": "string"
          },
          "CallerType": {
            "enum": [
              "Unknown",
              "Telemarketing",
              "Collection_Agency",
              "Political",
              "Surveyor",
              "Prank_Call",
              "Fund_Raiser",
              "Other_Commercial",
              "Scam",
              "VOIP",
              "Business",
              "Reminder_Notification_Call",
              "Junk_Fax",
              "Fax_Machine",
              "Spam_Text",
              "RoboCall",
              "NotSpam",
              "Callback"
            ],
            "type": "string"
          },
          "Comment": {
            "type": "string"
          },
          "PhoneNumber": {
            "type": "string"
          },
          "ReportedCallerName": {
            "type": "string"
          },
          "UnwantedCall": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Complaints": {
        "properties": {
          "ComplaintsByEntity": {
            "additionalProperties": {
              "format": "int32",
              "type": "integer"
            },
            "type": "object"
          },
          "LastComplaintDate": {
            "format": "date-time",
            "type": "string"
          },
          "ReportedCallerName": {
            "type": "string"
          },
          "Tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "TotalNumberOfComplaints": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "QuietHour": {
        "properties": {
          "DayOfWeekList": {
            "items": {
              "enum": [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "DurationMin": {
            "format": "int32",
            "type": "integer"
          },
          "StartHourLocal": {
            "format": "int32",
            "type": "integer"
          },
          "StartMinLocal": {
            "format": "int32",
            "type": "integer"
          },
          "TimeZoneName": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Reputation": {
        "properties": {
          "CallType": {
            "readOnly": true,
            "type": "string"
          },
          "Confidence": {
            "format": "int32",
            "type": "integer"
          },
          "IsSpam": {
            "type": "boolean"
          },
          "LastComplaintDate": {
            "format": "date-time",
            "type": "string"
          },
          "ReportedCallerName": {
            "type": "string"
          },
          "Tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "apiKey": {
        "description": "API Key Authentication",
        "in": "header",
        "name": "apiKey",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "name": "Complaints"
    },
    {
      "name": "EnterpriseApi"
    },
    {
      "name": "Reputation"
    }
  ]
}