{
  "openapi": "3.0.3",
  "info": {
    "title": "Checkmob API",
    "description": "Checkmob is a field service management platform. This API provides access to clients, addresses, work orders, services, questionnaires, users, segments, custom fields, and location data.",
    "version": "1.0.5",
    "contact": {
      "name": "Checkmob",
      "url": "https://www.checkmob.com"
    }
  },
  "servers": [
    {
      "url": "https://api.checkmob.com/1.0.5",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token-based authentication"
    },
    {
      "name": "Clients",
      "description": "Client management"
    },
    {
      "name": "Addresses",
      "description": "Address management"
    },
    {
      "name": "Groups",
      "description": "Team/group management"
    },
    {
      "name": "Work Orders",
      "description": "Work order management"
    },
    {
      "name": "Questionnaires",
      "description": "Questionnaire/checklist management"
    },
    {
      "name": "Services",
      "description": "Service management"
    },
    {
      "name": "Checklist Responses",
      "description": "Checklist and response data"
    },
    {
      "name": "Segments",
      "description": "Client segmentation"
    },
    {
      "name": "Service Status",
      "description": "Service status management"
    },
    {
      "name": "Service Types",
      "description": "Service type management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Custom Fields",
      "description": "Custom field management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Location Data",
      "description": "Country, state, and city lookups"
    },
    {
      "name": "Profiles",
      "description": "User profile management"
    }
  ],
  "paths": {
    "/token": {
      "get": {
        "operationId": "getToken",
        "summary": "Request an access token",
        "description": "Obtain a bearer token using username and password credentials.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "password"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "bearer"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cliente/Post": {
      "post": {
        "operationId": "createClient",
        "summary": "Create a client",
        "description": "Create a new client with optional address information.",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cliente/GetClientById": {
      "get": {
        "operationId": "getClientById",
        "summary": "Get client by ID",
        "description": "Retrieve a client by their ID.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cliente/Put": {
      "put": {
        "operationId": "updateClient",
        "summary": "Update a client",
        "description": "Update client information.",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cliente/List": {
      "post": {
        "operationId": "listClients",
        "summary": "List clients",
        "description": "List clients with filters, pagination, and sorting.",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cliente/AtivarCliente": {
      "post": {
        "operationId": "activateClients",
        "summary": "Activate clients",
        "description": "Activate one or more clients by ID.",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clients activated"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cliente/InativarCliente": {
      "post": {
        "operationId": "deactivateClients",
        "summary": "Deactivate clients",
        "description": "Deactivate one or more clients by ID.",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clients deactivated"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/Endereco/List": {
      "post": {
        "operationId": "listAddresses",
        "summary": "List addresses",
        "tags": [
          "Addresses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List addresses"
      }
    },
    "/api/Endereco/Get": {
      "get": {
        "operationId": "getAddress",
        "summary": "Get address by ID",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get address by ID"
      }
    },
    "/api/Endereco/Post": {
      "post": {
        "operationId": "createAddress",
        "summary": "Create an address",
        "tags": [
          "Addresses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create an address"
      }
    },
    "/api/Endereco/Put": {
      "put": {
        "operationId": "updateAddress",
        "summary": "Update an address",
        "tags": [
          "Addresses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update an address"
      }
    },
    "/api/Grupo/List": {
      "post": {
        "operationId": "listGroups",
        "summary": "List groups",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List groups"
      }
    },
    "/api/Grupo/GetAllByClientCinq": {
      "get": {
        "operationId": "getGroupsByClient",
        "summary": "Get groups by client",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "IdClienteCinq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Groups list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get groups by client"
      }
    },
    "/api/Grupo/Post": {
      "post": {
        "operationId": "createGroup",
        "summary": "Create a group",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a group"
      }
    },
    "/api/OrdemServico/List": {
      "post": {
        "operationId": "listWorkOrders",
        "summary": "List work orders",
        "tags": [
          "Work Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of work orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkOrder"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List work orders"
      }
    },
    "/api/OrdemServico/Post": {
      "post": {
        "operationId": "createWorkOrder",
        "summary": "Create a work order",
        "tags": [
          "Work Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkOrderCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a work order"
      }
    },
    "/api/OrdemServico/Get": {
      "get": {
        "operationId": "getWorkOrder",
        "summary": "Get work order by ID",
        "tags": [
          "Work Orders"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Work order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrder"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get work order by ID"
      }
    },
    "/api/Questionario/List": {
      "post": {
        "operationId": "listQuestionnaires",
        "summary": "List questionnaires",
        "tags": [
          "Questionnaires"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of questionnaires",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Questionnaire"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List questionnaires"
      }
    },
    "/api/Questionario/GetAllByCinqClient": {
      "get": {
        "operationId": "getQuestionnairesByClient",
        "summary": "Get questionnaires by client",
        "tags": [
          "Questionnaires"
        ],
        "parameters": [
          {
            "name": "IdClienteCinq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Questionnaires list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Questionnaire"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get questionnaires by client"
      }
    },
    "/api/Servico/List": {
      "post": {
        "operationId": "listServices",
        "summary": "List services",
        "tags": [
          "Services"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List services"
      }
    },
    "/api/QuestionarioServico/List": {
      "post": {
        "operationId": "listServiceChecklists",
        "summary": "List checklists by service",
        "tags": [
          "Checklist Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdServico": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklists list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List checklists by service"
      }
    },
    "/api/RespostasQuestionario/List": {
      "post": {
        "operationId": "listChecklistAnswers",
        "summary": "Get checklist answers",
        "tags": [
          "Checklist Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdQuestionarioServico": {
                    "type": "integer"
                  },
                  "AlternativasFalsas": {
                    "type": "boolean",
                    "description": "Include false alternatives"
                  },
                  "ApenasRespondidas": {
                    "type": "boolean",
                    "description": "Only answered questions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklist answers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get checklist answers"
      }
    },
    "/api/Segmento/List": {
      "post": {
        "operationId": "listSegments",
        "summary": "List segments",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of segments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Segment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List segments"
      }
    },
    "/api/Segmento/GetAllByClientCinq": {
      "get": {
        "operationId": "getSegmentsByClient",
        "summary": "Get segments by client",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "IdClienteCinq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Segment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get segments by client"
      }
    },
    "/api/Segmento/Post": {
      "post": {
        "operationId": "createSegment",
        "summary": "Create a segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a segment"
      }
    },
    "/api/SegmentoClientes/CreateForSegmento": {
      "post": {
        "operationId": "linkClientsToSegment",
        "summary": "Link clients to segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdSegmento": {
                    "type": "integer"
                  },
                  "IdClientes": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clients linked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Link clients to segment"
      }
    },
    "/api/SegmentoClientes/Add": {
      "post": {
        "operationId": "addClientToSegments",
        "summary": "Add client to segments",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdCliente": {
                    "type": "integer"
                  },
                  "IdSegmentos": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client added to segments"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Add client to segments"
      }
    },
    "/api/SegmentoClientes/Remove": {
      "post": {
        "operationId": "removeClientFromSegments",
        "summary": "Remove client from segments",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdCliente": {
                    "type": "integer"
                  },
                  "IdSegmentos": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client removed from segments"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Remove client from segments"
      }
    },
    "/api/StatusServico/List": {
      "post": {
        "operationId": "listServiceStatuses",
        "summary": "List service statuses",
        "tags": [
          "Service Status"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceStatus"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List service statuses"
      }
    },
    "/api/StatusServico/GetByCinqClient": {
      "get": {
        "operationId": "getServiceStatusesByClient",
        "summary": "Get service statuses by client",
        "tags": [
          "Service Status"
        ],
        "parameters": [
          {
            "name": "IdClienteCinq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceStatus"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get service statuses by client"
      }
    },
    "/api/StatusServico": {
      "post": {
        "operationId": "createServiceStatus",
        "summary": "Create a service status",
        "tags": [
          "Service Status"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceStatusCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a service status"
      }
    },
    "/api/TipoServico/List": {
      "post": {
        "operationId": "listServiceTypes",
        "summary": "List service types",
        "tags": [
          "Service Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of service types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List service types"
      }
    },
    "/api/TipoServico/Get": {
      "get": {
        "operationId": "getServiceType",
        "summary": "Get service type by ID",
        "tags": [
          "Service Types"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service type details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceType"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get service type by ID"
      }
    },
    "/api/TipoServico/Post": {
      "post": {
        "operationId": "createServiceType",
        "summary": "Create a service type",
        "tags": [
          "Service Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceTypeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service type created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a service type"
      }
    },
    "/api/Usuario/List": {
      "post": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List users"
      }
    },
    "/api/Usuario/Get": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user by ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get user by ID"
      }
    },
    "/api/Usuario/Post": {
      "post": {
        "operationId": "createUser",
        "summary": "Create a user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a user"
      }
    },
    "/api/Usuario/Put": {
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update a user"
      }
    },
    "/api/Usuario/Ativar": {
      "post": {
        "operationId": "activateUsers",
        "summary": "Activate users",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users activated"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Activate users"
      }
    },
    "/api/Usuario/Inativar": {
      "post": {
        "operationId": "deactivateUsers",
        "summary": "Deactivate users",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users deactivated"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Deactivate users"
      }
    },
    "/api/Usuario/Excluir": {
      "post": {
        "operationId": "deleteUsers",
        "summary": "Delete users",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete users"
      }
    },
    "/api/Campo/GetClienteFields": {
      "get": {
        "operationId": "getClientCustomFields",
        "summary": "Get client custom fields",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "Custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get client custom fields"
      }
    },
    "/api/Campo/GetPessoaFields": {
      "get": {
        "operationId": "getContactCustomFields",
        "summary": "Get contact custom fields",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "Custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get contact custom fields"
      }
    },
    "/api/ClienteCampo/Save": {
      "post": {
        "operationId": "saveClientCustomField",
        "summary": "Save client custom field value",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdCliente": {
                    "type": "integer"
                  },
                  "IdCampo": {
                    "type": "integer"
                  },
                  "Valor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field saved"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Save client custom field value"
      }
    },
    "/api/PessoaCampo/Save": {
      "post": {
        "operationId": "saveContactCustomField",
        "summary": "Save contact custom field value",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPessoa": {
                    "type": "integer"
                  },
                  "IdCampo": {
                    "type": "integer"
                  },
                  "Valor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field saved"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Save contact custom field value"
      }
    },
    "/api/Pessoa/Post": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a contact"
      }
    },
    "/api/Pais/GetAll": {
      "get": {
        "operationId": "listCountries",
        "summary": "List all countries",
        "tags": [
          "Location Data"
        ],
        "responses": {
          "200": {
            "description": "Countries list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "nome": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List all countries"
      }
    },
    "/api/Estado/GetEstadoByPais": {
      "get": {
        "operationId": "getStatesByCountry",
        "summary": "Get states by country",
        "tags": [
          "Location Data"
        ],
        "parameters": [
          {
            "name": "IdPais",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "States list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "nome": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get states by country"
      }
    },
    "/api/Cidade/GetCidadeByEstado": {
      "get": {
        "operationId": "getCitiesByState",
        "summary": "Get cities by state",
        "tags": [
          "Location Data"
        ],
        "parameters": [
          {
            "name": "IdEstado",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cities list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "nome": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get cities by state"
      }
    },
    "/api/Perfil/List": {
      "post": {
        "operationId": "listProfiles",
        "summary": "List user profiles",
        "tags": [
          "Profiles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "nome": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List user profiles"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from the /token endpoint."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "ListRequest": {
        "type": "object",
        "properties": {
          "numberOfRows": {
            "type": "integer",
            "description": "Number of rows per page"
          },
          "numberOfRowsSkipped": {
            "type": "integer",
            "description": "Number of rows to skip"
          },
          "columns": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Sort columns (field: true for DESC, false for ASC)"
          },
          "Nome": {
            "type": "string",
            "description": "Filter by name"
          },
          "Excluido": {
            "type": "boolean",
            "description": "Filter deleted items"
          },
          "Id": {
            "type": "integer",
            "description": "Filter by ID"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "tipoCliente": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          },
          "endereco": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "ClientCreate": {
        "type": "object",
        "required": [
          "nome"
        ],
        "properties": {
          "nome": {
            "type": "string",
            "description": "Client name"
          },
          "tipoCliente": {
            "type": "string",
            "description": "Client type (e.g., 'N')"
          },
          "ativo": {
            "type": "boolean"
          },
          "endereco": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressCreate"
            }
          }
        }
      },
      "ClientUpdate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "tipoCliente": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "titulo": {
            "type": "string"
          },
          "logradouro": {
            "type": "string",
            "description": "Street address"
          },
          "numero": {
            "type": "string",
            "description": "Number"
          },
          "complemento": {
            "type": "string"
          },
          "bairro": {
            "type": "string",
            "description": "Neighborhood"
          },
          "cep": {
            "type": "string",
            "description": "Postal code"
          },
          "nomePais": {
            "type": "string",
            "description": "Country name"
          },
          "nomeEstado": {
            "type": "string",
            "description": "State name"
          },
          "nomeCidade": {
            "type": "string",
            "description": "City name"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "enderecoPrincipal": {
            "type": "boolean",
            "description": "Primary address flag"
          },
          "idCliente": {
            "type": "integer"
          }
        }
      },
      "AddressCreate": {
        "type": "object",
        "properties": {
          "titulo": {
            "type": "string"
          },
          "logradouro": {
            "type": "string"
          },
          "numero": {
            "type": "string"
          },
          "complemento": {
            "type": "string"
          },
          "bairro": {
            "type": "string"
          },
          "cep": {
            "type": "string"
          },
          "idCliente": {
            "type": "integer"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "enderecoPrincipal": {
            "type": "boolean"
          },
          "idUF": {
            "type": "integer",
            "description": "State ID"
          },
          "idCidade": {
            "type": "integer",
            "description": "City ID"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "idClienteCinq": {
            "type": "integer"
          },
          "ativo": {
            "type": "boolean"
          },
          "excluido": {
            "type": "boolean"
          }
        }
      },
      "GroupCreate": {
        "type": "object",
        "required": [
          "nome"
        ],
        "properties": {
          "nome": {
            "type": "string"
          },
          "idClienteCinq": {
            "type": "integer"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "WorkOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "observacao": {
            "type": "string"
          },
          "idCliente": {
            "type": "integer"
          },
          "idSegmento": {
            "type": "integer"
          },
          "dataConclusaoEsperada": {
            "type": "string",
            "format": "date-time"
          },
          "prioritario": {
            "type": "boolean"
          },
          "aceito": {
            "type": "boolean"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "WorkOrderCreate": {
        "type": "object",
        "required": [
          "nome"
        ],
        "properties": {
          "nome": {
            "type": "string"
          },
          "observacao": {
            "type": "string"
          },
          "idCliente": {
            "type": "integer"
          },
          "IdSegmento": {
            "type": "integer"
          },
          "dataConclusaoEsperada": {
            "type": "string",
            "format": "date-time"
          },
          "prioritario": {
            "type": "boolean"
          },
          "aceito": {
            "type": "boolean"
          },
          "ativo": {
            "type": "boolean"
          },
          "ordemServicoUsuario": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "idUsuario": {
                  "type": "integer"
                }
              }
            }
          },
          "ordemServicoQuestionario": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "idQuestionario": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Questionnaire": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "idCliente": {
            "type": "integer"
          },
          "idUsuario": {
            "type": "integer"
          },
          "idOrdemServico": {
            "type": "integer"
          },
          "dataInicio": {
            "type": "string",
            "format": "date-time"
          },
          "dataFim": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServiceListRequest": {
        "type": "object",
        "properties": {
          "IdCliente": {
            "type": "integer"
          },
          "IdUsuario": {
            "type": "integer"
          },
          "IdOrdemServico": {
            "type": "integer"
          },
          "DataInicio": {
            "type": "string",
            "format": "date-time"
          },
          "DataFim": {
            "type": "string",
            "format": "date-time"
          },
          "IdObjetivo": {
            "type": "integer"
          },
          "numberOfRows": {
            "type": "integer"
          },
          "numberOfRowsSkipped": {
            "type": "integer"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "SegmentCreate": {
        "type": "object",
        "required": [
          "nome"
        ],
        "properties": {
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "ServiceStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "ServiceStatusCreate": {
        "type": "object",
        "required": [
          "nome"
        ],
        "properties": {
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "ServiceType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "ServiceTypeCreate": {
        "type": "object",
        "required": [
          "nome"
        ],
        "properties": {
          "nome": {
            "type": "string"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "login": {
            "type": "string"
          },
          "idPerfil": {
            "type": "integer"
          },
          "ativo": {
            "type": "boolean"
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "Usuario"
        ],
        "properties": {
          "Usuario": {
            "type": "object",
            "required": [
              "Nome",
              "Email",
              "Login",
              "Senha"
            ],
            "properties": {
              "Nome": {
                "type": "string"
              },
              "Email": {
                "type": "string",
                "format": "email"
              },
              "Login": {
                "type": "string"
              },
              "Senha": {
                "type": "string",
                "description": "Password"
              },
              "IdPerfil": {
                "type": "integer"
              },
              "Ativo": {
                "type": "boolean"
              },
              "EnviarEmail": {
                "type": "boolean",
                "description": "Send invitation email"
              }
            }
          },
          "UsuarioGrupo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "IdGrupo": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "tipo": {
            "type": "string"
          }
        }
      },
      "ContactCreate": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "telefone": {
            "type": "string"
          },
          "idCliente": {
            "type": "integer"
          }
        }
      }
    }
  }
}
