{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Power BI REST API",
    "version": "1.0",
    "description": "The Power BI REST APIs provide service endpoints for embedding, administration, governance and user resources. Manage Power BI content, perform admin operations, and embed Power BI content. Requires Azure AD application registration for authentication.",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/rest/api/power-bi/"
  },
  "servers": [
    {
      "url": "https://api.powerbi.com/v1.0/myorg",
      "description": "Power BI REST API v1.0"
    }
  ],
  "paths": {
    "/datasets": {
      "get": {
        "operationId": "getDatasets",
        "summary": "Returns a list of datasets from My workspace",
        "tags": [
          "Datasets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetList"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Returns the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Deletes the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "patch": {
        "operationId": "updateDataset",
        "summary": "Updates the properties for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/refreshes": {
      "post": {
        "operationId": "refreshDataset",
        "summary": "Triggers a refresh for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      },
      "get": {
        "operationId": "getRefreshHistory",
        "summary": "Returns the refresh history for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The requested number of entries in the refresh history"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshList"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/refreshes/{refreshId}": {
      "delete": {
        "operationId": "cancelRefresh",
        "summary": "Cancels the specified refresh operation for the specified dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refreshId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/datasources": {
      "get": {
        "operationId": "getDatasetDatasources",
        "summary": "Returns a list of data sources for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasourceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateDatasources",
        "summary": "Updates the data sources of the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "updateDetails": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/parameters": {
      "get": {
        "operationId": "getParameters",
        "summary": "Returns a list of parameters for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateParameters",
        "summary": "Updates the parameters values for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "updateDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "newValue": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/users": {
      "get": {
        "operationId": "getDatasetUsers",
        "summary": "Returns a list of principals that have access to the specified dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postDatasetUser",
        "summary": "Grants the specified user's permissions to the specified dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetUserAccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "operationId": "putDatasetUser",
        "summary": "Updates the existing dataset permissions of the specified user",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetUserAccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/executeQueries": {
      "post": {
        "operationId": "executeQueries",
        "summary": "Executes DAX queries against the provided dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExecuteQueriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/Default.BindToGateway": {
      "post": {
        "operationId": "bindToGateway",
        "summary": "Binds the specified dataset from My workspace to the specified gateway",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindToGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/Default.DiscoverGateways": {
      "get": {
        "operationId": "discoverGateways",
        "summary": "Returns a list of gateways that the specified dataset can be bound to",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gateway"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/refreshSchedule": {
      "get": {
        "operationId": "getRefreshSchedule",
        "summary": "Returns the refresh schedule for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateRefreshSchedule",
        "summary": "Updates the refresh schedule for the specified dataset from My workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/directQueryRefreshSchedule": {
      "get": {
        "operationId": "getDirectQueryRefreshSchedule",
        "summary": "Returns the refresh schedule for a DirectQuery or LiveConnection dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateDirectQueryRefreshSchedule",
        "summary": "Updates the refresh schedule for a DirectQuery or LiveConnection dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/datasets/{datasetId}/queryScaleOut/syncStatus": {
      "get": {
        "operationId": "getQueryScaleOutSyncStatus",
        "summary": "Returns the query scale-out sync status for the specified dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/queryScaleOut/sync": {
      "post": {
        "operationId": "triggerQueryScaleOutSync",
        "summary": "Triggers a query scale-out sync of read-only replicas for the specified dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/reports": {
      "get": {
        "operationId": "getReports",
        "summary": "Returns a list of reports from My workspace",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}": {
      "get": {
        "operationId": "getReport",
        "summary": "Returns the specified report from My workspace",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteReport",
        "summary": "Deletes the specified report from My workspace",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/reports/{reportId}/Clone": {
      "post": {
        "operationId": "cloneReport",
        "summary": "Clones the specified report from My workspace",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/Export": {
      "get": {
        "operationId": "exportReport",
        "summary": "Exports the specified report from My workspace to a .pbix or .rdl file",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - file stream",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/ExportTo": {
      "post": {
        "operationId": "exportToFile",
        "summary": "Exports the specified report to the requested file format",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string",
                    "description": "The requested file format (PDF, PNG, PPTX)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/reports/{reportId}/exports/{exportId}/status": {
      "get": {
        "operationId": "getExportToFileStatus",
        "summary": "Returns the current status of the Export to File job",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/exports/{exportId}/file": {
      "get": {
        "operationId": "getFileOfExportToFile",
        "summary": "Returns the file from the Export to File job",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - file stream",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/pages": {
      "get": {
        "operationId": "getPages",
        "summary": "Returns a list of pages within the specified report from My workspace",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Page"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/pages/{pageName}": {
      "get": {
        "operationId": "getPage",
        "summary": "Returns the specified page within the specified report from My workspace",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/Rebind": {
      "post": {
        "operationId": "rebindReport",
        "summary": "Rebinds the specified report to the specified dataset",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RebindReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/reports/{reportId}/UpdateReportContent": {
      "post": {
        "operationId": "updateReportContent",
        "summary": "Updates the content of the specified report with content from a source report",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceReport": {
                    "type": "object",
                    "properties": {
                      "sourceReportId": {
                        "type": "string"
                      },
                      "sourceWorkspaceId": {
                        "type": "string"
                      }
                    }
                  },
                  "sourceType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "operationId": "getDashboards",
        "summary": "Returns a list of dashboards from My workspace",
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addDashboard",
        "summary": "Creates a new empty dashboard in My workspace",
        "tags": [
          "Dashboards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDashboardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards/{dashboardId}": {
      "get": {
        "operationId": "getDashboard",
        "summary": "Returns the specified dashboard from My workspace",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDashboard",
        "summary": "Deletes the specified dashboard from My workspace",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/dashboards/{dashboardId}/tiles": {
      "get": {
        "operationId": "getTiles",
        "summary": "Returns a list of tiles within the specified dashboard from My workspace",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TileList"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards/{dashboardId}/tiles/{tileId}": {
      "get": {
        "operationId": "getTile",
        "summary": "Returns the specified tile within the specified dashboard from My workspace",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tile"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards/{dashboardId}/tiles/{tileId}/Clone": {
      "post": {
        "operationId": "cloneTile",
        "summary": "Clones the specified tile from My workspace",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneTileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tile"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "getGroups",
        "summary": "Returns a list of workspaces the user has access to",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Returns only the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Skips the first n results"
          },
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "OData filter condition"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Creates a new workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "workspaceV2",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to create a v2 workspace"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "operationId": "getGroup",
        "summary": "Returns a specified workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Deletes the specified workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "patch": {
        "operationId": "updateGroup",
        "summary": "Updates a specified workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/groups/{groupId}/users": {
      "get": {
        "operationId": "getGroupUsers",
        "summary": "Returns a list of users that have access to the specified workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GroupUser"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addGroupUser",
        "summary": "Grants the specified user the specified permissions to the workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "operationId": "updateGroupUser",
        "summary": "Updates the specified user permissions to the workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/groups/{groupId}/users/{user}": {
      "delete": {
        "operationId": "deleteUserInGroup",
        "summary": "Deletes the specified user permissions from the workspace",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/groups/{groupId}/datasets": {
      "get": {
        "operationId": "getDatasetsInGroup",
        "summary": "Returns a list of datasets from the specified workspace",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetList"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/reports": {
      "get": {
        "operationId": "getReportsInGroup",
        "summary": "Returns a list of reports from the specified workspace",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/dashboards": {
      "get": {
        "operationId": "getDashboardsInGroup",
        "summary": "Returns a list of dashboards from the specified workspace",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardList"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "get": {
        "operationId": "getApps",
        "summary": "Returns a list of installed apps",
        "tags": [
          "Apps"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppList"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "getApp",
        "summary": "Returns the specified installed app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/reports": {
      "get": {
        "operationId": "getAppReports",
        "summary": "Returns a list of reports from the specified app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/reports/{reportId}": {
      "get": {
        "operationId": "getAppReport",
        "summary": "Returns the specified report from the specified app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/dashboards": {
      "get": {
        "operationId": "getAppDashboards",
        "summary": "Returns a list of dashboards from the specified app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardList"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/dashboards/{dashboardId}": {
      "get": {
        "operationId": "getAppDashboard",
        "summary": "Returns the specified dashboard from the specified app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/dashboards/{dashboardId}/tiles": {
      "get": {
        "operationId": "getAppTiles",
        "summary": "Returns a list of tiles within the specified dashboard from the specified app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TileList"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/dashboards/{dashboardId}/tiles/{tileId}": {
      "get": {
        "operationId": "getAppTile",
        "summary": "Returns the specified tile from the specified dashboard and app",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tile"
                }
              }
            }
          }
        }
      }
    },
    "/imports": {
      "get": {
        "operationId": "getImports",
        "summary": "Returns a list of imports from My workspace",
        "tags": [
          "Imports"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Import"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postImport",
        "summary": "Creates new content in My workspace",
        "tags": [
          "Imports"
        ],
        "parameters": [
          {
            "name": "datasetDisplayName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The display name of the dataset"
          },
          {
            "name": "nameConflict",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Ignore",
                "Abort",
                "Overwrite",
                "CreateOrOverwrite"
              ]
            },
            "description": "Determines what to do if a dataset with the same name already exists"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          },
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/imports/{importId}": {
      "get": {
        "operationId": "getImport",
        "summary": "Returns the specified import from My workspace",
        "tags": [
          "Imports"
        ],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          }
        }
      }
    },
    "/imports/createTemporaryUploadLocation": {
      "post": {
        "operationId": "createTemporaryUploadLocation",
        "summary": "Creates a temporary blob storage upload location for importing large .pbix files",
        "tags": [
          "Imports"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gateways": {
      "get": {
        "operationId": "getGateways",
        "summary": "Returns a list of gateways for which the user is an admin",
        "tags": [
          "Gateways"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gateway"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gateways/{gatewayId}": {
      "get": {
        "operationId": "getGateway",
        "summary": "Returns the specified gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gateway"
                }
              }
            }
          }
        }
      }
    },
    "/gateways/{gatewayId}/datasources": {
      "get": {
        "operationId": "getGatewayDatasources",
        "summary": "Returns a list of data sources from the specified gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasourceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGatewayDatasource",
        "summary": "Creates a new data source on the specified on-premises gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/gateways/{gatewayId}/datasources/{datasourceId}": {
      "get": {
        "operationId": "getGatewayDatasource",
        "summary": "Returns the specified data source from the specified gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteGatewayDatasource",
        "summary": "Deletes the specified data source from the specified gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "patch": {
        "operationId": "updateGatewayDatasource",
        "summary": "Updates the credentials of the specified data source from the specified gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/gateways/{gatewayId}/datasources/{datasourceId}/status": {
      "get": {
        "operationId": "getGatewayDatasourceStatus",
        "summary": "Checks the connectivity status of the specified data source from the specified gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/gateways/{gatewayId}/datasources/{datasourceId}/users": {
      "get": {
        "operationId": "getGatewayDatasourceUsers",
        "summary": "Returns a list of users who have access to the specified data source",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addGatewayDatasourceUser",
        "summary": "Grants or updates the permissions for the specified data source user",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/gateways/{gatewayId}/datasources/{datasourceId}/users/{emailAddrOrObjectId}": {
      "delete": {
        "operationId": "deleteGatewayDatasourceUser",
        "summary": "Removes the specified user from the specified data source",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "gatewayId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailAddrOrObjectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/GenerateToken": {
      "post": {
        "operationId": "generateToken",
        "summary": "Generates an embed token for multiple reports, datasets, and target workspaces",
        "tags": [
          "Embed Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedToken"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/reports/{reportId}/GenerateToken": {
      "post": {
        "operationId": "reportsGenerateTokenInGroup",
        "summary": "Generates an embed token to view or edit the specified report from the specified workspace",
        "tags": [
          "Embed Token"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedToken"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/dashboards/{dashboardId}/GenerateToken": {
      "post": {
        "operationId": "dashboardsGenerateTokenInGroup",
        "summary": "Generates an embed token to view the specified dashboard from the specified workspace",
        "tags": [
          "Embed Token"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedToken"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/datasets/{datasetId}/GenerateToken": {
      "post": {
        "operationId": "datasetsGenerateTokenInGroup",
        "summary": "Generates an embed token based on the specified dataset from the specified workspace",
        "tags": [
          "Embed Token"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedToken"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/tables": {
      "get": {
        "operationId": "getDatasetTables",
        "summary": "Returns a list of tables within the specified push dataset from My workspace",
        "tags": [
          "Push Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Table"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/tables/{tableName}": {
      "put": {
        "operationId": "putTable",
        "summary": "Updates the metadata and schema for the specified table within the push dataset",
        "tags": [
          "Push Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{datasetId}/tables/{tableName}/rows": {
      "post": {
        "operationId": "postRows",
        "summary": "Adds new data rows to the specified table within the push dataset",
        "tags": [
          "Push Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "operationId": "deleteRows",
        "summary": "Deletes all rows from the specified table within the push dataset",
        "tags": [
          "Push Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/availableFeatures": {
      "get": {
        "operationId": "getAvailableFeatures",
        "summary": "Returns a list of available features",
        "tags": [
          "Available Features"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "extendedState": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "configuredBy": {
            "type": "string"
          },
          "isRefreshable": {
            "type": "boolean"
          },
          "isEffectiveIdentityRequired": {
            "type": "boolean"
          },
          "isEffectiveIdentityRolesRequired": {
            "type": "boolean"
          },
          "isOnPremGatewayRequired": {
            "type": "boolean"
          },
          "targetStorageMode": {
            "type": "string"
          },
          "webUrl": {
            "type": "string"
          }
        }
      },
      "DatasetList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        }
      },
      "UpdateDatasetRequest": {
        "type": "object",
        "properties": {
          "targetStorageMode": {
            "type": "string"
          }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "notifyOption": {
            "type": "string",
            "enum": [
              "NoNotification",
              "MailOnFailure",
              "MailOnCompletion"
            ]
          }
        }
      },
      "RefreshList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Refresh"
            }
          }
        }
      },
      "Refresh": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "refreshType": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DatasetExecuteQueriesRequest": {
        "type": "object",
        "properties": {
          "queries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The DAX query to execute"
                }
              }
            }
          },
          "serializerSettings": {
            "type": "object",
            "properties": {
              "includeNulls": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "DatasetUserAccess": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "principalType": {
            "type": "string",
            "enum": [
              "App",
              "User",
              "Group"
            ]
          },
          "datasetUserAccessRight": {
            "type": "string",
            "enum": [
              "Read",
              "ReadExplore",
              "ReadReshare",
              "ReadReshareExplore"
            ]
          }
        }
      },
      "BindToGatewayRequest": {
        "type": "object",
        "properties": {
          "gatewayObjectId": {
            "type": "string"
          },
          "datasourceObjectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DatasourceList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datasourceType": {
                  "type": "string"
                },
                "connectionDetails": {
                  "type": "object"
                },
                "datasourceId": {
                  "type": "string"
                },
                "gatewayId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "datasetId": {
            "type": "string"
          },
          "webUrl": {
            "type": "string"
          },
          "embedUrl": {
            "type": "string"
          },
          "reportType": {
            "type": "string"
          }
        }
      },
      "ReportList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          }
        }
      },
      "CloneReportRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "targetWorkspaceId": {
            "type": "string"
          },
          "targetModelId": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "RebindReportRequest": {
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string"
          }
        },
        "required": [
          "datasetId"
        ]
      },
      "Page": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "embedUrl": {
            "type": "string"
          },
          "isReadOnly": {
            "type": "boolean"
          }
        }
      },
      "DashboardList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dashboard"
            }
          }
        }
      },
      "AddDashboardRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "Tile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "embedUrl": {
            "type": "string"
          },
          "embedData": {
            "type": "string"
          },
          "reportId": {
            "type": "string"
          },
          "datasetId": {
            "type": "string"
          }
        }
      },
      "TileList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tile"
            }
          }
        }
      },
      "CloneTileRequest": {
        "type": "object",
        "properties": {
          "targetDashboardId": {
            "type": "string"
          },
          "targetWorkspaceId": {
            "type": "string"
          },
          "targetReportId": {
            "type": "string"
          },
          "targetModelId": {
            "type": "string"
          },
          "positionConflictAction": {
            "type": "string",
            "enum": [
              "Tail",
              "Abort"
            ]
          }
        },
        "required": [
          "targetDashboardId"
        ]
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isReadOnly": {
            "type": "boolean"
          },
          "isOnDedicatedCapacity": {
            "type": "boolean"
          },
          "capacityId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "GroupList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Group"
            }
          }
        }
      },
      "GroupCreationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "GroupUser": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": "string"
          },
          "groupUserAccessRight": {
            "type": "string",
            "enum": [
              "None",
              "Member",
              "Admin",
              "Contributor",
              "Viewer"
            ]
          },
          "displayName": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "principalType": {
            "type": "string",
            "enum": [
              "App",
              "User",
              "Group"
            ]
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "publishedBy": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          }
        }
      },
      "AppList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/App"
            }
          }
        }
      },
      "Import": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "importState": {
            "type": "string"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Gateway": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "publicKey": {
            "type": "object"
          }
        }
      },
      "Table": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "dataType": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GenerateTokenRequest": {
        "type": "object",
        "properties": {
          "datasets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "reports": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "allowEdit": {
                  "type": "boolean"
                }
              }
            }
          },
          "targetWorkspaces": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "accessLevel": {
            "type": "string",
            "enum": [
              "View",
              "Edit",
              "Create"
            ]
          }
        }
      },
      "EmbedToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "tokenId": {
            "type": "string"
          },
          "expiration": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 authentication. Register an Azure AD application to use with Power BI.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token",
            "scopes": {
              "https://analysis.windows.net/powerbi/api/.default": "Access Power BI API"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": [
        "https://analysis.windows.net/powerbi/api/.default"
      ]
    }
  ]
}