{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "Api encargada de la evaluacion para la transaccion",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Visanet Antifraud",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.antifraud/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.antifraud/v1"
    }
  ],
  "paths": {
    "/antifraud/{product}/{merchantId}": {
      "post": {
        "parameters": [
          {
            "description": "Identificador del producto",
            "example": "ecommerce",
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "enum": [
                "recurrence",
                "ecommerce"
              ],
              "type": "string"
            }
          },
          {
            "description": "Identificador del comercio",
            "example": 341198210,
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AntifraudResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unevaluated"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Antifraud Api"
        ],
        "description": "RESTful API to evaluate transactions.",
        "operationId": "evaluate",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/AntifraudRequest"
              }
            }
          },
          "description": "Antifraud request",
          "required": true
        },
        "summary": "Antifraud"
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "description": "Entidad que representa informacion de direccion",
        "example": {
          "city": "Lima",
          "country": "PE",
          "postalCode": "Lima 30",
          "state": "LI",
          "street1": "Calle Astorga 827",
          "street2": "Calle Astorga 831"
        },
        "properties": {
          "city": {
            "description": "Ciudad",
            "example": "Lima",
            "type": "string"
          },
          "country": {
            "description": "Pais",
            "example": "PE",
            "type": "string"
          },
          "postalCode": {
            "description": "Codigo Postal",
            "example": "Lima 30",
            "type": "string"
          },
          "state": {
            "description": "Departamento / Estado",
            "example": "LI",
            "type": "string"
          },
          "street1": {
            "description": "Direccion",
            "example": "Calle Astorga 827",
            "type": "string"
          },
          "street2": {
            "description": "Direccion",
            "example": "Calle Astorga 831",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AntifraudRequest": {
        "description": "Antifraud transaction request",
        "example": {
          "billingAddress": {
            "city": "Lima",
            "country": "PE",
            "postalCode": "Lima 30",
            "state": "LI",
            "street1": "Calle Astorga 827",
            "street2": "Calle Astorga 831"
          },
          "captureType": "manual",
          "card": {
            "cardNumber": 4551478422045511,
            "cvv2": 329,
            "expirationMonth": 12,
            "expirationYear": 2029
          },
          "cardHolder": {
            "email": "info@quiputech.com",
            "firstName": "Pedro",
            "lastName": "Galdamez",
            "phoneNumber": "+51 1 2223333"
          },
          "channel": "web",
          "clientIp": "24.212.107.30",
          "dataMap": {
            "key": "dataMap"
          },
          "deviceFingerprintId": "deviceFingerprintId",
          "merchantDefineData": {
            "key": "merchantDefineData"
          },
          "order": {
            "amount": 1,
            "currency": "PEN",
            "purchaseNumber": 1234567890
          },
          "shippingAddress": {
            "city": "Lima",
            "country": "PE",
            "postalCode": "Lima 30",
            "state": "LI",
            "street1": "Calle Astorga 827",
            "street2": "Calle Astorga 831"
          }
        },
        "properties": {
          "billingAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "Entidad que representa a la direccion de facturacion"
          },
          "card": {
            "$ref": "#/components/schemas/Card",
            "description": "Entidad que representa al tarjetahabiente"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/CardHolder",
            "description": "Entidad que representa a los datos del tarjetahabiente"
          },
          "channel": {
            "description": "Canal desde donde se origino la transaccion",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter",
              "pasarela"
            ],
            "example": "web",
            "type": "string"
          },
          "clientIp": {
            "description": "Direccion IP del cliente",
            "example": "24.212.107.30",
            "type": "string"
          },
          "dataMap": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Entidad que representa informacion complementaria de la transaccion",
            "type": "object"
          },
          "deviceFingerprintId": {
            "description": "Device Finger Print Id",
            "type": "string"
          },
          "merchantDefineData": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Entidad que representa a datos adicionales definidos por el comercio",
            "type": "object"
          },
          "order": {
            "$ref": "#/components/schemas/Order",
            "description": "Entidad que representa el pedido"
          },
          "passengers": {
            "description": "Lista que representa informacion de los pasajeros",
            "items": {
              "$ref": "#/components/schemas/Passenger",
              "description": "Entidad que representa informacion del pasajero",
              "type": "object"
            },
            "type": "array"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "Entidad que representa a la direccion de envio"
          },
          "trip": {
            "$ref": "#/components/schemas/Trip",
            "description": "Entidad que representa la informacion del viaje"
          }
        },
        "required": [
          "card",
          "cardHolder",
          "channel",
          "order",
          "clientIp",
          "deviceFingerprintId",
          "merchantDefineData",
          "billingAddress",
          "shippingAddress"
        ],
        "type": "object"
      },
      "AntifraudResponse": {
        "example": {
          "dataMap": {
            "ACTION_CODE": 0,
            "DECISION": "Estado de la transaccion",
            "MESSAGE": "Cybersource Accept",
            "REASON_CODE": 100,
            "REQUEST_ID": 5.31325128450601e+21,
            "REQUEST_TOKEN": "AhjzbwSTIAgshHJItMtMIAFReTLomuEuDPD4ABeDSTLF18DBQQOwX3ZL",
            "TRANSACTION_DATE": 180711110529
          },
          "header": {
            "ecoreTransactionDate": "2000-01-23T04:56:07.000+00:00",
            "ecoreTransactionUUID": "ecoreTransactionUUID",
            "millis": 0
          },
          "order": {
            "amount": 1,
            "currency": "PEN",
            "purchaseNumber": 1234567890
          },
          "token": {
            "expiration": 1531322908866,
            "redirectToVbV": false,
            "tokenId": "1DBA413A2CAF43B5BA413A2CAFA3B5CD"
          }
        },
        "properties": {
          "dataMap": {
            "description": "Entidad que representa informacion complementaria de la operacion",
            "properties": {
              "ACTION_CODE": {
                "description": "Codigo de accion",
                "example": 0,
                "type": "string"
              },
              "DECISION": {
                "description": "Estado de la transaccion",
                "example": "Accept",
                "type": "string"
              },
              "MESSAGE": {
                "description": "Mensaje de la transaccion",
                "example": "Cybersource Accept",
                "type": "string"
              },
              "REASON_CODE": {
                "description": "Codigo de razon",
                "example": 100,
                "type": "string"
              },
              "REQUEST_ID": {
                "description": "Id de solicitud",
                "example": 5.31325128450601e+21,
                "type": "string"
              },
              "REQUEST_TOKEN": {
                "description": "Token de antifraude",
                "example": "AhjzbwSTIAgshHJItMtMIAFReTLomuEuDPD4ABeDSTLF18DBQQOwX3ZL",
                "type": "string"
              },
              "TRANSACTION_DATE": {
                "description": "Fecha de la transaccion",
                "example": 180711110529,
                "type": "string"
              }
            },
            "type": "object"
          },
          "header": {
            "$ref": "#/components/schemas/Header",
            "description": "Entidad que representa el resultado de la transaccion"
          },
          "order": {
            "$ref": "#/components/schemas/Order",
            "description": "Entidad que representa el pedido"
          },
          "token": {
            "$ref": "#/components/schemas/TransactionToken",
            "description": "Entidad que representa la creacion del token para autorizacion"
          }
        },
        "required": [
          "header",
          "order",
          "token",
          "dataMap"
        ],
        "type": "object"
      },
      "Card": {
        "description": "Entidad que representa informacion de la tarjeta",
        "example": {
          "cardNumber": 4551478422045511,
          "cvv2": 329,
          "expirationMonth": 12,
          "expirationYear": 2029
        },
        "properties": {
          "cardNumber": {
            "description": "Numero de tarjeta",
            "example": 4551478422045511,
            "type": "string"
          },
          "cvv2": {
            "description": "CVV2",
            "example": 329,
            "type": "string"
          },
          "expirationMonth": {
            "description": "Mes de expiracion",
            "example": 12,
            "format": "int32",
            "type": "integer"
          },
          "expirationYear": {
            "description": "Año de expiracion",
            "example": 2029,
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CardHolder": {
        "description": "Entidad que representa la informacion del tarjetahabiente",
        "example": {
          "email": "info@quiputech.com",
          "firstName": "Pedro",
          "lastName": "Galdamez",
          "phoneNumber": "+51 1 2223333"
        },
        "properties": {
          "email": {
            "description": "Correo electronico",
            "example": "info@quiputech.com",
            "type": "string"
          },
          "firstName": {
            "description": "Nombre",
            "example": "Pedro",
            "type": "string"
          },
          "lastName": {
            "description": "Apellido",
            "example": "Galdamez",
            "type": "string"
          },
          "phoneNumber": {
            "description": "Telefono",
            "example": "+51 1 2223333",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Header": {
        "description": "Encabezado de la transaccion",
        "example": {
          "ecoreTransactionDate": "2000-01-23T04:56:07.000+00:00",
          "ecoreTransactionUUID": "ecoreTransactionUUID",
          "millis": 0
        },
        "properties": {
          "ecoreTransactionDate": {
            "description": "Fecha de la operacion",
            "format": "date-time",
            "type": "string"
          },
          "ecoreTransactionUUID": {
            "description": "Identificador unico de transaccion para ecore",
            "type": "string"
          },
          "millis": {
            "description": "Tiempo de ejecucion",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Order": {
        "description": "Entidad que representa la informacion del pedido",
        "example": {
          "amount": 1,
          "currency": "PEN",
          "purchaseNumber": 1234567890
        },
        "properties": {
          "amount": {
            "description": "Importe del pedido",
            "example": 1,
            "format": "double",
            "type": "number"
          },
          "currency": {
            "description": "Moneda",
            "enum": [
              "PEN",
              "USD"
            ],
            "example": "PEN",
            "type": "string"
          },
          "purchaseNumber": {
            "description": "Numero del pedido",
            "example": 1234567890,
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency",
          "purchaseNumber"
        ],
        "type": "object"
      },
      "Passenger": {
        "description": "Entidad que representa informacion de los pasajeros",
        "example": {
          "code": "DNI",
          "email": "jperez@latinmail.com",
          "firstname": "Juan",
          "lastname": "Perez",
          "phone": "+51 1 2223333",
          "price": 25,
          "product": "Juan Perez",
          "sku": "JFK1254",
          "status": "Gold",
          "type": "ADT"
        },
        "properties": {
          "code": {
            "description": "Numero de documento (Pasaporte, DNI, etc)",
            "example": 42058214,
            "type": "string"
          },
          "email": {
            "description": "Correo del pasajero",
            "example": "jperez@latinmail.com",
            "type": "string"
          },
          "firstname": {
            "description": "Nombre del pasajero",
            "example": "Juan",
            "type": "string"
          },
          "lastname": {
            "description": "Apellido del pasajero",
            "example": "Perez",
            "type": "string"
          },
          "phone": {
            "description": "Telefono del pasajero",
            "example": "+51 1 2223333",
            "type": "string"
          },
          "price": {
            "description": "Cantidad total de la transaccion",
            "example": 25,
            "format": "double",
            "type": "number"
          },
          "product": {
            "description": "Nombre completo del pasajero (Nombre+Apellido)",
            "example": "Juan Perez",
            "type": "string"
          },
          "sku": {
            "description": "Codigo de comercio",
            "example": 341198210,
            "type": "string"
          },
          "status": {
            "description": "Standard, Gold, or Platinum",
            "example": "Gold",
            "type": "string"
          },
          "type": {
            "description": "Tipo de pasajero",
            "enum": [
              "ADT (Adult)",
              "CNN (Child)",
              "INF (Infant)",
              "YTH (Youth)",
              "STU (Student)",
              "SCR (Senior Citizen)",
              "MIL (Military)"
            ],
            "example": "ADT",
            "type": "string"
          }
        },
        "required": [
          "sku",
          "product",
          "email",
          "firstname",
          "lastname",
          "code",
          "phone",
          "status",
          "type",
          "price"
        ],
        "type": "object"
      },
      "TransactionToken": {
        "description": "Respuesta de creacion de token para autorizacion",
        "example": {
          "expiration": 1531322908866,
          "redirectToVbV": false,
          "tokenId": "1DBA413A2CAF43B5BA413A2CAFA3B5CD"
        },
        "properties": {
          "expiration": {
            "description": "Fecha de expiracion del token de transaccion",
            "example": 1531322908866,
            "format": "int64",
            "type": "integer"
          },
          "redirectToVbV": {
            "description": "Indicador de participacion en verified by visa",
            "example": false,
            "type": "boolean"
          },
          "tokenId": {
            "description": "Id del token de transaccion obtenido en la respuesta al proceso antifraude y usado para la autorizacion",
            "example": "1DBA413A2CAF43B5BA413A2CAFA3B5CD",
            "type": "string"
          }
        },
        "required": [
          "expiration",
          "redirectToVbV",
          "tokenId"
        ],
        "type": "object"
      },
      "Trip": {
        "description": "Entidad que representa la informacion del viaje",
        "example": {
          "depart": "2014-12-01 13:15 GMT-05:00",
          "route": "SFO-JFK:JFK-LHR:LHR-CDG",
          "type": "round trip"
        },
        "properties": {
          "depart": {
            "description": "Fecha y hora. Formato ==> YYYY-MM-DD HH:MM GTM HH:MM",
            "example": "2014-12-01 13:15 GMT-05:00",
            "type": "string"
          },
          "route": {
            "description": "Concatenacion de tramos individuales de viaje. Formato ==> ORIG1-DEST1[:ORIG2-DEST2...:ORIGn-DESTn]",
            "example": "SFO-JFK:JFK-LHR:LHR-CDG",
            "type": "string"
          },
          "type": {
            "description": "Tipo de viaje",
            "example": "round trip",
            "type": "string"
          }
        },
        "required": [
          "route",
          "type",
          "depart"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API to evaluate transactions.",
      "name": "Antifraud Api"
    }
  ]
}