{
  "swagger": "2.0",
  "info": {
    "title": "Admin Service API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/uday730/AdminServiceAPI/1.0.0/swagger.json",
    "contact": {},
    "description": "Admin Service API"
  },
  "host": "apim-enterpriseservicesandbx.azure-api.net",
  "basePath": "/adminserviceAPI",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/authorize",
      "tokenUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/token",
      "scopes": {
        "https://zelisdevb2c.onmicrosoft.com/4fcfad86-3860-4c07-92fc-415d749d51ef/demo.read": "demo.read"
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/CreateUser": {
      "post": {
        "tags": [
          "Create User"
        ],
        "operationId": "CreateUser",
        "consumes": [
          "application/json;"
        ],
        "produces": [
          "application/json;"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Save User Details with Roles",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response",
            "schema": {
              "$ref": "#/definitions/createUserResponse"
            }
          }
        },
        "description": "Createuser"
      }
    }
  },
  "definitions": {
    "addRoles": {
      "type": "object",
      "properties": {
        "rolePk": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "createUserRequest": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "companyId": {
          "format": "int32",
          "type": "integer"
        },
        "personRoles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/addRoles"
          }
        }
      }
    },
    "createUserResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "companyId": {
          "format": "int32",
          "type": "integer"
        },
        "tempPassword": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Create User"
    }
  ]
}
