{
  "openapi": "3.0.3",
  "info": {
    "title": "Commerzbank PSD2 AIS API",
    "version": "1.3.11",
    "description": "Commerzbank PSD2 Account Information Service (AIS) API implementing the BerlinGroup XS2A specification version 1.3.11. Provides access to account information, balances, and transactions under PSD2 regulation.",
    "x-jentic-source-url": "https://psd2.developer.commerzbank.com/apis"
  },
  "servers": [
    {
      "url": "https://psd2.api.commerzbank.com/berlingroup/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/consents": {
      "post": {
        "operationId": "createConsent",
        "summary": "Create a new consent",
        "description": "Initialize a new consent request for account information access.",
        "tags": [
          "Consents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/consents/{consent-id}": {
      "get": {
        "operationId": "getConsent",
        "summary": "Get consent details",
        "description": "Retrieve details of a specific consent.",
        "tags": [
          "Consents"
        ],
        "parameters": [
          {
            "name": "consent-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Consent identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Consent details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteConsent",
        "summary": "Revoke a consent",
        "description": "Revoke an active consent.",
        "tags": [
          "Consents"
        ],
        "parameters": [
          {
            "name": "consent-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Consent identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Consent revoked successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/consents/{consent-id}/status": {
      "get": {
        "operationId": "getConsentStatus",
        "summary": "Get consent status",
        "description": "Check the approval status of a consent.",
        "tags": [
          "Consents"
        ],
        "parameters": [
          {
            "name": "consent-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Consent identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Consent status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/consents/{consent-id}/authorisations": {
      "post": {
        "operationId": "createConsentAuthorisation",
        "summary": "Create consent authorisation",
        "description": "Begin SCA authorization workflow for a consent.",
        "tags": [
          "Consents"
        ],
        "parameters": [
          {
            "name": "consent-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Consent identifier"
          }
        ],
        "responses": {
          "201": {
            "description": "Authorisation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorisationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getConsentAuthorisations",
        "summary": "List consent authorisations",
        "description": "List authorization sub-resources for a consent.",
        "tags": [
          "Consents"
        ],
        "parameters": [
          {
            "name": "consent-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Consent identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "List of authorisations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorisationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/consents/{consent-id}/authorisations/{authorisation-id}": {
      "get": {
        "operationId": "getConsentAuthorisationStatus",
        "summary": "Get authorisation status",
        "description": "Check the SCA authorization status for a consent.",
        "tags": [
          "Consents"
        ],
        "parameters": [
          {
            "name": "consent-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Consent identifier"
          },
          {
            "name": "authorisation-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorisation identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorisation status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorisationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "summary": "List accounts",
        "description": "Retrieve all accessible accounts for the authenticated user.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/accounts/{account-id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Fetch information for a specific account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/accounts/{account-id}/balances": {
      "get": {
        "operationId": "getAccountBalances",
        "summary": "Get account balances",
        "description": "Obtain current balance(s) for a specific account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Balances retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    },
    "/accounts/{account-id}/transactions": {
      "get": {
        "operationId": "getAccountTransactions",
        "summary": "Get account transactions",
        "description": "List transaction history for a specific account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account identifier"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for transactions (YYYY-MM-DD)"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for transactions (YYYY-MM-DD)"
          },
          {
            "name": "bookingStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "booked",
                "pending",
                "both"
              ]
            },
            "description": "Booking status filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ais"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ConsentRequest": {
        "type": "object",
        "properties": {
          "access": {
            "type": "object",
            "properties": {
              "accounts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountReference"
                }
              },
              "balances": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountReference"
                }
              },
              "transactions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountReference"
                }
              }
            }
          },
          "recurringIndicator": {
            "type": "boolean"
          },
          "validUntil": {
            "type": "string",
            "format": "date"
          },
          "frequencyPerDay": {
            "type": "integer"
          },
          "combinedServiceIndicator": {
            "type": "boolean"
          }
        }
      },
      "AccountReference": {
        "type": "object",
        "properties": {
          "iban": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "ConsentResponse": {
        "type": "object",
        "properties": {
          "consentId": {
            "type": "string"
          },
          "consentStatus": {
            "type": "string"
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "ConsentStatusResponse": {
        "type": "object",
        "properties": {
          "consentStatus": {
            "type": "string"
          }
        }
      },
      "AuthorisationResponse": {
        "type": "object",
        "properties": {
          "authorisationId": {
            "type": "string"
          },
          "scaStatus": {
            "type": "string"
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "AuthorisationListResponse": {
        "type": "object",
        "properties": {
          "authorisationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthorisationStatusResponse": {
        "type": "object",
        "properties": {
          "scaStatus": {
            "type": "string"
          }
        }
      },
      "AccountListResponse": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountResponse"
            }
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "BalancesResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "balances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "balanceAmount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    }
                  }
                },
                "balanceType": {
                  "type": "string"
                },
                "referenceDate": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        }
      },
      "TransactionsResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "transactions": {
            "type": "object",
            "properties": {
              "booked": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionDetails"
                }
              },
              "pending": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionDetails"
                }
              }
            }
          }
        }
      },
      "TransactionDetails": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "transactionAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              }
            }
          },
          "bookingDate": {
            "type": "string",
            "format": "date"
          },
          "valueDate": {
            "type": "string",
            "format": "date"
          },
          "remittanceInformationUnstructured": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://psd2.api.commerzbank.com/berlingroup/authorize",
            "tokenUrl": "https://psd2.api.commerzbank.com/berlingroup/v1/token",
            "scopes": {
              "ais": "Account Information Service"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "ais"
      ]
    }
  ]
}