{
  "openapi": "3.0.3",
  "info": {
    "title": "Commerzbank PSD2 OAuth2 API",
    "version": "1.3.11",
    "description": "Commerzbank PSD2 OAuth2 Authorization API. Provides OAuth2 endpoints for the PSD2 authorization process including authorize, cancel, and token exchange.",
    "x-jentic-source-url": "https://psd2.developer.commerzbank.com/apis"
  },
  "servers": [
    {
      "url": "https://psd2.api.commerzbank.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/berlingroup/authorize/{authorization-id}": {
      "get": {
        "operationId": "authorize",
        "summary": "OAuth2 Authorize request",
        "description": "Initiates the OAuth2 authorization process for PSD2 consent or payment.",
        "tags": [
          "Authorization"
        ],
        "parameters": [
          {
            "name": "authorization-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorization identifier"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to authorization page"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/berlingroup/authorization/cancel/authorize/{authorization-id}": {
      "get": {
        "operationId": "cancelAuthorize",
        "summary": "OAuth2 Cancellation Authorize request",
        "description": "Initiates the OAuth2 cancellation authorization process.",
        "tags": [
          "Authorization"
        ],
        "parameters": [
          {
            "name": "authorization-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorization identifier"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to cancellation authorization page"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/berlingroup/v1/token": {
      "post": {
        "operationId": "createToken",
        "summary": "Exchange authorization code for access token",
        "description": "Exchange the authorization code provided in the authorization response for an access token.",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "OAuth2 grant type (e.g., authorization_code)"
          },
          "code": {
            "type": "string",
            "description": "Authorization code"
          },
          "redirect_uri": {
            "type": "string",
            "description": "Redirect URI"
          },
          "client_id": {
            "type": "string",
            "description": "Client identifier"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth2 access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (e.g., Bearer)"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token"
          },
          "scope": {
            "type": "string",
            "description": "Granted scopes"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "error_description": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    }
  }
}