{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "x-twitter": "Infermedica"
    },
    "description": "Empower your healthcare services with intelligent diagnostic insights of Infermedica API.",
    "title": "Infermedica API",
    "version": "v2",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/infermedica.com/v2/swagger.yaml",
    "x-logo": {
      "backgroundColor": "#1576D1",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Infermedica_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://api.infermedica.com/v2/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "infermedica.com"
  },
  "servers": [
    {
      "url": "https://api.infermedica.com/v2"
    }
  ],
  "paths": {
    "/concepts": {
      "get": {
        "parameters": [
          {
            "description": "ids",
            "in": "query",
            "name": "ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "types",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ConceptItemModel_Public"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "successful operation",
            "headers": {}
          }
        },
        "tags": [
          "concepts"
        ],
        "operationId": "getConcepts"
      }
    },
    "/concepts/{id}": {
      "get": {
        "parameters": [
          {
            "description": "concept id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptItemModel_Public"
                }
              }
            },
            "description": "successful operation",
            "headers": {}
          }
        },
        "tags": [
          "concepts"
        ],
        "operationId": "getConcept"
      }
    },
    "/conditions": {
      "get": {
        "parameters": [
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "enable 5-level triage values",
            "in": "query",
            "name": "enable_triage_5",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Condition_Public"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "conditions"
        ],
        "description": "Returns a list of all available conditions.",
        "operationId": "getAllConditions",
        "summary": "List all conditions"
      }
    },
    "/conditions/{id}": {
      "get": {
        "parameters": [
          {
            "description": "condition id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "enable 5-level triage values",
            "in": "query",
            "name": "enable_triage_5",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition_Details"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid id specified"
          },
          "404": {
            "description": "Condition not found"
          }
        },
        "tags": [
          "conditions"
        ],
        "description": "Returns details of a single condition specified by id parameter.",
        "operationId": "getCondition",
        "summary": "Get condition by id"
      }
    },
    "/diagnosis": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosisResponse_Public"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "diagnosis"
        ],
        "description": "Suggests possible diagnoses and relevant observations based on provided patient information.",
        "operationId": "computeDiagnosis",
        "requestBody": {
          "$ref": "#/components/requestBodies/DiagnosisRequest"
        },
        "summary": "Query diagnostic engine"
      }
    },
    "/explain": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplanationResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "explain"
        ],
        "description": "Explains which evidence impact probability of selected condition.",
        "operationId": "computeExplanation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplanationRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Query diagnostic engine for explanation"
      }
    },
    "/info": {
      "get": {
        "parameters": [
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Info_Public"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "info"
        ],
        "description": "Returns information about data used by diagnostic engine.",
        "operationId": "getDatabaseInfo",
        "summary": "Get database information"
      }
    },
    "/lab_tests": {
      "get": {
        "parameters": [
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LabTest_Public"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "lab_tests"
        ],
        "description": "Returns a list of all available lab tests.",
        "operationId": "getAllLabTests",
        "summary": "List all lab tests"
      }
    },
    "/lab_tests/{id}": {
      "get": {
        "parameters": [
          {
            "description": "lab test id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabTest_Details"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid id specified"
          },
          "404": {
            "description": "Lab test not found"
          }
        },
        "tags": [
          "lab_tests"
        ],
        "description": "Returns details of a single lab test specified by id parameter.",
        "operationId": "getLabTest",
        "summary": "Get lab test by id"
      }
    },
    "/lookup": {
      "get": {
        "parameters": [
          {
            "description": "phrase to match",
            "in": "query",
            "name": "phrase",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "sex filter",
            "in": "query",
            "name": "sex",
            "required": false,
            "schema": {
              "enum": [
                "male",
                "female"
              ],
              "type": "string"
            }
          },
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Phrase missing or invalid sex specified"
          },
          "404": {
            "description": "No observation matches given phrase"
          }
        },
        "tags": [
          "lookup"
        ],
        "description": "Returns a single observation matching given phrase.",
        "operationId": "getMatchingObservation",
        "summary": "Find observation matching given phrase"
      }
    },
    "/parse": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Text too long"
          }
        },
        "tags": [
          "parse"
        ],
        "description": "Returns list of mentions of observation found in given text.",
        "operationId": "getMentions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParseRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Find mentions of observations in given text"
      }
    },
    "/rationale": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RationaleResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "rationale"
        ],
        "description": "Returns rationale behind the question asked by the system.",
        "operationId": "computeRationale",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RationaleRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Query diagnostic engine for question rationale"
      }
    },
    "/red_flags": {
      "post": {
        "parameters": [
          {
            "description": "maximum number of results",
            "in": "query",
            "name": "max_results",
            "required": false,
            "schema": {
              "default": 8,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SuggestResult"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "red_flags"
        ],
        "description": "Suggests possible red flag symptoms based on provided patient information.",
        "operationId": "computeRedFlags",
        "requestBody": {
          "$ref": "#/components/requestBodies/DiagnosisRequest"
        },
        "summary": "Query the diagnostic engine for possible red flag symptoms"
      }
    },
    "/risk_factors": {
      "get": {
        "parameters": [
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "enable 5-level triage values",
            "in": "query",
            "name": "enable_triage_5",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RiskFactor_Public"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "risk_factors"
        ],
        "description": "Returns a list of all available risk factors.",
        "operationId": "getAllRiskFactors",
        "summary": "List all risk factors"
      }
    },
    "/risk_factors/{id}": {
      "get": {
        "parameters": [
          {
            "description": "risk factor id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "enable 5-level triage values",
            "in": "query",
            "name": "enable_triage_5",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskFactor_Details"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid id specified"
          },
          "404": {
            "description": "Risk factor not found"
          }
        },
        "tags": [
          "risk_factors"
        ],
        "description": "Returns details of a single risk factor specified by id parameter.",
        "operationId": "getRiskFactor",
        "summary": "Get risk factor by id"
      }
    },
    "/search": {
      "get": {
        "parameters": [
          {
            "description": "phrase to match",
            "in": "query",
            "name": "phrase",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "sex filter",
            "in": "query",
            "name": "sex",
            "required": false,
            "schema": {
              "enum": [
                "male",
                "female"
              ],
              "type": "string"
            }
          },
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "maximum number of results",
            "in": "query",
            "name": "max_results",
            "required": false,
            "schema": {
              "default": 8,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "type of results",
            "explode": true,
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "symptom",
                  "risk_factor",
                  "lab_test"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SearchResult"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Phrase missing or invalid sex specified"
          }
        },
        "tags": [
          "search"
        ],
        "description": "Returns list of observations matching the given phrase.",
        "operationId": "getMatchingObservations",
        "summary": "Find observations matching given phrase"
      }
    },
    "/suggest": {
      "post": {
        "parameters": [
          {
            "description": "maximum number of results",
            "in": "query",
            "name": "max_results",
            "required": false,
            "schema": {
              "default": 8,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SuggestResult"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "suggest"
        ],
        "description": "Suggests possible symptoms based on provided patient information.",
        "operationId": "getSuggestions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Query diagnostic engine for related symptoms"
      }
    },
    "/symptoms": {
      "get": {
        "parameters": [
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "enable 5-level triage values",
            "in": "query",
            "name": "enable_triage_5",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Symptom_Public"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "symptoms"
        ],
        "description": "Returns a list of all available symptoms.",
        "operationId": "getAllSymptoms",
        "summary": "List all symptoms"
      }
    },
    "/symptoms/{id}": {
      "get": {
        "parameters": [
          {
            "description": "symptoms id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "age value",
            "example": 18,
            "in": "query",
            "name": "age.value",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "unit in which age value was provided",
            "example": "year",
            "in": "query",
            "name": "age.unit",
            "required": false,
            "schema": {
              "default": "year",
              "enum": [
                "year",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "description": "enable 5-level triage values",
            "in": "query",
            "name": "enable_triage_5",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Symptom_Details"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid id specified"
          },
          "404": {
            "description": "symptom not found"
          }
        },
        "tags": [
          "symptoms"
        ],
        "description": "Returns details of a single symptom specified by id parameter.",
        "operationId": "getSymptom",
        "summary": "Get symptoms by id"
      }
    },
    "/triage": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriageResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "triage"
        ],
        "description": "Estimates triage level based on provided patient information.",
        "operationId": "computeTriage",
        "requestBody": {
          "$ref": "#/components/requestBodies/DiagnosisRequest"
        },
        "summary": "Query diagnostic engine for triage level"
      }
    }
  },
  "components": {
    "requestBodies": {
      "DiagnosisRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DiagnosisRequest"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "Choice_Public": {
        "properties": {
          "id": {
            "enum": [
              "present",
              "absent",
              "unknown"
            ],
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "type": "object"
      },
      "ConceptItemModel_Public": {
        "properties": {
          "common_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "enum": [
              "condition",
              "symptom",
              "risk_factor",
              "lab_test"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConditionProbability_Public": {
        "properties": {
          "common_name": {
            "description": "condition common name",
            "type": "string"
          },
          "id": {
            "description": "condition id",
            "type": "string"
          },
          "name": {
            "description": "condition name",
            "type": "string"
          },
          "probability": {
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "probability"
        ],
        "type": "object"
      },
      "Condition_Details": {
        "properties": {
          "acuteness": {
            "enum": [
              "chronic",
              "chronic_with_exacerbations",
              "acute_potentially_chronic",
              "acute"
            ],
            "type": "string"
          },
          "categories": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "common_name": {
            "type": "string"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like custom properties or images",
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prevalence": {
            "enum": [
              "very_rare",
              "rare",
              "moderate",
              "common"
            ],
            "type": "string"
          },
          "severity": {
            "enum": [
              "mild",
              "moderate",
              "severe"
            ],
            "type": "string"
          },
          "sex_filter": {
            "enum": [
              "both",
              "male",
              "female"
            ],
            "type": "string"
          },
          "triage_level": {
            "enum": [
              "emergency_ambulance",
              "emergency",
              "consultation_24",
              "consultation",
              "self_care"
            ],
            "type": "string"
          }
        },
        "required": [
          "categories",
          "id",
          "name",
          "sex_filter"
        ],
        "type": "object"
      },
      "Condition_Public": {
        "properties": {
          "acuteness": {
            "enum": [
              "chronic",
              "chronic_with_exacerbations",
              "acute_potentially_chronic",
              "acute"
            ],
            "type": "string"
          },
          "categories": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "common_name": {
            "type": "string"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like custom properties or images",
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prevalence": {
            "enum": [
              "very_rare",
              "rare",
              "moderate",
              "common"
            ],
            "type": "string"
          },
          "severity": {
            "enum": [
              "mild",
              "moderate",
              "severe"
            ],
            "type": "string"
          },
          "sex_filter": {
            "enum": [
              "both",
              "male",
              "female"
            ],
            "type": "string"
          },
          "triage_level": {
            "enum": [
              "emergency_ambulance",
              "emergency",
              "consultation_24",
              "consultation",
              "self_care"
            ],
            "type": "string"
          }
        },
        "required": [
          "categories",
          "id",
          "name",
          "sex_filter"
        ],
        "type": "object"
      },
      "DiagnosisRequest": {
        "properties": {
          "age": {
            "example": "18",
            "type": "object"
          },
          "evaluated_at": {
            "description": "time when diagnosis was evaluated in ISO 8601 format",
            "example": "2020-06-02",
            "readOnly": true,
            "type": "string"
          },
          "evidence": {
            "items": {
              "$ref": "#/components/schemas/Evidence"
            },
            "type": "array"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "sex": {
            "enum": [
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "required": [
          "age",
          "sex"
        ],
        "type": "object"
      },
      "DiagnosisResponse_Public": {
        "properties": {
          "conditions": {
            "items": {
              "$ref": "#/components/schemas/ConditionProbability_Public"
            },
            "type": "array"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "question": {
            "$ref": "#/components/schemas/Question_Public"
          },
          "should_stop": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Evidence": {
        "properties": {
          "choice_id": {
            "enum": [
              "present",
              "absent",
              "unknown"
            ],
            "type": "string"
          },
          "id": {
            "description": "id of observation or condition",
            "example": "s_1",
            "type": "string"
          },
          "observed_at": {
            "description": "time when evidence was observed in ISO 8601 format",
            "example": "2020-06-02",
            "type": "string"
          },
          "source": {
            "description": "Flag describing evidence origin",
            "enum": [
              "initial",
              "suggest",
              "predefined",
              "red_flags"
            ],
            "type": "string"
          }
        },
        "required": [
          "choice_id",
          "id"
        ],
        "type": "object"
      },
      "ExplanationEvidence": {
        "properties": {
          "common_name": {
            "description": "observation common name",
            "type": "string"
          },
          "id": {
            "description": "observation id",
            "type": "string"
          },
          "name": {
            "description": "observation name",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "ExplanationRequest": {
        "properties": {
          "age": {
            "example": "18",
            "type": "object"
          },
          "evaluated_at": {
            "description": "time when diagnosis was evaluated in ISO 8601 format",
            "example": "2020-06-02",
            "readOnly": true,
            "type": "string"
          },
          "evidence": {
            "items": {
              "$ref": "#/components/schemas/Evidence"
            },
            "type": "array"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "sex": {
            "enum": [
              "male",
              "female"
            ],
            "type": "string"
          },
          "target": {
            "description": "target condition id",
            "example": "c_1",
            "type": "string"
          }
        },
        "required": [
          "age",
          "sex",
          "target"
        ],
        "type": "object"
      },
      "ExplanationResponse": {
        "properties": {
          "conflicting_evidence": {
            "description": "conflicting evidence",
            "items": {
              "$ref": "#/components/schemas/ExplanationEvidence"
            },
            "type": "array"
          },
          "supporting_evidence": {
            "description": "supporting evidence",
            "items": {
              "$ref": "#/components/schemas/ExplanationEvidence"
            },
            "type": "array"
          },
          "unconfirmed_evidence": {
            "description": "unconfirmed evidence",
            "items": {
              "$ref": "#/components/schemas/ExplanationEvidence"
            },
            "type": "array"
          }
        },
        "required": [
          "conflicting_evidence",
          "supporting_evidence",
          "unconfirmed_evidence"
        ],
        "type": "object"
      },
      "Info_Public": {
        "properties": {
          "api_version": {
            "description": "version of api release",
            "type": "string"
          },
          "conditions_count": {
            "format": "int32",
            "type": "integer"
          },
          "lab_tests_count": {
            "format": "int32",
            "type": "integer"
          },
          "risk_factors_count": {
            "format": "int32",
            "type": "integer"
          },
          "symptoms_count": {
            "format": "int32",
            "type": "integer"
          },
          "updated_at": {
            "description": "time of last model update in ISO 8601 format",
            "type": "string"
          }
        },
        "required": [
          "conditions_count",
          "lab_tests_count",
          "risk_factors_count",
          "symptoms_count",
          "updated_at"
        ],
        "type": "object"
      },
      "LabTestResult_Details": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "enum": [
              "very_low",
              "low",
              "normal",
              "high",
              "very_high",
              "absent",
              "present"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object"
      },
      "LabTestResult_Public": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "enum": [
              "very_low",
              "low",
              "normal",
              "high",
              "very_high",
              "absent",
              "present"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object"
      },
      "LabTest_Details": {
        "properties": {
          "category": {
            "type": "string"
          },
          "common_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/LabTestResult_Details"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "LabTest_Public": {
        "properties": {
          "category": {
            "type": "string"
          },
          "common_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/LabTestResult_Public"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "ObservationMention": {
        "properties": {
          "choice_id": {
            "enum": [
              "present",
              "absent",
              "unknown"
            ],
            "type": "string"
          },
          "common_name": {
            "description": "observation common name",
            "type": "string"
          },
          "head_position": {
            "format": "int32",
            "type": "integer"
          },
          "id": {
            "description": "observation id",
            "type": "string"
          },
          "name": {
            "description": "observation name",
            "type": "string"
          },
          "orth": {
            "type": "string"
          },
          "positions": {
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array"
          }
        },
        "required": [
          "choice_id",
          "head_position",
          "id",
          "name",
          "orth",
          "positions"
        ],
        "type": "object"
      },
      "ParseRequest": {
        "properties": {
          "concept_types": {
            "description": "list of concept types that should be captured",
            "items": {
              "enum": [
                "symptom",
                "risk_factor"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "context": {
            "description": "ordered list of ids of present symptoms that were already captured and can be used as context",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "correct_spelling": {
            "description": "correct spelling of input text before proper analysis",
            "type": "boolean"
          },
          "include_tokens": {
            "description": "include tokenization details in output",
            "type": "boolean"
          },
          "text": {
            "description": "user text to process",
            "type": "string"
          }
        },
        "required": [
          "text"
        ],
        "type": "object"
      },
      "ParseResponse": {
        "properties": {
          "mentions": {
            "description": "list of recognized symptom or risk factor mentions",
            "items": {
              "$ref": "#/components/schemas/ObservationMention"
            },
            "type": "array"
          },
          "obvious": {
            "description": "indicates that entire input text has been parsed successfully and unambiguously",
            "type": "boolean"
          },
          "tokens": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "mentions",
          "obvious"
        ],
        "type": "object"
      },
      "QuestionItem_Public": {
        "properties": {
          "choices": {
            "description": "list of available answer choices",
            "items": {
              "$ref": "#/components/schemas/Choice_Public"
            },
            "type": "array"
          },
          "id": {
            "description": "observation id",
            "type": "string"
          },
          "name": {
            "description": "name or alias of observation",
            "type": "string"
          }
        },
        "required": [
          "choices",
          "id",
          "name"
        ],
        "type": "object"
      },
      "Question_Public": {
        "properties": {
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like images or HTML",
            "type": "object"
          },
          "items": {
            "description": "one or more observations to evaluate",
            "items": {
              "$ref": "#/components/schemas/QuestionItem_Public"
            },
            "type": "array"
          },
          "text": {
            "description": "question text",
            "type": "string"
          },
          "type": {
            "enum": [
              "single",
              "group_single",
              "group_multiple"
            ],
            "type": "string"
          }
        },
        "required": [
          "items",
          "text"
        ],
        "type": "object"
      },
      "RationaleParam": {
        "properties": {
          "common_name": {
            "description": "observation or condition common name",
            "type": "string"
          },
          "id": {
            "description": "observation or condition id",
            "type": "string"
          },
          "name": {
            "description": "observation or condition name",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "RationaleRequest": {
        "properties": {
          "age": {
            "example": "18",
            "type": "object"
          },
          "evaluated_at": {
            "description": "time when diagnosis was evaluated in ISO 8601 format",
            "example": "2020-06-02",
            "readOnly": true,
            "type": "string"
          },
          "evidence": {
            "items": {
              "$ref": "#/components/schemas/Evidence"
            },
            "type": "array"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "sex": {
            "enum": [
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "required": [
          "age",
          "sex"
        ],
        "type": "object"
      },
      "RationaleResponse": {
        "properties": {
          "condition_params": {
            "description": "condition params",
            "items": {
              "$ref": "#/components/schemas/RationaleParam"
            },
            "type": "array"
          },
          "observation_params": {
            "description": "observation params",
            "items": {
              "$ref": "#/components/schemas/RationaleParam"
            },
            "type": "array"
          },
          "type": {
            "description": "type",
            "enum": [
              "r0",
              "r1",
              "r2",
              "r3",
              "r4",
              "r5",
              "r6"
            ],
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "RiskFactor_Details": {
        "properties": {
          "category": {
            "type": "string"
          },
          "common_name": {
            "type": "string"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like custom properties or images",
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "image_source": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "question": {
            "description": "only available in object details, not in listing",
            "type": "string"
          },
          "sex_filter": {
            "enum": [
              "both",
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "question",
          "sex_filter"
        ],
        "type": "object"
      },
      "RiskFactor_Public": {
        "properties": {
          "category": {
            "type": "string"
          },
          "common_name": {
            "type": "string"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like custom properties or images",
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "image_source": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sex_filter": {
            "enum": [
              "both",
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "sex_filter"
        ],
        "type": "object"
      },
      "SearchResult": {
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "description": "matched phrase, name or its synonym",
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "type": "object"
      },
      "SeriousObservation": {
        "properties": {
          "common_name": {
            "description": "observation common name",
            "type": "string"
          },
          "id": {
            "description": "observation id",
            "type": "string"
          },
          "is_emergency": {
            "type": "boolean"
          },
          "name": {
            "description": "observation name",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "SuggestRequest": {
        "properties": {
          "age": {
            "example": "18",
            "type": "object"
          },
          "evaluated_at": {
            "description": "time when diagnosis was evaluated in ISO 8601 format",
            "example": "2020-06-02",
            "readOnly": true,
            "type": "string"
          },
          "evidence": {
            "items": {
              "$ref": "#/components/schemas/Evidence"
            },
            "type": "array"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "sex": {
            "enum": [
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "SuggestResult": {
        "properties": {
          "common_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "Symptom_Details": {
        "properties": {
          "category": {
            "type": "string"
          },
          "children": {
            "description": "list of child symptoms",
            "type": "object"
          },
          "common_name": {
            "type": "string"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like custom properties or images",
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "image_source": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "description": "id of parent symptom",
            "type": "string"
          },
          "parent_relation": {
            "description": "type of relation with parent symptom",
            "enum": [
              "base",
              "duration",
              "severity",
              "character",
              "exacerbating_factor",
              "diminishing_factor",
              "location",
              "radiation"
            ],
            "type": "string"
          },
          "question": {
            "description": "only available in object details, not in listing",
            "type": "string"
          },
          "sex_filter": {
            "enum": [
              "both",
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "question",
          "sex_filter"
        ],
        "type": "object"
      },
      "Symptom_Public": {
        "properties": {
          "category": {
            "type": "string"
          },
          "children": {
            "description": "list of child symptoms",
            "type": "object"
          },
          "common_name": {
            "type": "string"
          },
          "extras": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "additional content, like custom properties or images",
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "image_source": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "description": "id of parent symptom",
            "type": "string"
          },
          "parent_relation": {
            "description": "type of relation with parent symptom",
            "enum": [
              "base",
              "duration",
              "severity",
              "character",
              "exacerbating_factor",
              "diminishing_factor",
              "location",
              "radiation"
            ],
            "type": "string"
          },
          "sex_filter": {
            "enum": [
              "both",
              "male",
              "female"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "sex_filter"
        ],
        "type": "object"
      },
      "TriageResponse": {
        "properties": {
          "root_cause": {
            "enum": [
              "r1",
              "r2",
              "r3",
              "r4",
              "r5",
              "r6",
              "r7",
              "r8",
              "r9",
              "r10",
              "r11",
              "r12"
            ],
            "type": "string"
          },
          "serious": {
            "items": {
              "$ref": "#/components/schemas/SeriousObservation"
            },
            "type": "array",
            "uniqueItems": true
          },
          "teleconsultation_applicable": {
            "type": "boolean"
          },
          "triage_level": {
            "enum": [
              "emergency_ambulance",
              "emergency",
              "consultation_24",
              "consultation",
              "self_care"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "info"
    },
    {
      "name": "diagnosis"
    },
    {
      "name": "explain"
    },
    {
      "name": "conditions"
    },
    {
      "name": "symptoms"
    },
    {
      "name": "lab_tests"
    },
    {
      "name": "risk_factors"
    },
    {
      "name": "search"
    },
    {
      "name": "parse"
    },
    {
      "name": "lookup"
    },
    {
      "name": "concepts"
    },
    {
      "name": "rationale"
    },
    {
      "name": "recommend_specialist"
    },
    {
      "name": "red_flags"
    },
    {
      "name": "triage"
    },
    {
      "name": "suggest"
    }
  ]
}