{
  "openapi": "3.0.3",
  "info": {
    "title": "Klenty API",
    "description": "Klenty is a sales engagement and lead generation tool that helps you send personalized emails and automated followups at scale. This API allows extracting data and performing actions on prospects and lists.",
    "version": "1.0.0",
    "x-jentic-source-url": "http://support.klenty.com/en/articles/3197537-klenty-api"
  },
  "servers": [
    {
      "url": "https://api.klenty.com/apis/v1/user/{username}",
      "variables": {
        "username": {
          "default": "your-email@example.com",
          "description": "Your Klenty account username (email)"
        }
      }
    }
  ],
  "paths": {
    "/prospects": {
      "get": {
        "operationId": "listProspects",
        "tags": [
          "Prospects"
        ],
        "summary": "List prospects",
        "description": "Retrieve prospects, optionally filtered by list name",
        "parameters": [
          {
            "name": "listName",
            "in": "query",
            "description": "Filter by list name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of prospects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Prospect"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProspect",
        "tags": [
          "Prospects"
        ],
        "summary": "Create a new prospect",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prospect created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prospect"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{email}": {
      "get": {
        "operationId": "getProspect",
        "tags": [
          "Prospects"
        ],
        "summary": "Get a prospect by email",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Prospect email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prospect"
                }
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "listLists",
        "tags": [
          "Lists"
        ],
        "summary": "Get all prospect lists",
        "responses": {
          "200": {
            "description": "List of prospect lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProspectList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/startCadence": {
      "post": {
        "operationId": "startCadence",
        "tags": [
          "Cadences"
        ],
        "summary": "Start a cadence for a prospect",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartCadenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cadence started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-API-key"
      }
    },
    "schemas": {
      "Prospect": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "listName": {
            "type": "string"
          }
        }
      },
      "ProspectInput": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "listName": {
            "type": "string"
          }
        }
      },
      "ProspectList": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "StartCadenceRequest": {
        "type": "object",
        "required": [
          "email",
          "cadenceName"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Prospect email"
          },
          "cadenceName": {
            "type": "string",
            "description": "Name of the cadence to start"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Prospects",
      "description": "Manage prospects"
    },
    {
      "name": "Lists",
      "description": "Manage prospect lists"
    },
    {
      "name": "Cadences",
      "description": "Manage cadences/sequences"
    }
  ]
}