{
  "openapi": "3.0.3",
  "info": {
    "title": "MoEngage Data API",
    "description": "MoEngage Data API for customer engagement and analytics. Note: Full documentation was not accessible.",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://raw.githubusercontent.com/sophie-jentic/openapi-specs/refs/heads/import-jentic-pr-specs/moengage.com/data-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.moengage.com/v1"
    }
  ],
  "paths": {
    "/events": {
      "post": {
        "summary": "Track user events",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_id": {
                    "type": "string"
                  },
                  "event_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "customer_id",
                  "event_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ],
        "description": "Track user events",
        "operationId": "post-events"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppIdAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "MOE-APPID"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "MOE-API-KEY"
      }
    }
  },
  "security": [
    {
      "AppIdAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "events"
    }
  ]
}