{
  "openapi": "3.0.3",
  "info": {
    "title": "Cobalt Pentest API",
    "version": "2.0.0",
    "description": "The Cobalt API provides programmatic access to the Cobalt penetration testing as a service (PTaaS) platform. Manage organizations, pentests, assets, and findings. Authentication uses a personal API token passed as a Bearer token in the Authorization header, along with an X-Org-Token header for organization context.",
    "x-jentic-source-url": "https://docs.cobalt.io/cobalt-api/create-personal-api-token",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cobalt.io",
      "description": "Cobalt API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Manage organizations"
    },
    {
      "name": "Pentests",
      "description": "Manage pentests"
    },
    {
      "name": "Assets",
      "description": "Manage assets"
    },
    {
      "name": "Findings",
      "description": "Manage findings"
    },
    {
      "name": "Events",
      "description": "Activity events"
    },
    {
      "name": "Tokens",
      "description": "API token management"
    }
  ],
  "paths": {
    "/orgs": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "description": "List all organizations the authenticated user belongs to.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/pentests": {
      "get": {
        "operationId": "listPentests",
        "summary": "List pentests",
        "description": "List all pentests for the organization specified in the X-Org-Token header.",
        "tags": [
          "Pentests"
        ],
        "parameters": [
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pentests",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/PentestListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/pentests/{pentestId}": {
      "get": {
        "operationId": "getPentest",
        "summary": "Get pentest details",
        "description": "Get details of a specific pentest.",
        "tags": [
          "Pentests"
        ],
        "parameters": [
          {
            "name": "pentestId",
            "in": "path",
            "required": true,
            "description": "Pentest ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pentest details",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/PentestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "description": "List all assets for the organization.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get asset details",
        "description": "Get details of a specific asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "Asset ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/findings": {
      "get": {
        "operationId": "listFindings",
        "summary": "List findings",
        "description": "List all findings for the organization.",
        "tags": [
          "Findings"
        ],
        "parameters": [
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pentest_id",
            "in": "query",
            "description": "Filter findings by pentest ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "query",
            "description": "Filter findings by asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of findings",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/FindingListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/findings/{findingId}": {
      "get": {
        "operationId": "getFinding",
        "summary": "Get finding details",
        "description": "Get details of a specific finding.",
        "tags": [
          "Findings"
        ],
        "parameters": [
          {
            "name": "findingId",
            "in": "path",
            "required": true,
            "description": "Finding ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finding details",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/FindingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "List activity events for the organization.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "X-Org-Token",
            "in": "header",
            "required": true,
            "description": "Organization token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "operationId": "listTokens",
        "summary": "List API tokens",
        "description": "List API tokens for the authenticated user.",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/vnd.cobalt.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal API token from Cobalt settings (https://app.cobalt.io/settings/api-tokens)"
      }
    },
    "schemas": {
      "OrganizationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "token": {
                "type": "string",
                "description": "Organization token for X-Org-Token header"
              }
            }
          }
        }
      },
      "PentestListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pentest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PentestResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Pentest"
          }
        }
      },
      "Pentest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "pentest_type": {
                "type": "string"
              },
              "start_date": {
                "type": "string",
                "format": "date"
              },
              "end_date": {
                "type": "string",
                "format": "date"
              },
              "asset_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "AssetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "AssetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Asset"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "asset_type": {
                "type": "string"
              }
            }
          }
        }
      },
      "FindingListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "FindingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Finding"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "severity": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "pentest_id": {
                "type": "string"
              },
              "asset_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "subject": {
                "type": "object"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "TokenListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "last_four_characters": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "next_page": {
            "type": "string",
            "nullable": true
          },
          "prev_page": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid API token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
