{
  "openapi": "3.0.3",
  "info": {
    "title": "Hirak OCR API",
    "description": "Image to text recognition API supporting more than 100 languages. Extracts text from images using optical character recognition (OCR).",
    "version": "1.0.0",
    "contact": {
      "name": "Hirak OCR",
      "url": "https://ocr.hirak.site/"
    }
  },
  "servers": [
    {
      "url": "https://ocr.hirak.site/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/ocr": {
      "post": {
        "operationId": "recognizeText",
        "summary": "Extract text from image",
        "description": "Performs optical character recognition on the provided image and returns the extracted text. Supports more than 100 languages.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to extract text from."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for OCR processing (e.g., 'en', 'fr', 'de'). If not specified, auto-detection is used.",
                    "default": "en"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the image to extract text from."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for OCR processing (e.g., 'en', 'fr', 'de'). If not specified, auto-detection is used.",
                    "default": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful text extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OcrResponse"
                },
                "example": {
                  "status": "success",
                  "text": "Hello World! This is extracted text from the image.",
                  "language": "en",
                  "confidence": 95.5
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid image or parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "413": {
            "description": "Payload too large - Image exceeds size limit"
          },
          "422": {
            "description": "Unprocessable entity - Unable to extract text from the image"
          }
        },
        "tags": [
          "ocr"
        ]
      }
    },
    "/languages": {
      "get": {
        "operationId": "listSupportedLanguages",
        "summary": "List supported OCR languages",
        "description": "Returns a list of all languages supported for OCR processing.",
        "responses": {
          "200": {
            "description": "List of supported languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                },
                "example": [
                  {
                    "code": "en",
                    "name": "English"
                  },
                  {
                    "code": "fr",
                    "name": "French"
                  },
                  {
                    "code": "de",
                    "name": "German"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "languages"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication."
      }
    },
    "schemas": {
      "OcrResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the OCR operation.",
            "enum": [
              "success",
              "error"
            ]
          },
          "text": {
            "type": "string",
            "description": "Extracted text from the image."
          },
          "language": {
            "type": "string",
            "description": "Detected or specified language of the text."
          },
          "confidence": {
            "type": "number",
            "format": "double",
            "description": "Confidence score of the OCR result (0-100)."
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Language code."
          },
          "name": {
            "type": "string",
            "description": "Language name."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "languages"
    },
    {
      "name": "ocr"
    }
  ]
}
