{
  "openapi": "3.0.3",
  "info": {
    "title": "GrowthHero API",
    "description": "The GrowthHero API is a RESTful API for managing affiliate and refer-a-friend programs. It allows you to manage partners, orders, groups, payout batches, and subscriptions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://growthhero.docs.apiary.io/"
  },
  "servers": [
    {
      "url": "https://api.growthhero.io/public_api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/partners": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "List all partners",
        "description": "Returns a paginated list of all your partners.",
        "operationId": "listPartners",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter the partner list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of partners",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Partner"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "Create a new partner",
        "description": "Create a new affiliate account.",
        "operationId": "createPartner",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Partner created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partners/{id}": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Get a partner",
        "description": "Returns a single partner by ID.",
        "operationId": "getPartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Partner ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partner details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "Update a partner",
        "description": "Update an existing affiliate account.",
        "operationId": "updatePartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Partner ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Partner updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Partners"
        ],
        "summary": "Delete a partner",
        "description": "Destroy an existing affiliate account.",
        "operationId": "deletePartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Partner ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partner deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partners/{id}/generate_payout": {
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "Generate payout for a partner",
        "description": "Generate a payout for the remaining balance of the partner.",
        "operationId": "generatePartnerPayout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Partner ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_type": {
                    "type": "string",
                    "example": "manual"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partners/{id}/adjust_balance": {
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "Adjust partner balance",
        "description": "Adjust the balance of a partner either positively or negatively.",
        "operationId": "adjustPartnerBalance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Partner ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to adjust (negative for deductions)",
                    "example": -100
                  },
                  "note": {
                    "type": "string",
                    "description": "Note for the adjustment",
                    "example": "Prepaid commission"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balance adjusted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partners/{id}/transactions": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Get partner transactions",
        "description": "Get all transactions for a partner. Filter by type.",
        "operationId": "listPartnerTransactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Partner ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of resources per page (max 250, default 25)",
            "schema": {
              "type": "integer",
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-separated types to filter: ManualTransaction, OrderCommission, DiscountPayout, PaypalMassPayout, ManualPayout",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List all orders",
        "description": "Returns a paginated list of all orders referred by your partners.",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter the order list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order",
        "description": "Create a new affiliated order.",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order",
        "description": "Returns a single order by ID.",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete an order",
        "description": "Destroy an existing affiliated order.",
        "operationId": "deleteOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List all groups",
        "description": "Retrieve a paginated list of all groups. Returns 25 groups per page.",
        "operationId": "listGroups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter groups by name or slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_all",
            "in": "query",
            "description": "Skip pagination and return all groups",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter groups by type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a new group",
        "description": "Create a new partner group.",
        "operationId": "createGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve a group",
        "description": "Get a single group by ID.",
        "operationId": "getGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Update a group",
        "description": "Update an existing group.",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Remove a group",
        "description": "Delete an existing group.",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payout_batches": {
      "get": {
        "tags": [
          "PayoutBatches"
        ],
        "summary": "List all payout batches",
        "description": "Retrieve a paginated list of all payout batches. Returns 25 per page.",
        "operationId": "listPayoutBatches",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "Filter by partner ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payout batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PayoutBatch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PayoutBatches"
        ],
        "summary": "Generate new payout batch",
        "description": "Generate a mass payout for all eligible partners with eligible balance.",
        "operationId": "createPayoutBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutBatchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout batch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatchDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payout_batches/{id}": {
      "get": {
        "tags": [
          "PayoutBatches"
        ],
        "summary": "Retrieve a payout batch",
        "description": "Get details of a single payout batch.",
        "operationId": "getPayoutBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payout batch ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout batch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatchDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PayoutBatches"
        ],
        "summary": "Remove a payout batch",
        "description": "Delete a payout batch.",
        "operationId": "deletePayoutBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payout batch ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Payout batch deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payout_batches/{id}/mark_as_paid": {
      "post": {
        "tags": [
          "PayoutBatches"
        ],
        "summary": "Mark payout batch as paid",
        "description": "Mark a pending payout batch as paid.",
        "operationId": "markPayoutBatchAsPaid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payout batch ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout batch marked as paid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatchDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List all subscriptions",
        "description": "Retrieve a paginated list of all subscriptions. Returns 25 per page.",
        "operationId": "listSubscriptions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by partner name, customer name, or plan name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a new subscription",
        "description": "Create a new customer subscription.",
        "operationId": "createSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Retrieve a subscription",
        "description": "Get a single subscription by ID.",
        "operationId": "getSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update a subscription",
        "description": "Update an existing subscription.",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Remove a subscription",
        "description": "Delete a subscription.",
        "operationId": "deleteSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Your API key from Settings > Integrations > API page"
      }
    },
    "schemas": {
      "Partner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 304
          },
          "email": {
            "type": "string",
            "example": "partner-a@growthhero.io"
          },
          "firstName": {
            "type": "string",
            "example": "Partner"
          },
          "lastName": {
            "type": "string",
            "example": "A"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "balance": {
            "type": "string",
            "example": "222.1"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "additionalFields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PartnerDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          },
          "groupName": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "discountCode": {
            "type": "string"
          },
          "mainReferralLink": {
            "type": "string"
          },
          "customerExternalId": {
            "type": "string",
            "nullable": true
          },
          "additionalFields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "paypalEmail": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PartnerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "password_confirmation": {
            "type": "string"
          },
          "group_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "paypal_email": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "discount_code": {
            "type": "string"
          },
          "internal": {
            "type": "boolean"
          },
          "mlm_enabled": {
            "type": "boolean"
          },
          "referral_partner_id": {
            "type": "integer"
          },
          "shopify_id": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "orderNumber": {
            "type": "string"
          },
          "orderCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalPrice": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "totalRefund": {
            "type": "string",
            "nullable": true
          },
          "partnerId": {
            "type": "integer"
          }
        }
      },
      "OrderDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "orderNumber": {
            "type": "string"
          },
          "orderCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "totalPrice": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "commissionAmount": {
            "type": "string"
          },
          "commissionCurrency": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "totalRefund": {
            "type": "string",
            "nullable": true
          },
          "partnerId": {
            "type": "integer"
          },
          "partnerName": {
            "type": "string"
          },
          "partnerEmail": {
            "type": "string"
          },
          "orderType": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": [
          "order_number",
          "total_price"
        ],
        "properties": {
          "order_number": {
            "type": "string"
          },
          "partner_id": {
            "type": "integer"
          },
          "auto_match_partner": {
            "type": "boolean"
          },
          "external_id": {
            "type": "string"
          },
          "total_price": {
            "type": "string"
          },
          "subtotal_price": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "customer_first_name": {
            "type": "string"
          },
          "customer_last_name": {
            "type": "string"
          },
          "subscription_id": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductRequest"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          }
        }
      },
      "ProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "paymentStatus": {
            "type": "string"
          },
          "invoiceAmount": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "private": {
            "type": "boolean"
          },
          "defaultReferral": {
            "type": "boolean"
          },
          "defaultAffiliate": {
            "type": "boolean"
          },
          "partnersCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "partnerReward": {
            "$ref": "#/components/schemas/Reward"
          },
          "customerReward": {
            "$ref": "#/components/schemas/Reward"
          }
        }
      },
      "GroupRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Shopify: affiliate/referral; Standalone/BigCommerce: affiliate"
          },
          "slug": {
            "type": "string"
          },
          "cookie_days": {
            "type": "integer"
          },
          "auto_approve": {
            "type": "boolean"
          },
          "holding_period": {
            "type": "integer"
          },
          "private": {
            "type": "boolean"
          },
          "partner_reward": {
            "$ref": "#/components/schemas/Reward"
          },
          "customer_reward": {
            "$ref": "#/components/schemas/Reward"
          }
        }
      },
      "Reward": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "order_percent"
          },
          "value": {
            "type": "number",
            "example": 5
          }
        }
      },
      "PayoutBatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "totalAmount": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "paymentType": {
            "type": "string"
          }
        }
      },
      "PayoutBatchDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "totalAmount": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "paymentType": {
            "type": "string"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        }
      },
      "PayoutBatchRequest": {
        "type": "object",
        "required": [
          "payment_type"
        ],
        "properties": {
          "payment_type": {
            "type": "string"
          },
          "group_id": {
            "type": "integer"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "externalId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "planName": {
            "type": "string"
          },
          "trialStartAt": {
            "type": "string",
            "format": "date-time"
          },
          "trialEndAt": {
            "type": "string",
            "format": "date-time"
          },
          "subscribedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer"
          },
          "partnerName": {
            "type": "string"
          },
          "groupId": {
            "type": "integer"
          },
          "groupName": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/SubscriptionCustomer"
          }
        }
      },
      "SubscriptionRequest": {
        "type": "object",
        "required": [
          "external_id",
          "provider",
          "plan_name",
          "price",
          "status",
          "subscribed_at",
          "partner_id",
          "customer_id",
          "customer_email",
          "customer_name"
        ],
        "properties": {
          "external_id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "plan_name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "trial_start_at": {
            "type": "string"
          },
          "trial_end_at": {
            "type": "string"
          },
          "subscribed_at": {
            "type": "string"
          },
          "partner_id": {
            "type": "integer"
          },
          "auto_match_partner": {
            "type": "boolean"
          },
          "customer_id": {
            "type": "string"
          },
          "customer_email": {
            "type": "string"
          },
          "customer_name": {
            "type": "string"
          },
          "customer_phone": {
            "type": "string"
          }
        }
      },
      "SubscriptionUpdateRequest": {
        "type": "object",
        "required": [
          "plan_name",
          "price",
          "status"
        ],
        "properties": {
          "plan_name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "SubscriptionCustomer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Partners",
      "description": "Manage affiliate partners (Premium API)"
    },
    {
      "name": "Orders",
      "description": "Manage referred orders"
    },
    {
      "name": "Groups",
      "description": "Manage partner groups/programs (Premium API)"
    },
    {
      "name": "PayoutBatches",
      "description": "Manage payout batches (Premium API)"
    },
    {
      "name": "Subscriptions",
      "description": "Manage customer subscriptions"
    }
  ]
}