{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "bobby@onskyline.com",
      "name": "Skyline API Team",
      "url": "http://onskyline.io"
    },
    "description": "Bill payment related functionalities",
    "license": {
      "name": "Skyline",
      "url": "https://onskyline.com/licenses/skyline"
    },
    "termsOfService": "http://onskyline.io/terms/",
    "title": "Bills",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegmergius/bills/0.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://onskyline.io/api"
    }
  ],
  "paths": {
    "/bills": {
      "get": {
        "parameters": [
          {
            "description": "Token to be passed as a header value",
            "in": "header",
            "name": "access_token",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsResponse"
                }
              }
            },
            "description": "Returns a list of payments for an account"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Client Error"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "bills"
        ],
        "description": "Returns a list of payments for a particular account",
        "operationId": "accountPayments"
      }
    }
  },
  "components": {
    "schemas": {
      "error": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "errorMetadata": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "errorResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/errorMetadata"
          }
        },
        "type": "object"
      },
      "metadata": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "type": "array"
          },
          "paging": {
            "$ref": "#/components/schemas/paging"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/warning"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "paging": {
        "properties": {
          "count": {
            "format": "int64",
            "type": "integer"
          },
          "limit": {
            "format": "int64",
            "type": "integer"
          },
          "offset": {
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "offset",
          "count",
          "limit"
        ],
        "type": "object"
      },
      "paymentHistory": {
        "properties": {
          "amount": {
            "type": "string"
          },
          "amountFormatted": {
            "type": "string"
          },
          "billerAccountNumber": {
            "type": "string"
          },
          "billerCurrencyId": {
            "type": "string"
          },
          "billerIndex": {
            "type": "string"
          },
          "billerName": {
            "type": "string"
          },
          "billerNumber": {
            "type": "string"
          },
          "deletedBillerFlag": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "descriptionCode": {
            "type": "string"
          },
          "dueDate": {
            "type": "string"
          },
          "dueDateDetails": {
            "type": "string"
          },
          "dueDateIso": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string"
          },
          "fromAccountName": {
            "type": "string"
          },
          "fromAccountNumber": {
            "type": "string"
          },
          "itemCorrectionInd": {
            "type": "string"
          },
          "referenceNumber": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "paymentsResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "result": {
            "$ref": "#/components/schemas/paymentsResults"
          }
        },
        "type": "object"
      },
      "paymentsResults": {
        "properties": {
          "paymentHistory": {
            "$ref": "#/components/schemas/paymentHistory"
          }
        },
        "type": "object"
      },
      "warning": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "bills"
    }
  ]
}