{
  "openapi": "3.0.3",
  "info": {
    "title": "Coveralls API",
    "description": "The Coveralls API allows you to manage repositories and post coverage reports (jobs) to Coveralls.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.coveralls.io/api-introduction"
  },
  "servers": [
    {
      "url": "https://coveralls.io",
      "description": "Coveralls Production"
    }
  ],
  "paths": {
    "/api/repos": {
      "post": {
        "operationId": "createRepo",
        "summary": "Create a new repository on Coveralls",
        "tags": [
          "Repos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepoRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repository created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/repos/{service}/{repo_user}/{repo_name}": {
      "get": {
        "operationId": "getRepo",
        "summary": "Get repository info from Coveralls",
        "tags": [
          "Repos"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "bitbucket",
                "gitlab",
                "stash",
                "manual"
              ]
            },
            "description": "Git provider"
          },
          {
            "name": "repo_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner/user"
          },
          {
            "name": "repo_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository name"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateRepo",
        "summary": "Update a repository on Coveralls",
        "tags": [
          "Repos"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "bitbucket",
                "gitlab",
                "stash",
                "manual"
              ]
            }
          },
          {
            "name": "repo_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Repository updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteRepo",
        "summary": "Delete a repository on Coveralls",
        "tags": [
          "Repos"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "bitbucket",
                "gitlab",
                "stash",
                "manual"
              ]
            }
          },
          {
            "name": "repo_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/jobs": {
      "post": {
        "operationId": "createJob",
        "summary": "Post a coverage report to Coveralls",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "json_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "JSON file containing the coverage report"
                  }
                },
                "required": [
                  "json_file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverage report processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid repo_token in JSON file"
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "operationId": "parallelBuildWebhook",
        "summary": "Close a parallel build",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParallelWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateRepoRequest": {
        "type": "object",
        "properties": {
          "repo": {
            "type": "object",
            "required": [
              "service",
              "name"
            ],
            "properties": {
              "service": {
                "type": "string",
                "enum": [
                  "github",
                  "bitbucket",
                  "gitlab",
                  "stash",
                  "manual"
                ],
                "description": "Git provider"
              },
              "name": {
                "type": "string",
                "description": "Name of the repo, e.g. username/reponame"
              },
              "comment_on_pull_requests": {
                "type": "boolean",
                "description": "Whether comments should be posted on pull requests"
              },
              "send_build_status": {
                "type": "boolean",
                "description": "Whether build status should be sent to the git provider"
              },
              "commit_status_fail_threshold": {
                "type": "number",
                "nullable": true,
                "description": "Minimum coverage for build to pass"
              },
              "commit_status_fail_change_threshold": {
                "type": "number",
                "nullable": true,
                "description": "Maximum allowed decrease in coverage"
              }
            }
          }
        },
        "required": [
          "repo"
        ]
      },
      "RepoResponse": {
        "type": "object",
        "properties": {
          "repo": {
            "type": "object",
            "properties": {
              "service": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "comment_on_pull_requests": {
                "type": "boolean"
              },
              "send_build_status": {
                "type": "boolean"
              },
              "commit_status_fail_threshold": {
                "type": "number",
                "nullable": true
              },
              "commit_status_fail_change_threshold": {
                "type": "number",
                "nullable": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ParallelWebhookRequest": {
        "type": "object",
        "properties": {
          "repo_token": {
            "type": "string",
            "description": "The Coveralls repo token"
          },
          "payload": {
            "type": "object",
            "properties": {
              "build_num": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "done"
                ]
              }
            }
          }
        },
        "required": [
          "repo_token",
          "payload"
        ]
      }
    },
    "securitySchemes": {
      "personalToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal API Token in format: token XXX"
      }
    }
  },
  "security": [
    {
      "personalToken": []
    }
  ]
}