{
  "openapi": "3.0.3",
  "info": {
    "title": "Noko (Freckle) Time Tracking API",
    "description": "Noko helps you manage your time and see the big picture: which days have you been working? How much, and on what? Is all that time billable time? What are your teammates and employees doing?",
    "version": "2.0.0",
    "x-jentic-source-url": "http://developer.letsfreckle.com/"
  },
  "servers": [
    {
      "url": "https://api.letsfreckle.com/v2"
    }
  ],
  "paths": {
    "/entries": {
      "get": {
        "tags": [
          "entries"
        ],
        "summary": "List entries",
        "description": "Retrieve all time entries with optional filtering",
        "operationId": "listEntries",
        "parameters": [
          {
            "name": "user_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user IDs"
          },
          {
            "name": "project_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated project IDs"
          },
          {
            "name": "tag_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tag IDs"
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Text search in descriptions"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "billable",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by billable status"
          }
        ],
        "responses": {
          "200": {
            "description": "Entries retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "entries"
        ],
        "summary": "Create entry",
        "description": "Create a new time entry",
        "operationId": "createEntry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date",
                  "minutes"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Entry date (YYYY-MM-DD)"
                  },
                  "minutes": {
                    "type": "integer",
                    "description": "Duration in minutes"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "User ID (defaults to authenticated user)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Entry description (supports hashtag parsing for tags)"
                  },
                  "project_id": {
                    "type": "integer",
                    "description": "Project ID"
                  },
                  "project_name": {
                    "type": "string",
                    "description": "Project name (auto-creates if needed)"
                  },
                  "source_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Reference link"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Entry created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/entries/{id}": {
      "get": {
        "tags": [
          "entries"
        ],
        "summary": "Get entry",
        "description": "Retrieve a specific time entry",
        "operationId": "getEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Entry ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Entry retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "entries"
        ],
        "summary": "Update entry",
        "description": "Update an existing time entry",
        "operationId": "updateEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Entry ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "minutes": {
                    "type": "integer"
                  },
                  "description": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "integer"
                  },
                  "source_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "entries"
        ],
        "summary": "Delete entry",
        "description": "Delete a time entry",
        "operationId": "deleteEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Entry ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Entry deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "List projects",
        "description": "Retrieve all projects accessible to the authenticated user",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by project name"
          },
          {
            "name": "project_group_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated group IDs"
          },
          {
            "name": "enabled",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "True for active, false for archived"
          },
          {
            "name": "billable",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by billable status"
          }
        ],
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Create project",
        "description": "Create a new project",
        "operationId": "createProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Project name"
                  },
                  "billable": {
                    "type": "boolean",
                    "description": "Whether project is billable",
                    "default": true
                  },
                  "project_group_id": {
                    "type": "integer",
                    "description": "Project group ID"
                  },
                  "billing_increment": {
                    "type": "integer",
                    "enum": [
                      1,
                      5,
                      6,
                      10,
                      15,
                      20,
                      30,
                      60
                    ],
                    "description": "Billing increment in minutes"
                  },
                  "color": {
                    "type": "string",
                    "description": "Project color (hex code)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Get project",
        "description": "Retrieve details for a specific project",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "projects"
        ],
        "summary": "Update project",
        "description": "Update project details",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "project_group_id": {
                    "type": "integer"
                  },
                  "billing_increment": {
                    "type": "integer",
                    "enum": [
                      1,
                      5,
                      6,
                      10,
                      15,
                      20,
                      30,
                      60
                    ]
                  },
                  "color": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "summary": "Delete project",
        "description": "Remove a project (only if it contains no entries, expenses, or invoices)",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          },
          "400": {
            "description": "Bad request - project not deletable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/archive": {
      "put": {
        "tags": [
          "projects"
        ],
        "summary": "Archive project",
        "description": "Archive an active project",
        "operationId": "archiveProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Project archived successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/unarchive": {
      "put": {
        "tags": [
          "projects"
        ],
        "summary": "Unarchive project",
        "description": "Restore an archived project",
        "operationId": "unarchiveProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Project unarchived successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use OAuth 2.0 for user-facing applications or generated tokens for integrations."
      }
    },
    "schemas": {
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Entry ID"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Entry date"
          },
          "user": {
            "type": "object",
            "description": "User who created the entry"
          },
          "billable": {
            "type": "boolean",
            "description": "Whether entry is billable"
          },
          "minutes": {
            "type": "integer",
            "description": "Duration in minutes"
          },
          "description": {
            "type": "string",
            "description": "Entry description"
          },
          "project": {
            "type": "object",
            "description": "Associated project"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Entry tags"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "description": "Reference URL"
          },
          "invoiced_at": {
            "type": "string",
            "format": "date-time",
            "description": "Invoice timestamp"
          },
          "approved_at": {
            "type": "string",
            "format": "date-time",
            "description": "Approval timestamp"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Entry API URL"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Project ID"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "billable": {
            "type": "boolean",
            "description": "Whether project is billable"
          },
          "color": {
            "type": "string",
            "description": "Project color (hex code)"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether project is active (not archived)"
          },
          "billing_increment": {
            "type": "integer",
            "description": "Billing increment in minutes"
          },
          "project_group_id": {
            "type": "integer",
            "description": "Project group ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Project API URL"
          },
          "entries_url": {
            "type": "string",
            "format": "uri",
            "description": "Project entries API URL"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Detailed error messages"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "entries",
      "description": "Time entry management"
    },
    {
      "name": "projects",
      "description": "Project management"
    },
    {
      "name": "users",
      "description": "User management"
    },
    {
      "name": "tags",
      "description": "Tag operations"
    },
    {
      "name": "timers",
      "description": "Timer functionality"
    }
  ]
}