{
  "openapi": "3.0.3",
  "info": {
    "title": "Airport Data API",
    "version": "1.0.0",
    "description": "Free API providing airport data including IATA/ICAO codes, names, locations, and other airport information.",
    "x-jentic-source-url": "https://api.airportdata.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.airportdata.com"
    }
  ],
  "paths": {
    "/airports": {
      "get": {
        "operationId": "listAirports",
        "summary": "List all airports",
        "description": "Returns a list of all airports in the database",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airport list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airports/iata/{iataCode}": {
      "get": {
        "operationId": "getAirportByIata",
        "summary": "Get airport by IATA code",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "iataCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA airport code (e.g., LAX, JFK)"
          }
        ],
        "responses": {
          "200": {
            "description": "Airport data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Airport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get airport by IATA code"
      }
    },
    "/airports/icao/{icaoCode}": {
      "get": {
        "operationId": "getAirportByIcao",
        "summary": "Get airport by ICAO code",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "icaoCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ICAO airport code (e.g., KLAX, KJFK)"
          }
        ],
        "responses": {
          "200": {
            "description": "Airport data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Airport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get airport by ICAO code"
      }
    },
    "/airports/search/{searchTerm}": {
      "get": {
        "operationId": "searchAirports",
        "summary": "Search airports",
        "description": "Search airports by name, city, or code",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "searchTerm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airports/nearby/{latitude}/{longitude}": {
      "get": {
        "operationId": "getNearbyAirports",
        "summary": "Find nearby airports",
        "description": "Returns airports near given coordinates",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Search radius in km"
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby airports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Airport": {
        "type": "object",
        "properties": {
          "icao": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "altitude": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "AirportListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airport"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Airports"
    }
  ]
}
