{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.1",
    "title": "Root",
    "description": "Root is an end-to-end digital insurance platform that enables you to launch new products and digital engagement channels fast.",
    "termsOfService": "https://rootplatform.com/about",
    "contact": {
      "name": "Root support team",
      "url": "https://rootplatform.com/contact",
      "email": "support@root.co.za"
    },
    "x-jentic-source-url": "https://api.rootplatform.com/v1/docs/insurance/openapi"
  },
  "servers": [
    {
      "url": "https://sandbox.uk.rootplatform.com/v1/insurance",
      "description": "United Kingdom multi-tenant - sandbox"
    },
    {
      "url": "https://api.uk.rootplatform.com/v1/insurance",
      "description": "United Kingdom multi-tenant - production"
    },
    {
      "url": "https://sandbox.rootplatform.com/v1/insurance",
      "description": "South Africa multi-tenant - sandbox"
    },
    {
      "url": "https://api.rootplatform.com/v1/insurance",
      "description": "South Africa multi-tenant - production"
    }
  ],
  "paths": {
    "/applications": {
      "post": {
        "operationId": "create-application",
        "summary": "Create an application",
        "description": "**Note:** Additional custom fields may be required depending on how the [application hook](https://docs.rootplatform.com/docs/application-hook) is configured for the product module.",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Create"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quote_package_id",
                  "policyholder_id",
                  "billing_day"
                ],
                "properties": {
                  "quote_package_id": {
                    "type": "string",
                    "description": "Must be a UUID. Unique identifier of quote package retrieved in [quote generation](ref:getting-a-quote-2)."
                  },
                  "policyholder_id": {
                    "type": "string",
                    "description": "Must be a UUID. Unique identifier of the [policyholder](ref:policyholder) that is applying."
                  },
                  "billing_day": {
                    "type": "integer",
                    "description": "The day of month on which the policy to write will be billed on. Should be between 1 and 31. If it falls on a day that does not exist in the month (for example, 31 in February) the policy to be written will be billed on the last day of that month. Setting this value to 31 will ensure that the policy to be written will be billed on the last day of every month.",
                    "minimum": 1,
                    "maximum": 31
                  },
                  "monthly_premium": {
                    "type": "number",
                    "description": "`null` is allowed. The monthly premium amount in cents. Minimum value is 0.",
                    "minimum": 0,
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the application. One of `requote` or `new_policy`.",
                    "enum": [
                      "requote",
                      "new_policy"
                    ]
                  },
                  "user_group_id": {
                    "type": "string",
                    "description": "`null` is allowed. Must be a UUID. The unique identifier of the user group to assign this application to.",
                    "nullable": true
                  }
                },
                "additionalProperties": true,
                "example": {
                  "quote_package_id": "f4551b91-3e3e-4acc-915b-82e1b163cef8",
                  "policyholder_id": "00000000-0000-0000-0000-000000000009",
                  "billing_day": 1,
                  "serial_number": "1234567890"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "fetch-applications",
        "summary": "List all applications",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Retrieve"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A space seperated list of matching words to search for. e.g. \"richard@aviato.com\"",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "richard@aviato.com"
          },
          {
            "name": "status",
            "in": "query",
            "description": "A comma seperated list of statuses. eg. \"pending,issued\"",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "pending"
          },
          {
            "name": "created_by",
            "in": "query",
            "description": "A valid UUID of the user that created the application.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
          },
          {
            "name": "user_group_id",
            "in": "query",
            "description": "A valid UUID of the user group that created the application.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
          },
          {
            "name": "created_by_type",
            "in": "query",
            "description": "A semi-colon seperated list of the requestee types. e.g. api_key, user, legacy_api_key, legacy_user_api_key, system, product_module or embed_jwt",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "An optional semicolon-separated list of underlying objects to include, e.g. `?include=policy;policyholder`. Valid options are 'policy', 'policyholder' and 'quote_package'",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "policyholder"
          },
          {
            "name": "product_module_id",
            "in": "query",
            "description": "A valid UUID of the product module to filter applications by.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applications"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}": {
      "get": {
        "operationId": "retrieve-an-application",
        "summary": "Retrieve an application",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Retrieve"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "40fb4335-55b2-4f20-951a-cc41097cb213"
          },
          {
            "name": "include",
            "in": "query",
            "description": "An optional semicolon-separated list of underlying objects to include, e.g. `?include=policy;policyholder`. Valid options are 'policy', 'policyholder' and 'quote_package'",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "policyholder"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                },
                "example": {
                  "application_id": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055",
                  "policyholder_id": "bf3ab7ce-064d-43b7-811d-0ecd9aca3daf",
                  "package_name": "Theft + comprehensive",
                  "sum_assured": 1199900,
                  "monthly_premium": 50000,
                  "base_premium": 14999,
                  "billing_day": 1,
                  "module": {
                    "type": "root_gadgets",
                    "make": "Apple",
                    "model": "iPhone 6S 64GB LTE",
                    "serial_number": "1234567890"
                  },
                  "created_at": "2017-10-12T15:47:34.281Z",
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "requote-application",
        "summary": "Requote an application",
        "description": "Note that additional fields may be required based on the product module type being used. See [product modules](doc:product-modules-overview) for more details.",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Retrieve"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_package_id": {
                    "type": "string",
                    "description": "Must be a UUID. Unique identifier of quote package retrieved in [quote generation](ref:getting-a-quote-2)."
                  },
                  "monthly_premium": {
                    "type": "number",
                    "description": "`null` is allowed. Premium amount, in cents, to write on policy. This can't be changed, only discounted by changing the `billing_amount`. This must be more than the `base_premium`. Minimum value is 0.",
                    "minimum": 0,
                    "nullable": true
                  },
                  "policyholder_id": {
                    "type": "string",
                    "description": "Must be a UUID. The unique identifier of the [policyholder](ref:policyholder)."
                  },
                  "billing_day": {
                    "type": "integer",
                    "description": "The day of month on which the policy to write will be billed on. Should be between 1 and 31.",
                    "minimum": 1,
                    "maximum": 31
                  }
                },
                "additionalProperties": true,
                "example": {
                  "monthly_premium": 50000,
                  "quote_package_id": "bf3ab7ce-064d-43b7-811d-0ecd9aca3daf",
                  "billing_day": 1,
                  "serial_number": "1234567890"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                },
                "example": {
                  "application_id": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e",
                  "policyholder_id": "bf3ab7ce-064d-43b7-811d-0ecd9aca3daf",
                  "package_name": "Theft + comprehensive",
                  "sum_assured": 1199900,
                  "monthly_premium": 50000,
                  "base_premium": 14999,
                  "billing_day": 1,
                  "module": {
                    "type": "root_gadgets",
                    "make": "Apple",
                    "model": "iPhone 6S 64GB LTE",
                    "serial_number": "1234567890"
                  },
                  "created_at": "2017-10-05T18:28:30.281Z",
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/alteration-packages": {
      "post": {
        "operationId": "create-application-alteration-package",
        "summary": "Create an application alteration package",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Alteration packages"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "data"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "The identifier of the application alteration hook."
                  },
                  "data": {
                    "type": "object",
                    "description": "Custom module-specific fields stored against the application alteration package. See [product modules](doc:product-modules-overview) for more details.",
                    "additionalProperties": true
                  }
                },
                "example": {
                  "key": "update_cover_amount",
                  "data": {
                    "cover_amount": 25000000,
                    "spouse_cover": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application-alteration-packages"
                },
                "example": [
                  {
                    "alteration_package_application_id": "2d200d5c-477c-4c90-b305-e8f445f4d8e5",
                    "organization_id": "00000000-0000-0000-0000-000000000001",
                    "created_at": "2026-01-28T09:17:05.101Z",
                    "created_by": {
                      "type": "api_key",
                      "id": "420df14d-b09d-4d89-84a8-8e3118c9ca23",
                      "owner_id": "00000000-0000-0000-0000-000000000001"
                    },
                    "module": {
                      "package_name": "Funeral Cover",
                      "suggested_premium": 17500,
                      "base_premium": 16000,
                      "cover_amount": 25000000
                    },
                    "monthly_premium": 17500,
                    "currency": "ZAR",
                    "sum_assured": 25000000,
                    "billing_frequency": "monthly",
                    "status": "pending",
                    "change_description": "Updating cover amount before issuing policy",
                    "input_data": {
                      "cover_amount": 25000000,
                      "spouse_cover": true
                    },
                    "application_id": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055",
                    "alteration_hook_key": "update_cover_amount"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/alteration-packages/{alteration_package_id}": {
      "get": {
        "operationId": "retrieve-application-alteration-package",
        "summary": "Retrieve an application alteration package",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Alteration packages"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055"
            }
          },
          {
            "name": "alteration_package_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the application alteration package.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2d200d5c-477c-4c90-b305-e8f445f4d8e5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application-alteration-package"
                },
                "example": {
                  "alteration_package_application_id": "2d200d5c-477c-4c90-b305-e8f445f4d8e5",
                  "organization_id": "00000000-0000-0000-0000-000000000001",
                  "created_at": "2026-01-28T09:17:05.101Z",
                  "created_by": {
                    "type": "api_key",
                    "id": "420df14d-b09d-4d89-84a8-8e3118c9ca23",
                    "owner_id": "00000000-0000-0000-0000-000000000001"
                  },
                  "module": {
                    "package_name": "Funeral Cover",
                    "suggested_premium": 17500,
                    "base_premium": 16000,
                    "cover_amount": 25000000
                  },
                  "monthly_premium": 17500,
                  "currency": "ZAR",
                  "sum_assured": 25000000,
                  "billing_frequency": "monthly",
                  "status": "pending",
                  "change_description": "Updating cover amount before issuing policy",
                  "input_data": {
                    "cover_amount": 25000000,
                    "spouse_cover": true
                  },
                  "application_id": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055",
                  "alteration_hook_key": "update_cover_amount"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/alteration-packages/{alteration_package_id}/apply": {
      "post": {
        "operationId": "apply-application-alteration-package",
        "summary": "Apply application alteration package",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Alteration packages"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055"
            }
          },
          {
            "name": "alteration_package_id",
            "in": "path",
            "description": "Must be a UUID. The ID of the application alteration package to apply to the application.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2d200d5c-477c-4c90-b305-e8f445f4d8e5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application-alteration-package"
                },
                "example": {
                  "alteration_package_application_id": "2d200d5c-477c-4c90-b305-e8f445f4d8e5",
                  "organization_id": "00000000-0000-0000-0000-000000000001",
                  "created_at": "2026-01-28T09:17:05.101Z",
                  "created_by": {
                    "type": "api_key",
                    "id": "420df14d-b09d-4d89-84a8-8e3118c9ca23",
                    "owner_id": "00000000-0000-0000-0000-000000000001"
                  },
                  "module": {
                    "package_name": "Funeral Cover",
                    "suggested_premium": 17500,
                    "base_premium": 16000,
                    "cover_amount": 25000000
                  },
                  "monthly_premium": 17500,
                  "currency": "ZAR",
                  "sum_assured": 25000000,
                  "billing_frequency": "monthly",
                  "status": "applied",
                  "change_description": "Updating cover amount before issuing policy",
                  "input_data": {
                    "cover_amount": 25000000,
                    "spouse_cover": true
                  },
                  "application_id": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055",
                  "alteration_hook_key": "update_cover_amount"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/attachments": {
      "get": {
        "operationId": "retrieve-application-attachments",
        "summary": "Retrieve application attachments",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Attachments & notes"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "An object providing details regarding the file attached.",
                    "properties": {
                      "attachment_id": {
                        "type": "string",
                        "description": "Must be a UUID. Unique identifier of the attachment."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The time at which the attachment was created."
                      },
                      "file_name": {
                        "type": "string",
                        "description": "The name of the file."
                      },
                      "file_type": {
                        "type": "string",
                        "description": "The MIME type of the file."
                      },
                      "file_url": {
                        "type": "string",
                        "description": "The URL to download the file."
                      },
                      "description": {
                        "type": "string",
                        "description": "A description of the attachment."
                      },
                      "is_archived": {
                        "type": "boolean",
                        "description": "Whether the attachment has been archived."
                      },
                      "requested_by": {
                        "type": "object",
                        "description": "An object indicating the user or API key that created the attachment."
                      },
                      "archived_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "`null` is allowed. The time at which the attachment was archived.",
                        "nullable": true
                      },
                      "labels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "An array of labels associated with the attachment."
                      }
                    },
                    "example": {
                      "attachment_id": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055",
                      "created_at": "2017-10-12T15:47:34.281Z",
                      "file_name": "doc.pdf",
                      "file_type": "application/pdf",
                      "file_url": "https://example.com/1234.pdf",
                      "description": "Application PDF",
                      "is_archived": false,
                      "requested_by": {
                        "type": "user",
                        "id": "00000000-0000-0000-0000-000000000001"
                      },
                      "labels": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "add-application-attachments",
        "summary": "Add application attachment",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Attachments & notes"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file_name",
                  "description",
                  "file_base64",
                  "file_type"
                ],
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "The name of the file (filename and extension)"
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the file"
                  },
                  "file_base64": {
                    "type": "string",
                    "description": "The file contents, base64 encoded"
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The file mime type.",
                    "example": "application/pdf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/attachment"
                },
                "example": {
                  "file_name": "report.pdf",
                  "file_type": "application/pdf",
                  "file_url": "http://yoururlhere/report.pdf",
                  "description": "Police Report",
                  "type": "attachment_created",
                  "application_id": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e",
                  "created_at": "2022-01-31T11:25:23.427Z",
                  "requested_by": {
                    "type": "user",
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/attachments/{attachment_id}/archive": {
      "post": {
        "operationId": "archive-application-attachment",
        "summary": "Archive an attachment",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Attachments & notes"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the attachment.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An event object indicating the attachment was archived.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type of event."
                    },
                    "application_id": {
                      "type": "string",
                      "description": "Must be a UUID. The unique identifier of the application."
                    },
                    "file_name": {
                      "type": "string",
                      "description": "The name of the archived file."
                    },
                    "file_type": {
                      "type": "string",
                      "description": "The MIME type of the archived file."
                    },
                    "file_url": {
                      "type": "string",
                      "description": "The URL of the archived file."
                    },
                    "description": {
                      "type": "string",
                      "description": "A description of the archived file."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The time at which the attachment was archived."
                    },
                    "requested_by": {
                      "type": "object",
                      "description": "An object indicating the user or API key that archived the attachment."
                    }
                  }
                },
                "example": {
                  "type": "attachment_archived",
                  "application_id": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e",
                  "file_name": "report.pdf",
                  "file_type": "application/pdf",
                  "file_url": "https://example.com/report.pdf",
                  "description": "Police Report",
                  "created_at": "2023-02-03T12:00:00.000Z",
                  "requested_by": {
                    "type": "user",
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/beneficiaries": {
      "get": {
        "summary": "List beneficiaries",
        "operationId": "fetch-application-beneficiaries",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/beneficiaries"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update-application-beneficiaries",
        "summary": "Update beneficiaries",
        "description": "This endpoint accepts an array of beneficiary objects as the body. The entire array of beneficiaries will be replaced. The number of beneficiaries cannot exceed the max defined in the [general settings](doc:general-settings). The percentages must add up to 100%.",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/beneficiaries-request"
              },
              "example": {
                "$ref": "#/components/schemas/beneficiaries-request/example"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                },
                "example": {
                  "application_id": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e",
                  "policyholder_id": "bf3ab7ce-064d-43b7-811d-0ecd9aca3daf",
                  "package_name": "Theft + comprehensive",
                  "sum_assured": 1199900,
                  "monthly_premium": 50000,
                  "base_premium": 14999,
                  "billing_day": 1,
                  "module": {
                    "type": "root_gadgets",
                    "make": "Apple",
                    "model": "iPhone 6S 64GB LTE",
                    "serial_number": "1234567890"
                  },
                  "created_at": "2017-10-12T15:47:34.281Z",
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  },
                  "beneficiaries": [
                    {
                      "first_name": "Jared",
                      "last_name": "Dunn",
                      "id": {
                        "type": "id",
                        "number": "8704094800082",
                        "country": "ZA"
                      },
                      "percentage": 100,
                      "relationship": "cousin_or_relative"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/notes": {
      "get": {
        "operationId": "retrieve-application-notes",
        "summary": "Retrieve application notes",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Attachments & notes"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notes"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "add-application-notes",
        "summary": "Add application notes",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Attachments & notes"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The string of text to add as a note"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/note"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/events": {
      "get": {
        "operationId": "retrieve-application-events",
        "summary": "Retrieve application events",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Retrieve"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "An event object containing details about an action that occurred on the application. Events include application events, notification events, and user group event logs.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of event."
                      },
                      "application_id": {
                        "type": "string",
                        "description": "Must be a UUID. The unique identifier of the application."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The time at which the event occurred."
                      },
                      "requested_by": {
                        "type": "object",
                        "description": "An object indicating the user or API key that triggered the event."
                      }
                    }
                  }
                },
                "example": [
                  {
                    "type": "application_created",
                    "application_id": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e",
                    "created_at": "2023-02-03T11:17:49.009Z",
                    "requested_by": {
                      "type": "api_key",
                      "id": "b6565862-cc6e-4563-85d3-659894338cda",
                      "owner_id": "e17f06ce-2a6a-4864-b826-19a83270eab4"
                    }
                  },
                  {
                    "type": "attachment_created",
                    "application_id": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e",
                    "file_name": "report.pdf",
                    "file_type": "application/pdf",
                    "file_url": "https://example.com/report.pdf",
                    "description": "Police Report",
                    "created_at": "2023-02-03T12:00:00.000Z",
                    "requested_by": {
                      "type": "user",
                      "id": "00000000-0000-0000-0000-000000000001"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/payment-method": {
      "get": {
        "operationId": "retrieve-application-payment-method",
        "summary": "Retrieve application payment method",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Billing & payments"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment-method"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "assign-application-payment-method",
        "summary": "Assign application payment method",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Billing & payments"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method_id": {
                    "type": "string",
                    "description": "A valid UUID, containing the payment method ID to assign."
                  }
                },
                "required": [
                  "payment_method_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment-method"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}/send-application-pdf-to-policyholder": {
      "post": {
        "operationId": "send-application-pdf-to-policyholder",
        "summary": "Send application PDF to policyholder",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Manage"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/applications/{application_id}/archive": {
      "post": {
        "operationId": "archive-application",
        "summary": "Archive an application",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Manage"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "128ba0c0-3f6a-4f8b-9b40-e2066b02b59e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/organizations/{client_app_id}/applications/{application_id}/alteration-hooks": {
      "get": {
        "operationId": "retrieve-application-alteration-hooks",
        "summary": "Retrieve application alteration hooks",
        "tags": [
          "Applications"
        ],
        "x-additional-tags": [
          "Manage"
        ],
        "parameters": [
          {
            "name": "client_app_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the organization.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000001"
            }
          },
          {
            "name": "application_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [application](ref:application).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bf1ada91-eecb-4f47-9bfa-1258bb1e0055"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application-alteration-hooks"
                },
                "example": [
                  {
                    "product_module_definition_alteration_hook_id": "2cbbc377-e142-4986-8871-29b0a4c23353",
                    "product_module_definition_id": "9b7b43f4-9ab8-4e37-b42b-59d5595f3983",
                    "schema_id": "18f7e13a-f4f4-4b10-86ec-2973dfe77732",
                    "key": "update_cover_amount",
                    "name": "Update cover amount",
                    "type": "application",
                    "created_at": "2026-01-28T09:17:05.101Z",
                    "created_by": {
                      "type": "user",
                      "id": "00000000-0000-0000-0000-000000000001"
                    },
                    "productModuleDefinitionSchema": {
                      "product_module_definition_schema_id": "18f7e13a-f4f4-4b10-86ec-2973dfe77732",
                      "json": {
                        "type": "object",
                        "properties": {
                          "cover_amount": {
                            "type": "integer"
                          }
                        }
                      },
                      "created_at": "2026-01-28T09:15:45.100Z",
                      "created_by": {
                        "type": "user",
                        "id": "00000000-0000-0000-0000-000000000001"
                      },
                      "type": "application_alteration"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "operationId": "fetch-calls",
        "summary": "List all calls",
        "description": "Returns a paginated list of calls for the organization. Use the `include` parameter to include the related policyholder object.",
        "tags": [
          "Calls"
        ],
        "x-additional-tags": [
          "Endpoints"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "call_status",
            "in": "query",
            "description": "Filter by call status. Accepts multiple values.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "initiated",
                  "ringing",
                  "in-progress",
                  "completed",
                  "busy",
                  "no-answer"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "example": "completed,busy"
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of related objects to include in the response. Valid values: `policyholder`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "policyholder"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "example": "policyholder"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Total-Count": {
                "description": "The total number of calls matching the query.",
                "schema": {
                  "type": "integer",
                  "example": 42
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls"
                },
                "example": [
                  {
                    "call_id": "0ac6dffb-bd15-4829-b96d-e2c1abe61d3a",
                    "policyholder_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                    "claim_id": null,
                    "created_at": "2017-11-26T11:14:59.777Z",
                    "call_status": "completed",
                    "direction": "inbound",
                    "from_number": "+27823378000",
                    "to_number": "+27821234567",
                    "topic": "general",
                    "recording_url": "https://recordingurl.com",
                    "call_duration": "5"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-call",
        "summary": "Create a call",
        "description": "Creates a new call record with an associated recording. The recording must be provided as a base64-encoded string.",
        "tags": [
          "Calls"
        ],
        "x-additional-tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recording_file_name",
                  "recording_file_type",
                  "recording_base64_string"
                ],
                "properties": {
                  "claim_id": {
                    "type": "string",
                    "description": "Must be a UUID. The unique identifier of the [claim](ref:claim) for which the call is being made."
                  },
                  "policyholder_id": {
                    "type": "string",
                    "description": "Must be a UUID. The unique identifier of the [policyholder](ref:policyholder) for whom the call is being made."
                  },
                  "direction": {
                    "type": "string",
                    "description": "The direction of the call.",
                    "enum": [
                      "inbound",
                      "outbound"
                    ]
                  },
                  "from": {
                    "type": "string",
                    "description": "The phone number the call was made from."
                  },
                  "to": {
                    "type": "string",
                    "description": "The phone number the call was made to."
                  },
                  "topic": {
                    "type": "string",
                    "description": "The topic category of the call.",
                    "enum": [
                      "claims",
                      "complaints",
                      "general"
                    ]
                  },
                  "call_duration": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The duration of the call in seconds."
                  },
                  "call_status": {
                    "type": "string",
                    "description": "The status of the call.",
                    "enum": [
                      "initiated",
                      "ringing",
                      "in-progress",
                      "completed",
                      "busy",
                      "no-answer"
                    ]
                  },
                  "recording_file_name": {
                    "type": "string",
                    "description": "The filename of the recording (e.g., `Recording0001.mp3`)."
                  },
                  "recording_file_type": {
                    "type": "string",
                    "description": "The MIME type of the recording. Must be `audio/mpeg`."
                  },
                  "recording_base64_string": {
                    "type": "string",
                    "description": "The base64-encoded string of the call recording."
                  }
                }
              },
              "example": {
                "policyholder_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                "claim_id": "673b8081-9668-4136-97cc-6ae0debda083",
                "direction": "outbound",
                "from": "0721234567",
                "to": "0821234567",
                "topic": "general",
                "call_duration": 72,
                "call_status": "completed",
                "recording_file_name": "Recording0001.mp3",
                "recording_file_type": "audio/mpeg",
                "recording_base64_string": "//uUZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWGluZwAAAA8AAAAT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/call"
                },
                "example": {
                  "call_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "policyholder_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "claim_id": "673b8081-9668-4136-97cc-6ae0debda083",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "call_status": "completed",
                  "direction": "outbound",
                  "from_number": "0721234567",
                  "to_number": "0821234567",
                  "topic": "general",
                  "recording_url": "https://sandbox.root.co.za/v1/files/download/ccbd249e-a404-11ea-8f4a-47e769474b83/Recording0001.mp3",
                  "call_duration": "72"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{call_id}": {
      "get": {
        "operationId": "retrieve-call",
        "summary": "Retrieve a call",
        "tags": [
          "Calls"
        ],
        "x-additional-tags": [
          "Endpoints"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [call](ref:call).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/call"
                },
                "example": {
                  "call_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "policyholder_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "claim_id": "673b8081-9668-4136-97cc-6ae0debda083",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "call_status": "completed",
                  "direction": "outbound",
                  "from_number": "0721234567",
                  "to_number": "0821234567",
                  "topic": "general",
                  "recording_url": "https://sandbox.root.co.za/v1/files/download/ccbd249e-a404-11ea-8f4a-47e769474b83/Recording0001.mp3",
                  "call_duration": "72"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{call_id}/events": {
      "get": {
        "operationId": "retrieve-call-events",
        "summary": "Retrieve call events",
        "description": "Returns a list of events associated with a specific call, sorted by creation time in descending order (most recent first). Events include call status changes, recordings added, and other call-related activities.",
        "tags": [
          "Calls"
        ],
        "x-additional-tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [call](ref:call).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "An event object containing details about an action that occurred on the call.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of call event. Possible values include: `inbound_call_started`, `outbound_call_started`, `option_entered`, `recording_added`, `call_initiated`, `call_ringing`, `call_answered`, `call_completed`, `call_not_answered`, `called_busy`, `call_flushed`, `call_created`, `call_updated`, `connect_call_initiated`, `connect_call_ringing`, `connect_call_answered`, `connect_call_completed`, `connect_call_not_answered`, `connect_called_busy`."
                      },
                      "call_id": {
                        "type": "string",
                        "description": "Must be a UUID. The unique identifier of the call."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp at which the event occurred."
                      },
                      "requested_by": {
                        "type": "object",
                        "description": "An object indicating the user or API key that triggered the event.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of requester (e.g., `user`, `api_key`)."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the requester."
                          },
                          "owner_id": {
                            "type": "string",
                            "description": "The owner ID associated with the requester."
                          }
                        }
                      },
                      "to_number": {
                        "type": "string",
                        "description": "The destination phone number. Only present for `connect_call_initiated` events."
                      },
                      "from": {
                        "type": "string",
                        "description": "The originating phone number. Present for `inbound_call_started` and `outbound_call_started` events."
                      },
                      "to": {
                        "type": "string",
                        "description": "The destination phone number. Present for `outbound_call_started` events."
                      },
                      "option": {
                        "type": "string",
                        "description": "The option entered by the caller. Only present for `option_entered` events."
                      },
                      "recording_url": {
                        "type": "string",
                        "description": "The URL of the call recording. Only present for `recording_added` events."
                      }
                    }
                  }
                },
                "example": [
                  {
                    "type": "call_completed",
                    "call_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                    "created_at": "2023-02-03T12:05:00.000Z",
                    "requested_by": {
                      "type": "system",
                      "id": "00000000-0000-0000-0000-000000000000"
                    }
                  },
                  {
                    "type": "recording_added",
                    "call_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                    "created_at": "2023-02-03T12:04:30.000Z",
                    "requested_by": {
                      "type": "system",
                      "id": "00000000-0000-0000-0000-000000000000"
                    },
                    "recording_url": "https://sandbox.root.co.za/v1/files/download/ccbd249e-a404-11ea-8f4a-47e769474b83/Recording0001.mp3"
                  },
                  {
                    "type": "call_answered",
                    "call_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                    "created_at": "2023-02-03T12:00:15.000Z",
                    "requested_by": {
                      "type": "system",
                      "id": "00000000-0000-0000-0000-000000000000"
                    }
                  },
                  {
                    "type": "outbound_call_started",
                    "call_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                    "created_at": "2023-02-03T12:00:00.000Z",
                    "requested_by": {
                      "type": "user",
                      "id": "00000000-0000-0000-0000-000000000001"
                    },
                    "from": "0721234567",
                    "to": "0821234567"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/calls/{call_id}/playback-url": {
      "get": {
        "operationId": "retrieve-call-playback-url",
        "summary": "Retrieve call playback URL",
        "description": "Returns a signed URL for playing back the recording of a specific call. If the call has an associated attachment, a signed download URL is returned. Otherwise, the legacy recording URL is returned if available. Returns a 404 error if no recording exists for the call.",
        "tags": [
          "Calls"
        ],
        "x-additional-tags": [
          "Playback"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [call](ref:call).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL to play back the call recording. This may be a signed download URL (for newer recordings stored as attachments) or a legacy recording URL."
                    },
                    "file_id": {
                      "type": "string",
                      "description": "Must be a UUID. The unique identifier of the attachment file. Only present if the recording is stored as an attachment."
                    },
                    "file_type": {
                      "type": "string",
                      "description": "The MIME type of the recording file (e.g., `audio/mpeg`). Only present if the recording is stored as an attachment."
                    },
                    "file_name": {
                      "type": "string",
                      "description": "The filename of the recording. Only present if the recording is stored as an attachment."
                    },
                    "file_url": {
                      "type": "string",
                      "description": "The permanent download URL for the file. Only present if the recording is stored as an attachment."
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Unix timestamp (seconds) when the attachment was created. Only present if the recording is stored as an attachment."
                    }
                  }
                },
                "examples": {
                  "with_attachment": {
                    "summary": "Recording stored as attachment",
                    "value": {
                      "url": "https://sandbox.root.co.za/v1/files/download/ccbd249e-a404-11ea-8f4a-47e769474b83/Recording0001.mp3?signature=abc123",
                      "file_id": "ccbd249e-a404-11ea-8f4a-47e769474b83",
                      "file_type": "audio/mpeg",
                      "file_name": "Recording0001.mp3",
                      "file_url": "https://sandbox.root.co.za/v1/files/download/ccbd249e-a404-11ea-8f4a-47e769474b83",
                      "created_at": 1697456522
                    }
                  },
                  "legacy_url": {
                    "summary": "Legacy recording URL",
                    "value": {
                      "url": "https://recordings.example.com/Recording0001.mp3"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No recording exists for this call",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "error": "not_found",
                  "message": "No recording url or attachment found for call with id d3d13c48-4dc3-4816-8d01-de3215878225"
                }
              }
            }
          }
        }
      }
    },
    "/claims": {
      "post": {
        "operationId": "create-claim",
        "summary": "Create a claim",
        "description": "Creates a new claim. The claim can optionally be linked to a policy, member, or covered item. A claimant can be specified with contact details.",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Create"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of related objects to include in the response. Valid values: `policy`, `policyholder`, `user_group`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "policy",
                  "policyholder",
                  "user_group"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "policy_id": {
                    "type": "string",
                    "description": "Must be a UUID. The identifier of the [policy](ref:policy) on which the claim is being made.",
                    "nullable": true
                  },
                  "member_id": {
                    "type": "string",
                    "description": "Must be a UUID. The identifier of the member for this claim. Only used for group scheme policies.",
                    "nullable": true
                  },
                  "covered_item_id": {
                    "type": "string",
                    "description": "Must be a UUID. The identifier of the covered item that this claim is against. Required if the policy supports covered items.",
                    "nullable": true
                  },
                  "assigned_to_user_id": {
                    "type": "string",
                    "description": "Must be a UUID. The identifier of the user to assign this claim to.",
                    "nullable": true
                  },
                  "incident_type": {
                    "type": "string",
                    "description": "A description of the incident type.",
                    "nullable": true
                  },
                  "incident_cause": {
                    "type": "string",
                    "description": "A description of the cause of the incident.",
                    "nullable": true
                  },
                  "incident_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date on which the incident occurred.",
                    "nullable": true
                  },
                  "app_data": {
                    "type": "object",
                    "description": "An object containing additional custom data for the claim.",
                    "additionalProperties": true,
                    "nullable": true
                  },
                  "claimant": {
                    "type": "object",
                    "description": "Object containing claimant's details. At least one of `email` or `cellphone` must be provided.",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "The first name of the claimant."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name of the claimant."
                      },
                      "email": {
                        "type": "string",
                        "description": "The claimant's email address. Required if `cellphone` is not provided."
                      },
                      "cellphone": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/cellphone"
                          },
                          {
                            "$ref": "#/components/schemas/cellphone-string"
                          }
                        ],
                        "description": "The claimant's cellphone number. Required if `email` is not provided."
                      },
                      "id_number": {
                        "type": "string",
                        "description": "The ID number of the claimant."
                      },
                      "relationship": {
                        "type": "string",
                        "description": "The relationship of the claimant to the policyholder."
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name"
                    ]
                  },
                  "requested_amount": {
                    "type": "integer",
                    "description": "The requested payout amount (in cents) for the claim."
                  }
                }
              },
              "example": {
                "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                "member_id": "673b8081-9668-4136-97cc-6ae0debda083",
                "covered_item_id": "9dc39b57-cdc7-48f9-a303-d7c4f0421a0c",
                "incident_type": "Theft",
                "incident_cause": "Device stolen during burglary",
                "incident_date": "2017-10-16T10:12:02.872Z",
                "app_data": {
                  "key1": "value 1",
                  "key2": "value 2"
                },
                "claimant": {
                  "first_name": "Erlich",
                  "last_name": "Aviato",
                  "email": "erlich@aviato.com",
                  "cellphone": "0821234567"
                },
                "requested_amount": 13000000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claim"
                },
                "example": {
                  "claim_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "claim_number": "D33B754ADA8F",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "updated_at": "2017-10-16T10:12:02.872Z",
                  "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "policyholder_id": "00000000-0000-0000-0000-000000000004",
                  "member_id": "673b8081-9668-4136-97cc-6ae0debda083",
                  "covered_item_id": "9dc39b57-cdc7-48f9-a303-d7c4f0421a0c",
                  "claim_status": "open",
                  "approval_status": "pending",
                  "currency": "ZAR",
                  "app_data": {
                    "key1": "value 1",
                    "key2": "value 2"
                  },
                  "claimant": {
                    "first_name": "Erlich",
                    "last_name": "Aviato",
                    "email": "erlich@aviato.com",
                    "cellphone": "0821234567"
                  },
                  "requested_amount": 13000000,
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "fetch-claims",
        "summary": "List all claims",
        "description": "Returns a paginated list of claims for the organization. Use the query parameters to filter claims by status, policy, policyholder, and more. Use the `include` parameter to include related objects in the response.",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Retrieve"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "claim_status",
            "in": "query",
            "description": "Filter by claim status. Accepts multiple values.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "open",
                  "in_review",
                  "acknowledged",
                  "pending_payout",
                  "paid_out",
                  "closed"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "example": "open,in_review"
          },
          {
            "name": "approval_status",
            "in": "query",
            "description": "Filter by approval status. Accepts multiple values.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pending",
                  "approved",
                  "repudiated",
                  "no_claim",
                  "goodwill"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "example": "pending,approved"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search claims by claim number, claimant name, or other searchable fields.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "D33B754"
          },
          {
            "name": "policyholder_id",
            "in": "query",
            "description": "Must be a UUID. Filter claims by policyholder ID.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "00000000-0000-0000-0000-000000000004"
          },
          {
            "name": "product_module_id",
            "in": "query",
            "description": "Must be a UUID. Filter claims by product module ID.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715"
          },
          {
            "name": "policy_id",
            "in": "query",
            "description": "Must be a UUID. Filter claims by policy ID.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715"
          },
          {
            "name": "created_by",
            "in": "query",
            "description": "Must be a UUID. Filter claims by the ID of the user or API key that created them.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "00000000-0000-0000-0000-000000000001"
          },
          {
            "name": "created_by_type",
            "in": "query",
            "description": "Filter claims by the type of entity that created them.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "api_key"
              ]
            },
            "example": "user"
          },
          {
            "name": "assigned_to",
            "in": "query",
            "description": "Must be a UUID. Filter claims by the user they are assigned to.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "00000000-0000-0000-0000-000000000001"
          },
          {
            "name": "user_group_id",
            "in": "query",
            "description": "Must be a UUID. Filter claims by user group ID.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715"
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of related objects to include in the response. Valid values: `policy`, `policyholder`, `user_group`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "policy",
                  "policyholder",
                  "user_group"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "example": "policy,policyholder"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Total-Count": {
                "description": "The total number of claims matching the query.",
                "schema": {
                  "type": "integer",
                  "example": 42
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claims"
                },
                "example": [
                  {
                    "claim_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                    "claim_number": "D33B754ADA8F",
                    "created_at": "2017-10-16T10:12:02.872Z",
                    "updated_at": "2017-10-16T10:15:02.872Z",
                    "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                    "policyholder_id": "00000000-0000-0000-0000-000000000004",
                    "member_id": "673b8081-9668-4136-97cc-6ae0debda083",
                    "claim_status": "open",
                    "approval_status": "pending",
                    "claimant": {
                      "first_name": "Erlich",
                      "last_name": "Aviato",
                      "email": "erlich@aviato.com"
                    },
                    "currency": "ZAR",
                    "app_data": {
                      "key1": "value 1"
                    },
                    "requested_amount": 13000000,
                    "created_by": {
                      "id": "00000000-0000-0000-0000-000000000001",
                      "type": "user"
                    }
                  },
                  {
                    "claim_id": "cf5f074e-e09f-4d85-bc2d-07cfcae63f30",
                    "claim_number": "CF5F074EDA8F",
                    "created_at": "2017-10-14T11:09:55.332Z",
                    "updated_at": "2017-10-14T12:00:00.000Z",
                    "policy_id": "76096ff5-f4ed-47e2-8ac0-de16ba095508",
                    "policyholder_id": "00000000-0000-0000-0000-000000000005",
                    "covered_item_id": "9dc39b57-cdc7-48f9-a303-d7c4f0421a0c",
                    "claim_status": "closed",
                    "approval_status": "approved",
                    "currency": "ZAR",
                    "requested_amount": 2000000,
                    "granted_amount": 1870000,
                    "created_by": {
                      "id": "00000000-0000-0000-0000-000000000001",
                      "type": "user"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/claims/{claim_id}": {
      "get": {
        "operationId": "retrieve-a-claim",
        "summary": "Retrieve a claim",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Retrieve"
        ],
        "parameters": [
          {
            "name": "claim_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [claim](ref:claim).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of related objects to include in the response. Valid values: `policy`, `policyholder`, `user_group`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "policy",
                  "policyholder",
                  "user_group"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claim"
                },
                "example": {
                  "claim_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "claim_number": "D33B754ADA8F",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "updated_at": "2017-10-16T10:15:02.872Z",
                  "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "policyholder_id": "00000000-0000-0000-0000-000000000004",
                  "member_id": "673b8081-9668-4136-97cc-6ae0debda083",
                  "covered_item_id": "9dc39b57-cdc7-48f9-a303-d7c4f0421a0c",
                  "claim_status": "open",
                  "approval_status": "pending",
                  "currency": "ZAR",
                  "app_data": {
                    "key1": "value 1",
                    "key2": "value 2"
                  },
                  "claimant": {
                    "first_name": "Erlich",
                    "last_name": "Aviato",
                    "email": "erlich@aviato.com"
                  },
                  "requested_amount": 13000000,
                  "granted_amount": 9400000,
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updating-a-claim",
        "summary": "Update a claim",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Manage"
        ],
        "parameters": [
          {
            "name": "claim_id",
            "in": "path",
            "description": "The unique identifier of the [claim](ref:claim)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "incident_type": {
                    "type": "string",
                    "description": "A description of the incident type."
                  },
                  "incident_cause": {
                    "type": "string",
                    "description": "A description of the cause of the incident."
                  },
                  "incident_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date on the which the incident occurred."
                  },
                  "app_data": {
                    "type": "object",
                    "description": "`null` is allowed. An object containing additional custom data for the claim.",
                    "additionalProperties": true,
                    "nullable": true
                  },
                  "requested_amount": {
                    "type": "integer",
                    "description": "The requested payout amount (in cents) for the claim."
                  }
                },
                "example": {
                  "incident_type": "Theft",
                  "incident_cause": "Device stolen during burglary",
                  "incident_date": "2017-10-16T10:12:02.872Z",
                  "app_data": {
                    "key3": "value3"
                  },
                  "requested_amount": 13000000
                }
              },
              "example": {
                "incident_type": "Theft",
                "incident_cause": "Device stolen during burglary",
                "incident_date": "2017-10-16T10:12:02.872Z",
                "app_data": {
                  "key3": "value3"
                },
                "requested_amount": 13000000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claim"
                },
                "example": {
                  "claim_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "member_id": "673b8081-9668-4136-97cc-6ae0debda083",
                  "covered_item_id": "9dc39b57-cdc7-48f9-a303-d7c4f0421a0c",
                  "claim_status": "open",
                  "approval_status": "pending",
                  "app_data": {
                    "key3": "value 3"
                  },
                  "requested_amount": 13000000,
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/claims/{claim_id}/acknowledge-approved": {
      "post": {
        "operationId": "acknowledge-approved",
        "summary": "Acknowledge approval",
        "description": "Acknowledges a claim approval decision, transitioning the claim to pending payout.",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Supervisor decision"
        ],
        "parameters": [
          {
            "name": "claim_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [claim](ref:claim).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of related objects to include in the response. Valid values: `policy`, `policyholder`, `user_group`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "policy",
                  "policyholder",
                  "user_group"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "A reason for acknowledging the approval."
                  }
                }
              },
              "example": {
                "reason": "Claim meets approval criteria."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claim"
                },
                "example": {
                  "claim_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "updated_at": "2017-10-16T10:15:02.872Z",
                  "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "policyholder_id": "00000000-0000-0000-0000-000000000004",
                  "claim_status": "pending_payout",
                  "approval_status": "approved",
                  "claim_number": "D33B754ADA8F",
                  "currency": "ZAR",
                  "claimant": {
                    "email": "erlich@aviato.com",
                    "first_name": "Erlich",
                    "last_name": "Aviato",
                    "relationship": "main_member"
                  },
                  "requested_amount": 13000000,
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/claims/{claim_id}/acknowledge-goodwill": {
      "post": {
        "operationId": "acknowledge-goodwill",
        "summary": "Acknowledge goodwill",
        "description": "Acknowledges a goodwill claim decision, transitioning the claim to pending payout.",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Supervisor decision"
        ],
        "parameters": [
          {
            "name": "claim_id",
            "in": "path",
            "description": "Must be a UUID. The unique identifier of the [claim](ref:claim).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d3d13c48-4dc3-4816-8d01-de3215878225"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of related objects to include in the response. Valid values: `policy`, `policyholder`, `user_group`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "policy",
                  "policyholder",
                  "user_group"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "A reason for acknowledging the goodwill decision."
                  }
                }
              },
              "example": {
                "reason": "Claim meets goodwill criteria."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claim"
                },
                "example": {
                  "claim_id": "d3d13c48-4dc3-4816-8d01-de3215878225",
                  "created_at": "2017-10-16T10:12:02.872Z",
                  "updated_at": "2017-10-16T10:15:02.872Z",
                  "policy_id": "8349345c-a6c5-4bf9-8ebb-6bbfc1628715",
                  "covered_item_id": "9dc39b57-cdc7-48f9-a303-d7c4f0421a0c",
                  "policyholder_id": "00000000-0000-0000-0000-000000000004",
                  "claim_status": "pending_payout",
                  "approval_status": "goodwill",
                  "claim_number": "D33B754ADA8F",
                  "currency": "ZAR",
                  "claimant": {
                    "email": "erlich@aviato.com",
                    "first_name": "Erlich",
                    "last_name": "Aviato",
                    "relationship": "main_member"
                  },
                  "requested_amount": 13000000,
                  "created_by": {
                    "id": "00000000-0000-0000-0000-000000000001",
                    "type": "user"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/claims/{claim_id}/acknowledge-no-claim": {
      "post": {
        "operationId": "acknowledge-no-claim",
        "summary": "Acknowledge no claim",
        "description": "Acknowledges a no-claim decision, finalizing the claim as no-claim.",
        "tags": [
          "Claims"
        ],
        "x-additional-tags": [
          "Supervisor decision"
        ],
        "parameters": [
          {
[...]
