{
  "openapi": "3.0.3",
  "info": {
    "title": "RIDB API",
    "version": "1.0.0",
    "description": "The Recreation Information Database (RIDB) API provides data about federal recreation areas, facilities, campsites, permits, tours, activities, and events managed by the US government. Requires an API key for authentication.",
    "x-jentic-source-url": "https://ridb.recreation.gov/"
  },
  "servers": [
    {
      "url": "https://ridb.recreation.gov/api/v1"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List all organizations",
        "description": "Returns a list of organizations that manage recreation areas and facilities.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return (max 50)",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start record number for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    },
    "/organizations/{orgId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get a specific organization",
        "description": "Returns details for a specific organization by ID.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/recareas": {
      "get": {
        "operationId": "listRecAreas",
        "summary": "List recreation areas",
        "description": "Returns a list of recreation areas matching the given criteria.",
        "tags": [
          "Recreation Areas"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start record for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma-delimited list of two-letter state abbreviations",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "description": "Comma-delimited list of activity IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude for geographic search",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude for geographic search",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in miles (requires lat/long)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of recreation areas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recareas/{recAreaId}": {
      "get": {
        "operationId": "getRecArea",
        "summary": "Get a specific recreation area",
        "description": "Returns details for a specific recreation area by ID.",
        "tags": [
          "Recreation Areas"
        ],
        "parameters": [
          {
            "name": "recAreaId",
            "in": "path",
            "required": true,
            "description": "Recreation area ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecArea"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Recreation area not found"
          }
        }
      }
    },
    "/facilities": {
      "get": {
        "operationId": "listFacilities",
        "summary": "List facilities",
        "description": "Returns a list of facilities matching the given criteria.",
        "tags": [
          "Facilities"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start record for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma-delimited list of two-letter state abbreviations",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "description": "Comma-delimited list of activity IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude for geographic search",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude for geographic search",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in miles",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of facilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/facilities/{facilityId}": {
      "get": {
        "operationId": "getFacility",
        "summary": "Get a specific facility",
        "description": "Returns details for a specific facility by ID.",
        "tags": [
          "Facilities"
        ],
        "parameters": [
          {
            "name": "facilityId",
            "in": "path",
            "required": true,
            "description": "Facility ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Facility"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Facility not found"
          }
        }
      }
    },
    "/campsites": {
      "get": {
        "operationId": "listCampsites",
        "summary": "List campsites",
        "description": "Returns a list of campsites matching the given criteria.",
        "tags": [
          "Campsites"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start record for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of campsites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/campsites/{campsiteId}": {
      "get": {
        "operationId": "getCampsite",
        "summary": "Get a specific campsite",
        "description": "Returns details for a specific campsite by ID.",
        "tags": [
          "Campsites"
        ],
        "parameters": [
          {
            "name": "campsiteId",
            "in": "path",
            "required": true,
            "description": "Campsite ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campsite"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campsite not found"
          }
        }
      }
    },
    "/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "description": "Returns a list of all available recreation activities.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start record for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activities/{activityId}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get a specific activity",
        "description": "Returns details for a specific activity by ID.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "description": "Activity ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Activity not found"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Returns a list of recreation events.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start record for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get a specific event",
        "description": "Returns details for a specific event by ID.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "RECDATA": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of result records"
          },
          "METADATA": {
            "$ref": "#/components/schemas/PaginationMetadata"
          }
        }
      },
      "PaginationMetadata": {
        "type": "object",
        "properties": {
          "RESULTS": {
            "type": "object",
            "properties": {
              "CURRENT_COUNT": {
                "type": "integer"
              },
              "TOTAL_COUNT": {
                "type": "integer"
              }
            }
          },
          "SEARCH_PARAMETERS": {
            "type": "object",
            "properties": {
              "QUERY": {
                "type": "string"
              },
              "LIMIT": {
                "type": "integer"
              },
              "OFFSET": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "OrgID": {
            "type": "string"
          },
          "OrgName": {
            "type": "string"
          },
          "OrgAbbrevName": {
            "type": "string"
          },
          "OrgType": {
            "type": "string"
          },
          "OrgImageURL": {
            "type": "string"
          },
          "OrgURLText": {
            "type": "string"
          },
          "OrgURLAddress": {
            "type": "string"
          }
        }
      },
      "RecArea": {
        "type": "object",
        "properties": {
          "RecAreaID": {
            "type": "string"
          },
          "OrgRecAreaID": {
            "type": "string"
          },
          "ParentOrgID": {
            "type": "string"
          },
          "RecAreaName": {
            "type": "string"
          },
          "RecAreaDescription": {
            "type": "string"
          },
          "RecAreaUseFeeDescription": {
            "type": "string"
          },
          "RecAreaDirections": {
            "type": "string"
          },
          "RecAreaPhone": {
            "type": "string"
          },
          "RecAreaEmail": {
            "type": "string"
          },
          "RecAreaReservationURL": {
            "type": "string"
          },
          "RecAreaMapURL": {
            "type": "string"
          },
          "RecAreaLongitude": {
            "type": "number",
            "format": "double"
          },
          "RecAreaLatitude": {
            "type": "number",
            "format": "double"
          },
          "StayLimit": {
            "type": "string"
          },
          "LastUpdatedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Facility": {
        "type": "object",
        "properties": {
          "FacilityID": {
            "type": "string"
          },
          "OrgFacilityID": {
            "type": "string"
          },
          "ParentOrgID": {
            "type": "string"
          },
          "ParentRecAreaID": {
            "type": "string"
          },
          "FacilityName": {
            "type": "string"
          },
          "FacilityDescription": {
            "type": "string"
          },
          "FacilityTypeDescription": {
            "type": "string"
          },
          "FacilityUseFeeDescription": {
            "type": "string"
          },
          "FacilityDirections": {
            "type": "string"
          },
          "FacilityPhone": {
            "type": "string"
          },
          "FacilityEmail": {
            "type": "string"
          },
          "FacilityReservationURL": {
            "type": "string"
          },
          "FacilityMapURL": {
            "type": "string"
          },
          "FacilityLongitude": {
            "type": "number",
            "format": "double"
          },
          "FacilityLatitude": {
            "type": "number",
            "format": "double"
          },
          "LastUpdatedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Campsite": {
        "type": "object",
        "properties": {
          "CampsiteID": {
            "type": "string"
          },
          "FacilityID": {
            "type": "string"
          },
          "CampsiteName": {
            "type": "string"
          },
          "CampsiteType": {
            "type": "string"
          },
          "TypeOfUse": {
            "type": "string"
          },
          "Loop": {
            "type": "string"
          },
          "CampsiteAccessible": {
            "type": "boolean"
          },
          "CampsiteLongitude": {
            "type": "number",
            "format": "double"
          },
          "CampsiteLatitude": {
            "type": "number",
            "format": "double"
          },
          "LastUpdatedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "ActivityID": {
            "type": "integer"
          },
          "ActivityParentID": {
            "type": "integer"
          },
          "ActivityName": {
            "type": "string"
          },
          "ActivityLevel": {
            "type": "integer"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "EventID": {
            "type": "string"
          },
          "EntityID": {
            "type": "string"
          },
          "EntityType": {
            "type": "string"
          },
          "EventName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "EventStartDate": {
            "type": "string",
            "format": "date"
          },
          "EventEndDate": {
            "type": "string",
            "format": "date"
          },
          "EventFeeDescription": {
            "type": "string"
          },
          "EventFrequencyRateDescription": {
            "type": "string"
          },
          "EventRegistrationRequired": {
            "type": "boolean"
          },
          "LastUpdatedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "RIDB API key. Register at https://ridb.recreation.gov to obtain one."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}