{
  "openapi": "3.0.3",
  "info": {
    "description": "\n**Limitations:** <ul> <li>You are allowed to make 2 requests per second (120 per minute).</li> <li>You must respect our 429 response codes, which indicate rate limiting. The `Retry-After` header will specify when to retry.</li> </ul>\n**Requirements for All Requests:** <ul> <li>Each request must include a `User-Agent` header identifying the client making the request. Requests lacking this header or generic headers name may be rejected . </br>\n  Please use company Id (client id) or if you a provider - your provider name</li>\n  </ul>\nFor further details, please refer to our documentation or contact support at support@istores.co.il.\n",
    "version": "1.2.5",
    "title": "MyIstores Api",
    "termsOfService": "",
    "contact": {
      "email": "support@istores.co.il"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/istores.co.il/myistores/1.2.5/openapi.json"
  },
  "servers": [
    {
      "description": "My Istores API url",
      "url": "https://api.istores.co.il"
    }
  ],
  "paths": {
    "/customers": {
      "post": {
        "tags": [
          "customers"
        ],
        "description": "Get list of customers with filters",
        "summary": "list of customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "In case of succes return list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/customer": {
      "post": {
        "tags": [
          "customers"
        ],
        "description": "Create single customer",
        "summary": "Customer create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/customer/{customer_id}": {
      "put": {
        "tags": [
          "customers"
        ],
        "description": "Edit exist customer",
        "summary": "list of customers",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "delete": {
        "tags": [
          "customers"
        ],
        "description": "Delete customer by its id",
        "summary": "Delete customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "get": {
        "tags": [
          "customers"
        ],
        "description": "Get customer details by its id",
        "summary": "Customer details",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "In case of succes return single customer`s details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSingleResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/order_status_list": {
      "get": {
        "tags": [
          "orders"
        ],
        "description": "Get order Status ids that can be passed to order list method",
        "summary": "Get order status ids",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusList"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "orders"
        ],
        "description": "Get full list with all orders with date filter",
        "summary": "Get full list with all orders with date filter",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date_from": {
                    "type": "string",
                    "description": "Valid date (year-month-day) wich we start the filter from",
                    "example": "2020-01-20"
                  },
                  "date_to": {
                    "type": "string",
                    "description": "Valid date (year-month-day) wich we end the filter",
                    "example": "2020-01-25"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Limit orders per page (minimum 1)",
                    "minimum": 1,
                    "maximum": 100,
                    "example": 10
                  },
                  "page": {
                    "type": "integer",
                    "description": "Limit orders per page (minimum 1)",
                    "minimum": 1,
                    "example": 1
                  },
                  "order_status_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of valid order status ids - Leave empty or dont pass this property to get full llist",
                    "example": [
                      1,
                      5
                    ]
                  }
                },
                "required": [
                  "date_from",
                  "date_to",
                  "limit",
                  "page"
                ]
              }
            }
          }
        }
      }
    },
    "/order/{order_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "description": "Get order details by order id",
        "summary": "Get order details by order Id",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSingleResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/order/{order_id}/update_status": {
      "post": {
        "tags": [
          "orders"
        ],
        "description": "Updating single order status and adding comment , with optional notify",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Determine if update action executed successfullyy",
                          "example": true
                        },
                        "message": {
                          "type": "string",
                          "description": "Include short description if there is an error or success",
                          "example": "Order status updated successfully"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderStatusUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/order/{order_id}/create_doc": {
      "post": {
        "tags": [
          "orders"
        ],
        "description": "Create invoice for single order",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "In case of successfully request return details for invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateDocResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateDocRequest"
              }
            }
          }
        }
      }
    },
    "/order/{order_id}/shipping/create": {
      "post": {
        "tags": [
          "orders"
        ],
        "description": "Create shipping",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "In case of successfully request return details for shipping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateShippingResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateShippingRequest"
              }
            }
          }
        }
      }
    },
    "/order/{order_id}/shipping/get_sticker": {
      "post": {
        "tags": [
          "orders"
        ],
        "description": "Create shipping",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return pdf file with stickers",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderProviderShippingRequest"
              }
            }
          }
        }
      }
    },
    "/order/{order_id}/shipping/status_check": {
      "post": {
        "tags": [
          "orders"
        ],
        "description": "Create shipping",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return statuses list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusShippingResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderProviderShippingRequest"
              }
            }
          }
        }
      }
    },
    "/custom_orders": {
      "post": {
        "tags": [
          "custom_orders"
        ],
        "description": "Get full list with all custom orders with date filter",
        "summary": "Get full list with all custom orders with date filter",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomOrderListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomOrderListRequest"
              }
            }
          }
        }
      }
    },
    "/custom_order/{order_id}": {
      "get": {
        "tags": [
          "custom_orders"
        ],
        "description": "Get custom order details by order id",
        "summary": "Get custom order details by order Id",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomOrderSingleResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/custom_fields/{limit}/{page}": {
      "get": {
        "tags": [
          "custom_field"
        ],
        "description": "Get list of custom fields",
        "summary": "Get custom field list",
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "description": "the limit of the custom fields recieved each call",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "page",
            "description": "the page number (start page is 0)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldSingle"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/custom_field/{custom_field_id}": {
      "get": {
        "tags": [
          "custom_field"
        ],
        "description": "Get single custom field full details",
        "summary": "Get single custom field",
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "description": "custom field id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldSingle"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "put": {
        "tags": [
          "custom_field"
        ],
        "description": "Update existing custom field",
        "summary": "Update existing custom field",
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "description": "custom field id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldCrudStructure"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field deleted successfullyy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse200"
                }
              }
            }
          },
          "403": {
            "description": "Process failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "custom_field"
        ],
        "description": "Delete existing custom field",
        "summary": "Delete existing custom field",
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "description": "custom field id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field deleted successfullyy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse200"
                }
              }
            }
          },
          "403": {
            "description": "Process failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse403"
                }
              }
            }
          }
        }
      }
    },
    "/custom_field": {
      "post": {
        "tags": [
          "custom_field"
        ],
        "description": "Create new custom field",
        "summary": "Create new custom field",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldCrudStructure"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field deleted successfullyy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldPostResponse200"
                }
              }
            }
          },
          "403": {
            "description": "Process failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse403"
                }
              }
            }
          }
        }
      }
    },
    "/custom_field_info/types": {
      "get": {
        "tags": [
          "custom_field"
        ],
        "description": "Get list of custom field types",
        "summary": "Get list of custom field types",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldTypes"
                }
              }
            }
          },
          "403": {
            "description": "Auth error"
          }
        }
      }
    },
    "/custom_field_info/locations": {
      "get": {
        "tags": [
          "custom_field"
        ],
        "description": "Get list of custom field types",
        "summary": "Get list of custom field types",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldLocations"
                }
              }
            }
          },
          "403": {
            "description": "Auth error"
          }
        }
      }
    },
    "/categories": {
      "post": {
        "tags": [
          "categories"
        ],
        "description": "Create new Cateogry",
        "summary": "Create New Category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryCreateEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseTop"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "string",
                          "example": "Category created successfully, id: 126"
                        },
                        "category_id": {
                          "type": "integer",
                          "example": 126
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "get": {
        "tags": [
          "categories"
        ],
        "description": "Get all categories",
        "summary": "Get all categories",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "The array is the first block of the structure , contains object for each category",
                  "items": {
                    "$ref": "#/components/schemas/CategoryListResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/{category_id}": {
      "put": {
        "tags": [
          "categories"
        ],
        "description": "Edit existing category by category ID",
        "summary": "Edit existing category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryCreateEdit"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "description": "Category Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseTop"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "string",
                          "example": "Category updated successfully, id: 126"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "delete": {
        "tags": [
          "categories"
        ],
        "description": "Delete category by Id",
        "summary": "Delete existing category",
        "parameters": [
          {
            "name": "category_id",
            "required": true,
            "in": "path",
            "description": "Category Id",
            "schema": {
              "type": "integer",
              "example": 12500,
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseTop"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "string",
                          "example": "Category deleted successfully, id: 126"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "get": {
        "tags": [
          "categories"
        ],
        "description": "Get Category data by ID",
        "summary": "Get existing category data",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "description": "category ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategorySingleSingle"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/products/{limit}/{page}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Get products to store",
        "operationId": "ListProducts",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Wrong Token"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "description": "Limit of recieve products",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "page",
            "in": "path",
            "description": "Page number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Get product by id",
        "operationId": "GetProductById",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSingleResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "products"
        ],
        "summary": "Update an existing Product",
        "operationId": "UpdateProductById",
        "responses": {
          "200": {
            "description": "successfully request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseTop"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "string",
                          "example": "Product Updated successfully, productID: 216"
                        },
                        "product_id": {
                          "type": "number",
                          "example": 216
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductEditRequest"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "products"
        ],
        "summary": "Delete Product",
        "operationId": "DeleteProductById",
        "responses": {
          "200": {
            "description": "successfully request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseTop"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "string",
                          "example": "Product was delete successfully"
                        },
                        "product_id": {
                          "type": "number",
                          "example": 216
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      }
    },
    "/products/bulk": {
      "put": {
        "tags": [
          "products"
        ],
        "summary": "Edit multiple products in single request",
        "operationId": "EditProductsBulk",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductBulkEditResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBulkEditRequest"
              }
            }
          }
        }
      }
    },
    "/products": {
      "post": {
        "tags": [
          "products"
        ],
        "summary": "Create New Product",
        "operationId": "CreateProduct",
        "responses": {
          "200": {
            "description": "successfully request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponseTop"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "string",
                          "example": "Product created successfully, productID: 970"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/BaseResponseBottom"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductAddRequest"
              }
            }
          }
        }
      }
    },
    "/coupons": {
      "post": {
        "tags": [
          "coupons"
        ],
        "summary": "Get list of coupons with filters",
        "description": "Get list of coupons with filters",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponResponseStructureArray"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponListRequest"
              }
            }
          }
        }
      }
    },
    "/coupon/{coupon_id}": {
      "get": {
        "parameters": [
          {
            "name": "coupon_id",
            "in": "path",
            "description": "The coupon id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "coupons"
        ],
        "summary": "Get single coupon info",
        "description": "Get full data and info for a single coupon",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponResponseStructure"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/shipping_methods": {
      "get": {
        "tags": [
          "shipping"
        ],
        "summary": "Get list of shipping methods",
        "description": "Get full list of all client's shipping methods created by system with their settings and statuses",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingMethodListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/shipping/{shipping_id}": {
      "get": {
        "parameters": [
          {
            "name": "shipping_id",
            "in": "path",
            "description": "Id of shipping we look for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "shipping"
        ],
        "summary": "Get single shipping method",
        "description": "Get single shipping method created by system with it's settings and statuses",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingSingleResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/automation/webhooks": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "Get list of webhooks",
        "description": "Get list of webhooks the data related and events",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of webhook objects",
                  "items": {
                    "$ref": "#/components/schemas/webhookSingle"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhookListRequest"
              }
            }
          }
        }
      }
    },
    "/automation/webhook": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "Create single webhook",
        "description": "Create single webhook",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookCrudResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhookCreateUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/automation/webhook/{webhook_id}": {
      "get": {
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Id of Webhook we look for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "webhook"
        ],
        "summary": "Get single webhook",
        "description": "Get single webhook with the data related and events",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookSingle"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Id of Webhook we update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "webhook"
        ],
        "summary": "Update single webhook",
        "description": "Update single webhook",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookCrudResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhookCreateUpdateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Id of Webhook we delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "webhook"
        ],
        "summary": "Delete single webhook",
        "description": "Delete single webhook",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookCrudResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/automation/webhook_events": {
      "get": {
        "tags": [
          "webhook"
        ],
        "summary": "Get list of event ids",
        "description": "Get list of event ids and slug explaination",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/webhookEventListResponse"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/language_list": {
      "get": {
        "tags": [
          "misc"
        ],
        "summary": "Get language detail list",
        "description": "Get language detail list",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageList"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/currency_list": {
      "get": {
        "tags": [
          "misc"
        ],
        "summary": "List of currencies",
        "description": "Get list of available currencies",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyList"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/dimension_list": {
      "get": {
        "tags": [
          "misc"
        ],
        "summary": "List of valid dimensions",
        "description": "Get List of valid dimension with their ids and descriptions",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DimensionList"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/stock_status_list": {
      "get": {
        "tags": [
          "misc"
        ],
        "summary": "Get stock status list",
        "description": "Get stock status list",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockStatusList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "403": {
        "description": "Auth error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "string",
                  "description": "For inner process purpose it will be 'false' in this case",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "description": "Message describes the issue",
                  "example": "Sorry, wrong token"
                }
              }
            }
          }
        }
      },
      "422": {
        "description": "Any error not related to auth, can be missing parameters | no data found | action already registered and etc...",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "string",
                  "description": "For inner process purpose it will be 'false' in this case",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "description": "Message describes the issue",
                  "example": "No data found"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "BaseResponseTop": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "BaseResponseBottom": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "1ef2da0b-6f98-6fec-b13f-06c63b84be49"
          }
        }
      },
      "BaseResponsePagination": {
        "type": "object",
        "properties": {
          "results": {
            "type": "number",
            "example": 233
          },
          "pages": {
            "type": "number",
            "example": 100
          },
          "page": {
            "type": "number",
            "example": 4
          },
          "per_page": {
            "type": "number",
            "example": 2
          }
        }
      },
      "CustomFieldResponse403": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "response": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Additional message if process succeed",
                "example": "Cant delete custom field - contact the support"
              }
            }
          }
        }
      },
      "CustomFieldResponse200": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Additional message if process succeed",
                "example": "Custom field removed"
              }
            }
          }
        }
      },
      "CustomFieldPostResponse200": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Additional message if process succeed",
                "example": "Custom field removed"
              },
              "custom_field_id": {
                "type": "integer",
                "description": "Return the id of the created custom field",
                "example": 23
              }
            }
          }
        }
      },
      "CustomFieldLocations": {
        "type": "object",
        "description": "Object that contains success status and response content",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Each element in this array is valid location for custom field",
                  "example": "address"
                }
              }
            }
          }
        }
      },
      "CustomFieldTypes": {
        "type": "object",
        "description": "Object that contains success status and response content",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "single_value": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Each element in this array represent valid custom field type (single value type)",
                      "example": "textarea"
                    }
                  },
                  "multi_value": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Each element in this array represent valid custom field type (multi value type)",
                      "example": "checkbox"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomFieldSingle": {
        "type": "object",
        "description": "Object that contains success status and response content",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "custom_field_id": {
                    "type": "object",
                    "properties": {
                      "custom_field_id": {
                        "type": "integer",
                        "example": 232
                      },
                      "value": {
                        "type": "string",
                        "description": "The value of the custom field insreted automatically (If its signle value field)",
                        "example": "My value"
                      },
                      "validation": {
                        "type": "string",
                        "description": "valid pattern for reges (optional)"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the custom field",
                        "example": "text"
                      },
                      "location": {
                        "type": "string",
                        "description": "The location of the field in the store pages",
                        "example": "address"
                      },
                      "slug": {
                        "type": "string",
                        "description": "A slug for inner proccesses and API usage, can be the same slug event after renaming the custom field name itself",
                        "example": "street-number"
                      },
                      "status": {
                        "type": "integer",
                        "description": "status of custom field (if active its '1')",
                        "example": 1
                      },
                      "sort_order": {
                        "type": "integer",
                        "description": "The order of the custom field",
                        "example": 6
                      },
                      "custom_field_customer_group": {
                        "type": "object",
                        "description": "Object with objects of customer group info (for now there is only default customer group id for the store)",
                        "properties": {
                          "custom_field_id": {
                            "type": "integer",
                            "example": 232
                          },
                          "customer_group_id": {
                            "type": "integer",
                            "example": 55,
                            "description": "The default id of the customer group"
                          },
                          "required": {
                            "type": "integer",
                            "description": "Required field getting 1/0, if 1 it means the field is required",
                            "example": 1
                          }
                        }
                      },
                      "name": {
                        "type": "object",
                        "description": "Object of names reffered to language id",
                        "properties": {
                          "language_id": {
                            "description": "The index represent the language id of the name of the custom field",
                            "type": "string",
                            "example": "number of house"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerListRequest": {
        "type": "object",
        "description": "Object with filters for the customer list",
        "properties": {
          "limit": {
            "type": "number",
            "format": "int64",
            "description": "The limit of the results return - can be between 0 and 100",
            "default": 10,
            "example": 15
          },
          "page": {
            "type": "number",
            "format": "int64",
            "description": "The page/index of the results related to the result number",
            "default": 0,
            "example": 2
          },
          "search": {
            "type": "string",
            "description": "Search the customers by name or email - case sensitive",
            "example": "Jhon"
          },
          "direction": {
            "type": "string",
            "description": "The direction of return results by the customer creation date",
            "enum": [
              "desc",
              "asc"
            ]
          }
        }
      },
      "CustomerListResponse": {
        "type": "array",
        "description": "Array of objects containing each customer details",
        "items": {
          "type": "object",
          "properties": {
            "customer_id": {
              "type": "number",
              "format": "int64",
              "description": "Customer unique id - use to delete/get/edit customer",
              "example": 123
            },
            "customer_group_id": {
              "type": "number",
              "format": "int64",
              "description": "Customer group id",
              "example": 23
            },
            "name": {
              "type": "string",
              "description": "Full customer name",
              "example": "Jhon Doe"
            },
            "email": {
              "type": "string",
              "format": "email",
              "description": "Customers email",
              "example": "Jhon@gmail.com"
            },
            "telephone": {
              "type": "string",
              "description": "Customer`s phone",
              "example": "0544884654"
            },
            "date_added": {
              "type": "string",
              "format": "date",
              "description": "Date customer added or registered"
            },
            "addresses": {
              "type": "array",
              "items": {
                "type": "object",
                "description": "Address object with address details",
                "properties": {
                  "address_id": {
                    "type": "number",
                    "description": "Unique address id - used for edit the customers address",
                    "example": 3221
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Customer first name",
                    "example": "Jhon"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Customer last name",
                    "example": "Doe"
                  },
                  "address_1": {
                    "type": "string",
                    "description": "The address details exclude city",
                    "example": "Herzel street 25"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city name",
                    "example": "Tel aviv"
                  },
                  "postcode": {
                    "type": "number",
                    "description": "The post code of the address",
                    "format": "int64",
                    "example": 43324
                  }
                }
              }
            }
          }
        }
      },
      "CustomerSingleResponse": {
        "type": "object",
        "description": "Object of customer`s details",
        "properties": {
          "customer_id": {
            "type": "number",
            "format": "int64",
            "description": "Customer unique id - use to delete/get/edit customer",
            "example": 123
          },
          "customer_group_id": {
            "type": "number",
            "format": "int64",
            "description": "Customer group id",
            "example": 23
          },
          "name": {
            "type": "string",
            "description": "Full customer name",
            "example": "Jhon Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customers email",
            "example": "Jhon@gmail.com"
          },
          "telephone": {
            "type": "string",
            "description": "Customer`s phone",
            "example": "0544884654"
          },
          "date_added": {
            "type": "string",
            "format": "date",
            "description": "Date customer added or registered"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Address object with address details",
              "properties": {
                "address_id": {
                  "type": "number",
                  "description": "Unique address id - used for edit the customers address",
                  "example": 3221
                },
                "firstname": {
                  "type": "string",
                  "description": "Customer first name",
                  "example": "Jhon"
                },
                "lastname": {
                  "type": "string",
                  "description": "Customer last name",
                  "example": "Doe"
                },
                "address_1": {
                  "type": "string",
                  "description": "The address details exclude city",
                  "example": "Herzel street 25"
                },
                "city": {
                  "type": "string",
                  "description": "The city name",
                  "example": "Tel aviv"
                },
                "postcode": {
                  "type": "number",
                  "description": "The post code of the address",
                  "format": "int64",
                  "example": 43324
                }
              }
            }
          }
        }
      },
      "CustomerCreate": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "description": "Customer first name",
            "example": "Jhon"
          },
          "lastname": {
            "type": "string",
            "description": "Customer last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "description": "Customers email",
            "example": "Jhon@gmail.com"
          },
          "telephone": {
            "type": "string",
            "description": "Customers telephone",
            "example": "0544884547"
          },
          "password": {
            "type": "string",
            "description": "Password that will be related to this customer to login to the store",
            "example": "12345678"
          },
          "confirm": {
            "type": "string",
            "description": "Password confirmation",
            "example": "12345678"
          },
          "responder_list": {
            "type": "number",
            "format": "int64",
            "description": "Responder list id for subscription to newsletter",
            "example": 3221
          },
          "address": {
            "type": "object",
            "description": "Object of the main address will be related to the new customer",
            "properties": {
              "1": {
                "type": "object",
                "description": "The id must be 1 for customer creation",
                "properties": {
                  "address_1": {
                    "type": "string",
                    "description": "The address details exclude city",
                    "example": "Herzel street 25"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city name",
                    "example": "Tel aviv"
                  },
                  "postcode": {
                    "type": "number",
                    "description": "The post code of the address",
                    "format": "int64",
                    "example": 43324
                  }
                }
              }
            }
          }
        }
      },
      "CustomerEdit": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "description": "Customer first name",
            "example": "Jhon"
          },
          "lastname": {
            "type": "string",
            "description": "Customer last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "description": "Customers email",
            "example": "Jhon@gmail.com"
          },
          "telephone": {
            "type": "string",
            "description": "Customers telephone",
            "example": "0544884547"
          },
          "password": {
            "type": "string",
            "description": "Password that will be related to this customer to login to the store (If you dont want to change password dont pass this and confirm field)",
            "example": "12345678"
          },
          "confirm": {
            "type": "string",
            "description": "Password confirmation",
            "example": "12345678"
          },
          "address": {
            "type": "object",
            "description": "Object of the main address will be related to the new customer",
            "properties": {
              "address_id": {
                "type": "object",
                "description": "replace the object key address_id with the actual address id, If incorrect id will create new address and relate it to customer",
                "properties": {
                  "address_1": {
                    "type": "string",
                    "description": "The address details exclude city",
                    "example": "Herzel street 25"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city name",
                    "example": "Tel aviv"
                  },
                  "postcode": {
                    "type": "number",
                    "description": "The post code of the address",
                    "format": "int64",
                    "example": 43324
                  },
                  "address_id": {
                    "type": "number",
                    "description": "The address id we edit if incorrect will create new address and relate it to customer",
                    "format": "int64",
                    "example": 43324
                  }
                }
              }
            }
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "unique_id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "auth_number": {
            "type": "integer",
            "description": "the auth number of the order"
          },
          "responce_mac": {
            "type": "string",
            "description": "responses code that get back from CG after transaction"
          },
          "terminal_num": {
            "type": "integer",
            "description": "the terminal num (updated once a day)"
          },
          "mutav_no": {
            "type": "integer",
            "description": "The dealer num"
          },
          "card_token": {
            "type": "integer",
            "description": "the card token can be use for delayed order transacrions"
          },
          "card_exp": {
            "type": "integer",
            "description": "First two numbers are month , 2nd two numbers are year"
          },
          "card_mask": {
            "type": "integer",
            "description": "The card number with mask at the middle (not full number)"
          },
          "tx_id": {
            "type": "string",
            "description": "successfully transactions give back special transaction id that can be used for refunding and more"
          },
          "number_of_payment": {
            "type": "integer"
          },
          "first_payment": {
            "type": "integer",
            "description": "Relevant only if there is payment_lastname"
          },
          "periodical_payment": {
            "type": "integer",
            "description": "Relevant only if there is payment_lastname"
          },
          "mpiValidation": {
            "type": "string",
            "description": "Describe the type of the transaction",
            "enum": [
              "AutoComm",
              "Verify"
            ]
          }
        }
      },
      "StockStatusList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponseTop"
          },
          {
            "type": "object",
            "properties": {
              "statuses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "stock_status_id": {
                      "type": "integer",
                      "description": "Represents the stock status Id",
                      "example": 7
                    },
                    "language_id": {
                      "type": "integer",
                      "description": "Represents the default admin language id",
                      "example": 3
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the stock status",
                      "example": "in stock"
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/BaseResponseBottom"
          }
        ]
      },
      "customFieldResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "custom_field_id": {
              "type": "integer",
              "description": "Represents order custom field id"
            },
            "custom_field_value_id": {
              "type": "integer",
              "description": "Represents custom field value id"
            },
            "name": {
              "type": "string",
              "description": "The name of the custom field",
              "example": "Shoes size"
            },
            "value": {
              "type": "string",
              "description": "The value of the field",
              "example": "XL"
            },
            "type": {
              "type": "string",
              "description": "The type of the field entered",
              "example": "text"
            },
            "location": {
              "type": "string",
              "description": "The location of the field in the checkout page",
              "example": "address"
            },
            "slug": {
              "type": "string",
              "description": "Permament slug for api usage",
              "example": "house-number"
            }
          }
        }
      },
      "LanguageList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponseTop"
          },
          {
            "type": "object",
            "properties": {
              "languages": {
                "type": "array",
                "description": "Array of language objects",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The numeric id of the language we are using later for all the language related operations",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The description of the language on its own language translation",
                      "example": "Eng"
                    },
                    "code": {
                      "type": "string",
                      "description": "The code of the current language you can use for other validations to detect the language without the id",
                      "example": "en-gb"
                    },
                    "image": {
                      "type": "string",
                      "description": "Url to image related to current language",
                      "example": "http://cdn.istores.co.il/istores/image/upload/store_assets/en-gb.png"
                    },
                    "selected": {
                      "type": "integer",
                      "description": "1 - If language selected for current store | 0 - If not",
                      "enum": [
                        1,
                        0
                      ]
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/BaseResponseBottom"
          }
        ]
      },
      "CurrencyList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponseTop"
          },
          {
            "type": "object",
            "properties": {
              "currencies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The numeric id of the currency we are using later for all the currency related operations",
                      "example": 5
                    },
                    "name": {
                      "type": "string",
                      "description": "The description of the currency",
                      "example": "Dollar"
                    },
                    "code": {
                      "type": "string",
                      "description": "The code of the current currency you can use for other validations to detect the currency without the id",
                      "example": "USD"
                    },
                    "symbol": {
                      "type": "string",
                      "description": "The symbol of the currency",
                      "example": "$"
                    },
                    "selected": {
                      "type": "integer",
                      "description": "1 - If currency selected for current store | 0 - If not",
                      "enum": [
                        1,
                        0
                      ]
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/BaseResponseBottom"
          }
        ]
      },
      "DimensionList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponseTop"
          },
          {
            "type": "object",
            "properties": {
              "weights": {
                "type": "array",
                "description": "Array of valid weight classes inc their description",
                "items": {
                  "type": "object",
                  "properties": {
                    "weight_class_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The id of the weight class, this id passed to the product crud object",
                      "example": 1
                    },
                    "language_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The default system language id (the description translation related to the system language)",
                      "example": 2
                    },
                    "title": {
                      "type": "string",
                      "description": "The description full title of the current class",
                      "example": "Kilogram"
                    },
                    "unit": {
                      "type": "string",
                      "description": "The shortcut unit used for current class",
                      "example": "kg"
                    }
                  }
                }
              },
              "lengths": {
                "type": "array",
                "description": "Array of valid length dimension classes",
                "items": {
                  "type": "object",
                  "properties": {
                    "length_class_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The id of the length class, this id passed to the product crud object",
                      "example": 1
                    },
                    "language_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The default system language id (the description translation related to the system language)",
                      "example": 2
                    },
                    "title": {
                      "type": "string",
                      "description": "The description full title of the current class",
                      "example": "Mililtre"
                    },
                    "unit": {
                      "type": "string",
                      "description": "The shortcut unit used for current class",
                      "example": "ml"
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/BaseResponseBottom"
          }
        ]
      },
      "CouponListRequest": {
        "description": "Additional params for the list filter, no one is required",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9999,
            "description": "The start page for list pagination",
            "example": 1,
            "default": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "The results count limit between 1 - 100",
            "example": 50,
            "default": 50
          },
          "date_start": {
            "type": "string",
            "format": "date",
            "description": "Set the min date the coupon is valid from for usage",
            "example": "2021-04-03"
          },
          "date_end": {
            "type": "string",
            "format": "date",
            "description": "Set the max date the coupon is valid from for usage",
            "example": "2021-04-03"
          },
          "order_used_start": {
            "type": "string",
            "format": "date",
            "description": "The mininmum date for the order related to current coupon",
            "example": "2021-04-03"
          },
          "order_used_end": {
            "type": "string",
            "format": "date",
            "description": "The maximum date for the order related to current coupon",
            "example": "2021-04-03"
          },
          "date_added_start": {
            "type": "string",
            "format": "date",
            "description": "The mininmum date from the coupon added to system",
            "example": "2021-04-03"
          },
          "date_added_end": {
            "type": "string",
            "format": "date",
            "description": "The maximum date from the coupon added to system",
            "example": "2021-04-03"
          },
          "name": {
            "type": "string",
            "description": "The name of the coupon or part of it",
            "example": "summer sale"
          },
          "code": {
            "type": "string",
            "description": "The code of the coupon or part of it",
            "example": "SUMMER1012"
          },
          "type": {
            "type": "string",
            "description": "The type of the coupon for filter",
            "enum": [
              "percent",
              "P",
              "fixed",
              "F",
              "gift",
              "D"
            ]
          },
          "order_id": {
            "type": "integer",
            "format": "int32",
            "description": "The order id related to the coupon",
            "example": 54222
          }
        }
      },
      "CouponResponseStructureArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CouponResponseStructureArray"
        }
      },
      "CouponResponseStructure": {
        "type": "object",
        "properties": {
          "coupon_id": {
            "type": "integer",
            "description": "The id represent the coupon for CRUD and etc",
            "example": 23
          },
          "name": {
            "type": "string",
            "description": "The coupon name",
            "example": "Gift for november"
          },
          "code": {
            "type": "string",
            "description": "The Coupon code",
            "example": "JHG34G"
          },
          "type": {
            "type": "string",
            "description": "The type of the coupon (The letters at the example are the same as the string before)",
            "enum": [
              "percent",
              "P",
              "fixed",
              "F",
              "gift",
              "D"
            ]
          },
          "discount": {
            "type": "number",
            "format": "int64",
            "description": "The discount value of the coupon (the behaviour depends on the coupon type)",
            "example": 44
          },
          "logged": {
            "type": "integer",
            "format": "int32",
            "description": "1 - The coupon only for logged customers | 2 - coupon available for everyone",
            "enum": [
              0,
              1
            ]
          },
          "shipping": {
            "type": "integer",
            "format": "int32",
            "description": "0 - Exclude shipping | 1 - Free shipping | 2 - Include the shipping at the math action for this coupon",
            "enum": [
              0,
              1,
              2
            ]
          },
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "The minimum total sum the customer have to reach in his cart to apply the coupon",
            "example": 100
          },
          "date_start": {
            "type": "string",
            "format": "date",
            "description": "The date the coupon is available from",
            "example": "2021-04-03"
          },
          "date_end": {
            "type": "string",
            "format": "date",
            "description": "The maximum date the coupon is available",
            "example": "2021-04-03"
          },
          "date_added": {
            "type": "string",
            "format": "date",
            "description": "The date the coupon added",
            "example": "2021-04-03"
          },
          "uses_total": {
            "type": "string",
            "description": "The maximum total uses for this coupon",
            "example": 3
          },
          "uses_customer": {
            "type": "string",
            "description": "The maximum uses available for each registered customer (if the coupon only for registered customers)",
            "example": 10
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "1 - The coupon is active | 0 - The coupon not active",
            "enum": [
              0,
              1
            ]
          },
          "multiple_deals": {
            "type": "integer",
            "format": "int32",
            "description": "1 - The coupon enables more discounts | 0 - If coupon active other discounts will not work",
            "example": 1
          },
          "total_used": {
            "type": "integer",
            "format": "int32",
            "description": "The total times the current coupon used at the system",
            "example": 45
          }
        }
      },
      "ShippingSingleResponse": {
        "type": "object",
        "description": "Object with all shipping settings and transaltes",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "The display name of the shipping",
            "example": "My brand shipping"
          },
          "code": {
            "type": "string",
            "description": "Unique code for shipping for other systems usage",
            "example": "xyz_shipping"
          },
          "sort_order": {
            "type": "integer",
            "description": "The sort order of the shipping compared to other shipping methods",
            "example": 1
          },
          "from_sum": {
            "type": "number",
            "format": "int64",
            "description": "If there is from sum requirement for current shipping",
            "example": 450
          },
          "limit_sum": {
            "type": "number",
            "format": "int64",
            "description": "If there is limit sum requirement for current shipping",
            "example": 850
          },
          "status": {
            "type": "integer",
            "description": "The status of the shipping (1 - active and used, 0 - disabled)",
            "example": 1
          },
          "type": {
            "type": "integer",
            "description": "The shipping type (0 - regular cart shipping, 1 - product related shipping type)",
            "example": 1
          },
          "cost": {
            "type": "number",
            "format": "int64",
            "description": "The shipping cost in system's currency",
            "example": 265
          },
          "tax_class_id": {
            "type": "integer",
            "description": "The id of the tax class",
            "example": 0
          },
          "shipping_feed_status": {
            "type": "boolean",
            "format": "int32",
            "description": "0 - not showing in feeds, 1 - showing in feeds",
            "example": 1
          },
          "settings": {
            "type": "object",
            "description": "object with different shipping extra settings"
          },
          "descriptions": {
            "type": "object",
            "description": "Object with current shipping descriptions",
            "properties": {
              "language_id": {
                "type": "string",
                "description": "The key replaced with the actual language id numeric and the value is the description itself"
              }
            },
            "example": {
              "1": "Shipping description language id 1",
              "3": "Shipping description language id 3"
            }
          },
          "titles": {
            "type": "object",
            "description": "Object with current shipping titles",
            "properties": {
              "language_id": {
                "type": "string",
                "description": "The key replaced with the actual language id numeric and the value is the title itself"
              }
            },
            "example": {
              "1": "Shipping title language id 1",
              "3": "Shipping title language id 3"
            }
          },
          "additional_notes": {
            "type": "object",
            "description": "Object with current shipping additional_notes",
            "properties": {
              "language_id": {
                "type": "string",
                "description": "The key replaced with the actual language id numeric and the value is the additional_note itself"
              }
            },
            "example": {
              "1": "Shipping title additional_note id 1",
              "3": "Shipping title additional_note id 3"
            }
          }
        }
      },
      "ShippingMethodListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "description": "Object of single shipping method",
          "properties": {
            "shipping_id": {
              "type": "integer",
              "description": "The shipping ID (used for /shipping/{shipping_id} request)",
              "example": 33
            },
            "display_name": {
              "type": "string",
              "description": "The display name of the shipping",
              "example": "My brand shipping"
            },
            "code": {
              "type": "string",
              "description": "Unique code for shipping for other systems usage",
              "example": "xyz_shipping"
            },
            "sort_order": {
              "type": "integer",
              "description": "The sort order of the shipping compared to other shipping methods",
              "example": 1
            },
            "from_sum": {
              "type": "number",
              "format": "int64",
              "description": "If there is from sum requirement for current shipping",
              "example": 450
            },
            "limit_sum": {
              "type": "number",
              "format": "int64",
              "description": "If there is limit sum requirement for current shipping",
              "example": 850
            },
            "status": {
              "type": "integer",
              "description": "The status of the shipping (1 - active and used, 0 - disabled)",
              "example": 1
            },
            "type": {
              "type": "integer",
              "description": "The shipping type (0 - regular cart shipping, 1 - product related shipping type)",
              "example": 1
            },
            "cost": {
              "type": "number",
              "format": "int64",
              "description": "The shipping cost in system's currency",
              "example": 265
            },
            "tax_class_id": {
              "type": "integer",
              "description": "The id of the tax class",
              "example": 0
            },
            "shipping_feed_status": {
              "type": "boolean",
              "format": "int32",
              "description": "0 - not showing in feeds, 1 - showing in feeds",
              "example": 1
            },
            "settings": {
              "type": "object",
              "description": "object with different shipping extra settings"
            }
          }
        }
      },
      "CustomFieldCrudStructure": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "description": "Object of names by lagnuage id",
            "example": {
              "3": "House num"
            },
            "properties": {
              "language_id": {
                "type": "string",
                "description": "Assosiate the the language id to the chosen language and fill the name of the custom field"
              }
            }
          },
          "type": {
            "type": "string",
            "description": "Fill the type of the custom field (there is api request for valid list of types)",
            "example": "radio"
          },
          "location": {
            "type": "string",
            "description": "The location of the custom field (now only 'address available')",
            "example": "address"
          },
          "validation": {
            "type": "string",
            "description": "A valid regex pattern for the custom field (leave empty to allow all chars)",
            "example": ""
          },
          "sort_order": {
            "type": "integer",
            "description": "The order of the custom field in the relation to another fields"
          },
          "slug": {
            "type": "string",
            "description": "A valid slug without sapcing for inner proccesses and API (you can leave it empty, the system will create it automaticly)"
          },
          "status": {
            "type": "integer",
            "format": "boolean",
            "description": "The status of the custom field ('1' means its active)"
          },
          "required": {
            "type": "integer",
            "format": "boolean",
            "description": "If field is required pass '1'"
          },
          "custom_field_value": {
            "type": "array",
[...]
