{
  "openapi": "3.0.3",
  "info": {
    "title": "Newbook OTA API",
    "version": "1.0.0",
    "description": "Newbook OTA (Open Travel Alliance) API for property management - availability, bookings, rates. SOAP/XML-based API represented as REST endpoints.",
    "x-jentic-source-url": "https://developers.newbook.cloud/ota.php",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://apius.newbook.cloud/ota"
    }
  ],
  "paths": {
    "/OTA_PingRQ": {
      "post": {
        "operationId": "ping",
        "summary": "Connection test",
        "description": "Echoes back sent data to verify connectivity",
        "tags": [
          "System"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ping response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/OTA_HotelDescriptiveInfoRQ": {
      "post": {
        "operationId": "getHotelInfo",
        "summary": "Retrieve hotel/instance information",
        "tags": [
          "Hotel Info"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hotel descriptive info",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve hotel/instance information"
      }
    },
    "/GetMappingRQ": {
      "post": {
        "operationId": "getMapping",
        "summary": "Get room types and rate plans",
        "tags": [
          "Hotel Info"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mapping data",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get room types and rate plans"
      }
    },
    "/OTA_HotelAvailRQ": {
      "post": {
        "operationId": "checkAvailability",
        "summary": "Check availability and rates",
        "tags": [
          "Availability"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Check availability and rates"
      }
    },
    "/OTA_ReadRQ": {
      "post": {
        "operationId": "readBooking",
        "summary": "Retrieve booking details",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking details",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve booking details"
      }
    },
    "/OTA_HotelResNotifRQ": {
      "post": {
        "operationId": "manageReservation",
        "summary": "Create, modify, or cancel bookings",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create, modify, or cancel bookings"
      }
    },
    "/ARISettingsRQ": {
      "post": {
        "operationId": "configureAriPush",
        "summary": "Configure availability/rate push settings",
        "tags": [
          "ARI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ARI settings response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Configure availability/rate push settings"
      }
    }
  },
  "security": [
    {
      "WSSE": []
    }
  ],
  "tags": [
    {
      "name": "ARI"
    },
    {
      "name": "Availability"
    },
    {
      "name": "Bookings"
    },
    {
      "name": "Hotel Info"
    },
    {
      "name": "System"
    }
  ],
  "components": {
    "securitySchemes": {
      "WSSE": {
        "type": "apiKey",
        "in": "header",
        "name": "WSSE"
      }
    }
  }
}
