{
  "openapi": "3.0.3",
  "info": {
    "title": "Getscreen.me API",
    "description": "HTTP API for Getscreen.me remote desktop service. Provides endpoints for managing permanent access agents, quick support invitations, and connection history.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.getscreen.me/http-api/"
  },
  "servers": [
    {
      "url": "https://api.getscreen.me/v1"
    }
  ],
  "paths": {
    "/agents/list": {
      "get": {
        "operationId": "listAgents",
        "summary": "List all managed devices",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter by agent name, IP, or group name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter by group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/agents/info": {
      "get": {
        "operationId": "getAgentInfo",
        "summary": "Get detailed information for a specific device",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "description": "Internal system agent ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details including hardware information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agents/update": {
      "post": {
        "operationId": "updateAgent",
        "summary": "Modify device properties",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/agents/connect": {
      "post": {
        "operationId": "connectToAgent",
        "summary": "Generate a one-time connection link to a device",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "integer",
                    "description": "Internal agent ID"
                  },
                  "device_id": {
                    "type": "integer",
                    "description": "Public device identifier (alternative to agent_id)"
                  },
                  "video": {
                    "type": "boolean",
                    "description": "Whether to record the session"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/agents/reboot": {
      "post": {
        "operationId": "rebootAgent",
        "summary": "Request device reboot",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Agent ID"
                  },
                  "safe": {
                    "type": "boolean",
                    "description": "Whether to perform a safe reboot"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reboot accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/agents/wake": {
      "post": {
        "operationId": "wakeAgent",
        "summary": "Wake device via Wake-on-LAN",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Agent ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wake request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/agents/logout": {
      "post": {
        "operationId": "logoutAgent",
        "summary": "Detach device from account",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Agent ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/agents/merge": {
      "post": {
        "operationId": "mergeAgents",
        "summary": "Consolidate duplicate device entries",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "integer",
                    "description": "Source agent ID"
                  },
                  "device_id": {
                    "type": "integer",
                    "description": "Source device ID"
                  },
                  "target_agent_id": {
                    "type": "integer",
                    "description": "Target agent ID"
                  },
                  "target_device_id": {
                    "type": "integer",
                    "description": "Target device ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merge result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/support/list": {
      "get": {
        "operationId": "listSupportInvitations",
        "summary": "List open quick support invitations",
        "tags": [
          "Support"
        ],
        "responses": {
          "200": {
            "description": "List of invitations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "remain": {
                      "type": "integer",
                      "description": "Remaining connections in plan"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupportInvitation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/support/info": {
      "get": {
        "operationId": "getSupportInvitationInfo",
        "summary": "Get specific invitation details",
        "tags": [
          "Support"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": true,
            "description": "Invitation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportInvitation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/support/create": {
      "post": {
        "operationId": "createSupportInvitation",
        "summary": "Create a new quick support invitation",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_name": {
                    "type": "string",
                    "description": "Internal client identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportInvitation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/support/update": {
      "post": {
        "operationId": "updateSupportInvitation",
        "summary": "Modify invitation properties",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connection_id"
                ],
                "properties": {
                  "connection_id": {
                    "type": "integer",
                    "description": "Invitation ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "New name for the invitation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/support/connect": {
      "post": {
        "operationId": "connectToSupportInvitation",
        "summary": "Generate connection link for an invitation",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connection_id"
                ],
                "properties": {
                  "connection_id": {
                    "type": "integer",
                    "description": "Invitation ID"
                  },
                  "video": {
                    "type": "boolean",
                    "description": "Whether to record the session"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/support/close": {
      "post": {
        "operationId": "closeSupportInvitation",
        "summary": "Close an invitation",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connection_id"
                ],
                "properties": {
                  "connection_id": {
                    "type": "integer",
                    "description": "Invitation ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation closed"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/history/list": {
      "get": {
        "operationId": "listConnectionHistory",
        "summary": "Retrieve connection history records",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter by device ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "support_id",
            "in": "query",
            "description": "Filter by invitation ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Period start (unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Period end (unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "video",
            "in": "query",
            "description": "Filter for recorded sessions only",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/history/info": {
      "get": {
        "operationId": "getSessionInfo",
        "summary": "Get specific session details",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Internal session ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_uid",
            "in": "query",
            "description": "Unique session identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeoInfo": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "SessionSummary": {
        "type": "object",
        "properties": {
          "last": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "start_time": {
                "type": "integer",
                "description": "Unix timestamp"
              },
              "stop_time": {
                "type": "integer",
                "description": "Unix timestamp"
              },
              "client": {
                "type": "object",
                "properties": {
                  "ip": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "user_agent": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Internal system ID"
          },
          "name": {
            "type": "string",
            "description": "Device name"
          },
          "group": {
            "type": "string",
            "description": "Group assignment"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether device is blocked"
          },
          "limited": {
            "type": "boolean",
            "description": "Whether device is file-limited"
          },
          "link_time": {
            "type": "integer",
            "description": "Addition date (unix timestamp)"
          },
          "last_time": {
            "type": "integer",
            "description": "Last activity (unix timestamp)"
          },
          "geo": {
            "$ref": "#/components/schemas/GeoInfo"
          },
          "permanent_url": {
            "type": "string",
            "description": "Permanent connection URL"
          },
          "onetime_url": {
            "type": "string",
            "description": "One-time connection URL"
          },
          "preview_url": {
            "type": "string",
            "description": "Desktop thumbnail URL"
          },
          "os": {
            "type": "string",
            "description": "Operating system",
            "enum": [
              "win",
              "mac",
              "linux",
              "android"
            ]
          },
          "version": {
            "type": "string",
            "description": "Agent version"
          },
          "online": {
            "type": "boolean",
            "description": "Current online status"
          },
          "installed": {
            "type": "boolean",
            "description": "Installation state"
          },
          "favorite": {
            "type": "boolean",
            "description": "Favorited flag"
          },
          "owner": {
            "type": "string",
            "description": "Account owner email"
          },
          "sessions": {
            "$ref": "#/components/schemas/SessionSummary"
          }
        }
      },
      "AgentDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Agent"
          },
          {
            "type": "object",
            "properties": {
              "hardware": {
                "type": "object",
                "description": "Comprehensive system hardware data including BIOS, CPU, RAM, storage, monitors, network adapters, and OS details"
              }
            }
          }
        ]
      },
      "AgentUpdateRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "New device name"
          },
          "permanent_url": {
            "type": "object",
            "properties": {
              "enable": {
                "type": "boolean"
              },
              "url": {
                "type": "string"
              },
              "password": {
                "type": "string",
                "description": "Minimum 8 characters with letters and numbers"
              }
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Status code (0=success)"
          }
        }
      },
      "ConnectionUrlResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Connection URL"
              }
            }
          }
        }
      },
      "SupportInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Connection ID"
          },
          "status": {
            "type": "integer",
            "description": "Status: 0=waiting, 1=client joined, 2=active, 3=closed",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "create_time": {
            "type": "integer",
            "description": "Creation timestamp (unix)"
          },
          "invite_code": {
            "type": "string",
            "description": "Invitation code"
          },
          "invite_url": {
            "type": "string",
            "description": "Invitation URL for client"
          },
          "connect_url": {
            "type": "string",
            "description": "Operator connection URL"
          },
          "client_name": {
            "type": "string",
            "description": "Client identifier"
          },
          "client_os": {
            "type": "string",
            "description": "Client OS type"
          },
          "client_preview_url": {
            "type": "string",
            "description": "Client desktop thumbnail"
          }
        }
      },
      "HistoryListResponse": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "filter": {
            "type": "object"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionRecord"
            }
          }
        }
      },
      "SessionRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Connection ID"
          },
          "start": {
            "type": "integer",
            "description": "Start time (unix timestamp)"
          },
          "stop": {
            "type": "integer",
            "description": "End time (unix timestamp)"
          },
          "support_id": {
            "type": "integer",
            "description": "Invitation ID if applicable"
          },
          "client": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "user_agent": {
                  "type": "string"
                },
                "login": {
                  "type": "string"
                },
                "geo": {
                  "$ref": "#/components/schemas/GeoInfo"
                }
              }
            }
          },
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "group": {
                "type": "string"
              },
              "geo": {
                "$ref": "#/components/schemas/GeoInfo"
              },
              "os": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "owner": {
                "type": "string"
              }
            }
          },
          "video": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Video file URL"
              },
              "size": {
                "type": "integer",
                "description": "File size in bytes"
              }
            }
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string"
          },
          "agent_id": {
            "type": "integer"
          },
          "account_id": {
            "type": "integer"
          },
          "agent_account_id": {
            "type": "integer"
          },
          "user_agent": {
            "type": "string"
          },
          "start": {
            "type": "integer"
          },
          "stop": {
            "type": "integer"
          },
          "video": {
            "type": "string"
          },
          "video_size": {
            "type": "integer"
          },
          "turbo_one_time": {
            "type": "boolean"
          },
          "visor_comment": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "control",
              "terminal",
              "file_manager"
            ]
          },
          "client": {
            "$ref": "#/components/schemas/GeoInfo"
          },
          "agent": {
            "$ref": "#/components/schemas/GeoInfo"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}