{
  "openapi": "3.0.3",
  "info": {
    "title": "rasa.io API",
    "description": "rasa.io API",
    "version": "1",
    "contact": {
      "email": "api.support@rasa.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api-docs.rasa.io/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.rasa.io/v1",
      "description": "rasa.io API"
    }
  ],
  "paths": {
    "/tokens": {
      "post": {
        "summary": "creates a token",
        "description": "creates a user token",
        "operationId": "createToken",
        "tags": [
          "authentication"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResonseTokenCreated"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/TokenCreateBody"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "deletes all tokens",
        "description": "deletes all tokens associated with the user",
        "operationId": "deleteAllToken",
        "tags": [
          "authentication"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "all tokens deleted"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/tokens/{rasa-token}": {
      "delete": {
        "summary": "deletes a token",
        "description": "deletes specified rasa-token associated with the user",
        "operationId": "deleteToken",
        "tags": [
          "authentication"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "path",
            "description": "api token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "token deleted"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/communities": {
      "get": {
        "summary": "user's available communities",
        "description": "fetches user's available communities",
        "operationId": "getvailablecommunities",
        "tags": [
          "communities"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Communities object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/CommunitiesApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/sections/{community_identifier}": {
      "get": {
        "summary": "user's available sections",
        "description": "fetches user's available sections",
        "operationId": "getsections",
        "tags": [
          "sections"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "community_identifier",
            "in": "path",
            "description": "community_identifier of sections to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Section object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/SectionsApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/persons": {
      "get": {
        "summary": "searches persons",
        "description": "By passing in the appropriate options, you can search for an\navailable person in the system\n",
        "operationId": "searchPerson",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "pass an optional email for looking up a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "pass an optional first name for looking up a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "pass an optional last name for looking up a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "pass an optional external_id for looking up a person.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "pass an optional is_active for looking up active persons",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_subscribed",
            "in": "query",
            "description": "pass an optional is_subscribed for looking up subscribed/unsubscribed persons",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_receiving",
            "in": "query",
            "description": "Pass 1 to return members who are both active and subscribed; pass 0 to return members who are either inactive or unsubscribed",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule_id",
            "in": "query",
            "description": "Pass the ID for a schedule to return members receiving on that schedule",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "pass an optional updated_since for looking up persons updated since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "description": "pass an optional updated_before for looking up persons updated before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_since",
            "in": "query",
            "description": "pass an optional created_since for looking up persons created since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "pass an optional created_before for looking up persons created before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "number of records to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "comma separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "order returned records",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Person object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PersonsApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      },
      "post": {
        "summary": "adds persons",
        "description": "Adds persons to the system",
        "operationId": "addPersons",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PersonApiPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/PersonsBodyForPost"
              }
            }
          }
        }
      },
      "put": {
        "summary": "update persons",
        "description": "Update persons in the system",
        "operationId": "updatePersons",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PersonApiPutResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "person not found"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/PersonsBodyForPut"
              }
            }
          }
        }
      }
    },
    "/persons/{id}": {
      "get": {
        "summary": "searches persons by id",
        "description": "If you know a person's id you can search for the person directly.",
        "operationId": "searchPersonById",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "comma separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "order returned records",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A person object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PersonApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "Person not found"
          }
        }
      },
      "put": {
        "summary": "updates a person by id",
        "description": "If you know a person's id you can update them directly",
        "operationId": "updatePersonById",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of source to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A person object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PersonApiPutResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "person not found"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/PersonBodyForPut"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a person by id.  This is an Undoable action.  Use with caution.",
        "description": "Deletes a person by id - this is an undoable action, and should be reserved for uses such as GDPR deletion.  This is not the action to use for normal de-activation of subscribed members.",
        "operationId": "deletePerson",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id that needs to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "A person object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiResponsePersonDeleted"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "source not found"
          }
        }
      }
    },
    "/persons/{id}/actions": {
      "get": {
        "summary": "Return insights actions association with the person",
        "description": "Return delivery, open, click information for this user over the last 7 days",
        "operationId": "getActions",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User Actions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/UserActionsApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/persons/{id}/topics": {
      "get": {
        "summary": "Return insights topics associated with the person",
        "description": "Return topics associated with the person",
        "operationId": "getTopics",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User Topics response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/UserTopicsApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/persons/{id}/sends": {
      "get": {
        "summary": "Return sends associated with the person",
        "description": "Return send history for this user including issue_id and send_at from latest message runs per issue",
        "operationId": "getSends",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User Sends response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/UserSendsApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/persons/{id}/attributes": {
      "get": {
        "summary": "gets details about newsbrief recipients' attributes",
        "description": "",
        "operationId": "getAttributes",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "number of records to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "order returned records",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An attribute object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AttributesResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/posts": {
      "post": {
        "summary": "creates a post",
        "description": "creates a post",
        "operationId": "postPosts",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/CreatePostResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "source not found"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/PostBodyNoId"
              }
            }
          }
        }
      },
      "get": {
        "summary": "searches posts",
        "description": "searches posts",
        "operationId": "searchPosts",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "optional param for look up",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_url",
            "in": "query",
            "description": "optional param for look up",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "pass an optional updated_since for looking up posts updated since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "number of records to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "order returned records",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PostsApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "summary": "searches post by id",
        "description": "searches post by id",
        "operationId": "searchPostsById",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PostsApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      },
      "put": {
        "summary": "updates post by id",
        "description": "updates post by id",
        "operationId": "updatePostsById",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of person to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/PostsApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/content-pool": {
      "get": {
        "summary": "searches content pool",
        "description": "searches content pool",
        "operationId": "searchContentPool",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "send_date",
            "in": "query",
            "description": "optional param for look up",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_url",
            "in": "query",
            "description": "optional param for look up",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "number of records to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "order returned records",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content Pool records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ContentPoolApiGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/lead-posts": {
      "post": {
        "summary": "creates lead posts",
        "description": "creates lead posts",
        "operationId": "createLeadPosts",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/LeadPostsApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/LeadPostBodyNoId"
              }
            }
          }
        }
      },
      "put": {
        "summary": "creates lead posts",
        "description": "creates lead posts",
        "operationId": "updateLeadPosts",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/LeadPostsApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/LeadPostBodyNoId"
              }
            }
          }
        }
      }
    },
    "/insights/actions": {
      "get": {
        "summary": "returns insights actions",
        "description": "returns insights actions",
        "operationId": "getInsightsActions",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter actions by person ID (GUID format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "description": "Filter actions by person ID (GUID format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter actions by external identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter actions by email address (supports partial matching)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "description": "Comma-separated list of action types to include. Supported values: 'click', 'open'. Defaults to both if not specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue_date",
            "in": "query",
            "description": "Filter actions by specific issue date (YYYY-MM-DD format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "created_since",
            "in": "query",
            "description": "Lower bound timestamp for filtering actions (ISO 8601 format). Defaults to 7 days ago. Cannot be more than billing plan's lookback period (1-24 months).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Upper bound timestamp for filtering actions (ISO 8601 format). Must be after created_since if both are provided.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "exclude_suspect_clicks",
            "in": "query",
            "description": "Set to 'true' to exclude suspect clicks from results. Defaults to including all clicks.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Pagination token (base64-encoded) for retrieving next page of results. Use the 'next_link' value from the previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "minimum": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return. Available fields: id, person_id, external_id, email, action_type, issue_date, url, created, email_subject, useragent, title, confidence. Use 'all' for all fields.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/InsightsActionsGetApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/insights/topics": {
      "get": {
        "summary": "returns insights topics",
        "description": "returns insights topics",
        "operationId": "getInsightsTopics",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/InsightsTopicsGetApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad input"
          },
          "401": {
            "description": "unauthorized"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/analytics/activities": {
      "get": {
        "summary": "Execute analytics query for activity data",
        "description": "Execute analytics queries for activity data. Supports flexible date ranges, segmentation, and aggregation options.",
        "operationId": "getActivityAnalytics",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Pre-defined date range: 'yesterday', 'today', 'past_week', 'last_week', 'past_month', 'last_month', 'last_three_months', 'last_quarter'. For custom date ranges, use start_date and end_date parameters instead. Defaults to 'past_week'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yesterday",
                "today",
                "past_week",
                "last_week",
                "past_month",
                "last_month",
                "last_three_months",
                "last_quarter"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for custom date range in YYYY-MM-DD format (e.g., '2024-01-01'). Must be used together with end_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for custom date range in YYYY-MM-DD format (e.g., '2024-01-31'). Must be used together with start_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time bucket interval for aggregating analytics data: 'day', 'week', or 'month'. Defaults to 'day'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "day"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "Comma-separated list of email event metrics to track. Available: 'open', 'click', 'delivered'. Defaults to 'open,click'.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "open,click"
            }
          },
          {
            "name": "suspect_click",
            "in": "query",
            "description": "Filter clicks based on bot/automated detection: 'all_clicks', 'real_clicks', or 'suspect_clicks'. Defaults to 'all_clicks'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all_clicks",
                "real_clicks",
                "suspect_clicks"
              ],
              "default": "all_clicks"
            }
          },
          {
            "name": "segment_code",
            "in": "query",
            "description": "Filter results by subscriber segment code. Provide a specific segment code, 'All' for all segments, or 'No Code' for subscribers without a segment.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for date calculations (e.g., 'America/New_York'). Uses community default if not specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return. Must be between 1 and 10000. Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AnalyticsActivitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "unauthorized"
          },
          "403": {
            "description": "insufficient permissions - requires premium API access"
          }
        }
      }
    },
    "/analytics/articles": {
      "get": {
        "summary": "Execute analytics query for article click data",
        "description": "Execute analytics queries for article click data to identify most clicked articles. Returns articles ranked by click volume with detailed metadata.",
        "operationId": "getArticleAnalytics",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Pre-defined date range: 'yesterday', 'today', 'past_week', 'last_week', 'past_month', 'last_month', 'last_three_months', 'last_quarter'. For custom date ranges, use start_date and end_date parameters instead. Defaults to 'past_week'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yesterday",
                "today",
                "past_week",
                "last_week",
                "past_month",
                "last_month",
                "last_three_months",
                "last_quarter"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for custom date range in YYYY-MM-DD format (e.g., '2024-01-01'). Must be used together with end_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for custom date range in YYYY-MM-DD format (e.g., '2024-01-31'). Must be used together with start_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "suspect_click",
            "in": "query",
            "description": "Filter clicks based on bot/automated detection: 'all_clicks', 'real_clicks', or 'suspect_clicks'. Defaults to 'all_clicks'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all_clicks",
                "real_clicks",
                "suspect_clicks"
              ],
              "default": "all_clicks"
            }
          },
          {
            "name": "segment_code",
            "in": "query",
            "description": "Filter results by subscriber segment code. Provide a specific segment code, 'All' for all segments, or 'No Code' for subscribers without a segment.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for date calculations (e.g., 'America/New_York'). Uses community default if not specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of article results to return. Must be between 1 and 10000. Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article analytics data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AnalyticsArticlesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "unauthorized"
          },
          "403": {
            "description": "insufficient permissions - requires premium API access"
          }
        }
      }
    },
    "/analytics/images": {
      "get": {
        "summary": "Execute analytics query for image click data",
        "description": "Execute analytics queries for static image click data to identify most clicked images. Returns images ranked by click volume with detailed metadata. Note: This endpoint only tracks click data - metrics parameter is not applicable.",
        "operationId": "getImageAnalytics",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Pre-defined date range: 'yesterday', 'today', 'past_week', 'last_week', 'past_month', 'last_month', 'last_three_months', 'last_quarter'. For custom date ranges, use start_date and end_date parameters instead. Defaults to 'past_week'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yesterday",
                "today",
                "past_week",
                "last_week",
                "past_month",
                "last_month",
                "last_three_months",
                "last_quarter"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for custom date range in YYYY-MM-DD format (e.g., '2024-01-01'). Must be used together with end_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for custom date range in YYYY-MM-DD format (e.g., '2024-01-31'). Must be used together with start_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "suspect_click",
            "in": "query",
            "description": "Filter clicks based on bot/automated detection: 'all_clicks', 'real_clicks', or 'suspect_clicks'. Defaults to 'all_clicks'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all_clicks",
                "real_clicks",
                "suspect_clicks"
              ],
              "default": "all_clicks"
            }
          },
          {
            "name": "segment_code",
            "in": "query",
            "description": "Filter results by subscriber segment code. Provide a specific segment code, 'All' for all segments, or 'No Code' for subscribers without a segment.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for date calculations (e.g., 'America/New_York'). Uses community default if not specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of image results to return. Must be between 1 and 10000. Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image analytics data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AnalyticsImagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "unauthorized"
          },
          "403": {
            "description": "insufficient permissions - requires premium API access"
          }
        }
      }
    },
    "/analytics/topics": {
      "get": {
        "summary": "Execute analytics query for topic engagement data",
        "description": "Execute analytics queries for topic engagement data from the tags index. Returns topics ranked by total interactions with unique user engagement metrics. Note: This endpoint aggregates all topic interactions - metrics parameter is not applicable.",
        "operationId": "getTopicsAnalytics",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "rasa-token",
            "in": "header",
            "description": "send your session token received from the token endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Pre-defined date range: 'yesterday', 'today', 'past_week', 'last_week', 'past_month', 'last_month', 'last_three_months', 'last_quarter'. For custom date ranges, use start_date and end_date parameters instead. Defaults to 'past_week'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yesterday",
                "today",
                "past_week",
                "last_week",
                "past_month",
                "last_month",
                "last_three_months",
                "last_quarter"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for custom date range in YYYY-MM-DD format (e.g., '2024-01-01'). Must be used together with end_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for custom date range in YYYY-MM-DD format (e.g., '2024-01-31'). Must be used together with start_date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "suspect_click",
            "in": "query",
            "description": "Filter clicks based on bot/automated detection: 'all_clicks', 'real_clicks', or 'suspect_clicks'. Defaults to 'all_clicks'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all_clicks",
                "real_clicks",
                "suspect_clicks"
              ],
              "default": "all_clicks"
            }
          },
          {
            "name": "segment_code",
            "in": "query",
            "description": "Filter results by subscriber segment code. Provide a specific segment code, 'All' for all segments, or 'No Code' for subscribers without a segment.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for date calculations (e.g., 'America/New_York'). Uses community default if not specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of topic results to return. Must be between 1 and 10000. Defaults to 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topics analytics data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AnalyticsTopicsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "unauthorized"
          },
          "403": {
            "description": "insufficient permissions - requires premium API access"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponseCode": {
        "type": "integer",
        "format": "int32"
      },
      "ApiResponseMetadata": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "string"
          },
          "next_link": {
            "type": "string",
            "description": "URL to access next page of records for original query (if applicable)"
          },
          "record_count": {
            "description": "number of data records returned, optional",
            "type": "number"
          },
          "request": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "CommunitiesApiGetResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/CommunitiesApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/communities",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/communities?skip=50",
            "timestamp": 123456789
          },
          "results": [
            {
              "data": {
                "id": "827db79f-564f-4b8a-98bb-4d9af6c2e9c2",
                "name": "Rasa Newsletter",
                "identifier": "rasa-newsletter"
              }
            }
          ]
        }
      },
      "CommunitiesApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "827db79f-564f-4b8a-98bb-4d9af6c2e9c2"
          },
          "name": {
            "type": "string",
            "example": "Rasa Newsletter"
          },
          "identifier": {
            "type": "string",
            "example": "rasa-newsletter"
          }
        }
      },
      "SectionsApiGetResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SectionsApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/rasainternaltestnewsbrief/sections",
            "errors": "",
            "next_link": "",
            "timestamp": 123456789
          },
          "results": [
            {
              "data": {
                "id": "1",
                "name": "Web-jobs",
                "category_type_id": "1",
                "category_type": "Content"
              }
            }
          ]
        }
      },
      "SectionsApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": "1"
          },
          "name": {
            "type": "string",
            "example": "Web-Jobs"
          },
          "category_type_id": {
            "type": "number",
            "example": "1"
          },
          "category_type": {
            "type": "string",
            "example": "Content"
          }
        }
      },
      "PersonsApiResponseMetadata": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "string"
          },
          "next_link": {
            "type": "string"
          },
          "record_count": {
            "description": "number of data records returned, optional",
            "type": "number"
          },
          "request": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "total_community_count": {
            "description": "total count of community members",
            "type": "number"
          },
          "total_query_count": {
            "description": "total count of community members matching the submitted filter",
            "type": "number"
          }
        }
      },
      "InsightApiResponseMetadata": {
        "type": "object",
        "properties": {
          "end_date": {
            "type": "string",
            "example": "2018-10-08 00:00:00",
            "description": "UTC end date/time used for query"
          },
          "errors": {
            "type": "string"
          },
          "request": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "example": "2018-10-01 00:00:00",
            "description": "UTC start date/time used for query"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "ApiResponseCreated": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "id": {
            "type": "string",
            "example": "e51730cf-b735-4b65-ac3f-363bddb80e7b"
          }
        }
      },
      "ApiResponseDeleted": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          }
        }
      },
      "ApiResonseUserCreated": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/UserItem"
            }
          }
        }
      },
      "UserItem": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "format": "guid",
            "example": "5807233a-88da-4beb-bf79-32815c8167a8"
          }
        },
        "example": {
          "username": "5807233a-88da-4beb-bf79-32815c8167a8"
        }
      },
      "ApiResonseUserApiKeyCreated": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/UserApiKeyItem"
            }
          }
        }
      },
      "UserApiKeyItem": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "format": "guid",
            "example": "6807233a-88da-4beb-bf79-32815c8167a8"
          }
        },
        "example": {
          "key": "6807233a-88da-4beb-bf79-32815c8167a8"
        }
      },
      "ApiResonseTokenCreated": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/RasaToken"
            }
          }
        }
      },
      "RasaToken": {
        "type": "object",
        "properties": {
          "rasa-token": {
            "type": "string",
            "format": "jwt-token",
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6IjIwZGIxYTMxLTkyZDMtNDU1Zi05MTMwLTdmODVmMDBiNjUwNiIsImV4cCI6MTUyODkwMDcwNH0.jawYUp_BUWfHyj4mlb4meyVIleWpcYNTj1kdAIyAfgs"
          }
        },
        "example": {
          "rasa-token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6IjIwZGIxYTMxLTkyZDMtNDU1Zi05MTMwLTdmODVmMDBiNjUwNiIsImV4cCI6MTUyODkwMDcwNH0.jawYUp_BUWfHyj4mlb4meyVIleWpcYNTj1kdAIyAfgs"
        }
      },
      "ApiResponsePersonDeleted": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          }
        },
        "example": {
          "code": 204,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons/e51730cf-b735-4b65-ac3f-363bddb80e7b",
            "errors": "",
            "next_link": "",
            "timestamp": 123456789
          }
        }
      },
      "CreatePostResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/PostsApiPostResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/posts",
            "errors": "",
            "next_link": "",
            "timestamp": 123456789
          },
          "results": [
            {
              "id": 1234
            }
          ]
        }
      },
      "PostsApiPostResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 1234
          }
        },
        "example": {
          "id": 1234
        }
      },
      "PostsApiGetResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/PostsApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/posts",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/posts?skip=50",
            "timestamp": 123456789
          },
          "results": [
            {
              "data": {
                "id": 1234,
                "url": "http://www.example.com/xyz.html",
                "title": "title of url",
                "description": "description of url",
                "source_url": "original url",
                "image_url": "image url",
                "site_name": "site name",
                "quality_score": "0.87",
                "is_active": 1,
                "created": "2018-01-01 03:55:31",
                "updated": "2018-01-01 03:55:31"
              }
            }
          ]
        }
      },
      "PostsApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 1234
          },
          "url": {
            "type": "string",
            "example": "http://www.example.com/xyz.html"
          },
          "title": {
            "type": "string",
            "example": "title of url"
          },
          "description": {
            "type": "string",
            "example": "description of url"
          },
          "source_url": {
            "type": "string",
            "example": "http://www.example.com/xyz.html"
          },
          "image_url": {
            "type": "string",
            "example": "image url"
          },
          "site_name": {
            "type": "string",
            "example": "site name"
          },
          "quality_score": {
            "type": "string",
            "example": 0.87
          },
          "is_active": {
            "type": "string",
            "example": 1
          },
          "created": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "updated": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          }
        }
      },
      "PostWithIdResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "published": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/posts/1544345e-f508-4ac9-9218-eca5d60735f9",
            "errors": "",
            "next_link": "",
            "timestamp": 123456789
          },
          "results": [
            {
              "id": "1544345e-f508-4ac9-9218-eca5d60735f9",
              "url": "www.news.com?article=123",
              "title": "Title",
              "description": "Description",
              "published": "01/01/2000",
              "tags": [
                "tag1",
                "tag2",
                "tag3"
              ]
            }
          ]
        }
      },
      "AttributesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/AttributesItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/person/d290f1ee-6c54-4b01-90e6-d701748f0851/attributes",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/person/d290f1ee-6c54-4b01-90e6-d701748f0851/attributes?skip=50",
            "timestamp": 123456789
          },
          "results": [
            {
              "name": "name_of_attribute",
              "value": "value_of_attribute",
              "data_source_name": "my ams",
              "created": 123456789
            }
          ]
        }
      },
      "PersonsApiGetResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/PersonsApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/PersonsApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/persons?skip=50",
            "record_count": 100,
            "timestamp": 123456789,
            "total_community_count": 30000,
            "total_query_count": 2478
          },
          "results": [
            {
              "data": {
                "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                "email": "john.doe@example.com",
                "first_name": "John",
                "last_name": "Doe",
                "is_active": 1,
                "is_subscribed": 1,
                "unsubscribe_reason": null,
                "created": "2018-01-01 03:55:31",
                "updated": "2018-01-01 03:55:31",
                "last_newsbrief": "2018-01-01 03:55:31",
                "last_open": "2018-01-01 03:55:31",
                "last_click": "2018-01-01 03:55:31",
                "external_id": "12345"
              },
              "links": {
                "attributes": "https://rasa.io/api/v1/person/d290f1ee-6c54-4b01-90e6-d701748f0851/attributes"
              }
            }
          ]
        }
      },
      "PersonApiGetResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/PersonApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/persons?skip=50",
            "timestamp": 123456789
          },
          "results": [
            {
              "data": {
                "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                "email": "john.doe@example.com",
                "first_name": "John",
                "last_name": "Doe",
                "is_active": 1,
                "is_subscribed": 1,
                "unsubscribe_reason": null,
                "created": "2018-01-01 03:55:31",
                "updated": "2018-01-01 03:55:31",
                "last_newsbrief": "2018-01-01 03:55:31",
                "last_open": "2018-01-01 03:55:31",
                "last_click": "2018-01-01 03:55:31",
                "custom_attribute_name": "custom_attribute_value"
              },
              "links": {
                "attributes": "https://rasa.io/api/v1/person/d290f1ee-6c54-4b01-90e6-d701748f0851/attributes"
              }
            }
          ]
        }
      },
      "PersonApiPostResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Returned if the update was successfully processed",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "error": {
            "type": "string",
            "description": "Returned if the update was not successfully processed",
            "example": "ID Not Found"
          },
          "status_code": {
            "type": "number",
            "description": "Returned if the update was not successfully processed",
            "example": "404"
          }
        },
        "example": {
          "id": "d290f1ee-6c54-4b01-90e6-d701748f0851"
        }
      },
      "PersonApiPostResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/PersonApiPostResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons",
            "errors": "",
            "next_link": "",
            "timestamp": 123456789
          },
          "results": [
            {
              "id": "d290f1ee-6c54-4b01-90e6-d701748f0851"
            }
          ]
        }
      },
      "PersonApiPutResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          }
        },
        "example": {
          "id": "d290f1ee-6c54-4b01-90e6-d701748f0851"
        }
      },
      "PersonApiPutResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/PersonApiPutResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons",
            "errors": "",
            "next_link": "",
            "timestamp": 123456789
          },
          "results": [
            {
              "id": "d290f1ee-6c54-4b01-90e6-d701748f0851"
            }
          ]
        }
      },
      "PersonsApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "segment_code": {
            "type": "string",
            "example": "Partner"
          },
          "referred_by": {
            "type": "string",
            "example": "ReferredBy ReferralCode"
          },
          "referral_code": {
            "type": "string",
            "example": "ReferralCode"
          },
          "is_active": {
            "type": "string",
            "example": 1
          },
          "is_subscribed": {
            "type": "string",
            "example": 1
          },
          "created": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "updated": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "last_newsbrief": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "last_open": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "last_click": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "schedule_id": {
            "type": "number",
            "example": 0
          },
          "external_id": {
            "type": "string",
            "example": "12345"
          }
        }
      },
      "PersonApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "is_active": {
            "type": "string",
            "example": 1
          },
          "is_subscribed": {
            "type": "string",
            "example": 1
          },
          "created": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "updated": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "last_newsbrief": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "last_open": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "last_click": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          },
          "schedule_id": {
            "type": "string",
            "example": 0
          },
          "external_id": {
            "type": "string",
            "example": "12345"
          },
          "custom_attribute_name": {
            "type": "string",
            "example": "custom_attribute_value"
          }
        }
      },
      "PersonsBodyForPost": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/PersonBodyForPost"
        }
      },
      "PersonsBodyForPut": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/PersonBodyForPut"
        }
      },
      "PersonBodyForPost": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "external_id": {
            "type": "string",
            "example": "12345"
          },
          "is_active": {
            "type": "string",
            "example": "1"
          },
          "is_subscribed": {
            "type": "string",
            "example": "1"
          },
          "next_newsbrief": {
            "type": "string",
            "example": "2018-12-01"
          },
          "segment_code": {
            "type": "string",
            "example": "Partner"
          },
          "referred_by": {
            "type": "string",
            "example": "ReferredBy ReferralCode"
          },
          "custom_attrbute_name": {
            "type": "string",
            "example": "custom_attrbute_value"
          }
        },
        "example": {
          "email": "john.doe@example.com",
          "first_name": "John",
          "last_name": "Doe",
          "external_id": "12345",
          "custom_attrbute_name": "custom_attribute_value"
        }
      },
      "PersonBodyForPut": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "external_id": {
            "type": "string",
            "example": "12345"
          },
          "is_active": {
            "type": "string",
            "example": "1"
          },
          "is_subscribed": {
            "type": "string",
            "example": "1"
          },
          "next_newsbrief": {
            "type": "string",
            "example": "2018-12-01"
          },
          "custom_attrbute_name": {
            "type": "string",
            "example": "custom_attrbute_value"
          }
        },
        "example": {
          "first_name": "John",
          "last_name": "Doe",
          "email": "john.doe@example.com",
          "external_id": "12345",
          "custom_attrbute_name": "custom_attribute_value"
        }
      },
      "PostBodyNoId": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "example": "http://www.example.com/xyz.html"
          },
          "title": {
            "type": "string",
            "example": "Optional Title of the Post"
          },
          "description": {
            "type": "string",
            "example": "Optional Description of the Post"
          }
        }
      },
      "LeadPostBodyNoId": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "example": "http://www.example.com/xyz.html"
          },
          "title": {
            "type": "string",
            "example": "Optional Title of the Post"
          },
          "description": {
            "type": "string",
            "example": "Optional Description of the Post"
          },
          "image_url": {
            "type": "string",
            "example": "Optional Image of the Post"
          },
          "site_name": {
            "type": "string",
            "example": "Optional Site Name of the Post"
          }
        }
      },
      "TokenCreateBody": {
        "type": "object",
        "required": [
          "key"
        ],
        "properties": {
          "key": {
            "type": "string",
            "example": "6807233a-88da-4beb-bf79-32815c8167a8"
          }
        }
      },
      "UserCreateBody": {
        "type": "object",
        "required": [
          "identifier",
          "email"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "description": {
            "type": "string",
            "example": "description about user"
          }
        }
      },
      "UserPutBody": {
        "type": "object",
        "required": [
          "password"
        ],
        "properties": {
          "password": {
            "type": "string",
            "example": "My#Pwd123"
          }
        }
      },
      "UserApiKeyCreateBody": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Salesforce"
          }
        }
      },
      "Activity": {
        "properties": {
          "last_open": {
            "type": "string",
            "example": "05/10/2018"
          },
          "total_opens": {
            "type": "integer",
            "example": 43
          },
          "total_clicks": {
            "type": "integer",
            "example": 25
          }
        },
        "example": {
          "total_opens": 43,
          "total_clicks": 25,
          "last_open": "05/10/2018"
        }
      },
      "Tag": {
        "properties": {
          "tags": {
            "type": "array"
          }
        }
      },
      "AttributesItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "data_source_name": {
            "type": "string"
          },
          "created": {
            "type": "string"
          }
        }
      },
      "InsightsActionsGetApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/InsightsActionApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/insights/actions",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/insights/actions?skip=50",
            "timestamp": 123456789
          },
          "results": [
            {
              "data": {
                "id": 1234,
                "person_id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                "external_id": 12345,
                "email": "john.doe@example.com",
                "action_type": "click",
                "issue_date": "2018-01-01 00:00:00",
                "url": "https://www.example.com/post-123",
                "created": "2018-01-01 03:55:31"
              }
            }
          ]
        }
      },
      "InsightsActionApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 1234
          },
          "person_id": {
            "type": "string",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "external_id": {
            "type": "string",
            "example": "12345"
          },
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "type": {
            "type": "string",
            "example": "delivery"
          },
          "created": {
            "type": "string",
            "example": "2018-01-01 03:55:31"
          }
        }
      },
      "InsightsTopicsGetApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/ApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/InsightsTopicApiGetResponseItem"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/insights/topics",
            "errors": "",
            "next_link": "https://rasa.io/api/v1/insights/topics?skip=50",
            "timestamp": 123456789
          },
          "results": [
            {
              "data": {
                "id": "d290f1ee-6c54-4b01-90e6-d701748f0851_2019-01-01",
                "person_id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                "external_id": 12345,
                "email": "john.doe@example.com",
                "topics": [
                  {
                    "topic": "example"
                  },
                  {
                    "first_click": "2019-01-01 00:00:00"
                  },
                  {
                    "last_click": "2019-02-01 00:00:00"
                  },
                  {
                    "weight": 0.12
                  }
                ]
              }
            }
          ]
        }
      },
      "InsightsTopicApiGetResponseItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851_2019-01-01"
          },
          "person_id": {
            "type": "string",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "external_id": {
            "type": "string",
            "example": "12345"
          },
          "email": {
            "type": "string",
            "example": "john.doe@example.com"
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/InsightsTopicApiGetResponseItemTopic"
            }
          }
        }
      },
      "InsightsTopicApiGetResponseItemTopic": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851_2019-01-01"
          },
          "first_click": {
            "type": "string",
            "example": "2019-01-01 00:00:00"
          },
          "last_click": {
            "type": "string",
            "example": "2019-02-01 00:00:00"
          },
          "wight": {
            "type": "number",
            "example": 0.12
          }
        }
      },
      "LeadPostsApiResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": "1"
          }
        }
      },
      "UserActionsApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/InsightApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/UserAction"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons/1544345e-f508-4ac9-9218-eca5d60735f9/actions",
            "errors": "",
            "start_date": "2018-10-24 12:00:59",
            "end_date": "2018-10-31 12:00:59",
            "timestamp": 123456789
          },
          "results": [
            {
              "action_type": "delivery",
              "issue_date": "2018-10-10 00:00:00",
              "action_time": "2018-10-10 11:07:00+500"
            },
            {
              "action_type": "open",
              "issue_date": "2018-10-10 00:00:00",
              "action_time": "2018-10-10 11:42:23+500"
            },
            {
              "action_type": "click",
              "url": "https://blog.rasa.io/engagement-algorithms/",
              "issue_date": "2018-10-10 00:00:00",
              "action_time": "2018-10-10 11:43:18+500"
            }
          ]
        }
      },
      "UserTopicsApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/definitions/ApiResponseCode"
          },
          "metadata": {
            "$ref": "#/definitions/InsightApiResponseMetadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/UserTopic"
            }
          }
        },
        "example": {
          "code": 200,
          "metadata": {
            "request": "https://rasa.io/api/v1/persons/1544345e-f508-4ac9-9218-eca5d60735f9/topics",
            "errors": "",
            "start_date": "2018-10-01 12:00:59",
            "end_date": "2018-10-31 12:00:59",
            "timestamp": 123456789
          },
          "results": [
            {
              "topic": "Basketball",
              "first_click": "2018-08-01",
              "last_click": "2018-10-15",
              "count": 17
            },
            {
[...]
