{
  "openapi": "3.0.3",
  "info": {
    "title": "Juju Job Search API",
    "description": "The Juju Publisher API provides access to Juju's job search engine for publishers and affiliates. It allows searching for job listings by keyword and location, with support for category filtering, radius search, pagination, and performance tracking via channels. Results are returned in XML/RSS format.",
    "version": "1.0.0",
    "contact": {
      "name": "Juju",
      "url": "http://www.juju.com"
    },
    "x-jentic-source-url": "http://www.juju.com/publisher/spec/"
  },
  "servers": [
    {
      "url": "http://api.juju.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Job Search",
      "description": "Search for job listings"
    },
    {
      "name": "Channels",
      "description": "Manage performance tracking channels"
    }
  ],
  "paths": {
    "/jobs": {
      "get": {
        "operationId": "searchJobs",
        "summary": "Search for job listings",
        "description": "Search Juju's job listings by keyword and/or location. At least one of 'k' (keyword) or 'l' (location) is required. Results are limited to the first 1,000 job postings; requesting beyond this triggers a 302 redirect.",
        "tags": ["Job Search"],
        "parameters": [
          {
            "name": "partnerid",
            "in": "query",
            "required": true,
            "description": "Publisher ID assigned during signup",
            "schema": { "type": "string" }
          },
          {
            "name": "ipaddress",
            "in": "query",
            "required": true,
            "description": "End-user's IP address",
            "schema": { "type": "string" }
          },
          {
            "name": "useragent",
            "in": "query",
            "required": true,
            "description": "End-user's User-Agent header string",
            "schema": { "type": "string" }
          },
          {
            "name": "k",
            "in": "query",
            "description": "Search query keywords (same format as basic Juju search)",
            "schema": { "type": "string" }
          },
          {
            "name": "l",
            "in": "query",
            "description": "Location filter (city, state, county, or zip code)",
            "schema": { "type": "string" }
          },
          {
            "name": "c",
            "in": "query",
            "description": "Category filter. Comma-separated for multiple categories.",
            "schema": { "type": "string" }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Search radius in miles from the specified location",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Result ordering method",
            "schema": {
              "type": "string",
              "enum": ["relevance", "date", "distance"],
              "default": "relevance"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days back to search for job postings",
            "schema": {
              "type": "integer",
              "default": 90
            }
          },
          {
            "name": "jpp",
            "in": "query",
            "description": "Number of jobs per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result page number (starts at 1)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Channel name for performance tracking",
            "schema": { "type": "string" }
          },
          {
            "name": "highlight",
            "in": "query",
            "description": "Enable HTML bold highlighting of keywords in results (default: on)",
            "schema": {
              "type": "string",
              "enum": ["on", "off"],
              "default": "on"
            }
          },
          {
            "name": "startindex",
            "in": "query",
            "description": "Number of initial jobs to skip from results",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "session",
            "in": "query",
            "description": "Anonymized user identifier for session tracking",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response in XML/RSS format",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResponse"
                }
              }
            }
          },
          "302": {
            "description": "Redirect - requesting results beyond the first 1,000 job postings"
          },
          "400": {
            "description": "Bad request - invalid parameters or missing required fields",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - server under high load",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "searchJobsPost",
        "summary": "Search for job listings (POST)",
        "description": "POST variant of the job search endpoint. Accepts the same parameters as the GET endpoint.",
        "tags": ["Job Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["partnerid", "ipaddress", "useragent"],
                "properties": {
                  "partnerid": {
                    "type": "string",
                    "description": "Publisher ID assigned during signup"
                  },
                  "ipaddress": {
                    "type": "string",
                    "description": "End-user's IP address"
                  },
                  "useragent": {
                    "type": "string",
                    "description": "End-user's User-Agent header string"
                  },
                  "k": {
                    "type": "string",
                    "description": "Search query keywords"
                  },
                  "l": {
                    "type": "string",
                    "description": "Location filter"
                  },
                  "c": {
                    "type": "string",
                    "description": "Category filter"
                  },
                  "r": {
                    "type": "integer",
                    "description": "Search radius in miles"
                  },
                  "order": {
                    "type": "string",
                    "description": "Result ordering"
                  },
                  "days": {
                    "type": "integer",
                    "description": "Days back to search"
                  },
                  "jpp": {
                    "type": "integer",
                    "description": "Jobs per page"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number"
                  },
                  "channel": {
                    "type": "string",
                    "description": "Channel name"
                  },
                  "highlight": {
                    "type": "string",
                    "description": "Keyword highlighting"
                  },
                  "startindex": {
                    "type": "integer",
                    "description": "Starting index"
                  },
                  "session": {
                    "type": "string",
                    "description": "Session identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response in XML/RSS format",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResponse"
                }
              }
            }
          },
          "302": {
            "description": "Redirect - requesting results beyond the first 1,000 job postings"
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/add-channel": {
      "get": {
        "operationId": "activateChannel",
        "summary": "Activate a tracking channel",
        "description": "Activate a new channel for performance tracking. Channels allow publishers to segment and track traffic from different sources.",
        "tags": ["Channels"],
        "parameters": [
          {
            "name": "partnerid",
            "in": "query",
            "required": true,
            "description": "Publisher ID assigned during signup",
            "schema": { "type": "string" }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "description": "Channel name to activate",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel activated successfully"
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "partnerId": {
        "type": "apiKey",
        "in": "query",
        "name": "partnerid",
        "description": "Publisher ID assigned during Juju publisher signup. Passed as a query parameter on every request."
      }
    },
    "schemas": {
      "JobSearchResponse": {
        "type": "object",
        "description": "RSS/XML job search response",
        "xml": {
          "name": "rss"
        },
        "properties": {
          "channel": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Channel title"
              },
              "link": {
                "type": "string",
                "format": "uri",
                "description": "Link to search results"
              },
              "description": {
                "type": "string",
                "description": "Channel description"
              },
              "totalResults": {
                "type": "integer",
                "description": "Total number of matching results"
              },
              "startIndex": {
                "type": "integer",
                "description": "Starting index of current results"
              },
              "itemsPerPage": {
                "type": "integer",
                "description": "Number of items in current page"
              },
              "item": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JobItem"
                }
              }
            }
          }
        }
      },
      "JobItem": {
        "type": "object",
        "description": "Individual job listing item",
        "xml": {
          "name": "item"
        },
        "properties": {
          "title": {
            "type": "string",
            "description": "Job title"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to the job listing (click-tracked)"
          },
          "description": {
            "type": "string",
            "description": "Job description snippet"
          },
          "company": {
            "type": "string",
            "description": "Hiring company name"
          },
          "location": {
            "type": "string",
            "description": "Job location"
          },
          "pubDate": {
            "type": "string",
            "description": "Publication date of the listing"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
