{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This is an blog for all my blog entries. I use a single blog system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "title": "Blog",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/kinlane/blog/v2/swagger.json"
  },
  "servers": [
    {
      "url": "https://blog.api.kinlane.com/"
    }
  ],
  "paths": {
    "/blog": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "a text query to search across blog",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "which page of results to show",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "how many to show on page",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "which field to sort by",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "blog response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "all blogs",
        "operationId": "getBlogs",
        "summary": "all blogs"
      },
      "post": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ttle for the blog",
            "in": "query",
            "name": "title",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "author of the blog",
            "in": "query",
            "name": "author",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "summary for the blog",
            "in": "query",
            "name": "summary",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "full text for the blog",
            "in": "query",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "curated id the blog originated from",
            "in": "query",
            "name": "footer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "status of the blog",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "full text for the blog",
            "in": "query",
            "name": "curated_id",
            "required": false,
            "schema": {
              "format": "id",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "blog response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "add a blog post",
        "operationId": "addBlog",
        "summary": "add a blog post"
      }
    },
    "/blog/byweek": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "blogs by week",
        "operationId": "getBlogsByWeek",
        "summary": "blogs by week"
      }
    },
    "/blog/draft": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "which page of results to show",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "how many to show on page",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "which field to sort by",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "blog response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "draft blogs",
        "operationId": "getDraftBlogs",
        "summary": "draft blogs"
      }
    },
    "/blog/published": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "which page of results to show",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "how many to show on page",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "which field to sort by",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "published blogs",
        "operationId": "getPublishedBlogs",
        "summary": "published blogs"
      }
    },
    "/blog/tags/byweek": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the week to retrieve tags by",
            "in": "query",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the year to retrieve tags by",
            "in": "query",
            "name": "year",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Tag Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "blog tags by week",
        "operationId": "getBlogTagsByWeek",
        "summary": "blog tags by week"
      }
    },
    "/blog/tags/byweek/{tag}/blog": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the tag to filter by",
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the week to filter by, defaults to this week",
            "in": "query",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Tag BLog Responsee"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "blog tags by week blogs",
        "operationId": "getBlogTagCBlog",
        "summary": "blog tags by week blogs"
      }
    },
    "/blog/tags/{tag}/build": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the tag to filter by",
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog By Tag Build Responsee"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "build by tag",
        "operationId": "getBlogsToBuildByTag",
        "summary": "build by tag"
      }
    },
    "/blog/{blog_id}": {
      "delete": {
        "parameters": [
          {
            "description": "the unique id for blog entry",
            "in": "path",
            "name": "blog_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "integer"
            }
          },
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "blog response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "delete blog",
        "operationId": "deleteBlog",
        "summary": "delete blog"
      },
      "get": {
        "parameters": [
          {
            "description": "the unique id for blog entry",
            "in": "path",
            "name": "blog_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "integer"
            }
          },
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "blog response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "Returns the blog detail",
        "operationId": "getBlog",
        "summary": "Retrieve a blog using its slug"
      },
      "put": {
        "parameters": [
          {
            "description": "the unique id for blog entry",
            "in": "path",
            "name": "blog_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "integer"
            }
          },
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date the blog was posted",
            "in": "query",
            "name": "post_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ttle for the blog",
            "in": "query",
            "name": "title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "author of the blog",
            "in": "query",
            "name": "author",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "summary for the blog",
            "in": "query",
            "name": "summary",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "full text for the blog",
            "in": "query",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "curated id the blog originated from",
            "in": "query",
            "name": "footer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "status of the blog",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "whether or not this blog post needs page built",
            "in": "query",
            "name": "build_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "the github build string",
            "in": "query",
            "name": "github_build",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the twitter build string",
            "in": "query",
            "name": "twitter_build",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the linkedin build string",
            "in": "query",
            "name": "linkedin_build",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether or not this blog post will show on any site",
            "in": "query",
            "name": "show_on_site",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/blog"
                  },
                  "type": "array"
                }
              }
            },
            "description": "blog response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Blog"
        ],
        "description": "update blog",
        "operationId": "updateBlog",
        "summary": "update blog"
      }
    },
    "/blog/{blog_id}/tags": {
      "get": {
        "parameters": [
          {
            "description": "id for blog",
            "in": "path",
            "name": "blog_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "integer"
            }
          },
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Tags Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "blog tags",
        "operationId": "getblogTags",
        "summary": "blog tags"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the blog",
            "in": "path",
            "name": "blog_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "integer"
            }
          },
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "tag name",
            "in": "query",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "add tag to blog",
        "operationId": "addBlogTag",
        "summary": "add tag to blog"
      }
    },
    "/blog/{blog_id}/tags/{tag}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the blog",
            "in": "path",
            "name": "blog_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the blog",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the blog",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "tag to remove from blog",
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Blog Tag Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "delete blog tag",
        "operationId": "deleteblogTag",
        "summary": "delete blog tag"
      }
    }
  },
  "components": {
    "schemas": {
      "blog": {
        "properties": {
          "author": {
            "description": "author of the blog",
            "type": "string"
          },
          "blog_id": {
            "description": "unique id of the blog",
            "format": "id",
            "type": "integer"
          },
          "body": {
            "description": "full body text of the blog",
            "type": "string"
          },
          "build_page": {
            "description": "Whether or not this blog post will show on any site",
            "format": "id",
            "type": "integer"
          },
          "curated_id": {
            "description": "curated id the blog originated from",
            "format": "id",
            "type": "integer"
          },
          "footer": {
            "description": "footer text for the blog",
            "type": "string"
          },
          "post_date": {
            "description": "date the blog was posted",
            "type": "string"
          },
          "show_on_site": {
            "description": "curated id the blog originated from",
            "format": "id",
            "type": "integer"
          },
          "status": {
            "description": "status of the blog",
            "type": "string"
          },
          "summary": {
            "description": "summary for the blog",
            "type": "string"
          },
          "title": {
            "description": "ttle for the blog",
            "type": "string"
          }
        },
        "type": "object"
      },
      "tag": {
        "properties": {
          "api_count": {
            "description": "number of items api with tag",
            "type": "integer"
          },
          "tag": {
            "description": "text tag",
            "type": "string"
          },
          "tag_id": {
            "description": "id for the tag",
            "format": "id",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "appid": {
        "in": "query",
        "name": "appid",
        "type": "apiKey"
      },
      "appkey": {
        "in": "query",
        "name": "appkey",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "name": "Blog"
    },
    {
      "name": "Tags"
    }
  ]
}