{
  "openapi": "3.0.3",
  "info": {
    "title": "Kantata OX API",
    "version": "1.0.0",
    "description": "Kantata OX (formerly Mavenlink) professional services automation API. Manage projects, users, time tracking, expenses, tasks, custom fields, and more.",
    "x-jentic-source-url": "https://developer.kantata.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.mavenlink.com/api/v1"
    }
  ],
  "paths": {
    "/subscribed_events/event_types": {
      "get": {
        "operationId": "listEventTypes",
        "summary": "List tracked event types",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "Event types"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List tracked event types"
      }
    },
    "/subscribed_events": {
      "get": {
        "operationId": "listSubscribedEvents",
        "summary": "List account change events",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "Events"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List account change events"
      }
    },
    "/account_locations": {
      "get": {
        "operationId": "listAccountLocations",
        "summary": "List account locations",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Location list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List account locations"
      },
      "post": {
        "operationId": "createAccountLocation",
        "summary": "Create location",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create location"
      }
    },
    "/account_locations/{id}": {
      "put": {
        "operationId": "updateAccountLocation",
        "summary": "Update location",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update location"
      },
      "delete": {
        "operationId": "deleteAccountLocation",
        "summary": "Delete location",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete location"
      }
    },
    "/account_memberships": {
      "get": {
        "operationId": "listAccountMemberships",
        "summary": "List user accounts",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Membership list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List user accounts"
      }
    },
    "/account_memberships/{id}": {
      "get": {
        "operationId": "getAccountMembership",
        "summary": "Get membership",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Membership"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get membership"
      },
      "put": {
        "operationId": "updateAccountMembership",
        "summary": "Update membership",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update membership"
      },
      "delete": {
        "operationId": "removeAccountMembership",
        "summary": "Remove user",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove user"
      }
    },
    "/account_memberships/{id}/disable": {
      "put": {
        "operationId": "disableUser",
        "summary": "Deactivate user",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disabled"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Deactivate user"
      }
    },
    "/account_memberships/{id}/enable": {
      "put": {
        "operationId": "enableUser",
        "summary": "Activate user",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enabled"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Activate user"
      }
    },
    "/account_invitations": {
      "get": {
        "operationId": "listAccountInvitations",
        "summary": "List pending invitations",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Invitation list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List pending invitations"
      },
      "post": {
        "operationId": "inviteUsers",
        "summary": "Invite users",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Invite users"
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List users"
      }
    },
    "/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get current user"
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get user"
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update user"
      }
    },
    "/roles": {
      "get": {
        "operationId": "listRoles",
        "summary": "List roles",
        "tags": [
          "Roles & Skills"
        ],
        "responses": {
          "200": {
            "description": "Role list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List roles"
      },
      "post": {
        "operationId": "createRole",
        "summary": "Create role",
        "tags": [
          "Roles & Skills"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create role"
      }
    },
    "/roles/{id}": {
      "get": {
        "operationId": "getRole",
        "summary": "Get role",
        "tags": [
          "Roles & Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get role"
      },
      "put": {
        "operationId": "updateRole",
        "summary": "Update role",
        "tags": [
          "Roles & Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update role"
      },
      "delete": {
        "operationId": "deleteRole",
        "summary": "Delete role",
        "tags": [
          "Roles & Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete role"
      }
    },
    "/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "List skills",
        "tags": [
          "Roles & Skills"
        ],
        "responses": {
          "200": {
            "description": "Skill list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List skills"
      },
      "post": {
        "operationId": "createSkill",
        "summary": "Create skill",
        "tags": [
          "Roles & Skills"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create skill"
      }
    },
    "/skills/{id}": {
      "get": {
        "operationId": "getSkill",
        "summary": "Get skill",
        "tags": [
          "Roles & Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get skill"
      },
      "put": {
        "operationId": "updateSkill",
        "summary": "Update skill",
        "tags": [
          "Roles & Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update skill"
      },
      "delete": {
        "operationId": "deleteSkill",
        "summary": "Delete skill",
        "tags": [
          "Roles & Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete skill"
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Org list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List organizations"
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create organization",
        "tags": [
          "Organizations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create organization"
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get organization"
      },
      "put": {
        "operationId": "updateOrganization",
        "summary": "Update organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update organization"
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete organization"
      }
    },
    "/custom_fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List custom fields",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "Field list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List custom fields"
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create custom field",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create custom field"
      }
    },
    "/custom_fields/{id}": {
      "put": {
        "operationId": "updateCustomField",
        "summary": "Update custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update custom field"
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete custom field"
      }
    },
    "/custom_field_values": {
      "get": {
        "operationId": "listCustomFieldValues",
        "summary": "List custom field values",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "Values"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List custom field values"
      },
      "post": {
        "operationId": "createCustomFieldValues",
        "summary": "Create/update values",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create/update values"
      }
    },
    "/exports": {
      "get": {
        "operationId": "listExports",
        "summary": "List exports",
        "tags": [
          "Exports"
        ],
        "responses": {
          "200": {
            "description": "Export list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List exports"
      },
      "post": {
        "operationId": "createExport",
        "summary": "Generate export",
        "tags": [
          "Exports"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Generate export"
      }
    },
    "/exports/{id}": {
      "get": {
        "operationId": "getExport",
        "summary": "Get export status",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export status"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get export status"
      },
      "put": {
        "operationId": "cancelExport",
        "summary": "Cancel export",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Cancel export"
      }
    },
    "/exports/{id}/download_url": {
      "get": {
        "operationId": "getExportDownloadUrl",
        "summary": "Get export download URL",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get export download URL"
      }
    },
    "/currencies": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List currencies",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Currency list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List currencies"
      }
    },
    "/cost_rates": {
      "get": {
        "operationId": "listCostRates",
        "summary": "List cost rates",
        "tags": [
          "Rates"
        ],
        "responses": {
          "200": {
            "description": "Rate list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List cost rates"
      },
      "post": {
        "operationId": "createCostRates",
        "summary": "Create cost rates",
        "tags": [
          "Rates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create cost rates"
      }
    },
    "/cost_rates/{id}": {
      "put": {
        "operationId": "updateCostRate",
        "summary": "Update cost rate",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update cost rate"
      },
      "delete": {
        "operationId": "deleteCostRate",
        "summary": "Delete cost rate",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete cost rate"
      }
    },
    "/estimates": {
      "get": {
        "operationId": "listEstimates",
        "summary": "List estimates",
        "tags": [
          "Estimates"
        ],
        "responses": {
          "200": {
            "description": "Estimate list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List estimates"
      },
      "post": {
        "operationId": "createEstimate",
        "summary": "Create estimate",
        "tags": [
          "Estimates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create estimate"
      }
    },
    "/estimates/{id}": {
      "get": {
        "operationId": "getEstimate",
        "summary": "Get estimate",
        "tags": [
          "Estimates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get estimate"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Custom Fields"
    },
    {
      "name": "Estimates"
    },
    {
      "name": "Events"
    },
    {
      "name": "Exports"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Rates"
    },
    {
      "name": "Roles & Skills"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Users"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
