{
  "openapi": "3.0.3",
  "info": {
    "title": "AniAPI",
    "description": "AniAPI is an API for anime discovery, streaming links, and tracker synchronization. It provides endpoints to search and retrieve anime, episodes, songs, user data, and streaming resource information. Authentication uses JWT tokens via OAuth.",
    "version": "1.0",
    "contact": {
      "name": "AniAPI",
      "url": "https://aniapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.aniapi.com/v1",
      "description": "AniAPI v1 production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user",
        "description": "Returns the authenticated user's profile information.",
        "responses": {
          "200": {
            "description": "Successful response with user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "auth"
        ]
      }
    },
    "/anime": {
      "get": {
        "operationId": "getAnimeList",
        "summary": "List anime",
        "description": "Search and list anime with various filters. Returns paginated results.",
        "security": [],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Search by title (partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anilist_id",
            "in": "query",
            "description": "Filter by AniList ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mal_id",
            "in": "query",
            "description": "Filter by MyAnimeList ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tmdb_id",
            "in": "query",
            "description": "Filter by TMDB ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "formats",
            "in": "query",
            "description": "Filter by format(s): 0=TV, 1=TV_SHORT, 2=MOVIE, 3=SPECIAL, 4=OVA, 5=ONA, 6=MUSIC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: 0=FINISHED, 1=RELEASING, 2=NOT_YET_RELEASED, 3=CANCELLED",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter by year of release",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season",
            "in": "query",
            "description": "Filter by season: 0=WINTER, 1=SPRING, 2=SUMMER, 3=FALL",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "genres",
            "in": "query",
            "description": "Filter by genre(s), comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nsfw",
            "in": "query",
            "description": "Include NSFW content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "with_episodes",
            "in": "query",
            "description": "Only return anime that have episodes available",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-indexed)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with anime list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "anime"
        ]
      }
    },
    "/anime/{id}": {
      "get": {
        "operationId": "getAnime",
        "summary": "Get anime by ID",
        "description": "Retrieve detailed information about a specific anime.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AniAPI anime ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with anime data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Anime not found"
          }
        },
        "tags": [
          "anime"
        ]
      }
    },
    "/episode": {
      "get": {
        "operationId": "getEpisodeList",
        "summary": "List episodes",
        "description": "Search and list anime episodes with various filters.",
        "security": [],
        "parameters": [
          {
            "name": "anime_id",
            "in": "query",
            "description": "Filter by anime ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "Filter by episode number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by streaming source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Filter by locale/language (e.g., 'en', 'it', 'jp')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_dub",
            "in": "query",
            "description": "Filter for dubbed episodes",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with episode list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "episode"
        ]
      }
    },
    "/episode/{id}": {
      "get": {
        "operationId": "getEpisode",
        "summary": "Get episode by ID",
        "description": "Retrieve detailed information about a specific episode.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Episode ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with episode data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Episode not found"
          }
        },
        "tags": [
          "episode"
        ]
      }
    },
    "/song": {
      "get": {
        "operationId": "getSongList",
        "summary": "List anime songs",
        "description": "Search and list anime songs (openings and endings).",
        "security": [],
        "parameters": [
          {
            "name": "anime_id",
            "in": "query",
            "description": "Filter by anime ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Search by song title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "description": "Search by artist name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter by year",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season",
            "in": "query",
            "description": "Filter by season: 0=WINTER, 1=SPRING, 2=SUMMER, 3=FALL",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type: 0=OPENING, 1=ENDING",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SongListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "song"
        ]
      }
    },
    "/song/{id}": {
      "get": {
        "operationId": "getSong",
        "summary": "Get song by ID",
        "description": "Retrieve detailed information about a specific anime song.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Song ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with song data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SongResponse"
                }
              }
            }
          },
          "404": {
            "description": "Song not found"
          }
        },
        "tags": [
          "song"
        ]
      }
    },
    "/resources": {
      "get": {
        "operationId": "getResources",
        "summary": "Get available resources",
        "description": "Returns a list of available streaming resources/sources.",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with resource list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "resources"
        ]
      }
    },
    "/resources/{id}": {
      "get": {
        "operationId": "getResource",
        "summary": "Get resource by ID",
        "description": "Retrieve information about a specific streaming resource.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with resource data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "tags": [
          "resources"
        ]
      }
    },
    "/user_story": {
      "get": {
        "operationId": "getUserStoryList",
        "summary": "List user stories (watch lists)",
        "description": "Retrieve user anime watch list entries.",
        "parameters": [
          {
            "name": "anime_id",
            "in": "query",
            "description": "Filter by anime ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: 0=CURRENT, 1=PLANNING, 2=COMPLETED, 3=DROPPED, 4=PAUSED, 5=REPEATING",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5
              ]
            }
          },
          {
            "name": "synced",
            "in": "query",
            "description": "Filter by sync status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with user story list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStoryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "user_story"
        ]
      },
      "put": {
        "operationId": "createUserStory",
        "summary": "Create a user story entry",
        "description": "Add an anime to the user's watch list.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created user story",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "user_story"
        ]
      }
    },
    "/user_story/{id}": {
      "get": {
        "operationId": "getUserStory",
        "summary": "Get user story by ID",
        "description": "Retrieve a specific user story entry.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User story ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with user story data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User story not found"
          }
        },
        "tags": [
          "user_story"
        ]
      },
      "put": {
        "operationId": "updateUserStory",
        "summary": "Update a user story entry",
        "description": "Update an existing user story entry.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User story ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated user story",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User story not found"
          }
        },
        "tags": [
          "user_story"
        ]
      },
      "delete": {
        "operationId": "deleteUserStory",
        "summary": "Delete a user story entry",
        "description": "Remove an anime from the user's watch list.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User story ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted user story"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User story not found"
          }
        },
        "tags": [
          "user_story"
        ]
      }
    },
    "/random/anime/{count}": {
      "get": {
        "operationId": "getRandomAnime",
        "summary": "Get random anime",
        "description": "Returns a specified number of random anime.",
        "security": [],
        "parameters": [
          {
            "name": "count",
            "in": "path",
            "required": true,
            "description": "Number of random anime to return (max 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "nsfw",
            "in": "query",
            "description": "Include NSFW content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with random anime",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "random"
        ]
      }
    },
    "/random/episode/{count}": {
      "get": {
        "operationId": "getRandomEpisode",
        "summary": "Get random episodes",
        "description": "Returns a specified number of random episodes.",
        "security": [],
        "parameters": [
          {
            "name": "count",
            "in": "path",
            "required": true,
            "description": "Number of random episodes to return (max 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with random episodes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "random"
        ]
      }
    },
    "/random/song/{count}": {
      "get": {
        "operationId": "getRandomSong",
        "summary": "Get random songs",
        "description": "Returns a specified number of random anime songs.",
        "security": [],
        "parameters": [
          {
            "name": "count",
            "in": "path",
            "required": true,
            "description": "Number of random songs to return (max 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with random songs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SongListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "random"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "data": {
            "type": "object",
            "description": "Response data"
          },
          "version": {
            "type": "string",
            "description": "API version"
          }
        }
      },
      "Anime": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "AniAPI anime ID"
          },
          "anilist_id": {
            "type": "integer",
            "description": "AniList ID"
          },
          "mal_id": {
            "type": "integer",
            "description": "MyAnimeList ID"
          },
          "tmdb_id": {
            "type": "integer",
            "description": "TMDB ID"
          },
          "format": {
            "type": "integer",
            "description": "Format: 0=TV, 1=TV_SHORT, 2=MOVIE, 3=SPECIAL, 4=OVA, 5=ONA, 6=MUSIC"
          },
          "status": {
            "type": "integer",
            "description": "Status: 0=FINISHED, 1=RELEASING, 2=NOT_YET_RELEASED, 3=CANCELLED"
          },
          "titles": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Titles in various languages"
          },
          "descriptions": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Descriptions in various languages"
          },
          "start_date": {
            "type": "string",
            "description": "Start date"
          },
          "end_date": {
            "type": "string",
            "nullable": true,
            "description": "End date"
          },
          "season_period": {
            "type": "integer",
            "description": "Season: 0=WINTER, 1=SPRING, 2=SUMMER, 3=FALL"
          },
          "season_year": {
            "type": "integer",
            "description": "Year of the season"
          },
          "episodes_count": {
            "type": "integer",
            "description": "Total episode count"
          },
          "episode_duration": {
            "type": "integer",
            "description": "Episode duration in minutes"
          },
          "cover_image": {
            "type": "string",
            "description": "Cover image URL"
          },
          "cover_color": {
            "type": "string",
            "description": "Cover dominant color"
          },
          "banner_image": {
            "type": "string",
            "nullable": true,
            "description": "Banner image URL"
          },
          "trailer_url": {
            "type": "string",
            "nullable": true,
            "description": "Trailer URL"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of genres"
          },
          "sequel": {
            "type": "integer",
            "nullable": true,
            "description": "Sequel anime ID"
          },
          "prequel": {
            "type": "integer",
            "nullable": true,
            "description": "Prequel anime ID"
          },
          "score": {
            "type": "number",
            "description": "Average score"
          },
          "nsfw": {
            "type": "boolean",
            "description": "Whether the anime is NSFW"
          },
          "has_episodes": {
            "type": "boolean",
            "description": "Whether episodes are available"
          },
          "recommendations": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of recommended anime IDs"
          }
        }
      },
      "Episode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Episode ID"
          },
          "anime_id": {
            "type": "integer",
            "description": "Parent anime ID"
          },
          "number": {
            "type": "integer",
            "description": "Episode number"
          },
          "title": {
            "type": "string",
            "description": "Episode title"
          },
          "video": {
            "type": "string",
            "description": "Video URL"
          },
          "video_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers required for video playback"
          },
          "source": {
            "type": "string",
            "description": "Streaming source name"
          },
          "locale": {
            "type": "string",
            "description": "Language locale"
          },
          "is_dub": {
            "type": "boolean",
            "description": "Whether the episode is dubbed"
          },
          "quality": {
            "type": "string",
            "description": "Video quality"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "format": {
            "type": "string",
            "description": "Video format"
          }
        }
      },
      "Song": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Song ID"
          },
          "anime_id": {
            "type": "integer",
            "description": "Parent anime ID"
          },
          "title": {
            "type": "string",
            "description": "Song title"
          },
          "artist": {
            "type": "string",
            "description": "Artist name"
          },
          "album": {
            "type": "string",
            "nullable": true,
            "description": "Album name"
          },
          "year": {
            "type": "integer",
            "description": "Release year"
          },
          "season": {
            "type": "integer",
            "description": "Season: 0=WINTER, 1=SPRING, 2=SUMMER, 3=FALL"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in milliseconds"
          },
          "preview_url": {
            "type": "string",
            "nullable": true,
            "description": "Preview audio URL"
          },
          "open_spotify_url": {
            "type": "string",
            "nullable": true,
            "description": "Spotify URL"
          },
          "local_spotify_url": {
            "type": "string",
            "nullable": true,
            "description": "Local Spotify URI"
          },
          "type": {
            "type": "integer",
            "description": "Type: 0=OPENING, 1=ENDING"
          }
        }
      },
      "UserStory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "anime_id": {
            "type": "integer"
          },
          "status": {
            "type": "integer",
            "description": "0=CURRENT, 1=PLANNING, 2=COMPLETED, 3=DROPPED, 4=PAUSED, 5=REPEATING"
          },
          "current_episode": {
            "type": "integer"
          },
          "current_episode_ticks": {
            "type": "integer",
            "description": "Playback position in ticks"
          },
          "score": {
            "type": "number",
            "nullable": true
          },
          "synced": {
            "type": "boolean"
          }
        }
      },
      "UserStoryInput": {
        "type": "object",
        "required": [
          "anime_id",
          "status"
        ],
        "properties": {
          "anime_id": {
            "type": "integer"
          },
          "status": {
            "type": "integer",
            "description": "0=CURRENT, 1=PLANNING, 2=COMPLETED, 3=DROPPED, 4=PAUSED, 5=REPEATING"
          },
          "current_episode": {
            "type": "integer"
          },
          "current_episode_ticks": {
            "type": "integer"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "description": "Resource type"
          },
          "url": {
            "type": "string",
            "description": "Resource URL"
          },
          "locales": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Supported locales"
          }
        }
      },
      "AnimeListResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Anime"
                }
              }
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "AnimeResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Anime"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "EpisodeListResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "EpisodeResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Episode"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "SongListResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Song"
                }
              }
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "SongResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Song"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ResourceListResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ResourceResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Resource"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "UserStoryListResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserStory"
                }
              }
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "UserStoryResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserStory"
          },
          "version": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "anime"
    },
    {
      "name": "auth"
    },
    {
      "name": "episode"
    },
    {
      "name": "random"
    },
    {
      "name": "resources"
    },
    {
      "name": "song"
    },
    {
      "name": "user_story"
    }
  ]
}
