{
  "swagger": "2.0",
  "info": {
    "description": "API related to RECURRENCE",
    "version": "v1",
    "title": "API Register product",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.recurrence.registerProduct/v1/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/service/recurrence.registerProduct": {
      "post": {
        "tags": [
          "Recurrence Api"
        ],
        "summary": "Register Product",
        "description": "RESTful API to register product.",
        "operationId": "doQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "register product",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized access"
          },
          "500": {
            "description": "Invalid data"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Request": {
      "type": "object",
      "required": [
        "terminalId",
        "companyId",
        "merchantId",
        "traceNumber",
        "referenceNumber",
        "dataMap"
      ],
      "properties": {
        "terminalId": {
          "type": "string",
          "example": "11223344",
          "description": "N\u00famero de terminal"
        },
        "merchantId": {
          "type": "string",
          "example": "341198210",
          "description": "C\u00f3digo de comercio"
        },
        "traceNumber": {
          "type": "string",
          "example": "123456",
          "description": "N\u00famero de registro"
        },
        "referenceNumber": {
          "type": "string",
          "example": "123456",
          "description": "N\u00famero de referencia"
        },
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "example": "2018-08-06T23:11:43.878Z",
          "description": "Date time for operation in YYMMDD HH:MM:SS format"
        },
        "currencyId": {
          "type": "string",
          "example": "604",
          "description": "Moneda de la transacci\u00f3n"
        },
        "channelId": {
          "type": "integer",
          "example": 3,
          "description": "C\u00f3digo de canal de origen\n"
        },
        "amount": {
          "type": "number",
          "example": 0.01,
          "description": "Importe\n"
        },
        "companyId": {
          "type": "string",
          "example": "123",
          "description": "Company Id for operation"
        },
        "operationType": {
          "type": "string",
          "example": "S",
          "maxLength": 1,
          "description": "Tipo de operaci\u00f3n\n"
        },
        "dataMap": {
          "type": "object",
          "required": [
            "merchantId",
            "productCode",
            "cardNumber",
            "expirationMonth",
            "expirationYear",
            "firstNameCardHolder",
            "lastNameCardHolder",
            "beneficiaryId",
            "channelId",
            "chargeType",
            "chargeAmount",
            "chargeDate",
            "periodicity",
            "automaticRetry"
          ],
          "properties": {
            "merchantId": {
              "type": "string",
              "maxLength": 40,
              "example": "341198210",
              "description": "C\u00f3digo de comercio"
            },
            "productCode": {
              "type": "string",
              "maxLength": 40,
              "example": "1234",
              "description": "Valor registrado en el Sistema de Pagos Recurrente. (Plataforma REC)"
            },
            "cardNumber": {
              "type": "string",
              "maxLength": 40,
              "example": "1234567890123456",
              "description": "N\u00famero de tarjeta"
            },
            "expirationMonth": {
              "type": "string",
              "maxLength": 2,
              "example": "10",
              "description": "Mes de expiraci\u00f3n de tarjeta"
            },
            "expirationYear": {
              "type": "string",
              "maxLength": 4,
              "example": "10",
              "description": "A\u00f1o de expiraci\u00f3n de tarjeta"
            },
            "firstNameCardHolder": {
              "type": "string",
              "maxLength": 100,
              "example": "Mar\u00eda",
              "description": "Nombre tarjeta habiente"
            },
            "lastNameCardHolder": {
              "type": "string",
              "maxLength": 100,
              "example": "G\u00f3mez",
              "description": "Apellido tarjeta habiente"
            },
            "documentTypeCardHolder": {
              "type": "string",
              "maxLength": 1,
              "example": "1",
              "description": "Tipo documento tarjeta habiente (Plataforma REC) Puede ser: \u201c0\u201d DNI, \u201c1\u201d Carnet extranjer\u00eda, \u201c2\u201d pasaporte"
            },
            "documentIdCardHolder": {
              "type": "string",
              "maxLength": 50,
              "example": "43657877",
              "description": "Id documento tarjeta habiente (Plataforma REC)"
            },
            "telephoneCardHolder": {
              "type": "string",
              "maxLength": 25,
              "example": "980987890",
              "description": "Tel\u00e9fono tarjeta habiente (Plataforma REC)"
            },
            "emailCardHolder": {
              "type": "string",
              "maxLength": 200,
              "example": "prueba@gmail.com",
              "description": "Correo tarjeta habiente (Plataforma REC)"
            },
            "beneficiaryId": {
              "type": "string",
              "maxLength": 50,
              "example": "897767",
              "description": "Id de beneficiario"
            },
            "firstNameBeneficiary": {
              "type": "string",
              "maxLength": 100,
              "example": "Mar\u00eda",
              "description": "Nombre beneficiario"
            },
            "lastNameBeneficiary": {
              "type": "string",
              "maxLength": 100,
              "example": "G\u00f3mez",
              "description": "Apellido beneficiario"
            },
            "maximunAmount": {
              "type": "string",
              "maxLength": 16,
              "example": "100.00",
              "description": "Monto m\u00e1ximo"
            },
            "channelId": {
              "type": "string",
              "maxLength": 1,
              "example": "6",
              "description": "Canal consumidor. Puede ser 6 (CE)"
            },
            "chargeType": {
              "type": "string",
              "maxLength": 1,
              "example": "0",
              "description": "Tipo Cargo Cobro, puede ser: \u201c0\u201d fijo o \u201c1\u201d variable (Plataforma REC)"
            },
            "chargeAmount": {
              "type": "string",
              "maxLength": 16,
              "example": "100.00",
              "description": "Monto del cargo"
            },
            "chargeDate": {
              "type": "string",
              "maxLength": 10,
              "example": "2019-10-01",
              "description": "Fecha del cargo pago. Plataforma CE (Primera Transacci\u00f3n) y REC, con este campo se puede manejar el concepto de periodo de gracia. Formato (YYYY-MM-DD)"
            },
            "periodicity": {
              "type": "string",
              "maxLength": 1,
              "example": "1",
              "description": "Periodicidad. puede ser: \u201c1\u201d mensual, \u201c2\u201d semestral, \u201c3\u201d anual, \u201c4\u201d Trimestral."
            },
            "automaticRetry": {
              "type": "string",
              "maxLength": 1,
              "example": "1",
              "description": "Reintento autom\u00e1tico. Puede ser: \u201c0\u201d No, \u201c1\u201d Si"
            }
          }
        }
      }
    },
    "Response": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/Header"
        },
        "merchantId": {
          "type": "string",
          "example": "777777777",
          "maxLength": 9,
          "description": "C\u00f3digo del comercio\n"
        },
        "traceNumber": {
          "type": "string",
          "example": "123456",
          "maxLength": 6,
          "description": "N\u00famero de transacci\u00f3n\n"
        },
        "operationType": {
          "type": "string",
          "example": "S",
          "maxLength": 1,
          "description": "Tipo de operaci\u00f3n\n"
        },
        "dateTime": {
          "type": "string",
          "example": "161007223724",
          "maxLength": 14,
          "description": "Fecha de la transacci\u00f3n (Formato YYmmDDhhMMss)\n"
        },
        "amount": {
          "type": "string",
          "example": "000000000001",
          "description": "Importe\n"
        },
        "currencyId": {
          "type": "string",
          "example": "604",
          "maxLength": 3,
          "description": "C\u00f3digo de moneda\n"
        },
        "status": {
          "type": "string",
          "example": "000",
          "maxLength": 3,
          "description": "C\u00f3digo de respuesta  000 - Exito  400 - Error\n"
        },
        "dataMap": {
          "type": "object",
          "properties": {
            "MessageResponse": {
              "type": "object",
              "properties": {
                "Header": {
                  "$ref": "#/definitions/MessageResponseHeader"
                },
                "Body": {
                  "type": "object",
                  "properties": {
                    "ComercioRegistrarAfiliacion": {
                      "type": "object",
                      "properties": {
                        "idBeneficiario": {
                          "type": "string",
                          "example": "79890909",
                          "description": "Id del beneficiario"
                        },
                        "nomBeneficiario": {
                          "type": "string",
                          "example": "Mar\u00eda",
                          "description": "Nombre del beneficiario"
                        },
                        "apePatBeneficiario": {
                          "type": "string",
                          "example": "G\u00f3mez",
                          "description": "Apellido Paterno"
                        },
                        "codProducto": {
                          "type": "string",
                          "example": "PROD1",
                          "description": "C\u00f3digo de producto"
                        },
                        "nomProducto": {
                          "type": "string",
                          "example": "Producto Test",
                          "description": "Nombre de Producto"
                        },
                        "nomTarHabiente": {
                          "type": "string",
                          "example": "Juan",
                          "description": "Nombre del tarjeta habiente"
                        },
                        "apePatTarhabiente": {
                          "type": "string",
                          "example": "Perez",
                          "description": "Apellido del tarjeta habiente"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "MessageResponseHeader": {
      "type": "object",
      "required": [
        "errorCode",
        "errorMessage",
        "millis",
        "transactionUUID"
      ],
      "properties": {
        "Status": {
          "type": "object",
          "properties": {
            "busResponseType": {
              "type": "string",
              "example": "0"
            },
            "busResponseCode": {
              "type": "string",
              "example": "000"
            },
            "busResponseMessage": {
              "type": "string",
              "example": "\u00c9xito"
            },
            "busResponseMsgId": {
              "type": "string",
              "example": "42524b45534241305c53077c8ce811e7955fac110b990000"
            },
            "srvResponseCode": {
              "type": "string",
              "example": "000"
            },
            "srvResponseMessage": {
              "type": "string",
              "example": "Registro de afiliacion con exito"
            }
          }
        }
      }
    },
    "Header": {
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "Recurrence Api"
    }
  ]
}
