{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "api@hubstaff.com"
    },
    "description": "# Documentation\n\nWelcome to the Hubstaff API v2. This API provides access to time tracking, project management, and team data.\n\n# Webhooks\n\nWebhooks allow you to receive real-time notifications when events occur in your Hubstaff organization.\n\n## Quick Start\n\n1. Create a webhook with your endpoint URL\n2. Respond to the verification request\n3. Activate the webhook\n4. Start receiving events\n\n## Creating a Webhook\n\n```bash\nPOST /v2/organizations/{org_id}/webhooks\n```\n\n```json\n{\n  \"events\": [\"*\"],\n  \"target_url\": \"https://example.com/webhook\"\n}\n```\n\nThe response includes the webhook `id` needed for activation.\n\n## Endpoint Verification\n\nAfter creation, we send a POST request to your URL with an `X-Hook-Secret` header. Respond with:\n- Status `200`\n- Echo the `X-Hook-Secret` header back\n\n```javascript\n// Node.js\napp.post('/webhook', (req, res) => {\n  const secret = req.headers['x-hook-secret'];\n  if (secret) {\n    res.setHeader('X-Hook-Secret', secret);\n    return res.sendStatus(200);\n  }\n  // Handle events...\n});\n```\n\n```python\n# Python\n@app.route('/webhook', methods=['POST'])\ndef webhook():\n    secret = request.headers.get('X-Hook-Secret')\n    if secret:\n        response = make_response('OK', 200)\n        response.headers['X-Hook-Secret'] = secret\n        return response\n    # Handle events...\n```\n\n```ruby\n# Ruby\npost '/webhook' do\n  secret = request.env['HTTP_X_HOOK_SECRET']\n  if secret\n    response.headers['X-Hook-Secret'] = secret\n    return status 200\n  end\n  # Handle events...\nend\n```\n\nSave the secret for signature verification.\n\n## Activation\n\n```bash\nPOST /v2/webhooks/{webhook_id}/activate\nX-Hook-Secret: {secret_from_verification}\n```\n\n## Events\n\n| Event | Description                    |\n|-------|--------------------------------|\n| `*` | All events                     |\n| `timer.start` | Time tracking started          |\n| `timer.stop` | Time tracking stopped          |\n| `project.create` | Project created                |\n| `client.create` | Client created                 |\n| `task.create` | Task created                   |\n| `task.assign` | Task assigned                  |\n| `task.unassign` | Task unassigned                |\n| `schedule.create` | Schedule created               |\n| `schedule.update` | Schedule updated               |\n| `schedule.delete` | Schedule deleted               |\n| `shift.ontime` | Shift started on time          |\n| `shift.early` | Shift started early            |\n| `shift.late` | Shift started late             |\n| `shift.abandoned` | Shift abandoned                |\n| `shift.missed` | Shift missed                   |\n| `work_break.create` | Break started                  |\n| `activity.create` | Activity created (on request)  |\n| `activity.update` | Activity updated (on request)             |\n| `activity.delete` | Activity deleted (on request)             |\n| `idle_time.start` | Idle time started (beta)       |\n| `billing.occupied_seats` | Occupied seats snapshot |\n\n## Occupied Seats Event\n\nFor `billing.occupied_seats`:\n- `occupied_seats` represents the latest available occupied-seat value up to the previous UTC day when the event is sent.\n- The value is snapshot-based (not recalculated live at delivery time).\n- `occupied_seats` is different from purchased/paid seat quota.\n\n## Payload Format\n\n```json\n{\n  \"id\": \"69d37f9f-483e-4be1-92c3-b2377203a8cd\",\n  \"event\": \"timer.start\",\n  \"created_at\": \"2024-06-20T14:10:55.196912\",\n  \"payload\": {\n    \"organization_id\": 13,\n    \"project_id\": 841201,\n    \"project_name\": \"DevSecOps\",\n    \"task_id\": null,\n    \"task_summary\": null,\n    \"user_id\": 651956,\n    \"user_name\": \"Alex Yarotsky\",\n    \"tracking_started_at\": \"2024-06-20T14:10:46.235Z\"\n  }\n}\n```\n\n## Signature Verification\n\nAll requests include `X-Hook-Signature` (HMAC-SHA256). Always verify signatures:\n\n```javascript\n// Node.js\nconst crypto = require('crypto');\n\nfunction verify(payload, signature, secret) {\n  const expected = crypto.createHmac('sha256', secret).update(payload).digest('hex');\n  return crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(signature));\n}\n```\n\n```python\n# Python\nimport hmac, hashlib\n\ndef verify(payload, signature, secret):\n    expected = hmac.new(secret.encode(), payload, hashlib.sha256).hexdigest()\n    return hmac.compare_digest(expected, signature)\n```\n\n```ruby\n# Ruby\ndef verify(payload, signature, secret)\n  expected = OpenSSL::HMAC.hexdigest('sha256', secret, payload)\n  Rack::Utils.secure_compare(expected, signature)\nend\n```\n\n## Deleting a Webhook\n\n```bash\nDELETE /v2/webhooks/{webhook_id}\n```\n",
    "title": "Hubstaff V2 API",
    "version": "2.0",
    "x-jentic-source-url": "https://developer.hubstaff.com"
  },
  "servers": [
    {
      "url": "https://api.hubstaff.com/"
    }
  ],
  "paths": {
    "/v2/attendance_schedules/{attendance_schedule_id}": {
      "put": {
        "parameters": [
          {
            "description": "Attendance schedule ID",
            "in": "path",
            "name": "attendance_schedule_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "attendance_schedule": {
                      "$ref": "#/components/schemas/AttendanceSchedule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "An attendance schedule"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "attendance_schedules"
        ],
        "description": "Updates an attendance schedule.\n\nReturns the updated attendance schedule.\n\nOnly pass in the fields you want to change. Use add_excluded_dates/remove_excluded_dates to modify exclusions incrementally, or excluded_dates to replace them entirely.\n",
        "operationId": "putV2AttendanceSchedulesAttendanceScheduleId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2AttendanceSchedulesAttendanceScheduleId"
              }
            }
          },
          "required": true
        },
        "summary": "Update attendance schedule"
      }
    },
    "/v2/budget_histories/{budget_history_id}": {
      "get": {
        "parameters": [
          {
            "description": "Budget History ID",
            "in": "path",
            "name": "budget_history_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "budget_history": {
                      "$ref": "#/components/schemas/BudgetHistory"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A budget history"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "budgets"
        ],
        "description": "Returns the budget history with the given ID.\n",
        "operationId": "getV2BudgetHistoriesBudgetHistoryId",
        "summary": "Get budget history"
      }
    },
    "/v2/clients/{client_id}": {
      "get": {
        "parameters": [
          {
            "description": "Client ID",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "client": {
                      "$ref": "#/components/schemas/Client"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A client"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "clients"
        ],
        "description": "Returns the client with the given ID.\n",
        "operationId": "getV2ClientsClientId",
        "summary": "Get client"
      },
      "put": {
        "parameters": [
          {
            "description": "Client ID",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "client": {
                      "$ref": "#/components/schemas/Client"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A client"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "clients"
        ],
        "description": "Updates a client.\n\nReturns the updated client.\n\nOnly pass in the fields you want to change. To unset the budget, specify null as the value. To update the budget, you must specify the complete budget configuration. To clear invoice_notes or net_terms (to use organization defaults), specify null as the value.\n",
        "operationId": "putV2ClientsClientId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2ClientsClientId"
              }
            }
          },
          "required": true
        },
        "summary": "Update client"
      }
    },
    "/v2/clients/{client_id}/budget_histories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "budget_histories": {
                      "items": {
                        "$ref": "#/components/schemas/BudgetHistory"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of budget histories"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "budgets"
        ],
        "description": "Returns budget configuration history (changes to budget settings over time) for the given client.\n\n\n",
        "operationId": "getV2ClientsClientIdBudgetHistories",
        "summary": "List client budget histories"
      }
    },
    "/v2/clients/{client_id}/update_metadata": {
      "put": {
        "parameters": [
          {
            "description": "Client ID",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "client": {
                      "$ref": "#/components/schemas/Client"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A client"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "clients"
        ],
        "description": "Updates metadata on the client.\n\nReturns the updated client.\n\nOnly specify the metadata keys you want to change. If the metadata key does not exist, it will be created. To remove a key, specify null as the value.\n\nKey requirements:\n- 2-30 characters\n- Lowercase letters, numbers, and underscores only\n\nValue requirements:\n- Valid UTF-8 string\n- Maximum 200 characters\n",
        "operationId": "putV2ClientsClientIdUpdateMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2ClientsClientIdUpdateMetadata"
              }
            }
          },
          "required": true
        },
        "summary": "Update client metadata"
      }
    },
    "/v2/error_codes": {
      "get": {
        "responses": {
          "200": {
            "description": "List of error codes"
          }
        },
        "tags": [
          "errors"
        ],
        "description": "Returns all available error codes with their descriptions.\nUse these codes for programmatic error handling and i18n support.\n\nError code ranges:\n- 10000-10999: Authentication & Authorization\n- 11000-11999: Validation\n- 12000-12999: Resource\n- 13000-13999: Rate Limiting\n- 14000-14999: Time Entries / Activities\n- 15000-15999: System\n",
        "operationId": "getV2ErrorCodes",
        "summary": "List all error codes"
      }
    },
    "/v2/insights/smart_notification_rules/{rule_id}": {
      "delete": {
        "parameters": [
          {
            "description": "smart notification rule ID",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "description": "Deletes a smart notification rule.\n",
        "operationId": "deleteV2InsightsSmartNotificationRulesRuleId",
        "summary": "Delete smart notification rule"
      },
      "get": {
        "parameters": [
          {
            "description": "smart notification rule ID",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "smart_notification_rule": {
                      "$ref": "#/components/schemas/SmartNotificationRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A smart notification rule"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "description": "Returns the smart notification rule with the given ID.\n",
        "operationId": "getV2InsightsSmartNotificationRulesRuleId",
        "summary": "Get smart notification rule"
      },
      "put": {
        "parameters": [
          {
            "description": "smart notification rule ID",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "smart_notification_rule": {
                      "$ref": "#/components/schemas/SmartNotificationRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A smart notification rule"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "description": "Updates a smart notification rule.\n\nReturns the updated smart notification rule.\n\nOnly pass in the fields you want to change.\n",
        "operationId": "putV2InsightsSmartNotificationRulesRuleId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2InsightsSmartNotificationRulesRuleId"
              }
            }
          },
          "required": true
        },
        "summary": "Update smart notification rule"
      }
    },
    "/v2/insights/smart_notification_rules/{rule_id}/toggle_status": {
      "patch": {
        "parameters": [
          {
            "description": "smart notification rule ID",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "smart_notification_rule": {
                      "$ref": "#/components/schemas/SmartNotificationRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A smart notification rule"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "description": "Sets the status of a smart notification rule to either enabled or disabled.\nThe 'enabled' parameter determines the new status of the rule.\n",
        "operationId": "patchV2InsightsSmartNotificationRulesRuleIdToggleStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchV2InsightsSmartNotificationRulesRuleIdToggleStatus"
              }
            }
          },
          "required": true
        },
        "summary": "Toggle smart notification rule"
      }
    },
    "/v2/integrations/{integration_id}/project_links": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "integration_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "project_links": {
                      "items": {
                        "$ref": "#/components/schemas/IntegrationProjectLink"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "a list of project links"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "integrations"
        ],
        "description": "Returns a collection of active project links (mappings between Hubstaff projects and integration projects).\n",
        "operationId": "getV2IntegrationsIntegrationIdProjectLinks",
        "summary": "List integration integration project links"
      }
    },
    "/v2/integrations/{integration_id}/tasks": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "integration_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "A status or list of statuses to filter",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "active",
                  "completed",
                  "deleted",
                  "archived",
                  "archived_native_active",
                  "archived_native_completed",
                  "archived_native_deleted"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "List of user IDs",
            "in": "query",
            "name": "user_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of project IDs",
            "in": "query",
            "name": "project_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specify related data to side load.",
            "in": "query",
            "name": "include",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "users",
                  "projects"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "List of remote_ids to search against remote_id or alternate_remote_id",
            "in": "query",
            "name": "remote_ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "tasks": {
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of tasks"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "tasks"
        ],
        "description": "Returns a collection of tasks (to-dos) for the given integration.\n\nResults can be filtered by status[] (active/completed/deleted), user_ids[], project_ids[], and global_todo_ids[].\n",
        "operationId": "getV2IntegrationsIntegrationIdTasks",
        "summary": "List integration tasks"
      }
    },
    "/v2/integrations/{integration_id}/user_links": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "integration_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "user_links": {
                      "items": {
                        "$ref": "#/components/schemas/IntegrationUserLink"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "a list of user links"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "integrations"
        ],
        "description": "Returns a collection of active user links (mappings between Hubstaff users and integration users).\n",
        "operationId": "getV2IntegrationsIntegrationIdUserLinks",
        "summary": "List integration integration user links"
      }
    },
    "/v2/invites/{invite_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Invite ID",
            "in": "path",
            "name": "invite_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "invite": {
                      "$ref": "#/components/schemas/Invite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Deletion successful"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "invites"
        ],
        "description": "Deletes an invite.\n\nNote: Accepted invites cannot be deleted.\n",
        "operationId": "deleteV2InvitesInviteId",
        "summary": "Delete invite"
      },
      "get": {
        "parameters": [
          {
            "description": "Invite ID",
            "in": "path",
            "name": "invite_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "invite": {
                      "$ref": "#/components/schemas/Invite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "An invite"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "invites"
        ],
        "description": "Returns the invite with the given ID.\n",
        "operationId": "getV2InvitesInviteId",
        "summary": "Get invite"
      },
      "put": {
        "parameters": [
          {
            "description": "Invite ID",
            "in": "path",
            "name": "invite_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "invite": {
                      "$ref": "#/components/schemas/Invite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "An invite"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "invites"
        ],
        "description": "Updates an invite.\n\nReturns the updated invite.\n\nOnly pass in the fields you want to change. To clear project_ids or pay_rate, send the value 'none'.\n\nAvailable roles:\n- organization_manager - Invited as an organization manager\n- project_manager - Invited as a project manager\n- project_user - Invited as a project user\n- project_viewer - Invited as a project viewer\n\nIf no project_ids are set, any project_* role will default to project_viewer (no projects assigned).\n\nNote: Accepted invites cannot be updated.\n",
        "operationId": "putV2InvitesInviteId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2InvitesInviteId"
              }
            }
          },
          "required": true
        },
        "summary": "Update invite"
      }
    },
    "/v2/job_sites/{job_site_id}": {
      "get": {
        "parameters": [
          {
            "description": "Job site ID",
            "in": "path",
            "name": "job_site_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "job_site": {
                      "$ref": "#/components/schemas/JobSite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A job site"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "job_sites"
        ],
        "description": "Returns the job site with the given ID.\n",
        "operationId": "getV2JobSitesJobSiteId",
        "summary": "Get job site"
      },
      "put": {
        "parameters": [
          {
            "description": "Job site ID",
            "in": "path",
            "name": "job_site_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "job_site": {
                      "$ref": "#/components/schemas/JobSite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A job site"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "job_sites"
        ],
        "description": "Updates a job site.\n\nReturns the updated job site.\n",
        "operationId": "putV2JobSitesJobSiteId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2JobSitesJobSiteId"
              }
            }
          },
          "required": true
        },
        "summary": "Update job site"
      }
    },
    "/v2/job_sites/{job_site_id}/add_rules": {
      "put": {
        "parameters": [
          {
            "description": "Job site ID",
            "in": "path",
            "name": "job_site_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "job_site": {
                      "$ref": "#/components/schemas/JobSite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A job site"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "job_sites"
        ],
        "description": "Adds new rules to a job site.\n\nReturns the updated job site.\n",
        "operationId": "putV2JobSitesJobSiteIdAddRules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2JobSitesJobSiteIdAddRules"
              }
            }
          },
          "required": true
        },
        "summary": "Add job site rules"
      }
    },
    "/v2/job_sites/{job_site_id}/remove_rules": {
      "put": {
        "parameters": [
          {
            "description": "Job site ID",
            "in": "path",
            "name": "job_site_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "job_site": {
                      "$ref": "#/components/schemas/JobSite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A job site"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "job_sites"
        ],
        "description": "Removes rules from a job site.\n\nReturns the updated job site.\n",
        "operationId": "putV2JobSitesJobSiteIdRemoveRules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2JobSitesJobSiteIdRemoveRules"
              }
            }
          },
          "required": true
        },
        "summary": "Remove job site rules"
      }
    },
    "/v2/job_sites/{job_site_id}/update_rules": {
      "put": {
        "parameters": [
          {
            "description": "Job site ID",
            "in": "path",
            "name": "job_site_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "job_site": {
                      "$ref": "#/components/schemas/JobSite"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A job site"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "job_sites"
        ],
        "description": "Updates rules on a job site.\n\nReturns the updated job site.\n",
        "operationId": "putV2JobSitesJobSiteIdUpdateRules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putV2JobSitesJobSiteIdUpdateRules"
              }
            }
          },
          "required": true
        },
        "summary": "Update job site rules"
      }
    },
    "/v2/limit_histories/{limit_history_id}": {
      "get": {
        "parameters": [
          {
            "description": "Limit History ID",
            "in": "path",
            "name": "limit_history_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "limit_history": {
                      "$ref": "#/components/schemas/LimitHistory"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A limit history"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "limits"
        ],
        "description": "Returns the limit history with the given ID.",
        "operationId": "getV2LimitHistoriesLimitHistoryId",
        "summary": "Get limit history"
      }
    },
    "/v2/notes/{note_id}": {
      "get": {
        "parameters": [
          {
            "description": "Note ID",
            "in": "path",
            "name": "note_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "note": {
                      "$ref": "#/components/schemas/Note"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A note"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "notes"
        ],
        "description": "Returns the note with the given ID.\n",
        "operationId": "getV2NotesNoteId",
        "summary": "Get note"
      }
    },
    "/v2/organizations": {
      "get": {
        "parameters": [
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organizations": {
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of organizations"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "organizations"
        ],
        "description": "Returns a collection of organizations the authenticated user is an active member of.\n",
        "operationId": "getV2Organizations",
        "summary": "List organizations"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "An organization"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "organizations"
        ],
        "description": "Creates a new organization.\n\nReturns the created organization.\n",
        "operationId": "postV2Organizations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postV2Organizations"
              }
            }
          },
          "required": true
        },
        "summary": "Create organization"
      }
    },
    "/v2/organizations/{organization_id}": {
      "get": {
        "parameters": [
          {
            "description": "Organization ID",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "An organization"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "organizations"
        ],
        "description": "Returns the organization with the given ID.\n",
        "operationId": "getV2OrganizationsOrganizationId",
        "summary": "Get organization"
      }
    },
    "/v2/organizations/{organization_id}/activities": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Start time (ISO 8601)",
            "in": "query",
            "name": "time_slot[start]",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Stop time (ISO 8601, Exclusive)",
            "in": "query",
            "name": "time_slot[stop]",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "List of user IDs",
            "in": "query",
            "name": "user_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of task IDs",
            "in": "query",
            "name": "task_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of global todo IDs",
            "in": "query",
            "name": "global_todo_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of project IDs",
            "in": "query",
            "name": "project_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specify related data to side load.",
            "in": "query",
            "name": "include",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "users",
                  "projects",
                  "tasks"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The time zone name for the activity",
            "in": "query",
            "name": "time_zone",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "activities": {
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of activities"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "activities"
        ],
        "description": "Returns a collection of activities (10-minute time blocks) for the given organization.\n\nResults can be filtered by user, task, project, and time range (time_slot[start], time_slot[stop]).\n\nFor aggregated daily data, use the daily_activities endpoint instead.\n\nNote: Data may be delayed up to 20 minutes.\nNote: Date range limit is 7 days. Earliest date is 6 months ago.\n",
        "operationId": "getV2OrganizationsOrganizationIdActivities",
        "summary": "List organization activities"
      }
    },
    "/v2/organizations/{organization_id}/activities/daily": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Start date (ISO 8601)",
            "in": "query",
            "name": "date[start]",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Stop date (ISO 8601, Inclusive)",
            "in": "query",
            "name": "date[stop]",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "List of user IDs",
            "in": "query",
            "name": "user_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of task IDs",
            "in": "query",
            "name": "task_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of project IDs",
            "in": "query",
            "name": "project_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specify related data to side load.",
            "in": "query",
            "name": "include",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "users",
                  "projects",
                  "tasks"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "daily_activities": {
                      "items": {
                        "$ref": "#/components/schemas/DailyActivity"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of daily activities"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "activities"
        ],
        "description": "Returns daily aggregated time tracking data for the given organization.\n\nResults can be filtered by user_ids[], task_ids[], project_ids[], and date[start]/[stop]. Data is aggregated by organization timezone date.\n\nNote: Date range limit is 31 days. Earliest date is 3 years ago.\n",
        "operationId": "getV2OrganizationsOrganizationIdActivitiesDaily",
        "summary": "List organization daily activities"
      }
    },
    "/v2/organizations/{organization_id}/activities/daily/updates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Start time (ISO 8601)",
            "in": "query",
            "name": "updated[start]",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Stop time (ISO 8601, Exclusive)",
            "in": "query",
            "name": "updated[stop]",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The default page size",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": null,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "List of user IDs",
            "in": "query",
            "name": "user_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of task IDs",
            "in": "query",
            "name": "task_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of project IDs",
            "in": "query",
            "name": "project_ids",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specify related data to side load.",
            "in": "query",
            "name": "include",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "users",
                  "projects",
                  "tasks"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "daily_activities": {
                      "items": {
                        "$ref": "#/components/schemas/DailyActivity"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of daily activities"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Invalid parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "API access is only for organizations on an active plan"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Could not find record"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hubstaff_Public_V2_Entities_Error"
                }
              }
            },
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "activities"
        ],
        "description": "Returns daily activities that were modified within the specified time range. Useful for syncing changes.\n\nUse updated[start] and updated[stop] to specify the modification time range. Results can also be filtered by user_ids[], task_ids[], and project_ids[].\n\nNote: Updated time range limit is 31 days. Only returns activities from the last month.\n",
        "operationId": "getV2OrganizationsOrganizationIdActivitiesDailyUpdates",
        "summary": "List organization daily activities updates"
      }
    },
    "/v2/organizations/{organization_id}/activities/updates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page start ID.",
            "in": "query",
            "name": "page_start_id",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
[...]
