{
  "openapi": "3.0.3",
  "info": {
    "title": "Botdog API",
    "version": "1.0",
    "description": "API documentation for Botdog, a LinkedIn automation tool for sales teams. Manage users, campaigns, leads, and analytics. Authentication: Pass your API key as the x-api-key header (e.g. x-api-key: bd_live_abc123).",
    "x-jentic-source-url": "https://api.botdog.co/docs"
  },
  "servers": [
    {
      "url": "https://api.botdog.co"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "HealthController_check",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          }
        },
        "summary": "Get API health status",
        "tags": [
          "health"
        ]
      }
    },
    "/v1/users": {
      "get": {
        "operationId": "UsersController_findAll",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Limit the number of results",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get all users",
        "tags": [
          "users"
        ]
      }
    },
    "/v1/users/{id}": {
      "get": {
        "operationId": "UsersController_findOne",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "404": {
            "description": "User not found"
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get a user by id",
        "tags": [
          "users"
        ]
      }
    },
    "/v1/leads/add_to_campaign": {
      "post": {
        "operationId": "LeadsController_createBatch",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadsBatchDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The leads have been successfully added to the campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeadsBatchResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Add leads to an existing campaign. This is a batch operation. You can add up to 100 leads at a time.",
        "tags": [
          "leads"
        ]
      }
    },
    "/v1/campaigns": {
      "get": {
        "operationId": "CampaignsController_findAll",
        "parameters": [
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Filter by campaign status",
            "schema": {
              "enum": [
                "ACTIVE",
                "PAUSED",
                "ARCHIVED",
                "COMPLETED",
                "CREATED"
              ],
              "type": "string"
            }
          },
          {
            "name": "userIds",
            "required": false,
            "in": "query",
            "description": "Filter by owner user IDs",
            "schema": {
              "example": [
                "123e4567-e89b-12d3-a456-426614174001",
                "123e4567-e89b-12d3-a456-426614174002"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return campaigns matching the criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get all campaigns for the authenticated user, with optional filters",
        "tags": [
          "campaigns"
        ]
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "operationId": "CampaignsController_findOne",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return the campaign if found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "404": {
            "description": "Campaign not found"
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get a specific campaign by ID",
        "tags": [
          "campaigns"
        ]
      }
    },
    "/v1/campaigns/{id}/statistics": {
      "get": {
        "operationId": "CampaignsController_getStatistics",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign statistics with rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignStatisticsResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "404": {
            "description": "Campaign not found"
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get detailed statistics for a campaign",
        "tags": [
          "campaigns"
        ]
      }
    },
    "/v1/analytics": {
      "get": {
        "operationId": "AnalyticsController_getAccountAnalytics",
        "parameters": [
          {
            "name": "period",
            "required": false,
            "in": "query",
            "description": "Time period for analytics",
            "schema": {
              "default": "last-7-days",
              "type": "string",
              "enum": [
                "last-7-days",
                "last-30-days",
                "last-90-days"
              ]
            }
          },
          {
            "name": "userId",
            "required": false,
            "in": "query",
            "description": "Filter to a specific user",
            "schema": {
              "example": "user_abc123",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated outreach metrics for the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get account-level analytics across all campaigns",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/daily": {
      "get": {
        "operationId": "AnalyticsController_getDailyAnalytics",
        "parameters": [
          {
            "name": "startDate",
            "required": true,
            "in": "query",
            "description": "Start of the date range (YYYY-MM-DD)",
            "schema": {
              "example": "2026-03-16",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": true,
            "in": "query",
            "description": "End of the date range (YYYY-MM-DD)",
            "schema": {
              "example": "2026-03-22",
              "type": "string"
            }
          },
          {
            "name": "userId",
            "required": false,
            "in": "query",
            "description": "Filter to a specific user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "required": false,
            "in": "query",
            "description": "Filter to a specific campaign",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily activity data with totals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyAnalyticsResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get day-by-day activity breakdown",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/by-user": {
      "get": {
        "operationId": "AnalyticsController_getByUserAnalytics",
        "parameters": [
          {
            "name": "period",
            "required": false,
            "in": "query",
            "description": "Time period for analytics",
            "schema": {
              "default": "last-7-days",
              "type": "string",
              "enum": [
                "last-7-days",
                "last-30-days",
                "last-90-days"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-user outreach metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ByUserAnalyticsResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get metrics broken down by each team member",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/teams/me": {
      "get": {
        "operationId": "TeamsController_getMyTeamInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Team information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "429": {
            "description": "Rate limit exceeded. Retry after cooldown."
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get the current user's team name and user count",
        "tags": [
          "teams"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "MemoryUsage": {
        "type": "object",
        "properties": {
          "rss": {
            "type": "number",
            "description": "Resident Set Size - total memory allocated for the process execution",
            "example": 47378432
          },
          "heapTotal": {
            "type": "number",
            "description": "Total size of the allocated heap",
            "example": 23068672
          },
          "heapUsed": {
            "type": "number",
            "description": "Actual memory used by the heap",
            "example": 11601456
          },
          "external": {
            "type": "number",
            "description": "Memory used by C++ objects bound to JavaScript objects",
            "example": 1789775
          },
          "arrayBuffers": {
            "type": "number",
            "description": "Memory allocated for ArrayBuffers and SharedArrayBuffers",
            "example": 1064517
          }
        },
        "required": [
          "rss",
          "heapTotal",
          "heapUsed",
          "external"
        ]
      },
      "HealthCheckResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Current status of the API",
            "example": "ok"
          },
          "timestamp": {
            "type": "string",
            "description": "Current server timestamp",
            "example": "2023-04-02T12:00:00.000Z"
          },
          "uptime": {
            "type": "number",
            "description": "Server uptime in seconds",
            "example": 3600
          },
          "memoryUsage": {
            "description": "Memory usage statistics",
            "allOf": [
              {
                "$ref": "#/components/schemas/MemoryUsage"
              }
            ]
          }
        },
        "required": [
          "status",
          "timestamp",
          "uptime",
          "memoryUsage"
        ]
      },
      "UserDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the user",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "email": {
            "type": "string",
            "description": "The user's email address",
            "example": "user@example.com"
          },
          "name": {
            "type": "string",
            "description": "The user's name",
            "example": "John Doe"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string",
            "description": "When the user was created",
            "example": "2023-04-02T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "createdAt"
        ]
      },
      "LeadCreateDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the lead",
            "example": "John Doe"
          },
          "linkedinUrl": {
            "type": "string",
            "description": "LinkedIn profile URL of the lead (https:// will be added automatically if missing)",
            "example": "https://www.linkedin.com/in/johndoe"
          },
          "title": {
            "type": "string",
            "description": "Job title of the lead",
            "example": "Software Engineer"
          },
          "company": {
            "type": "string",
            "description": "Company of the lead",
            "example": "Acme Inc."
          },
          "location": {
            "type": "string",
            "description": "Location of the lead",
            "example": "San Francisco, CA"
          },
          "customAttributes": {
            "type": "object",
            "description": "Any additional attributes for the lead that can be used in workflow messages",
            "example": {
              "customKey1": "customValue1",
              "customKey2": "customValue2"
            }
          }
        },
        "required": [
          "linkedinUrl"
        ]
      },
      "CreateLeadsBatchDto": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The campaign ID to add these leads to",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "leads": {
            "description": "Array of leads to create (maximum 100)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadCreateDto"
            }
          }
        },
        "required": [
          "campaignId",
          "leads"
        ]
      },
      "CreateLeadsBatchResponseDto": {
        "type": "object",
        "properties": {
          "count": {
            "type": "number",
            "description": "The number of leads successfully created",
            "example": 50
          },
          "campaignId": {
            "type": "string",
            "description": "The campaign ID the leads were added to",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "count",
          "campaignId"
        ]
      },
      "CampaignDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the campaign",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "The name of the campaign",
            "example": "Q4 Sales Outreach"
          },
          "status": {
            "type": "string",
            "description": "The current status of the campaign",
            "example": "ACTIVE",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "ARCHIVED",
              "COMPLETED",
              "CREATED"
            ]
          },
          "ownerId": {
            "type": "string",
            "description": "The ID of the user who owns this campaign",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "ownerEmail": {
            "type": "string",
            "description": "The email of the user who owns this campaign",
            "example": "john.doe@example.com"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string",
            "description": "The date the campaign was created",
            "example": "2023-09-15T12:00:00Z"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string",
            "description": "The date the campaign was last updated",
            "example": "2023-09-16T14:30:00Z"
          },
          "startDate": {
            "format": "date-time",
            "type": "string",
            "description": "The date the campaign will start",
            "example": "2023-09-15T12:00:00Z"
          },
          "endDate": {
            "format": "date-time",
            "type": "string",
            "description": "The date the campaign will end",
            "example": "2023-09-15T12:00:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "ownerId",
          "ownerEmail",
          "createdAt",
          "updatedAt",
          "startDate",
          "endDate"
        ]
      },
      "CampaignStatisticsDto": {
        "type": "object",
        "properties": {
          "progress": {
            "type": "number",
            "description": "Campaign completion percentage",
            "example": 45.2,
            "nullable": true
          },
          "totalLeadCount": {
            "type": "number",
            "example": 500
          },
          "totalLeadsInProgress": {
            "type": "number",
            "example": 224
          },
          "totalLeadsSkipped": {
            "type": "number",
            "example": 12
          },
          "invitationsSent": {
            "type": "number",
            "example": 264
          },
          "invitationsAccepted": {
            "type": "number",
            "example": 37
          },
          "invitationsSkipped": {
            "type": "number",
            "example": 5
          },
          "messagesSent": {
            "type": "number",
            "example": 37
          },
          "inmailsSent": {
            "type": "number",
            "example": 0
          },
          "messagesReplied": {
            "type": "number",
            "example": 3
          },
          "profileVisits": {
            "type": "number",
            "example": 264
          },
          "companyInvitationsSent": {
            "type": "number",
            "example": 0
          },
          "postsReactions": {
            "type": "number",
            "example": 0
          },
          "aiAccepted": {
            "type": "number",
            "example": 480
          },
          "aiRejected": {
            "type": "number",
            "example": 8
          }
        },
        "required": [
          "progress",
          "totalLeadCount",
          "totalLeadsInProgress",
          "totalLeadsSkipped",
          "invitationsSent",
          "invitationsAccepted",
          "invitationsSkipped",
          "messagesSent",
          "inmailsSent",
          "messagesReplied",
          "profileVisits",
          "companyInvitationsSent",
          "postsReactions",
          "aiAccepted",
          "aiRejected"
        ]
      },
      "CampaignRatesDto": {
        "type": "object",
        "properties": {
          "invitationAcceptanceRate": {
            "type": "number",
            "description": "Invitation acceptance rate percentage",
            "example": 14
          },
          "messageReplyRate": {
            "type": "number",
            "description": "Message reply rate percentage",
            "example": 6
          }
        },
        "required": [
          "invitationAcceptanceRate",
          "messageReplyRate"
        ]
      },
      "CampaignStatisticsResponseDto": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "example": "cm1abc123def456"
          },
          "campaignName": {
            "type": "string",
            "example": "Cold Outreach - ML Engineers"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "owner": {
            "type": "string",
            "example": "sid@pavoai.com"
          },
          "statistics": {
            "$ref": "#/components/schemas/CampaignStatisticsDto"
          },
          "rates": {
            "$ref": "#/components/schemas/CampaignRatesDto"
          }
        },
        "required": [
          "campaignId",
          "campaignName",
          "status",
          "owner",
          "statistics",
          "rates"
        ]
      },
      "InvitationsDto": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "number",
            "example": 677
          },
          "accepted": {
            "type": "number",
            "example": 92
          },
          "rate": {
            "type": "number",
            "description": "Acceptance rate as percentage",
            "example": 13.6
          }
        },
        "required": [
          "sent",
          "accepted",
          "rate"
        ]
      },
      "MessagesDto": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "number",
            "example": 92
          },
          "replied": {
            "type": "number",
            "example": 4
          },
          "rate": {
            "type": "number",
            "description": "Reply rate as percentage",
            "example": 4.3
          }
        },
        "required": [
          "sent",
          "replied",
          "rate"
        ]
      },
      "CampaignsSummaryDto": {
        "type": "object",
        "properties": {
          "active": {
            "type": "number",
            "example": 6
          },
          "totalLeadsInProgress": {
            "type": "number",
            "example": 1420
          }
        },
        "required": [
          "active",
          "totalLeadsInProgress"
        ]
      },
      "AnalyticsResponseDto": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "example": "last-7-days"
          },
          "invitations": {
            "$ref": "#/components/schemas/InvitationsDto"
          },
          "messages": {
            "$ref": "#/components/schemas/MessagesDto"
          },
          "campaigns": {
            "$ref": "#/components/schemas/CampaignsSummaryDto"
          }
        },
        "required": [
          "period",
          "invitations",
          "messages",
          "campaigns"
        ]
      },
      "DailyDataPointDto": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "example": "2026-03-19"
          },
          "invitationsSent": {
            "type": "number",
            "example": 142
          },
          "invitationsAccepted": {
            "type": "number",
            "example": 16
          },
          "messagesSent": {
            "type": "number",
            "example": 16
          },
          "messagesReplied": {
            "type": "number",
            "example": 1
          }
        },
        "required": [
          "date",
          "invitationsSent",
          "invitationsAccepted",
          "messagesSent",
          "messagesReplied"
        ]
      },
      "DailyTotalsDto": {
        "type": "object",
        "properties": {
          "invitationsSent": {
            "type": "number",
            "example": 677
          },
          "invitationsAccepted": {
            "type": "number",
            "example": 92
          },
          "messagesSent": {
            "type": "number",
            "example": 92
          },
          "messagesReplied": {
            "type": "number",
            "example": 4
          },
          "invitationAcceptanceRate": {
            "type": "number",
            "example": 13.6
          },
          "messageReplyRate": {
            "type": "number",
            "example": 4.3
          }
        },
        "required": [
          "invitationsSent",
          "invitationsAccepted",
          "messagesSent",
          "messagesReplied",
          "invitationAcceptanceRate",
          "messageReplyRate"
        ]
      },
      "DailyAnalyticsResponseDto": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "example": "2026-03-16"
          },
          "endDate": {
            "type": "string",
            "example": "2026-03-22"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyDataPointDto"
            }
          },
          "totals": {
            "$ref": "#/components/schemas/DailyTotalsDto"
          }
        },
        "required": [
          "startDate",
          "endDate",
          "data",
          "totals"
        ]
      },
      "UserAnalyticsDto": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "example": "user_abc123"
          },
          "email": {
            "type": "string",
            "example": "anannya@pavoai.com"
          },
          "name": {
            "type": "string",
            "example": "Anannya Mishra"
          },
          "invitations": {
            "$ref": "#/components/schemas/InvitationsDto"
          },
          "messages": {
            "$ref": "#/components/schemas/MessagesDto"
          }
        },
        "required": [
          "userId",
          "email",
          "name",
          "invitations",
          "messages"
        ]
      },
      "ByUserAnalyticsResponseDto": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "example": "last-7-days"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserAnalyticsDto"
            }
          }
        },
        "required": [
          "period",
          "users"
        ]
      },
      "MeResponseDto": {
        "type": "object",
        "properties": {
          "teamName": {
            "type": "string",
            "example": "Acme Corp",
            "description": "Name of your organization"
          },
          "userCount": {
            "type": "number",
            "example": 5,
            "description": "Count of users in your organization"
          }
        },
        "required": [
          "teamName",
          "userCount"
        ]
      }
    }
  },
  "security": [
    {
      "api-key": []
    }
  ],
  "tags": [
    {
      "name": "campaigns",
      "description": "Manage campaigns for a user"
    },
    {
      "name": "leads",
      "description": "Manage leads for a campaign"
    },
    {
      "name": "users",
      "description": "Manage your organization users"
    },
    {
      "name": "analytics",
      "description": "Account-level analytics and daily breakdowns"
    }
  ]
}