{
  "openapi": "3.0.0",
  "info": {
    "title": "Podio API",
    "description": "Podio is a flexible work management platform. The Podio API allows you to build integrations and automate workflows.",
    "version": "2.0.0",
    "contact": {
      "url": "https://developers.podio.com/"
    },
    "termsOfService": "https://podio.com/site/terms"
  },
  "servers": [
    {
      "url": "https://api.podio.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/oauth/token/v2": {
      "post": {
        "summary": "Get OAuth token",
        "description": "Obtain or refresh an OAuth2 access token",
        "operationId": "getToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["grant_type"],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["authorization_code", "refresh_token", "password", "app"],
                    "description": "OAuth2 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code (for authorization_code grant)"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token (for refresh_token grant)"
                  },
                  "username": {
                    "type": "string",
                    "description": "Username (for password grant)"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password (for password grant)"
                  },
                  "app_id": {
                    "type": "string",
                    "description": "App ID (for app grant)"
                  },
                  "app_token": {
                    "type": "string",
                    "description": "App token (for app grant)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/item/app/{app_id}/": {
      "post": {
        "summary": "Add new item",
        "description": "Create a new item in an app",
        "operationId": "addItem",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the app"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "App not found"
          }
        }
      }
    },
    "/item/{item_id}": {
      "get": {
        "summary": "Get item",
        "description": "Retrieve a specific item by ID",
        "operationId": "getItem",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the item"
          }
        ],
        "responses": {
          "200": {
            "description": "Item retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Item not found"
          }
        }
      },
      "put": {
        "summary": "Update item",
        "description": "Update an existing item",
        "operationId": "updateItem",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the item"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Item not found"
          }
        }
      },
      "delete": {
        "summary": "Delete item",
        "description": "Delete a specific item",
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the item"
          }
        ],
        "responses": {
          "204": {
            "description": "Item deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Item not found"
          }
        }
      }
    },
    "/item/app/{app_id}/filter/": {
      "post": {
        "summary": "Filter items",
        "description": "Filter items in an app",
        "operationId": "filterItems",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the app"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Filter criteria"
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "Field to sort by"
                  },
                  "sort_desc": {
                    "type": "boolean",
                    "description": "Sort in descending order"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of results"
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Offset for pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items filtered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "filtered": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/app/{app_id}": {
      "get": {
        "summary": "Get app",
        "description": "Retrieve app details",
        "operationId": "getApp",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the app"
          }
        ],
        "responses": {
          "200": {
            "description": "App retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "App not found"
          }
        }
      }
    },
    "/space/{space_id}/app/": {
      "get": {
        "summary": "Get apps in space",
        "description": "Get all apps in a space",
        "operationId": "getAppsInSpace",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the space"
          }
        ],
        "responses": {
          "200": {
            "description": "Apps retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "post": {
        "summary": "Add new app",
        "description": "Create a new app in a space",
        "operationId": "addApp",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the space"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "app_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://podio.com/oauth/authorize",
            "tokenUrl": "https://api.podio.com/oauth/token/v2",
            "scopes": {}
          },
          "password": {
            "tokenUrl": "https://api.podio.com/oauth/token/v2",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (typically 'bearer')"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds (28800 = 8 hours)"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (valid for 28 days)"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "integer",
            "description": "Unique ID of the item"
          },
          "app": {
            "type": "object",
            "description": "App details"
          },
          "fields": {
            "type": "array",
            "description": "Item field values",
            "items": {
              "type": "object"
            }
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "object",
            "description": "User who created the item"
          },
          "last_event_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ItemCreate": {
        "type": "object",
        "required": ["fields"],
        "properties": {
          "fields": {
            "type": "object",
            "description": "Field values for the new item",
            "additionalProperties": {
              "type": "object"
            }
          },
          "external_id": {
            "type": "string",
            "description": "External ID for the item"
          }
        }
      },
      "ItemUpdate": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "object",
            "description": "Field values to update",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "integer",
            "description": "Unique ID of the app"
          },
          "space_id": {
            "type": "integer",
            "description": "ID of the space containing this app"
          },
          "config": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "icon": {
                "type": "string"
              }
            }
          },
          "fields": {
            "type": "array",
            "description": "App field definitions",
            "items": {
              "type": "object",
              "properties": {
                "field_id": {
                  "type": "integer"
                },
                "type": {
                  "type": "string",
                  "enum": ["text", "number", "image", "date", "app", "money", "progress", "location", "duration", "contact", "calculation", "embed", "category", "file", "tel", "email"]
                },
                "config": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "AppCreate": {
        "type": "object",
        "required": ["config"],
        "properties": {
          "config": {
            "type": "object",
            "required": ["name"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the app"
              },
              "item_name": {
                "type": "string",
                "description": "Name for items in the app"
              },
              "description": {
                "type": "string",
                "description": "Description of the app"
              },
              "icon": {
                "type": "string",
                "description": "Icon for the app"
              }
            }
          },
          "fields": {
            "type": "array",
            "description": "Field definitions",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}
