{
  "openapi": "3.0.3",
  "info": {
    "title": "IUCN Red List API",
    "description": "The IUCN Red List API provides programmatic access to the IUCN Red List of Threatened Species data. It enables retrieval of species assessments, conservation status, habitats, threats, conservation measures, and other biodiversity data. An API token is required for authentication.",
    "version": "3.0",
    "contact": {
      "name": "IUCN Red List",
      "url": "https://www.iucnredlist.org"
    },
    "license": {
      "name": "IUCN Red List Terms of Use",
      "url": "https://www.iucnredlist.org/terms/terms-of-use"
    }
  },
  "servers": [
    {
      "url": "https://apiv3.iucnredlist.org/api/v3",
      "description": "IUCN Red List API v3 server"
    }
  ],
  "paths": {
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get Red List version",
        "description": "Returns the current version of the IUCN Red List.",
        "responses": {
          "200": {
            "description": "Successful response with version information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "version"
        ]
      }
    },
    "/species/page/{page_number}": {
      "get": {
        "operationId": "listSpeciesByPage",
        "summary": "List species by page",
        "description": "Returns a paginated list of all species in the IUCN Red List. Each page returns up to 10,000 records.",
        "parameters": [
          {
            "name": "page_number",
            "in": "path",
            "required": true,
            "description": "Page number (0-indexed)",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/count": {
      "get": {
        "operationId": "getSpeciesCount",
        "summary": "Get total species count",
        "description": "Returns the total count of species assessed in the IUCN Red List.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/{name}": {
      "get": {
        "operationId": "getSpeciesByName",
        "summary": "Get species by name",
        "description": "Returns assessment information for a species by its scientific name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species (genus and species, e.g., 'Panthera leo')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species assessment data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/id/{id}": {
      "get": {
        "operationId": "getSpeciesById",
        "summary": "Get species by ID",
        "description": "Returns assessment information for a species by its IUCN taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species assessment data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/category/{category}": {
      "get": {
        "operationId": "getSpeciesByCategory",
        "summary": "Get species by Red List category",
        "description": "Returns species filtered by their IUCN Red List category.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "IUCN Red List category code",
            "schema": {
              "type": "string",
              "enum": [
                "DD",
                "LC",
                "NT",
                "VU",
                "EN",
                "CR",
                "EW",
                "EX",
                "LR/lc",
                "LR/nt",
                "LR/cd"
              ]
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species in category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/citation/{name}": {
      "get": {
        "operationId": "getSpeciesCitation",
        "summary": "Get species citation",
        "description": "Returns the citation for a species assessment.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with citation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitationResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/citation/id/{id}": {
      "get": {
        "operationId": "getSpeciesCitationById",
        "summary": "Get species citation by ID",
        "description": "Returns the citation for a species assessment by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with citation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitationResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/narrative/{name}": {
      "get": {
        "operationId": "getSpeciesNarrative",
        "summary": "Get species narrative",
        "description": "Returns the narrative text for a species including rationale, habitat, threats, population, and conservation measures.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with narrative data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NarrativeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/narrative/id/{id}": {
      "get": {
        "operationId": "getSpeciesNarrativeById",
        "summary": "Get species narrative by ID",
        "description": "Returns the narrative text for a species by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with narrative data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NarrativeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/synonym/{name}": {
      "get": {
        "operationId": "getSpeciesSynonyms",
        "summary": "Get species synonyms",
        "description": "Returns synonyms for a species name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with synonym data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynonymResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/common_names/{name}": {
      "get": {
        "operationId": "getSpeciesCommonNames",
        "summary": "Get species common names",
        "description": "Returns common names for a species in various languages.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with common names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonNamesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/countries/name/{name}": {
      "get": {
        "operationId": "getSpeciesCountries",
        "summary": "Get countries of occurrence",
        "description": "Returns the countries where a species occurs.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with country occurrence data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryOccurrenceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/countries/id/{id}": {
      "get": {
        "operationId": "getSpeciesCountriesById",
        "summary": "Get countries of occurrence by species ID",
        "description": "Returns the countries where a species occurs, by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with country occurrence data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryOccurrenceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/country/list": {
      "get": {
        "operationId": "listCountries",
        "summary": "List all countries",
        "description": "Returns a list of all countries with their ISO codes.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with country list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "country"
        ]
      }
    },
    "/country/getspecies/{iso}": {
      "get": {
        "operationId": "getSpeciesByCountry",
        "summary": "Get species by country",
        "description": "Returns all species occurring in a country by ISO code.",
        "parameters": [
          {
            "name": "iso",
            "in": "path",
            "required": true,
            "description": "ISO 2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species in country",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "country"
        ]
      }
    },
    "/comp-group/list": {
      "get": {
        "operationId": "listComprehensiveGroups",
        "summary": "List comprehensive groups",
        "description": "Returns a list of all comprehensively assessed taxonomic groups.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with comprehensive group list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompGroupListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "comp-group"
        ]
      }
    },
    "/comp-group/getspecies/{group}": {
      "get": {
        "operationId": "getSpeciesByCompGroup",
        "summary": "Get species by comprehensive group",
        "description": "Returns all species in a comprehensively assessed group.",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "description": "Name of the comprehensive group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with species in group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "comp-group"
        ]
      }
    },
    "/threats/species/name/{name}": {
      "get": {
        "operationId": "getSpeciesThreats",
        "summary": "Get species threats",
        "description": "Returns the threats facing a species.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with threat data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreatsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "threats"
        ]
      }
    },
    "/threats/species/id/{id}": {
      "get": {
        "operationId": "getSpeciesThreatsById",
        "summary": "Get species threats by ID",
        "description": "Returns the threats facing a species by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with threat data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreatsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "threats"
        ]
      }
    },
    "/habitats/species/name/{name}": {
      "get": {
        "operationId": "getSpeciesHabitats",
        "summary": "Get species habitats",
        "description": "Returns the habitats for a species.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with habitat data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HabitatsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "habitats"
        ]
      }
    },
    "/habitats/species/id/{id}": {
      "get": {
        "operationId": "getSpeciesHabitatsById",
        "summary": "Get species habitats by ID",
        "description": "Returns the habitats for a species by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with habitat data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HabitatsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "habitats"
        ]
      }
    },
    "/measures/species/name/{name}": {
      "get": {
        "operationId": "getSpeciesConservationMeasures",
        "summary": "Get species conservation measures",
        "description": "Returns the conservation measures for a species.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with conservation measures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasuresResponse"
                }
              }
            }
          }
        },
        "tags": [
          "measures"
        ]
      }
    },
    "/measures/species/id/{id}": {
      "get": {
        "operationId": "getSpeciesConservationMeasuresById",
        "summary": "Get species conservation measures by ID",
        "description": "Returns the conservation measures for a species by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with conservation measures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasuresResponse"
                }
              }
            }
          }
        },
        "tags": [
          "measures"
        ]
      }
    },
    "/species/history/name/{name}": {
      "get": {
        "operationId": "getSpeciesHistory",
        "summary": "Get species assessment history",
        "description": "Returns the Red List assessment history for a species.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with assessment history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/species/history/id/{id}": {
      "get": {
        "operationId": "getSpeciesHistoryById",
        "summary": "Get species assessment history by ID",
        "description": "Returns the Red List assessment history for a species by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with assessment history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/weblink/{name}": {
      "get": {
        "operationId": "getSpeciesWeblink",
        "summary": "Get species Red List web page link",
        "description": "Returns the URL to the species page on the IUCN Red List website.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with web link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeblinkResponse"
                }
              }
            }
          }
        },
        "tags": [
          "weblink"
        ]
      }
    },
    "/growth_forms/species/name/{name}": {
      "get": {
        "operationId": "getSpeciesGrowthForms",
        "summary": "Get species growth forms",
        "description": "Returns the growth forms for a plant species.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Scientific name of the species",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with growth form data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrowthFormsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "growth_forms"
        ]
      }
    },
    "/growth_forms/species/id/{id}": {
      "get": {
        "operationId": "getSpeciesGrowthFormsById",
        "summary": "Get species growth forms by ID",
        "description": "Returns the growth forms for a plant species by taxon ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IUCN taxon ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with growth form data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrowthFormsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "growth_forms"
        ]
      }
    },
    "/species/region/{region_identifier}/page/{page_number}": {
      "get": {
        "operationId": "listSpeciesByRegion",
        "summary": "List species by region",
        "description": "Returns a paginated list of species assessed in a specific regional Red List.",
        "parameters": [
          {
            "name": "region_identifier",
            "in": "path",
            "required": true,
            "description": "Regional assessment identifier (e.g., 'europe', 'mediterranean', 'central_africa')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_number",
            "in": "path",
            "required": true,
            "description": "Page number (0-indexed)",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with regional species list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "species"
        ]
      }
    },
    "/region/list": {
      "get": {
        "operationId": "listRegions",
        "summary": "List all regions",
        "description": "Returns a list of all available regional assessments.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with region list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "region"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token obtained from the IUCN Red List website"
      }
    },
    "schemas": {
      "VersionResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Current Red List version"
          }
        }
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total count"
          }
        }
      },
      "Species": {
        "type": "object",
        "properties": {
          "taxonid": {
            "type": "integer",
            "description": "IUCN taxon ID"
          },
          "scientific_name": {
            "type": "string",
            "description": "Scientific name"
          },
          "kingdom": {
            "type": "string",
            "description": "Taxonomic kingdom"
          },
          "phylum": {
            "type": "string",
            "description": "Taxonomic phylum"
          },
          "class": {
            "type": "string",
            "description": "Taxonomic class"
          },
          "order": {
            "type": "string",
            "description": "Taxonomic order"
          },
          "family": {
            "type": "string",
            "description": "Taxonomic family"
          },
          "genus": {
            "type": "string",
            "description": "Taxonomic genus"
          },
          "main_common_name": {
            "type": "string",
            "description": "Main common name"
          },
          "authority": {
            "type": "string",
            "description": "Taxonomic authority"
          },
          "published_year": {
            "type": "integer",
            "description": "Year of assessment publication"
          },
          "assessment_date": {
            "type": "string",
            "description": "Date of assessment"
          },
          "category": {
            "type": "string",
            "description": "Red List category (e.g., VU, EN, CR)"
          },
          "criteria": {
            "type": "string",
            "description": "Red List criteria used for assessment"
          },
          "population_trend": {
            "type": "string",
            "description": "Population trend (Increasing, Decreasing, Stable, Unknown)"
          },
          "marine_system": {
            "type": "boolean",
            "description": "Whether the species is marine"
          },
          "freshwater_system": {
            "type": "boolean",
            "description": "Whether the species is freshwater"
          },
          "terrestrial_system": {
            "type": "boolean",
            "description": "Whether the species is terrestrial"
          }
        }
      },
      "SpeciesListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of results"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Species"
            }
          }
        }
      },
      "SpeciesResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Species"
            }
          }
        }
      },
      "CitationResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "citation": {
                  "type": "string",
                  "description": "Full citation text"
                }
              }
            }
          }
        }
      },
      "NarrativeResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "species_id": {
                  "type": "integer"
                },
                "taxonomicnotes": {
                  "type": "string"
                },
                "rationale": {
                  "type": "string"
                },
                "geographicrange": {
                  "type": "string"
                },
                "population": {
                  "type": "string"
                },
                "habitat": {
                  "type": "string"
                },
                "threats": {
                  "type": "string"
                },
                "conservationmeasures": {
                  "type": "string"
                },
                "usetrade": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SynonymResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accepted_id": {
                  "type": "integer"
                },
                "accepted_name": {
                  "type": "string"
                },
                "synonym": {
                  "type": "string"
                },
                "syn_authority": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CommonNamesResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "taxonname": {
                  "type": "string"
                },
                "primary": {
                  "type": "boolean"
                },
                "language": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CountryOccurrenceResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "ISO country code"
                },
                "country": {
                  "type": "string",
                  "description": "Country name"
                },
                "presence": {
                  "type": "string",
                  "description": "Presence status"
                },
                "origin": {
                  "type": "string",
                  "description": "Origin status"
                },
                "distribution_code": {
                  "type": "string",
                  "description": "Distribution code"
                }
              }
            }
          }
        }
      },
      "CountryListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "isocode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CompGroupListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "group_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ThreatsResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "timing": {
                  "type": "string"
                },
                "scope": {
                  "type": "string",
                  "nullable": true
                },
                "severity": {
                  "type": "string",
                  "nullable": true
                },
                "score": {
                  "type": "string",
                  "nullable": true
                },
                "invasive": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "HabitatsResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "habitat": {
                  "type": "string"
                },
                "suitability": {
                  "type": "string"
                },
                "season": {
                  "type": "string",
                  "nullable": true
                },
                "majorimportance": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "MeasuresResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "HistoryResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer"
                },
                "assess_year": {
                  "type": "integer"
                },
                "code": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WeblinkResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rlurl": {
                  "type": "string",
                  "description": "URL to the Red List species page"
                }
              }
            }
          }
        }
      },
      "GrowthFormsResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Growth form name"
                }
              }
            }
          }
        }
      },
      "RegionListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "identifier": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "comp-group"
    },
    {
      "name": "country"
    },
    {
      "name": "growth_forms"
    },
    {
      "name": "habitats"
    },
    {
      "name": "measures"
    },
    {
      "name": "region"
    },
    {
      "name": "species"
    },
    {
      "name": "threats"
    },
    {
      "name": "version"
    },
    {
      "name": "weblink"
    }
  ]
}
