{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Mon-voyage-pas-cher.com Public API",
    "title": "Mon-voyage-pas-cher.com Public API",
    "version": "0.0.1",
    "x-apisguru-categories": [
      "transport"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/mon-voyage-pas-cher.com/0.0.1/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://www.mon-voyage-pas-cher.com/assets/documentation/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "mon-voyage-pas-cher.com"
  },
  "servers": [
    {
      "url": "https://api.mon-voyage-pas-cher.com/"
    }
  ],
  "paths": {
    "/airports": {
      "get": {
        "parameters": [
          {
            "description": "the language code of the language you want the content to be returned",
            "in": "query",
            "name": "language",
            "required": true,
            "schema": {
              "enum": [
                "en",
                "fr",
                "de",
                "es"
              ],
              "type": "string"
            }
          },
          {
            "description": "The location you want to search for. Either a latitude/longitude point or a letter airport IATA CODE ( ex. LHR ) if you want the detail for only one single airport.",
            "in": "query",
            "name": "location",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z]{3}$|^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          },
          {
            "description": "Radius in km for a lat/long search, will be ignore if a IATA is passed in location parameter code is passed",
            "in": "query",
            "name": "radius",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 500,
              "type": "integer"
            }
          },
          {
            "description": "Filter - The country ISO code 2 letters, provided by the GET /countries. If passed the results will be filtered to this country only, regardless if you passed a lat/long and a large radius",
            "in": "query",
            "name": "countrycode",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z]{2}$",
              "type": "string"
            }
          },
          {
            "description": "Filter the results to only the top and large airports airports.",
            "in": "query",
            "name": "top_airports",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportsSearchResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Geography APIs"
        ],
        "description": "This webservice is providing you the ability to retrieve a list of airports matching your search criterias.<br />The 3 mains search criterias are<br />- by country code, this will list all airports for a given country.<br />- by latitude/longitude with a radius in km. You can actually combine those 2 criterias, and search for example the closest airport in the USA of Vancoucer, Canada.<br />- The last way to use the API is by searching directly with a IATA CODE in the location parameter, this will only return one result in the array of data results",
        "operationId": "getAirport",
        "summary": "Search airports by country / Search nearby airports / Search an airport",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "airports"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-airports",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "airports"
    },
    "/cities/findcitiesfromlatlong": {
      "get": {
        "parameters": [
          {
            "description": "the language code of the language you want the content to be returned",
            "in": "query",
            "name": "language",
            "required": true,
            "schema": {
              "enum": [
                "en",
                "fr",
                "de",
                "es"
              ],
              "type": "string"
            }
          },
          {
            "description": "if you want to limit the result to one country",
            "in": "query",
            "name": "countrycode",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z]{2}$",
              "type": "string"
            }
          },
          {
            "description": "The Lat/Long of the location your are seeking cities ( ex. 45.4478988,3.23456)",
            "in": "query",
            "name": "location",
            "required": false,
            "schema": {
              "pattern": "^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          },
          {
            "description": "Radius in km for a lat/long search. Default is 20km and there is no maximum, but need to be combined with limit. code is passed",
            "in": "query",
            "name": "radius",
            "required": false,
            "schema": {
              "default": 20,
              "maximum": 200,
              "type": "integer"
            }
          },
          {
            "description": "Limit of the result. Default is 20 rows, and maximum is 50.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 20,
              "maximum": 50,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "offset of the result set",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The order you want the result ordered. Default is population while when entering a lat/long, you can order the results by distance from requested lat/long point",
            "in": "query",
            "name": "sort",
            "required": true,
            "schema": {
              "default": "distance,asc",
              "enum": [
                "distance,desc",
                "distance,asc",
                "population,desc",
                "population,asc",
                "elevation,desc",
                "elevation,asc",
                "name,desc",
                "name,asc",
                "timezone,asc",
                "timezone,desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Geography APIs"
        ],
        "description": "Search cities according to given criterias. Either lat/long + radius or country code. A limit can be given but cannot exceed 50 results.<br /> A significant city will be defined according to the pourcent of population within a country.",
        "operationId": "getCities",
        "summary": "Search all cities from lat/long or countrycode",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "cities"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-cities-findcitiesfromlatlong",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "cities"
    },
    "/cities/findcitiesfromtext": {
      "get": {
        "parameters": [
          {
            "description": "the string you want to search",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "description": "the language code of the language you want the content to be returned",
            "in": "query",
            "name": "language",
            "required": true,
            "schema": {
              "enum": [
                "en",
                "fr",
                "de",
                "es"
              ],
              "type": "string"
            }
          },
          {
            "description": "if you want to limit the result to one country",
            "in": "query",
            "name": "countrycode",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z]{2}$",
              "type": "string"
            }
          },
          {
            "description": "The order you want the result ordered. Default is population while when entering a lat/long, you can order the results by distance from requested lat/long point",
            "in": "query",
            "name": "sort",
            "required": true,
            "schema": {
              "default": "population,desc",
              "enum": [
                "population,desc",
                "population,asc",
                "elevation,desc",
                "elevation,asc",
                "name,desc",
                "name,asc",
                "timezone,asc",
                "timezone,desc",
                "match_score,desc",
                "match_score,asc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Geography APIs"
        ],
        "description": "Search cities from a string parameters.",
        "operationId": "getAutocomplete",
        "summary": "Retrieve cities informations from a string / build an autocomplete",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "cities"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-cities-findcitiesfromtext",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "cities"
    },
    "/cities/significant": {
      "get": {
        "parameters": [
          {
            "description": "the language code of the language you want the content to be returned",
            "in": "query",
            "name": "language",
            "required": true,
            "schema": {
              "enum": [
                "en",
                "fr",
                "de",
                "es"
              ],
              "type": "string"
            }
          },
          {
            "description": "The pourcent of population the cities need to be in order to appear in results",
            "in": "query",
            "name": "pourcent",
            "required": false,
            "schema": {
              "default": 0.5,
              "maximum": 5,
              "minimum": 0.05,
              "type": "number"
            }
          },
          {
            "description": "if you want to limit the result to one country",
            "in": "query",
            "name": "countrycode",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z]{2}$",
              "type": "string"
            }
          },
          {
            "description": "The Lat/Long of the location your are seeking cities ( ex. 45.4478988,3.23456)",
            "in": "query",
            "name": "location",
            "required": false,
            "schema": {
              "pattern": "^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          },
          {
            "description": "Radius in km for a lat/long search. Default is 20km and there is no maximum, but need to be combined with limit. code is passed",
            "in": "query",
            "name": "radius",
            "required": false,
            "schema": {
              "default": 20,
              "maximum": 200,
              "type": "integer"
            }
          },
          {
            "description": "Limit of the result. Default is 20 rows, and maximum is 50.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 20,
              "maximum": 50,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "offset of the result set",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The order you want the result ordered. Default is population while when entering a lat/long, you can order the results by distance from requested lat/long point",
            "in": "query",
            "name": "sort",
            "required": true,
            "schema": {
              "default": "population,desc",
              "enum": [
                "distance,desc",
                "distance,asc",
                "population,desc",
                "population,asc",
                "elevation,desc",
                "elevation,asc",
                "name,desc",
                "name,asc",
                "timezone,asc",
                "timezone,desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Geography APIs"
        ],
        "description": "Search cities according to given criterias. Either lat/long + radius or country code. A limit can be given but cannot exceed 50 results.<br /> A significant city will be defined according to the pourcent of population within a country.",
        "operationId": "getSignificantCities",
        "summary": "Search significant cities from lat/long or countrycode",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "cities"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-cities-significant",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "cities"
    },
    "/continents": {
      "get": {
        "parameters": [
          {
            "description": "The language code of the language you want the content to be returned",
            "in": "query",
            "name": "language",
            "required": true,
            "schema": {
              "enum": [
                "en",
                "fr",
                "de",
                "es"
              ],
              "type": "string"
            }
          },
          {
            "description": "The code of the continent you want to retrieve, this parameter is not required if you want ot retrieve all continents at once",
            "in": "query",
            "name": "continentcode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinentsResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Geography APIs"
        ],
        "description": "This webservice is providing you the ability to retrieve all informations about continents",
        "operationId": "getContinents",
        "summary": "Search all continents or one specific continent",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "continents"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-continents",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "continents"
    },
    "/countries": {
      "get": {
        "parameters": [
          {
            "description": "the language code of the language you want the content to be returned",
            "in": "query",
            "name": "language",
            "required": true,
            "schema": {
              "enum": [
                "en",
                "fr",
                "de",
                "es"
              ],
              "type": "string"
            }
          },
          {
            "description": "The code of the country you want to retrieve",
            "in": "query",
            "name": "countrycode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Geography APIs"
        ],
        "description": "This webservice is providing you the ability to retrieve a list of countries matching your search criterias.<br />The 2 mains ways to search use this API are<br />- by countrycode, it will only returns you one country<br />- without the countrycode parameter which will return the full list of countries",
        "operationId": "getCountries",
        "summary": "Search all countries or one specific country",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "countries"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-countries",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "countries"
    },
    "/distance": {
      "get": {
        "parameters": [
          {
            "description": "The location as a latitude / longitude point ( ex. 67.85572,20.22513 ) of location point A",
            "in": "query",
            "name": "locationA",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z]{3}$|^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          },
          {
            "description": "The location as a latitude / longitude point ( ex. 67.85572,20.22513 ) of location point B",
            "in": "query",
            "name": "locationB",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z]{3}$|^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          },
          {
            "description": "The unit of length you want the elevation returned either meters or feet returned",
            "in": "query",
            "name": "unit",
            "required": false,
            "schema": {
              "default": "kms",
              "enum": [
                "kms",
                "miles"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Services APIs"
        ],
        "description": "This webservice is providing you the ability to calculate the distance between 2 lat/long points, it returns you the value in km or miles",
        "operationId": "getDistance",
        "summary": "Calculate distance between lats/longs",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "distance"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-distance",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "elevation"
    },
    "/elevation": {
      "get": {
        "parameters": [
          {
            "description": "The location as a latitude / longitude point ( ex. 67.85572,20.22513 ) or a list of coordinates separated using the pipe ('|') character. The maximum number of coordinates you can send at one time is 20 ( ex. 67.85572,20.22513|27.85572,20.22513 )",
            "in": "query",
            "name": "locations",
            "required": true,
            "schema": {
              "default": "67.85572,20.22513",
              "pattern": "^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)+((\\|\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)){0,256}$",
              "type": "string"
            }
          },
          {
            "description": "The unit of length you want the elevation returned either meters or feet returned",
            "in": "query",
            "name": "unit",
            "required": false,
            "schema": {
              "default": "meters",
              "enum": [
                "meters",
                "feet"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElevationResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Services APIs"
        ],
        "description": "This webservice is providing you the ability to retrieve the elevation in meters or feet of ONE or MULTIPLE given latitude/longitude point(s). <br />If you use MULTIPLE lat/long point, the maximum number of point you can send in one request is 256. Be aware that if MULTIPLE mode, the results are de-deplicated if you are sending the same latitude/longitude point multiple times.<br />If your workload is a batch of millions of lat/long point, You will also get better throughput if you send around 100 lat/long points in one request than the maximum. This maximum is mostly allowed for people trying to graph altitudes.",
        "operationId": "getElevation",
        "summary": "Search elevation informations from lat/long",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "elevation"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-elevation",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "elevation"
    },
    "/pong": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PongResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Utilities APIs"
        ],
        "description": "Returns a ping. In case you need a health check in your system. Cannot be called /ping as AWS is using this route for their health check. This webservice doesn't have CORS enable, as it's supposed to be call server to server and not from a webpage ( it won't work over the tester)",
        "operationId": "getPing",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "x-swagger-router-controller": "ping"
    },
    "/sun_positions": {
      "get": {
        "parameters": [
          {
            "description": "Here you can send either a latitude / longitude",
            "in": "query",
            "name": "location",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z]{3}$|^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          },
          {
            "description": "The date for what you will get the data ( full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21 ), if not provided as parameter, today is going to be used",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SunPositionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Services APIs"
        ],
        "description": "This webservice is providing you the ability to retrieve the time of each phases of the sunlight cycle. Sunset, sunrise, sunriseEnd, golden hour, solarNoon, dawn, dusk and more for a given location and date. If the date if not provided, the response provided return informations for today at UTC time.",
        "operationId": "getSun",
        "summary": "Search position of sun from lat/long and date",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "sun_positions"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-sun-positions",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "sun_moon"
    },
    "/swagger": {
      "x-swagger-pipe": "swagger_raw"
    },
    "/timezone": {
      "get": {
        "parameters": [
          {
            "description": "Here you can send either a latitude / longitude ( ex. 67.85572,20.22513 ) or a IATA Code ( ex. LHR for London Heathrow)",
            "in": "query",
            "name": "location",
            "required": true,
            "schema": {
              "default": "45.8326307,6.8650517",
              "pattern": "^[A-Za-z]{3}$|^(\\-?\\d+(\\.\\d+)?),\\s*(\\-?\\d+(\\.\\d+)?)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezoneResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The error message object"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "tags": [
          "Services APIs"
        ],
        "description": "This webservice is providing you the ability to retrieve the tz database time zones ( https://en.wikipedia.org/wiki/List_of_tz_database_time_zones )  from a given location ( )latitude and longitude or IATA code ). It also returns you the current time at the provided location.",
        "operationId": "getTimezone",
        "summary": "Search timezone and time informations from lat/long",
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": "${lambda_handler_invoke_arn}"
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "timezone"
        ],
        "description": "Enable CORS by returning correct headers\n",
        "operationId": "options-timezone",
        "summary": "CORS support",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "type": "mock"
        }
      },
      "x-swagger-router-controller": "timezone"
    }
  },
  "components": {
    "schemas": {
      "AirportsSearchResponse": {
        "description": "This section provides response schema of Airport Search Response",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/DataAirportsSearch"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CitiesData": {
        "description": "This is the data object for the response of a Cities APIs calls",
        "properties": {
          "alternatename": {
            "items": {
              "description": "Here is a list of alternate name for the city in the requested language",
              "type": "string"
            },
            "type": "array"
          },
          "asciiname": {
            "description": "The ASCII name of the city",
            "type": "string"
          },
          "country": {
            "description": "The 2 letter ISO code of the country the city belongs to",
            "type": "string"
          },
          "elevation": {
            "description": "The elevation of the city",
            "type": "number"
          },
          "latitude": {
            "description": "The latitude considered as central for the city",
            "type": "number"
          },
          "longitude": {
            "description": "The longitude considered as central for the city",
            "type": "number"
          },
          "name": {
            "description": "The name of the city",
            "type": "string"
          },
          "population": {
            "description": "The population of the city",
            "type": "number"
          },
          "timezone": {
            "description": "The longitude considered as central for the city",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CitiesResponse": {
        "description": "This is the main object for the response of a Cities API call",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/CitiesData"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ContinentData": {
        "description": "This is the data object for the response of a Continent API call",
        "properties": {
          "code": {
            "description": "The ISO code of the continent.",
            "type": "string"
          },
          "countries_in": {
            "items": {
              "description": "Here is a list of country code that belong to the continent",
              "type": "string"
            },
            "type": "array"
          },
          "latitude": {
            "description": "The latitude considered as central for the continent",
            "type": "number"
          },
          "longitude": {
            "description": "The longitude considered as central for the continent",
            "type": "number"
          },
          "name": {
            "description": "The name of the continent in english",
            "type": "string"
          },
          "name_locale": {
            "description": "The name of the continent in the requested languager",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ContinentsResponse": {
        "description": "This is the main object for the response of a Continent API call",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/ContinentData"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CountriesData": {
        "description": "This is the data object for the response of a Countries API call",
        "properties": {
          "airportscount": {
            "description": "The name of the country in english language",
            "type": "number"
          },
          "alternatename": {
            "items": {
              "description": "The other given name, nickname of the country, this is as well as in requested language but also foreign languages",
              "type": "string"
            },
            "type": "array"
          },
          "areainsqkm": {
            "description": "The superficy of the country in square km",
            "type": "number"
          },
          "capital": {
            "description": "The capital of this country in english language",
            "type": "string"
          },
          "currencycode": {
            "description": "The international currency code",
            "type": "string"
          },
          "currencyname": {
            "description": "The local name of the currency used in this country",
            "type": "string"
          },
          "fr_article": {
            "description": "The name of the country in english language",
            "type": "string"
          },
          "fr_preposition": {
            "description": "The name of the country in english language",
            "type": "string"
          },
          "iso_alpha2": {
            "description": "The 2 letter ISO code of the country",
            "type": "string"
          },
          "languages": {
            "description": "The name of the country in english language",
            "type": "string"
          },
          "latitude": {
            "description": "The latitude considered as central for this country",
            "type": "number"
          },
          "longitude": {
            "description": "The longitude considered as central for this country",
            "type": "number"
          },
          "name": {
            "description": "The name of the country in english language",
            "type": "string"
          },
          "name_locale": {
            "description": "The name of the country in the requested language",
            "type": "string"
          },
          "neighbors": {
            "items": {
              "description": "Here is a list of country code that have territorial border with the this country",
              "type": "string"
            },
            "type": "array"
          },
          "population": {
            "description": "The total population in this country",
            "type": "number"
          },
          "postalcode": {
            "description": "The format of the postal codes if multiple format to be applied, then a pipe | is used as separator",
            "type": "string"
          },
          "postalcoderegex": {
            "description": "The regex to use to check a postal code for this country",
            "type": "string"
          },
          "tld": {
            "description": "The top level domain which is used by the local internet authority.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CountriesResponse": {
        "description": "This is the main object for the response of a Countries API call",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/CountriesData"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataAirportsSearch": {
        "properties": {
          "airlineroutescount": {
            "type": "integer"
          },
          "airport_website": {
            "type": "string"
          },
          "altitude": {
            "type": "integer"
          },
          "cityname": {
            "type": "string"
          },
          "countrycode": {
            "type": "string"
          },
          "destinationscount": {
            "type": "integer"
          },
          "distance": {
            "description": "only in response when operating a lat/long search",
            "type": "string"
          },
          "iatacode": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "istopdestination": {
            "type": "boolean"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "wikipedia_page": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "DistanceResponse": {
        "description": "This section provides response schema of pong response",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "description": "Here is the distance between latlong A and latlong B, in the requested unit",
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ElevationData": {
        "properties": {
          "elevation": {
            "type": "integer"
          },
          "location": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ElevationResponse": {
        "description": "This is the main object for the response of a TimezoneRequest",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/ElevationData"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "type": "object"
      },
      "PongResponse": {
        "description": "This section provides response schema of pong response",
        "properties": {
          "data": {
            "description": "Will always return \"pong\"",
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SunPositionData": {
        "description": "This is the data object for the response of a SunPosition API call",
        "properties": {
          "dawn": {
            "description": "Date and time of the dawn at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "dusk": {
            "description": "Date and time of the dusk at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "goldenHour": {
            "description": "Date and time of the golden hour at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "goldenHourEnd": {
            "description": "Date and time of the golden hour end at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "nadir": {
            "description": "Date and time of the nadir at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "nauticalDawn": {
            "description": "Date and time of the nautical dawn at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "nauticalDusk": {
            "description": "Date and time of the nautical dusk at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "night": {
            "description": "Date and time of the night at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "nightEnd": {
            "description": "Date and time of the night end at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "solarNoon": {
            "description": "Date and time of the solar moon at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "sunrise": {
            "description": "Date and time of the sunris at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "sunriseEnd": {
            "description": "Date and time of the sunrise end at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "sunset": {
            "description": "Date and time of the sunset at local time of the given location",
            "format": "date-time",
            "type": "string"
          },
          "sunsetStart": {
            "description": "Date and time of the sunset start at local time of the given location",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SunPositionResponse": {
        "description": "This is the main object for the response of a SunPosition API call",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "$ref": "#/components/schemas/SunPositionData"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TimezoneResponse": {
        "description": "This is the main object for the response of a TimezoneRequest",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "properties": {
              "time_now": {
                "format": "date-time",
                "type": "string"
              },
              "timezone_name": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "description": "Status of the response",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "x-api-key": {
        "in": "header",
        "name": "x-api-key",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "name": "Geography APIs"
    },
    {
      "name": "Services APIs"
    },
    {
      "name": "Utilities APIs"
    },
    {
      "name": "airports"
    },
    {
      "name": "cities"
    },
    {
      "name": "continents"
    },
    {
      "name": "countries"
    },
    {
      "name": "distance"
    },
    {
      "name": "elevation"
    },
    {
      "name": "sun_positions"
    },
    {
      "name": "timezone"
    }
  ],
  "x-amazon-apigateway-api-key-source": "HEADER"
}