{
  "openapi": "3.0.3",
  "info": {
    "title": "eZee Connectivity Portal API",
    "version": "1.0.0",
    "description": "eZee Technosys Connectivity Portal API for hotel property management, room information, reservations, and booking engine integration.",
    "x-jentic-source-url": "https://api.ezeetechnosys.com/"
  },
  "servers": [
    {
      "url": "https://live.ipms247.com",
      "description": "Live production server"
    }
  ],
  "paths": {
    "/booking/reservation_api/listing.php": {
      "get": {
        "operationId": "getHotelList",
        "summary": "Retrieve hotel list",
        "description": "Get a list of hotels by group code or hotel code.",
        "tags": [
          "Hotel"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "HotelList"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GroupCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php?request_type=HotelAmenity": {
      "get": {
        "operationId": "getHotelAmenities",
        "summary": "Retrieve hotel amenities",
        "description": "Get amenities for a specific hotel.",
        "tags": [
          "Hotel"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "HotelAmenity"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel amenities retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelAmenityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php?request_type=RoomTypeList": {
      "get": {
        "operationId": "getRoomTypes",
        "summary": "Retrieve room types",
        "description": "Get room types for a specific hotel.",
        "tags": [
          "Room"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RoomTypeList"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishtoweb",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room types retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php?request_type=ConfiguredDetails": {
      "get": {
        "operationId": "getConfiguredDetails",
        "summary": "Retrieve salutations and country list",
        "description": "Get configured details including salutations and countries.",
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ConfiguredDetails"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configured details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php?request_type=CalculateExtraCharge": {
      "get": {
        "operationId": "calculateExtraCharge",
        "summary": "Calculate extra charges",
        "description": "Calculate extra charges for a booking based on dates and charge details.",
        "tags": [
          "Booking"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CalculateExtraCharge"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "check_in_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "check_out_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ExtraChargeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Total_ExtraItem",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extra charge calculated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php?request_type=VerifyUser": {
      "get": {
        "operationId": "verifyTravelAgent",
        "summary": "Verify travel agent credentials",
        "description": "Verify a travel agent's username and password.",
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "VerifyUser"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Base64-encoded password"
            }
          },
          {
            "name": "groupcode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php?request_type=ConfiguredPGList": {
      "get": {
        "operationId": "getPaymentGateways",
        "summary": "Retrieve payment gateways",
        "description": "Get configured payment gateways for a hotel.",
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ConfiguredPGList"
              ]
            }
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment gateways retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pmsinterface/pms_connectivity.php": {
      "post": {
        "operationId": "getRoomInfo",
        "summary": "Retrieve room information",
        "description": "Get room information from the PMS interface.",
        "tags": [
          "Room"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.kioskconnectivity": {
      "post": {
        "operationId": "kioskConnectivity",
        "summary": "Kiosk connectivity operations",
        "description": "Perform various kiosk operations including currency retrieval, pay methods, identity types, and room availability.",
        "tags": [
          "Kiosk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KioskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "APIKey",
        "description": "API key provided by eZee Technosys"
      }
    },
    "schemas": {
      "RoomInfoRequest": {
        "type": "object",
        "required": [
          "Request_Type",
          "HotelCode",
          "AuthCode"
        ],
        "properties": {
          "Request_Type": {
            "type": "string",
            "enum": [
              "RoomInfo"
            ]
          },
          "HotelCode": {
            "type": "string"
          },
          "AuthCode": {
            "type": "string"
          },
          "NeedPhysicalRooms": {
            "type": "boolean"
          }
        }
      },
      "KioskRequest": {
        "type": "object",
        "required": [
          "Request_Type",
          "HotelCode",
          "AuthCode"
        ],
        "properties": {
          "Request_Type": {
            "type": "string",
            "enum": [
              "RetrieveCurrency",
              "RetrievePayMethods",
              "RetrieveIdentityType",
              "RoomAvailability"
            ],
            "description": "Operation type"
          },
          "HotelCode": {
            "type": "string"
          },
          "AuthCode": {
            "type": "string"
          },
          "RoomData": {
            "type": "object",
            "properties": {
              "from_date": {
                "type": "string",
                "format": "date"
              },
              "to_date": {
                "type": "string",
                "format": "date"
              },
              "RoomID": {
                "type": "string"
              }
            },
            "description": "Required for RoomAvailability request type"
          }
        }
      },
      "HotelListResponse": {
        "type": "object",
        "properties": {
          "hotels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hotel"
            }
          }
        }
      },
      "Hotel": {
        "type": "object",
        "properties": {
          "HotelCode": {
            "type": "string"
          },
          "HotelName": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          }
        }
      },
      "HotelAmenityResponse": {
        "type": "object",
        "properties": {
          "amenities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RoomTypeListResponse": {
        "type": "object",
        "properties": {
          "room_types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "RoomTypeID": {
                  "type": "string"
                },
                "RoomTypeName": {
                  "type": "string"
                },
                "Description": {
                  "type": "string"
                },
                "MaxAdults": {
                  "type": "integer"
                },
                "MaxChildren": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "RoomInfoResponse": {
        "type": "object",
        "properties": {
          "rooms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "RoomID": {
                  "type": "string"
                },
                "RoomName": {
                  "type": "string"
                },
                "RoomType": {
                  "type": "string"
                },
                "Status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Hotel",
      "description": "Hotel information and authentication"
    },
    {
      "name": "Room",
      "description": "Room types and availability"
    },
    {
      "name": "Booking",
      "description": "Booking and reservation operations"
    },
    {
      "name": "Configuration",
      "description": "Configuration and lookup data"
    },
    {
      "name": "Kiosk",
      "description": "Kiosk connectivity operations"
    }
  ]
}