{
  "openapi": "3.0.3",
  "info": {
    "title": "eZee/YCS Connectivity API",
    "description": "YCS Connectivity API enables connectivity partners to send and retrieve data for properties. Manage rates, availability, bookings, housekeeping, and more. Supports XML, JSON and CSV response formats.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.ezeetechnosys.com/"
  },
  "servers": [
    {
      "url": "https://live.ipms247.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/index.php/page/service.pos2pms": {
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Check hotel authentication",
        "description": "Checks authentication and returns hotel information if valid. Returns data in XML format.",
        "operationId": "checkHotelAuthentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AuthCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication check result",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pmsinterface/pms_connectivity.php": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "PMS connectivity operations",
        "description": "Perform various PMS connectivity operations including room info, rates, inventory management. The Request_Type parameter determines the operation. Supports: RoomInfo, RateInfo, InventoryUpdate, RateUpdate, ReservationList, and more.",
        "operationId": "pmsConnectivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PmsConnectivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsConnectivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid auth code or hotel code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation_api/listing.php": {
      "get": {
        "tags": [
          "Meta Search"
        ],
        "summary": "Hotel listing and meta search operations",
        "description": "Retrieve hotel information, amenities, room types, salutations, countries, extra charges, and more. The request_type parameter determines the operation: HotelList, HotelAmenity, RoomTypeList, ConfiguredDetails, CalculateExtraCharge, RoomList, ExtraCharges, BookingList, ReadBooking, etc.",
        "operationId": "listingOperations",
        "parameters": [
          {
            "name": "request_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "HotelList",
                "HotelAmenity",
                "RoomTypeList",
                "ConfiguredDetails",
                "CalculateExtraCharge",
                "VerifyUser",
                "ConfiguredPGList",
                "RoomList",
                "ProcessBooking",
                "BookingList",
                "ReadBooking",
                "CancelBooking",
                "InsertBooking",
                "ExtraCharges",
                "InsertTravelAgent"
              ]
            },
            "description": "Type of operation to perform"
          },
          {
            "name": "HotelCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unique hotel code"
          },
          {
            "name": "GroupCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unique group code for chain properties"
          },
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique API authentication key"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language code (default: en)"
          },
          {
            "name": "publishtoweb",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "1 = all room types, 0 = only published to web (for RoomTypeList)"
          },
          {
            "name": "check_in_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Check-in date (for CalculateExtraCharge, RoomList)"
          },
          {
            "name": "check_out_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Check-out date (for CalculateExtraCharge)"
          },
          {
            "name": "ExtraChargeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Extra charge ID (for CalculateExtraCharge)"
          },
          {
            "name": "Total_ExtraItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Total extra items (for CalculateExtraCharge)"
          },
          {
            "name": "arrival_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Arrival from date (for BookingList)"
          },
          {
            "name": "ResNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Reservation number (for ReadBooking, CancelBooking)"
          },
          {
            "name": "SubNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sub-reservation number (for CancelBooking)"
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Username for VerifyUser"
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Password for VerifyUser"
          },
          {
            "name": "groupcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group code for VerifyUser"
          },
          {
            "name": "BookingData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded booking data (for InsertBooking)"
          },
          {
            "name": "Process_Data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded process data (for ProcessBooking)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pmsinterface/getdataAPI.php": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "Get PMS data",
        "description": "Retrieve various PMS data including reports and analytics.",
        "operationId": "getPmsData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PmsDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PMS data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.kioskconnectivity": {
      "post": {
        "tags": [
          "Kiosk Connectivity"
        ],
        "summary": "Kiosk connectivity operations",
        "description": "Perform kiosk-related operations such as check-in, check-out, key encoding, and more.",
        "operationId": "kioskConnectivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KioskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kiosk operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KioskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channelbookings/vacation_rental.php": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Vacation rental channel bookings",
        "description": "Manage vacation rental channel booking operations.",
        "operationId": "vacationRentalBookings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VacationRentalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vacation rental operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacationRentalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.PMSAccountAPI": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "PMS account operations",
        "description": "Manage PMS account-level operations including folio, billing, and guest account data.",
        "operationId": "pmsAccountOperations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PmsAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PMS account operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.hkupdatestatus": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "Update housekeeping status",
        "description": "Update the housekeeping status for rooms.",
        "operationId": "updateHousekeepingStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Housekeeping status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousekeepingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.guestdatabase": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "Guest database operations",
        "description": "Manage guest database records and profiles.",
        "operationId": "guestDatabaseOperations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guest database operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDatabaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.voucher": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "Voucher operations",
        "description": "Manage voucher and gift card operations.",
        "operationId": "voucherOperations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoucherRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voucher operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoucherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/index.php/page/service.posting": {
      "post": {
        "tags": [
          "PMS Connectivity"
        ],
        "summary": "Posting operations",
        "description": "Post charges and transactions to guest accounts.",
        "operationId": "postingOperations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Posting operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic HTTP authentication using hotel code and authentication token"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "APIKey",
        "description": "API key passed as a query parameter for listing/meta search endpoints"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string",
                "description": "Error code"
              },
              "ErrorMessage": {
                "type": "string",
                "description": "Error description"
              }
            }
          }
        }
      },
      "AuthCheckRequest": {
        "type": "object",
        "required": [
          "auth",
          "oprn"
        ],
        "properties": {
          "auth": {
            "type": "string",
            "description": "Unique authentication code"
          },
          "oprn": {
            "type": "string",
            "description": "Operation keyword (e.g., gethotelinfo)",
            "example": "gethotelinfo"
          }
        }
      },
      "AuthCheckResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "hotelname": {
            "type": "string"
          },
          "hotelcode": {
            "type": "integer"
          }
        }
      },
      "PmsConnectivityRequest": {
        "type": "object",
        "required": [
          "RES_Request"
        ],
        "properties": {
          "RES_Request": {
            "type": "object",
            "required": [
              "Request_Type",
              "Authentication"
            ],
            "properties": {
              "Request_Type": {
                "type": "string",
                "description": "Operation type: RoomInfo, RateInfo, InventoryUpdate, RateUpdate, etc."
              },
              "NeedPhysicalRooms": {
                "type": "integer",
                "description": "Set to 1 to include room data"
              },
              "Authentication": {
                "type": "object",
                "required": [
                  "HotelCode",
                  "AuthCode"
                ],
                "properties": {
                  "HotelCode": {
                    "type": "string",
                    "description": "Unique hotel code"
                  },
                  "AuthCode": {
                    "type": "string",
                    "description": "Unique authentication code"
                  }
                }
              }
            }
          }
        }
      },
      "PmsConnectivityResponse": {
        "type": "object",
        "properties": {
          "RoomInfo": {
            "type": "object",
            "properties": {
              "RoomTypes": {
                "type": "object",
                "properties": {
                  "RoomType": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string"
                        },
                        "Name": {
                          "type": "string"
                        },
                        "Rooms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "RoomID": {
                                "type": "string"
                              },
                              "RoomName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "RateTypes": {
                "type": "object",
                "properties": {
                  "RateType": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string"
                        },
                        "Name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "RatePlans": {
                "type": "object",
                "properties": {
                  "RatePlan": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "RatePlanID": {
                          "type": "string"
                        },
                        "Name": {
                          "type": "string"
                        },
                        "RoomTypeID": {
                          "type": "string"
                        },
                        "RoomType": {
                          "type": "string"
                        },
                        "RateTypeID": {
                          "type": "string"
                        },
                        "RateType": {
                          "type": "string"
                        },
                        "RatePlanType": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "ListingResponse": {
        "type": "object",
        "description": "Response varies by request_type. Can be an array of hotels, amenities, room types, or a booking object."
      },
      "PmsDataRequest": {
        "type": "object",
        "required": [
          "Authentication"
        ],
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "PmsDataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "KioskRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "KioskResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "VacationRentalRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "VacationRentalResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "PmsAccountRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "PmsAccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "HousekeepingRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "HousekeepingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "GuestDatabaseRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "GuestDatabaseResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "VoucherRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "VoucherResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      },
      "PostingRequest": {
        "type": "object",
        "properties": {
          "Request_Type": {
            "type": "string"
          },
          "Authentication": {
            "type": "object",
            "properties": {
              "HotelCode": {
                "type": "string"
              },
              "AuthCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "PostingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          },
          "Errors": {
            "type": "object",
            "properties": {
              "ErrorCode": {
                "type": "string"
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Configuration",
      "description": "Property configuration and master data"
    },
    {
      "name": "Meta Search",
      "description": "Hotel listing and amenities for external applications"
    },
    {
      "name": "Bookings",
      "description": "Booking management operations"
    },
    {
      "name": "PMS Connectivity",
      "description": "PMS connectivity operations (rates, inventory, reservations)"
    },
    {
      "name": "Kiosk Connectivity",
      "description": "Kiosk integration operations"
    }
  ]
}