{
  "openapi": "3.0.3",
  "info": {
    "title": "Kairos Face Recognition API",
    "version": "1.0.0",
    "description": "Kairos Face Recognition API for face enrollment, verification, recognition, comparison, detection, gallery management, and emotion analysis.",
    "x-jentic-source-url": "https://face.kairos.com/docs/api"
  },
  "servers": [
    {
      "url": "https://api.kairos.com",
      "description": "Kairos API server"
    }
  ],
  "paths": {
    "/enroll": {
      "post": {
        "operationId": "enrollFace",
        "summary": "Enroll a face in a gallery",
        "description": "Store face images in a gallery for a specific person for later recognition or verification.",
        "tags": [
          "Face Recognition"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment confirmation with face metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id or app_key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verify": {
      "post": {
        "operationId": "verifyFace",
        "summary": "Verify a face against enrolled subject",
        "description": "Match an image against a specific enrolled subject in a gallery. Confidence threshold of ~60% indicates same person.",
        "tags": [
          "Face Recognition"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result with confidence score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recognize": {
      "post": {
        "operationId": "recognizeFace",
        "summary": "Identify faces in a gallery",
        "description": "Identify faces by matching against all enrolled subjects in a gallery.",
        "tags": [
          "Face Recognition"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecognizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of matching candidates with confidence scores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecognizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/compare": {
      "post": {
        "operationId": "compareFaces",
        "summary": "Compare two face images",
        "description": "Compare two images to determine if they contain the same person.",
        "tags": [
          "Face Recognition"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comparison result with confidence value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect": {
      "post": {
        "operationId": "detectFaces",
        "summary": "Detect faces in an image",
        "description": "Identify and extract facial features and coordinates from an image.",
        "tags": [
          "Face Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detected faces with coordinates and feature points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gallery/list_all": {
      "post": {
        "operationId": "listGalleries",
        "summary": "List all galleries",
        "description": "Retrieve all galleries that have been created.",
        "tags": [
          "Gallery Management"
        ],
        "responses": {
          "200": {
            "description": "List of galleries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GalleryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gallery/view": {
      "post": {
        "operationId": "viewGallery",
        "summary": "View gallery subjects",
        "description": "List all subjects enrolled in a specific gallery.",
        "tags": [
          "Gallery Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gallery_name"
                ],
                "properties": {
                  "gallery_name": {
                    "type": "string",
                    "description": "Name of the gallery"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of subjects in the gallery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GalleryViewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gallery/view_subject": {
      "post": {
        "operationId": "viewSubject",
        "summary": "View subject face IDs",
        "description": "Display all face IDs and timestamps for a specific subject in a gallery.",
        "tags": [
          "Gallery Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject_id",
                  "gallery_name"
                ],
                "properties": {
                  "subject_id": {
                    "type": "string"
                  },
                  "gallery_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Face IDs and enrollment dates for the subject",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectViewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gallery/remove": {
      "post": {
        "operationId": "removeGallery",
        "summary": "Remove a gallery",
        "description": "Delete an entire gallery and all enrolled subjects.",
        "tags": [
          "Gallery Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gallery_name"
                ],
                "properties": {
                  "gallery_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gallery removal confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gallery/remove_subject": {
      "post": {
        "operationId": "removeSubject",
        "summary": "Remove a subject from a gallery",
        "description": "Remove a subject or a specific face template from a gallery.",
        "tags": [
          "Gallery Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject_id",
                  "gallery_name"
                ],
                "properties": {
                  "subject_id": {
                    "type": "string"
                  },
                  "gallery_name": {
                    "type": "string"
                  },
                  "face_id": {
                    "type": "string",
                    "description": "Optional: remove a single face template instead of all"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subject removal confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/media": {
      "post": {
        "operationId": "uploadMediaForAnalysis",
        "summary": "Upload media for emotion analysis",
        "description": "Upload media for emotion and demographic analysis. Returns media ID for result retrieval.",
        "tags": [
          "Emotion Analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media uploaded and analysis complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaResponse"
                }
              }
            }
          },
          "202": {
            "description": "Media uploaded, analysis in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/media/{id}": {
      "get": {
        "operationId": "getMediaAnalysis",
        "summary": "Get emotion analysis results",
        "description": "Retrieve emotion analysis results for previously uploaded media.",
        "tags": [
          "Emotion Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Media ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Emotion scores, demographics, and feature data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAnalysisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete media and analysis",
        "description": "Remove stored media and associated analysis results.",
        "tags": [
          "Emotion Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/analytics/{id}": {
      "get": {
        "operationId": "getMediaAnalytics",
        "summary": "Get media analytics impressions",
        "description": "Get overall impressions and aggregated emotion/demographic insights from analyzed media.",
        "tags": [
          "Emotion Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated emotion and demographic insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "appId": {
        "type": "apiKey",
        "in": "header",
        "name": "app_id",
        "description": "Kairos application ID"
      },
      "appKey": {
        "type": "apiKey",
        "in": "header",
        "name": "app_key",
        "description": "Kairos API key"
      }
    },
    "schemas": {
      "EnrollRequest": {
        "type": "object",
        "required": [
          "image",
          "subject_id",
          "gallery_name"
        ],
        "properties": {
          "image": {
            "type": "string",
            "description": "Image URL or Base64 encoded image"
          },
          "subject_id": {
            "type": "string",
            "description": "Person identifier"
          },
          "gallery_name": {
            "type": "string",
            "description": "Gallery identifier"
          },
          "minHeadScale": {
            "type": "number",
            "minimum": 0.015,
            "maximum": 0.5,
            "default": 0.015,
            "description": "Minimum head scale for detection"
          },
          "multiple_faces": {
            "type": "boolean",
            "description": "Allow multiple face enrollment"
          },
          "selector": {
            "type": "string",
            "enum": [
              "LIVENESS"
            ],
            "description": "Enable liveness/spoof detection"
          }
        }
      },
      "EnrollResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transaction": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "face_id": {
                      "type": "string"
                    },
                    "subject_id": {
                      "type": "string"
                    },
                    "gallery_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": [
          "image",
          "subject_id",
          "gallery_name"
        ],
        "properties": {
          "image": {
            "type": "string"
          },
          "subject_id": {
            "type": "string"
          },
          "gallery_name": {
            "type": "string"
          },
          "selector": {
            "type": "string",
            "enum": [
              "LIVENESS"
            ]
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transaction": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number"
                    },
                    "subject_id": {
                      "type": "string"
                    },
                    "gallery_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RecognizeRequest": {
        "type": "object",
        "required": [
          "image",
          "gallery_name"
        ],
        "properties": {
          "image": {
            "type": "string"
          },
          "gallery_name": {
            "type": "string"
          },
          "minHeadScale": {
            "type": "number",
            "default": 0.015
          },
          "threshold": {
            "type": "number",
            "default": 0.6
          },
          "max_num_results": {
            "type": "integer",
            "default": 10
          },
          "selector": {
            "type": "string",
            "enum": [
              "LIVENESS"
            ]
          }
        }
      },
      "RecognizeResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "candidates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subject_id": {
                        "type": "string"
                      },
                      "confidence": {
                        "type": "number"
                      },
                      "enrollment_timestamp": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CompareRequest": {
        "type": "object",
        "required": [
          "source_image",
          "target_image"
        ],
        "properties": {
          "source_image": {
            "type": "string"
          },
          "target_image": {
            "type": "string"
          },
          "threshold": {
            "type": "number"
          },
          "selector": {
            "type": "string",
            "enum": [
              "LIVENESS"
            ]
          }
        }
      },
      "CompareResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "confidence": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "DetectRequest": {
        "type": "object",
        "required": [
          "image"
        ],
        "properties": {
          "image": {
            "type": "string",
            "description": "Image URL or Base64 encoded image"
          },
          "minHeadScale": {
            "type": "number",
            "default": 0.015
          },
          "selector": {
            "type": "string",
            "enum": [
              "FRONTAL",
              "LIVENESS"
            ]
          }
        }
      },
      "DetectResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "faces": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "topLeftX": {
                        "type": "integer"
                      },
                      "topLeftY": {
                        "type": "integer"
                      },
                      "width": {
                        "type": "integer"
                      },
                      "height": {
                        "type": "integer"
                      },
                      "quality": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MediaUploadRequest": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "source": {
            "type": "string",
            "description": "URL or file upload source"
          },
          "landmarks": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Include feature point coordinates"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60,
            "default": 10,
            "description": "Timeout in seconds"
          }
        }
      },
      "MediaResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          },
          "status_message": {
            "type": "string"
          }
        }
      },
      "MediaAnalysisResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "frames": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "people": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "emotions": {
                        "type": "object"
                      },
                      "demographics": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AnalyticsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "impressions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "emotion": {
                  "type": "object"
                },
                "demographics": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "GalleryListResponse": {
        "type": "object",
        "properties": {
          "gallery_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GalleryViewResponse": {
        "type": "object",
        "properties": {
          "subject_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SubjectViewResponse": {
        "type": "object",
        "properties": {
          "face_ids": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "face_id": {
                  "type": "string"
                },
                "enrollment_timestamp": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ErrCode": {
                  "type": "integer"
                },
                "Message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "appId": [],
      "appKey": []
    }
  ]
}