{
  "openapi": "3.0.3",
  "info": {
    "title": "Agarathi Dictionary API",
    "version": "1.0.0",
    "description": "Tamil dictionary API providing word definitions, dictionary listings, and word of the day. Supports multiple Tamil dictionaries.",
    "x-jentic-source-url": "https://www.agarathi.com/api"
  },
  "servers": [
    {
      "url": "https://api.agarathi.com",
      "description": "Agarathi API server"
    }
  ],
  "paths": {
    "/dictionary/list": {
      "post": {
        "operationId": "listDictionaries",
        "summary": "List available dictionaries",
        "description": "Returns a list of all supported Tamil dictionaries with their IDs and names.",
        "tags": [
          "Dictionary"
        ],
        "responses": {
          "200": {
            "description": "List of available dictionaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/dictionary/wod": {
      "post": {
        "operationId": "getWordOfTheDay",
        "summary": "Get word of the day",
        "description": "Returns the daily word selection with its definition.",
        "tags": [
          "Dictionary"
        ],
        "responses": {
          "200": {
            "description": "Word of the day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordOfDayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/dictionary/search": {
      "post": {
        "operationId": "searchWord",
        "summary": "Search for a word definition",
        "description": "Search for a word definition in the specified dictionary.",
        "tags": [
          "Dictionary"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Word definition found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DictionaryListResponse": {
        "type": "object",
        "properties": {
          "dictionaries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Dictionary identifier."
                },
                "name": {
                  "type": "string",
                  "description": "Dictionary display name."
                }
              },
              "required": [
                "id",
                "name"
              ]
            }
          }
        }
      },
      "WordOfDayResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "The word of the day."
          },
          "description": {
            "type": "string",
            "description": "Definition of the word."
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "The word to search for."
          },
          "dictionary": {
            "type": "string",
            "description": "The dictionary ID to search within."
          }
        },
        "required": [
          "word",
          "dictionary"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "The searched word."
          },
          "description": {
            "type": "string",
            "description": "Definition of the word."
          },
          "dictionary": {
            "type": "string",
            "description": "Source dictionary name."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agarathi-Api-Secret",
        "description": "API key provided upon subscription. Can also be passed as query parameter 'api_key' (discouraged)."
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Dictionary",
      "description": "Dictionary lookup and search endpoints"
    }
  ]
}