{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.interzoid.com"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Interzoid Get Address Match Similarity Key API",
    "description": "This API provides a similarity key used to match with other similar street address data, including for purposes of deduplication, fuzzy matching, or merging of datasets. A much higher match rate will be achieved by matching on the algorithmically generated similarity key rather than the data itself.",
    "contact": {
      "name": "API Support",
      "email": "support@interzoid.com",
      "url": "https://www.interzoid.com"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/interzoid/address_match/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/getaddressmatch"
  },
  "paths": {
    "/getaddressmatch": {
      "get": {
        "tags": [
          "Street Address Similarity Key"
        ],
        "summary": "Gets a similarity key for matching purposes for address data",
        "operationId": "getaddressmatch",
        "description": "Gets a similarity key for matching purposes for street address data\n",
        "parameters": [
          {
            "in": "query",
            "name": "license",
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "address",
            "description": "Address from which to generate similarity key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated similarity key for address data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Simkey": {
                      "type": "string"
                    },
                    "Code": {
                      "type": "string"
                    },
                    "Credits": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Street Address Similarity Key"
    }
  ]
}
