{
  "openapi": "3.0.3",
  "info": {
    "title": "Jobbers OneAPI",
    "version": "v0",
    "description": "The Jobbers One API provides REST endpoints for enterprise concierge services management including authentication, client management, enterprise statistics, pass management, conversations, messaging, webhooks, box tags, and client location management.",
    "x-jentic-source-url": "https://www.jobbers.com/restoneapi/docs/index.html"
  },
  "servers": [
    {
      "url": "https://www.jobbers.com",
      "description": "Jobbers Production Server"
    }
  ],
  "paths": {
    "/oneapi/authentication/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get Access Token",
        "description": "Authenticate using API key and secret key to receive an access token.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/current": {
      "get": {
        "operationId": "getCurrentAuthenticated",
        "summary": "Get Current Authenticated Entity",
        "description": "Retrieve information about the entity associated with the current access token.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Current authenticated entity information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "enterprise_id": {
                          "type": "string",
                          "description": "ID of the enterprise"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/echo/{text}": {
      "get": {
        "operationId": "getEcho",
        "summary": "Getting Echo",
        "description": "Test endpoint that echoes the input text.",
        "tags": [
          "Echo"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "required": true,
            "description": "Text to echo back",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Echoed text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/echo": {
      "post": {
        "operationId": "postEcho",
        "summary": "Posting Echo",
        "description": "Test endpoint that echoes posted text.",
        "tags": [
          "Echo"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to echo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Echoed text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/groupsofenterprises": {
      "get": {
        "operationId": "getGroupsOfEnterprise",
        "summary": "Get Groups of Enterprise",
        "description": "Retrieve the groups of the enterprise being authenticated.",
        "tags": [
          "Enterprise"
        ],
        "responses": {
          "200": {
            "description": "List of enterprise groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnterpriseGroup"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/stats": {
      "get": {
        "operationId": "getEnterpriseStats",
        "summary": "Get Enterprise Statistics",
        "description": "Get usage statistics of the enterprise for a given month and year.",
        "tags": [
          "Enterprise"
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "Month (1-12)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Year in 4 digits",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enterprise statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnterpriseStats"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/stockofpasses": {
      "get": {
        "operationId": "getStockOfPasses",
        "summary": "Get Stock of Passes",
        "description": "Get the stock of passes available for the authenticated enterprise.",
        "tags": [
          "Passes"
        ],
        "responses": {
          "200": {
            "description": "List of pass stocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PassStock"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/stockofpasses/assign": {
      "post": {
        "operationId": "assignPassToClient",
        "summary": "Assign Pass to Client",
        "description": "Assign a pass from a stock to a given client.",
        "tags": [
          "Passes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignPassRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "end_subscription_date": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/clients/{clientIdOrEmail}/exists": {
      "get": {
        "operationId": "checkClientExists",
        "summary": "Check if Client Email Exists",
        "description": "Check whether a given email exists as a registered client.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientIdOrEmail",
            "in": "path",
            "required": true,
            "description": "Client email (URL-encoded)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client existence check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientExistsResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/clients/{clientIdOrEmail}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get a Client",
        "description": "Get all data of a client by ID or email.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientIdOrEmail",
            "in": "path",
            "required": true,
            "description": "Client ID or email (URL-encoded)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Client"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateClient",
        "summary": "Update a Client",
        "description": "Update an existing client by ID or email.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientIdOrEmail",
            "in": "path",
            "required": true,
            "description": "Client ID or email (URL-encoded)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated client data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Client"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete a Client",
        "description": "Delete an existing client by ID or email.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientIdOrEmail",
            "in": "path",
            "required": true,
            "description": "Client ID or email (URL-encoded)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "leaving_date": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/clients": {
      "post": {
        "operationId": "createClient",
        "summary": "Create a Client",
        "description": "Create a new client belonging to the authenticated enterprise.",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created client data with generated password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientWithPassword"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oneapi/v0/clients/{clientIdOrEmail}/login": {
      "get": {
        "operationId": "getClientLoginToken",
        "summary": "Get Client Autologin Token",
        "description": "Get a one-time login token for a client to auto-login to Jobbers.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientIdOrEmail",
            "in": "path",
            "required": true,
            "description": "Client ID or email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login URL with token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/conversations": {
      "post": {
        "operationId": "createConversation",
        "summary": "Create New Conversation",
        "description": "Create a new conversation for a client.",
        "tags": [
          "Conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getConversations",
        "summary": "Get Conversations",
        "description": "Get conversations of a client by client_id and status.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "OPEN or CLOSED",
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "CLOSED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateConversation",
        "summary": "Update Conversation",
        "description": "Update subject, status, or rating of a conversation.",
        "tags": [
          "Conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/conversations/{conversationId}/messages": {
      "post": {
        "operationId": "createMessage",
        "summary": "Create New Message",
        "description": "Create a new message in a conversation.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getMessages",
        "summary": "Get Messages",
        "description": "Get all messages of a conversation.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "Number of messages to receive",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/conversations/{conversationId}/attachments": {
      "post": {
        "operationId": "uploadAttachment",
        "summary": "Upload Attachment",
        "description": "Upload a file and get its URL for use in messages.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                },
                "required": [
                  "source"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded attachment info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mediaUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "mediaType": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create Webhook",
        "description": "Create a new webhook for message notifications.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to call with notifications"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getWebhooks",
        "summary": "Get Webhooks",
        "description": "Get webhooks for message notifications for the enterprise.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookWithEnterprise"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/webhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete Webhook",
        "description": "Delete a webhook by ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/boxes_tags": {
      "post": {
        "operationId": "createBoxTags",
        "summary": "Create Box Tags",
        "description": "Create new box tags.",
        "tags": [
          "BoxTags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxTagsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBoxTags",
        "summary": "Delete Box Tags",
        "description": "Delete box tags by codes.",
        "tags": [
          "BoxTags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/boxes_disconnect_tags": {
      "post": {
        "operationId": "disconnectBoxTags",
        "summary": "Disconnect Box Tags",
        "description": "Disconnect box tags by codes.",
        "tags": [
          "BoxTags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/boxes_client_location": {
      "post": {
        "operationId": "createBoxClientLocation",
        "summary": "Create Client Location Relationship",
        "description": "Create a new relationship between a client and a box location.",
        "tags": [
          "BoxClientLocation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxClientLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relationship created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBoxClientLocation",
        "summary": "Delete Client Location Relationship",
        "description": "Delete a relationship between a client and a box location.",
        "tags": [
          "BoxClientLocation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxClientLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relationship deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/boxes_webhook": {
      "post": {
        "operationId": "createBoxWebhook",
        "summary": "Create Box Webhook",
        "description": "Create a new webhook for box notifications.",
        "tags": [
          "BoxWebhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Box webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBoxWebhooks",
        "summary": "Get Box Webhooks",
        "description": "Get box webhooks for the enterprise.",
        "tags": [
          "BoxWebhooks"
        ],
        "responses": {
          "200": {
            "description": "List of box webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookWithEnterprise"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/boxes_webhook/{webhookId}": {
      "delete": {
        "operationId": "deleteBoxWebhook",
        "summary": "Delete Box Webhook",
        "description": "Delete a box webhook by ID.",
        "tags": [
          "BoxWebhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Box webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token obtained from the authentication endpoint"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Error type: cannot_be_blank, has_already_been_taken, must_be_accepted, is_invalid, does_not_match, cannot_be_empty"
                },
                "source": {
                  "type": "string",
                  "description": "Field causing the error"
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable error message"
                }
              }
            }
          }
        }
      },
      "AuthRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "username",
          "password"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "password"
            ],
            "description": "Always set to 'password'"
          },
          "username": {
            "type": "string",
            "description": "API Key"
          },
          "password": {
            "type": "string",
            "description": "API Secret Key"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until token expires"
          }
        }
      },
      "EnterpriseGroup": {
        "type": "object",
        "properties": {
          "group_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "EnterpriseStats": {
        "type": "object",
        "properties": {
          "group_id": {
            "type": "integer",
            "nullable": true
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          },
          "total_requests": {
            "type": "integer"
          },
          "delta_requests": {
            "type": "integer"
          },
          "total_passes": {
            "type": "integer"
          },
          "delta_passes": {
            "type": "integer"
          },
          "total_clients": {
            "type": "integer"
          },
          "delta_clients": {
            "type": "integer"
          },
          "percentage_female_clients": {
            "type": "number"
          },
          "percentage_male_clients": {
            "type": "number"
          },
          "percentage_unknown_clients": {
            "type": "number"
          },
          "avergage_conversation_rating": {
            "type": "number"
          },
          "total_orders": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "category_id": {
                      "type": "string"
                    },
                    "category_name": {
                      "type": "string"
                    },
                    "percent": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PassStock": {
        "type": "object",
        "properties": {
          "stock_id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "duration_type": {
            "type": "string",
            "enum": [
              "DAY",
              "MONTH",
              "YEAR"
            ]
          },
          "expiration_date": {
            "type": "string",
            "format": "date-time"
          },
          "total_units": {
            "type": "integer"
          },
          "total_available": {
            "type": "integer"
          },
          "total_used": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "net_price": {
            "type": "number"
          },
          "vat": {
            "type": "number"
          }
        }
      },
      "AssignPassRequest": {
        "type": "object",
        "required": [
          "email",
          "stock_id",
          "payment_reference"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "stock_id": {
            "type": "integer"
          },
          "payment_reference": {
            "type": "string",
            "description": "Unique external ID for this transaction"
          }
        }
      },
      "ClientExistsResponse": {
        "type": "object",
        "properties": {
          "exists": {
            "type": "boolean"
          },
          "movable": {
            "type": "boolean"
          },
          "attached_to_another_enterprise": {
            "type": "boolean"
          },
          "subscription_valid": {
            "type": "boolean"
          },
          "client_active": {
            "type": "boolean"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone_prefix": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": [
              "MALE",
              "FEMALE"
            ]
          },
          "address": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code"
          },
          "cgu": {
            "type": "boolean"
          },
          "optin": {
            "type": "boolean"
          },
          "registering_date": {
            "type": "string",
            "format": "date-time"
          },
          "last_login_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_subscription_date": {
            "type": "string",
            "format": "date-time"
          },
          "active": {
            "type": "boolean"
          },
          "group_id": {
            "type": "integer"
          }
        }
      },
      "ClientWithPassword": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Client"
          },
          {
            "type": "object",
            "properties": {
              "password": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ClientCreateRequest": {
        "type": "object",
        "required": [
          "email",
          "first_name",
          "last_name",
          "phone_prefix",
          "phone",
          "address",
          "zip_code",
          "city",
          "country",
          "cgu",
          "optin"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "group_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone_prefix": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "cgu": {
            "type": "boolean"
          },
          "optin": {
            "type": "boolean"
          },
          "gender": {
            "type": "string",
            "enum": [
              "MALE",
              "FEMALE"
            ]
          }
        }
      },
      "ClientUpdateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "group_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone_prefix": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "optin": {
            "type": "boolean"
          },
          "gender": {
            "type": "string",
            "enum": [
              "MALE",
              "FEMALE"
            ]
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "OPEN",
              "USER_PENDING",
              "SYSTEM_PENDING",
              "CLOSED"
            ]
          },
          "rating": {
            "type": "integer"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "message_counter": {
            "type": "integer"
          },
          "main_tag": {
            "type": "string"
          },
          "secondary_tag": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ConversationCreateRequest": {
        "type": "object",
        "required": [
          "client_id",
          "subject"
        ],
        "properties": {
          "client_id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          }
        }
      },
      "ConversationUpdateRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "received": {
            "type": "string",
            "format": "date-time"
          },
          "author_type": {
            "type": "string",
            "enum": [
              "user",
              "business"
            ]
          },
          "type": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "media_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "MessageCreateRequest": {
        "type": "object",
        "required": [
          "type",
          "content",
          "sender"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "attachment"
            ]
          },
          "content": {
            "type": "string"
          },
          "media_url": {
            "type": "string",
            "format": "uri"
          },
          "sender": {
            "type": "string",
            "enum": [
              "client",
              "agent"
            ]
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "WebhookWithEnterprise": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "enterprise": {
            "type": "string"
          }
        }
      },
      "BoxTagsRequest": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "description",
                "technologyType"
              ],
              "properties": {
                "code": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "technologyType": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BoxClientLocationRequest": {
        "type": "object",
        "required": [
          "client_id",
          "box_location_uid"
        ],
        "properties": {
          "client_id": {
            "type": "string"
          },
          "box_location_uid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ResultResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "result": {
                "type": "string",
                "enum": [
                  "success",
                  "error"
                ]
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth2 authentication endpoints"
    },
    {
      "name": "Echo",
      "description": "Test endpoints"
    },
    {
      "name": "Enterprise",
      "description": "Enterprise and group management"
    },
    {
      "name": "Passes",
      "description": "Stock of passes management"
    },
    {
      "name": "Clients",
      "description": "Client management"
    },
    {
      "name": "Conversations",
      "description": "Conversation management"
    },
    {
      "name": "Messages",
      "description": "Message management within conversations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management for notifications"
    },
    {
      "name": "BoxTags",
      "description": "Box tag management"
    },
    {
      "name": "BoxClientLocation",
      "description": "Client and location relationships"
    },
    {
      "name": "BoxWebhooks",
      "description": "Box webhook management"
    }
  ]
}