{
  "openapi": "3.0.3",
  "info": {
    "title": "Cryptolens Web API",
    "version": "3.0.0",
    "description": "API for license key management, customer management, and product operations in Cryptolens. All methods require an access token for authentication.",
    "x-jentic-source-url": "https://app.cryptolens.io/docs/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cryptolens.io/api",
      "description": "Cryptolens API Server"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/key/Activate": {
      "post": {
        "summary": "Activate license key",
        "description": "Activate a license key for a specific machine",
        "operationId": "activateKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "Key",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Serial key string (e.g., ABCDE-EFGHI-JKLMO-PQRST)"
                  },
                  "MachineCode": {
                    "type": "string",
                    "description": "Device identifier"
                  },
                  "Sign": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable server-side signing"
                  },
                  "FriendlyName": {
                    "type": "string",
                    "description": "Device label, e.g., employee email"
                  },
                  "FieldsToReturn": {
                    "type": "integer",
                    "default": 0,
                    "description": "Field visibility mask (0 = all fields)"
                  },
                  "SignMethod": {
                    "type": "integer",
                    "default": 0,
                    "enum": [
                      0,
                      1
                    ],
                    "description": "Signature format: 0=Linq, 1=String"
                  },
                  "Metadata": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include activation metadata"
                  },
                  "FloatingTimeInterval": {
                    "type": "integer",
                    "description": "Enable floating licensing with time window (seconds)"
                  },
                  "MaxOverdraft": {
                    "type": "integer",
                    "description": "Permit license overdraft quantity"
                  },
                  "OSInfo": {
                    "type": "string",
                    "description": "Operating system metadata"
                  },
                  "ModelVersion": {
                    "type": "integer",
                    "default": 1,
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "description": "Response model version"
                  },
                  "v": {
                    "type": "integer",
                    "default": 1,
                    "description": "Method version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or activation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/key/GetKey": {
      "post": {
        "summary": "Get license key",
        "description": "Retrieve license key information in read-only mode",
        "operationId": "getKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "Key",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Serial key string"
                  },
                  "Sign": {
                    "type": "boolean",
                    "default": false,
                    "description": "Sign the LicenseKey object"
                  },
                  "FieldsToReturn": {
                    "type": "integer",
                    "default": 0,
                    "description": "Restrict returned fields (0 = all fields)"
                  },
                  "SignMethod": {
                    "type": "integer",
                    "default": 0,
                    "enum": [
                      0,
                      1
                    ],
                    "description": "Format/signing method: 0=JSON, 1=Base64 string"
                  },
                  "Metadata": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include activation count and status"
                  },
                  "FloatingTimeInterval": {
                    "type": "integer",
                    "default": 0,
                    "description": "Active floating licenses for interval"
                  },
                  "ModelVersion": {
                    "type": "integer",
                    "default": 1,
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "description": "Response model version"
                  },
                  "v": {
                    "type": "integer",
                    "default": 1,
                    "description": "Method version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/key/CreateKey": {
      "post": {
        "summary": "Create license key",
        "description": "Create new license keys, optionally associating them with customers or resellers",
        "operationId": "createKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Period": {
                    "type": "integer",
                    "default": 0,
                    "description": "Validity duration in days"
                  },
                  "F1": {
                    "type": "boolean",
                    "description": "Feature flag 1"
                  },
                  "F2": {
                    "type": "boolean",
                    "description": "Feature flag 2"
                  },
                  "F3": {
                    "type": "boolean",
                    "description": "Feature flag 3"
                  },
                  "F4": {
                    "type": "boolean",
                    "description": "Feature flag 4"
                  },
                  "F5": {
                    "type": "boolean",
                    "description": "Feature flag 5"
                  },
                  "F6": {
                    "type": "boolean",
                    "description": "Feature flag 6"
                  },
                  "F7": {
                    "type": "boolean",
                    "description": "Feature flag 7"
                  },
                  "F8": {
                    "type": "boolean",
                    "description": "Feature flag 8"
                  },
                  "Notes": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Additional info (max 500 characters)"
                  },
                  "Block": {
                    "type": "boolean",
                    "description": "Restricts activation access"
                  },
                  "CustomerId": {
                    "type": "integer",
                    "description": "Associates existing customer"
                  },
                  "NewCustomer": {
                    "type": "boolean",
                    "description": "Creates and associates new customer"
                  },
                  "MaxNoOfMachines": {
                    "type": "integer",
                    "description": "Limits activation to N machines"
                  },
                  "NoOfKeys": {
                    "type": "integer",
                    "default": 1,
                    "description": "Generates multiple keys (max 1000)"
                  },
                  "ResellerId": {
                    "type": "integer",
                    "description": "Links to reseller account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key(s) created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/key/Deactivate": {
      "post": {
        "summary": "Deactivate license key",
        "description": "Deactivate a license key for a specific machine",
        "operationId": "deactivateKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "Key",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Serial key string"
                  },
                  "MachineCode": {
                    "type": "string",
                    "description": "Device identifier to deactivate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deactivation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or deactivation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/key/BlockKey": {
      "post": {
        "summary": "Block license key",
        "description": "Block a license key to prevent activation",
        "operationId": "blockKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "Key",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Serial key string to block"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key blocked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/key/UnblockKey": {
      "post": {
        "summary": "Unblock license key",
        "description": "Unblock a previously blocked license key",
        "operationId": "unblockKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "Key",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Serial key string to unblock"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key unblocked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/key/ExtendLicense": {
      "post": {
        "summary": "Extend license",
        "description": "Extend the validity period of a license key",
        "operationId": "extendLicense",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ProductId",
                  "Key",
                  "token",
                  "NoOfDays"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "ProductId": {
                    "type": "integer",
                    "description": "Product identifier"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Serial key string"
                  },
                  "NoOfDays": {
                    "type": "integer",
                    "description": "Number of days to extend"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License extended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "key"
        ]
      }
    },
    "/customer/AddCustomer": {
      "post": {
        "summary": "Add customer",
        "description": "Create a new customer record",
        "operationId": "addCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Customer name"
                  },
                  "Email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer email"
                  },
                  "CompanyName": {
                    "type": "string",
                    "description": "Company name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "customer"
        ]
      }
    },
    "/customer/GetCustomers": {
      "post": {
        "summary": "Get customers",
        "description": "Retrieve a list of customers",
        "operationId": "getCustomers",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "result": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customer"
        ]
      }
    },
    "/product/GetProducts": {
      "post": {
        "summary": "Get products",
        "description": "Retrieve product information",
        "operationId": "getProducts",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Access token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "result": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "product"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Access token required for all API calls"
      }
    },
    "schemas": {
      "LicenseKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "License key ID"
          },
          "key": {
            "type": "string",
            "description": "License key string"
          },
          "expires": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration date"
          },
          "f1": {
            "type": "boolean",
            "description": "Feature flag 1"
          },
          "f2": {
            "type": "boolean",
            "description": "Feature flag 2"
          },
          "f3": {
            "type": "boolean",
            "description": "Feature flag 3"
          },
          "f4": {
            "type": "boolean",
            "description": "Feature flag 4"
          },
          "f5": {
            "type": "boolean",
            "description": "Feature flag 5"
          },
          "f6": {
            "type": "boolean",
            "description": "Feature flag 6"
          },
          "f7": {
            "type": "boolean",
            "description": "Feature flag 7"
          },
          "f8": {
            "type": "boolean",
            "description": "Feature flag 8"
          },
          "maxNoOfMachines": {
            "type": "integer",
            "description": "Maximum number of machines"
          },
          "activatedMachines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mid": {
                  "type": "string"
                },
                "ip": {
                  "type": "string"
                },
                "time": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "description": "List of activated machines"
          }
        }
      },
      "ActivateResponse": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "integer"
          },
          "licenseKey": {
            "$ref": "#/components/schemas/LicenseKey"
          },
          "result": {
            "type": "integer",
            "description": "0 for success, 1 for error"
          },
          "message": {
            "type": "string",
            "description": "Status message or error description"
          },
          "signature": {
            "type": "string",
            "description": "RSA signature (when Sign=true)"
          }
        }
      },
      "GetKeyResponse": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "integer"
          },
          "licenseKey": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/LicenseKey"
              },
              {
                "type": "string",
                "description": "Base64-encoded JSON when SignMethod=1"
              }
            ]
          },
          "result": {
            "type": "integer",
            "description": "0 for success, 1 for error"
          },
          "message": {
            "type": "string"
          },
          "signature": {
            "type": "string",
            "description": "RSA-2048-SHA256 signature"
          },
          "metadata": {
            "type": "object",
            "description": "Activation statistics"
          }
        }
      },
      "CreateKeyResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Created license key (single key)"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "result": {
                  "type": "integer"
                },
                "message": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "description": "Created license keys (multiple keys)"
          },
          "result": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BasicResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "description": "0 for success, 1 for error"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Customer ID"
          },
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "companyName": {
            "type": "string",
            "description": "Company name"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "integer"
          },
          "result": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Product ID"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "description": "Error code (1 for error)"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "customer"
    },
    {
      "name": "key"
    },
    {
      "name": "product"
    }
  ]
}
