{
  "openapi": "3.0.3",
  "info": {
    "title": "Anakin API",
    "version": "1.0.0",
    "description": "Anakin is a web scraping and data extraction platform. The API provides URL scraping, web scraping, search, crawl, map, and agentic search capabilities.",
    "x-jentic-source-url": "https://anakin.io/docs/api-reference",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.anakin.io/v1"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "operationId": "scrapeUrl",
        "summary": "Scrape single or batch URLs",
        "tags": [
          "URL Scraper"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "useBrowser": {
                    "type": "boolean"
                  },
                  "generateJson": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scrape result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Scrape single or batch URLs"
      }
    },
    "/scrape-batch": {
      "post": {
        "operationId": "scrapeBatch",
        "summary": "Batch scrape up to 10 URLs",
        "tags": [
          "URL Scraper"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "urls"
                ],
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch job started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Batch scrape up to 10 URLs"
      }
    },
    "/job/{id}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get job status and results",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get job status and results"
      }
    },
    "/web-scraper": {
      "post": {
        "operationId": "startWebScraper",
        "summary": "Start web scraper job",
        "tags": [
          "Web Scraper"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Start web scraper job"
      }
    },
    "/web-scraper/{id}": {
      "get": {
        "operationId": "getWebScraperStatus",
        "summary": "Get web scraper status",
        "tags": [
          "Web Scraper"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get web scraper status"
      }
    },
    "/map": {
      "post": {
        "operationId": "mapUrls",
        "summary": "Discover URLs on a website",
        "tags": [
          "Map"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map job started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Discover URLs on a website"
      }
    },
    "/map/{id}": {
      "get": {
        "operationId": "getMapStatus",
        "summary": "Get map job status",
        "tags": [
          "Map"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get map job status"
      }
    },
    "/crawl": {
      "post": {
        "operationId": "startCrawl",
        "summary": "Crawl multiple pages",
        "tags": [
          "Crawl"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Crawl multiple pages"
      }
    },
    "/crawl/{id}": {
      "get": {
        "operationId": "getCrawlStatus",
        "summary": "Get crawl status",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get crawl status"
      }
    },
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "AI-powered web search",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "AI-powered web search"
      }
    },
    "/agentic-search": {
      "post": {
        "operationId": "startAgenticSearch",
        "summary": "Start agentic research",
        "tags": [
          "Agentic Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Research started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Start agentic research"
      }
    },
    "/agentic-search/{id}": {
      "get": {
        "operationId": "getAgenticSearchStatus",
        "summary": "Get agentic search status",
        "tags": [
          "Agentic Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get agentic search status"
      }
    }
  },
  "components": {
    "schemas": {
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agentic Search"
    },
    {
      "name": "Crawl"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Map"
    },
    {
      "name": "Search"
    },
    {
      "name": "URL Scraper"
    },
    {
      "name": "Web Scraper"
    }
  ]
}
