{
  "openapi": "3.0.3",
  "info": {
    "title": "QR Code API",
    "version": "1.0.0",
    "description": "Free API for creating and reading QR codes. Supports multiple image formats and customization options including colors and error correction levels.",
    "x-jentic-source-url": "https://goqr.me/api/"
  },
  "servers": [
    {
      "url": "https://api.qrserver.com",
      "description": "QR Code API server"
    }
  ],
  "paths": {
    "/v1/create-qr-code/": {
      "get": {
        "operationId": "createQrCode",
        "summary": "Create a QR code image",
        "description": "Generate a QR code image with the specified data and customization options. Returns an image file in the requested format.",
        "tags": [
          "Create"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "The data to encode in the QR code. URL-encoded string, 1-900 characters.",
            "schema": {
              "type": "string",
              "maxLength": 900,
              "minLength": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Image dimensions in format WIDTHxHEIGHT (e.g., 200x200). Range: 10x10 to 1000x1000 for raster formats.",
            "schema": {
              "type": "string",
              "default": "200x200"
            }
          },
          {
            "name": "charset-source",
            "in": "query",
            "description": "Character encoding of the source data.",
            "schema": {
              "type": "string",
              "enum": [
                "ISO-8859-1",
                "UTF-8"
              ],
              "default": "UTF-8"
            }
          },
          {
            "name": "charset-target",
            "in": "query",
            "description": "Character encoding for the QR code output.",
            "schema": {
              "type": "string",
              "enum": [
                "ISO-8859-1",
                "UTF-8"
              ],
              "default": "UTF-8"
            }
          },
          {
            "name": "ecc",
            "in": "query",
            "description": "Error correction level. L=~7%, M=~15%, Q=~25%, H=~30%.",
            "schema": {
              "type": "string",
              "enum": [
                "L",
                "M",
                "Q",
                "H"
              ],
              "default": "L"
            }
          },
          {
            "name": "color",
            "in": "query",
            "description": "Foreground color in RGB format (e.g., 0-0-0 for black) or hex (e.g., 000 or 000000).",
            "schema": {
              "type": "string",
              "default": "0-0-0"
            }
          },
          {
            "name": "bgcolor",
            "in": "query",
            "description": "Background color in RGB format (e.g., 255-255-255 for white) or hex.",
            "schema": {
              "type": "string",
              "default": "255-255-255"
            }
          },
          {
            "name": "margin",
            "in": "query",
            "description": "Margin in pixels around the QR code (0-50). Ignored for SVG/EPS.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 50,
              "default": 1
            }
          },
          {
            "name": "qzone",
            "in": "query",
            "description": "Quiet zone width in modules (0-100).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 0
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output image format.",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "gif",
                "jpeg",
                "jpg",
                "svg",
                "eps"
              ],
              "default": "png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR code image in the requested format.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters."
          }
        }
      }
    },
    "/v1/read-qr-code/": {
      "get": {
        "operationId": "readQrCodeFromUrl",
        "summary": "Read a QR code from a URL",
        "description": "Decode and read the content of a QR code from an image accessible via URL.",
        "tags": [
          "Read"
        ],
        "parameters": [
          {
            "name": "fileurl",
            "in": "query",
            "required": true,
            "description": "URL of the image file containing the QR code to read. Supports PNG, GIF, JPEG (max 1 MiB).",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "outputformat",
            "in": "query",
            "description": "Output format for the response.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decoded QR code data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadQrCodeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReadQrCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters."
          }
        }
      },
      "post": {
        "operationId": "readQrCodeFromFile",
        "summary": "Read a QR code from an uploaded file",
        "description": "Decode and read the content of a QR code from a directly uploaded image file.",
        "tags": [
          "Read"
        ],
        "parameters": [
          {
            "name": "outputformat",
            "in": "query",
            "description": "Output format for the response.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file containing the QR code (PNG, GIF, JPEG; max 1 MiB)."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decoded QR code data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadQrCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReadQrCodeResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of barcode detected.",
              "example": "qrcode"
            },
            "symbol": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "seq": {
                    "type": "integer",
                    "description": "Sequence number of the symbol."
                  },
                  "data": {
                    "type": "string",
                    "nullable": true,
                    "description": "The decoded QR code content. Null if reading failed."
                  },
                  "error": {
                    "type": "string",
                    "nullable": true,
                    "description": "Error description if reading failed. Null on success."
                  }
                },
                "required": [
                  "seq",
                  "data",
                  "error"
                ]
              }
            }
          },
          "required": [
            "type",
            "symbol"
          ]
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Create",
      "description": "QR code creation endpoints"
    },
    {
      "name": "Read",
      "description": "QR code reading/scanning endpoints"
    }
  ]
}