{
  "openapi": "3.0.3",
  "info": {
    "title": "Revel Digital REST API",
    "description": "Provides REST based access to your Revel Digital account",
    "version": "v1",
    "x-jentic-source-url": "https://api.reveldigital.com/swagger/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.reveldigital.com"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets account details.",
        "description": "",
        "operationId": "GetAccount",
        "responses": {
          "200": {
            "description": "Returns account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "If the account API key is invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Updates an account.",
        "description": "",
        "operationId": "PutAccount",
        "requestBody": {
          "description": "Account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "If the account API key is invalid"
          },
          "201": {
            "description": "If account was updated successfully"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/account/organizations": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets organizations.",
        "description": "",
        "operationId": "GetOrganizations",
        "responses": {
          "200": {
            "description": "Returns list of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "If the account API key is invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/account/auditevents": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets audit events for the account.",
        "description": "\r\n<b>Authorization:</b> This endpoint requires the user to be an account owner.",
        "operationId": "GetAuditEvents",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID (encrypted)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httpMethod",
            "in": "query",
            "description": "Filter by HTTP method (GET, POST, PUT, DELETE, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "controllerName",
            "in": "query",
            "description": "Filter by controller name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "query",
            "description": "Filter by action name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter events after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter events before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "description": "Filter by IP address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseCode",
            "in": "query",
            "description": "Filter by HTTP response code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default: 100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (0-based)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of audit events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditEvent"
                  },
                  "description": "Collection of audit events"
                }
              }
            }
          },
          "403": {
            "description": "If the user is not an account owner"
          },
          "400": {
            "description": "If the account API key is invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/account/auditevents/{eventId}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets a single audit event by ID.",
        "description": "\r\n<b>Authorization:</b> This endpoint requires the user to be an account owner.",
        "operationId": "GetAuditEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The audit event ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns audit event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEvent"
                }
              }
            }
          },
          "403": {
            "description": "If the user is not an account owner"
          },
          "404": {
            "description": "If the audit event is not found"
          },
          "400": {
            "description": "If the account API key is invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/dataset": {
      "post": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Returns AdHawk dataset based on the provided post parameters.\r\nThis is a legacy endpoint that returns raw dataset results.\r\nConsider using the newer typed endpoints for better structure.",
        "operationId": "GetAdHawkDataset",
        "requestBody": {
          "description": "Dataset request parameters",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AdHawkDatasetPostBody"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdHawkDatasetPostBody"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AdHawkDatasetPostBody"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AdHawkDatasetPostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/playlogs": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets play logs for the account.",
        "operationId": "GetPlayLogs",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Optional list of file IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkPlayLog"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/pinglogs": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets ping/heartbeat logs for the account.",
        "operationId": "GetPingLogs",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional list of ping types to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "minCpuUsage",
            "in": "query",
            "description": "Minimum CPU usage to filter by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "minMemoryUsage",
            "in": "query",
            "description": "Minimum memory usage to filter by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkPingLog"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/eventlogs": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets event logs for the account.",
        "operationId": "GetEventLogs",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Optional list of event names to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Optional session ID to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkEventLog"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/eventmetrics": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets aggregated event metrics for the account.",
        "operationId": "GetEventMetrics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Optional list of event names to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for aggregation (minute, hour, day, week, month)",
            "schema": {
              "$ref": "#/components/schemas/AdHawkIntervalType"
            }
          },
          {
            "name": "groupByDevice",
            "in": "query",
            "description": "Group by device (default: false). When false and groupByEvent is also false, returns totals aggregated only by interval.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "groupByEvent",
            "in": "query",
            "description": "Group by event name (default: false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkEventMetrics"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/impressions": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets audience impressions for the account.",
        "operationId": "GetImpressions",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional list of impression types to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Optional gender to filter by",
            "schema": {
              "$ref": "#/components/schemas/AdHawkGender"
            }
          },
          {
            "name": "minDwellTime",
            "in": "query",
            "description": "Minimum dwell time in milliseconds",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkImpression"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/devicemetrics": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets aggregated device health metrics for the account.",
        "operationId": "GetDeviceMetrics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for aggregation (minute, hour, day, week, month)",
            "schema": {
              "$ref": "#/components/schemas/AdHawkIntervalType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkDeviceMetrics"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/audiencemetrics": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets aggregated audience metrics for the account.",
        "operationId": "GetAudienceMetrics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for aggregation (minute, hour, day, week, month)",
            "schema": {
              "$ref": "#/components/schemas/AdHawkIntervalType"
            }
          },
          {
            "name": "groupByDevice",
            "in": "query",
            "description": "Group by device (default: false). When false, returns totals aggregated only by interval.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeDwellTime",
            "in": "query",
            "description": "Include dwell time data (queries exit events)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkAudienceMetrics"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/mediaplaystats": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets media play statistics aggregated by file.",
        "operationId": "GetMediaPlayStats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Optional list of file IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkMediaPlayStats"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/deviceplaystats": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets device play statistics aggregated by device.",
        "operationId": "GetDevicePlayStats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Optional list of file IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkDevicePlayStats"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/playstatsbytime": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets time-series play statistics aggregated by interval.",
        "operationId": "GetPlayStatsByTime",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Optional list of file IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for aggregation (minute, hour, day, week, month)",
            "schema": {
              "$ref": "#/components/schemas/AdHawkIntervalType"
            }
          },
          {
            "name": "groupByDevice",
            "in": "query",
            "description": "Group by device",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "groupByFile",
            "in": "query",
            "description": "Group by file",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkPlayStatsByTime"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/eventflow": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets event flow data for Sankey-type visualizations.\r\nBuilds a chronological sequence of events indicating the path users took through sessions.",
        "operationId": "GetEventFlow",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Optional list of event names to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventDepthLevel",
            "in": "query",
            "description": "Maximum depth level for event flow (default: 6)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 6
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkEventFlow"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/heatmap": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets geographic heatmap data aggregated by location.\r\nUseful for heatmap or geographic visualizations.",
        "operationId": "GetHeatMapData",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for aggregation (minute, hour, day, week, month)",
            "schema": {
              "$ref": "#/components/schemas/AdHawkIntervalType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 1000, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkHeatMapData"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/mediaimpressions": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets media impressions (OTS - Opportunity To See) data aggregated by media file.\r\nJoins audience/impression data with play logs to determine which audience members\r\nhad an opportunity to see specific media content during playback.",
        "operationId": "GetMediaImpressions",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Optional list of file/media IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "minDwellThreshold",
            "in": "query",
            "description": "Minimum dwell time in milliseconds to count as \"viewed\" (default: 100ms)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkMediaImpressions"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/adhawk/devicemediaimpressions": {
      "get": {
        "tags": [
          "AdHawk"
        ],
        "summary": "Gets media impressions (OTS - Opportunity To See) data aggregated by device.\r\nJoins audience/impression data with play logs to determine which devices\r\nhad the most audience engagement during media playback.",
        "operationId": "GetDeviceMediaImpressions",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional list of device IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Optional list of file/media IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "minDwellThreshold",
            "in": "query",
            "description": "Minimum dwell time in milliseconds to count as \"viewed\" (default: 100ms)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default: 100, max: 10000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdHawkDeviceMediaImpressions"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Gets all alerts for the account.",
        "operationId": "GetAlerts",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Unique identifier for the alert (encrypted)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "description": "Filter by device IDs (encrypted)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Filter to show only active alerts (not resolved and not snoozed)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "resolved",
            "in": "query",
            "description": "Filter by resolved state",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Filter by organization ID (encrypted)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of items to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/alerts/{id}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Gets an alert by ID.",
        "operationId": "GetAlertById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alert ID (encrypted)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "put": {
        "tags": [
          "Alerts"
        ],
        "summary": "Updates an alert (snooze or resolve).",
        "operationId": "PutAlert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alert ID (encrypted)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Alert update request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Alerts"
        ],
        "summary": "Partially updates an alert using JSON Patch.\r\nUses the JSON Patch syntax (http://jsonpatch.com)",
        "operationId": "PatchAlert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alert ID (encrypted)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Patch document",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Lists data tables in the account.",
        "operationId": "GetDataTables",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "DataTables"
        ],
        "summary": "Creates a new data table.",
        "operationId": "CreateDataTable",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataTableRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataTableRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataTableRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataTableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Gets a data table definition by ID.",
        "operationId": "GetDataTable",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "put": {
        "tags": [
          "DataTables"
        ],
        "summary": "Updates a data table definition.",
        "operationId": "UpdateDataTable",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataTableRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataTableRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataTableRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataTableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "delete": {
        "tags": [
          "DataTables"
        ],
        "summary": "Deletes a data table and all its rows.",
        "operationId": "DeleteDataTable",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Lists rows in a data table.",
        "operationId": "GetDataTableRows",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "DataTables"
        ],
        "summary": "Creates a new row in a data table.",
        "operationId": "CreateDataTableRow",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRowRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRowRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRowRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableRowModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/{rowId}": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Gets a single row by ID.",
        "operationId": "GetDataTableRow",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableRowModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "put": {
        "tags": [
          "DataTables"
        ],
        "summary": "Updates a row (partial update).",
        "operationId": "UpdateDataTableRow",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRowRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRowRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRowRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTableRowModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "delete": {
        "tags": [
          "DataTables"
        ],
        "summary": "Deletes a row.",
        "operationId": "DeleteDataTableRow",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/batch": {
      "post": {
        "tags": [
          "DataTables"
        ],
        "summary": "Batch creates rows in a data table.",
        "operationId": "BatchCreateDataTableRows",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRowsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRowsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRowsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreateRowsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/reorder": {
      "put": {
        "tags": [
          "DataTables"
        ],
        "summary": "Reorders rows in a data table.",
        "operationId": "ReorderDataTableRows",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderRowsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderRowsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderRowsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderRowsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/import": {
      "post": {
        "tags": [
          "DataTables"
        ],
        "summary": "Imports rows from a CSV or Excel (.xlsx) file.",
        "operationId": "ImportDataTableRows",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mode": {
                    "type": "string",
                    "default": "append"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "mode": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportRowsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/export": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Exports rows as CSV.",
        "operationId": "ExportDataTableRows",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/batch-delete": {
      "post": {
        "tags": [
          "DataTables"
        ],
        "summary": "Deletes multiple rows in a single request. Max 100 row IDs per call.",
        "operationId": "BatchDeleteDataTableRows",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteRowsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteRowsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteRowsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteRowsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/{rowId}/versions": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Lists version history for a row (newest first).",
        "operationId": "GetRowVersions",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/{rowId}/versions/{version}": {
      "get": {
        "tags": [
          "DataTables"
        ],
        "summary": "Gets a specific version snapshot of a row.",
        "operationId": "GetRowVersion",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowVersionModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/datatables/{tableId}/rows/{rowId}/rollback": {
      "post": {
        "tags": [
          "DataTables"
        ],
        "summary": "Rolls back a row to a specific version.",
        "operationId": "RollbackRow",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets all devices in an account.",
        "operationId": "GetDevices",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Unique identifier for the device.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of items to retrieve in a query.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Current page number for paginated results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "device_type_id",
            "in": "query",
            "description": "Unique identifier for the type of device.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "List of unique identifiers for media groups to filter by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "description": "Collection of group names to filter by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_snap",
            "in": "query",
            "description": "Include the snapshot of the currently playing content. JPG format, base64 encoded.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Unique identifier for an organization to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_online",
            "in": "query",
            "description": "Filter devices by their online status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Registers a new device.",
        "operationId": "PostDevice",
        "parameters": [
          {
            "name": "activation_code",
            "in": "query",
            "description": "Activation code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/{id}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets a device by ID.",
        "operationId": "GetDeviceById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Updates a device.",
        "operationId": "PutDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device.",
        "operationId": "DeleteDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Patch a device. Patch allows partial updates by targeting specific properties of the device.\r\nUses the JSON Patch syntax (http://jsonpatch.com)",
        "operationId": "PatchDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Patch document",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/groups": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets device groups in the account.",
        "operationId": "GetDeviceGroups",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "description": "Optional hierarchical data format",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Optional group id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create a new device group.",
        "operationId": "PostDeviceGroup",
        "requestBody": {
          "description": "Device group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/groups/{id}": {
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Updates a device group.",
        "operationId": "PutDeviceGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device group.",
        "description": "Group must be empty.",
        "operationId": "DeleteDeviceGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/pingdata": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets device ping data by registration key.",
        "operationId": "GetPingData",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Registration key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingData"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/{registrationKey}/snap": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets current snapshot of the device screen. Image is returned as a JPEG image.",
        "operationId": "GetSnapshot",
        "parameters": [
          {
            "name": "registrationKey",
            "in": "path",
            "description": "Device registration key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base64",
            "in": "query",
            "description": "If true, the JPG image will be returned as a base64-encoded string",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/devices/{registrationKey}/pingdata": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets device ping data by registration key.",
        "operationId": "GetDevicePingData",
        "parameters": [
          {
            "name": "registrationKey",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingData"
                }
              }
            }
          }
        }
      }
    },
    "/devices/commands": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a collection of commands to devices.",
        "operationId": "PostDevicesCommands",
        "requestBody": {
          "description": "Command set",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviceCommand"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/{id}/commands": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a collection of commands to a specific device.",
        "operationId": "PostDeviceCommands",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Commands",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/devices/{id}/track": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create an event associated with a device.",
        "operationId": "PostEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Event",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": []
          },
          {
            "ApiKeyInQuery": []
          }
        ]
      }
    },
    "/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Gets all media in an account.",
        "operationId": "GetMedia",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional Media Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Optional media group Id",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "description": "Optional group name to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
[...]
