{
  "openapi": "3.0.3",
  "info": {
    "title": "itch.io Server API",
    "version": "1.0.0",
    "description": "The itch.io server-side API allows game developers to query information about users, games, purchases, and download keys for games hosted on itch.io.",
    "x-jentic-source-url": "https://itch.io/docs/api/serverside"
  },
  "servers": [
    {
      "url": "https://itch.io/api/1",
      "description": "itch.io API v1"
    }
  ],
  "paths": {
    "/{key}/credentials/info": {
      "get": {
        "operationId": "getCredentialsInfo",
        "summary": "Get information about the API key or JWT token",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/{key}/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get the user profile associated with the API key",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "API key (requires profile:me scope)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key or insufficient scope"
          }
        }
      }
    },
    "/{key}/my-games": {
      "get": {
        "operationId": "listMyGames",
        "summary": "List games owned by the authenticated user",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "API key (requires profile:games scope)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "games": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Game"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key or insufficient scope"
          }
        }
      }
    },
    "/{key}/game/{gameId}/download_keys": {
      "get": {
        "operationId": "lookupDownloadKeys",
        "summary": "Look up download keys for a game",
        "tags": [
          "Download Keys"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "API key (requires game:view:purchases scope)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "description": "Game identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "download_key",
            "in": "query",
            "description": "Look up by download key value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Look up by user ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Look up by email address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download key information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "download_keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DownloadKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key or insufficient scope"
          }
        }
      }
    },
    "/{key}/game/{gameId}/purchases": {
      "get": {
        "operationId": "lookupPurchases",
        "summary": "Look up purchases for a game",
        "tags": [
          "Purchases"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "API key (requires game:view:purchases scope)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "description": "Game identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "purchases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Purchase"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key or insufficient scope"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CredentialsInfo": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of permission scopes"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Expiration timestamp (for JWT tokens)"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User identifier"
          },
          "username": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "cover_url": {
            "type": "string",
            "nullable": true,
            "description": "Profile cover image URL"
          },
          "url": {
            "type": "string",
            "description": "User profile URL"
          },
          "developer": {
            "type": "boolean",
            "description": "Whether user is a developer"
          },
          "press_user": {
            "type": "boolean"
          },
          "gamer": {
            "type": "boolean"
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "cover_url": {
            "type": "string",
            "nullable": true
          },
          "short_text": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Type of game/project"
          },
          "classification": {
            "type": "string"
          },
          "downloads_count": {
            "type": "integer"
          },
          "purchases_count": {
            "type": "integer"
          },
          "views_count": {
            "type": "integer"
          },
          "min_price": {
            "type": "integer",
            "description": "Minimum price in cents"
          },
          "p_windows": {
            "type": "boolean",
            "description": "Windows platform support"
          },
          "p_linux": {
            "type": "boolean",
            "description": "Linux platform support"
          },
          "p_osx": {
            "type": "boolean",
            "description": "macOS platform support"
          },
          "p_android": {
            "type": "boolean",
            "description": "Android platform support"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "earnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "string"
                },
                "amount_formatted": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "DownloadKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "key": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "downloads": {
            "type": "integer"
          },
          "game_id": {
            "type": "integer"
          },
          "owner": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "Purchase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "price": {
            "type": "string",
            "description": "Price paid"
          },
          "currency": {
            "type": "string"
          },
          "donation": {
            "type": "boolean",
            "description": "Whether this was a donation"
          },
          "source": {
            "type": "string",
            "description": "Purchase source"
          },
          "game_id": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "path",
        "description": "API key passed as part of the URL path"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}