{
  "openapi": "3.0.3",
  "info": {
    "title": "Poloniex API",
    "description": "Poloniex cryptocurrency exchange REST API providing spot trading, market data, account management, and wallet operations.",
    "version": "1.0.0",
    "contact": {
      "name": "Poloniex",
      "url": "https://poloniex.com"
    }
  },
  "servers": [
    {
      "url": "https://api.poloniex.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ApiSignature": [],
      "ApiTimestamp": []
    }
  ],
  "paths": {
    "/markets": {
      "get": {
        "operationId": "getMarkets",
        "summary": "Get all symbols",
        "description": "Get a list of all active trading symbols and their configurations.",
        "tags": [
          "Reference Data"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}": {
      "get": {
        "operationId": "getMarket",
        "summary": "Get symbol information",
        "description": "Get information about a specific trading symbol.",
        "tags": [
          "Reference Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol (e.g., BTC_USDT)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Market"
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get all currencies",
        "description": "Get a list of all supported currencies and their configurations.",
        "tags": [
          "Reference Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "includeMultiChainCurrencies",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencies/{currency}": {
      "get": {
        "operationId": "getCurrency",
        "summary": "Get currency info",
        "description": "Get information about a specific currency.",
        "tags": [
          "Reference Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeMultiChainCurrencies",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          }
        }
      }
    },
    "/timestamp": {
      "get": {
        "operationId": "getTimestamp",
        "summary": "Get server timestamp",
        "description": "Get current server time.",
        "tags": [
          "Reference Data"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverTime": {
                      "type": "integer",
                      "description": "Server time in milliseconds"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/price": {
      "get": {
        "operationId": "getAllPrices",
        "summary": "Get all prices",
        "description": "Retrieve latest trade prices for all symbols.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Price"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}/price": {
      "get": {
        "operationId": "getPrice",
        "summary": "Get price",
        "description": "Get latest trade price for a specific symbol.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}/orderBook": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Get order book",
        "description": "Get order book for a given symbol.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "Price aggregation level",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records returned. Default 10, max 150.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}/candles": {
      "get": {
        "operationId": "getCandles",
        "summary": "Get candles",
        "description": "Get OHLC data for a given symbol.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "Candle interval",
            "schema": {
              "type": "string",
              "enum": [
                "MINUTE_1",
                "MINUTE_5",
                "MINUTE_10",
                "MINUTE_15",
                "MINUTE_30",
                "HOUR_1",
                "HOUR_2",
                "HOUR_4",
                "HOUR_6",
                "HOUR_12",
                "DAY_1",
                "DAY_3",
                "WEEK_1",
                "MONTH_1"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}/trades": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get trades",
        "description": "Get recent trades for a given symbol.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records. Default 500, max 1000.",
            "schema": {
              "type": "integer",
              "default": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/ticker24h": {
      "get": {
        "operationId": "getAllTicker24h",
        "summary": "Get all 24h tickers",
        "description": "Get 24-hour ticker data for all symbols.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ticker24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}/ticker24h": {
      "get": {
        "operationId": "getTicker24h",
        "summary": "Get 24h ticker",
        "description": "Get 24-hour ticker data for a specific symbol.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticker24h"
                }
              }
            }
          }
        }
      }
    },
    "/markets/markPrice": {
      "get": {
        "operationId": "getAllMarkPrices",
        "summary": "Get all mark prices",
        "description": "Get current mark prices for all cross margin symbols.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarkPrice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{symbol}/markPrice": {
      "get": {
        "operationId": "getMarkPrice",
        "summary": "Get mark price",
        "description": "Get mark price for a specific symbol.",
        "tags": [
          "Market Data"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkPrice"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "getOpenOrders",
        "summary": "Get open orders",
        "description": "Get a list of active orders.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create order",
        "description": "Create a new order.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "symbol",
                  "side",
                  "type"
                ],
                "properties": {
                  "symbol": {
                    "type": "string"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "MARKET",
                      "LIMIT",
                      "LIMIT_MAKER"
                    ]
                  },
                  "timeInForce": {
                    "type": "string",
                    "enum": [
                      "GTC",
                      "IOC",
                      "FOK"
                    ]
                  },
                  "accountType": {
                    "type": "string",
                    "enum": [
                      "SPOT",
                      "MARGIN"
                    ]
                  },
                  "price": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "clientOrderId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelAllOrders",
        "summary": "Cancel all orders",
        "description": "Cancel all active orders.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SPOT",
                "MARGIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancelledOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order details",
        "description": "Get an order's status.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "cancelReplaceOrder",
        "summary": "Cancel replace order",
        "description": "Cancel an existing active order and place a new order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "timeInForce": {
                    "type": "string"
                  },
                  "clientOrderId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel order",
        "description": "Cancel an active order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelledOrder"
                }
              }
            }
          }
        }
      }
    },
    "/orders/batch": {
      "post": {
        "operationId": "createBatchOrders",
        "summary": "Create batch orders",
        "description": "Create multiple orders via a single request (max 20).",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "symbol",
                    "side",
                    "type"
                  ],
                  "properties": {
                    "symbol": {
                      "type": "string"
                    },
                    "side": {
                      "type": "string",
                      "enum": [
                        "BUY",
                        "SELL"
                      ]
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "MARKET",
                        "LIMIT",
                        "LIMIT_MAKER"
                      ]
                    },
                    "timeInForce": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "clientOrderId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancelByIds": {
      "delete": {
        "operationId": "cancelOrdersByIds",
        "summary": "Cancel orders by IDs",
        "description": "Cancel multiple orders by their IDs.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "clientOrderIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancelledOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Get accounts",
        "description": "Get a list of all accounts of a user.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/balances": {
      "get": {
        "operationId": "getAccountBalances",
        "summary": "Get all balances",
        "description": "Get a list of all balances of a user.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SPOT",
                "MARGIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Balance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/transfer": {
      "post": {
        "operationId": "transferBalance",
        "summary": "Transfer balance",
        "description": "Transfer amount of currency from one account to another.",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "amount",
                  "fromAccount",
                  "toAccount"
                ],
                "properties": {
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "fromAccount": {
                    "type": "string",
                    "enum": [
                      "SPOT",
                      "MARGIN"
                    ]
                  },
                  "toAccount": {
                    "type": "string",
                    "enum": [
                      "SPOT",
                      "MARGIN"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transferId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/activity": {
      "get": {
        "operationId": "getAccountActivity",
        "summary": "Get account activity",
        "description": "Get a list of activities for a user's account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallets/addresses": {
      "get": {
        "operationId": "getDepositAddresses",
        "summary": "Get deposit addresses",
        "description": "Get deposit addresses for a user.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallets/withdraw": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw currency",
        "description": "Immediately places a withdrawal for a given currency.",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "amount",
                  "address"
                ],
                "properties": {
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "paymentId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdrawalRequestsId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "Your API key"
      },
      "ApiSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "signature",
        "description": "HMAC-SHA256 signature"
      },
      "ApiTimestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "signTimestamp",
        "description": "Request timestamp in milliseconds"
      }
    },
    "schemas": {
      "Market": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "baseCurrencyName": {
            "type": "string"
          },
          "quoteCurrencyName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "symbolTradeLimit": {
            "type": "object",
            "properties": {
              "priceScale": {
                "type": "integer"
              },
              "quantityScale": {
                "type": "integer"
              },
              "amountScale": {
                "type": "integer"
              },
              "minQuantity": {
                "type": "string"
              },
              "minAmount": {
                "type": "string"
              },
              "maxQuantity": {
                "type": "string"
              },
              "maxAmount": {
                "type": "string"
              },
              "highestBid": {
                "type": "string"
              },
              "lowestAsk": {
                "type": "string"
              }
            }
          },
          "crossMargin": {
            "type": "object",
            "properties": {
              "supportCrossMargin": {
                "type": "boolean"
              },
              "maxLeverage": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "withdrawalFee": {
            "type": "string"
          },
          "minConf": {
            "type": "integer"
          },
          "blockchain": {
            "type": "string"
          },
          "delisted": {
            "type": "boolean"
          },
          "tradingState": {
            "type": "string"
          },
          "walletState": {
            "type": "string"
          },
          "supportCollateral": {
            "type": "boolean"
          },
          "supportBorrow": {
            "type": "boolean"
          }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "time": {
            "type": "integer",
            "format": "int64"
          },
          "dailyChange": {
            "type": "string"
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OrderBook": {
        "type": "object",
        "properties": {
          "time": {
            "type": "integer",
            "format": "int64"
          },
          "scale": {
            "type": "string"
          },
          "asks": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "bids": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "low": {
            "type": "string"
          },
          "high": {
            "type": "string"
          },
          "open": {
            "type": "string"
          },
          "close": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "tradeCount": {
            "type": "integer"
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "weightedAverage": {
            "type": "string"
          },
          "interval": {
            "type": "string"
          },
          "startTime": {
            "type": "integer",
            "format": "int64"
          },
          "closeTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "takerSide": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "createTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Ticker24h": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "open": {
            "type": "string"
          },
          "low": {
            "type": "string"
          },
          "high": {
            "type": "string"
          },
          "close": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "tradeCount": {
            "type": "integer"
          },
          "startTime": {
            "type": "integer",
            "format": "int64"
          },
          "closeTime": {
            "type": "integer",
            "format": "int64"
          },
          "displayName": {
            "type": "string"
          },
          "dailyChange": {
            "type": "string"
          },
          "bid": {
            "type": "string"
          },
          "bidQuantity": {
            "type": "string"
          },
          "ask": {
            "type": "string"
          },
          "askQuantity": {
            "type": "string"
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "markPrice": {
            "type": "string"
          }
        }
      },
      "MarkPrice": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "markPrice": {
            "type": "string"
          },
          "time": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientOrderId": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "timeInForce": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "avgPrice": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "filledQuantity": {
            "type": "string"
          },
          "filledAmount": {
            "type": "string"
          },
          "createTime": {
            "type": "integer",
            "format": "int64"
          },
          "updateTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CancelledOrder": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "clientOrderId": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "accountState": {
            "type": "string"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "currencyId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "available": {
            "type": "string"
          },
          "hold": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Accounts"
    },
    {
      "name": "Market Data"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Reference Data"
    },
    {
      "name": "Wallets"
    }
  ]
}
