{
  "openapi": "3.0.0",
  "info": {
    "title": "API documentation i’way transfer",
    "description": "API documentation to external integration",
    "contact": {
      "name": "Technical Support Service",
      "email": "support@iway.ru"
    },
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/iway.io/booking_api_ru/3.0.0/swagger.json"
  },
  "servers": [
    {
      "description": "Sandbox Enviroment",
      "url": "https://sandbox.iway.io/transnextgen/"
    }
  ],
  "paths": {
    "/v3/auth/login": {
      "post": {
        "security": [],
        "tags": [
          "user"
        ],
        "summary": "Авторизация пользователя в системе бронирования i'way transfer",
        "operationId": "authUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "$ref": "#/components/schemas/user_id"
                  },
                  "password": {
                    "$ref": "#/components/schemas/password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "title": "Токен аутентификации",
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MjYwMTYwMTcsImV4cCI6MTUyNjYyMDgxNywidXNlciI6eyJpZCI6IjY2NiJ9fQ.-CY39UWl9jT-CkeYDkNp7dbbr4ubECc4JEjzyGnLqKw"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/transport-nodes": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "transport node"
        ],
        "summary": "Поиск транспортных узлов",
        "operationId": "getTransportNode",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "term",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/term"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "транспортный узел",
                        "type": "object",
                        "properties": {
                          "formatted_address": {
                            "description": "Название",
                            "type": "string",
                            "example": "Аэропорт Толмачево"
                          },
                          "geometry": {
                            "title": "Данные geo",
                            "type": "object",
                            "properties": {
                              "location": {
                                "title": "Локация",
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "description": "Координата LAT",
                                    "type": "string",
                                    "example": 55.012599945068
                                  },
                                  "lon": {
                                    "description": "Координата LON",
                                    "type": "string",
                                    "example": 82.650703430176
                                  }
                                }
                              }
                            }
                          },
                          "description": {
                            "description": "Описание (название)",
                            "type": "string",
                            "example": "Аэропорт Толмачево"
                          },
                          "place_id": {
                            "description": "Google ID места",
                            "type": "string",
                            "example": "ChIJJQMqy2UJ4EIRLlTJkaXKslM"
                          },
                          "structured_formatting": {
                            "title": "Структурное форматирование",
                            "type": "object",
                            "properties": {
                              "main_text": {
                                "description": "Название объекта",
                                "type": "string",
                                "example": "Аэропорт Толмачево"
                              },
                              "secondary_text": {
                                "description": "Доп. информация",
                                "type": "string",
                                "example": ""
                              }
                            }
                          },
                          "country": {
                            "description": "Страна",
                            "type": "string",
                            "example": ""
                          },
                          "types": {
                            "description": "Типы места",
                            "type": "array",
                            "items": {
                              "example": "airport, establishment"
                            }
                          },
                          "iata": {
                            "description": "Код IATA",
                            "type": "string",
                            "example": "OVB"
                          },
                          "icao": {
                            "description": "Код ICAO",
                            "type": "string",
                            "example": "UNNT"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/prices": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "price"
        ],
        "summary": "Получение списка предложений по услуге \"Трансфер\"",
        "operationId": "getTransferPriceList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "in": "query",
            "name": "start_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "finish_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "relation_car_class_ids",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/relation_car_class_ids"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "Ценовое предложение",
                        "type": "object",
                        "properties": {
                          "price_uid": {
                            "$ref": "#/components/schemas/price_uuid"
                          },
                          "price_id": {
                            "$ref": "#/components/schemas/price_id"
                          },
                          "price": {
                            "$ref": "#/components/schemas/price"
                          },
                          "price_rub": {
                            "$ref": "#/components/schemas/price"
                          },
                          "reverse_price": {
                            "$ref": "#/components/schemas/reverse_price_object"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "service_id": {
                            "$ref": "#/components/schemas/service_id"
                          },
                          "car_class": {
                            "$ref": "#/components/schemas/car_class_object"
                          },
                          "allowable_subaddress": {
                            "title": "Разрешенное количество дополнительных адресов",
                            "type": "integer",
                            "example": 3
                          },
                          "price_subaddress": {
                            "title": "Цена дополнительных поездок",
                            "type": "number",
                            "example": 270
                          },
                          "cancellation_time": {
                            "title": "Минимально возможное время для бесплатной отмены поездки",
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "$ref": "#/components/schemas/type"
                          },
                          "payed_road": {
                            "title": "Платная дорога",
                            "type": "boolean",
                            "example": false
                          },
                          "blackout_date": {
                            "title": "Массив дат, закрытых для бронирования",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "allowable_time": {
                            "title": "Минимально возможное время для бронирования поездки",
                            "type": "integer",
                            "example": 2
                          },
                          "id_custom_price": {
                            "title": "ID базовой цены",
                            "type": "integer",
                            "example": null
                          },
                          "minimum_duration": {
                            "title": "Минимальное время аренды",
                            "type": "integer",
                            "example": 0
                          },
                          "start_place": {
                            "$ref": "#/components/schemas/place_object"
                          },
                          "finish_place": {
                            "$ref": "#/components/schemas/place_object"
                          },
                          "flexible_tariff": {
                            "$ref": "#/components/schemas/flexible_tariff"
                          },
                          "flexible_tariff_agreement": {
                            "$ref": "#/components/schemas/flexible_tariff_agreement"
                          },
                          "additional_services": {
                            "$ref": "#/components/schemas/additional_services_object"
                          },
                          "additional_service_id": {
                            "$ref": "#/components/schemas/additional_services_revert"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/prices/rent": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "price"
        ],
        "summary": "Получение списка предложений по услуге \"Аренда с водителем\"",
        "operationId": "getRentPriceList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "in": "query",
            "name": "start_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "duration",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/duration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "Ценовое предложение",
                        "type": "object",
                        "properties": {
                          "price_uid": {
                            "$ref": "#/components/schemas/price_uuid"
                          },
                          "price_id": {
                            "$ref": "#/components/schemas/price_id"
                          },
                          "price": {
                            "$ref": "#/components/schemas/price"
                          },
                          "price_rub": {
                            "$ref": "#/components/schemas/price"
                          },
                          "reverse_price": {
                            "$ref": "#/components/schemas/reverse_price_object"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "service_id": {
                            "$ref": "#/components/schemas/service_id"
                          },
                          "car_class": {
                            "$ref": "#/components/schemas/car_class_object"
                          },
                          "allowable_subaddress": {
                            "type": "integer",
                            "example": 3
                          },
                          "price_subaddress": {
                            "type": "integer",
                            "example": 270
                          },
                          "cancellation_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "type": "integer",
                            "example": 1
                          },
                          "payed_road": {
                            "type": "boolean",
                            "example": false
                          },
                          "blackout_date": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "allowable_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "is_special": {
                            "type": "integer"
                          },
                          "id_custom_price": {
                            "type": "integer",
                            "example": null
                          },
                          "minimum_duration": {
                            "type": "integer",
                            "example": 0
                          },
                          "start_place": {
                            "$ref": "#/components/schemas/place_object"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/places/check-location-from-places": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "place"
        ],
        "summary": "Метод проверки вхождения координаты в полигоны плэйсов (только города)",
        "operationId": "checkLoacation",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place_ids": {
                    "description": "Массив ID плэйсов из start_place и finish_place из полученного ценового предложения для проверки вхождения ID места в полигоны плэйсов (только города)",
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "example": 9
                    }
                  },
                  "place_id": {
                    "description": "ID места, который получен при запросе к Google (обязательно, если не заполнено поле location)",
                    "type": "string",
                    "example": "ChIJK19vOtLl30IRoBFhiuaogNI"
                  },
                  "location": {
                    "description": "Координата точки для проверки (обязательно, если не заполнено поле place_id)",
                    "type": "string",
                    "example": "55.02896699999999,82.915077"
                  }
                },
                "required": [
                  "place_ids",
                  "place_id",
                  "location"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "is_from_polygons": {
                          "title": "Вернёт true если есть вхождение хотя бы в один полигон",
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "title": "Если is_from_polygons = false возвращается сообщение об ошибке",
                          "type": "string",
                          "example": ""
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Создание заказа",
        "operationId": "createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "$ref": "#/components/schemas/user_id"
                  },
                  "lang": {
                    "$ref": "#/components/schemas/lang"
                  },
                  "currency": {
                    "$ref": "#/components/schemas/currency"
                  },
                  "trips": {
                    "title": "Массив поездок",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/trip_object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/order_object"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/approve/{transaction}": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Подтверждение заказа",
        "operationId": "approveOrder",
        "parameters": [
          {
            "in": "path",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/transaction"
                        },
                        "order_id": {
                          "$ref": "#/components/schemas/order_id"
                        },
                        "status": {
                          "$ref": "#/components/schemas/status"
                        },
                        "payable_status": {
                          "$ref": "#/components/schemas/payable_status"
                        },
                        "booker_number": {
                          "$ref": "#/components/schemas/booker_number"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/trips": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Получение списка поездок",
        "operationId": "getOrderList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "order_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/order_id"
            }
          },
          {
            "in": "query",
            "name": "order_status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/status"
            }
          },
          {
            "in": "query",
            "name": "begin_date_reservation",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end_date_reservation",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "begin_date_arrival",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end_date_arrival",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/trip_object"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Обновление информации по поездке",
        "operationId": "updateOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trip_object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/order_object"
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/trips/cancel": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Отмена поездки",
        "operationId": "cancelOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction": {
                    "$ref": "#/components/schemas/transaction"
                  },
                  "order_id": {
                    "$ref": "#/components/schemas/order_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "$ref": "#/components/schemas/order_id"
                        },
                        "transaction": {
                          "$ref": "#/components/schemas/transaction"
                        },
                        "status": {
                          "$ref": "#/components/schemas/status"
                        },
                        "payable_status": {
                          "$ref": "#/components/schemas/payable_status"
                        },
                        "service_id": {
                          "$ref": "#/components/schemas/service_id"
                        },
                        "currency": {
                          "$ref": "#/components/schemas/currency"
                        },
                        "price": {
                          "$ref": "#/components/schemas/price"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/pay-url": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Получение ссылки на оплату заказа",
        "operationId": "getPaymentLink",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "http://iway.io/en/cloudpayments/paytrip/481252474?currency=EUR"
                        },
                        "invoicebox": {
                          "type": "string",
                          "example": "http://iway.io/en/cloudpayments/paytrip/481252474?currency=EUR"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/documents": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "document"
        ],
        "summary": "Получение ссылок на документы по заказу",
        "operationId": "getOrderDocuments",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "langs[index]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/lang"
              }
            }
          },
          {
            "in": "query",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "voucher_passenger": {
                          "title": "Массив ссылок на ваучеры по каждому пассажиру",
                          "description": "Типы оплаты - AMADEUS, API_PARTNER, PAYMENTWALL, PARTNER_ACQUIRING, CLOUDPAYMENTS, FREE_TRIP или настройках партнера выключена опция IndissolubleVoucher",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ru": {
                                "type": "string",
                                "example": "https://link"
                              },
                              "en": {
                                "type": "string",
                                "example": "https://link"
                              }
                            }
                          }
                        },
                        "voucher_indissoluble": {
                          "title": "Ссылка на общий ваучер",
                          "description": "Типы оплаты - OFFLINE_ORDER или в настройках партнера включена опция IndissolubleVoucher",
                          "type": "object",
                          "properties": {
                            "ru": {
                              "type": "string",
                              "example": "https://link"
                            },
                            "en": {
                              "type": "string",
                              "example": "https://link"
                            }
                          }
                        },
                        "voucher_common": {
                          "title": "Ссылка на общий ваучер",
                          "description": "Типы оплаты - INVOICE, AMADEUS, DEPOSIT",
                          "type": "object",
                          "properties": {
                            "ru": {
                              "type": "string",
                              "example": "https://link"
                            },
                            "en": {
                              "type": "string",
                              "example": "https://link"
                            }
                          }
                        },
                        "notice": {
                          "title": "Ссылка на уведомление",
                          "description": "Типы оплаты - INVOICE, AMADEUS, DEPOSIT",
                          "type": "string",
                          "example": "https://link"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/recommended-time": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Рекомендуемое время подачи автомобиля",
        "operationId": "getRecommendedTime",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "price_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/price_id"
            }
          },
          {
            "in": "query",
            "name": "departure_time",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/departure_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "recommended_time": {
                          "description": "Рекомендуемое время подачи автомобиля",
                          "type": "string",
                          "example": "2021-09-12T09:50:00+07:00"
                        },
                        "min_allowed_time_order": {
                          "description": "Минимально возможное время подачи автомобиля",
                          "type": "string",
                          "example": "2021-11-12T15:30:06+07:00"
                        },
                        "recommended_check_in_time": {
                          "description": "Рекомендуемое время на регистрацию",
                          "type": "integer",
                          "example": 7200
                        },
                        "start_time_zone_code": {
                          "description": "Временное смещение от UTC в месте отправления",
                          "type": "string",
                          "example": "+07:00"
                        },
                        "finish_time_zone_zode": {
                          "description": "Временное смещение от UTC в месте прибытия",
                          "type": "string",
                          "example": "+07:00"
                        },
                        "travel_time": {
                          "description": "Время на дорогу",
                          "type": "integer",
                          "example": 7200
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/check-time": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Проверка возможности оформления заказа на указанное время",
        "operationId": "checkTime",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price_id": {
                    "$ref": "#/components/schemas/price_id"
                  },
                  "pickup_time": {
                    "$ref": "#/components/schemas/pickup_time"
                  },
                  "departure_time": {
                    "$ref": "#/components/schemas/departure_time"
                  },
                  "start_place_id": {
                    "$ref": "#/components/schemas/start_place_id"
                  }
                },
                "required": [
                  "price_id",
                  "pickup_time"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "allow booking": {
                          "description": "Флаг возможности бронирования",
                          "type": "boolean",
                          "example": true
                        },
                        "notice": {
                          "description": "Примечание",
                          "type": "string",
                          "example": ""
                        },
                        "similar_orders": {
                          "description": "Похожие поездки у партнера в промежутке времени",
                          "type": "object",
                          "example": null
                        },
                        "possible_connecting_time": {
                          "description": "Время вылета самолета или отправления поезда не удовлетворяет условиям",
                          "type": "boolean",
                          "example": true
                        },
                        "possible_pickup_time": {
                          "description": "Время подачи автомобиля не удовлетворяет условиям",
                          "type": "boolean",
                          "example": true
                        },
                        "min_allowed_time_order": {
                          "description": "Минимальное возможное время подачи автомобиля в часовом поясе точки отправления (ближайшее время подачи)",
                          "type": "string",
                          "example": "2021-11-12T15:41:03+07:00"
                        },
                        "min_connecting_time": {
                          "description": "Минимальное возможное время вылета самолета или отправления поезда при неизменном времени подачи автомобиля",
                          "type": "string",
                          "example": "22021-12-25T14:00:00+07:00"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/{trip_id}/check-cancel": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Проверка возможности отмены поездки",
        "operationId": "checkCancel",
        "parameters": [
          {
            "in": "path",
            "name": "trip_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/trip_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "Флаг возможности отмены поездки",
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "description": "Сообщение",
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/documents/send/{transaction}": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "document"
        ],
        "summary": "Отправка ваучера по заказу",
        "operationId": "documentsSend",
        "parameters": [
          {
            "in": "path",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "langs": {
                    "description": "Язык для отправки документов",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/lang"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Массив ссылок",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "http://transstage3.iwayex.com/webtransnextgen/download/voucher?hash=edea13889c5dbd8e7ab4a79451bea29c&typeVoucher=doc"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "user_id": {
        "title": "Идентификатор пользователя",
        "type": "integer",
        "example": 1863
      },
      "pickup_time": {
        "title": "Дата и время подачи автомобиля",
        "type": "string",
        "example": "2021-08-21 12:00"
      },
      "start_place_id": {
        "title": "Идентификатор точки отправления (обязателен только при заказе аренды)",
        "type": "integer",
        "example": 135
      },
      "password": {
        "title": "Пароль пользователя",
        "type": "string",
        "format": "password",
        "example": "1830Voldemort"
      },
      "transaction": {
        "title": "Уникальный идентификатор заказа. Общий для заказа из нескольких поездок (платежная транзакция)",
        "type": "integer",
        "example": 14565973
      },
      "pos": {
        "title": "Точка продажи",
        "type": "string",
        "example": "Терминал кассы S7 №14373"
      },
      "lang": {
        "title": "Локализация ожидаемого ответа",
        "description": "Локализация ожидаемого ответа\n`ru` - Русский\n`en` - Английский\n",
        "type": "string",
        "enum": [
          "ru",
          "en"
        ],
        "example": "ru",
        "default": "ru"
      },
      "currency": {
        "title": "Валюта ценового предложения",
        "description": "Валюта ценового предложения\n`RUB` - Российский Рубль\n`EUR` - Евро\n`USD` - Американский Доллар\n`CNY` - Юань Ренминби\n`CZK` - Чешская Крона\n`GBP` - Фунт Стерлингов\n`INR` - Индийская Рупия\n`KZT` - Тенге\n`SGD` - Сингапурский Доллар\n`TRY` - Турецкая Лира\n`UAH` - Гривна\n`ZAR` - Рэнд\n`BYN` - Белорусский рубль\n",
        "type": "string",
        "enum": [
          "RUB",
          "EUR",
          "USD",
          "CNY",
          "CZK",
          "GBP",
          "INR",
          "KZT",
          "SGD",
          "TRY",
          "UAH",
          "ZAR",
          "BYN"
        ],
        "example": "RUB",
        "default": "RUB"
      },
      "place_point": {
        "title": "Координаты точки маршрута",
        "type": "string",
        "example": "55.00835259999999,82.9357327"
      },
      "relation_car_class_ids": {
        "title": "Ограниченные предложения",
        "type": "array",
        "items": {
          "type": "integer",
          "enum": [
            34,
            35
          ]
        }
      },
      "duration": {
        "title": "Продолжительность аренды автомобиля (в секундах)",
        "type": "integer",
        "example": 3600
      },
      "additional_change_itinerary": {
        "title": "Дополнительные заезды/изменение маршрутов",
        "description": "Дополнительные заезды/изменение маршрутов\n`1` - Не требует согласования\n`2` - Требует согласования\n`3` - Запрещено\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "additional_wait": {
        "title": "Дополнительное ожидание",
        "description": "Дополнительное ожидание\n`1` - Не требует согласования\n`2` - Требует согласования\n`3` - Запрещено\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "fare_on_toll_road": {
        "title": "Проезд по платной дороге",
        "description": "Проезд по платной дороге\n`1` - Не требует согласования\n`2` - Требует согласования\n`3` - Запрещено\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "flexible_tariff": {
        "title": "Флаг услуги - Гибкая тарификация",
        "type": "boolean",
        "example": true
      },
      "flexible_tariff_agreement": {
        "title": "Флаг наличия договора по услуге - Гибкая тарификация",
        "type": "boolean",
        "example": true
      },
      "price_id": {
        "title": "Идентификатор предложения",
        "type": "integer",
        "example": 2921215
      },
      "trip_id": {
        "title": "Идентификатор поездки",
        "type": "integer",
        "example": null
      },
      "departure_time": {
        "title": "Время отправления поезда или самолёта",
        "type": "string",
        "example": "2021-08-21 12:00"
      },
      "passengers_number": {
        "title": "Количество пассажиров",
        "type": "integer",
        "example": 3
      },
      "text_tablet": {
        "title": "Текст таблички",
        "type": "string",
        "example": "i'way ждёт тебя!"
      },
      "comment": {
        "title": "Комментарий к заказу",
        "type": "string",
        "example": "Встретить на чистом автомобиле и в нарядном костюме"
      },
      "payable_status": {
        "title": "Статус оплаты заказа",
        "description": "Статус оплаты заказа\n`0` - Не оплачено\n`1` - Оплачено\n`5` - Отменено\n",
        "type": "integer",
        "enum": [
          0,
          1,
          5
        ],
        "example": 1
      },
      "service_id": {
        "title": "Тип поездки",
        "description": "Тип поездки\n`1` - Трансфер\n`2` - Аренда с водителем\n",
        "type": "integer",
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "status": {
        "title": "Статус обработки поездки",
        "description": "`0` - Ожидание обработки\n`1` - Обработка\n`2` - Принята\n`3` - Выполнена\n`4` - Отменена без штрафа\n`5` - Отменена со штрафом\n`6` - Не оплачена\n`7` - Изменена\n",
        "type": "integer",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "example": 0
      },
      "order_id": {
        "title": "Идентификатор заказа / поездки",
        "type": "integer",
        "example": 4000172
      },
      "booker_number": {
        "title": "Внутренний номер заказа в системе учета i'way (1C)",
        "type": "string",
        "example": "C-0000062"
      },
      "price": {
        "title": "Стоимость поездки",
        "type": "number",
        "example": 539
      },
      "price_uuid": {
        "title": "UUID предложения",
        "type": "string",
        "example": "704fecdc-d516-4cc5-bf61-5a74a37c7ba4"
      },
      "term": {
        "title": "Строка для поиска подсказок мест",
        "type": "string",
        "example": "Аэропорт Толмачево"
      },
      "car_class_id": {
        "title": "ID класса автомобиля",
        "type": "integer",
        "example": 3
      },
      "title": {
        "title": "Название класса",
        "type": "string",
        "example": "стандарт"
      },
      "photo": {
        "title": "Фото класса",
        "type": "string",
        "example": "l73q8272rg.png"
      },
      "capacity": {
        "title": "Вместимость автомобиля",
        "type": "integer",
        "example": 3
      },
      "type": {
        "title": "Тип прайса",
        "description": "Тип прайса\n`1` - Динамический\n`2` - Фиксированный\n",
        "type": "integer",
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "location_object": {
        "title": "Точка маршрута",
        "type": "object",
        "properties": {
          "place_id": {
            "description": "Идентификатор точки маршрута из поисковой системы Google Maps",
            "type": "string",
            "example": "ChIJybDUc_xKtUYRTM9XV8zWRD0"
          },
          "flight_number": {
            "description": "Номер авиарейса, если место начала поездки аэропорт",
            "type": "string",
            "example": "TS-12"
          },
          "terminal_number": {
            "description": "Номер терминала аэропорта, если место начала или окончания поездки аэропорт",
            "type": "string",
            "example": "TS-41"
          },
          "train_number": {
            "description": "Номер поезда, если место начала поездки ж/д вокзал",
            "type": "string",
            "example": "TS-1352"
          },
          "train_carriage_number": {
            "description": "Номер вагона поезда, если место начала поездки ж/д вокзал",
            "type": "string",
            "example": "TS-4"
          },
          "address": {
            "description": "Адрес места",
            "type": "string",
            "example": "Новосибирск"
          },
          "location": {
            "description": "Координаты места",
            "type": "string",
            "example": "55.00835259999999,82.9357327"
          },
          "time": {
            "description": "Время прилета/вылета самолета, прибытия/отправления поезда или подачи автомобиля. Зависит от типа места отправления/назначения",
            "type": "string",
            "format": "date-time",
            "example": "2020-05-30 00:00"
          }
        }
      },
      "place_object": {
        "title": "Точка маршрута",
        "type": "object",
        "properties": {
          "place_id": {
            "title": "ID места",
            "type": "integer",
            "example": 9
          },
          "title": {
            "title": "Название места",
            "type": "string",
            "example": "Новосибирск"
          },
          "type": {
            "title": "Тип места",
            "type": "integer",
            "description": "`1` - В черте города\n`2` - Аэропорт\n`3` - Ж/д вокзал\n`4` - Вблизи города\n`5` - Населенный пункт\n`6` - Прочее\n`7` - В пределах МКАД\n`8` - В пределах КАД\n`9` - Центр города\n`10` - Отель\n",
            "example": 1
          },
          "type_title": {
            "title": "Навание типа места",
            "type": "string",
            "example": "в черте города"
          },
          "terminal": {
            "title": "Терминалы",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "declension_titles": {
            "title": "Название в разных склонениях",
            "type": "object",
            "properties": {
              "nom": {
                "title": "Именительный",
                "type": "string",
                "example": null
              },
              "gen": {
                "title": "Родительный",
                "type": "string",
                "example": null
              },
              "acc": {
                "title": "Винительный",
                "type": "string",
                "example": null
              }
            }
          }
        }
      },
      "trip_object": {
        "title": "Поездка",
        "type": "object",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "price_id": {
            "$ref": "#/components/schemas/price_id"
          },
          "start_location": {
            "$ref": "#/components/schemas/location_object"
          },
          "finish_location": {
            "$ref": "#/components/schemas/location_object"
          },
          "additional_locations": {
            "title": "Список доп. адресов",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location_object"
            }
          },
          "passengers": {
            "title": "Список пассажиров",
            "type": "array",
            "items": {
              "title": "Пассажир",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Имя пассажира",
                  "type": "string",
                  "example": "Test Test"
                },
                "email": {
                  "description": "Адрес электронной почты пассажира",
                  "type": "string",
                  "example": "iwaytest@gmail.com"
                },
                "phone": {
                  "description": "Телефон пассажира",
                  "type": "string",
                  "example": "79139134657"
                }
              }
            }
          },
          "customer": {
            "title": "Менеджер бронист",
            "type": "object",
            "properties": {
              "name": {
                "description": "Имя менеджера",
                "type": "string",
                "example": "Test Test"
              },
              "email": {
                "description": "Адрес электронной почты менеджера",
                "type": "string",
                "example": "iwaytest@gmail.com"
              },
              "phone": {
                "description": "Телефон менеджера",
                "type": "string",
                "example": "79139134657"
              }
            }
          },
          "passengers_number": {
            "$ref": "#/components/schemas/passengers_number"
          },
          "text_tablet": {
            "$ref": "#/components/schemas/text_tablet"
          },
          "comment": {
            "$ref": "#/components/schemas/comment"
          },
          "additional_change_itinerary": {
            "$ref": "#/components/schemas/additional_change_itinerary"
          },
          "additional_wait": {
            "$ref": "#/components/schemas/additional_wait"
          },
          "fare_on_toll_road": {
            "$ref": "#/components/schemas/fare_on_toll_road"
          },
          "additional_services": {
            "title": "Массив идентификаторов активных услуг",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                }
              }
            },
            "example": [
              {
                "id": 2
              }
            ]
          },
          "platform": {
            "title": "Идентификатор платформы (оговаривается при интеграции)",
            "type": "integer",
            "description": "`3` - Модуль бронирования / Frame\n`7` - API интеграция\n",
            "enum": [
              3,
              7
            ],
            "example": 7,
            "default": 7
          },
          "flexible_tariff": {
            "$ref": "#/components/schemas/flexible_tariff"
          },
          "flexible_tariff_agreement": {
            "$ref": "#/components/schemas/flexible_tariff_agreement"
          },
          "pos": {
            "$ref": "#/components/schemas/pos"
          },
          "send_params": {
            "title": "Настройки уведомлений",
            "type": "object",
            "properties": {
              "send_client_voucher": {
                "description": "Отправлять ваучер пассажиру",
                "type": "boolean",
                "example": false
              },
              "send_admin_voucher": {
                "description": "Отправлять ваучер администратору личного кабинета",
                "type": "boolean",
                "example": false
              },
              "send_client_doc": {
                "description": "Отправлять документы пользователю личного кабинета",
                "type": "boolean",
                "example": false
              },
              "send_admin_doc": {
                "description": "Отправлять документы администратору личного кабинета",
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "order_object": {
        "title": "Заказ",
        "type": "object",
        "properties": {
          "order_id": {
            "$ref": "#/components/schemas/order_id"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          },
          "booker_number": {
            "$ref": "#/components/schemas/booker_number"
          },
          "price": {
            "$ref": "#/components/schemas/price"
          },
          "payable_status": {
            "$ref": "#/components/schemas/payable_status"
          },
          "service_id": {
            "$ref": "#/components/schemas/service_id"
          },
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          },
          "passengers": {
            "type": "array",
            "items": {
              "title": "Пассажир",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Имя пассажира",
                  "type": "string",
                  "example": "Test Test"
                },
                "email": {
                  "description": "Адрес электронной почты пассажира",
                  "type": "string",
                  "example": "iwaytest@gmail.com"
                },
                "phone": {
                  "description": "Телефон пассажира",
                  "type": "string",
                  "example": "79139134657"
                }
              }
            }
          },
          "customer": {
            "title": "Менеджер бронист",
            "type": "object",
            "properties": {
              "name": {
                "description": "Имя менеджера",
                "type": "string",
                "example": "Test Test"
              },
              "email": {
                "description": "Адрес электронной почты менеджера",
                "type": "string",
                "example": "iwaytest@gmail.com"
              },
              "phone": {
                "description": "Телефон менеджера",
                "type": "string",
                "example": "79139134657"
              }
            }
          },
          "additional_change_itinerary": {
            "$ref": "#/components/schemas/additional_change_itinerary"
          },
          "additional_wait": {
            "$ref": "#/components/schemas/additional_wait"
          },
          "fare_on_toll_road": {
            "$ref": "#/components/schemas/fare_on_toll_road"
          },
          "send_params": {
            "title": "Настройки уведомлений",
            "type": "object",
            "properties": {
              "send_client_voucher": {
                "description": "Отправлять ваучер пассажиру",
                "type": "boolean",
                "example": false
              },
              "send_admin_voucher": {
                "description": "Отправлять ваучер администратору личного кабинета",
                "type": "boolean",
                "example": false
              },
              "send_client_doc": {
                "description": "Отправлять документы пользователю личного кабинета",
                "type": "boolean",
                "example": false
              },
              "send_admin_doc": {
                "description": "Отправлять документы администратору личного кабинета",
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "car_class_object": {
        "title": "Информация по классу автомобиля",
        "type": "object",
        "properties": {
          "car_class_id": {
            "$ref": "#/components/schemas/car_class_id"
          },
          "title": {
            "$ref": "#/components/schemas/title"
          },
          "models": {
            "description": "Массив моделей автомобилей",
            "type": "array",
            "items": {
              "title": "Модель автомобиля",
              "type": "string",
              "example": "Toyota Camry, Ford Focus"
            }
          },
          "photo": {
            "$ref": "#/components/schemas/photo"
          },
          "capacity": {
            "$ref": "#/components/schemas/capacity"
          }
        }
      },
      "reverse_price_object": {
        "title": "Информация по обратному предложению",
        "type": "object",
        "properties": {
          "price_id": {
            "$ref": "#/components/schemas/price_id"
          },
          "price": {
            "$ref": "#/components/schemas/price"
          }
        }
      },
      "additional_services_object": {
        "title": "Список доп. услуг",
        "type": "object",
        "properties": {
          "id": {
            "title": "ID Ценообразования доп услуги",
            "type": "number",
            "example": 25
          },
          "additional_service_id": {
            "title": "ID доп услуги",
            "type": "number",
            "example": 1
          },
          "price": {
            "title": "Цена в валюте прайса",
            "type": "number",
            "example": "RUB"
          },
          "name": {
            "title": "Название доп. услуги",
            "type": "string",
            "example": "Табличка"
          },
          "uid": {
            "title": "Уникальний идентификатор в 1C ценообразования",
            "type": "string",
            "example": "hgds-jrm9-56vgk-gr3h"
          },
          "default_include": {
            "title": "Включена ли услуга в прайс по умолчанию",
            "type": "boolean",
            "example": false
          },
          "slug": {
            "title": "Языковая метка доп. услуги",
            "type": "string",
            "example": "trans.table"
          },
          "type": {
            "title": "Тип доп. услуги",
            "type": "string",
            "example": "table"
          },
          "category": {
            "title": "Категория доп. услуги",
            "type": "string",
            "example": "flexible_tariff"
          }
        }
      },
      "additional_services_revert": {
        "title": "Список доп. услуг для обратной поездки",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "additional_service_id": {
            "type": "integer",
            "example": null
          },
          "uid": {
            "title": "Уникальний идентификатор в 1C ценообразования",
            "type": "string",
            "example": "hgds-jrm9-56vgk-gr3h"
          },
          "default_include": {
            "title": "Включена ли услуга в прайс по умолчанию",
            "type": "boolean",
            "example": false
          },
          "slug": {
            "title": "Языковая метка доп. услуги",
            "type": "string",
            "example": "trans.table"
          },
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "type": {
            "title": "Тип доп. услуги",
            "type": "string",
            "example": "table"
          },
          "category": {
            "title": "Категория доп. услуги",
            "type": "string",
            "example": "flexible_tariff"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Users"
    },
    {
      "name": "place",
      "description": "Places"
    },
    {
      "name": "transport node",
      "description": "TransportNode"
    },
    {
      "name": "price",
      "description": "Prices"
    },
    {
      "name": "order",
      "description": "Orders"
    },
    {
      "name": "document",
      "description": "Documents"
    }
  ],
  "externalDocs": {
    "description": "Developer Guide",
    "url": "https://docs.google.com/document/d/1mmg5IsgU3SKlspNxdC70tfeuhkSg4i3QpPcsDBIxT4o"
  }
}