{
  "openapi": "3.0.3",
  "info": {
    "title": "Ometria Data API",
    "description": "The Ometria Data API allows you to push and retrieve customer data, products, orders, and events. It supports batch operations and provides comprehensive endpoints for managing your customer data platform.",
    "version": "2.0",
    "contact": {
      "url": "http://docs.ometria.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.ometria.com/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/push": {
      "post": {
        "summary": "Push data records",
        "description": "Accepts a list of up to 100 records of any accepted types: contact, custom event, product, profile, or order",
        "operationId": "pushData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 100,
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Contact"
                    },
                    {
                      "$ref": "#/components/schemas/Order"
                    },
                    {
                      "$ref": "#/components/schemas/Product"
                    },
                    {
                      "$ref": "#/components/schemas/CustomEvent"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Push object accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key unauthorized"
          }
        },
        "tags": [
          "push"
        ]
      }
    },
    "/push-errors": {
      "get": {
        "summary": "List push errors",
        "description": "Get a list of errors from push operations",
        "operationId": "listPushErrors",
        "responses": {
          "200": {
            "description": "List of push errors"
          }
        },
        "tags": [
          "push-errors"
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "description": "Get a list of products with optional filtering",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 250
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeVariants",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "products"
        ]
      }
    },
    "/products/{product_id}": {
      "get": {
        "summary": "Get product by ID",
        "description": "Retrieve a single product by its ID",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        },
        "tags": [
          "products"
        ]
      }
    },
    "/orders": {
      "get": {
        "summary": "List orders",
        "description": "Get a list of orders with optional filtering",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updateSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "orders"
        ]
      }
    },
    "/orders/{order_id}": {
      "get": {
        "summary": "Get order by ID",
        "description": "Retrieve a single order by its ID",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        },
        "tags": [
          "orders"
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "List contact collections",
        "description": "Get available contact collections",
        "operationId": "listContactCollections",
        "responses": {
          "200": {
            "description": "Array of collections"
          }
        },
        "tags": [
          "contacts"
        ]
      }
    },
    "/contacts/{collection}": {
      "get": {
        "summary": "List contacts in collection",
        "description": "Get contacts from a specific collection",
        "operationId": "listContacts",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "contacts"
        ]
      }
    },
    "/contacts/{collection}/{contact_id}": {
      "get": {
        "summary": "Get contact by ID",
        "description": "Retrieve a single contact by its ID from a collection",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        },
        "tags": [
          "contacts"
        ]
      }
    },
    "/custom-events": {
      "get": {
        "summary": "List custom events",
        "description": "Get a list of custom events",
        "operationId": "listCustomEvents",
        "responses": {
          "200": {
            "description": "Array of custom events"
          }
        },
        "tags": [
          "custom-events"
        ]
      }
    },
    "/custom-events/{event-type}": {
      "get": {
        "summary": "List events by type",
        "description": "Get custom events of a specific type",
        "operationId": "listCustomEventsByType",
        "parameters": [
          {
            "name": "event-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of custom events"
          }
        },
        "tags": [
          "custom-events"
        ]
      }
    },
    "/custom-events/{event-type}/{event-id}": {
      "get": {
        "summary": "Get custom event by ID",
        "description": "Retrieve a single custom event by type and ID",
        "operationId": "getCustomEvent",
        "parameters": [
          {
            "name": "event-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom event object"
          }
        },
        "tags": [
          "custom-events"
        ]
      }
    },
    "/profiles": {
      "get": {
        "summary": "List profiles",
        "description": "Get a list of customer profiles",
        "operationId": "listProfiles",
        "responses": {
          "200": {
            "description": "Array of profiles"
          }
        },
        "tags": [
          "profiles"
        ]
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "summary": "Get profile by ID",
        "description": "Retrieve a single profile by its ID",
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile object"
          }
        },
        "tags": [
          "profiles"
        ]
      }
    },
    "/merge-profile": {
      "post": {
        "summary": "Merge profiles",
        "description": "Merge two customer profiles",
        "operationId": "mergeProfile",
        "responses": {
          "200": {
            "description": "Merge operation started"
          }
        },
        "tags": [
          "merge-profile"
        ]
      },
      "get": {
        "summary": "List merge jobs",
        "description": "Get a list of profile merge jobs",
        "operationId": "listMergeJobs",
        "responses": {
          "200": {
            "description": "Array of merge jobs"
          }
        },
        "tags": [
          "merge-profile"
        ]
      }
    },
    "/merge-profile/{job_id}": {
      "get": {
        "summary": "Get merge job by ID",
        "description": "Retrieve the status of a merge job",
        "operationId": "getMergeJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merge job object"
          }
        },
        "tags": [
          "merge-profile"
        ]
      }
    },
    "/lists": {
      "get": {
        "summary": "List segments",
        "description": "Get a list of customer segments/lists",
        "operationId": "listSegments",
        "responses": {
          "200": {
            "description": "Array of lists"
          }
        },
        "tags": [
          "lists"
        ]
      }
    },
    "/lists/{list_id}": {
      "get": {
        "summary": "Get list by ID",
        "description": "Retrieve a single list/segment by its ID",
        "operationId": "getList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List object"
          }
        },
        "tags": [
          "lists"
        ]
      }
    },
    "/lists/{list_id}/changes": {
      "get": {
        "summary": "Get list changes",
        "description": "Get changes to a specific list",
        "operationId": "getListChanges",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List changes"
          }
        },
        "tags": [
          "lists"
        ]
      }
    },
    "/lists/{list_id}/contacts": {
      "get": {
        "summary": "Get list contacts",
        "description": "Get contacts in a specific list",
        "operationId": "getListContacts",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of contacts"
          }
        },
        "tags": [
          "lists"
        ]
      }
    },
    "/lists/{list_id}/contacts/export": {
      "get": {
        "summary": "Export list contacts",
        "description": "Export contacts from a list",
        "operationId": "exportListContacts",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export file or URL"
          }
        },
        "tags": [
          "lists"
        ]
      }
    },
    "/transactional-email/send": {
      "post": {
        "summary": "Send transactional email",
        "description": "Send a transactional email to a customer",
        "operationId": "sendTransactionalEmail",
        "responses": {
          "200": {
            "description": "Email sent successfully"
          }
        },
        "tags": [
          "transactional-email"
        ]
      }
    },
    "/unsubscribes": {
      "get": {
        "summary": "List unsubscribes",
        "description": "Get a list of unsubscribed contacts",
        "operationId": "listUnsubscribes",
        "responses": {
          "200": {
            "description": "Array of unsubscribe records"
          }
        },
        "tags": [
          "unsubscribes"
        ]
      }
    },
    "/data-deletion-requests": {
      "get": {
        "summary": "List data deletion requests",
        "description": "Get GDPR data deletion requests",
        "operationId": "listDataDeletionRequests",
        "responses": {
          "200": {
            "description": "Array of deletion requests"
          }
        },
        "tags": [
          "data-deletion-requests"
        ]
      },
      "post": {
        "summary": "Create data deletion request",
        "description": "Create a GDPR data deletion request",
        "operationId": "createDataDeletionRequest",
        "responses": {
          "200": {
            "description": "Deletion request created"
          }
        },
        "tags": [
          "data-deletion-requests"
        ]
      }
    },
    "/data-deletion-requests/{id}": {
      "get": {
        "summary": "Get data deletion request",
        "description": "Retrieve a data deletion request by ID",
        "operationId": "getDataDeletionRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion request object"
          }
        },
        "tags": [
          "data-deletion-requests"
        ]
      }
    },
    "/custom-fields": {
      "get": {
        "summary": "List custom fields",
        "description": "Get custom field definitions",
        "operationId": "listCustomFields",
        "responses": {
          "200": {
            "description": "Array of custom fields"
          }
        },
        "tags": [
          "custom-fields"
        ]
      },
      "post": {
        "summary": "Create custom field",
        "description": "Create a new custom field definition",
        "operationId": "createCustomField",
        "responses": {
          "200": {
            "description": "Custom field created"
          }
        },
        "tags": [
          "custom-fields"
        ]
      },
      "put": {
        "summary": "Update custom field",
        "description": "Update an existing custom field",
        "operationId": "updateCustomField",
        "responses": {
          "200": {
            "description": "Custom field updated"
          }
        },
        "tags": [
          "custom-fields"
        ]
      }
    },
    "/custom-fields/{category_id}": {
      "delete": {
        "summary": "Delete custom field",
        "description": "Delete a custom field by category ID",
        "operationId": "deleteCustomField",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field deleted"
          }
        },
        "tags": [
          "custom-fields"
        ]
      }
    },
    "/translations-requests": {
      "get": {
        "summary": "List translation requests",
        "description": "Get translation requests",
        "operationId": "listTranslationRequests",
        "responses": {
          "200": {
            "description": "Array of translation requests"
          }
        },
        "tags": [
          "translations-requests"
        ]
      }
    },
    "/translations-requests/{request_id}": {
      "get": {
        "summary": "Get translation request",
        "description": "Retrieve a translation request by ID",
        "operationId": "getTranslationRequest",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Translation request object"
          }
        },
        "tags": [
          "translations-requests"
        ]
      }
    },
    "/translations-submit": {
      "post": {
        "summary": "Submit translation",
        "description": "Submit a translation",
        "operationId": "submitTranslation",
        "responses": {
          "200": {
            "description": "Translation submitted"
          }
        },
        "tags": [
          "translations-submit"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Ometria-Auth"
      }
    },
    "schemas": {
      "PushResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "OK",
              "ERROR"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "accepted": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "@type",
          "id"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "enum": [
              "contact"
            ]
          },
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "maxLength": 255
          },
          "phone_number": {
            "type": "string"
          },
          "customer_id": {
            "type": "string",
            "maxLength": 255
          },
          "firstname": {
            "type": "string",
            "maxLength": 64
          },
          "lastname": {
            "type": "string",
            "maxLength": 64
          },
          "middlename": {
            "type": "string",
            "maxLength": 64
          },
          "marketing_optin": {
            "type": "string",
            "enum": [
              "EXPLICITLY_OPTEDOUT",
              "NOT_SPECIFIED",
              "EXPLICITLY_OPTEDIN"
            ]
          },
          "country_id": {
            "type": "string",
            "maxLength": 2
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "@add_to_lists": {
            "type": "array",
            "maxItems": 16,
            "items": {
              "type": "string"
            }
          },
          "@remove_from_lists": {
            "type": "array",
            "maxItems": 16,
            "items": {
              "type": "string"
            }
          },
          "channels": {
            "type": "object",
            "properties": {
              "sms": {
                "type": "object",
                "properties": {
                  "marketing_optin": {
                    "type": "string",
                    "enum": [
                      "EXPLICITLY_OPTEDOUT",
                      "NOT_SPECIFIED",
                      "EXPLICITLY_OPTEDIN"
                    ]
                  },
                  "transactional_optin": {
                    "type": "string",
                    "enum": [
                      "EXPLICITLY_OPTEDOUT",
                      "NOT_SPECIFIED",
                      "EXPLICITLY_OPTEDIN"
                    ]
                  }
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "@type",
          "id",
          "timestamp",
          "grand_total",
          "subtotal",
          "currency"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "enum": [
              "order"
            ]
          },
          "id": {
            "type": "string",
            "maxLength": 36
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string",
            "maxLength": 3
          },
          "grand_total": {
            "type": "number",
            "format": "float"
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "format": "float"
          },
          "shipping": {
            "type": "number",
            "format": "float"
          },
          "tax": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string"
          },
          "is_valid": {
            "type": "boolean"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "phone_number": {
                "type": "string"
              }
            }
          },
          "lineitems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineItem"
            }
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "channel": {
            "type": "string",
            "default": "online"
          },
          "payment_method": {
            "type": "string",
            "maxLength": 32
          },
          "shipping_method": {
            "type": "string",
            "maxLength": 32
          }
        }
      },
      "OrderLineItem": {
        "type": "object",
        "required": [
          "product_id",
          "quantity",
          "unit_price"
        ],
        "properties": {
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string",
            "maxLength": 255
          },
          "sku": {
            "type": "string",
            "maxLength": 255
          },
          "quantity": {
            "type": "integer"
          },
          "unit_price": {
            "type": "number",
            "format": "float"
          },
          "quantity_refunded": {
            "type": "integer"
          },
          "refunded": {
            "type": "number",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "format": "float"
          },
          "variant_options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country_code": {
            "type": "string",
            "maxLength": 2
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "@type",
          "id",
          "title",
          "price"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "enum": [
              "product"
            ]
          },
          "id": {
            "type": "string",
            "maxLength": 255
          },
          "title": {
            "type": "string",
            "maxLength": 140
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "sku": {
            "type": "string",
            "maxLength": 255
          },
          "is_variant": {
            "type": "boolean"
          },
          "parent_id": {
            "type": "string",
            "maxLength": 255
          },
          "special_price": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "special_price_dt_from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "special_price_dt_to": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "is_in_stock": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "maxLength": 1024
          },
          "image_url": {
            "type": "string",
            "maxLength": 1024
          },
          "attributes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          },
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "price": {
                  "type": "number",
                  "format": "float"
                },
                "store": {
                  "type": "string",
                  "maxLength": 32
                },
                "currency": {
                  "type": "string",
                  "maxLength": 3
                },
                "is_active": {
                  "type": "boolean"
                },
                "special_price": {
                  "type": "number",
                  "format": "float",
                  "nullable": true
                },
                "url": {
                  "type": "string"
                },
                "image_url": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CustomEvent": {
        "type": "object",
        "required": [
          "@type",
          "id",
          "event_type",
          "timestamp",
          "properties"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "enum": [
              "custom_event"
            ]
          },
          "id": {
            "type": "string",
            "maxLength": 32
          },
          "event_type": {
            "type": "string",
            "maxLength": 64
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          },
          "profile_id": {
            "type": "string"
          },
          "identity_email": {
            "type": "string",
            "maxLength": 255
          },
          "identity_phone_number": {
            "type": "string"
          },
          "identity_account_id": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "contacts"
    },
    {
      "name": "custom-events"
    },
    {
      "name": "custom-fields"
    },
    {
      "name": "data-deletion-requests"
    },
    {
      "name": "lists"
    },
    {
      "name": "merge-profile"
    },
    {
      "name": "orders"
    },
    {
      "name": "products"
    },
    {
      "name": "profiles"
    },
    {
      "name": "push"
    },
    {
      "name": "push-errors"
    },
    {
      "name": "transactional-email"
    },
    {
      "name": "translations-requests"
    },
    {
      "name": "translations-submit"
    },
    {
      "name": "unsubscribes"
    }
  ]
}
