{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "Bills",
    "description": "Bill payment related functionalities",
    "termsOfService": "http://onskyline.io/terms/",
    "contact": {
      "name": "Skyline API Team",
      "email": "bobby@onskyline.com",
      "url": "http://onskyline.io"
    },
    "license": {
      "name": "Skyline",
      "url": "https://onskyline.com/licenses/skyline"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegmergius/bills/0.0.1/swagger.json"
  },
  "host": "onskyline.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/bills": {
      "get": {
        "description": "Returns a list of payments for a particular account",
        "operationId": "accountPayments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "header",
            "description": "Token to be passed as a header value",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of payments for an account",
            "schema": {
              "$ref": "#/definitions/paymentsResponse"
            }
          },
          "400": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "tags": [
          "bills"
        ]
      }
    }
  },
  "definitions": {
    "paymentsResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "result": {
          "$ref": "#/definitions/paymentsResults"
        }
      }
    },
    "paymentsResults": {
      "type": "object",
      "properties": {
        "paymentHistory": {
          "$ref": "#/definitions/paymentHistory"
        }
      }
    },
    "paymentHistory": {
      "type": "object",
      "properties": {
        "dueDateIso": {
          "type": "string"
        },
        "amountFormatted": {
          "type": "string"
        },
        "itemCorrectionInd": {
          "type": "string"
        },
        "billerAccountNumber": {
          "type": "string"
        },
        "referenceNumber": {
          "type": "string"
        },
        "fromAccountNumber": {
          "type": "string"
        },
        "billerName": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "fromAccountName": {
          "type": "string"
        },
        "deletedBillerFlag": {
          "type": "string"
        },
        "billerCurrencyId": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "billerIndex": {
          "type": "string"
        },
        "descriptionCode": {
          "type": "string"
        },
        "dueDateDetails": {
          "type": "string"
        },
        "effectiveDate": {
          "type": "string"
        },
        "dueDate": {
          "type": "string"
        },
        "billerNumber": {
          "type": "string"
        }
      }
    },
    "metadata": {
      "type": "object",
      "properties": {
        "paging": {
          "$ref": "#/definitions/paging"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/error"
          }
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/warning"
          }
        }
      }
    },
    "errorResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/errorMetadata"
        }
      }
    },
    "errorMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/error"
          }
        }
      }
    },
    "error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "warning": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "paging": {
      "type": "object",
      "required": [
        "offset",
        "count",
        "limit"
      ],
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "type": "integer",
          "format": "int64"
        },
        "limit": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  },
  "tags": [
    {
      "name": "bills"
    }
  ]
}
