{
  "openapi": "3.0.3",
  "info": {
    "title": "HTML/CSS to Image API",
    "description": "HTML to Image is a powerful image and document generation API. Convert HTML/CSS to images, capture website screenshots, generate PDFs, create charts, compress images, merge/split PDFs, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.htmlcsstoimg.com"
  },
  "servers": [
    {
      "url": "https://api.htmlcsstoimg.com/api/v1",
      "description": "Image API"
    },
    {
      "url": "https://pdfmunk.com/api/v1",
      "description": "PDFMunk API (extended features)"
    }
  ],
  "paths": {
    "/generateImage": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate an image from HTML/CSS or URL",
        "description": "Create an image by providing HTML/CSS content or a URL for screenshot capture.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generatePdf": {
      "post": {
        "operationId": "generatePdf",
        "summary": "Generate a PDF from HTML/CSS or URL",
        "description": "Create a PDF document from HTML/CSS content or a webpage URL.",
        "tags": [
          "PDF Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratePdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratePdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generateChart": {
      "post": {
        "operationId": "generateChart",
        "summary": "Generate a chart image",
        "description": "Create a chart image using Chart.js configuration.",
        "tags": [
          "Chart Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateChartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/compress": {
      "post": {
        "operationId": "compressImage",
        "summary": "Compress an image",
        "description": "Compress an image from URL or base64 input. Maximum 3MB file size.",
        "tags": [
          "Image Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image compressed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdf/merge": {
      "post": {
        "operationId": "mergePdfs",
        "summary": "Merge multiple PDFs",
        "description": "Merge 2-15 PDF files into a single document. Max 200 pages per PDF, 500 total.",
        "tags": [
          "PDF Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergePdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDFs merged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergePdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdf/split": {
      "post": {
        "operationId": "splitPdf",
        "summary": "Split a PDF",
        "description": "Extract specific pages from a PDF. Max 200 pages per PDF.",
        "tags": [
          "PDF Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SplitPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF split successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitPdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/unlockPdf": {
      "post": {
        "operationId": "unlockPdf",
        "summary": "Unlock a password-protected PDF",
        "description": "Remove password protection from a PDF file. Maximum 10MB file size.",
        "tags": [
          "PDF Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UnlockPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF unlocked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlockPdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/url-to-html": {
      "post": {
        "operationId": "urlToHtml",
        "summary": "Convert URL to HTML",
        "description": "Fetch and return the rendered HTML content of a webpage.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlToHtmlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML content retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlToHtmlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "CLIENT-API-KEY",
        "description": "API key available on your dashboard"
      }
    },
    "schemas": {
      "GenerateImageRequest": {
        "type": "object",
        "properties": {
          "html_content": {
            "type": "string",
            "description": "HTML markup to render"
          },
          "css_content": {
            "type": "string",
            "description": "CSS styling"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webpage URL for screenshot capture"
          },
          "font": {
            "type": "string",
            "description": "Google Font name to import"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "url",
              "base64",
              "both",
              "image",
              "png",
              "binary",
              "file"
            ],
            "default": "url"
          },
          "width": {
            "type": "integer",
            "default": 1280
          },
          "height": {
            "type": "integer",
            "default": 720
          },
          "viewPortWidth": {
            "type": "integer",
            "default": 1080
          },
          "viewPortHeight": {
            "type": "integer",
            "default": 720
          },
          "device_scale_factor": {
            "type": "number",
            "minimum": 1,
            "maximum": 3,
            "default": 1
          },
          "quality": {
            "type": "integer",
            "minimum": 30,
            "maximum": 100,
            "default": 80
          },
          "generate_img_url": {
            "type": "boolean",
            "default": true,
            "description": "Return URL or binary"
          },
          "full_page": {
            "type": "boolean",
            "default": false,
            "description": "Capture full page"
          },
          "wait_till": {
            "type": "integer",
            "default": 0,
            "description": "Seconds to wait before capture"
          },
          "wait_until": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle"
            ],
            "default": "load"
          },
          "dynamic_params": {
            "type": "object",
            "description": "Template replacement parameters"
          }
        }
      },
      "GenerateImageResponse": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string"
          },
          "image_base64": {
            "type": "string"
          },
          "execution_time_ms": {
            "type": "number"
          }
        }
      },
      "GeneratePdfRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webpage URL for PDF generation"
          },
          "html_content": {
            "type": "string",
            "description": "HTML markup"
          },
          "css_content": {
            "type": "string",
            "description": "CSS styling"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "url",
              "pdf",
              "binary",
              "file"
            ],
            "default": "url"
          },
          "paper_size": {
            "type": "string",
            "enum": [
              "A3",
              "A4",
              "A5",
              "Letter",
              "Legal",
              "Tabloid"
            ],
            "default": "A4"
          },
          "paperWidth": {
            "type": "number"
          },
          "paperHeight": {
            "type": "number"
          },
          "landscape": {
            "type": "boolean",
            "default": false
          },
          "printBackground": {
            "type": "boolean",
            "default": true
          },
          "displayHeaderFooter": {
            "type": "boolean",
            "default": false
          },
          "preferCSSPageSize": {
            "type": "boolean",
            "default": true
          },
          "page_size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "viewPortWidth": {
            "type": "integer",
            "default": 1080
          },
          "viewPortHeight": {
            "type": "integer",
            "default": 720
          },
          "font": {
            "type": "string",
            "description": "Google Font names"
          },
          "generate_pdf_url": {
            "type": "boolean",
            "default": true
          },
          "wait_till": {
            "type": "integer",
            "default": 0
          },
          "dynamic_params": {
            "type": "object"
          }
        }
      },
      "GeneratePdfResponse": {
        "type": "object",
        "properties": {
          "pdf_url": {
            "type": "string"
          },
          "file_size_bytes": {
            "type": "integer"
          },
          "file_deletion_date": {
            "type": "string"
          }
        }
      },
      "GenerateChartRequest": {
        "type": "object",
        "required": [
          "chart_type",
          "data"
        ],
        "properties": {
          "chart_type": {
            "type": "string",
            "enum": [
              "line",
              "bar",
              "pie",
              "doughnut",
              "radar",
              "polarArea",
              "bubble",
              "scatter"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "datasets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChartDataset"
                }
              }
            }
          },
          "options": {
            "type": "object",
            "description": "Chart.js configuration options"
          },
          "width": {
            "type": "integer",
            "default": 800
          },
          "height": {
            "type": "integer",
            "default": 600
          },
          "output_format": {
            "type": "string",
            "enum": [
              "url",
              "base64",
              "both",
              "image"
            ],
            "default": "url"
          }
        }
      },
      "ChartDataset": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "backgroundColor": {},
          "borderColor": {},
          "borderWidth": {
            "type": "number"
          }
        }
      },
      "GenerateChartResponse": {
        "type": "object",
        "properties": {
          "chart_url": {
            "type": "string"
          },
          "chart_base64": {
            "type": "string"
          },
          "execution_time_ms": {
            "type": "number"
          }
        }
      },
      "CompressRequest": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "base64_image": {
            "type": "string"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "url",
              "base64"
            ],
            "default": "url"
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 85
          }
        }
      },
      "CompressResponse": {
        "type": "object",
        "properties": {
          "compressed_image_url": {
            "type": "string"
          },
          "compressed_base64_image": {
            "type": "string"
          }
        }
      },
      "MergePdfRequest": {
        "type": "object",
        "required": [
          "urls"
        ],
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 2,
            "maxItems": 15,
            "description": "PDF URLs to merge"
          }
        }
      },
      "MergePdfResponse": {
        "type": "object",
        "properties": {
          "merged_pdf_url": {
            "type": "string"
          },
          "total_pages": {
            "type": "integer"
          },
          "input_count": {
            "type": "integer"
          }
        }
      },
      "SplitPdfRequest": {
        "type": "object",
        "required": [
          "url",
          "pages"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "pages": {
            "type": "string",
            "description": "Page range (e.g., '1-5', '3', '1-3,5,7-10', '10-')"
          }
        }
      },
      "SplitPdfResponse": {
        "type": "object",
        "properties": {
          "split_pdf_url": {
            "type": "string"
          },
          "extracted_pages": {
            "type": "integer"
          },
          "original_pages": {
            "type": "integer"
          }
        }
      },
      "UnlockPdfRequest": {
        "type": "object",
        "required": [
          "file",
          "password"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "PDF file to unlock"
          },
          "password": {
            "type": "string"
          },
          "output_name": {
            "type": "string"
          }
        }
      },
      "UnlockPdfResponse": {
        "type": "object",
        "properties": {
          "unlocked_pdf_url": {
            "type": "string"
          }
        }
      },
      "UrlToHtmlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "wait_till": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle"
            ],
            "default": "load"
          },
          "timeout": {
            "type": "integer",
            "default": 30000,
            "description": "Milliseconds"
          },
          "wait_for_selector": {
            "type": "string",
            "description": "CSS selector to await"
          },
          "wait_for_timeout": {
            "type": "integer",
            "default": 0
          },
          "viewport_width": {
            "type": "integer",
            "default": 1920
          },
          "viewport_height": {
            "type": "integer",
            "default": 1080
          },
          "user_agent": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "UrlToHtmlResponse": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "details": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "Generate images from HTML/CSS or URLs"
    },
    {
      "name": "PDF Generation",
      "description": "Generate PDFs from HTML/CSS or URLs"
    },
    {
      "name": "Chart Generation",
      "description": "Generate chart images"
    },
    {
      "name": "Image Processing",
      "description": "Image compression and manipulation"
    },
    {
      "name": "PDF Processing",
      "description": "PDF merge, split, and unlock operations"
    },
    {
      "name": "Conversion",
      "description": "URL to HTML conversion"
    }
  ]
}