{
  "openapi": "3.0.3",
  "info": {
    "title": "Finlight API",
    "version": "2.0",
    "description": "Finlight is a financial and geopolitical news API allowing you to make informed decisions. Search and retrieve financial news articles with sentiment analysis.",
    "x-jentic-source-url": "https://docs.finlight.me"
  },
  "servers": [
    {
      "url": "https://api.finlight.me/v2",
      "description": "Production API v2"
    }
  ],
  "paths": {
    "/articles": {
      "get": {
        "operationId": "getArticles",
        "summary": "Search articles",
        "description": "Search and retrieve financial news articles with sentiment analysis.",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search term (e.g., 'Nvidia', 'Bitcoin')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code (e.g., 'en')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Article"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "searchArticles",
        "summary": "Search articles with advanced filters",
        "description": "Search financial news articles with advanced query filters and sentiment analysis.",
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Article"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key obtained from the Finlight dashboard at app.finlight.me"
      }
    },
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Article identifier"
          },
          "title": {
            "type": "string",
            "description": "Article title"
          },
          "description": {
            "type": "string",
            "description": "Article description or summary"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the original article"
          },
          "source": {
            "type": "string",
            "description": "News source name"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Publication date and time"
          },
          "language": {
            "type": "string",
            "description": "Article language code"
          },
          "sentiment": {
            "$ref": "#/components/schemas/Sentiment"
          }
        }
      },
      "Sentiment": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "format": "double",
            "description": "Sentiment score"
          },
          "label": {
            "type": "string",
            "description": "Sentiment label (positive, negative, neutral)"
          }
        }
      },
      "ArticleSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Search term"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g., 'en')"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Articles",
      "description": "Financial news articles with sentiment analysis"
    }
  ]
}