{
  "openapi": "3.0.0",
  "info": {
    "title": "AutoCredit API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/apex.kobul/auto-credit-api/1.0.0/swagger.json",
    "contact": {},
    "description": "AutoCredit API"
  },
  "servers": [
    {
      "url": "http://rest.aic.uz/api/ins/autocredit"
    }
  ],
  "paths": {
    "/contract": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "tr_id",
                  "benifitzar",
                  "borrower",
                  "credit_contract"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f (\u0421\u043e\u043e\u0431\u0449\u0430\u0435\u0442\u0441\u044f \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0449\u0438\u043a\u0430)"
                  },
                  "tr_id": {
                    "type": "integer",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438 (\u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f)"
                  },
                  "benifitzar": {
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "\u0418\u041d\u041d \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "phone": {
                        "type": "string",
                        "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0438\u043b\u0438\u0430\u043b\u0430 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u043a\u0430\u043a\u043e\u0435 \u043d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u0438\u0442\u0435 \u0442\u0430\u043a\u043e\u0439 \u0431\u0443\u0434\u0435\u0442 \u0432 \u043f\u043e\u043b\u0438\u0441\u0435)"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "\u0424\u0418\u041e \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "\u041f\u0418\u041d\u0424\u041b \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0439\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "\u0420\u0430\u0441\u0447\u0435\u0442\u043d\u044b\u0439 \u0441\u0447\u0435\u0442 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "\u041c\u0424\u041e \u0431\u0430\u043d\u043a\u0430 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "oked": {
                        "type": "string",
                        "description": "\u041e\u041a\u042d\u0414 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      }
                    }
                  },
                  "borrower": {
                    "type": "object",
                    "required": [
                      "pinfl",
                      "name",
                      "sname",
                      "patronim",
                      "passport_ser",
                      "passport_num",
                      "birthdate",
                      "phone",
                      "regionid",
                      "districtid",
                      "address",
                      "gender"
                    ],
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "description": "\u041f\u0418\u041d\u0424\u041b \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "name": {
                        "type": "string",
                        "description": "\u0418\u043c\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "sname": {
                        "type": "string",
                        "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "patronim": {
                        "type": "string",
                        "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0415\u0441\u043b\u0438 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0443\u043a\u0430\u0437\u0430\u0442\u044c 'XXX')"
                      },
                      "passport_ser": {
                        "type": "string",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "passport_num": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "birthdate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 'dd.mm.yyyy')"
                      },
                      "phone": {
                        "type": "string",
                        "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 '998XXXXXXXXX')"
                      },
                      "regionid": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /regionid)"
                      },
                      "districtid": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0439\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430)"
                      },
                      "gender": {
                        "type": "integer",
                        "description": "\u041f\u043e\u043b \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                      }
                    }
                  },
                  "objects": {
                    "type": "array",
                    "description": "\u041c\u0430\u0441\u0441\u0438\u0432 \u043e\u0431\u044a\u0435\u043a\u0442\u043e\u0432 \u0441 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0439 \u0438 \u0430\u0432\u0442\u043e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0435\u0439",
                    "items": {
                      "type": "object",
                      "required": [
                        "credit_contract",
                        "auto_insurance"
                      ],
                      "properties": {
                        "credit_contract": {
                          "type": "object",
                          "description": "\u041e\u0431\u044a\u0435\u043a\u0442 - \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u044b\u0439 \u0434\u043e\u0433\u043e\u0432\u043e\u0440",
                          "required": [
                            "reg_number",
                            "start_date",
                            "end_date",
                            "credit_amount",
                            "credit_insurance_sum"
                          ],
                          "properties": {
                            "reg_number": {
                              "type": "string",
                              "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                            },
                            "start_date": {
                              "type": "string",
                              "format": "dd.mm.yyyy",
                              "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                            },
                            "end_date": {
                              "type": "string",
                              "format": "dd.mm.yyyy",
                              "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                            },
                            "credit_amount": {
                              "type": "number",
                              "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                            },
                            "credit_insurance_sum": {
                              "type": "number",
                              "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430 \u043f\u043e \u043a\u0440\u0435\u0434\u0438\u0442\u0443"
                            }
                          }
                        },
                        "auto_insurance": {
                          "type": "object",
                          "description": "\u041e\u0431\u044a\u0435\u043a\u0442 - \u0430\u0432\u0442\u043e",
                          "required": [
                            "vehicleTypeId",
                            "brand",
                            "model",
                            "year",
                            "color",
                            "engine_number",
                            "body_number",
                            "auto_price",
                            "auto_insurance_sum"
                          ],
                          "properties": {
                            "vehicleTypeId": {
                              "type": "integer",
                              "description": "\u0422\u0438\u043f \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f - ID \u0438\u0437 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0430"
                            },
                            "brand": {
                              "type": "integer",
                              "description": "\u041c\u0430\u0440\u043a\u0430 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f - ID \u0438\u0437 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0430"
                            },
                            "model": {
                              "type": "integer",
                              "description": "\u041c\u043e\u0434\u0435\u043b\u044c \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f - ID \u0438\u0437 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0430"
                            },
                            "year": {
                              "type": "integer",
                              "description": "\u0413\u043e\u0434 \u0432\u044b\u043f\u0443\u0441\u043a\u0430 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f"
                            },
                            "color": {
                              "type": "string",
                              "description": "\u0426\u0432\u0435\u0442 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f"
                            },
                            "engine_number": {
                              "type": "string",
                              "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u0432\u0438\u0433\u0430\u0442\u0435\u043b\u044f"
                            },
                            "body_number": {
                              "type": "string",
                              "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0443\u0437\u043e\u0432\u0430"
                            },
                            "auto_price": {
                              "type": "number",
                              "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f"
                            },
                            "auto_insurance_sum": {
                              "type": "number",
                              "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430 (0 \u2014 \u0443\u0441\u043f\u0435\u0445)",
                      "example": 0
                    },
                    "error_text": {
                      "type": "string",
                      "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "contract_id": {
                      "type": "integer",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                    },
                    "auto_object_id": {
                      "type": "integer",
                      "description": "ID \u043e\u0431\u044a\u0435\u043a\u0442\u0430 \u0430\u0432\u0442\u043e"
                    },
                    "credit_object_id": {
                      "type": "integer",
                      "description": "ID \u043e\u0431\u044a\u0435\u043a\u0442\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
        "operationId": "post-contract"
      }
    },
    "/policy": {
      "post": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u0438\u0441\u0430",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "contract_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                  },
                  "contract_id": {
                    "type": "integer",
                    "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0437\u0430\u043f\u0438\u0441\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430 (0 \u2014 \u0443\u0441\u043f\u0435\u0445)",
                      "example": 0
                    },
                    "error_text": {
                      "type": "string",
                      "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "contract_id": {
                      "type": "string",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "\u0421\u0435\u0440\u0438\u044f \u0438 \u043d\u043e\u043c\u0435\u0440 \u043f\u043e\u043b\u0438\u0441\u0430"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0443 \u043f\u043e\u043b\u0438\u0441\u0430",
                      "example": "http://example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u0438\u0441\u0430",
        "operationId": "post-policy"
      }
    },
    "/update_object": {
      "post": {
        "summary": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u043e\u0431\u044a\u0435\u043a\u0442\u0430",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "auto_object_id",
                  "govNumber",
                  "tp_number",
                  "tp_seria"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                  },
                  "auto_object_id": {
                    "type": "integer",
                    "description": "ID \u043e\u0431\u044a\u0435\u043a\u0442\u0430"
                  },
                  "govNumber": {
                    "type": "string",
                    "description": "\u0413\u043e\u0441\u043d\u043e\u043c\u0435\u0440 \u0422\u0421"
                  },
                  "tp_number": {
                    "type": "string",
                    "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                  },
                  "tp_seria": {
                    "type": "string",
                    "description": "\u0421\u0435\u0440\u0438\u044f \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u043e\u0431\u044a\u0435\u043a\u0442\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430 (0 \u2014 \u0443\u0441\u043f\u0435\u0445)",
                      "example": 0
                    },
                    "error_text": {
                      "type": "string",
                      "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "ID \u043e\u0431\u044a\u0435\u043a\u0442\u0430"
                    },
                    "vehicle": {
                      "type": "object",
                      "properties": {
                        "govNumber": {
                          "type": "string",
                          "description": "\u0413\u043e\u0441\u043d\u043e\u043c\u0435\u0440 \u0422\u0421"
                        },
                        "techPassport": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                            },
                            "seria": {
                              "type": "string",
                              "description": "\u0421\u0435\u0440\u0438\u044f \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u043e\u0431\u044a\u0435\u043a\u0442\u0430",
        "operationId": "post-update-object"
      }
    },
    "/calculator": {
      "post": {
        "summary": "\u0420\u0430\u0441\u0447\u0435\u0442 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0439 \u043f\u0440\u0435\u043c\u0438\u0438",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "objects"
                ],
                "properties": {
                  "objects": {
                    "type": "object",
                    "required": [
                      "credit_contract",
                      "auto_insurance"
                    ],
                    "properties": {
                      "credit_contract": {
                        "type": "object",
                        "required": [
                          "start_date",
                          "end_date",
                          "credit_amount",
                          "credit_insurance_sum"
                        ],
                        "properties": {
                          "start_date": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                          },
                          "end_date": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                          },
                          "credit_amount": {
                            "type": "number",
                            "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                          },
                          "credit_insurance_sum": {
                            "type": "number",
                            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430 \u043f\u043e \u043a\u0440\u0435\u0434\u0438\u0442\u0443"
                          }
                        }
                      },
                      "auto_insurance": {
                        "type": "object",
                        "required": [
                          "auto_price",
                          "auto_insurance_sum"
                        ],
                        "properties": {
                          "auto_price": {
                            "type": "number",
                            "description": "\u0421\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f"
                          },
                          "auto_insurance_sum": {
                            "type": "number",
                            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430 \u043f\u043e \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044e"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0440\u0430\u0441\u0447\u0435\u0442\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430 (0 \u2014 \u0443\u0441\u043f\u0435\u0445)",
                      "example": 0
                    },
                    "error_text": {
                      "type": "string",
                      "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "\u041e\u0431\u0449\u0430\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430",
                      "example": 2400000
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f",
                      "example": 11490
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "format": "dd.mm.yyyy",
                      "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
                      "example": "30.06.2025"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "format": "dd.mm.yyyy",
                      "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
                      "example": "29.05.2027"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u0420\u0430\u0441\u0447\u0435\u0442 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0439 \u043f\u0440\u0435\u043c\u0438\u0438",
        "operationId": "post-calculator"
      }
    },
    "/regionid": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionid": {
                            "type": "integer",
                            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u043d\u0430 \u0440\u0443\u0441\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432",
        "operationId": "get-regionid"
      }
    },
    "/districtid": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0430\u0439\u043e\u043d\u043e\u0432",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "regionId",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "districtid": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0439\u043e\u043d\u0430 \u043d\u0430 \u0440\u0443\u0441\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0439\u043e\u043d\u0430 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "regionId": {
                            "type": "number",
                            "description": "ID"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0430\u0439\u043e\u043d\u043e\u0432",
        "operationId": "get-districtid"
      }
    },
    "/brand": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0431\u0440\u0435\u043d\u0434\u043e\u0432 \u0422\u0421",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand": {
                            "type": "integer",
                            "description": "ID \u0431\u0440\u0435\u043d\u0434\u0430 \u0422\u0421"
                          },
                          "name": {
                            "type": "string",
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0440\u0435\u043d\u0434\u0430"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0431\u0440\u0435\u043d\u0434\u043e\u0432 \u0422\u0421",
        "operationId": "get-brand"
      }
    },
    "/vehicleTypeId": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0442\u0438\u043f\u043e\u0432 \u0422\u0421",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vehicleTypeId": {
                            "type": "integer",
                            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0438\u043f\u0430 \u0422\u0421"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0442\u0438\u043f\u0430 \u043d\u0430 \u0440\u0443\u0441\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0442\u0438\u043f\u0430 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0442\u0438\u043f\u043e\u0432 \u0422\u0421",
        "operationId": "get-vehicletypeid"
      }
    },
    "/model": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u0435\u0439",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "brand",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "ID \u0431\u0440\u0435\u043d\u0434\u0430 \u0422\u0421"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "integer",
                            "description": "ID \u043c\u043e\u0434\u0435\u043b\u0438 \u0422\u0421"
                          },
                          "name": {
                            "type": "string",
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043c\u043e\u0434\u0435\u043b\u0438"
                          },
                          "brand": {
                            "type": "integer",
                            "description": "ID \u0431\u0440\u0435\u043d\u0434\u0430 \u0422\u0421"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u0435\u0439",
        "operationId": "get-model"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Contract"
    },
    {
      "name": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
    }
  ]
}
