{
  "openapi": "3.0.3",
  "info": {
    "title": "Adzuna API",
    "version": "1",
    "contact": {},
    "description": "Adzuna API"
  },
  "servers": [
    {
      "url": "https://api.adzuna.com/v1/api"
    }
  ],
  "paths": {
    "/jobs/{country}/search/{page}": {
      "get": {
        "summary": "Search the Adzuna job database",
        "description": "Search the Adzuna job database",
        "operationId": "search",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "ISO 8601 country code of the country of interest",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us",
                "at",
                "au",
                "be",
                "br",
                "ca",
                "ch",
                "de",
                "es",
                "fr",
                "in",
                "it",
                "mx",
                "nl",
                "nz",
                "pl",
                "sg",
                "za"
              ]
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results_per_page",
            "in": "query",
            "required": false,
            "description": "The number of results to include on a page of search results.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "what",
            "in": "query",
            "required": false,
            "description": "The keywords to search for. Multiple terms may be space separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "what_and",
            "in": "query",
            "required": false,
            "description": "The keywords to search for, all keywords must be found.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "what_phrase",
            "in": "query",
            "required": false,
            "description": "An entire phrase which must be found in the description or title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "what_or",
            "in": "query",
            "required": false,
            "description": "The keywords to search for, any keywords may be found. Multiple terms may be space separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "what_exclude",
            "in": "query",
            "required": false,
            "description": "Keywords to exclude from the search. Multiple terms may be space separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title_only",
            "in": "query",
            "required": false,
            "description": "Keywords to find, but only in the title. Multiple terms may be space separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "The geographic centre of the search. Place names, postal codes, etc. may be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "The distance in kilometres from the centre of the place described by the 'where' parameter. Defaults to 5km.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "location0",
            "in": "query",
            "required": false,
            "description": "The location fields may be used to describe a location, in a similar form to that returned in a Adzuna::API::Response::Location object. For example, 'location0=UK&location1=South East England&location2=Surrey' will performn a search over the county of Surrey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location1",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location2",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location3",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location4",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location5",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location6",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location7",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_days_old",
            "in": "query",
            "required": false,
            "description": "The age of the oldest advertisment in days that will be returned.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "The category tag, as returned by the \"category\" endpoint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "description": "The direction to order the search results.",
            "schema": {
              "type": "string",
              "enum": [
                "up",
                "down"
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "The ordering of the search results.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "hybrid",
                "date",
                "salary",
                "relevance"
              ]
            }
          },
          {
            "name": "salary_min",
            "in": "query",
            "required": false,
            "description": "The minimum salary we wish to get results for.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "salary_max",
            "in": "query",
            "required": false,
            "description": "The maximum salary we wish to get results for.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "salary_include_unknown",
            "in": "query",
            "required": false,
            "description": "If set it '1', jobs without a known salary are returned.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "full_time",
            "in": "query",
            "required": false,
            "description": "If set to '1', only full time jobs will be returned.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "part_time",
            "in": "query",
            "required": false,
            "description": "If set to '1', only part time jobs will be returned.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "description": "If set to '1', only contract jobs will be returned.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "permanent",
            "in": "query",
            "required": false,
            "description": "If set to '1', only permanent jobs will be returned.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "The canonical company name. This may be returned in a Adzuna::API::Response::Company object when a job is returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{country}/categories": {
      "get": {
        "summary": "List available categories",
        "description": "List available categories",
        "operationId": "categories",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "ISO 8601 country code of the country of interest",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us",
                "at",
                "au",
                "be",
                "br",
                "ca",
                "ch",
                "de",
                "es",
                "fr",
                "in",
                "it",
                "mx",
                "nl",
                "nz",
                "pl",
                "sg",
                "za"
              ]
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Categories"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{country}/histogram": {
      "get": {
        "summary": "Provide histogram data of salary data",
        "description": "Provide histogram data of salary data",
        "operationId": "histogram",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "ISO 8601 country code of the country of interest",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us",
                "at",
                "au",
                "be",
                "br",
                "ca",
                "ch",
                "de",
                "es",
                "fr",
                "in",
                "it",
                "mx",
                "nl",
                "nz",
                "pl",
                "sg",
                "za"
              ]
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "what",
            "in": "query",
            "required": false,
            "description": "The keywords to search for. Multiple terms may be space separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location0",
            "in": "query",
            "required": false,
            "description": "The locationN fields may be used to describe a location, in a similar form to that returned in a Adzuna::API::Response::Location object. For example, 'location0=UK&location1=South East England&location2=Surrey' will performn a search over the county of Surrey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location1",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location2",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location3",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location4",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location5",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location6",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location7",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "The category tag, as returned by the 'category' endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Histogram data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryHistogram"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{country}/top_companies": {
      "get": {
        "summary": "List the top employers for the search terms supplied",
        "description": "List the top employers for the search terms supplied",
        "operationId": "topCompanies",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "ISO 8601 country code of the country of interest",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us",
                "at",
                "au",
                "be",
                "br",
                "ca",
                "ch",
                "de",
                "es",
                "fr",
                "in",
                "it",
                "mx",
                "nl",
                "nz",
                "pl",
                "sg",
                "za"
              ]
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "what",
            "in": "query",
            "required": false,
            "description": "The keywords to search for. Multiple terms may be space separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location0",
            "in": "query",
            "required": false,
            "description": "The locationN fields may be used to describe a location, in a similar form to that returned in a Adzuna::API::Response::Location object. For example, 'location0=UK&location1=South East England&location2=Surrey' will performn a search over the county of Surrey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location1",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location2",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location3",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location4",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location5",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location6",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location7",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "The category tag, as returned by the 'category' endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top company data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{country}/geodata": {
      "get": {
        "summary": "Provides salary data for locations inside an area",
        "description": "Provides salary data for locations inside an area",
        "operationId": "geodata",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "ISO 8601 country code of the country of interest",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us",
                "at",
                "au",
                "be",
                "br",
                "ca",
                "ch",
                "de",
                "es",
                "fr",
                "in",
                "it",
                "mx",
                "nl",
                "nz",
                "pl",
                "sg",
                "za"
              ]
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location0",
            "in": "query",
            "required": false,
            "description": "The locationN fields may be used to describe a location, in a similar form to that returned in a Adzuna::API::Response::Location object. For example, 'location0=UK&location1=South East England&location2=Surrey' will performn a search over the county of Surrey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location1",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location2",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location3",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location4",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location5",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location6",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location7",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "The category tag, as returned by the 'category' endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Regional salary data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobGeoData"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{country}/history": {
      "get": {
        "summary": "Provides historical average salary data",
        "description": "Provides historical average salary data",
        "operationId": "history",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "ISO 8601 country code of the country of interest",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us",
                "at",
                "au",
                "be",
                "br",
                "ca",
                "ch",
                "de",
                "es",
                "fr",
                "in",
                "it",
                "mx",
                "nl",
                "nz",
                "pl",
                "sg",
                "za"
              ]
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location0",
            "in": "query",
            "required": false,
            "description": "The locationN fields may be used to describe a location, in a similar form to that returned in a Adzuna::API::Response::Location object.  For example, 'location0=UK&location1=South East England&location2=Surrey' will performn a search over the county of Surrey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location1",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location2",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location3",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location4",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location5",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location6",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location7",
            "in": "query",
            "required": false,
            "description": "See location0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "The category tag, as returned by the 'category' endpoint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "description": "The number of months back for which to retrieve data.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical salary data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalSalary"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/version": {
      "get": {
        "summary": "Returns the current version of this API",
        "description": "Returns the current version of this API",
        "operationId": "version",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "description": "Application ID, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "description": "Application key, supplied by Adzuna",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current API version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "404": {
            "description": "Resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "410": {
            "description": "Authorisation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exception"
                }
              }
            }
          }
        },
        "tags": [
          "version"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "JobSearchResults": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::JobSearchResults for fuller details",
        "required": [
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of advertisements found."
          },
          "mean": {
            "type": "number",
            "description": "The mean salary across all the results."
          },
          "results": {
            "type": "array",
            "description": "Results of the job search in the order requested.",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          }
        }
      },
      "JobGeoData": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::JobGeoData for fuller details",
        "properties": {
          "locations": {
            "type": "array",
            "description": "The number of live job ads in any given location, followed by a list of sub-locations and the number of live jobs in each of them, ordered from most jobs to least. Locations with 0 jobs are not returned.",
            "items": {
              "$ref": "#/components/schemas/LocationJobs"
            }
          }
        }
      },
      "Version": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Version for fuller details",
        "required": [
          "api_version",
          "software_version"
        ],
        "properties": {
          "api_version": {
            "type": "number",
            "description": "The major version of the API."
          },
          "software_version": {
            "type": "string",
            "description": "The version of the software providing the API."
          }
        }
      },
      "SalaryHistogram": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::SalaryHistogram for fuller details",
        "properties": {
          "histogram": {
            "type": "object",
            "description": "The distribution of jobs by salary. Returns an object with salary values as keys (strings) and the number of live jobs that pay as much or more than each salary as values (integers).",
            "additionalProperties": {
              "type": "integer",
              "description": "Number of jobs at or above this salary level"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Location for fuller details",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "A human readable name for the location."
          },
          "area": {
            "type": "array",
            "description": "A description of the location, as an array of strings, each refining the location more than the previous.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Category for fuller details",
        "required": [
          "tag",
          "label"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "description": "The string which should be passed to search endpoint using the \"category\" query parameter."
          },
          "label": {
            "type": "string",
            "description": "A text string describing the category, suitable for display."
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Company for fuller details",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "The name of the company, in the form provided by the advertiser."
          },
          "canonical_name": {
            "type": "string",
            "description": "A normalised string of the company name."
          },
          "count": {
            "type": "integer",
            "description": "The total number of job advertisements posted by this company. Only provided for statistics queries."
          },
          "average_salary": {
            "type": "number",
            "description": "The average salary in job advertisements posted by this company. Only provided for statistics queries."
          }
        }
      },
      "LocationJobs": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::LocationJobs for fuller details",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of jobs advertised at this location."
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "Exception": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Exception for fuller details",
        "required": [
          "exception"
        ],
        "properties": {
          "exception": {
            "type": "string",
            "description": "A string representing the class of exception."
          },
          "display": {
            "type": "string",
            "description": "A human readable friendly error message for display."
          },
          "doc": {
            "type": "string",
            "description": "A URL linking to the relevant documentation."
          }
        }
      },
      "Job": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Job for fuller details",
        "required": [
          "id",
          "description",
          "created",
          "title"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A string uniquely identifying the advertisement."
          },
          "title": {
            "type": "string",
            "description": "A summary of the advertisement."
          },
          "description": {
            "type": "string",
            "description": "The details of the advertisement, truncated to 500 characters."
          },
          "created": {
            "type": "string",
            "description": "The date the advertisement was placed, as an ISO 8601 date time string."
          },
          "redirect_url": {
            "type": "string",
            "description": "A URL that redirects to the advertisement on the advertiser's site. Use this URL to send users to the advertiser's site to comply with Adzuna's terms and conditions."
          },
          "adref": {
            "type": "string",
            "description": "A string which may be used with the 'ad' endpoint to re-retrieve this advertisement in the future. You may do this to confirm that the advertisement is still current."
          },
          "latitude": {
            "type": "number",
            "description": "The latitude of the workspace in degrees."
          },
          "longitude": {
            "type": "number",
            "description": "The longitude of the workspace in degrees"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "salary_min": {
            "type": "number",
            "description": "The bottom end of the pay scale for this job, given in the local currency."
          },
          "salary_max": {
            "type": "number",
            "description": "The top end of the pay scale for this job, given in the local currency."
          },
          "salary_is_predicted": {
            "type": "string",
            "description": "'1' if the salary was predicted by our Jobsworth tool, '0' otherwise.",
            "enum": [
              "0",
              "1"
            ]
          },
          "contract_time": {
            "type": "string",
            "enum": [
              "full_time",
              "part_time"
            ],
            "description": "Either 'full_time' or 'part_time' to indicate the hours of the job."
          },
          "contract_type": {
            "type": "string",
            "enum": [
              "permanent",
              "contract"
            ],
            "description": "Either 'permanent' or 'contract' to indicate whether the job is permanent or just a short-term contract."
          }
        }
      },
      "TopCompanies": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::TopCompanies for fuller details",
        "properties": {
          "leaderboard": {
            "type": "array",
            "description": "A list of companies, ordered by the number of jobs they are advertising. Only companies in Adzuna\u00e2s index will show up in these results. To suggest an addition to this index please email: info [at] adzuna [dot] com",
            "items": {
              "$ref": "#/components/schemas/Company"
            }
          }
        }
      },
      "Categories": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::Categories for fuller details",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "description": "An array of all the categories discovered as Adzuna::API::Response::Category objects.",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "HistoricalSalary": {
        "type": "object",
        "description": "See https://api.adzuna.com/v1/doc/Adzuna::API::Response::HistoricalSalary for fuller details",
        "properties": {
          "month": {
            "type": "object",
            "description": "A series of average salary values, by month, for all jobs with a given category, title and/or location. This is only available for locations with significant numbers (20 or more) of jobs. Dates are formatted as ISO 8601 month/year (e.g., '2025-08'). Salaries are given in local currency.",
            "additionalProperties": {
              "type": "number",
              "description": "Average salary for the month"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "jobs"
    },
    {
      "name": "version"
    }
  ]
}
