{
  "openapi": "3.0.3",
  "info": {
    "title": "ShippingGuide API",
    "description": "The Shipping Guide API provides available services for a given combination of sender and recipient locations, including estimated delivery times, prices and environmental data. It also returns logo and human readable service descriptions that can be shown in your checkout. Available services are based on your agreement with Bring (i.e. the customer numbers attached to your user)",
    "version": "2",
    "x-jentic-source-url": "https://api.bring.com/shippingguide/api-docs"
  },
  "servers": [
    {
      "url": "https://api.bring.com/shippingguide",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v2/products": {
      "post": {
        "tags": [
          "ShippingGuide"
        ],
        "summary": "Fetch shipping details",
        "description": "<p>Use this endpoint to get expected delivery, prices, service categories and additional information.</p><h3>Measurements</h3><p>For cargo services(5100, 5300, 9100, CARGO), Weight is mandatory and one of the Volume / Load Meter / Dimensions / Number of Pallets is mandatory.</p><p>Note: The prices for our revised services depends on volumetric weight: 5000, 5100, 5300, 5600, 5800, 4850 plus return services 9000, 9100, 9300 or 9600. For these services, dimensions (L/W/H) is needed to calculate the expected price correctly. Dimensions are also used to decide if handling fee or specialgoods fee will apply to the shipment. You might leave dimensions empty in your request, but be aware that returned prices might be incorrect.</p>",
        "operationId": "products",
        "parameters": [
          {
            "name": "X-MyBring-API-Uid",
            "in": "header",
            "description": "Mybring login ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MyBring-API-Key",
            "in": "header",
            "description": "Your user's API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Desired output media type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Shipping_guide_request"
              },
              "examples": {
                "Single package": {
                  "$ref": "#/components/examples/singlePackage"
                },
                "Multiple packages, mixed measurements": {
                  "$ref": "#/components/examples/multiplePackages"
                },
                "Same day delivery for 5600/PA_DOREN": {
                  "$ref": "#/components/examples/sameDayDelivery"
                },
                "Alternative home delivery dates": {
                  "$ref": "#/components/examples/alternativeDeliveryDates"
                },
                "Estimated arrival time at pickup point": {
                  "$ref": "#/components/examples/estimatedArrivalTime"
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Shipping_guide_request"
              },
              "examples": {
                "Single package": {
                  "$ref": "#/components/examples/singlePackage"
                },
                "Multiple packages, mixed measurements": {
                  "$ref": "#/components/examples/multiplePackages"
                },
                "Same day delivery for 5600/PA_DOREN": {
                  "$ref": "#/components/examples/sameDayDelivery"
                },
                "Alternative home delivery dates": {
                  "$ref": "#/components/examples/alternativeDeliveryDates"
                },
                "Estimated arrival time at pickup point": {
                  "$ref": "#/components/examples/estimatedArrivalTime"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipping_guide_response"
                },
                "examples": {
                  "Lead time & environmental data": {
                    "$ref": "#/components/examples/environmentalData"
                  },
                  "List price, no additional services": {
                    "$ref": "#/components/examples/listPriceNoVas"
                  },
                  "List price with additional services": {
                    "$ref": "#/components/examples/listPriceVas"
                  },
                  "Net (agreement) price with additional services": {
                    "$ref": "#/components/examples/netPrice"
                  },
                  "Detailed service information": {
                    "$ref": "#/components/examples/guiInformation"
                  },
                  "Alternate delivery dates": {
                    "$ref": "#/components/examples/alternateDeliveryDates"
                  },
                  "Estimated arrival time at pickup point": {
                    "$ref": "#/components/examples/estimatedArrivalTimeResponse"
                  },
                  "Error: External service unavailable": {
                    "$ref": "#/components/examples/EXTERNAL_SERVICE_UNAVAILABLE"
                  },
                  "Error: Customer not specified": {
                    "$ref": "#/components/examples/CUSTOMER_NOT_SPECIFIED"
                  },
                  "Error: Customer not found": {
                    "$ref": "#/components/examples/CUSTOMER_NOT_FOUND"
                  },
                  "Error: Customer no financial access": {
                    "$ref": "#/components/examples/CUSTOMER_NO_FINANCIAL_ACCESS"
                  },
                  "Error: Customer forbidden": {
                    "$ref": "#/components/examples/CUSTOMER_FORBIDDEN"
                  },
                  "Error: Customer not applicable for product": {
                    "$ref": "#/components/examples/CUSTOMER_NOT_APPLICABLE_FOR_PRODUCT"
                  },
                  "Error: Package too big": {
                    "$ref": "#/components/examples/PACKAGE_TOO_BIG"
                  },
                  "Error: Requires weight": {
                    "$ref": "#/components/examples/REQUIRES_WEIGHT"
                  },
                  "Error: Price calculation failed": {
                    "$ref": "#/components/examples/PRICE_CALCULATION_FAILED"
                  },
                  "Error: Invalid country pair": {
                    "$ref": "#/components/examples/INVALID_COUNTRY_PAIR"
                  },
                  "Error: Oil express not available": {
                    "$ref": "#/components/examples/OIL_EXPRESS_NOT_AVAILABLE"
                  },
                  "Error: Multiple package not supported": {
                    "$ref": "#/components/examples/MULTIPLE_PACKAGE_NOT_SUPPORTED"
                  },
                  "Error: Product skipped courier": {
                    "$ref": "#/components/examples/PRODUCT_SKIPPED_COURIER"
                  },
                  "Error: Product not supported": {
                    "$ref": "#/components/examples/PRODUCT_NOT_SUPPORTED"
                  },
                  "Error: Non standard courier service required": {
                    "$ref": "#/components/examples/NON_STANDARD_COURIER_SERVICE_REQUIRED"
                  },
                  "Error: Number of pallets and load meters not supported": {
                    "$ref": "#/components/examples/NUMBER_OF_PALLETS_AND_LOAD_METERS_NOT_SUPPORTED"
                  },
                  "Error: Product unknown": {
                    "$ref": "#/components/examples/PRODUCT_UNKNOWN"
                  },
                  "Error: Courier product not available": {
                    "$ref": "#/components/examples/COURIER_PRODUCT_NOT_AVAILABLE"
                  },
                  "Error: Main customer number required": {
                    "$ref": "#/components/examples/MAIN_CUSTOMER_NUMBER_REQUIRED"
                  },
                  "Error: Internal error": {
                    "$ref": "#/components/examples/INTERNAL_ERROR"
                  },
                  "Error: Outside coverage area": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA"
                  },
                  "Error: Outside coverage area special postal code": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_SPECIAL_POSTAL_CODE"
                  },
                  "Error: Outside coverage area from special postal code": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_FROM_SPECIAL_POSTAL_CODE"
                  },
                  "Error: Outside coverage area to special postal code": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_TO_SPECIAL_POSTAL_CODE"
                  },
                  "Error: Outside coverage area po box": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_PO_BOX"
                  },
                  "Error: Outside coverage area to po box": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_TO_PO_BOX"
                  },
                  "Error: Outside coverage area from svalbard": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_FROM_SVALBARD"
                  },
                  "Error: Outside coverage area to svalbard": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_TO_SVALBARD"
                  },
                  "Error: Outside coverage area express": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_EXPRESS"
                  },
                  "Error: Package not within weight limit": {
                    "$ref": "#/components/examples/PACKAGE_NOT_WITHIN_WEIGHT_LIMIT"
                  },
                  "Error: Consignment not within weight limit": {
                    "$ref": "#/components/examples/CONSIGNMENT_NOT_WITHIN_WEIGHT_LIMIT"
                  },
                  "Error: Consignment chargeable weight limit exceeded": {
                    "$ref": "#/components/examples/CONSIGNMENT_CHARGEABLE_WEIGHT_LIMIT_EXCEEDED"
                  },
                  "Error: Weight and volume or dimensions or pallets or load meter required": {
                    "$ref": "#/components/examples/WEIGHT_AND_VOLUME_OR_DIMENSIONS_OR_PALLETS_OR_LOAD_METER_REQUIRED"
                  },
                  "Error: Weight or dimensions or volume required": {
                    "$ref": "#/components/examples/WEIGHT_OR_DIMENSIONS_OR_VOLUME_REQUIRED"
                  },
                  "Error: Weight or dimensions required": {
                    "$ref": "#/components/examples/WEIGHT_OR_DIMENSIONS_REQUIRED"
                  },
                  "Error: Package weight or volume below minimum limit": {
                    "$ref": "#/components/examples/PACKAGE_WEIGHT_OR_VOLUME_BELOW_MINIMUM_LIMIT"
                  },
                  "Error: Too many packages": {
                    "$ref": "#/components/examples/TOO_MANY_PACKAGES"
                  },
                  "Error: Package dimensions too small": {
                    "$ref": "#/components/examples/PACKAGE_DIMENSIONS_TOO_SMALL"
                  },
                  "Error: Invalid arguments": {
                    "$ref": "#/components/examples/INVALID_ARGUMENTS"
                  },
                  "Error: Shipping date max 10 days into future": {
                    "$ref": "#/components/examples/SHIPPING_DATE_MAX_10_DAYS_INTO_FUTURE"
                  },
                  "Error: Vas requires customer number": {
                    "$ref": "#/components/examples/VAS_REQUIRES_CUSTOMER_NUMBER"
                  },
                  "Error: Invalid vas combination": {
                    "$ref": "#/components/examples/INVALID_VAS_COMBINATION"
                  },
                  "Error: Invalid customer vas combination": {
                    "$ref": "#/components/examples/INVALID_CUSTOMER_VAS_COMBINATION"
                  },
                  "Error: Invalid service vas combination": {
                    "$ref": "#/components/examples/INVALID_SERVICE_VAS_COMBINATION"
                  },
                  "Error: Shipping date must be current date or future": {
                    "$ref": "#/components/examples/SHIPPING_DATE_MUST_BE_CURRENT_DATE_OR_FUTURE"
                  },
                  "Error: Saturday delivery not available for route": {
                    "$ref": "#/components/examples/SATURDAY_DELIVERY_NOT_AVAILABLE_FOR_ROUTE"
                  },
                  "Warning: No expected delivery": {
                    "$ref": "#/components/examples/NO_EXPECTED_DELIVERY"
                  },
                  "Warning: No price information": {
                    "$ref": "#/components/examples/NO_PRICE_INFORMATION"
                  },
                  "Warning: Additional service not applicable": {
                    "$ref": "#/components/examples/ADDITIONAL_SERVICE_NOT_APPLICABLE"
                  },
                  "Warning: Address not matched": {
                    "$ref": "#/components/examples/ADDRESS_NOT_MATCHED"
                  },
                  "Warning: Svalbard possible delay": {
                    "$ref": "#/components/examples/SVALBARD_POSSIBLE_DELAY"
                  },
                  "Warning: No environmental data": {
                    "$ref": "#/components/examples/NO_ENVIRONMENTAL_DATA"
                  },
                  "Warning: No leadtime found": {
                    "$ref": "#/components/examples/NO_LEADTIME_FOUND"
                  },
                  "Warning: No alternative dates": {
                    "$ref": "#/components/examples/NO_ALTERNATIVE_DATES"
                  },
                  "Warning: Special cargo limits exceeded": {
                    "$ref": "#/components/examples/SPECIAL_CARGO_LIMITS_EXCEEDED"
                  },
                  "Warning: Special handling limits exceeded": {
                    "$ref": "#/components/examples/SPECIAL_HANDLING_LIMITS_EXCEEDED"
                  },
                  "Warning: Outside standard coverage area for product": {
                    "$ref": "#/components/examples/OUTSIDE_STANDARD_COVERAGE_AREA_FOR_PRODUCT"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Shipping_guide_response"
                },
                "examples": {
                  "Lead time & environmental data": {
                    "$ref": "#/components/examples/environmentalData"
                  },
                  "List price, no additional services": {
                    "$ref": "#/components/examples/listPriceNoVas"
                  },
                  "List price with additional services": {
                    "$ref": "#/components/examples/listPriceVas"
                  },
                  "Net (agreement) price with additional services": {
                    "$ref": "#/components/examples/netPrice"
                  },
                  "Detailed service information": {
                    "$ref": "#/components/examples/guiInformation"
                  },
                  "Alternate delivery dates": {
                    "$ref": "#/components/examples/alternateDeliveryDates"
                  },
                  "Estimated arrival time at pickup point": {
                    "$ref": "#/components/examples/estimatedArrivalTimeResponse"
                  },
                  "Error: External service unavailable": {
                    "$ref": "#/components/examples/EXTERNAL_SERVICE_UNAVAILABLE"
                  },
                  "Error: Customer not specified": {
                    "$ref": "#/components/examples/CUSTOMER_NOT_SPECIFIED"
                  },
                  "Error: Customer not found": {
                    "$ref": "#/components/examples/CUSTOMER_NOT_FOUND"
                  },
                  "Error: Customer no financial access": {
                    "$ref": "#/components/examples/CUSTOMER_NO_FINANCIAL_ACCESS"
                  },
                  "Error: Customer forbidden": {
                    "$ref": "#/components/examples/CUSTOMER_FORBIDDEN"
                  },
                  "Error: Customer not applicable for product": {
                    "$ref": "#/components/examples/CUSTOMER_NOT_APPLICABLE_FOR_PRODUCT"
                  },
                  "Error: Package too big": {
                    "$ref": "#/components/examples/PACKAGE_TOO_BIG"
                  },
                  "Error: Requires weight": {
                    "$ref": "#/components/examples/REQUIRES_WEIGHT"
                  },
                  "Error: Price calculation failed": {
                    "$ref": "#/components/examples/PRICE_CALCULATION_FAILED"
                  },
                  "Error: Invalid country pair": {
                    "$ref": "#/components/examples/INVALID_COUNTRY_PAIR"
                  },
                  "Error: Oil express not available": {
                    "$ref": "#/components/examples/OIL_EXPRESS_NOT_AVAILABLE"
                  },
                  "Error: Multiple package not supported": {
                    "$ref": "#/components/examples/MULTIPLE_PACKAGE_NOT_SUPPORTED"
                  },
                  "Error: Product skipped courier": {
                    "$ref": "#/components/examples/PRODUCT_SKIPPED_COURIER"
                  },
                  "Error: Product not supported": {
                    "$ref": "#/components/examples/PRODUCT_NOT_SUPPORTED"
                  },
                  "Error: Non standard courier service required": {
                    "$ref": "#/components/examples/NON_STANDARD_COURIER_SERVICE_REQUIRED"
                  },
                  "Error: Number of pallets and load meters not supported": {
                    "$ref": "#/components/examples/NUMBER_OF_PALLETS_AND_LOAD_METERS_NOT_SUPPORTED"
                  },
                  "Error: Product unknown": {
                    "$ref": "#/components/examples/PRODUCT_UNKNOWN"
                  },
                  "Error: Courier product not available": {
                    "$ref": "#/components/examples/COURIER_PRODUCT_NOT_AVAILABLE"
                  },
                  "Error: Main customer number required": {
                    "$ref": "#/components/examples/MAIN_CUSTOMER_NUMBER_REQUIRED"
                  },
                  "Error: Internal error": {
                    "$ref": "#/components/examples/INTERNAL_ERROR"
                  },
                  "Error: Outside coverage area": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA"
                  },
                  "Error: Outside coverage area special postal code": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_SPECIAL_POSTAL_CODE"
                  },
                  "Error: Outside coverage area from special postal code": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_FROM_SPECIAL_POSTAL_CODE"
                  },
                  "Error: Outside coverage area to special postal code": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_TO_SPECIAL_POSTAL_CODE"
                  },
                  "Error: Outside coverage area po box": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_PO_BOX"
                  },
                  "Error: Outside coverage area to po box": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_TO_PO_BOX"
                  },
                  "Error: Outside coverage area from svalbard": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_FROM_SVALBARD"
                  },
                  "Error: Outside coverage area to svalbard": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_TO_SVALBARD"
                  },
                  "Error: Outside coverage area express": {
                    "$ref": "#/components/examples/OUTSIDE_COVERAGE_AREA_EXPRESS"
                  },
                  "Error: Package not within weight limit": {
                    "$ref": "#/components/examples/PACKAGE_NOT_WITHIN_WEIGHT_LIMIT"
                  },
                  "Error: Consignment not within weight limit": {
                    "$ref": "#/components/examples/CONSIGNMENT_NOT_WITHIN_WEIGHT_LIMIT"
                  },
                  "Error: Consignment chargeable weight limit exceeded": {
                    "$ref": "#/components/examples/CONSIGNMENT_CHARGEABLE_WEIGHT_LIMIT_EXCEEDED"
                  },
                  "Error: Weight and volume or dimensions or pallets or load meter required": {
                    "$ref": "#/components/examples/WEIGHT_AND_VOLUME_OR_DIMENSIONS_OR_PALLETS_OR_LOAD_METER_REQUIRED"
                  },
                  "Error: Weight or dimensions or volume required": {
                    "$ref": "#/components/examples/WEIGHT_OR_DIMENSIONS_OR_VOLUME_REQUIRED"
                  },
                  "Error: Weight or dimensions required": {
                    "$ref": "#/components/examples/WEIGHT_OR_DIMENSIONS_REQUIRED"
                  },
                  "Error: Package weight or volume below minimum limit": {
                    "$ref": "#/components/examples/PACKAGE_WEIGHT_OR_VOLUME_BELOW_MINIMUM_LIMIT"
                  },
                  "Error: Too many packages": {
                    "$ref": "#/components/examples/TOO_MANY_PACKAGES"
                  },
                  "Error: Package dimensions too small": {
                    "$ref": "#/components/examples/PACKAGE_DIMENSIONS_TOO_SMALL"
                  },
                  "Error: Invalid arguments": {
                    "$ref": "#/components/examples/INVALID_ARGUMENTS"
                  },
                  "Error: Shipping date max 10 days into future": {
                    "$ref": "#/components/examples/SHIPPING_DATE_MAX_10_DAYS_INTO_FUTURE"
                  },
                  "Error: Vas requires customer number": {
                    "$ref": "#/components/examples/VAS_REQUIRES_CUSTOMER_NUMBER"
                  },
                  "Error: Invalid vas combination": {
                    "$ref": "#/components/examples/INVALID_VAS_COMBINATION"
                  },
                  "Error: Invalid customer vas combination": {
                    "$ref": "#/components/examples/INVALID_CUSTOMER_VAS_COMBINATION"
                  },
                  "Error: Invalid service vas combination": {
                    "$ref": "#/components/examples/INVALID_SERVICE_VAS_COMBINATION"
                  },
                  "Error: Shipping date must be current date or future": {
                    "$ref": "#/components/examples/SHIPPING_DATE_MUST_BE_CURRENT_DATE_OR_FUTURE"
                  },
                  "Error: Saturday delivery not available for route": {
                    "$ref": "#/components/examples/SATURDAY_DELIVERY_NOT_AVAILABLE_FOR_ROUTE"
                  },
                  "Warning: No expected delivery": {
                    "$ref": "#/components/examples/NO_EXPECTED_DELIVERY"
                  },
                  "Warning: No price information": {
                    "$ref": "#/components/examples/NO_PRICE_INFORMATION"
                  },
                  "Warning: Additional service not applicable": {
                    "$ref": "#/components/examples/ADDITIONAL_SERVICE_NOT_APPLICABLE"
                  },
                  "Warning: Address not matched": {
                    "$ref": "#/components/examples/ADDRESS_NOT_MATCHED"
                  },
                  "Warning: Svalbard possible delay": {
                    "$ref": "#/components/examples/SVALBARD_POSSIBLE_DELAY"
                  },
                  "Warning: No environmental data": {
                    "$ref": "#/components/examples/NO_ENVIRONMENTAL_DATA"
                  },
                  "Warning: No leadtime found": {
                    "$ref": "#/components/examples/NO_LEADTIME_FOUND"
                  },
                  "Warning: No alternative dates": {
                    "$ref": "#/components/examples/NO_ALTERNATIVE_DATES"
                  },
                  "Warning: Special cargo limits exceeded": {
                    "$ref": "#/components/examples/SPECIAL_CARGO_LIMITS_EXCEEDED"
                  },
                  "Warning: Special handling limits exceeded": {
                    "$ref": "#/components/examples/SPECIAL_HANDLING_LIMITS_EXCEEDED"
                  },
                  "Warning: Outside standard coverage area for product": {
                    "$ref": "#/components/examples/OUTSIDE_STANDARD_COVERAGE_AREA_FOR_PRODUCT"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "Missing consignment": {
                    "$ref": "#/components/examples/missingConsignment"
                  },
                  "Missing package details": {
                    "$ref": "#/components/examples/packageDetailsMissing"
                  },
                  "Invalid number of alternative delivery dates": {
                    "$ref": "#/components/examples/alternateDeliveryDatesError"
                  },
                  "Missing product id": {
                    "$ref": "#/components/examples/missingProductId"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "Missing consignment": {
                    "$ref": "#/components/examples/missingConsignment"
                  },
                  "Missing package details": {
                    "$ref": "#/components/examples/packageDetailsMissing"
                  },
                  "Invalid number of alternative delivery dates": {
                    "$ref": "#/components/examples/alternateDeliveryDatesError"
                  },
                  "Missing product id": {
                    "$ref": "#/components/examples/missingProductId"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Request rate cannot exceed 60 requests per 1 second"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/internalServerError"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "Internal server error": {
                    "$ref": "#/components/examples/internalServerError"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionalServiceInputType": {
        "type": "object",
        "description": "Additional service",
        "properties": {
          "id": {
            "type": "string",
            "description": "Additional service id",
            "xml": {
              "name": "Id"
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "Consignment": {
        "type": "object",
        "properties": {
          "packages": {
            "type": "array",
            "description": "List of all packages in the consignment",
            "items": {
              "$ref": "#/components/schemas/Package"
            },
            "xml": {
              "name": "Packages",
              "wrapped": true
            }
          },
          "fromCountryCode": {
            "type": "string",
            "description": "Two-letter ISO-3166-1 country code of which consignment is sent from",
            "xml": {
              "name": "FromCountryCode"
            }
          },
          "fromPostalCode": {
            "type": "string",
            "description": "The postal code the consignment is sent from",
            "xml": {
              "name": "FromPostalCode"
            }
          },
          "toCountryCode": {
            "type": "string",
            "description": "Two-letter ISO-3166-1 country code of which consignment is sent to",
            "xml": {
              "name": "ToCountryCode"
            }
          },
          "toPostalCode": {
            "type": "string",
            "description": "The postal code the consignment is to be delivered to",
            "xml": {
              "name": "ToPostalCode"
            }
          },
          "addressLine": {
            "type": "string",
            "description": "The street name and number the consignment is to be delivered to",
            "xml": {
              "name": "AddressLine"
            }
          },
          "toCity": {
            "type": "string",
            "description": "The city the consignment is to be delivered to",
            "xml": {
              "name": "ToCity"
            }
          },
          "shippingDate": {
            "$ref": "#/components/schemas/ShippingDate",
            "description": "The date (and optionally time) the consignment will be shipped (used for computing estimated delivery date). <strong>NOTE:</strong> The lead time calculation interprets the provided date & time as the time when the consignment has been scanned at the terminal. If not provided, now() will be used",
            "xml": {
              "name": "ShippingDate"
            }
          },
          "additionalServices": {
            "type": "array",
            "description": "Additional services to be added",
            "items": {
              "$ref": "#/components/schemas/AdditionalServiceInputType"
            },
            "xml": {
              "name": "AdditionalServices",
              "wrapped": true
            }
          },
          "dangerousGoods": {
            "$ref": "#/components/schemas/DangerousGoods",
            "description": "If dangerous goods are to be part of the consignment, the ADR-code(s) specifying the dangerous goods type(s) has to be provided",
            "xml": {
              "name": "DangerousGoods"
            }
          },
          "incoterms": {
            "type": "string",
            "description": "International commercial terms",
            "pattern": "([A-Z]){3}",
            "xml": {
              "name": "Incoterms"
            }
          },
          "pickupPointId": {
            "type": "string",
            "description": "The pickup point id to which the consignment is to be shipped to. Only relevant for parcel products",
            "xml": {
              "name": "PickupPointId"
            }
          },
          "pickupPoints": {
            "type": "array",
            "description": "List of pickup points for which estimated delivery time should be calculated for (if varue of 'WithEstimatedDeliveryTime' is true). If not provided, the default pickup point for the receiver's postal code will be used.",
            "items": {
              "$ref": "#/components/schemas/PickupPointInputType"
            },
            "xml": {
              "name": "PickupPoints",
              "wrapped": true
            }
          },
          "products": {
            "type": "array",
            "description": "List of all services price and lead times should be calculated for",
            "items": {
              "$ref": "#/components/schemas/ProductIdType"
            },
            "xml": {
              "name": "Products",
              "wrapped": true
            }
          },
          "id": {
            "type": "string",
            "description": "Your internal reference to this consignment (you may calculate several consignment at the same time)",
            "xml": {
              "attribute": true
            }
          }
        },
        "required": [
          "fromCountryCode",
          "fromPostalCode",
          "packages",
          "products",
          "toCountryCode",
          "toPostalCode"
        ]
      },
      "DangerousGoods": {
        "type": "object",
        "properties": {
          "unNumbers": {
            "type": "array",
            "description": "List of dangerous goods ADR-codes",
            "items": {
              "type": "string",
              "xml": {
                "name": "UnNumber"
              }
            },
            "xml": {
              "name": "UnNumber"
            }
          }
        },
        "required": [
          "unNumbers"
        ]
      },
      "Package": {
        "type": "object",
        "description": "Describing the package details",
        "properties": {
          "height": {
            "type": "number",
            "format": "double",
            "description": "Height of the package in centimeters",
            "xml": {
              "name": "Height"
            }
          },
          "width": {
            "type": "number",
            "format": "double",
            "description": "Width of the package in centimeters",
            "xml": {
              "name": "Width"
            }
          },
          "length": {
            "type": "number",
            "format": "double",
            "description": "Length of the package in centimeters. The highest value of height, width and length will always be used as length",
            "xml": {
              "name": "Length"
            }
          },
          "grossWeight": {
            "type": "number",
            "format": "double",
            "description": "The weight of the package in gram",
            "xml": {
              "name": "GrossWeight"
            }
          },
          "volume": {
            "type": "string",
            "description": "The volume of the package in cubic decimeters",
            "xml": {
              "name": "Volume"
            }
          },
          "volumeSpecial": {
            "type": "boolean",
            "default": "false",
            "description": "Set to true if you know the package price will be adjusted for special volume. Typically used for roll or other weirdly shaped packages.",
            "xml": {
              "name": "VolumeSpecial"
            }
          },
          "nonStackable": {
            "type": "boolean",
            "default": "false",
            "description": "Set to true if you know the package/pallet is non-stackable",
            "xml": {
              "name": "NonStackable"
            }
          },
          "numberOfPallets": {
            "type": "integer",
            "format": "int32",
            "default": "0",
            "description": "Number of pallets. Only applicable for cargo products",
            "xml": {
              "name": "NumberOfPallets"
            }
          },
          "loadMeter": {
            "type": "number",
            "format": "double",
            "description": "Loading meters. Only applicable for cargo products ",
            "xml": {
              "name": "LoadMeter"
            }
          },
          "id": {
            "type": "string",
            "description": "Your internal reference to this package (you may estimate several packages at the same time)",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "PickupPointInputType": {
        "type": "object",
        "description": "Pickup point",
        "properties": {
          "id": {
            "type": "string",
            "description": "Pickup point id",
            "xml": {
              "name": "Id"
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "ProductIdType": {
        "type": "object",
        "description": "A service you want price and lead times calculated for",
        "properties": {
          "id": {
            "type": "string",
            "description": "The service id",
            "xml": {
              "name": "Id"
            }
          },
          "customerNumber": {
            "type": "string",
            "description": "The mybring API customer number. Different customer numbers exist for different services, therefore the customer number is specified for each requested service. If a valid customer number is supplied, net prices will be returned for the specified service. Otherwise list (gross) prices is returned.",
            "xml": {
              "name": "CustomerNumber"
            }
          },
          "Payer": {
            "type": "string",
            "description": "Which party will pay for the shipment",
            "enum": [
              "SENDER",
              "RECEIVER",
              "THIRD_PARTY"
            ]
          },
          "nonStandardCourierService": {
            "type": "string",
            "description": "Required field when requesting non standard courier products. Represents the customer specific service code",
            "xml": {
              "name": "NonStandardCourierService"
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "ShippingDate": {
        "type": "object",
        "description": "The date (and optionally time) the consignment will be shipped (used for computing estimated delivery date). <strong>NOTE:</strong> The lead time calculation interprets the provided date & time as the time when the consignment has been scanned at the terminal. If not provided, now() will be used",
        "properties": {
          "year": {
            "type": "string",
            "xml": {
              "name": "Year"
            }
          },
          "month": {
            "type": "string",
            "xml": {
              "name": "Month"
            }
          },
          "day": {
            "type": "string",
            "xml": {
              "name": "Day"
            }
          },
          "hour": {
            "type": "string",
            "xml": {
              "name": "Hour"
            }
          },
          "minute": {
            "type": "string",
            "xml": {
              "name": "Minute"
            }
          }
        },
        "required": [
          "day",
          "month",
          "year"
        ]
      },
      "Shipping_guide_request": {
        "type": "object",
        "properties": {
          "consignments": {
            "type": "array",
            "description": "List of consignments",
            "items": {
              "$ref": "#/components/schemas/Consignment"
            },
            "xml": {
              "name": "Consignments",
              "wrapped": true
            }
          },
          "language": {
            "type": "string",
            "default": "NO",
            "description": "Language in which human-readable message should be returned.",
            "enum": [
              "NO",
              "SE",
              "SV",
              "DA",
              "EN"
            ],
            "xml": {
              "name": "Language"
            }
          },
          "withPrice": {
            "type": "boolean",
            "default": "true",
            "description": "Controls whether prices should be calculated. If customerNumber is supplied, the authenticated user requires the financial role with the provided customer",
            "xml": {
              "name": "WithPrice"
            }
          },
          "withExpectedDelivery": {
            "type": "boolean",
            "default": "true",
            "description": "Controls whether lead times should be calculated or not",
            "xml": {
              "name": "WithExpectedDelivery"
            }
          },
          "withGuiInformation": {
            "type": "boolean",
            "default": "true",
            "description": "Return detailed information about requested service(s)",
            "xml": {
              "name": "WithGuiInformation"
            }
          },
          "numberOfAlternativeDeliveryDates": {
            "type": "integer",
            "format": "int32",
            "default": "0",
            "description": "Number of alternative delivery dates to be suggested",
            "maximum": 9,
            "minimum": 0,
            "xml": {
              "name": "NumberOfAlternativeDeliveryDates"
            }
          },
          "edi": {
            "type": "boolean",
            "default": "true",
            "description": "Should the parcel be registered using EDI when shipped. Note that this flag may affect price and which services are available",
            "xml": {
              "name": "EDI"
            }
          },
          "postingAtPostoffice": {
            "type": "boolean",
            "default": "false",
            "description": "Will the parcel be delivered at a post office when shipped",
            "xml": {
              "name": "PostingAtPostoffice"
            }
          },
          "withEstimatedDeliveryTime": {
            "type": "boolean",
            "default": "false",
            "description": "Extended lead time information, including predicted arrivar time at pickup point. Only supported for a limited set of services",
            "xml": {
              "name": "WithEstimatedDeliveryTime"
            }
          },
          "withEnvironmentalData": {
            "type": "boolean",
            "default": "false",
            "description": "Return environmental data about fossil free and electric transportation used on the shipments transport legs",
            "xml": {
              "name": "WithEnvironmentalData"
            }
          }
        },
        "required": [
          "consignments"
        ],
        "xml": {
          "name": "ShippingGuideRequest"
        }
      },
      "AdditionalServicePriceType": {
        "type": "object",
        "properties": {
          "additionalServiceId": {
            "type": "string",
            "xml": {
              "name": "AdditionalServiceId"
            }
          },
          "additionalServiceDescription": {
            "type": "string",
            "xml": {
              "name": "AdditionalServiceDescription"
            }
          },
          "additionalServicePrice": {
            "$ref": "#/components/schemas/DetailedPriceType",
            "xml": {
              "name": "AdditionalServicePrice"
            }
          },
          "additionalServiceCodeFromProductionSystem": {
            "type": "string",
            "xml": {
              "name": "AdditionalServiceFromProductionSystem"
            }
          }
        },
        "required": [
          "additionalServiceCodeFromProductionSystem",
          "additionalServiceDescription",
          "additionalServiceId",
          "additionalServicePrice"
        ]
      },
      "AgreementAttributeType": {
        "type": "object",
        "properties": {
          "agreementNumber": {
            "type": "string",
            "xml": {
              "name": "AgreementNumber"
            }
          }
        }
      },
      "AlternativeDeliveryDateType": {
        "type": "object",
        "properties": {
          "workingDays": {
            "type": "string",
            "description": "Number of working days until delivery",
            "xml": {
              "name": "WorkingDays"
            }
          },
          "shippingDate": {
            "$ref": "#/components/schemas/DateAndTimeType",
            "description": "Shipping date",
            "xml": {
              "name": "ShippingDate"
            }
          },
          "formattedExpectedDeliveryDate": {
            "type": "string",
            "format": "dd.MM.yyyy",
            "description": "Formatted expected delivery date",
            "xml": {
              "name": "FormattedExpectedDeliveryDate"
            }
          },
          "expectedDeliveryDate": {
            "$ref": "#/components/schemas/ExpectedDeliveryDateType",
            "description": "Expected delivery date",
            "xml": {
              "name": "ExpectedDeliveryDate"
            }
          }
        },
        "required": [
          "expectedDeliveryDate",
          "shippingDate",
          "workingDays"
        ]
      },
      "CargoAgreementAttributesType": {
        "type": "object",
        "properties": {
          "agreementName": {
            "type": "string",
            "description": "Agreement name",
            "xml": {
              "name": "AgreementName"
            }
          },
          "agreementNumber": {
            "type": "string",
            "description": "Agreement number",
            "xml": {
              "name": "AgreementNumber"
            }
          },
          "subAgreementNumber": {
            "type": "string",
            "description": "Sub agreement number",
            "xml": {
              "name": "SubAgreementNumber"
            }
          },
          "subAgreementName": {
            "type": "string",
            "description": "Sub agreement name",
            "xml": {
              "name": "SubAgreementName"
            }
          },
          "price": {
            "type": "string",
            "description": "Agreement price",
            "xml": {
              "name": "Price"
            }
          }
        },
        "required": [
          "agreementName",
          "agreementNumber",
          "price",
          "subAgreementName",
          "subAgreementNumber"
        ]
      },
      "CargoSpecificEdiParametersType": {
        "type": "object",
        "properties": {
          "dispatchAgentNumber": {
            "type": "string",
            "description": "Dispatch agent number",
            "xml": {
              "name": "DispatchAgentNumber"
            }
          },
          "cargoTransportType": {
            "type": "string",
            "description": "Cargo transport type",
            "xml": {
              "name": "CargoTransportType"
            }
          },
          "cargoProduct": {
            "type": "string",
            "description": "Cargo product",
            "xml": {
              "name": "CargoProduct"
            }
          }
        },
        "required": [
          "dispatchAgentNumber"
        ]
      },
      "ConsignmentOutputType": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "description": "<p>The requested services results.</p><p>ShippingGuide will never remove services from the request if unable to calculate any of the requested data. It will either return the requested data or a service level error code along with a description.</p>",
            "items": {
              "$ref": "#/components/schemas/ProductOutputType"
            },
            "xml": {
              "name": "Products",
              "wrapped": true
            }
          },
          "consignmentId": {
            "type": "string",
            "description": "The consignment id",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "CourierSpecificEdiParametersType": {
        "type": "object",
        "properties": {
          "department": {
            "type": "string",
            "description": "Department",
            "xml": {
              "name": "Department"
            }
          },
          "operationsID": {
            "type": "string",
            "description": "Operations id",
            "xml": {
              "name": "OperationsID"
            }
          },
          "numberOfKilometers": {
            "type": "string",
            "description": "Number of kilometers",
            "xml": {
              "name": "NumberOfKilometers"
            }
          },
          "orderStartTime": {
            "type": "string",
            "description": "Order start time",
            "xml": {
              "name": "OrderStartTime"
            }
          }
        },
        "required": [
          "department",
          "operationsID"
        ]
      },
      "DateAndTimeType": {
        "type": "object",
        "description": "Latest pickup time is the latest possible pickup time, or in other words the latest time Bring are able to pick up your shipment for the specified services (on the date same date as the earliest pickup date). Please be advised that if you don't fill out Hour and Minute in ShippingDate in your request, ShippingGuide will assume that you want an immediate pickup of your shipment",
        "properties": {
          "year": {
            "type": "string",
            "xml": {
              "name": "Year"
            }
          },
          "month": {
            "type": "string",
            "xml": {
              "name": "Month"
            }
          },
          "day": {
            "type": "string",
            "xml": {
              "name": "Day"
            }
          },
          "hour": {
            "type": "string",
            "xml": {
              "name": "Hour"
            }
          },
          "minute": {
            "type": "string",
            "xml": {
              "name": "Minute"
            }
          }
        },
        "required": [
          "day",
          "month",
          "year"
        ]
      },
      "DayTimeType": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "string",
            "xml": {
              "name": "Hour"
            }
          },
          "minute": {
            "type": "string",
            "xml": {
              "name": "Minute"
            }
          }
        },
        "required": [
          "hour",
          "minute"
        ]
      },
      "DetailedPriceType": {
        "type": "object",
        "description": "Price with additional services",
        "properties": {
          "amountWithoutVAT": {
            "type": "string",
            "xml": {
              "name": "AmountWithoutVAT"
            }
          },
          "vat": {
            "type": "string",
            "xml": {
              "name": "VAT"
            }
          },
          "amountWithVAT": {
            "type": "string",
            "xml": {
              "name": "AmountWithVAT"
            }
          }
        },
        "required": [
          "amountWithVAT",
          "amountWithoutVAT",
          "vat"
        ]
      },
      "EdiType": {
        "type": "object",
        "properties": {
          "courier": {
            "$ref": "#/components/schemas/CourierSpecificEdiParametersType",
            "description": "Courier service data required to make EDI booking",
            "xml": {
              "name": "Courier"
            }
          },
          "quickpack": {
            "$ref": "#/components/schemas/QuickpackSpecificEdiParametersType",
            "deprecated": true,
            "description": "Quickpack service data required to make EDI booking",
            "xml": {
              "name": "Quickpack"
            }
          },
          "cargo": {
            "$ref": "#/components/schemas/CargoSpecificEdiParametersType",
            "description": "Cargo service data required to make EDI booking",
            "xml": {
              "name": "Cargo"
            }
          }
        }
      },
      "EnvironmentalDataDetailsType": {
        "type": "object",
        "properties": {
          "electric": {
            "type": "number",
            "format": "double",
            "description": "Share of electric vehicles used on this transportation leg",
            "xml": {
              "name": "Electric"
            }
          },
          "bio": {
            "type": "number",
            "format": "double",
            "description": "Share of bio-diesel vehicles used on this transportation leg",
            "xml": {
              "name": "Bio"
            }
          }
        }
      },
      "ErrorType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "General error code type",
            "enum": [
              "NOT_FOUND",
              "FORBIDDEN",
              "CONFLICT",
              "UNAUTHORIZED",
              "INVALID_ARGUMENT",
              "INVALID_MEASUREMENTS",
              "INTERNAL_ERROR"
            ]
          },
          "errorCode": {
            "type": "string",
            "description": "Error code",
            "enum": [
              "EXTERNAL_SERVICE_UNAVAILABLE",
              "CUSTOMER_NOT_SPECIFIED",
              "CUSTOMER_NOT_FOUND",
              "CUSTOMER_NO_FINANCIAL_ACCESS",
              "CUSTOMER_FORBIDDEN",
              "CUSTOMER_NOT_APPLICABLE_FOR_PRODUCT",
              "PACKAGE_TOO_BIG",
              "REQUIRES_WEIGHT",
              "PRICE_CALCULATION_FAILED",
              "INVALID_COUNTRY_PAIR",
              "OIL_EXPRESS_NOT_AVAILABLE",
              "MULTIPLE_PACKAGE_NOT_SUPPORTED",
              "PRODUCT_SKIPPED_COURIER",
              "PRODUCT_NOT_SUPPORTED",
              "NON_STANDARD_COURIER_SERVICE_REQUIRED",
              "NUMBER_OF_PALLETS_AND_LOAD_METERS_NOT_SUPPORTED",
              "PRODUCT_UNKNOWN",
              "COURIER_PRODUCT_NOT_AVAILABLE",
              "MAIN_CUSTOMER_NUMBER_REQUIRED",
              "INTERNAL_ERROR",
              "OUTSIDE_COVERAGE_AREA",
              "OUTSIDE_COVERAGE_AREA_SPECIAL_POSTAL_CODE",
              "OUTSIDE_COVERAGE_AREA_FROM_SPECIAL_POSTAL_CODE",
              "OUTSIDE_COVERAGE_AREA_TO_SPECIAL_POSTAL_CODE",
              "OUTSIDE_COVERAGE_AREA_PO_BOX",
              "OUTSIDE_COVERAGE_AREA_TO_PO_BOX",
              "OUTSIDE_COVERAGE_AREA_FROM_SVALBARD",
              "OUTSIDE_COVERAGE_AREA_TO_SVALBARD",
              "OUTSIDE_COVERAGE_AREA_EXPRESS",
              "PACKAGE_NOT_WITHIN_WEIGHT_LIMIT",
              "CONSIGNMENT_NOT_WITHIN_WEIGHT_LIMIT",
              "CONSIGNMENT_CHARGEABLE_WEIGHT_LIMIT_EXCEEDED",
              "WEIGHT_AND_VOLUME_OR_DIMENSIONS_OR_PALLETS_OR_LOAD_METER_REQUIRED",
              "WEIGHT_OR_DIMENSIONS_OR_VOLUME_REQUIRED",
              "WEIGHT_OR_DIMENSIONS_REQUIRED",
              "PACKAGE_WEIGHT_OR_VOLUME_BELOW_MINIMUM_LIMIT",
              "TOO_MANY_PACKAGES",
              "PACKAGE_DIMENSIONS_TOO_SMALL",
              "INVALID_ARGUMENTS",
              "SHIPPING_DATE_MAX_10_DAYS_INTO_FUTURE",
              "VAS_REQUIRES_CUSTOMER_NUMBER",
              "INVALID_VAS_COMBINATION",
              "INVALID_CUSTOMER_VAS_COMBINATION",
              "INVALID_SERVICE_VAS_COMBINATION",
              "SHIPPING_DATE_MUST_BE_CURRENT_DATE_OR_FUTURE",
              "SATURDAY_DELIVERY_NOT_AVAILABLE_FOR_ROUTE"
            ]
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the error that occurred"
          }
        },
        "required": [
          "code",
          "description",
          "errorCode"
        ]
      },
      "EstimatedDeliveryTime": {
        "type": "object",
        "properties": {
          "pickupPointId": {
            "type": "string",
            "description": "Pickup point id. Either provided in the request or fetched as default pickup point for recipient postal code",
            "xml": {
              "name": "PickupPointId"
            }
          },
          "pickupPointName": {
            "type": "string",
            "description": "Pickup point name",
            "xml": {
              "name": "PickupPointName"
            }
          },
          "deliveryStartTime": {
            "type": "string",
            "description": "Delivery time window start time at the specified pickup point",
            "pattern": "HH:mm",
            "xml": {
              "name": "DeliveryStartTime"
            }
          },
          "deliveryEndTime": {
            "type": "string",
            "description": "Delivery time window end time at the specified pickup point",
            "pattern": "HH:mm",
            "xml": {
              "name": "DeliveryEndTime"
            }
          },
          "formattedExpectedDeliveryDate": {
            "type": "string",
            "description": "Formatted expected delivery date",
            "pattern": "dd.MM.yyyy",
            "xml": {
              "name": "FormattedExpectedDeliveryDate"
            }
          },
          "shippingDate": {
            "type": "string",
            "description": "Formatted shipping date",
            "pattern": "dd.MM.yyyy",
            "xml": {
              "name": "ShippingDate"
            }
          },
          "workingDays": {
            "type": "integer",
            "format": "int32",
            "description": "Number of working days until delivery",
            "xml": {
              "name": "WorkingDays"
            }
          }
        },
        "required": [
          "pickupPointId"
        ]
      },
      "ExpectedDeliveryDateType": {
        "type": "object",
        "description": "Delivery date",
        "properties": {
          "year": {
            "type": "string",
            "xml": {
              "name": "Year"
            }
          },
          "month": {
            "type": "string",
            "xml": {
              "name": "Month"
            }
          },
          "day": {
            "type": "string",
            "xml": {
              "name": "Day"
            }
          },
          "hour": {
            "type": "string",
            "xml": {
              "name": "Hour"
            }
          },
          "minute": {
            "type": "string",
            "xml": {
              "name": "Minute"
            }
          },
          "timeSlots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlotType"
            },
            "xml": {
              "name": "TimeSlots",
              "wrapped": true
            }
          }
        },
        "required": [
          "day",
          "month",
          "year"
        ]
      },
      "ExpectedDeliveryType": {
        "type": "object",
        "properties": {
          "workingDays": {
            "type": "string",
            "description": "The expected number of working days to deliver the shipment",
            "xml": {
              "name": "WorkingDays"
            }
          },
          "bookingCutoffTime": {
            "type": "string",
            "format": "HH:mm",
            "description": "The deadline for booking a shipment to the given destination. Only relevant for OIL_EXPRESS.",
            "xml": {
              "name": "BookingCutoffTime"
            }
          },
          "userMessage": {
            "type": "string",
            "deprecated": true,
            "description": "If there is known inaccuracy in the calculated lead time, this message will contain a human readable text explaining the deviation",
            "xml": {
              "name": "UserMessage"
            }
          },
          "formattedExpectedDeliveryDate": {
            "type": "string",
            "format": "dd.MM.YYYY HH:mm",
            "description": "Expected delivery date/time formatted as dd.MM.YYYY HH:mm",
            "xml": {
              "name": "FormattedExpectedDeliveryDate"
            }
          },
          "expectedDeliveryDate": {
            "$ref": "#/components/schemas/ExpectedDeliveryDateType",
            "description": "Expected delivery date/time",
            "xml": {
              "name": "ExpectedDeliveryDate"
            }
          },
          "alternativeDeliveryDates": {
            "type": "array",
            "description": "Alternative delivery dates",
            "items": {
              "$ref": "#/components/schemas/AlternativeDeliveryDateType"
            },
            "xml": {
              "name": "AlternativeDeliveryDates",
              "wrapped": true
            }
          },
          "formattedEarliestPickupDate": {
            "type": "string",
            "format": "dd.MM.yyyy",
            "description": "Formatted earliest pickup date",
            "xml": {
              "name": "FormattedEarliestPickupDate"
            }
          },
          "earliestPickupDate": {
            "$ref": "#/components/schemas/DateAndTimeType",
            "description": "Earliest pickup date is the earliest possible pickup time, or in other words the earliest time Bring are able to pick up your shipment for the specified services. Please be advised that if you don't fill out Hour and Minute in ShippingDate in your request, ShippingGuide will assume that you want an immediate pickup of your shipment",
            "xml": {
              "name": "EarliestPickupDate"
            }
          },
          "latestPickupTime": {
            "$ref": "#/components/schemas/DateAndTimeType",
            "description": "Latest pickup time is the latest possible pickup time, or in other words the latest time Bring are able to pick up your shipment for the specified services (on the date same date as the earliest pickup date). Please be advised that if you don't fill out Hour and Minute in ShippingDate in your request, ShippingGuide will assume that you want an immediate pickup of your shipment",
            "xml": {
              "name": "LatestPickupTime"
            }
          },
          "sameDayDelivery": {
            "$ref": "#/components/schemas/SameDayDeliveryType",
            "description": "Same day delivery details. Only relevant for services supporting delivery today or tomorrow like 5600 + 2012 VAS",
            "xml": {
              "name": "SameDayDelivery"
            }
          }
        },
        "required": [
          "userMessage",
          "workingDays"
        ]
      },
      "GuiInformationType": {
        "type": "object",
        "properties": {
          "mainDisplayCategory": {
            "type": "string",
            "description": "Main display category",
            "xml": {
              "name": "MainDisplayCategory"
            }
          },
          "subDisplayCategory": {
            "type": "string",
            "description": "Sub display category",
            "xml": {
              "name": "SubDisplayCategory"
            }
          },
          "trackable": {
            "type": "boolean",
            "description": "Is this service trackable",
            "xml": {
              "name": "Trackable"
            }
          },
          "logo": {
            "type": "string",
            "description": "Logo type to be used with this service",
            "enum": [
              "POSTEN",
              "BRING"
            ],
            "xml": {
              "name": "Logo"
            }
          },
          "logoUrl": {
            "type": "string",
            "description": "URL to a suitable logo in svg format",
            "xml": {
              "name": "LogoUrl"
            }
          },
          "displayName": {
            "type": "string",
            "description": "Service display name",
            "xml": {
              "name": "DisplayName"
            }
          },
          "productName": {
            "type": "string",
            "description": "Service name",
            "xml": {
              "name": "ProductName"
            }
          },
          "descriptionText": {
            "type": "string",
            "description": "Service description",
            "xml": {
              "name": "DescriptionText"
            }
          },
          "helpText": {
            "type": "string",
            "description": "Service help text",
            "xml": {
              "name": "HelpText"
            }
          },
          "shortName": {
            "type": "string",
            "description": "Service short name",
            "xml": {
              "name": "ShortName"
            }
          },
          "productURL": {
            "type": "string",
            "description": "URL to service description page",
            "xml": {
              "name": "ProductURL"
            }
          },
          "deliveryType": {
            "type": "string",
            "description": "Service delivery type",
            "xml": {
              "name": "DeliveryType"
            }
          },
          "maxWeightInKgs": {
            "type": "string",
            "description": "Service max weight in kgs",
            "xml": {
              "name": "MaxWeightInKgs"
            }
          },
          "closestPickupPoint": {
            "type": "string",
            "description": "Default pickup point for the requested toPostalCode. Only relevant for pickup point services SERVICEPAKKE, 5800 and 3067",
            "example": "Pakkeboks Store Brevik. Åpningstider Man - Søn: 0000-2359",
            "xml": {
              "name": "ClosestPickupPoint"
            }
          },
          "environmentalLogoUrl": {
            "type": "string",
            "description": "URL to logo for labelling service as environmental friendly",
            "xml": {
              "name": "EnvironmentalLogoUrl"
            }
          },
          "environmentalTagUrl": {
            "type": "string",
            "description": "URL to tag for labelling services as environmental friendly",
            "xml": {
              "name": "EnvironmentalTagUrl"
            }
          }
        },
        "required": [
          "deliveryType",
          "descriptionText",
          "displayName",
          "helpText",
          "mainDisplayCategory",
          "maxWeightInKgs",
          "productName",
          "productURL",
          "shortName",
          "subDisplayCategory"
        ]
      },
      "PriceType": {
        "type": "object",
        "description": "Net (agreeemnt) price for shipping the service. Will only be calculated if a valid customer number has been supplied for the service",
        "properties": {
          "priceWithoutAdditionalServices": {
            "$ref": "#/components/schemas/DetailedPriceType",
            "description": "Price without additional services",
            "xml": {
              "name": "PriceWithoutAdditionalServices"
            }
          },
          "additionalServices": {
            "type": "array",
            "description": "Additional service prices",
            "items": {
              "$ref": "#/components/schemas/AdditionalServicePriceType"
            },
            "xml": {
              "name": "AdditionalServicePrices",
              "wrapped": true
            }
          },
          "priceWithAdditionalServices": {
            "$ref": "#/components/schemas/DetailedPriceType",
            "description": "Price with additional services",
            "xml": {
              "name": "PriceWithAdditionalServices"
            }
          },
          "cargoAgreementPrices": {
            "type": "array",
            "description": "Cargo agreement price attributes",
            "items": {
              "$ref": "#/components/schemas/CargoAgreementAttributesType"
            },
            "xml": {
              "name": "CargoAgreementPrices",
              "wrapped": true
            }
          },
          "agreementAttributes": {
            "$ref": "#/components/schemas/AgreementAttributeType",
            "description": "Agreement price (contract/agreement) attributes used for net prices used for producing EDI. Never set for list prices.",
            "xml": {
              "name": "AgreementAttributes"
            }
          },
          "currencyCode": {
            "type": "string",
            "description": "Currency code for all prices",
            "xml": {
              "attribute": true
            }
          },
          "netPriceFailed": {
            "type": "boolean",
            "description": "Only used for net prices in the scenario where net price calculation fails. If true, returned net price will be equal to list price, or a partially discounted price (i.e. a value between the list price and the correct net price)",
            "xml": {
              "attribute": true
            }
          }
        },
        "required": [
          "priceWithAdditionalServices",
          "priceWithoutAdditionalServices"
        ]
      },
      "PriceZonesType": {
        "type": "object",
        "properties": {
          "totalZoneCount": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of price zones used during price calculation",
            "xml": {
              "name": "TotalZoneCount"
            }
          }
        }
      },
      "PricesType": {
        "type": "object",
        "properties": {
          "listPrice": {
            "$ref": "#/components/schemas/PriceType",
            "description": "List price for shipping the service",
            "xml": {
              "name": "ListPrice"
            }
          },
          "netPrice": {
            "$ref": "#/components/schemas/PriceType",
            "description": "Net (agreeemnt) price for shipping the service. Will only be calculated if a valid customer number has been supplied for the service",
            "xml": {
              "name": "NetPrice"
            }
          },
          "zones": {
            "$ref": "#/components/schemas/PriceZonesType",
            "description": "Price zone details",
            "xml": {
              "name": "Zones"
            }
          }
        }
      },
      "ProductOutputType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The service id",
            "xml": {
              "name": "Id"
            }
          },
          "customerNumber": {
            "type": "string",
            "description": "The mybring API customer number",
            "xml": {
              "name": "CustomerNumber"
            }
          },
          "productionCode": {
            "type": "string",
            "description": "Backend system production code. This code is required when producing valid EDI messages during ordering.",
            "xml": {
              "name": "ProductionCode"
            }
          },
          "sortingCode": {
            "type": "string",
            "deprecated": true,
            "description": "Sorting code. Only relevant for home delivery services with Norway as destination.",
            "xml": {
              "name": "SortingCode"
            }
          },
          "sortingDirection": {
            "type": "string",
            "deprecated": true,
            "description": "Sorting direction. Only relevant for home delivery services with Norway as destination.",
            "xml": {
              "name": "SortingDirection"
            }
          },
          "greenDelivery": {
            "type": "boolean",
            "deprecated": true,
            "description": "Indicates whether the shipment is being delivered with fossil free transportation or not. Only relevant for HD-services",
            "xml": {
              "name": "GreenDelivery"
            }
          },
          "shippingWeight": {
            "type": "number",
            "format": "double",
            "description": "The calculated volumetric weight (chargeable weight)",
            "xml": {
              "name": "ShippingWeight"
            }
          },
          "guiInformation": {
            "$ref": "#/components/schemas/GuiInformationType",
            "description": "Detailed description of the requested service. All texts are in the requested language whenever translations are available.",
            "xml": {
              "name": "GuiInformation"
            }
          },
          "price": {
            "$ref": "#/components/schemas/PricesType",
            "description": "Requested service and additional services prices",
            "xml": {
              "name": "Price"
            }
          },
          "expectedDelivery": {
            "$ref": "#/components/schemas/ExpectedDeliveryType",
            "description": "Expected delivery details for the shipment",
            "xml": {
              "name": "ExpectedDelivery"
            }
          },
          "estimatedDeliveryTimes": {
            "type": "array",
            "description": "Estimated delivery times at provided pickup point ids. Only relevant when withEstimatedDeliveryTime flag is set for services delivered to pickup point.",
            "items": {
              "$ref": "#/components/schemas/EstimatedDeliveryTime"
            },
            "xml": {
              "name": "EstimatedDeliveryTimes",
              "wrapped": true
            }
          },
          "environmentalData": {
            "type": "array",
            "description": "Estimated delivery times at provided pickup point ids. Only relevant when withEstimatedDeliveryTime flag is set for services delivered to pickup point.",
            "items": {
              "$ref": "#/components/schemas/TransportLegEnvironmentalDataType"
            },
            "xml": {
              "name": "EnvironmentalData",
              "wrapped": true
            }
          },
          "edi": {
            "$ref": "#/components/schemas/EdiType",
            "description": "EDI information required to make EDI bookings",
            "xml": {
              "name": "Edi"
            }
          },
          "errors": {
            "type": "array",
            "description": "Errors related to requested service, if any",
            "items": {
              "$ref": "#/components/schemas/ErrorType"
            },
            "xml": {
              "name": "Errors",
              "wrapped": true
            }
          },
          "warnings": {
            "type": "array",
            "description": "Warnings related to the requested service, if any. Warnings could explain why some parts of the requested data is missing",
            "items": {
              "$ref": "#/components/schemas/WarningType"
            },
            "xml": {
              "name": "Warnings",
              "wrapped": true
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "QuickpackSpecificEdiParametersType": {
        "type": "object",
        "properties": {
          "upsSpecificEdiParameters": {
            "$ref": "#/components/schemas/UpsSpecificEdiParametersType",
            "description": "Quickpack service data required to make EDI booking while using UPS as a transport service provider",
            "xml": {
              "name": "UpsSpecificEdiParameters"
            }
          },
          "orderStartTime": {
            "type": "string",
            "xml": {
              "name": "OrderStartTime"
            }
          }
        }
      },
      "RouteInformationType": {
        "type": "object",
        "properties": {
          "routeId": {
            "type": "string",
            "description": "Route id",
            "xml": {
              "name": "RouteId"
            }
          },
          "routeName": {
            "type": "string",
            "description": "Route name",
            "xml": {
              "name": "RouteName"
            }
          }
        },
        "required": [
          "routeId",
          "routeName"
        ]
      },
      "SameDayDeliveryType": {
        "type": "object",
        "properties": {
          "formattedDeliveryDate": {
            "type": "string",
            "format": "dd.MM.yyyy",
            "description": "Formatted delivery date",
            "xml": {
              "name": "FormattedDeliveryDate"
            }
          },
          "deliveryDate": {
            "$ref": "#/components/schemas/ExpectedDeliveryDateType",
            "description": "Delivery date",
            "xml": {
              "name": "DeliveryDate"
            }
          },
          "routeInformation": {
            "$ref": "#/components/schemas/RouteInformationType",
            "description": "Route information",
            "xml": {
              "name": "RouteInformation"
            }
          }
        },
        "required": [
          "deliveryDate",
          "formattedDeliveryDate"
        ]
      },
      "Shipping_guide_response": {
        "type": "object",
        "properties": {
          "consignments": {
            "type": "array",
            "description": "List of consignments",
            "items": {
              "$ref": "#/components/schemas/ConsignmentOutputType"
            },
            "xml": {
              "name": "Consignments",
              "wrapped": true
            }
          },
          "uniqueId": {
            "type": "string",
            "description": "Request unique id",
            "xml": {
              "attribute": true
            }
          }
        },
        "xml": {
          "name": "ShippingGuideResponse"
        }
      },
      "TimeSlotType": {
        "type": "object",
        "properties": {
          "startTime": {
            "$ref": "#/components/schemas/DayTimeType",
            "xml": {
              "name": "StartTime"
            }
          },
          "endTime": {
            "$ref": "#/components/schemas/DayTimeType",
            "xml": {
              "name": "EndTime"
            }
          }
        },
        "required": [
          "endTime",
          "startTime"
        ]
      },
      "TransportLegEnvironmentalDataType": {
        "type": "object",
        "properties": {
          "transportLeg": {
            "type": "string",
            "description": "Transport leg",
            "enum": [
              "LAST_MILE",
              "LINE_HAUL",
              "FIRST_MILE"
            ],
            "xml": {
              "name": "TransportLegType"
            }
          },
          "fossilFree": {
            "type": "boolean",
            "description": "If true, shipment is transported by fossil free vehicles on this leg",
            "xml": {
              "name": "FossilFree"
            }
          },
          "nordicSwanEcoLabel": {
            "type": "boolean",
            "description": "If true, shipment that is transported is nordic swan eco labeled",
            "xml": {
              "name": "NordicSwanEcoLabel"
            }
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "xml": {
              "name": "Description"
            }
          },
          "details": {
            "$ref": "#/components/schemas/EnvironmentalDataDetailsType",
            "description": "Fossil free vehicle details",
            "xml": {
              "name": "Details"
            }
          }
        },
        "required": [
          "transportLeg"
        ]
      },
      "UpsSpecificEdiParametersType": {
        "type": "object",
        "description": "Quickpack service data required to make EDI booking while using UPS as a transport service provider",
        "properties": {
          "upsServiceTitle": {
            "type": "string",
            "xml": {
              "name": "UpsServiceTitle"
            }
          },
          "upsRoutingCode": {
            "type": "string",
            "xml": {
              "name": "UpsRoutingCode"
            }
          },
          "upsRoutingCodeVersion": {
            "type": "string",
            "xml": {
              "name": "UpsRoutingCodeVersion"
            }
          },
          "upsAccountNumber": {
            "type": "string",
            "xml": {
              "name": "UpsAccountNumber"
            }
          },
          "upsServiceIndicator": {
            "type": "string",
            "xml": {
              "name": "UpsServiceIndicator"
            }
          },
          "leg1CustomerNumber": {
            "type": "string",
            "xml": {
              "name": "Leg1CustomerNumber"
            }
          },
          "leg1TransportServiceProvider": {
            "type": "string",
            "xml": {
              "name": "Leg1TransportServiceProvider"
            }
          },
          "stateProvinceCounty": {
            "type": "string",
            "xml": {
              "name": "StateProvinceCounty"
            }
          },
          "bringStreamIndicator": {
            "type": "string",
            "xml": {
              "name": "BringStreamIndicator"
            }
          },
          "upsServiceIcon": {
            "type": "string",
            "xml": {
              "name": "UpsServiceIcon"
            }
          },
          "upsClassOfService": {
            "type": "string",
            "xml": {
              "name": "UpsClassOfService"
            }
          },
          "upsBillingOption": {
            "type": "string",
            "xml": {
              "name": "UpsBillingOption"
            }
          },
          "upsDocumentationIndicator1": {
            "type": "string",
            "xml": {
              "name": "UpsDocumentationIndicator1"
            }
          },
          "upsDocumentationIndicator2": {
            "type": "string",
            "xml": {
              "name": "UpsDocumentationIndicator2"
            }
          },
          "upsSignatureRequiredString": {
            "type": "string",
            "xml": {
              "name": "UpsSignatureRequiredString"
            }
          }
        },
        "required": [
          "bringStreamIndicator",
          "leg1CustomerNumber",
          "leg1TransportServiceProvider",
          "stateProvinceCounty",
          "upsAccountNumber",
          "upsBillingOption",
          "upsClassOfService",
          "upsDocumentationIndicator1",
          "upsDocumentationIndicator2",
          "upsRoutingCode",
          "upsRoutingCodeVersion",
          "upsServiceIcon",
          "upsServiceIndicator",
          "upsServiceTitle",
          "upsSignatureRequiredString"
        ]
      },
      "WarningType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Warning code",
            "enum": [
              "NO_EXPECTED_DELIVERY",
              "NO_PRICE_INFORMATION",
              "ADDITIONAL_SERVICE_NOT_APPLICABLE",
              "ESTIMATED_DELIVERY_TIME_NOT_FOUND",
              "INCORRECT_FLAG_SET_FOR_ESTIMATED_DELIVERY_TIME",
              "ESTIMATED_DELIVERY_TIME_NOT_AVAILABLE",
              "OUTSIDE_STANDARD_COVERAGE_AREA_FOR_PRODUCT",
              "ESTIMATED_ARRIVAL_TIME_NOT_FOUND",
              "ESTIMATED_ARRIVAL_TIME_NOT_AVAILABLE",
              "ADDRESS_NOT_MATCHED",
              "SVALBARD_POSSIBLE_DELAY",
              "SPECIAL_CARGO_LIMITS_EXCEEDED",
              "SPECIAL_HANDLING_LIMITS_EXCEEDED",
              "EXPECTED_DELIVERY_NOT_AVAILABLE_WITHOUT_ADDRESS",
              "EXPECTED_DELIVERY_NOT_AVAILABLE_UNKNOWN_ADDRESS",
              "NO_ENVIRONMENTAL_DATA",
              "PARCEL_LOCKER_UNIT_ID_MANDATORY_FOR_ESTIMATED_DELIVERY_TIME",
              "LEADTIME_NOT_FOUND",
              "REQUIRES_WEIGHT_FOR_PRICE_CALCULATION",
              "NO_ALTERNATIVE_DATES"
            ]
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the warning"
          }
        },
        "required": [
          "code",
          "description"
        ]
      },
      "Errors": {
        "type": "object",
        "properties": {
          "fieldErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            },
            "xml": {
              "name": "FieldErrors",
              "wrapped": true
            }
          }
        },
        "required": [
          "fieldErrors"
        ],
        "xml": {
          "name": "Errors"
        }
      },
      "FieldError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "NOT_FOUND",
              "FORBIDDEN",
              "CONFLICT",
              "UNAUTHORIZED",
              "INVALID_ARGUMENT",
              "INVALID_MEASUREMENTS",
              "INTERNAL_ERROR"
            ],
            "xml": {
              "name": "Code"
            }
          },
          "message": {
            "type": "string",
            "xml": {
              "name": "Message"
            }
          },
          "field": {
            "type": "string",
            "xml": {
              "name": "Field"
            }
          }
        },
        "required": [
          "code",
          "field",
          "message"
        ]
      }
    },
    "examples": {
      "alternateDeliveryDatesError": {
        "value": {
          "fieldErrors": [
            {
              "code": "INVALID_ARGUMENT",
              "message": "Number of alternative delivery dates must be less than 10",
              "field": "numberofdeliverydates"
            }
          ]
        }
      },
      "missingProductId": {
        "value": {
          "fieldErrors": [
            {
              "code": "INVALID_ARGUMENT",
              "message": "One of the consignment is missing product id. Product id is mandatory on each consignment.",
              "field": "product"
            }
          ]
        }
      },
      "singlePackage": {
        "value": {
          "consignments": [
            {
              "packages": [
                {
                  "height": 10.5,
                  "width": 20.5,
                  "length": 25,
                  "grossWeight": 250,
                  "volumeSpecial": false,
                  "nonStackable": false,
                  "numberOfPallets": 0,
                  "id": "1"
                }
              ],
              "fromCountryCode": "NO",
              "fromPostalCode": "1555",
              "toCountryCode": "NO",
              "toPostalCode": "0173",
              "shippingDate": {
                "year": "2022",
                "month": "11",
                "day": "15"
              },
              "additionalServices": [],
              "pickupPoints": [],
              "products": [
                {
                  "id": "5600",
                  "customerNumber": "123456789",
                  "autoSelectCustomerNumber": false
                }
              ],
              "id": "1"
            }
          ],
          "language": "NO",
          "withPrice": true,
          "withExpectedDelivery": true,
          "withGuiInformation": true,
          "numberOfAlternativeDeliveryDates": 0,
          "edi": false,
          "postingAtPostoffice": false,
          "trace": false,
          "withEstimatedDeliveryTime": false,
          "withEnvironmentalData": false
        }
      },
      "alternateDeliveryDates": {
        "value": {
          "consignments": [
            {
              "products": [
                {
                  "id": "5600",
                  "productionCode": "5600",
                  "expectedDelivery": {
                    "workingDays": "1",
                    "userMessage": "",
                    "formattedExpectedDeliveryDate": "18.11.2022",
                    "expectedDeliveryDate": {
                      "year": "2022",
                      "month": "11",
                      "day": "16",
                      "timeSlots": [
                        {
                          "startTime": {
                            "hour": "17",
                            "minute": "0"
                          },
                          "endTime": {
                            "hour": "21",
                            "minute": "0"
                          }
                        }
                      ]
                    },
                    "alternativeDeliveryDates": [
                      {
                        "workingDays": "1",
                        "shippingDate": {
                          "year": "2022",
                          "month": "11",
                          "day": "16"
                        },
                        "formattedExpectedDeliveryDate": "18.11.2022",
                        "expectedDeliveryDate": {
                          "year": "2022",
                          "month": "11",
                          "day": "16",
                          "timeSlots": [
                            {
                              "startTime": {
                                "hour": "17",
                                "minute": "0"
                              },
                              "endTime": {
                                "hour": "21",
                                "minute": "0"
                              }
                            }
                          ]
                        }
                      },
                      {
                        "workingDays": "1",
                        "shippingDate": {
                          "year": "2022",
                          "month": "11",
                          "day": "21"
                        },
                        "formattedExpectedDeliveryDate": "21.11.2022",
                        "expectedDeliveryDate": {
                          "year": "2022",
                          "month": "11",
                          "day": "16",
                          "timeSlots": [
                            {
                              "startTime": {
                                "hour": "17",
                                "minute": "0"
                              },
                              "endTime": {
                                "hour": "21",
                                "minute": "0"
                              }
                            }
                          ]
                        }
                      },
                      {
                        "workingDays": "1",
                        "shippingDate": {
                          "year": "2022",
                          "month": "11",
                          "day": "16"
                        },
                        "formattedExpectedDeliveryDate": "22.11.2022",
                        "expectedDeliveryDate": {
                          "year": "2022",
                          "month": "11",
                          "day": "22",
                          "timeSlots": [
                            {
                              "startTime": {
                                "hour": "17",
                                "minute": "0"
                              },
                              "endTime": {
                                "hour": "21",
                                "minute": "0"
                              }
                            }
                          ]
                        }
                      }
                    ],
                    "formattedEarliestPickupDate": "16.11.2022 13:23",
                    "earliestPickupDate": {
                      "year": "2022",
                      "month": "11",
                      "day": "16",
                      "hour": "13",
                      "minute": "23"
                    }
                  }
                }
              ],
              "consignmentId": "1"
            }
          ],
          "uniqueId": "66091c94-6565-4c42-9c49-34bab012236d"
        }
      },
      "missingConsignment": {
        "value": {
          "fieldErrors": [
            {
              "code": "INVALID_ARGUMENT",
              "message": "Consignment details missing",
              "field": ""
            }
          ]
        }
      },
      "alternativeDeliveryDates": {
        "value": {
          "consignments": [
            {
              "packages": [
                {
                  "grossWeight": 250,
                  "volumeSpecial": false,
                  "nonStackable": false,
                  "numberOfPallets": 0,
                  "id": "1"
                }
              ],
              "fromCountryCode": "NO",
              "fromPostalCode": "1555",
              "toCountryCode": "NO",
              "toPostalCode": "0173",
              "shippingDate": {
                "year": "2022",
                "month": "11",
                "day": "15",
                "hour": "10",
                "minute": "36"
              },
              "additionalServices": [],
              "pickupPoints": [],
              "products": [
                {
                  "id": "5600",
                  "customerNumber": "123456789",
                  "autoSelectCustomerNumber": false
                }
              ],
              "id": "1"
            }
          ],
          "language": "NO",
          "withPrice": true,
          "withExpectedDelivery": true,
          "withGuiInformation": true,
          "numberOfAlternativeDeliveryDates": 3,
          "edi": false,
          "postingAtPostoffice": false,
          "trace": false,
          "withEstimatedDeliveryTime": false,
          "withEnvironmentalData": false
        }
      },
      "multiplePackages": {
        "value": {
          "consignments": [
            {
              "packages": [
                {
                  "height": 10.5,
                  "width": 20.5,
                  "length": 25,
                  "grossWeight": 250,
                  "volumeSpecial": false,
                  "nonStackable": false,
                  "numberOfPallets": 0,
                  "id": "1"
                },
                {
                  "grossWeight": 442,
                  "volume": 34.5,
                  "volumeSpecial": false,
                  "nonStackable": false,
                  "numberOfPallets": 0,
                  "id": "2"
                }
              ],
              "fromCountryCode": "NO",
              "fromPostalCode": "1555",
              "toCountryCode": "NO",
              "toPostalCode": "0173",
              "shippingDate": {
                "year": "2022",
                "month": "11",
                "day": "15"
              },
              "additionalServices": [],
              "pickupPoints": [],
              "products": [
                {
                  "id": "5600",
                  "customerNumber": "123456789",
                  "autoSelectCustomerNumber": false
                }
              ],
              "id": "1"
            }
          ],
          "language": "NO",
          "withPrice": true,
          "withExpectedDelivery": true,
          "withGuiInformation": true,
          "numberOfAlternativeDeliveryDates": 0,
          "edi": false,
          "postingAtPostoffice": false,
          "trace": false,
          "withEstimatedDeliveryTime": false,
          "withEnvironmentalData": false
        }
      },
      "netPrice": {
        "value": {
          "consignments": [
            {
              "products": [
                {
                  "id": "5600",
                  "productionCode": "5600",
                  "shippingWeight": 1,
                  "price": {
                    "listPrice": {
                      "priceWithoutAdditionalServices": {
                        "amountWithoutVAT": "228.77",
                        "vat": "57.19",
                        "amountWithVAT": "285.96"
                      },
                      "additionalServices": [
                        {
                          "additionalServiceId": "2012",
                          "additionalServiceDescription": "",
                          "additionalServicePrice": {
                            "amountWithoutVAT": "30.00",
                            "vat": "7.50",
                            "amountWithVAT": "37.50"
                          },
                          "additionalServiceCodeFromProductionSystem": "2012"
                        }
                      ],
                      "priceWithAdditionalServices": {
                        "amountWithoutVAT": "258.77",
                        "vat": "64.69",
                        "amountWithVAT": "323.46"
                      },
                      "currencyCode": "NOK"
                    },
                    "netPrice": {
                      "priceWithoutAdditionalServices": {
                        "amountWithoutVAT": "228.77",
                        "vat": "57.19",
                        "amountWithVAT": "285.96"
                      },
                      "additionalServices": [
                        {
                          "additionalServiceId": "2012",
                          "additionalServiceDescription": "",
                          "additionalServicePrice": {
                            "amountWithoutVAT": "30.00",
                            "vat": "7.50",
                            "amountWithVAT": "37.50"
                          },
                          "additionalServiceCodeFromProductionSystem": "2012"
                        }
                      ],
                      "priceWithAdditionalServices": {
                        "amountWithoutVAT": "258.77",
                        "vat": "64.69",
                        "amountWithVAT": "323.46"
                      },
                      "currencyCode": "NOK"
                    },
                    "zones": {
                      "totalZoneCount": 5
                    }
                  }
                }
              ],
              "consignmentId": "1"
            }
          ],
          "uniqueId": "66091c94-6565-4c42-9c49-34bab012236d"
        }
      },
      "environmentalData": {
        "value": {
          "consignments": [
            {
              "products": [
                {
                  "id": "5600",
                  "productionCode": "5600",
                  "expectedDelivery": {
                    "workingDays": "1",
                    "userMessage": "",
                    "formattedExpectedDeliveryDate": "16.11.2022",
                    "expectedDeliveryDate": {
                      "year": "2022",
                      "month": "11",
                      "day": "16",
                      "timeSlots": [
                        {
                          "startTime": {
[...]
