{
  "openapi": "3.0.3",
  "info": {
    "title": "Click & Sign by Lleida.net API",
    "description": "Click & Sign is an online platform for effortless document signing. Provides APIs for configuration management, signature operations, document management, and bulk operations.",
    "version": "1.0.0",
    "x-jentic-source-url": "http://api.lleida.net/dtd/clickandsign/v1/en/index.html"
  },
  "servers": [
    {
      "url": "https://api.lleida.net",
      "description": "Click & Sign API server"
    }
  ],
  "paths": {
    "/cs/v1/set_config": {
      "post": {
        "operationId": "setConfig",
        "summary": "Create or update a signature process configuration",
        "tags": [
          "Configuration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_config": {
      "post": {
        "operationId": "getConfig",
        "summary": "Retrieve a signature process configuration",
        "tags": [
          "Configuration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_config_list": {
      "post": {
        "operationId": "getConfigList",
        "summary": "List all signature process configurations",
        "tags": [
          "Configuration"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConfigListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConfigListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/set_config_status": {
      "post": {
        "operationId": "setConfigStatus",
        "summary": "Enable or disable a configuration",
        "tags": [
          "Configuration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetConfigStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/start_signature": {
      "post": {
        "operationId": "startSignature",
        "summary": "Start a new signature process",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSignatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature process started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartSignatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_signature_status": {
      "post": {
        "operationId": "getSignatureStatus",
        "summary": "Get the status of a signature process",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_signatory_status": {
      "post": {
        "operationId": "getSignatoryStatus",
        "summary": "Get the status of a specific signatory",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signatory status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatoryStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_signature_list": {
      "post": {
        "operationId": "getSignatureList",
        "summary": "List signatures with optional filters",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSignatureListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSignatureListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_signatory_details": {
      "post": {
        "operationId": "getSignatoryDetails",
        "summary": "Get detailed information about a signatory",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signatory details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatoryDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/send_reminder": {
      "post": {
        "operationId": "sendReminder",
        "summary": "Send a reminder to a signatory",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reminder sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/cancel_signature": {
      "post": {
        "operationId": "cancelSignature",
        "summary": "Cancel an active signature process",
        "tags": [
          "Signature"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_file_list": {
      "post": {
        "operationId": "getFileList",
        "summary": "List available files for a signature",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/get_file": {
      "post": {
        "operationId": "getFile",
        "summary": "Download a file from a signature process",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/bulk_validate": {
      "post": {
        "operationId": "bulkValidate",
        "summary": "Validate a bulk signature batch",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk validation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/bulk_validation_result": {
      "post": {
        "operationId": "bulkValidationResult",
        "summary": "Get the result of a bulk validation",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk validation result retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/bulk_start_signature": {
      "post": {
        "operationId": "bulkStartSignature",
        "summary": "Start a bulk signature process",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk signature process started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/bulk_status": {
      "post": {
        "operationId": "bulkStatus",
        "summary": "Get the status of a bulk operation",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication using x-api-key scheme"
      }
    },
    "schemas": {
      "BaseRequest": {
        "type": "object",
        "required": [
          "user",
          "request"
        ],
        "properties": {
          "user": {
            "type": "string",
            "description": "API user identifier"
          },
          "request": {
            "type": "string",
            "description": "Request type identifier"
          },
          "request_id": {
            "type": "string",
            "description": "Optional request identifier for tracking"
          }
        }
      },
      "SetConfigRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "properties": {
              "config_id": {
                "type": "string",
                "description": "Configuration identifier"
              },
              "name": {
                "type": "string",
                "description": "Configuration name"
              },
              "expire_lapse": {
                "type": "integer",
                "description": "Expiration lapse in seconds"
              },
              "lang": {
                "type": "string",
                "description": "Language code"
              },
              "signature_type": {
                "type": "string",
                "description": "Type of signature"
              }
            }
          }
        ]
      },
      "SetConfigResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Response code"
          },
          "status": {
            "type": "string",
            "description": "Response status description"
          },
          "request": {
            "type": "string",
            "description": "Request type"
          },
          "config_id": {
            "type": "string",
            "description": "Created configuration ID"
          }
        }
      },
      "GetConfigRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "required": [
              "config_id"
            ],
            "properties": {
              "config_id": {
                "type": "string",
                "description": "Configuration identifier to retrieve"
              }
            }
          }
        ]
      },
      "ConfigObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "config_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "expire_lapse": {
            "type": "integer"
          },
          "lang": {
            "type": "string"
          },
          "signature_type": {
            "type": "string"
          }
        }
      },
      "GetConfigListRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "enabled",
                  "disabled"
                ],
                "description": "Filter by configuration status"
              }
            }
          }
        ]
      },
      "GetConfigListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "config_list": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "config_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SetConfigStatusRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "required": [
              "config_id",
              "status"
            ],
            "properties": {
              "config_id": {
                "type": "string",
                "description": "Configuration identifier"
              },
              "status": {
                "type": "string",
                "enum": [
                  "enabled",
                  "disabled"
                ],
                "description": "New status"
              }
            }
          }
        ]
      },
      "StartSignatureRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "required": [
              "config_id",
              "contract_id",
              "level",
              "file"
            ],
            "properties": {
              "config_id": {
                "type": "string",
                "description": "Configuration to use"
              },
              "contract_id": {
                "type": "string",
                "description": "Contract identifier"
              },
              "level": {
                "type": "array",
                "description": "Array of signatory levels",
                "items": {
                  "$ref": "#/components/schemas/SignatoryLevel"
                }
              },
              "file": {
                "type": "array",
                "description": "Array of files to sign (max 20 files, 25MB total)",
                "items": {
                  "$ref": "#/components/schemas/SignatureFile"
                }
              }
            }
          }
        ]
      },
      "SignatoryLevel": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Signatory phone number"
          },
          "email": {
            "type": "string",
            "description": "Signatory email address"
          },
          "name": {
            "type": "string",
            "description": "Signatory first name"
          },
          "surname": {
            "type": "string",
            "description": "Signatory last name"
          },
          "id_number": {
            "type": "string",
            "description": "Signatory ID number"
          },
          "external_id": {
            "type": "string",
            "description": "External identifier for the signatory"
          }
        }
      },
      "SignatureFile": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded file content"
          },
          "filename": {
            "type": "string",
            "description": "File name"
          },
          "signature_position": {
            "type": "object",
            "description": "Position of signature on the document"
          },
          "fields": {
            "type": "array",
            "description": "Form fields in the document",
            "items": {
              "type": "object"
            }
          },
          "security": {
            "type": "object",
            "description": "Security settings for the file"
          }
        }
      },
      "StartSignatureResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "request": {
            "type": "string"
          },
          "signature_id": {
            "type": "string",
            "description": "Created signature process ID"
          },
          "signatories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "signatory_id": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "description": "Signing URL for this signatory"
                }
              }
            }
          }
        }
      },
      "SignatureIdRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "required": [
              "signature_id"
            ],
            "properties": {
              "signature_id": {
                "type": "string",
                "description": "Signature process identifier"
              }
            }
          }
        ]
      },
      "SignatoryIdRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "required": [
              "signatory_id"
            ],
            "properties": {
              "signatory_id": {
                "type": "string",
                "description": "Signatory identifier"
              }
            }
          }
        ]
      },
      "SignatureStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signature_status": {
            "type": "string",
            "description": "Current status of the signature process"
          },
          "status_date": {
            "type": "string",
            "description": "Date of the last status change"
          },
          "signature_id": {
            "type": "string"
          }
        }
      },
      "SignatoryStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signatory_status": {
            "type": "string"
          },
          "status_date": {
            "type": "string"
          },
          "signatory_id": {
            "type": "string"
          }
        }
      },
      "GetSignatureListRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "properties": {
              "start_date": {
                "type": "string",
                "description": "Start date filter"
              },
              "end_date": {
                "type": "string",
                "description": "End date filter (max 31-day interval)"
              },
              "signature_id": {
                "type": "string"
              },
              "contract_id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "config_id": {
                "type": "string"
              },
              "signature_status": {
                "type": "string"
              }
            }
          }
        ]
      },
      "GetSignatureListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signatures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "signature_id": {
                  "type": "string"
                },
                "contract_id": {
                  "type": "string"
                },
                "signature_status": {
                  "type": "string"
                },
                "signatories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "signatory_id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SignatoryDetailsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signatory_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "description": "IP address used by the signatory"
          },
          "otp_attempts": {
            "type": "integer",
            "description": "Number of OTP verification attempts"
          },
          "communication_log": {
            "type": "array",
            "description": "Log of communications sent to the signatory",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetFileListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file_id": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GetFileRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "required": [
              "signature_id",
              "file_id"
            ],
            "properties": {
              "signature_id": {
                "type": "string"
              },
              "file_id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "GetFileResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded file content"
          },
          "filename": {
            "type": "string"
          }
        }
      },
      "BulkRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseRequest"
          },
          {
            "type": "object",
            "properties": {
              "bulk_id": {
                "type": "string",
                "description": "Bulk operation identifier"
              }
            }
          }
        ]
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Numeric status code"
          },
          "status": {
            "type": "string",
            "description": "Status description"
          },
          "request": {
            "type": "string",
            "description": "Request type"
          },
          "request_id": {
            "type": "string",
            "description": "Echo of request_id if provided"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "status": {
            "type": "string",
            "description": "Error description"
          },
          "request": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Configuration",
      "description": "Manage signature process configurations"
    },
    {
      "name": "Signature",
      "description": "Signature operations"
    },
    {
      "name": "Document",
      "description": "Document management"
    },
    {
      "name": "Bulk",
      "description": "Bulk signature operations"
    }
  ]
}