{
  "openapi": "3.0.3",
  "info": {
    "title": "CraftMyPDF API",
    "version": "1.0.0",
    "description": "CraftMyPDF provides a REST API for generating PDF documents and images from templates. Create, manage, and merge PDF documents programmatically using JSON data and customizable templates.",
    "x-jentic-source-url": "https://craftmypdf.com/docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.craftmypdf.com/v1"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "PDF Generation",
      "description": "Generate PDF and image files from templates"
    },
    {
      "name": "Templates",
      "description": "Template management"
    },
    {
      "name": "PDF Operations",
      "description": "Merge and manipulate PDFs"
    },
    {
      "name": "Account",
      "description": "Account information"
    }
  ],
  "paths": {
    "/create": {
      "post": {
        "operationId": "createPdf",
        "summary": "Generate a PDF from a template",
        "description": "Generate a PDF or image by combining a template with JSON data. Returns a URL to download the generated file.",
        "tags": [
          "PDF Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create-editor-session": {
      "post": {
        "operationId": "createEditorSession",
        "summary": "Create an editor session",
        "description": "Create a new editor session to allow users to edit a template in the browser. Returns a session URL.",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template_id"
                ],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID to edit"
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Session expiration in minutes"
                  },
                  "data": {
                    "type": "object",
                    "description": "Pre-fill data for the template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Editor session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create-async": {
      "post": {
        "operationId": "createPdfAsync",
        "summary": "Generate a PDF asynchronously",
        "description": "Generate a PDF asynchronously. A callback URL will be notified when the PDF is ready. Useful for batch processing or large templates.",
        "tags": [
          "PDF Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePdfAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async generation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "transaction_ref": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/merge-pdfs": {
      "post": {
        "operationId": "mergePdfs",
        "summary": "Merge multiple PDFs",
        "description": "Merge multiple PDF files into a single PDF document.",
        "tags": [
          "PDF Operations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "urls"
                ],
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Array of PDF URLs to merge"
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Minutes before the output URL expires"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDFs merged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-template": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get template details",
        "description": "Retrieve details of a specific template by its ID.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list-templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "description": "List all templates in the account with optional filtering.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of templates to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Template list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account-info": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get account information",
        "description": "Retrieve current account information including API usage and limits.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "CraftMyPDF API key"
      }
    },
    "schemas": {
      "CreatePdfRequest": {
        "type": "object",
        "required": [
          "template_id",
          "data"
        ],
        "properties": {
          "template_id": {
            "type": "string",
            "description": "Template ID"
          },
          "data": {
            "type": "object",
            "description": "JSON data to populate the template"
          },
          "output_file": {
            "type": "string",
            "description": "Output file name"
          },
          "export_type": {
            "type": "string",
            "enum": [
              "json",
              "file"
            ],
            "description": "Export type"
          },
          "expiration": {
            "type": "integer",
            "description": "Minutes before the output URL expires"
          },
          "is_cmyk": {
            "type": "boolean",
            "description": "Generate PDF in CMYK color space"
          },
          "image_resample_res": {
            "type": "integer",
            "description": "Image resample resolution"
          },
          "password": {
            "type": "string",
            "description": "PDF password protection"
          }
        }
      },
      "CreatePdfAsyncRequest": {
        "type": "object",
        "required": [
          "template_id",
          "data"
        ],
        "properties": {
          "template_id": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL for notification"
          },
          "output_file": {
            "type": "string"
          },
          "expiration": {
            "type": "integer"
          }
        }
      },
      "CreatePdfResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "file": {
            "type": "string",
            "format": "uri",
            "description": "URL to download the generated file"
          },
          "transaction_ref": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "pdf_count": {
            "type": "integer"
          },
          "image_count": {
            "type": "integer"
          },
          "template_count": {
            "type": "integer"
          },
          "plan": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
