{
  "openapi": "3.0.3",
  "info": {
    "title": "JobAdder API",
    "description": "# Getting Started\r\n\r\n...\r\n\r\n# Authentication\r\n\r\nJobAdder uses OAuth 2.0's authorization code grant flow to issue access tokens on behalf of users;\r\n\r\n<br>\r\n\r\n### 1. Redirect to the JobAdder authorization URL.\r\n\r\nYour application should redirect the user to the authorization URL\r\n\r\n```\r\nhttps://id.jobadder.com/connect/authorize\r\n```\r\n\r\nThe following query parameters should be passed with the GET request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| response_type | **code** (required) |\r\n| client_id     | issued when you created your application (required) |\r\n| scope         | permissions to request, see below (required) |\r\n| redirect_uri  | URL to redirect back to (required) | \r\n| state         | unique string to be passed back (optional) |\r\n\r\nThe **scope** parameter is a space-separated list of OAuth scopes indicating the desired access:\r\n\r\n| scope          | description |\r\n|----------------|-------------|\r\n| read           | Read/view JobAdder data |\r\n| write          | Modify/manage JobAdder data |\r\n| offline_access | Access JobAdder data for an extended period of time |\r\n\r\nThe **redirect_uri** parameter must match one of the URLs specified when the client_id was issued.\r\n\r\nThe **state** parameter can be provided to carry through server-specific state. For example, you can use\r\nthis to help prevent forgery attacks.\r\n\r\nThe user will be presented with a login screen, and then a confirmation screen where they will grant your\r\napplication access to their JobAdder data.\r\n\r\n<br>\r\n\r\n### 2. Receive an authorization code from JobAdder.\r\n\r\nAfter a successful login, the authorization server will redirect to the URL specified in step 1 passing \r\nthe following parameters passed with the GET request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| code          | a temporary authorization code | \r\n| state         | the unique string specified in step 1 |\r\n\r\nIf you passed a **state** parameter in step 1 then at this point you should compare the state parameter\r\nfrom this request with the state parameter from the request in step 1. If the states don't match then\r\nthe request may have been created by an unknown third party and you should abort the process.\r\n\r\nIf your request for access is denied by the user then the user will be redirected to the URL specified in step 1\r\nwith the following query parameters passed with the GET request:\r\n\r\n| parameter     | value         |\r\n|---------------|---------------|\r\n| error         | access_denied | \r\n\r\n<br>\r\n\r\n### 3. Exchange the authorization code for an access token.\r\n\r\nThe authorization code received in step 2 will remain valid for 5 minutes and should be exchanged for an \r\naccess token. To do this, submit a POST request to the token URL:\r\n\r\n```\r\nhttps://id.jobadder.com/connect/token\r\n```\r\n\r\nThe following  parameters should be included in the POST request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| client_id     | issued when you created your application (required) |\r\n| client_secret | issued when you created your application (required) |\r\n| grant_type    | **authorization_code** (required) |\r\n| code          | the temporary authorization code received in step 2 (required) |\r\n| redirect_uri  | the URL specified in step 1 (required) |\r\n\r\nThis request will return a JSON response containing the access token, for example\r\n\r\n```json\r\n{\r\n  access_token: \"31ff7431b4c1dde02e386122702f5460\",\r\n  expires_in: 3600,\r\n  token_type: \"Bearer\",\r\n  refresh_token: \"e7672885d6da2db1e56d200dd292c801\",\r\n  api: \"https://api.jobadder.com/v2\"\r\n}\r\n```\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| access_token  | token to be used as the Bearer token in the Authorization header of all API requests |\r\n| expires_in    | expiration time of the access token in seconds since the response was generated |\r\n| refresh_token | token to be used to request new access tokens |\r\n| api           | The base URL to use for API access |  \r\n\r\n<br>\r\n\r\n### 4. Refresh Tokens\r\n\r\nThe access token has a limited lifetime (currently 60 minutes). \r\nIf your application requested the **offline_access** scope (in step 1) then it is possible to gain \r\nextended access to the user's data by requesting a new access token using the refresh token.\r\nTo do this, submit a POST request to the token URL:\r\n\r\n```\r\nhttps://id.jobadder.com/connect/token\r\n```\r\n\r\nThe following  parameters should be included in the POST request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| client_id     | issued when you created your application (required) |\r\n| client_secret | issued when you created your application (required) |\r\n| grant_type    | **refresh_token** (required)                        |\r\n| refresh_token | the refresh token returned in step 3                |\r\n\r\nThis request will return a JSON response containing a new access token and refresh token. \r\nNote that this will invalidate the previous refresh token.\r\n```json\r\n{\r\n  access_token: \"d2534958b2d3b9e3b0e16c98f91f0184\",\r\n  expires_in: 3600,\r\n  token_type: \"Bearer\",\r\n  refresh_token: \"e1b495fa69c9bdacbc7e5dd535d4564f\",\r\n  api: \"https://api.jobadder.com/v2\"\r\n}\r\n```\r\n\r\n\r\n# Pagination\r\n\r\n...\r\n",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/brettmas/job-adder_api/v2",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://localapi.jobadder.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Index"
    },
    {
      "name": "Candidates"
    },
    {
      "name": "Candidate Floats"
    },
    {
      "name": "Candidate Submissions"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Job Ads"
    },
    {
      "name": "Job Applications"
    },
    {
      "name": "Placements"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Users"
    },
    {
      "name": "User Groups"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Index"
        ],
        "summary": "Available resources",
        "operationId": "Available-Resources",
        "responses": {
          "200": {
            "description": "Available resources",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcesRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcesRepresentation"
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://localapi.jobadder.com/v2/"
                    },
                    "candidates": {
                      "href": "https://localapi.jobadder.com/v2/candidates"
                    },
                    "companies": {
                      "href": "https://localapi.jobadder.com/v2/companies"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Available resources"
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Find job applications",
        "operationId": "FindJobApplications",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "application_id",
            "in": "query",
            "description": "Application Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "candidate_id",
            "in": "query",
            "description": "Candidate Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Job Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Search for active job applications",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of job applications matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find job applications"
      }
    },
    "/applications/{application_id}": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get a job application",
        "operationId": "GetJobApplication",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Job Application Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job application was not found",
            "content": {}
          }
        },
        "description": "Get a job application"
      }
    },
    "/applications/{application_id}/notes": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get all notes for a job application",
        "operationId": "GetJobApplicationNotes",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Job Application Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified job application",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all notes for a job application"
      }
    },
    "/applications/fields/custom": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get the list of job application custom fields",
        "operationId": "GetJobApplicationCustomFieldList",
        "responses": {
          "200": {
            "description": "List of job application custom field definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get the list of job application custom fields"
      }
    },
    "/applications/fields/custom/{field_id}": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get a job application custom field",
        "operationId": "GetJobApplicationCustomFieldListItem",
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job application custom field definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested job application custom field definition was not found",
            "content": {}
          }
        },
        "description": "Get a job application custom field"
      }
    },
    "/applications/lists/status": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get a list of job application status definitions",
        "operationId": "GetJobApplicationStatusList",
        "parameters": [
          {
            "name": "status_id",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "default",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of job application status definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationStatusListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationStatusListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of job application status definitions"
      }
    },
    "/applications/lists/status/{status_id}": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get a job application status",
        "operationId": "GetJobApplicationStatusListItem",
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job application status definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationStatusRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationStatusRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested job application status definition was not found",
            "content": {}
          }
        },
        "description": "Get a job application status"
      }
    },
    "/candidates": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Find candidates",
        "operationId": "FindCandidates",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidate_id",
            "in": "query",
            "description": "Candidate Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Candidate name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Candidate email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "Search for key words within the latest candidate resume",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status_id",
            "in": "query",
            "description": "Candidate status",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "recruiter_id",
            "in": "query",
            "description": "User Id - search candidates by associated recruiters",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Search for candidates created at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with &lt; or &gt; to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Search for candidates updated at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with &lt; or &gt; to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidates matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find candidates"
      }
    },
    "/candidates/{candidate_id}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a single candidate",
        "operationId": "GetCandidate",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested candidate details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested candidate was not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get a single candidate"
      }
    },
    "/candidates/{candidate_id}/applications": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all job applications for a candidate",
        "description": "This will include both active and complete/closed job applications",
        "operationId": "GetCandidateJobApplications",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of job applications for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{candidate_id}/applications/active": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all active job  applications for a candidate",
        "operationId": "GetActiveCandidateJobApplications",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active job applications for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all active job  applications for a candidate"
      }
    },
    "/candidates/{candidate_id}/floats": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all floats for a candidate",
        "operationId": "GetCandidateFloats",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of floats for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all floats for a candidate"
      }
    },
    "/candidates/{candidate_id}/notes": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all notes for a candidate",
        "operationId": "GetCandidateNotes",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include related notes",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "JobApplication",
                  "Placement"
                ]
              },
              "enum": [
                "JobApplication",
                "Placement"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all notes for a candidate"
      }
    },
    "/candidates/{candidate_id}/placements": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all approved and unapproved placements for a candidate",
        "operationId": "GetCandidatePlacements",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of placements for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all approved and unapproved placements for a candidate"
      }
    },
    "/candidates/{candidate_id}/placements/approved": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all approved placements for a candidate",
        "operationId": "GetCandidateApprovedPlacements",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approved placements for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all approved placements for a candidate"
      }
    },
    "/candidates/{candidate_id}/submissions": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all submissions for a candidate",
        "operationId": "GetCandidateSubmissions",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions for the specified candidate",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all submissions for a candidate"
      }
    },
    "/candidates/fields/custom": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get the list of candidate custom fields",
        "operationId": "GetCandidateCustomFieldList",
        "responses": {
          "200": {
            "description": "List of candidate custom field definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get the list of candidate custom fields"
      }
    },
    "/candidates/fields/custom/{field_id}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a candidate custom field",
        "operationId": "GetCandidateCustomFieldListItem",
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested candidate custom field definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested candidate custom field definition was not found",
            "content": {}
          }
        },
        "description": "Get a candidate custom field"
      }
    },
    "/candidates/lists/rating": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a list of candidate internal ratings",
        "operationId": "GetCandidateRatingList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate internal ratings",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateRatingRepresentationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateRatingRepresentationList"
                }
              }
            }
          }
        },
        "description": "Get a list of candidate internal ratings"
      }
    },
    "/candidates/lists/salutation": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a list of candidate salutations (honorifics/titles)",
        "operationId": "GetCandidateSalutationList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate salutations",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SalutationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalutationListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of candidate salutations (honorifics/titles)"
      }
    },
    "/candidates/lists/source": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a list of candidate sources",
        "operationId": "GetCandidateSourceList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate sources",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateSourceListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateSourceListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of candidate sources"
      }
    },
    "/candidates/lists/status": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a list of candidate status definitions",
        "operationId": "GetCandidateStatusList",
        "parameters": [
          {
            "name": "status_id",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "default",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate status definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of candidate status definitions"
      }
    },
    "/candidates/lists/status/{status_id}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a candidate status definition",
        "operationId": "GetCandidateStatusListItem",
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested candidate status definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested candidate status definition was not found",
            "content": {}
          }
        },
        "description": "Get a candidate status definition"
      }
    },
    "/candidates/notes/lists/type": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get a list of candidate note types",
        "operationId": "GetCandidateNoteTypeList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate note type definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteTypeListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteTypeListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of candidate note types"
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Find companies",
        "operationId": "FindCompanies",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Company name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Companies by Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "Find subsidiaries of specified parent companies",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "subsidiary_id",
            "in": "query",
            "description": "Find parents of specified subsidiaries",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find companies"
      }
    },
    "/companies/{company_id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get a company",
        "operationId": "GetCompany",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested company details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested company was not found",
            "content": {}
          }
        },
        "description": "Get a company"
      }
    },
    "/companies/{company_id}/addresses": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all addresses for a company",
        "operationId": "GetCompanyAddresses",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses for the specified company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyAddressListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyAddressListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all addresses for a company"
      }
    },
    "/companies/{company_id}/addresses/{address_id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get an address for a company",
        "operationId": "GetCompanyAddress",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested company address",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyAddressRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyAddressRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested company address was not found",
            "content": {}
          }
        },
        "description": "Get an address for a company"
      }
    },
    "/companies/{company_id}/contacts": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company contacts",
        "operationId": "GetCompanyContacts",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts for the specified company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get company contacts"
      }
    },
    "/companies/{company_id}/floats": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all floats for a company",
        "operationId": "GetCompanyFloats",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidates floats for a company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all floats for a company"
      }
    },
    "/companies/{company_id}/jobs": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all jobs for a company",
        "operationId": "GetCompanyJobOrders",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs for a company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all jobs for a company"
      }
    },
    "/companies/{company_id}/jobs/active": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all active/open jobs for a company",
        "operationId": "GetCompanyActiveJobOrders",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active jobs for a company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all active/open jobs for a company"
      }
    },
    "/companies/{company_id}/notes": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all notes for a company",
        "operationId": "GetCompanyNotes",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all notes for a company"
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Add a company note",
        "operationId": "PostCompanyNote",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyNoteContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Location of the new note",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "command",
        "description": "Add a company note"
      }
    },
    "/companies/{company_id}/placements": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all approved and unapproved placements for a company",
        "operationId": "GetCompanyPlacements",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of placements for the specified company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all approved and unapproved placements for a company"
      }
    },
    "/companies/{company_id}/placements/approved": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all approved placements for a company",
        "operationId": "GetCompanyApprovedPlacements",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approved placements for the specified company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all approved placements for a company"
      }
    },
    "/companies/{company_id}/submissions": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get candidate submissions for a company",
        "operationId": "GetCompanySubmissions",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate submissions for the requested company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get candidate submissions for a company"
      }
    },
    "/companies/{company_id}/subsidiaries": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get all subsidiaries for a company",
        "operationId": "GetCompanySubsidiaries",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subsidiaries for the specified company",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all subsidiaries for a company"
      }
    },
    "/companies/fields/custom": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get the list of company custom fields",
        "operationId": "GetCompanyCustomFieldList",
        "responses": {
          "200": {
            "description": "List of company custom field definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get the list of company custom fields"
      }
    },
    "/companies/fields/custom/{field_id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get a company custom field",
        "operationId": "GetCompanyCustomFieldListItem",
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested company custom field definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested company custom field definition was not found",
            "content": {}
          }
        },
        "description": "Get a company custom field"
      }
    },
    "/companies/lists/status": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get a list of company status definitions",
        "operationId": "GetCompanyStatusList",
        "parameters": [
          {
            "name": "status_id",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "default",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company status definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of company status definitions"
      }
    },
    "/companies/lists/status/{status_id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get a company status",
        "operationId": "GetCompanyStatusListItem",
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested company status definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested company status definition was not found",
            "content": {}
          }
        },
        "description": "Get a company status"
      }
    },
    "/companies/notes/lists/type": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get a list of company note types",
        "operationId": "GetCompanyNoteTypeList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company note type definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteTypeListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteTypeListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of company note types"
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Find contacts",
        "operationId": "GetContacts",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "description": "Contact Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find contacts"
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact",
        "operationId": "GetContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested contact details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested contact was not found",
            "content": {}
          }
        },
        "description": "Get a contact"
      }
    },
    "/contacts/{contact_id}/jobs": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all jobs for a contact",
        "operationId": "GetContactJobOrders",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs for the specified contact",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all jobs for a contact"
      }
    },
    "/contacts/{contact_id}/jobs/active": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all active/open jobs for a contact",
        "operationId": "GetContactActiveJobOrders",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active/open jobs for the specified contact",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all active/open jobs for a contact"
      }
    },
    "/contacts/{contact_id}/notes": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all notes for a contact",
        "operationId": "GetContactNotes",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified contact",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all notes for a contact"
      }
    },
    "/contacts/fields/custom": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get the list of Contact custom fields",
        "operationId": "GetContactCustomFieldList",
        "responses": {
          "200": {
            "description": "List of contact custom field definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get the list of Contact custom fields"
      }
    },
    "/contacts/fields/custom/{field_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a Contact custom field",
        "operationId": "GetContactCustomFieldListItem",
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested contact custom field definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested contact custom field definition was not found",
            "content": {}
          }
        },
        "description": "Get a Contact custom field"
      }
    },
    "/contacts/lists/salutation": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a list of contact salutations (honorifics/titles)",
        "operationId": "GetContactSalutationList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contact salutations",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SalutationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalutationListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of contact salutations (honorifics/titles)"
      }
    },
    "/contacts/lists/status": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a list of contact status definitions",
        "operationId": "GetContactStatusList",
        "parameters": [
          {
            "name": "status_id",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "default",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contact status definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of contact status definitions"
      }
    },
    "/contacts/lists/status/{status_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact status definition",
        "operationId": "GetContactStatusListItem",
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested contact status definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested contact status definition was not found",
            "content": {}
          }
        },
        "description": "Get a contact status definition"
      }
    },
    "/contacts/notes/lists/type": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a list of contact note types",
        "operationId": "GetContactNoteTypeList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contact note type definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteTypeListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteTypeListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get a list of contact note types"
      }
    },
    "/floats": {
      "get": {
        "tags": [
          "Candidate Floats"
        ],
        "summary": "Find candidate floats",
        "operationId": "GetFloats",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "float_id",
            "in": "query",
            "description": "Float Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "candidate_id",
            "in": "query",
            "description": "Candidate Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate floats matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find candidate floats"
      }
    },
    "/floats/{float_id}": {
      "get": {
        "tags": [
          "Candidate Floats"
        ],
        "summary": "Get a candidate float",
        "operationId": "GetFloat",
        "parameters": [
          {
            "name": "float_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested candidate float details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested candidate float was not found",
            "content": {}
          }
        },
        "description": "Get a candidate float"
      }
    },
    "/jobads": {
      "get": {
        "tags": [
          "Job Ads"
        ],
        "summary": "Find job ads",
        "operationId": "GetJobAds",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of job ads matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAdListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAdListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find job ads"
      }
    },
    "/jobads/{ad_id}": {
      "get": {
        "tags": [
          "Job Ads"
        ],
        "summary": "Get a job ad",
        "operationId": "GetJobAd",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "Job Ad Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job ad details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAdRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAdRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested job ad was not found",
            "content": {}
          }
        },
        "description": "Get a job ad"
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Find jobs",
        "operationId": "FindJobOrders",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return. <br />\r\nSetting to 0 will return only the total count of matching resources.",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Job Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "description": "Contact Id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Search for active/open jobs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "consultant_id",
            "in": "query",
            "description": "User Id - search for jobs by owner or associated recruiter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "User Id - search for jobs by owner",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "recruiter_id",
            "in": "query",
            "description": "User Id - search jobs by associated recruiters",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "created_by",
            "in": "query",
            "description": "User Id - search for jobs created by the specified user(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Search for jobs created at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with &lt; or &gt; to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updated_by",
            "in": "query",
            "description": "User Id - search for jobs last updated by the specified user(s)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Search for jobs updated at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with &lt; or &gt; to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs matching the specified criteria",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderListRepresentation"
                }
              }
            }
          }
        },
        "description": "Find jobs"
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job",
        "operationId": "GetJobOrder",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrderRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "The job was not found",
            "content": {}
          }
        },
        "description": "Get a job"
      }
    },
    "/jobs/{job_id}/applications": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all job applications for a job",
        "operationId": "GetJobOrderJobApplications",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications for the specified job",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all job applications for a job"
      }
    },
    "/jobs/{job_id}/applications/active": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all active job  applications for a job",
        "operationId": "GetJobOrderActiveJobApplications",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active applications for the specified job",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all active job  applications for a job"
      }
    },
    "/jobs/{job_id}/notes": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all notes for a job",
        "operationId": "GetJobOrderNotes",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified job",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all notes for a job"
      }
    },
    "/jobs/{job_id}/placements": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all approved and unapproved placements for a job",
        "operationId": "GetJobOrderPlacements",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of placements for the specified job",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all approved and unapproved placements for a job"
      }
    },
    "/jobs/{job_id}/placements/approved": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all approved placements for a job",
        "operationId": "GetJobOrderApprovedPlacements",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approved placements for the specified job",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all approved placements for a job"
      }
    },
    "/jobs/{job_id}/submissions": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all submissions for a job",
        "operationId": "GetJobOrderSubmissions",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate submissions for the requested job",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get all submissions for a job"
      }
    },
    "/jobs/fields/custom": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the list of job custom fields",
        "operationId": "GetJobOrderCustomFieldList",
        "responses": {
          "200": {
            "description": "List of job custom field definitions",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListRepresentation"
                }
              }
            }
          }
        },
        "description": "Get the list of job custom fields"
      }
    },
    "/jobs/fields/custom/{field_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job custom field",
        "operationId": "GetJobOrderCustomFieldItem",
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job custom field definition",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Requested job custom field definition was not found",
            "content": {}
          }
        },
        "description": "Get a job custom field"
      }
    },
    "/jobs/lists/source": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a list of job sources",
        "operationId": "GetJobOrderSourceList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
[...]
