{
  "openapi": "3.0.3",
  "info": {
    "title": "IPInfoDB API",
    "description": "IPInfoDB provides a free IP geolocation API that returns the location of an IP address including country, region, city, zip code, latitude, longitude and timezone. The API offers two levels of precision: IP-to-Country and IP-to-City lookups.",
    "version": "3.0.0",
    "contact": {
      "name": "IPInfoDB",
      "url": "https://www.ipinfodb.com"
    },
    "x-jentic-source-url": "https://www.ipinfodb.com/api"
  },
  "servers": [
    {
      "url": "https://api.ipinfodb.com/v3",
      "description": "IPInfoDB API v3 server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Geolocation",
      "description": "IP geolocation lookup endpoints"
    }
  ],
  "paths": {
    "/ip-city/": {
      "get": {
        "operationId": "getIpCity",
        "summary": "IP to City geolocation lookup",
        "description": "Returns detailed geolocation data for an IP address including country, region, city, zip code, latitude, longitude and timezone.",
        "tags": ["Geolocation"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IP address to look up. If omitted, the caller's IP is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "raw"],
              "default": "raw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpCityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ip-country/": {
      "get": {
        "operationId": "getIpCountry",
        "summary": "IP to Country geolocation lookup",
        "description": "Returns country-level geolocation data for an IP address.",
        "tags": ["Geolocation"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IP address to look up. If omitted, the caller's IP is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "raw"],
              "default": "raw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful country lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpCountryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "API key obtained by registering at ipinfodb.com."
      }
    },
    "schemas": {
      "IpCityResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "description": "Status of the request (OK or ERROR)."
          },
          "statusMessage": {
            "type": "string",
            "description": "Additional status information."
          },
          "ipAddress": {
            "type": "string",
            "description": "The queried IP address."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "countryName": {
            "type": "string",
            "description": "Full country name."
          },
          "regionName": {
            "type": "string",
            "description": "Region or state name."
          },
          "cityName": {
            "type": "string",
            "description": "City name."
          },
          "zipCode": {
            "type": "string",
            "description": "Postal or zip code."
          },
          "latitude": {
            "type": "string",
            "description": "Latitude coordinate."
          },
          "longitude": {
            "type": "string",
            "description": "Longitude coordinate."
          },
          "timeZone": {
            "type": "string",
            "description": "Timezone offset (e.g., +09:00)."
          }
        }
      },
      "IpCountryResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "description": "Status of the request (OK or ERROR)."
          },
          "statusMessage": {
            "type": "string",
            "description": "Additional status information."
          },
          "ipAddress": {
            "type": "string",
            "description": "The queried IP address."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "countryName": {
            "type": "string",
            "description": "Full country name."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "description": "ERROR status code.",
            "example": "ERROR"
          },
          "statusMessage": {
            "type": "string",
            "description": "Status message."
          },
          "message": {
            "type": "string",
            "description": "Error detail message.",
            "example": "Invalid API key."
          }
        }
      }
    }
  }
}