{
  "openapi": "3.0.3",
  "info": {
    "title": "Revi.io API",
    "version": "1.0.0",
    "description": "Revi is an online review system that helps companies of all sizes collect and showcase reviews from their customers.",
    "x-jentic-source-url": "https://docs.revi.io"
  },
  "servers": [
    {
      "url": "https://api.revi.io/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/hello_world": {
      "post": {
        "operationId": "helloWorld",
        "summary": "Test API connection",
        "description": "Test call to verify if your environment is connecting with the Revi API successfully.",
        "tags": [
          "quickstart"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "test": {
                    "type": "string",
                    "description": "A string of your choice"
                  }
                },
                "required": [
                  "test"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Create a new order in Revi to send review emails to customers.",
        "tags": [
          "orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "getOrders",
        "summary": "Get orders",
        "description": "Retrieve orders from Revi.",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "orders": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Order"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/products": {
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "description": "Create a new product in Revi to link with orders.",
        "tags": [
          "products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_product": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "operationId": "getReviews",
        "summary": "Get reviews",
        "description": "Retrieve reviews filtered by various parameters.",
        "tags": [
          "reviews"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reviews": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key for authentication. Get it from Revi Dashboard > Configuration > Integration"
      }
    },
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id_store": {
            "type": "string",
            "description": "ID of the store. If you're not a marketplace leave this empty"
          },
          "id_order": {
            "type": "string",
            "description": "ID of the order"
          },
          "lang": {
            "type": "string",
            "description": "Language code"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer first name"
          },
          "customer_lastname": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., EUR, USD)"
          },
          "shipping_cost": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Shipping cost with 2 fixed decimals"
          },
          "total_discount": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Total discount with 2 fixed decimals"
          },
          "taxes": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Taxes with 2 fixed decimals"
          },
          "vat": {
            "type": "string",
            "description": "VAT percentage"
          },
          "total_products": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Total products cost with 2 fixed decimals"
          },
          "total_paid": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Total paid amount with 2 fixed decimals"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "cancelled"
            ],
            "description": "Order status"
          },
          "order_date": {
            "type": "string",
            "format": "date-time",
            "description": "Order date in YYYY-MM-DD HH:MM:SS format"
          },
          "date_status_upd": {
            "type": "string",
            "format": "date-time",
            "description": "Date when status was updated in YYYY-MM-DD HH:MM:SS format"
          }
        },
        "required": [
          "id_order",
          "lang",
          "customer_name",
          "email",
          "currency",
          "total_paid",
          "status",
          "order_date"
        ]
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}