{
  "openapi": "3.0.3",
  "info": {
    "title": "CustomJS API",
    "version": "1.0.0",
    "description": "CustomJS provides APIs for HTML to PDF conversion, markdown to PDF conversion, web screenshots, HTML scraping, JavaScript execution, and hosted HTML page management.",
    "x-jentic-source-url": "https://www.customjs.space/integration/native-api/documentation",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://e.customjs.io"
    },
    {
      "url": "https://api.app.customjs.io"
    }
  ],
  "paths": {
    "/html2pdf": {
      "post": {
        "operationId": "convertHtmlToPdf",
        "summary": "Convert HTML to PDF",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "html"
                ],
                "properties": {
                  "html": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "pdfWidthMm": {
                        "type": "number"
                      },
                      "pdfHeightMm": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Convert HTML to PDF"
      }
    },
    "/markdown2pdf": {
      "post": {
        "operationId": "convertMarkdownToPdf",
        "summary": "Convert Markdown to PDF",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "markdown"
                ],
                "properties": {
                  "markdown": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Convert Markdown to PDF"
      }
    },
    "/screenshot": {
      "post": {
        "operationId": "captureScreenshot",
        "summary": "Capture a web page screenshot",
        "tags": [
          "Screenshots"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "commands": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "box": {
                    "type": "object",
                    "properties": {
                      "x": {
                        "type": "number"
                      },
                      "y": {
                        "type": "number"
                      },
                      "width": {
                        "type": "number"
                      },
                      "height": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Capture a web page screenshot"
      }
    },
    "/scraper": {
      "post": {
        "operationId": "scrapeHtml",
        "summary": "Scrape HTML from a web page",
        "tags": [
          "Scraping"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "commands": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Scrape HTML from a web page"
      }
    },
    "/__js1-": {
      "post": {
        "operationId": "executeJavaScript",
        "summary": "Execute custom JavaScript code",
        "tags": [
          "Execution"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input",
                  "code"
                ],
                "properties": {
                  "input": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Execute custom JavaScript code"
      }
    },
    "/pages/page/upsert-html": {
      "post": {
        "operationId": "upsertHtmlPage",
        "summary": "Create or update an HTML page",
        "tags": [
          "Pages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "htmlContent"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "htmlContent": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Page details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create or update an HTML page"
      }
    },
    "/pages/api/page": {
      "get": {
        "operationId": "listPages",
        "summary": "Retrieve all HTML pages",
        "tags": [
          "Pages"
        ],
        "responses": {
          "200": {
            "description": "List of pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Page"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve all HTML pages"
      }
    },
    "/pages/api/page/id/{pageId}": {
      "get": {
        "operationId": "getPage",
        "summary": "Retrieve a single page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve a single page"
      },
      "delete": {
        "operationId": "deletePage",
        "summary": "Delete an HTML page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete an HTML page"
      }
    }
  },
  "components": {
    "schemas": {
      "Page": {
        "type": "object",
        "properties": {
          "pageId": {
            "type": "string"
          },
          "htmlFileUrl": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Conversion"
    },
    {
      "name": "Execution"
    },
    {
      "name": "Pages"
    },
    {
      "name": "Scraping"
    },
    {
      "name": "Screenshots"
    }
  ]
}
