{
  "openapi": "3.0.3",
  "info": {
    "title": "ipgeolocation.io API",
    "description": "ipgeolocation.io provides a comprehensive suite of IP-based geolocation APIs including IP geolocation, IP security/threat detection, ASN lookup, timezone, astronomy, and user-agent parsing. All endpoints are served over HTTPS with API key authentication.",
    "version": "3.0.0",
    "contact": {
      "name": "ipgeolocation.io",
      "url": "https://ipgeolocation.io"
    },
    "x-jentic-source-url": "https://ipgeolocation.io/"
  },
  "servers": [
    {
      "url": "https://api.ipgeolocation.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "IP Geolocation",
      "description": "IP address geolocation lookup"
    },
    {
      "name": "IP Security",
      "description": "IP threat and security detection"
    },
    {
      "name": "ASN",
      "description": "Autonomous System Number lookup"
    },
    {
      "name": "Timezone",
      "description": "Timezone and time conversion"
    },
    {
      "name": "Astronomy",
      "description": "Sun and moon rise/set times"
    },
    {
      "name": "User Agent",
      "description": "User-agent string parsing"
    }
  ],
  "paths": {
    "/v3/ipgeo": {
      "get": {
        "tags": ["IP Geolocation"],
        "summary": "Single IP geolocation lookup",
        "description": "Look up geolocation data for a single IPv4/IPv6 address or domain name. Omit the ip parameter to detect the caller's IP.",
        "operationId": "getIpGeolocation",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4, IPv6, or domain name to look up. Omit to detect caller IP.",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language (en, de, ru, ja, fr, cn, es, cs, it, ko, fa, pt)",
            "schema": { "type": "string", "default": "en" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated fields to include in response",
            "schema": { "type": "string" }
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "Comma-separated fields/objects to exclude from response",
            "schema": { "type": "string" }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Optional modules: geo_accuracy, dma_code, user_agent, security, abuse, hostname, liveHostname, hostnameFallbackLive",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IpGeolocationResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key or unauthorized feature access"
          },
          "429": {
            "description": "Rate limit exceeded (free plan: 1000 requests/day)"
          }
        }
      }
    },
    "/v3/ipgeo-bulk": {
      "post": {
        "tags": ["IP Geolocation"],
        "summary": "Bulk IP geolocation lookup",
        "description": "Look up geolocation data for up to 50,000 IP addresses or domain names in a single request.",
        "operationId": "bulkIpGeolocation",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "excludes",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "include",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BulkIpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful bulk lookup response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IpGeolocationResponse" }
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/security": {
      "get": {
        "tags": ["IP Security"],
        "summary": "IP security lookup",
        "description": "Detect threats, proxies, VPNs, Tor exit nodes, and other suspicious IP addresses. Each lookup costs 2 credits.",
        "operationId": "getIpSecurity",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4 or IPv6 address. Omit to detect caller IP.",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "excludes",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Response format: json or xml",
            "schema": { "type": "string", "enum": ["json", "xml"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful security lookup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SecurityResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/security-bulk": {
      "post": {
        "tags": ["IP Security"],
        "summary": "Bulk IP security lookup",
        "description": "Check security data for up to 50,000 IPs in a single request. Each valid IP costs 2 credits.",
        "operationId": "bulkIpSecurity",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "excludes",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "output",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml"] }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BulkIpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful bulk security response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SecurityResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asn": {
      "get": {
        "tags": ["ASN"],
        "summary": "ASN lookup",
        "description": "Get detailed information about an Autonomous System Number by ASN or IP address.",
        "operationId": "getAsn",
        "parameters": [
          {
            "name": "asn",
            "in": "query",
            "description": "AS number to query (e.g., AS24940)",
            "schema": { "type": "string" }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "IP address to query for ASN information",
            "schema": { "type": "string" }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated optional data: peers, downstreams, upstreams, routes, whois_response",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "excludes",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ASN lookup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AsnResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/timezone": {
      "get": {
        "tags": ["Timezone"],
        "summary": "Timezone lookup",
        "description": "Get timezone and date/time information using timezone name, IP address, coordinates, address, or airport/locode codes.",
        "operationId": "getTimezone",
        "parameters": [
          {
            "name": "tz",
            "in": "query",
            "description": "IANA timezone name (e.g., America/New_York)",
            "schema": { "type": "string" }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4 or IPv6 address",
            "schema": { "type": "string" }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Address string (e.g., London, UK)",
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "long",
            "in": "query",
            "description": "Longitude",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "iata_code",
            "in": "query",
            "description": "3-letter IATA airport code",
            "schema": { "type": "string" }
          },
          {
            "name": "icao_code",
            "in": "query",
            "description": "4-letter ICAO airport code",
            "schema": { "type": "string" }
          },
          {
            "name": "lo_code",
            "in": "query",
            "description": "5-character UN/LOCODE",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful timezone lookup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TimezoneResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/timezone/convert": {
      "get": {
        "tags": ["Timezone"],
        "summary": "Convert time between timezones",
        "description": "Convert a timestamp from one timezone/location to another.",
        "operationId": "convertTimezone",
        "parameters": [
          {
            "name": "tz_from",
            "in": "query",
            "description": "Source IANA timezone name",
            "schema": { "type": "string" }
          },
          {
            "name": "tz_to",
            "in": "query",
            "description": "Target IANA timezone name",
            "schema": { "type": "string" }
          },
          {
            "name": "location_from",
            "in": "query",
            "description": "Source address string",
            "schema": { "type": "string" }
          },
          {
            "name": "location_to",
            "in": "query",
            "description": "Target address string",
            "schema": { "type": "string" }
          },
          {
            "name": "lat_from",
            "in": "query",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "long_from",
            "in": "query",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "lat_to",
            "in": "query",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "long_to",
            "in": "query",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Timestamp to convert (yyyy-MM-dd HH:mm or yyyy-MM-dd HH:mm:ss)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful time conversion",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TimeConversionResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/astronomy": {
      "get": {
        "tags": ["Astronomy"],
        "summary": "Astronomy data lookup",
        "description": "Get sun rise/set, moon rise/set, twilight phases, golden hour, and other astronomical data for a location and date.",
        "operationId": "getAstronomy",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "description": "Address string (e.g., New York, USA)",
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "long",
            "in": "query",
            "description": "Longitude",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "IP address for location detection",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date in YYYY-MM-DD format",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "Height above sea level in meters (0-10000)",
            "schema": { "type": "number", "minimum": 0, "maximum": 10000 }
          },
          {
            "name": "time_zone",
            "in": "query",
            "description": "IANA timezone for event time conversion",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful astronomy lookup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AstronomyResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/astronomy/timeSeries": {
      "get": {
        "tags": ["Astronomy"],
        "summary": "Astronomy time series",
        "description": "Get astronomy data over a date range (max 90-day span).",
        "operationId": "getAstronomyTimeSeries",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "long",
            "in": "query",
            "description": "Longitude",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-MM-DD format (max 90 days from start)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "elevation",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "time_zone",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful astronomy time series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AstronomyResponse" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/user-agent": {
      "get": {
        "tags": ["User Agent"],
        "summary": "Parse user-agent string",
        "description": "Parse the User-Agent header and return browser, device, and operating system details.",
        "operationId": "getUserAgent",
        "responses": {
          "200": {
            "description": "Successful user-agent parse",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserAgentResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["User Agent"],
        "summary": "Parse custom user-agent string",
        "description": "Submit a custom user-agent string for parsing. Paid plans only.",
        "operationId": "postUserAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uaString": { "type": "string", "description": "User-agent string to parse" }
                },
                "required": ["uaString"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful user-agent parse",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserAgentResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/user-agent-bulk": {
      "post": {
        "tags": ["User Agent"],
        "summary": "Bulk user-agent parsing",
        "description": "Parse up to 50,000 user-agent strings in a single request. Paid plans only.",
        "operationId": "bulkUserAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uaStrings": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Array of user-agent strings to parse",
                    "maxItems": 50000
                  }
                },
                "required": ["uaStrings"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful bulk user-agent parse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/UserAgentResponse" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v3/getip": {
      "get": {
        "tags": ["IP Geolocation"],
        "summary": "Get caller's IP address",
        "description": "Returns the IP address of the calling client. No authentication required.",
        "operationId": "getCallerIp",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response with caller's IP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ip": { "type": "string", "description": "Caller's IP address" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key for authentication. Free plan allows 1000 requests/day."
      }
    },
    "schemas": {
      "BulkIpRequest": {
        "type": "object",
        "required": ["ips"],
        "properties": {
          "ips": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Array of IP addresses or domain names (max 50,000)",
            "maxItems": 50000
          }
        }
      },
      "IpGeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": { "type": "string", "description": "Queried IP address" },
          "location": { "$ref": "#/components/schemas/Location" },
          "country_metadata": { "$ref": "#/components/schemas/CountryMetadata" },
          "currency": { "$ref": "#/components/schemas/Currency" },
          "asn": { "$ref": "#/components/schemas/AsnInfo" },
          "time_zone": { "$ref": "#/components/schemas/TimeZoneInfo" },
          "network": { "$ref": "#/components/schemas/NetworkInfo" },
          "company": { "$ref": "#/components/schemas/CompanyInfo" },
          "security": { "$ref": "#/components/schemas/SecurityInfo" }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "continent_code": { "type": "string" },
          "country_code2": { "type": "string" },
          "country_code3": { "type": "string" },
          "country_name": { "type": "string" },
          "state_prov": { "type": "string" },
          "state_code": { "type": "string" },
          "district": { "type": "string" },
          "city": { "type": "string" },
          "zipcode": { "type": "string" },
          "latitude": { "type": "number", "format": "double" },
          "longitude": { "type": "number", "format": "double" }
        }
      },
      "CountryMetadata": {
        "type": "object",
        "properties": {
          "calling_code": { "type": "string" },
          "tld": { "type": "string" },
          "languages": {
            "type": "array",
            "items": { "type": "string" }
          },
          "country_flag": { "type": "string", "format": "uri" },
          "is_eu": { "type": "boolean" }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" },
          "symbol": { "type": "string" }
        }
      },
      "AsnInfo": {
        "type": "object",
        "properties": {
          "as_number": { "type": "string" },
          "organization": { "type": "string" },
          "country": { "type": "string" },
          "type": { "type": "string" },
          "domain": { "type": "string" },
          "date_allocated": { "type": "string" },
          "rir": { "type": "string" }
        }
      },
      "TimeZoneInfo": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "offset": { "type": "number" },
          "offset_with_dst": { "type": "number" },
          "current_time": { "type": "string" },
          "current_time_unix": { "type": "number" },
          "is_dst": { "type": "boolean" },
          "dst_savings": { "type": "integer" }
        }
      },
      "NetworkInfo": {
        "type": "object",
        "properties": {
          "connection_type": { "type": "string" },
          "route": { "type": "string" },
          "is_anycast": { "type": "boolean" }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string" },
          "domain": { "type": "string" }
        }
      },
      "SecurityInfo": {
        "type": "object",
        "properties": {
          "threat_score": { "type": "number", "description": "Risk rating 0-100" },
          "is_tor": { "type": "boolean" },
          "is_proxy": { "type": "boolean" },
          "is_vpn": { "type": "boolean" },
          "is_residential_proxy": { "type": "boolean" },
          "is_relay": { "type": "boolean" },
          "is_anonymous": { "type": "boolean" },
          "is_known_attacker": { "type": "boolean" },
          "is_bot": { "type": "boolean" },
          "is_spam": { "type": "boolean" },
          "is_cloud_provider": { "type": "boolean" },
          "cloud_provider_name": { "type": "string" },
          "proxy_confidence_score": { "type": "number" },
          "vpn_confidence_score": { "type": "number" },
          "proxy_last_seen": { "type": "string" },
          "vpn_last_seen": { "type": "string" },
          "proxy_provider_names": { "type": "array", "items": { "type": "string" } },
          "vpn_provider_names": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SecurityResponse": {
        "type": "object",
        "properties": {
          "ip": { "type": "string" },
          "security": { "$ref": "#/components/schemas/SecurityInfo" }
        }
      },
      "AsnResponse": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "object",
            "properties": {
              "as_number": { "type": "string" },
              "organization": { "type": "string" },
              "country": { "type": "string" },
              "asn_name": { "type": "string" },
              "type": { "type": "string", "enum": ["ISP", "HOSTING", "BUSINESS", "EDUCATION", "GOVERNMENT"] },
              "domain": { "type": "string" },
              "date_allocated": { "type": "string" },
              "rir": { "type": "string" },
              "allocation_status": { "type": "string" },
              "num_of_ipv4_routes": { "type": "string" },
              "num_of_ipv6_routes": { "type": "string" }
            }
          },
          "peers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AsnPeer" }
          },
          "upstreams": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AsnPeer" }
          },
          "downstreams": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AsnPeer" }
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "prefix": { "type": "string" },
                "version": { "type": "string" }
              }
            }
          }
        }
      },
      "AsnPeer": {
        "type": "object",
        "properties": {
          "as_number": { "type": "string" },
          "description": { "type": "string" },
          "country": { "type": "string" }
        }
      },
      "TimezoneResponse": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "offset": { "type": "number" },
              "offset_with_dst": { "type": "number" },
              "current_time": { "type": "string" },
              "current_time_unix": { "type": "number" },
              "date": { "type": "string" },
              "date_time": { "type": "string" },
              "time_24": { "type": "string" },
              "time_12": { "type": "string" },
              "is_dst": { "type": "boolean" },
              "dst_exists": { "type": "boolean" },
              "dst_start": {
                "type": "object",
                "properties": {
                  "utc_time": { "type": "string" },
                  "duration": { "type": "string" },
                  "gap": { "type": "boolean" },
                  "dateTimeAfter": { "type": "string" },
                  "dateTimeBefore": { "type": "string" },
                  "overlap": { "type": "boolean" }
                }
              },
              "dst_end": {
                "type": "object",
                "properties": {
                  "utc_time": { "type": "string" },
                  "duration": { "type": "string" },
                  "gap": { "type": "boolean" },
                  "dateTimeAfter": { "type": "string" },
                  "dateTimeBefore": { "type": "string" },
                  "overlap": { "type": "boolean" }
                }
              }
            }
          },
          "location": { "$ref": "#/components/schemas/Location" }
        }
      },
      "TimeConversionResponse": {
        "type": "object",
        "properties": {
          "original_time": { "type": "string" },
          "converted_time": { "type": "string" },
          "diff_hour": { "type": "number" },
          "diff_min": { "type": "number" }
        }
      },
      "AstronomyResponse": {
        "type": "object",
        "properties": {
          "location": { "$ref": "#/components/schemas/Location" },
          "date": { "type": "string" },
          "sunrise": { "type": "string" },
          "sunset": { "type": "string" },
          "solar_noon": { "type": "string" },
          "day_length": { "type": "string" },
          "moonrise": { "type": "string" },
          "moonset": { "type": "string" },
          "moon_phase": { "type": "string" },
          "moon_illumination_percentage": { "type": "string" },
          "civil_twilight_begin": { "type": "string" },
          "civil_twilight_end": { "type": "string" },
          "nautical_twilight_begin": { "type": "string" },
          "nautical_twilight_end": { "type": "string" },
          "astronomical_twilight_begin": { "type": "string" },
          "astronomical_twilight_end": { "type": "string" },
          "golden_hour_begin": { "type": "string" },
          "golden_hour_end": { "type": "string" },
          "blue_hour_begin": { "type": "string" },
          "blue_hour_end": { "type": "string" },
          "sun_altitude": { "type": "number" },
          "sun_azimuth": { "type": "number" },
          "sun_distance": { "type": "number" },
          "moon_altitude": { "type": "number" },
          "moon_azimuth": { "type": "number" },
          "moon_distance": { "type": "number" }
        }
      },
      "UserAgentResponse": {
        "type": "object",
        "properties": {
          "user_agent_string": { "type": "string", "description": "Original user-agent string" },
          "name": { "type": "string", "description": "Agent/browser name" },
          "type": { "type": "string", "description": "Agent classification type" },
          "version": { "type": "string", "description": "Agent version" },
          "version_major": { "type": "string", "description": "Major version number" },
          "device": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "type": { "type": "string" },
              "brand": { "type": "string" },
              "cpu": { "type": "string" }
            }
          },
          "engine": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "type": { "type": "string" },
              "version": { "type": "string" },
              "version_major": { "type": "string" }
            }
          },
          "os": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "type": { "type": "string" },
              "version": { "type": "string" },
              "version_major": { "type": "string" },
              "build": { "type": "string" }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "description": "Error description" }
        }
      }
    }
  }
}
