{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinlayer API",
    "description": "Real-time and historical cryptocurrency exchange rates API. Provides live crypto prices, historical rates, conversion, timeframe queries, and rate change data for 385+ cryptocurrencies.",
    "version": "1.0.0",
    "contact": {
      "name": "Coinlayer",
      "url": "https://coinlayer.com"
    }
  },
  "servers": [
    {
      "url": "https://api.coinlayer.com",
      "description": "Production server (HTTPS - paid plans)"
    },
    {
      "url": "http://api.coinlayer.com",
      "description": "Production server (HTTP - free plan)"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/live": {
      "get": {
        "operationId": "getLiveRates",
        "summary": "Get live cryptocurrency rates",
        "description": "Returns real-time exchange rate data for all available or specified cryptocurrencies.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "The target fiat currency to get exchange rates for (e.g., USD, EUR). Default: USD.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of cryptocurrency codes to limit output (e.g., BTC,ETH,LTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Set to 1 to expand rate objects to include additional details such as volume, market cap, and percentage changes.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with live rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveResponse"
                }
              }
            }
          }
        },
        "tags": [
          "live"
        ]
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical cryptocurrency rates",
        "description": "Returns historical exchange rate data for a specific date.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The date for which to retrieve historical rates (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "The target fiat currency (e.g., USD, EUR). Default: USD.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of cryptocurrency codes to limit output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include additional details.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          }
        },
        "tags": [
          "historical"
        ]
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert cryptocurrency amounts",
        "description": "Converts an amount from one cryptocurrency or fiat currency to another.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The currency code to convert from (e.g., BTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The currency code to convert to (e.g., USD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount to convert.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Optionally specify a date for historical conversion (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          }
        },
        "tags": [
          "convert"
        ]
      }
    },
    "/timeframe": {
      "get": {
        "operationId": "getTimeframeRates",
        "summary": "Get rates for a timeframe",
        "description": "Returns daily exchange rate data within a specified timeframe (maximum 365 days).",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date of the timeframe (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date of the timeframe (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "The target fiat currency. Default: USD.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of cryptocurrency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful timeframe response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeframeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "timeframe"
        ]
      }
    },
    "/change": {
      "get": {
        "operationId": "getRateChange",
        "summary": "Get rate change data",
        "description": "Returns the change (margin and percentage) of one or more cryptocurrencies between two dates.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "The target fiat currency. Default: USD.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of cryptocurrency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful change response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "change"
        ]
      }
    },
    "/list": {
      "get": {
        "operationId": "listCryptocurrencies",
        "summary": "List supported cryptocurrencies",
        "description": "Returns a list of all supported cryptocurrencies with their symbols and names.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of cryptocurrencies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "list"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "LiveResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful."
          },
          "terms": {
            "type": "string",
            "description": "Link to terms of service."
          },
          "privacy": {
            "type": "string",
            "description": "Link to privacy policy."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the rates."
          },
          "target": {
            "type": "string",
            "description": "The target fiat currency."
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Object containing crypto-to-fiat exchange rates."
          }
        }
      },
      "HistoricalResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "target": {
            "type": "string"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "rate": {
                "type": "number"
              }
            }
          },
          "result": {
            "type": "number",
            "description": "The converted amount."
          }
        }
      },
      "TimeframeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timeframe": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "target": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Object keyed by date, each containing crypto rates."
          }
        }
      },
      "ChangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "change": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "target": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number"
                },
                "end_rate": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "change_pct": {
                  "type": "number"
                }
              }
            },
            "description": "Object containing rate change data per cryptocurrency."
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "crypto": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "name_full": {
                  "type": "string"
                },
                "max_supply": {
                  "type": "number",
                  "nullable": true
                },
                "icon_url": {
                  "type": "string"
                }
              }
            },
            "description": "Object containing all supported cryptocurrencies."
          },
          "fiat": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Object containing all supported fiat currencies."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "tags": [
    {
      "name": "change"
    },
    {
      "name": "convert"
    },
    {
      "name": "historical"
    },
    {
      "name": "list"
    },
    {
      "name": "live"
    },
    {
      "name": "timeframe"
    }
  ]
}
