{
  "openapi": "3.0.3",
  "info": {
    "title": "BulkGate SMS API",
    "description": "BulkGate is a messaging platform that enables companies and individuals to send personalized bulk SMS and SMS notifications. This API provides endpoints for sending transactional and promotional SMS messages, checking account credit balance, and managing multichannel messaging.",
    "version": "2.0.0",
    "contact": {
      "name": "BulkGate",
      "url": "https://www.bulkgate.com"
    },
    "x-jentic-source-url": "https://help.bulkgate.com/docs/en/http-advanced-transactional.html"
  },
  "servers": [
    {
      "url": "https://portal.bulkgate.com",
      "description": "BulkGate API Server"
    }
  ],
  "paths": {
    "/api/1.0/simple/transactional": {
      "post": {
        "operationId": "sendSimpleTransactionalSms",
        "summary": "Send simple transactional SMS",
        "description": "Sends a transactional SMS notification to a single recipient using the simple API (v1). Transactional SMS must not be used for promotional/marketing purposes.",
        "tags": [
          "Transactional SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleTransactionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1.0/simple/promotional": {
      "post": {
        "operationId": "sendSimplePromotionalSms",
        "summary": "Send simple promotional SMS",
        "description": "Sends promotional SMS messages to one or more recipients using the simple API (v1). Supports semicolon-separated phone numbers for multiple recipients.",
        "tags": [
          "Promotional SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePromotionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1.0/advanced/transactional": {
      "post": {
        "operationId": "sendAdvancedTransactionalSmsV1",
        "summary": "Send advanced transactional SMS (v1)",
        "description": "Sends a transactional SMS notification to an individual recipient using the advanced API v1. Supports template variables, scheduling, and sender customization.",
        "tags": [
          "Transactional SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedTransactionalRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1.0/advanced/promotional": {
      "post": {
        "operationId": "sendAdvancedPromotionalSmsV1",
        "summary": "Send advanced promotional SMS (v1)",
        "description": "Sends promotional SMS messages to individual recipients, groups from address book, or administrators using the advanced API v1. Supports template variables, scheduling, and duplicate checking.",
        "tags": [
          "Promotional SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedPromotionalRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/advanced/transactional": {
      "post": {
        "operationId": "sendAdvancedTransactionalSmsV2",
        "summary": "Send advanced transactional SMS (v2)",
        "description": "Sends transactional SMS notifications to one or multiple recipients using the advanced API v2. Supports alternative delivery channels (Viber, RCS, WhatsApp) in cascade format, template variables, and scheduling.",
        "tags": [
          "Transactional SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedTransactionalRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/advanced/promotional": {
      "post": {
        "operationId": "sendAdvancedPromotionalSmsV2",
        "summary": "Send advanced promotional SMS (v2)",
        "description": "Sends promotional SMS and multichannel messages using the advanced API v2. Supports alternative channels in cascade format, delivering through prioritized channels before falling back to SMS.",
        "tags": [
          "Promotional SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedPromotionalRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/advanced/info": {
      "post": {
        "operationId": "checkCreditBalance",
        "summary": "Check credit balance",
        "description": "Retrieves current account credit balance and wallet information including available credits, currency type, remaining free messages, and timestamp.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "applicationAuth": {
        "type": "apiKey",
        "in": "body",
        "name": "application_token",
        "description": "Authentication via application_id and application_token included in the request body. Obtain credentials from the BulkGate Portal under API administration."
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier obtained from BulkGate Portal"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          }
        }
      },
      "SimpleTransactionalRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number in international format"
          },
          "text": {
            "type": "string",
            "description": "Message content"
          },
          "unicode": {
            "type": "boolean",
            "description": "Enable Unicode encoding for the message"
          },
          "sender_id": {
            "type": "string",
            "description": "Sender identifier type",
            "enum": [
              "gSystem",
              "gText",
              "gOwn",
              "gMobile",
              "gPush"
            ]
          },
          "sender_id_value": {
            "type": "string",
            "description": "Custom sender name or identifier value"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code for number formatting"
          }
        }
      },
      "SimplePromotionalRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone numbers separated by semicolons"
          },
          "text": {
            "type": "string",
            "description": "Message content"
          },
          "unicode": {
            "type": "boolean",
            "description": "Enable Unicode encoding for the message"
          },
          "sender_id": {
            "type": "string",
            "description": "Sender identifier type"
          },
          "sender_id_value": {
            "type": "string",
            "description": "Custom sender name or identifier value"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code for number formatting"
          },
          "schedule": {
            "type": "string",
            "description": "Scheduled delivery time in ISO 8601 format or Unix timestamp"
          }
        }
      },
      "AdvancedTransactionalRequestV1": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number in international format"
          },
          "text": {
            "type": "string",
            "description": "Message content (max 612 characters, 268 with Unicode)",
            "maxLength": 612
          },
          "variables": {
            "type": "object",
            "description": "Template variable substitutions as key-value pairs",
            "additionalProperties": {
              "type": "string"
            }
          },
          "unicode": {
            "type": "boolean",
            "description": "Enable Unicode encoding"
          },
          "sender_id": {
            "type": "string",
            "description": "Sender identifier type",
            "enum": [
              "gSystem",
              "gText",
              "gOwn",
              "gMobile",
              "gPush"
            ]
          },
          "sender_id_value": {
            "type": "string",
            "description": "Custom sender name or identifier value"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "schedule": {
            "type": "string",
            "description": "Scheduled delivery time in ISO 8601 format or Unix timestamp"
          },
          "duplicates_check": {
            "type": "string",
            "description": "Duplicate prevention mode",
            "enum": [
              "same_text",
              "same_number"
            ]
          },
          "tag": {
            "type": "string",
            "description": "Message label for retrieval and tracking"
          }
        }
      },
      "AdvancedPromotionalRequestV1": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          },
          "number": {
            "type": "array",
            "description": "Array of recipient phone numbers or objects with number/text/variables",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/RecipientObject"
                }
              ]
            }
          },
          "groups": {
            "type": "array",
            "description": "Array of group IDs from the address book",
            "items": {
              "type": "string"
            }
          },
          "admins": {
            "type": "array",
            "description": "Array of administrator notification IDs",
            "items": {
              "type": "string"
            }
          },
          "text": {
            "type": "string",
            "description": "Message content (max 612 characters, 268 with Unicode)",
            "maxLength": 612
          },
          "unicode": {
            "type": "boolean",
            "description": "Enable Unicode encoding"
          },
          "sender_id": {
            "type": "string",
            "description": "Sender identifier type",
            "enum": [
              "gSystem",
              "gText",
              "gOwn",
              "gMobile",
              "gPush"
            ]
          },
          "sender_id_value": {
            "type": "string",
            "description": "Custom sender name or identifier value"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "schedule": {
            "type": "string",
            "description": "Scheduled delivery time in ISO 8601 or Unix timestamp"
          },
          "duplicates_check": {
            "type": "string",
            "description": "Duplicate prevention mode",
            "enum": [
              "same_text",
              "same_number"
            ]
          },
          "tag": {
            "type": "string",
            "description": "Message label for retrieval and tracking"
          }
        }
      },
      "AdvancedTransactionalRequestV2": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          },
          "number": {
            "type": "array",
            "description": "Array of recipient phone numbers",
            "items": {
              "type": "string"
            }
          },
          "text": {
            "type": "string",
            "description": "Message content (max 612 characters, 268 with Unicode)",
            "maxLength": 612
          },
          "variables": {
            "type": "object",
            "description": "Template variable substitutions",
            "additionalProperties": {
              "type": "string"
            }
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelConfig"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "schedule": {
            "type": "string",
            "description": "Scheduled delivery time in ISO 8601 or Unix timestamp"
          },
          "duplicates_check": {
            "type": "string",
            "description": "Duplicate prevention mode",
            "enum": [
              "same_text",
              "same_number"
            ]
          },
          "tag": {
            "type": "string",
            "description": "Message label for retrieval and tracking"
          }
        }
      },
      "AdvancedPromotionalRequestV2": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application identifier"
          },
          "application_token": {
            "type": "string",
            "description": "Application authentication token"
          },
          "number": {
            "type": "array",
            "description": "Array of recipient phone numbers or objects",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/RecipientObject"
                }
              ]
            }
          },
          "groups": {
            "type": "array",
            "description": "Array of address book group IDs",
            "items": {
              "type": "string"
            }
          },
          "admins": {
            "type": "array",
            "description": "Array of administrator notification IDs",
            "items": {
              "type": "string"
            }
          },
          "text": {
            "type": "string",
            "description": "Message content (max 612 characters, 268 with Unicode)",
            "maxLength": 612
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "schedule": {
            "type": "string",
            "description": "Scheduled delivery time in ISO 8601 or Unix timestamp"
          },
          "duplicates_check": {
            "type": "string",
            "description": "Duplicate prevention mode",
            "enum": [
              "same_text",
              "same_number"
            ]
          },
          "tag": {
            "type": "string",
            "description": "Message label for tracking"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelConfig"
          }
        }
      },
      "RecipientObject": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "text": {
            "type": "string",
            "description": "Custom message text for this recipient"
          },
          "variables": {
            "type": "object",
            "description": "Template variables for this recipient",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ChannelConfig": {
        "type": "object",
        "description": "Alternative delivery channel configuration for cascade delivery (Viber, RCS, WhatsApp)",
        "properties": {
          "viber": {
            "type": "object",
            "description": "Viber channel configuration",
            "properties": {
              "sender_id": {
                "type": "string"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "rcs": {
            "type": "object",
            "description": "RCS channel configuration",
            "properties": {
              "sender_id": {
                "type": "string"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "whatsapp": {
            "type": "object",
            "description": "WhatsApp channel configuration",
            "properties": {
              "sender_id": {
                "type": "string"
              },
              "text": {
                "type": "string"
              }
            }
          }
        }
      },
      "TransactionalResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Message status (e.g., accepted)"
              },
              "sms_id": {
                "type": "string",
                "description": "Unique message identifier"
              },
              "part_id": {
                "type": "array",
                "description": "Array of part IDs for split messages",
                "items": {
                  "type": "string"
                }
              },
              "number": {
                "type": "string",
                "description": "Recipient phone number"
              }
            }
          }
        }
      },
      "PromotionalResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "$ref": "#/components/schemas/StatusSummary"
              },
              "response": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageStatus"
                }
              }
            }
          }
        }
      },
      "AdvancedResponseV2": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "$ref": "#/components/schemas/StatusSummary"
              },
              "response": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageStatusV2"
                }
              }
            }
          }
        }
      },
      "StatusSummary": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "sent": {
                "type": "integer"
              },
              "accepted": {
                "type": "integer"
              },
              "scheduled": {
                "type": "integer"
              },
              "error": {
                "type": "integer"
              },
              "blacklisted": {
                "type": "integer"
              },
              "invalid_number": {
                "type": "integer"
              },
              "invalid_sender": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MessageStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Message delivery status"
          },
          "sms_id": {
            "type": "string",
            "description": "Unique message identifier"
          },
          "part_id": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of part IDs for split messages"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number"
          }
        }
      },
      "MessageStatusV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Message delivery status"
          },
          "message_id": {
            "type": "string",
            "description": "Unique message identifier"
          },
          "part_id": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of part IDs for split messages"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "channel": {
            "type": "string",
            "description": "Delivery channel used (sms, viber, rcs, whatsapp)"
          }
        }
      },
      "CreditBalanceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "wallet": {
                "type": "string",
                "description": "Wallet identifier"
              },
              "credit": {
                "type": "number",
                "description": "Available credit amount"
              },
              "currency": {
                "type": "string",
                "description": "Currency type"
              },
              "free_messages": {
                "type": "integer",
                "description": "Number of remaining free messages"
              },
              "datetime": {
                "type": "string",
                "description": "Timestamp of the response"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Error classification"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "error": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "detail": {
            "type": "string",
            "description": "Additional error context"
          }
        }
      }
    }
  },
  "security": [
    {
      "applicationAuth": []
    }
  ],
  "tags": [
    {
      "name": "Transactional SMS",
      "description": "Send transactional SMS notifications to individual recipients"
    },
    {
      "name": "Promotional SMS",
      "description": "Send promotional SMS messages to one or more recipients"
    },
    {
      "name": "Account",
      "description": "Account management and credit balance operations"
    }
  ]
}