{
  "openapi": "3.0.3",
  "info": {
    "title": "Crunchy Bridge API",
    "description": "Manage Crunchy Bridge PostgreSQL clusters, accounts, networks, access tokens, and roles programmatically.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.crunchybridge.com/"
  },
  "servers": [
    {
      "url": "https://api.crunchybridge.com",
      "description": "Crunchy Bridge API Server"
    }
  ],
  "paths": {
    "/clusters": {
      "get": {
        "operationId": "listClusters",
        "summary": "List clusters",
        "description": "Retrieve a list of clusters with optional filtering and pagination.",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items per page (1-200)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "order_field",
            "in": "query",
            "required": false,
            "description": "Field to order by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "description": "Filter by team ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clusters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCluster",
        "summary": "Create a cluster",
        "description": "Provision a new PostgreSQL cluster.",
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClusterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cluster created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}": {
      "get": {
        "operationId": "getCluster",
        "summary": "Get a cluster",
        "description": "Retrieve details for a specific cluster.",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCluster",
        "summary": "Update a cluster",
        "description": "Update properties of an existing cluster.",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClusterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cluster updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCluster",
        "summary": "Delete a cluster",
        "description": "Delete a cluster permanently.",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/status": {
      "get": {
        "operationId": "getClusterStatus",
        "summary": "Get cluster status",
        "description": "Retrieve status information including disk usage, backup info, and upgrade details.",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/forks": {
      "post": {
        "operationId": "createClusterFork",
        "summary": "Create a cluster fork",
        "description": "Create a fork of an existing cluster, optionally targeting a specific point in time.",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fork created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/enable-ha": {
      "put": {
        "operationId": "enableClusterHa",
        "summary": "Enable high availability",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HA enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/disable-ha": {
      "put": {
        "operationId": "disableClusterHa",
        "summary": "Disable high availability",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HA disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/restart": {
      "put": {
        "operationId": "restartCluster",
        "summary": "Restart cluster",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service": {
                    "type": "string",
                    "description": "Specific service to restart"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cluster restarted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/suspend": {
      "put": {
        "operationId": "suspendCluster",
        "summary": "Suspend cluster",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/resume": {
      "put": {
        "operationId": "resumeCluster",
        "summary": "Resume cluster",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/start-backup": {
      "put": {
        "operationId": "startClusterBackup",
        "summary": "Start a backup",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/actions/ping": {
      "put": {
        "operationId": "pingCluster",
        "summary": "Ping cluster",
        "tags": [
          "ClusterActions"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ping successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get current account",
        "description": "Get the currently authenticated account.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete account",
        "description": "Delete the currently authenticated account.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/access-tokens": {
      "post": {
        "operationId": "createAccessToken",
        "summary": "Create an access token",
        "description": "Create a short-lived access token from an API key.",
        "tags": [
          "AccessTokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/access-tokens/{access_token_id}": {
      "delete": {
        "operationId": "deleteAccessToken",
        "summary": "Delete an access token",
        "tags": [
          "AccessTokens"
        ],
        "parameters": [
          {
            "name": "access_token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access token deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "operationId": "listNetworks",
        "summary": "List networks",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "order_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id"
              ]
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of networks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/networks/{network_id}": {
      "get": {
        "operationId": "getNetwork",
        "summary": "Get a network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateNetwork",
        "summary": "Update a network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name for the network"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Network updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/roles": {
      "get": {
        "operationId": "listPostgresRoles",
        "summary": "List Postgres roles",
        "tags": [
          "PostgresRoles"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "order_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostgresRoleList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPostgresRole",
        "summary": "Create a Postgres role",
        "tags": [
          "PostgresRoles"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Role created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostgresRole"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{cluster_id}/roles/{role_name}": {
      "get": {
        "operationId": "getPostgresRole",
        "summary": "Get a Postgres role",
        "tags": [
          "PostgresRoles"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostgresRole"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePostgresRole",
        "summary": "Update a Postgres role",
        "tags": [
          "PostgresRoles"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostgresRoleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostgresRole"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePostgresRole",
        "summary": "Delete a Postgres role",
        "tags": [
          "PostgresRoles"
        ],
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostgresRole"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API key (cbkey_*) or short-lived access token"
      }
    },
    "schemas": {
      "Cluster": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan_id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "provider_id": {
            "type": "string"
          },
          "region_id": {
            "type": "string"
          },
          "postgres_version_id": {
            "type": "string"
          },
          "storage": {
            "type": "integer"
          },
          "is_ha": {
            "type": "boolean"
          },
          "firewall_mode": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClusterList": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "clusters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ClusterStatus": {
        "type": "object",
        "properties": {
          "disk_usage": {
            "type": "object"
          },
          "backup_info": {
            "type": "object"
          },
          "upgrade_details": {
            "type": "object"
          }
        }
      },
      "CreateClusterRequest": {
        "type": "object",
        "required": [
          "name",
          "plan_id",
          "team_id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "plan_id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "cluster_group_id": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "firewall_mode": {
            "type": "string"
          },
          "is_ha": {
            "type": "boolean"
          },
          "keychain_id": {
            "type": "string"
          },
          "maintenance_window_start": {
            "type": "integer"
          },
          "network_id": {
            "type": "string"
          },
          "network_cidr4": {
            "type": "string"
          },
          "postgres_version_id": {
            "type": "string"
          },
          "provider_id": {
            "type": "string"
          },
          "region_id": {
            "type": "string"
          },
          "storage": {
            "type": "integer"
          },
          "major_version": {
            "type": "integer"
          }
        }
      },
      "UpdateClusterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "cluster_group_id": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "is_protected": {
            "type": "boolean"
          },
          "maintenance_window_start": {
            "type": "integer"
          }
        }
      },
      "CreateForkRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "firewall_mode": {
            "type": "string"
          },
          "is_ha": {
            "type": "boolean"
          },
          "keychain_id": {
            "type": "string"
          },
          "network_cidr4": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "plan_id": {
            "type": "string"
          },
          "provider_id": {
            "type": "string"
          },
          "region_id": {
            "type": "string"
          },
          "storage": {
            "type": "integer"
          },
          "target_lsn": {
            "type": "string"
          },
          "target_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_password": {
            "type": "boolean"
          },
          "has_sso": {
            "type": "boolean"
          },
          "multi_factor_enabled": {
            "type": "boolean"
          },
          "notifications_enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "login_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AccessToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "access_token": {
            "type": "string",
            "nullable": true
          },
          "account_id": {
            "type": "string"
          },
          "api_key_id": {
            "type": "string"
          },
          "application_name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_in": {
            "type": "integer"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ]
          }
        }
      },
      "CreateAccessTokenRequest": {
        "type": "object",
        "required": [
          "client_secret"
        ],
        "properties": {
          "client_secret": {
            "type": "string",
            "description": "API key secret"
          },
          "application_name": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_in": {
            "type": "string",
            "description": "Duration (e.g., 1w, 15m)"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ]
          }
        }
      },
      "Network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "cidr4": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "provider_id": {
            "type": "string"
          },
          "region_id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          }
        }
      },
      "NetworkList": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Network"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PostgresRole": {
        "type": "object",
        "properties": {
          "account_email": {
            "type": "string",
            "nullable": true
          },
          "account_id": {
            "type": "string",
            "nullable": true
          },
          "cluster_id": {
            "type": "string"
          },
          "flavor": {
            "type": "string",
            "enum": [
              "nologin",
              "read",
              "write"
            ]
          },
          "name": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "team_id": {
            "type": "string"
          },
          "uri": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PostgresRoleList": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostgresRole"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdatePostgresRoleRequest": {
        "type": "object",
        "properties": {
          "flavor": {
            "type": "string",
            "enum": [
              "nologin",
              "read",
              "write"
            ]
          },
          "password_scram_sha256": {
            "type": "string"
          },
          "rotate_password": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Clusters",
      "description": "Cluster management operations"
    },
    {
      "name": "ClusterActions",
      "description": "Cluster action operations (HA, restart, backup, etc.)"
    },
    {
      "name": "Accounts",
      "description": "Account management"
    },
    {
      "name": "AccessTokens",
      "description": "Access token management"
    },
    {
      "name": "Networks",
      "description": "Network management"
    },
    {
      "name": "PostgresRoles",
      "description": "PostgreSQL role management"
    }
  ]
}