{
  "openapi": "3.0.3",
  "info": {
    "title": "Scorly API",
    "version": "1.0.0",
    "description": "Scorly lead scoring API for evaluating lead quality synchronously or asynchronously.",
    "x-jentic-source-url": "https://scorly.io/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.scorly.io"
    }
  ],
  "paths": {
    "/v1/score/sync": {
      "post": {
        "operationId": "scoreSyncLead",
        "summary": "Score a lead synchronously",
        "tags": [
          "Scoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoringInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scoring result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoringResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Server error"
          }
        },
        "description": "Score a lead synchronously"
      }
    },
    "/v1/score/async": {
      "post": {
        "operationId": "scoreAsyncLead",
        "summary": "Score a lead asynchronously",
        "tags": [
          "Scoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoringInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          }
        },
        "description": "Score a lead asynchronously"
      }
    },
    "/v1/score/runs/{id}": {
      "get": {
        "operationId": "getScoringRun",
        "summary": "Get scoring run details",
        "tags": [
          "Scoring"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scoring run details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoringRun"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get scoring run details"
      }
    }
  },
  "components": {
    "schemas": {
      "ScoringInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          }
        }
      },
      "ScoringResult": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "signals": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "reliability": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AsyncResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          }
        }
      },
      "ScoringRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "input": {
            "$ref": "#/components/schemas/ScoringInput"
          },
          "result": {
            "$ref": "#/components/schemas/ScoringResult"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Scoring"
    }
  ]
}
