{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0-oas3",
    "title": "API para la autorización de una venta",
    "description": "API que permite la autorización de una venta",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "integraciones.visanet@necomplus.com"
    },
    "x-logo": {
      "url": "http://www.ligaempresasperu.com/Images/Equipos/IMGEQU00000230.png",
      "altText": "Logo de VisaNet"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.visanet.autorizathion.recurrence/1.0.0-oas3/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.authorization/v3",
      "description": "Url que corresponde al entorno de integración"
    },
    {
      "url": "https://apiprod.vnforapps.com/api.authorization/v3",
      "description": "Url que corresponde al entorno de producción"
    }
  ],
  "paths": {
    "/authorization/{product}/{merchantId}": {
      "post": {
        "summary": "RESTful API para autorizar ventas",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "schema": {
              "type": "string",
              "enum": [
                "ecommerce",
                "recurrence",
                "pospc"
              ],
              "default": "recurrence"
            },
            "required": true,
            "description": "Identificador del producto. Puede ser uno de los siguientes valores:\n- `recurrence` Para el producto pago programado\n"
          },
          {
            "in": "path",
            "name": "merchantId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Código de comercio VisaNet. Ejemplo `341198210`"
          }
        ],
        "requestBody": {
          "description": "Request a enviar para la autorización de una venta",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "channel",
                  "captureType",
                  "countable",
                  "order",
                  "card"
                ],
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `recurrent` Si son operaciones realizadas con la API de autorización para el producto pago programado\n",
                    "example": "recurrent",
                    "enum": [
                      "recurrent"
                    ]
                  },
                  "captureType": {
                    "type": "string",
                    "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
                    "example": "manual"
                  },
                  "countable": {
                    "type": "boolean",
                    "description": "Tipo de venta a realizar. Si es el valor `true` la venta será contable (Liquidación Automática), Si es el valor `false` la venta será no contable (Liquidación Manual)",
                    "example": true
                  },
                  "order": {
                    "$ref": "#/components/schemas/OrderRQ"
                  },
                  "card": {
                    "$ref": "#/components/schemas/Card"
                  },
                  "cardHolder": {
                    "$ref": "#/components/schemas/CardHolder"
                  },
                  "sponsored": {
                    "$ref": "#/components/schemas/Sponsored"
                  },
                  "recurrence": {
                    "$ref": "#/components/schemas/Recurrence"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autorización de venta realizada con éxito",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "header": {
                      "$ref": "#/components/schemas/Header"
                    },
                    "fulfillment": {
                      "$ref": "#/components/schemas/Fulfillment"
                    },
                    "order": {
                      "$ref": "#/components/schemas/OrderRS"
                    },
                    "token": {
                      "$ref": "#/components/schemas/TokenRS"
                    },
                    "dataMap": {
                      "$ref": "#/components/schemas/DataMap"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en la autorización de la venta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Código de error de la operación. Siempre es el valor `400`",
                      "example": 400
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Mensaje de error de la operación",
                      "example": "Not Authorized"
                    },
                    "header": {
                      "$ref": "#/components/schemas/Header"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error relacionado a acceso no autorizado",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Unauthorized access"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token de acceso obtenido en la respuesta del api.security"
      }
    },
    "schemas": {
      "OrderRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency"
        ],
        "properties": {
          "tokenId": {
            "description": "Id del token de transacción obtenido en la respuesta a la validación antifraude o del formulario de pago. Es de ingreso obligatorio si se utilizó en un paso previo la API antifraude o el botón de pago",
            "type": "string",
            "minLength": 32,
            "maxLength": 32,
            "example": "DE2E3AF7C8494278AE3AF7C849027853"
          },
          "productId": {
            "description": "Código del producto para la afiliación. Es de ingreso obligatorio si se está registrando una afiliación recurrente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "320"
          },
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "installment": {
            "description": "Número de cuotas en que se realizará el pago",
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "externalTransactionId": {
            "description": "Identificador único de transacción enviado por el comercio",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          }
        }
      },
      "Card": {
        "type": "object",
        "description": "Entidad que representa información de la tarjeta",
        "required": [
          "cardNumber",
          "expirationMonth",
          "expirationYear"
        ],
        "properties": {
          "cardNumber": {
            "description": "Número de tarjeta o token",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "4551478422045511"
          },
          "expirationMonth": {
            "description": "Mes de expiración de la tarjeta",
            "type": "integer",
            "format": "int32",
            "example": 12
          },
          "expirationYear": {
            "description": "Año de expiración de la tarjeta",
            "type": "integer",
            "format": "int32",
            "example": 2021
          },
          "tokenId": {
            "description": "Token de la tarjeta",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "7000010038739003"
          },
          "registerFrequent": {
            "description": "Indicador de Card on File (CoF). Se activa para indicar que la tarjeta ha sido registrada para uso frecuente (o tokenizada).",
            "type": "boolean",
            "example": true
          },
          "useFrequent": {
            "description": "Indicador de Card on File (CoF). Se activa para indicar que se está usando una tarjeta previamente registrada para uso frecuente (o tokenizada).",
            "type": "boolean",
            "example": true
          }
        }
      },
      "CardHolder": {
        "type": "object",
        "description": "Entidad que representa la información del tarjetahabiente",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phoneNumber"
        ],
        "properties": {
          "firstName": {
            "description": "Nombres del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Juan"
          },
          "lastName": {
            "description": "Apellidos del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Crespo"
          },
          "email": {
            "description": "Correo electrónico del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 35,
            "example": "juan.c@latinmail.com"
          },
          "phoneNumber": {
            "description": "Teléfono del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "5112223333"
          },
          "documentType": {
            "description": "Tipo de documento del tarjetahabiente. Campo opcioal para una operación tipo recurrente. Puede ser uno de los siguientes valores:\n- `0` DNI\n- `1` Canet de extranjería\n- `2` Pasaporte\n",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "0",
            "enum": [
              0,
              1,
              2
            ]
          },
          "documentNumber": {
            "description": "Número de documento del tarjetahabiente. Campo opcional para una operación tipo recurrente",
            "type": "string",
            "minLength": 8,
            "maxLength": 12,
            "example": "40315149"
          }
        }
      },
      "Sponsored": {
        "type": "object",
        "description": "Entidad que representa información relacionada al comercio hijo. Es de ingreso obligatorio si se esta integrando un facilitador de pagos",
        "required": [
          "merchantId",
          "name",
          "mcci",
          "address",
          "phoneNumber"
        ],
        "properties": {
          "merchantId": {
            "description": "Código de comercio hijo",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "406123567"
          },
          "name": {
            "description": "Nombre de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Netflix"
          },
          "mcci": {
            "description": "MCC internacional de comercio hijo",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0425"
          },
          "address": {
            "description": "Dirección de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Av. Pardo 323 Lima Perú"
          },
          "phoneNumber": {
            "description": "Teléfono de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "2132300"
          }
        }
      },
      "Header": {
        "type": "object",
        "description": "Entidad que representa el encabezado de respuesta a la petición",
        "properties": {
          "ecoreTransactionUUID": {
            "description": "Identificador único de transacción para la plataforma",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "ecoreTransactionDate": {
            "description": "Fecha de la operación expresada en formato UNIX TimeStamp",
            "type": "string",
            "example": 1550355747781
          },
          "millis": {
            "description": "Tiempo de ejecución de la operación",
            "type": "integer",
            "format": "int32",
            "example": 294
          }
        }
      },
      "Fulfillment": {
        "type": "object",
        "description": "Entidad que representa información complementaria al pedido",
        "properties": {
          "channel": {
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores: - `recurrent` Si son operaciones realizadas con la API de autorización para el producto pago programado\n",
            "type": "string",
            "example": "recurrent",
            "enum": [
              "recurrent"
            ]
          },
          "merchantId": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "terminalId": {
            "description": "Número de terminal asociado a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "1"
          },
          "captureType": {
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "manual"
          },
          "countable": {
            "description": "Indica si la venta es contable `true` o no contable `false`",
            "type": "boolean",
            "example": true
          },
          "fastPayment": {
            "description": "Indica si la venta es pago rápido `true` o no es pago rápido `false`",
            "type": "boolean",
            "example": false
          },
          "signature": {
            "description": "Código único generado por el sistema VisaNet al momento de la venta",
            "type": "string",
            "format": "uuid",
            "example": "2fe2272c-76ec-4526-ac53-f3b2df94d98b"
          }
        }
      },
      "DataMap": {
        "type": "object",
        "description": "Entidad que representa información complementaria del pedido",
        "properties": {
          "CURRENCY": {
            "description": "Código numérico de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0604"
          },
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "000"
          },
          "TRACE_NUMBER": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "ECI_DESCRIPTION": {
            "description": "Descripción del código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Transaccion no autenticada pero enviada en canal seguro"
          },
          "ECI": {
            "description": "Código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "07"
          },
          "CARD": {
            "description": "Número de tarjeta enmascarado usada en la venta",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "457033******4330"
          },
          "MERCHANT": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "STATUS": {
            "description": "Descripción del estado de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Authorized",
            "enum": [
              "Authorized",
              "Not Authorized",
              "Confirmed",
              "Not Confirmed",
              "Verified",
              "Not Verified",
              "Voided",
              "Not Voided",
              "Reject",
              "Review"
            ]
          },
          "ADQUIRENTE": {
            "description": "Nombre de identificación del adquirente. Identifica el punto donde se origina la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visanet",
            "enum": [
              "visanet",
              "procesos-mc"
            ]
          },
          "BIN": {
            "description": "Número de BIN de la tarjeta usada en la venta. Son los 6 primeros dígitos de una tarjeta",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "457033"
          },
          "BRAND": {
            "description": "Marca de la tarjeta usada en la venta",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visa",
            "enum": [
              "visa",
              "amex",
              "mastercard",
              "dinersclub"
            ]
          },
          "SETTLEMENT": {
            "description": "Indica si la operación esta o no esta liquidada",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Pending",
            "enum": [
              "Not Applicable",
              "Pending",
              "Automatic",
              "Completed"
            ]
          },
          "ACTION_DESCRIPTION": {
            "description": "Texto descriptivo de la autorización o denegación",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Aprobado y completado con exito"
          },
          "ID_UNICO": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AMOUNT": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "AUTHORIZED_AMOUNT": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "TRANSACTION_ID": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AUTHORIZATION_CODE": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "CARD_TOKEN": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "VAULT_BLOCK": {
            "description": "Valor del campo por el cual se tokenizo la tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "jperez@visanet.com.pe"
          },
          "QUOTA_NUMBER": {
            "description": "Número de cuotas en que se realizó la venta",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_AMOUNT": {
            "description": "Importe aproximado del valor de cuota. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_DEFERRED": {
            "description": "Indica si el pago en cuotas debe procesarse con pagos en diferido. `0`, el pago no se procesa en diferido y `1 o 2`, el pago se procesa en diferido",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_PROGRAM": {
            "description": "Código de programa para cuota sin intereses",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_TYPE": {
            "description": "Indicador de tipo de cobro para cuotas sin intereses. `0`, cobro como porcentaje y `1`, cobro como importe",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_AMOUNT": {
            "description": "Valor asociado al tipo de cobro para cuotas sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_DISCOUNT": {
            "description": "Porcentaje de descuento que corresponde al emisor por el programa cuota sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_MESSAGE": {
            "description": "Mensaje asociado al cobro para cuota sin intereses",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": ""
          },
          "ONLINE_CARD_UPDATED_ON": {
            "description": "Fecha de actualización de la tarjeta YYMMDDHHmmSS",
            "type": "string",
            "example": "201112112126"
          },
          "ONLINE_NEW_CARD_NUMBER": {
            "description": "Número de tarjeta actualizada, reemplaza al número de tarjeta enviado. No se devuelve cuando es por tokens o cuando la actualización ha indicado que debe ser denegada. Este campo solo aparece para comercios que tengan habilitada la actualización de tarjetas.",
            "type": "string",
            "example": "457033******4330"
          },
          "ONLINE_NEW_CARD_EXP_YEAR": {
            "description": "Año de expiración actualizado, reemplaza al año enviado.No se devuelve cuando es por tokens o cuando la actualización ha indicado que debe ser denegada. Este campo solo aparece para comercios que tengan habilitada la actualización de tarjetas.",
            "type": "string",
            "example": "2030"
          },
          "ONLINE_NEW_CARD_EXP_MONTH": {
            "description": "Mes de expiración actualizado, reemplaza al mes enviado. No se devuelve cuando es por tokens o cuando la actualización ha indicado que debe ser denegada. Este campo solo aparece para comercios que tengan habilitada la actualización de tarjetas.",
            "type": "string",
            "example": "12"
          },
          "ONLINE_NEW_CARD_TOKEN_ID": {
            "description": "Número de token actualizado, reemplaza al token enviado. Tiene asociada la nueva tarjeta actualizada. No se devuelve cuando es por tarjeta en claro o cuando la actualización ha indicado que debe ser denegada. Este campo solo aparece para comercios que tengan habilitada la actualización de tarjetas.",
            "type": "string",
            "example": "7000010032209946"
          },
          "ONLINE_NEW_CARD_TOKEN_EXPIRATION": {
            "description": "Fecha de expiración del nuevo token en formato. No se devuelve cuando es por tarjeta en claro o cuando la actualización ha indicado que debe ser denegada. Este campo solo aparece para comercios que tengan habilitada la actualización de tarjetas yyMMddHHmmSS",
            "type": "string",
            "example": "211231160647"
          }
        }
      },
      "OrderRS": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "properties": {
          "tokenId": {
            "description": "Id del token de transacción obtenido en la respuesta a la validación antifraude o del formulario de pago. Es de ingreso obligatorio si se utilizó en un paso previo la API antifraude o el botón de pago",
            "type": "string",
            "minLength": 32,
            "maxLength": 32,
            "example": "DE2E3AF7C8494278AE3AF7C849027853"
          },
          "productId": {
            "description": "Código del producto para la afiliación. Es de ingreso obligatorio si se está registrando una afiliación recurrente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "320"
          },
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "installment": {
            "description": "Número de cuotas en que se realizará el pago",
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "externalTransactionId": {
            "description": "Identificador único de transacción enviado por el comercio",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "authorizedAmount": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "authorizationCode": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "actionCode": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "000"
          },
          "traceNumber": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "transactionDate": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "transactionId": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          }
        }
      },
      "Recurrence": {
        "type": "object",
        "description": "Entidad opcional que representa información relacionada a la afiliación en el sistema recurrente VisaNet solo se usa cuando se va a realizar una afiliación a la Plataforma de Pago Programado",
        "required": [
          "beneficiaryId",
          "beneficiaryFirstName",
          "beneficiaryLastName",
          "frequency",
          "amount",
          "maxAmount",
          "type"
        ],
        "properties": {
          "beneficiaryId": {
            "description": "Identificador del beneficiario",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "406123567"
          },
          "beneficiaryFirstName": {
            "description": "Nombres del beneficiario",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Juan"
          },
          "beneficiaryLastName": {
            "description": "Apellidos del beneficiario",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Perez"
          },
          "frequency": {
            "description": "Frecuencia de pago recurrente:\n- `MONTHLY` Periodicidad mensual\n- `QUARTERLY` Periodicidad trimestral\n- `BIANNUAL` Periodicidad semestral\n- `ANNUAL` Periodicidad anual\n",
            "type": "string",
            "example": "MONTHLY",
            "enum": [
              "MONTHLY",
              "QUARTERLY",
              "BIANNUAL",
              "ANNUAL"
            ]
          },
          "amount": {
            "description": "Importe del cargo para la afiliación a registrar. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 2.35
          },
          "maxAmount": {
            "description": "Importe máximo para los cargos de la afiliación a registrar. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 20
          },
          "type": {
            "description": "Tipo de pago recurrente:\n- `FIXED` Recurrencia fija\n- `VARIABLE` Recurrencia variable\n- `FIXEDINITIAL` Recurrencia fija más pago inicial\n- `VARIABLEINITIAL` Recurrencia variable más pago inicial\n",
            "type": "string",
            "example": "FIXED",
            "enum": [
              "FIXED",
              "VARIABLE",
              "FIXEDINITIAL",
              "VARIABLEINITIAL"
            ]
          }
        }
      },
      "TokenRS": {
        "type": "object",
        "description": "Entidad que representa información de la tokenización para la tarjeta utilizada",
        "properties": {
          "tokenId": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "ownerId": {
            "description": "Valor del campo por el cual se tokenizo la tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "jperez@visanet.com.pe"
          },
          "expiration": {
            "description": "Fecha de caducidad del token expresado en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "191023160647"
          }
        }
      },
      "Data": {
        "type": "object",
        "description": "Entidad que representa información complementaria del pedido",
        "properties": {
          "CURRENCY": {
            "description": "Código numérico de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0604"
          },
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "320"
          },
          "TRACE_NUMBER": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "ECI_DESCRIPTION": {
            "description": "Descripción del código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Transaccion no autenticada pero enviada en canal seguro"
          },
          "ECI": {
            "description": "Código ECI asociado a la autenticación de la transacción",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "07"
          },
          "CARD": {
            "description": "Número de tarjeta enmascarado usada en la venta",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "457033******4330"
          },
          "MERCHANT": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          },
          "STATUS": {
            "description": "Descripción del estado de la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Not Authorized",
            "enum": [
              "Authorized",
              "Not Authorized",
              "Confirmed",
              "Not Confirmed",
              "Verified",
              "Not Verified",
              "Voided",
              "Not Voided",
              "Reject",
              "Review"
            ]
          },
          "ADQUIRENTE": {
            "description": "Nombre de identificación del adquirente. Identifica el punto donde se origina la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visanet",
            "enum": [
              "visanet",
              "procesos-mc"
            ]
          },
          "BRAND": {
            "description": "Marca de la tarjeta usada en la venta",
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "example": "visa",
            "enum": [
              "visa",
              "amex",
              "mastercard",
              "dinersclub"
            ]
          },
          "SETTLEMENT": {
            "description": "Indica si la operación esta o no esta liquidada",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "Pending",
            "enum": [
              "Not Applicable",
              "Pending",
              "Automatic",
              "Completed"
            ]
          },
          "ACTION_DESCRIPTION": {
            "description": "Texto descriptivo de la autorización o denegación",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Tarjeta no habilitada"
          },
          "ID_UNICO": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AMOUNT": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "AUTHORIZED_AMOUNT": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "12.35"
          },
          "TRANSACTION_ID": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          },
          "AUTHORIZATION_CODE": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "QUOTA_NUMBER": {
            "description": "Número de cuotas en que se realizó la venta",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_AMOUNT": {
            "description": "Importe aproximado del valor de cuota. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_DEFERRED": {
            "description": "Indica si el pago en cuotas debe procesarse con pagos en diferido. `0`, el pago no se procesa en diferido y `1 o 2`, el pago se procesa en diferido",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_PROGRAM": {
            "description": "Código de programa para cuota sin intereses",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_TYPE": {
            "description": "Indicador de tipo de cobro para cuotas sin intereses. `0`, cobro como porcentaje y `1`, cobro como importe",
            "type": "integer",
            "format": "int32",
            "example": "0"
          },
          "QUOTA_NI_AMOUNT": {
            "description": "Valor asociado al tipo de cobro para cuotas sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_DISCOUNT": {
            "description": "Porcentaje de descuento que corresponde al emisor por el programa cuota sin intereses",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": "0.00"
          },
          "QUOTA_NI_MESSAGE": {
            "description": "Mensaje asociado al cobro para cuota sin intereses",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": ""
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Autorización",
      "description": "RESTful API Autorización"
    }
  ],
  "externalDocs": {
    "description": "Página Web de VisaNet",
    "url": "http://www.visanet.com.pe"
  },
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "Autorización"
      ]
    }
  ]
}