{
  "openapi": "3.0.3",
  "info": {
    "title": "ZaloPay API",
    "version": "1.0.0",
    "description": "ZaloPay payment gateway API enabling merchants to create payment orders, process refunds, query order status, manage tokenization, and handle disbursements. Supports multiple payment channels in Vietnam.",
    "x-jentic-source-url": "https://docs.zalopay.vn/docs/sdk/intro/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://openapi.zalopay.vn/v2"
    }
  ],
  "paths": {
    "/create": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create a new payment order",
        "description": "Merchant server creates order information and sends to ZaloPay to create a payment order. Returns a transaction token and order URL.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/query": {
      "post": {
        "operationId": "queryOrder",
        "summary": "Query order status",
        "description": "Query the status of a payment order by app_trans_id.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refund": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund",
        "description": "Initiate a refund for a completed payment order.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/query_refund": {
      "post": {
        "operationId": "queryRefund",
        "summary": "Query refund status",
        "description": "Query the status of a refund request.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "integer",
            "description": "ZaloPay-provided merchant identifier"
          },
          "app_user": {
            "type": "string",
            "maxLength": 50,
            "description": "User making payment (id/username or application name)"
          },
          "app_trans_id": {
            "type": "string",
            "maxLength": 40,
            "description": "Order transaction code; format: yymmdd_OrderID (Vietnam timezone GMT+7)"
          },
          "app_time": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in milliseconds of order creation"
          },
          "expire_duration_seconds": {
            "type": "integer",
            "description": "Order expiration in seconds (300-2592000)"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Order amount in VND"
          },
          "description": {
            "type": "string",
            "maxLength": 256,
            "description": "Order description displayed to users"
          },
          "callback_url": {
            "type": "string",
            "description": "Merchant URL for server-to-server payment notifications"
          },
          "sub_app_id": {
            "type": "string",
            "maxLength": 50,
            "description": "Service identifier/group within merchant application"
          },
          "item": {
            "type": "string",
            "maxLength": 2048,
            "description": "JSON array of additional merchant-defined data; use '[]' when empty"
          },
          "embed_data": {
            "type": "string",
            "description": "JSON object for special order information; use '{}' if empty"
          },
          "mac": {
            "type": "string",
            "description": "HMAC authentication (HmacSHA256)"
          },
          "bank_code": {
            "type": "string",
            "description": "Specifies payment method display options"
          }
        },
        "required": [
          "app_id",
          "app_user",
          "app_trans_id",
          "app_time",
          "amount",
          "description",
          "item",
          "embed_data",
          "mac"
        ]
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "return_code": {
            "type": "integer",
            "description": "Status code"
          },
          "return_message": {
            "type": "string",
            "description": "Status description"
          },
          "sub_return_code": {
            "type": "integer",
            "description": "Detailed status code"
          },
          "sub_return_message": {
            "type": "string",
            "description": "Detailed status description"
          },
          "zp_trans_token": {
            "type": "string",
            "description": "Transaction token for AppToApp model"
          },
          "order_url": {
            "type": "string",
            "description": "ZaloPay Gateway redirect URL"
          },
          "order_token": {
            "type": "string",
            "description": "Order token"
          },
          "qr_code": {
            "type": "string",
            "description": "ZaloPay QR code for merchant integration"
          }
        }
      },
      "QueryOrderRequest": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "integer",
            "description": "Merchant identifier"
          },
          "app_trans_id": {
            "type": "string",
            "description": "Order transaction code to query"
          },
          "mac": {
            "type": "string",
            "description": "HMAC authentication"
          }
        },
        "required": [
          "app_id",
          "app_trans_id",
          "mac"
        ]
      },
      "QueryOrderResponse": {
        "type": "object",
        "properties": {
          "return_code": {
            "type": "integer"
          },
          "return_message": {
            "type": "string"
          },
          "is_processing": {
            "type": "boolean"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "zp_trans_id": {
            "type": "string"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "integer",
            "description": "Merchant identifier"
          },
          "m_refund_id": {
            "type": "string",
            "description": "Merchant refund ID"
          },
          "zp_trans_id": {
            "type": "string",
            "description": "ZaloPay transaction ID to refund"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Refund amount in VND"
          },
          "description": {
            "type": "string",
            "description": "Refund description"
          },
          "mac": {
            "type": "string",
            "description": "HMAC authentication"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in milliseconds"
          }
        },
        "required": [
          "app_id",
          "m_refund_id",
          "zp_trans_id",
          "amount",
          "mac",
          "timestamp"
        ]
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "return_code": {
            "type": "integer"
          },
          "return_message": {
            "type": "string"
          },
          "refund_id": {
            "type": "string"
          }
        }
      },
      "QueryRefundRequest": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "integer"
          },
          "m_refund_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "mac": {
            "type": "string"
          }
        },
        "required": [
          "app_id",
          "m_refund_id",
          "timestamp",
          "mac"
        ]
      },
      "QueryRefundResponse": {
        "type": "object",
        "properties": {
          "return_code": {
            "type": "integer"
          },
          "return_message": {
            "type": "string"
          },
          "sub_return_code": {
            "type": "integer"
          },
          "sub_return_message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "return_code": {
            "type": "integer"
          },
          "return_message": {
            "type": "string"
          },
          "sub_return_code": {
            "type": "integer"
          },
          "sub_return_message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "HmacAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "mac",
        "description": "HMAC-SHA256 signature computed from request parameters using the merchant's key1"
      }
    }
  },
  "security": [
    {
      "HmacAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders"
    },
    {
      "name": "Refunds"
    }
  ]
}
