{
  "swagger": "2.0",
  "info": {
    "description": "The Assembly Service provides an API that enable you to assemble documents from HotDocs templates. It can assemble these documents with\r\nor without presenting an interview. When presenting an interview, the service also manages the state of the interview. The following is the\r\nAPI you use to interface with this service to start, retrieve results from and terminate document assembly sessions.",
    "version": "v1.1",
    "title": "Assembly Service",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/K2ANZ/assembly-service/v1.1/swagger.json",
    "contact": {}
  },
  "host": "coreus.hotdocsadvance.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/session": {
      "post": {
        "tags": [
          "api/session"
        ],
        "summary": "Starts a new assembly session",
        "description": "A successful call to create a new session returns a string you can use to uniquely identify that session.\r\n            This string is the only access control for a session and should be treated as a shared secret between the client and\r\n            the service. Once you are done with the session, you should call the api to delete the session.",
        "operationId": "Session_CreateSession",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "value",
            "description": "Metadata to define the new assembly session",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionCreateMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/session/{sessionId}": {
      "get": {
        "tags": [
          "api/session/{sessionId}"
        ],
        "summary": "Returns the current state of a session.",
        "description": "A successful call to GET session returns the current state of the session, including reporting if the session has errors or is in an error state. If the session has encountered any errors or is in an error state, the Errors property contains a list of the errors. Currently, a GET session call can return the following states:\r\n* **Unknown** occurs only in the unlikely event that the service encounters a fatal error while transitioning a session from one state to the next. A session in an unknown state can never complete and should be deleted.\r\n* **InProgress** indicates that the session is currently in progress. either waiting for an interview to complete or for document assembly to complete.\r\n* **Completed** indicates that session has completed all interviews or document assemblies, or the session has terminated due to an error.",
        "operationId": "Session_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SessionInfo"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "api/session/{sessionId}"
        ],
        "summary": "Removes an assembly session and the data associated with it",
        "description": "A call to delete a session removes the session and any documents or answers associated with it, regardless of the current\r\n            session state. Once you delete the session, any attempts to use that same session fail.",
        "operationId": "Session_DeleteSession",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content - The session was successfully deleted."
          },
          "400": {
            "description": "Bad Request - A request was made with an invalid sessionId."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/session/{sessionId}/answers": {
      "get": {
        "tags": [
          "api/session/{sessionId}/answers"
        ],
        "summary": "Gets the current answers for the assembly session",
        "operationId": "Session_GetAnswers",
        "consumes": [],
        "produces": [
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Xml Document containing the session's current answers",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request - A request was made with an invalid sessionId."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "description": "Gets the current answers for the assembly session"
      }
    },
    "/api/session/{sessionId}/docs": {
      "get": {
        "tags": [
          "api/session/{sessionId}/docs"
        ],
        "summary": "Gets a list of assembled documents for the session",
        "operationId": "Session_GetDocuments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentInfo"
              }
            }
          },
          "400": {
            "description": "Bad Request - A request was made with an invalid sessionId."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "description": "Gets a list of assembled documents for the session"
      }
    },
    "/ipi/session/{sessionID}/docs/{documentName}": {
      "get": {
        "tags": [
          "ipi/session/{sessionID}/docs/{documentName}"
        ],
        "summary": "Endpoint for retrieving the body of a document.",
        "operationId": "Document_GetDocument",
        "consumes": [],
        "produces": [
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "application/rtf",
          "application/wordperfect",
          "application/pdf",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "sessionID",
            "in": "path",
            "description": "The id of the session.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentName",
            "in": "path",
            "description": "The name of the document.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The assembled by during this session",
            "schema": {
              "type": "file"
            }
          },
          "206": {
            "description": "PartialContent",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "416": {
            "description": "Requested Range Not Satisfiable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "description": "Endpoint for retrieving the body of a document."
      },
      "head": {
        "tags": [
          "ipi/session/{sessionID}/docs/{documentName}"
        ],
        "summary": "Endpoint for serving an http head request for a document.",
        "operationId": "Document_HeadDocument",
        "consumes": [],
        "produces": [
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "application/rtf",
          "application/wordperfect",
          "application/pdf",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "sessionID",
            "in": "path",
            "description": "The id of the session.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentName",
            "in": "path",
            "description": "The name of the document.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The assembled by during this session",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "description": "Endpoint for serving an http head request for a document."
      }
    }
  },
  "definitions": {
    "SessionCreateMetadata": {
      "type": "object",
      "properties": {
        "TemplateId": {
          "type": "string",
          "description": "The Id of the template package to use for the session.\r\nThe session uses the current live version of the template package."
        },
        "TemplateUrl": {
          "type": "string",
          "description": "You can supply an alternate url for the service to use to retrieve the template package.\r\nYou must configure the service to allow it to retrieve packages from the domain you provide in the url.\r\nIf you do not supply a template ID, then you must provide a template url."
        },
        "XmlAnswers": {
          "type": "string",
          "description": "Any answers needed to prepopulate the interview."
        },
        "Options": {
          "$ref": "#/definitions/SessionOptionsDTO"
        }
      },
      "description": "Information needed by the assembly service to create a new session."
    },
    "SessionOptionsDTO": {
      "type": "object",
      "properties": {
        "PresentInterview": {
          "type": "boolean",
          "description": "Specifies whether to present an interview. If no interview is presented\r\nthe documents assembles using the answers supplied when the session was created.",
          "readOnly": true
        },
        "PresentDispositionPage": {
          "type": "boolean",
          "description": "Specifies whether to present a disposition page at the end of the session\r\nwith links for downloading the assembled documents.",
          "readOnly": true
        },
        "DownloadExpireTime": {
          "type": "string",
          "description": "Specifies how long the download links on the disposition page remain available.\r\nIf no disposition page is presented this value is ignored.",
          "readOnly": true
        },
        "AssemblyOutputFormat": {
          "type": "string",
          "description": "Specifies whether to convert a document to PDF or to  assemble the document in\r\nthe template's preferred format. This setting only affects the assembly of\r\nRTF and DOCX format templates.",
          "readOnly": true,
          "enum": [
            "Preferred",
            "PDF"
          ]
        },
        "DefaultTimezoneOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The default Coordinated Universal Time (UTC) offset to use for the current date/time\r\nduring assembly if no interview is presented. If an interview is presented, the document\r\nassembles using the time zone offset from the interview. This value must fall within\r\n-840 minutes (-14 hours) to +840 minutes (+14 hours).\r\nSee https://en.wikipedia.org/wiki/UTC_offset and https://en.wikipedia.org/wiki/Coordinated_Universal_Time\r\nand the .NET documentation for TimeZoneInfo.BaseUtcOffset.",
          "readOnly": true,
          "minimum": -840,
          "maximum": 840
        },
        "RequestTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of seconds to wait for an assembly request to complete before the\r\nrequest times out. A minimum value of five seconds is imposed.",
          "readOnly": true
        },
        "AssembleMarkupView": {
          "type": "boolean",
          "description": "A value of \"true\" specifies that documents should assemble in \"markup view\".\r\nThis setting only affects the assembly of RTF and DOCX format templates.",
          "readOnly": true
        },
        "DefaultDateFormat": {
          "type": "string",
          "description": "The HotDocs legacy default date format to use for formatting date values during legacy assembly.",
          "readOnly": true
        },
        "DatePartOrder": {
          "type": "string",
          "description": "The HotDocs legacy ordering of the day, month, and year parts of a date value when formatting\r\nduring legacy assembly. The only recognized values for this string are \"Month Day Year\"\r\n[US ordering of date parts] or \"Day Month Year\" [UK ordering of date parts],\r\nas per the HotDocs legacy code base.",
          "readOnly": true
        },
        "AssemblyLocale": {
          "type": "string",
          "description": "The HotDocs 11 locale to use during assembly. The default is \"en-US\".",
          "readOnly": true
        }
      },
      "description": "Options for controlling the behavior of the assembly session."
    },
    "SessionInfo": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "type": "string",
          "description": "Current status of the session.",
          "enum": [
            "Unknown",
            "InProgress",
            "Completed",
            "Removed",
            "Abandoned"
          ]
        },
        "HasInterview": {
          "type": "boolean",
          "description": "An interview is presented with this session."
        },
        "InterviewIdleDuration": {
          "type": "integer",
          "format": "int32",
          "description": "The interval of time in seconds since the service last heard from the interview. This\r\nvalue only applies if the session has an interview and the interview is in progress.\r\nOtherwise this value will be zero."
        },
        "DocumentsUrl": {
          "type": "string",
          "description": "Url to the list of documents assembled from this assembly."
        },
        "AnswersUrl": {
          "type": "string",
          "description": "Url to retrieve the current answers from the session."
        },
        "Errors": {
          "type": "array",
          "description": "List of errors encountered while assembling templates.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Information about a session."
    },
    "DocumentInfo": {
      "type": "object",
      "properties": {
        "Title": {
          "type": "string",
          "description": "The title of the document."
        },
        "Url": {
          "type": "string",
          "description": "The url to retrieve the body of the document."
        }
      },
      "description": "Information about an assembled document."
    }
  },
  "tags": [
    {
      "name": "api/session"
    },
    {
      "name": "api/session/{sessionId}"
    },
    {
      "name": "api/session/{sessionId}/answers"
    },
    {
      "name": "api/session/{sessionId}/docs"
    },
    {
      "name": "ipi/session/{sessionID}/docs/{documentName}"
    }
  ]
}
