{
  "openapi": "3.0.3",
  "info": {
    "title": "Alchemer REST API",
    "version": "5.0.0",
    "description": "The Alchemer REST API provides programmatic access to survey management, including creating and managing surveys, questions, campaigns, contacts, and responses.",
    "x-jentic-source-url": "https://apihelp.alchemer.com/help",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://restapi.alchemer.com/v5",
      "description": "Production"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Returns account details for the authenticated user.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey": {
      "get": {
        "operationId": "listSurveys",
        "summary": "List surveys",
        "description": "Returns a list of surveys in the account.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "resultsperpage",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "filter[field][0]",
            "in": "query",
            "description": "Filter field name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[operator][0]",
            "in": "query",
            "description": "Filter operator",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][0]",
            "in": "query",
            "description": "Filter value",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "createSurvey",
        "summary": "Create a survey",
        "description": "Creates a new survey.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Survey title",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Survey type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "poll",
                "survey",
                "form"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/{surveyId}": {
      "get": {
        "operationId": "getSurvey",
        "summary": "Get a survey",
        "description": "Returns details for a specific survey.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "Survey ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateSurvey",
        "summary": "Update a survey",
        "description": "Updates an existing survey.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "Survey ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "New title",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSurvey",
        "summary": "Delete a survey",
        "description": "Deletes a survey.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "Survey ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/{surveyId}/surveypage": {
      "get": {
        "operationId": "listSurveyPages",
        "summary": "List survey pages",
        "description": "Returns pages for a survey.",
        "tags": [
          "Survey Pages"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/{surveyId}/surveyquestion": {
      "get": {
        "operationId": "listSurveyQuestions",
        "summary": "List survey questions",
        "description": "Returns questions for a survey.",
        "tags": [
          "Survey Questions"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/{surveyId}/surveyresponse": {
      "get": {
        "operationId": "listSurveyResponses",
        "summary": "List survey responses",
        "description": "Returns responses for a survey. Supports filtering.",
        "tags": [
          "Survey Responses"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "resultsperpage",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/{surveyId}/surveycampaign": {
      "get": {
        "operationId": "listSurveyCampaigns",
        "summary": "List survey campaigns",
        "description": "Returns campaigns/distribution links for a survey.",
        "tags": [
          "Survey Campaigns"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/{surveyId}/surveystatistic": {
      "get": {
        "operationId": "getSurveyStatistics",
        "summary": "Get survey statistics",
        "description": "Returns aggregate statistics for a survey.",
        "tags": [
          "Survey Statistics"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contactlist": {
      "get": {
        "operationId": "listContactLists",
        "summary": "List contact lists",
        "description": "Returns all contact lists in the account.",
        "tags": [
          "Contact Lists"
        ],
        "responses": {
          "200": {
            "description": "Contact list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contactlist/{listId}/contactlistcontact": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts in a list",
        "description": "Returns contacts in a specific contact list.",
        "tags": [
          "Contact Lists"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "SurveyListResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results_per_page": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Survey"
            }
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Survey"
          }
        }
      },
      "Survey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "modified_on": {
            "type": "string",
            "format": "date-time"
          },
          "statistics": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "name": "api_token",
        "in": "query",
        "description": "API token for authentication"
      },
      "ApiTokenSecret": {
        "type": "apiKey",
        "name": "api_token_secret",
        "in": "query",
        "description": "API token secret for authentication"
      }
    }
  },
  "security": [
    {
      "ApiToken": [],
      "ApiTokenSecret": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Contact Lists"
    },
    {
      "name": "Survey Campaigns"
    },
    {
      "name": "Survey Pages"
    },
    {
      "name": "Survey Questions"
    },
    {
      "name": "Survey Responses"
    },
    {
      "name": "Survey Statistics"
    },
    {
      "name": "Surveys"
    }
  ]
}
