{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "InsiderCX AML API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ACCOUNTS_20/AML/1.0/swagger.json",
    "contact": {},
    "description": "InsiderCX AML API"
  },
  "host": "apis.insidercx.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "userTokenHeader": {
      "type": "apiKey",
      "in": "header",
      "name": "user-token"
    }
  },
  "security": [
    {
      "userTokenHeader": []
    }
  ],
  "paths": {
    "/data/AML": {
      "get": {
        "summary": "Load AML objects",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/loadRelations"
          },
          {
            "$ref": "#/parameters/relationsDepth"
          },
          {
            "$ref": "#/parameters/loadAMLProperties"
          },
          {
            "$ref": "#/parameters/sortAMLProperties"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AML objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StoredAML"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Load AML objects",
        "operationId": "get-data-aml"
      },
      "post": {
        "summary": "Create AML object",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewAML"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A AML object",
            "schema": {
              "$ref": "#/definitions/StoredAML"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Create AML object",
        "operationId": "post-data-aml"
      }
    },
    "/data/AML/{objectId}": {
      "get": {
        "summary": "Find AML object by ID",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/objectId"
          },
          {
            "$ref": "#/parameters/loadRelations"
          },
          {
            "$ref": "#/parameters/relationsDepth"
          },
          {
            "$ref": "#/parameters/loadAMLProperties"
          }
        ],
        "responses": {
          "200": {
            "description": "A AML object",
            "schema": {
              "$ref": "#/definitions/StoredAML"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Find AML object by ID",
        "operationId": "get-data-aml-by-objectid"
      },
      "put": {
        "summary": "Update AML object",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/objectId"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewAML"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated AML object",
            "schema": {
              "$ref": "#/definitions/StoredAML"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Update AML object",
        "operationId": "put-data-aml-by-objectid"
      },
      "delete": {
        "summary": "Delete AML Object",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/objectId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Delete AML Object",
        "operationId": "delete-data-aml-by-objectid"
      }
    },
    "/data/bulk/AML": {
      "post": {
        "summary": "Bulk Create AML objects",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NewAML"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of created AML objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StoredAML"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Bulk Create AML objects",
        "operationId": "post-data-bulk-aml"
      }
    },
    "/users/login": {
      "post": {
        "summary": "User Login",
        "tags": [
          "UserService"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "login": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "blUserLocale": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated": {
                  "type": "string",
                  "format": "date-time"
                },
                "ownerId": {
                  "type": "string"
                },
                "oAuthIdentities": {
                  "type": "string"
                },
                "userStatus": {
                  "type": "string"
                },
                "socialAccount": {
                  "type": "string"
                },
                "accountType": {
                  "type": "string"
                },
                "lastLogin": {
                  "type": "string",
                  "format": "date-time"
                },
                "user-token": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "User Login",
        "operationId": "post-users-login"
      }
    }
  },
  "definitions": {
    "NewAML": {
      "type": "object",
      "description": "This is a schema of non stored AML object",
      "properties": {
        "Appointment_date": {
          "type": "string"
        },
        "DOB": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Gender": {
          "type": "string"
        },
        "Mobile_phone_number": {
          "type": "string"
        },
        "Modality": {
          "type": "string"
        },
        "Patient_forename": {
          "type": "string"
        },
        "Patient_id": {
          "type": "string"
        },
        "Patient_surname": {
          "type": "string"
        },
        "Payor_type": {
          "type": "string"
        },
        "Scanning_location": {
          "type": "string"
        }
      }
    },
    "StoredAML": {
      "type": "object",
      "description": "This is a schema of stored AML object",
      "properties": {
        "Appointment_date": {
          "type": "string"
        },
        "DOB": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Gender": {
          "type": "string"
        },
        "Mobile_phone_number": {
          "type": "string"
        },
        "Modality": {
          "type": "string"
        },
        "Patient_forename": {
          "type": "string"
        },
        "Patient_id": {
          "type": "string"
        },
        "Patient_surname": {
          "type": "string"
        },
        "Payor_type": {
          "type": "string"
        },
        "Scanning_location": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "updated": {
          "type": "string",
          "format": "date-time"
        },
        "objectId": {
          "type": "string"
        },
        "ownerId": {
          "type": "string"
        }
      }
    },
    "InsiderCXAPIError": {
      "type": "object",
      "description": "InsiderCXAPI Error",
      "properties": {
        "code": {
          "type": "number"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "tableName": {
      "in": "path",
      "name": "tableName",
      "required": true,
      "type": "string",
      "description": "Table name"
    },
    "objectId": {
      "in": "path",
      "name": "objectId",
      "required": true,
      "type": "string",
      "description": "Object Id"
    },
    "relationName": {
      "in": "path",
      "name": "relationName",
      "required": true,
      "type": "string",
      "description": "Relation name"
    },
    "objectIds": {
      "in": "body",
      "name": "objectIds",
      "required": true,
      "schema": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "objectId_1",
          "objectId_2",
          "objectId_3"
        ]
      },
      "description": "List of objectIds"
    },
    "optionalObjectIds": {
      "in": "body",
      "name": "objectIds",
      "required": false,
      "schema": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "objectId_1",
          "objectId_2",
          "objectId_3"
        ]
      },
      "description": "List of objectIds"
    },
    "pageSize": {
      "in": "query",
      "name": "pageSize",
      "required": false,
      "minimum": 1,
      "type": "integer",
      "description": "Page Size"
    },
    "offset": {
      "in": "query",
      "name": "offset",
      "required": false,
      "minimum": 0,
      "type": "integer",
      "description": "Page Offset"
    },
    "where": {
      "in": "query",
      "name": "where",
      "required": false,
      "type": "string",
      "description": "Where Clause"
    },
    "loadRelations": {
      "in": "query",
      "name": "loadRelations",
      "required": false,
      "type": "string",
      "description": "Load Relations"
    },
    "relationsDepth": {
      "in": "query",
      "name": "relationsDepth",
      "required": false,
      "type": "integer",
      "description": "Relations Depth"
    },
    "loadAMLProperties": {
      "in": "query",
      "name": "props",
      "description": "Object Properties",
      "type": "array",
      "required": false,
      "uniqueItems": true,
      "items": {
        "type": "string",
        "enum": [
          "Appointment_date",
          "DOB",
          "Email",
          "Gender",
          "updated",
          "Mobile_phone_number",
          "Modality",
          "Patient_forename",
          "created",
          "Patient_id",
          "Patient_surname",
          "Payor_type",
          "Scanning_location",
          "ownerId",
          "objectId"
        ]
      }
    },
    "sortAMLProperties": {
      "in": "query",
      "name": "sortBy",
      "description": "Sorting Properties",
      "type": "array",
      "required": false,
      "uniqueItems": true,
      "items": {
        "type": "string",
        "enum": [
          "Appointment_date asc",
          "Appointment_date desc",
          "DOB asc",
          "DOB desc",
          "Email asc",
          "Email desc",
          "Gender asc",
          "Gender desc",
          "updated asc",
          "updated desc",
          "Mobile_phone_number asc",
          "Mobile_phone_number desc",
          "Modality asc",
          "Modality desc",
          "Patient_forename asc",
          "Patient_forename desc",
          "created asc",
          "created desc",
          "Patient_id asc",
          "Patient_id desc",
          "Patient_surname asc",
          "Patient_surname desc",
          "Payor_type asc",
          "Payor_type desc",
          "Scanning_location asc",
          "Scanning_location desc",
          "ownerId asc",
          "ownerId desc",
          "objectId asc",
          "objectId desc"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "AML"
    },
    {
      "name": "UserService"
    }
  ]
}
