{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudinary Admin API",
    "version": "1.0.0",
    "description": "The Cloudinary Admin API is a rate-limited RESTful API that provides full control of all media assets (resources), upload presets, named transformations and other product environment entities. It uses Basic Authentication over HTTPS.",
    "x-jentic-source-url": "https://cloudinary.com/documentation/admin_api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cloudinary.com/v1_1/{cloud_name}",
      "variables": {
        "cloud_name": {
          "default": "demo",
          "description": "Your Cloudinary product environment cloud name"
        }
      }
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Config",
      "description": "Product environment configuration"
    },
    {
      "name": "Folders",
      "description": "Manage asset folders"
    },
    {
      "name": "Resources",
      "description": "Manage and query media assets"
    },
    {
      "name": "Usage",
      "description": "Usage statistics and limits"
    }
  ],
  "paths": {
    "/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get product environment config details",
        "description": "Returns details on your product environment configuration and current settings including information on the folder_mode (dynamic or fixed).",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "settings",
            "in": "query",
            "description": "Whether to include the current configuration settings in the response. Default: false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product environment configuration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/folders": {
      "get": {
        "operationId": "listRootFolders",
        "summary": "List all root folders",
        "description": "Lists all the root folders. Limited to 2000 results.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of root folders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/folders/{folder}": {
      "get": {
        "operationId": "listSubfolders",
        "summary": "List subfolders of a folder",
        "description": "Lists the name and full path of all subfolders of a specified parent folder. Limited to 2000 results.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "description": "Full path of the parent folder",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subfolders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createFolder",
        "summary": "Create a new folder",
        "description": "Creates a new folder at the specified path.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "description": "Full path of the folder to create",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Folder already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFolder",
        "summary": "Update a folder",
        "description": "Updates a folder (e.g., rename).",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "description": "Full path of the folder to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteFolder",
        "summary": "Delete a folder",
        "description": "Deletes a folder.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "description": "Full path of the folder to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/folders/search": {
      "get": {
        "operationId": "searchFolders",
        "summary": "Search folders",
        "description": "Lists the folders that match the specified search expression.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "expression",
            "in": "query",
            "description": "Search expression to match folder names",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{resource_type}": {
      "get": {
        "operationId": "listResources",
        "summary": "List resources by type",
        "description": "Lists all resources (assets) of a given type in the product environment.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "The type of resource. Valid values: image, raw, video.",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum number of results to return (default: 10, max: 500).",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Find all resources with a public ID that starts with the specified prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Whether to include the list of tag names assigned to each resource",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Whether to include key-value pairs of contextual metadata associated with each resource",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "moderations",
            "in": "query",
            "description": "Whether to include moderation status information",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{resource_type}/{public_id}": {
      "get": {
        "operationId": "getResource",
        "summary": "Get resource details",
        "description": "Returns details of a specific resource by public ID.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "The type of resource",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          },
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "The public ID of the resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "colors",
            "in": "query",
            "description": "Whether to include color information",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "faces",
            "in": "query",
            "description": "Whether to include face coordinates",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quality_analysis",
            "in": "query",
            "description": "Whether to include quality analysis information",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteResource",
        "summary": "Delete a resource",
        "description": "Deletes a resource by public ID.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "The type of resource",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          },
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "The public ID of the resource to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get usage statistics",
        "description": "Returns usage data for the product environment including transformation, bandwidth, storage limits, and rate limit details.",
        "tags": [
          "Usage"
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication using your Cloudinary API Key and API Secret."
      }
    },
    "schemas": {
      "ConfigResponse": {
        "type": "object",
        "properties": {
          "cloud_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "settings": {
            "type": "object",
            "properties": {
              "folder_mode": {
                "type": "string",
                "enum": [
                  "dynamic",
                  "fixed"
                ]
              }
            }
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          }
        }
      },
      "FolderListResponse": {
        "type": "object",
        "properties": {
          "folders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Folder"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "FolderCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "path": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "public_id": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "resource_type": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "bytes": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "secure_url": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "context": {
            "type": "object"
          }
        }
      },
      "ResourceListResponse": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "rate_limit_allowed": {
            "type": "integer"
          },
          "rate_limit_remaining": {
            "type": "integer"
          },
          "rate_limit_reset_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          },
          "transformations": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              }
            }
          },
          "objects": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "integer"
              }
            }
          },
          "bandwidth": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              }
            }
          },
          "storage": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authorization required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
