{
  "openapi": "3.0.3",
  "info": {
    "title": "HeyGen API",
    "version": "2.0.0",
    "description": "HeyGen AI video generation platform API. Create AI-generated videos with custom avatars, translate videos, and manage video assets.",
    "x-jentic-source-url": "https://docs.heygen.com/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.heygen.com"
    }
  ],
  "paths": {
    "/v2/avatars": {
      "get": {
        "operationId": "listAvatars",
        "summary": "List all avatars",
        "tags": [
          "Avatars"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvatarListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all avatars"
      }
    },
    "/v1/avatar/photo": {
      "post": {
        "operationId": "createPhotoAvatar",
        "summary": "Create photo avatar",
        "tags": [
          "Avatars"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoAvatarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avatar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create photo avatar"
      }
    },
    "/v1/avatar/digital-twin": {
      "post": {
        "operationId": "createDigitalTwin",
        "summary": "Create digital twin avatar",
        "tags": [
          "Avatars"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avatar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create digital twin avatar"
      }
    },
    "/v1/video_agent/generate": {
      "post": {
        "operationId": "generateVideoFromPrompt",
        "summary": "Generate video from text prompt",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Generate video from text prompt"
      }
    },
    "/v1/video/generate": {
      "post": {
        "operationId": "generateVideo",
        "summary": "Generate video with avatar",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Generate video with avatar"
      }
    },
    "/v1/video_translate/translate": {
      "post": {
        "operationId": "translateVideo",
        "summary": "Translate video to another language",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string"
                  },
                  "target_language": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Translate video to another language"
      }
    },
    "/v1/video/{video_id}": {
      "get": {
        "operationId": "getVideoStatus",
        "summary": "Get video generation status",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get video generation status"
      }
    },
    "/v2/voices": {
      "get": {
        "operationId": "listVoices",
        "summary": "List available voices",
        "tags": [
          "Voices"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Voice"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List available voices"
      }
    },
    "/v1/talking_photo": {
      "get": {
        "operationId": "listTalkingPhotos",
        "summary": "List talking photos",
        "tags": [
          "Talking Photos"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TalkingPhoto"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List talking photos"
      }
    },
    "/v1/template": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List video templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List video templates"
      }
    },
    "/v1/video/list": {
      "get": {
        "operationId": "listVideos",
        "summary": "List generated videos",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoResponse"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List generated videos"
      }
    }
  },
  "components": {
    "schemas": {
      "Avatar": {
        "type": "object",
        "properties": {
          "avatar_id": {
            "type": "string"
          },
          "avatar_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "preview_image_url": {
            "type": "string"
          },
          "preview_video_url": {
            "type": "string"
          }
        }
      },
      "AvatarListResponse": {
        "type": "object",
        "properties": {
          "avatars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avatar"
            }
          },
          "talking_photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TalkingPhoto"
            }
          }
        }
      },
      "PhotoAvatarRequest": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string"
          }
        }
      },
      "VideoGenerateRequest": {
        "type": "object",
        "properties": {
          "avatar_id": {
            "type": "string"
          },
          "script": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "input": {
                "type": "string"
              }
            }
          }
        }
      },
      "VideoResponse": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "video_url": {
            "type": "string"
          },
          "thumbnail_url": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "voice_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          }
        }
      },
      "TalkingPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "thumbnail_url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Avatars"
    },
    {
      "name": "Talking Photos"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Videos"
    },
    {
      "name": "Voices"
    }
  ]
}
