{
  "openapi": "3.0.3",
  "info": {
    "title": "eSignatures API",
    "description": "REST API for managing electronic signature contracts, signers, and templates on the eSignatures.com platform. Supports creating and querying contracts, managing signers, and template CRUD operations.",
    "version": "1.3",
    "x-jentic-source-url": "https://esignatures.com/docs/api"
  },
  "servers": [
    {
      "url": "https://esignatures.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/contracts": {
      "post": {
        "operationId": "createContract",
        "summary": "Create a new contract",
        "description": "Generates a contract from a template and sends it to the signers for signature collection.",
        "tags": [
          "Contracts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract creation queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}": {
      "get": {
        "operationId": "getContract",
        "summary": "Query a contract",
        "description": "Returns the contract details including signer information and field values.",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}/withdraw": {
      "post": {
        "operationId": "withdrawContract",
        "summary": "Withdraw a contract",
        "description": "Withdraws a contract so it can no longer be signed. Signed contracts cannot be withdrawn.",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract withdrawal queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}/generate_pdf_preview": {
      "post": {
        "operationId": "generatePdfPreview",
        "summary": "Generate PDF preview of a contract",
        "description": "Generates a PDF preview of the contract and sends a webhook notification with the PDF URL once ready.",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF preview generation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}/signers": {
      "post": {
        "operationId": "addSigner",
        "summary": "Add a signer to a contract",
        "description": "Adds a new signer to an existing contract. Does not automatically send the contract to the signer.",
        "tags": [
          "ContractSigners"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer addition queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}/signers/{signer_id}": {
      "post": {
        "operationId": "updateSigner",
        "summary": "Update a signer's details",
        "description": "Updates the contact details of a signer. Does not automatically resend the contract.",
        "tags": [
          "ContractSigners"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signer_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the signer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSignerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer update queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}/signers/{signer_id}/send_contract": {
      "post": {
        "operationId": "sendSignRequest",
        "summary": "Send or resend a sign request to a signer",
        "description": "Sends or resends the contract to the specified signer for signing.",
        "tags": [
          "ContractSigners"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signer_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the signer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sign request sending queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contract_id}/signers/{signer_id}/delete": {
      "post": {
        "operationId": "deleteSigner",
        "summary": "Delete a signer from a contract",
        "description": "Removes a signer from the contract.",
        "tags": [
          "ContractSigners"
        ],
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signer_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the signer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer deletion queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "description": "Returns a list of available templates.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTemplatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create a new template",
        "description": "Creates a new contract template with the specified title and document elements.",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates/{template_id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Query a template",
        "description": "Returns the details of a specific template including placeholder fields and signer fields.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the template",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateTemplate",
        "summary": "Update a template",
        "description": "Updates an existing template's title, document elements, or labels.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the template",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template update queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates/{template_id}/copy": {
      "post": {
        "operationId": "copyTemplate",
        "summary": "Copy and customize a template",
        "description": "Copies an existing template and allows content customization using placeholder fields.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the source template",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates/{template_id}/delete": {
      "post": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "description": "Deletes the specified template.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the template",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deletion queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates/{template_id}/collaborators": {
      "get": {
        "operationId": "listCollaborators",
        "summary": "List template collaborators",
        "description": "Returns the list of collaborators for a template.",
        "tags": [
          "TemplateCollaborators"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the template",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collaborators",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollaboratorsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCollaborator",
        "summary": "Add a collaborator to a template",
        "description": "Adds a collaborator who can edit the template. An email invitation is sent when the email is provided.",
        "tags": [
          "TemplateCollaborators"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the template",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCollaboratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collaborator added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCollaboratorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates/{template_id}/collaborators/{template_collaborator_id}/remove": {
      "post": {
        "operationId": "removeCollaborator",
        "summary": "Remove a collaborator from a template",
        "description": "Removes the collaborator's permission to edit the template.",
        "tags": [
          "TemplateCollaborators"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_collaborator_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the collaborator",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collaborator removal queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API secret token passed as a query parameter. Also supports HTTP Basic Auth with the token as the username."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "QueuedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "queued"
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID for the signer"
          },
          "name": {
            "type": "string",
            "description": "Name of the signer"
          },
          "email": {
            "type": "string",
            "description": "Email address of the signer"
          },
          "mobile": {
            "type": "string",
            "description": "Mobile number of the signer"
          },
          "company_name": {
            "type": "string",
            "description": "Company name of the signer"
          },
          "sign_page_url": {
            "type": "string",
            "description": "Unique URL for the signer's signing page"
          },
          "signer_field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Values provided by the signer for signer fields"
          }
        }
      },
      "SignerInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the signer"
          },
          "email": {
            "type": "string",
            "description": "Email address of the signer"
          },
          "mobile": {
            "type": "string",
            "description": "Mobile number of the signer. Non-US numbers must start with country code."
          },
          "company_name": {
            "type": "string",
            "description": "Signer's company name"
          },
          "signing_order": {
            "type": "string",
            "description": "Sequence in which signers receive the contract"
          },
          "auto_sign": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Automatically add signature when set to yes"
          },
          "signature_request_delivery_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            },
            "description": "How the signature request will be delivered"
          },
          "signed_document_delivery_method": {
            "type": "string",
            "enum": [
              "email",
              "sms",
              ""
            ],
            "description": "Preferred delivery method for the signed document"
          },
          "multi_factor_authentications": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms_verification_code",
                "email_verification_code",
                "photo_id"
              ]
            },
            "description": "Multi-factor authentication methods for the signer"
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect signer after signing"
          }
        },
        "required": [
          "name"
        ]
      },
      "PlaceholderField": {
        "type": "object",
        "properties": {
          "placeholder_key": {
            "type": "string",
            "description": "Key corresponding to the placeholder text in the template"
          },
          "value": {
            "type": "string",
            "description": "Text to replace the placeholder field"
          },
          "document_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentElement"
            },
            "description": "Custom elements to insert into placeholders"
          }
        }
      },
      "SignerField": {
        "type": "object",
        "properties": {
          "signer_field_id": {
            "type": "string",
            "description": "The Signer field ID from the template editor"
          },
          "default_value": {
            "type": "string",
            "description": "Default value for the input field"
          }
        }
      },
      "EmailSettings": {
        "type": "object",
        "properties": {
          "signature_request_subject": {
            "type": "string",
            "description": "Subject line for the signature request email"
          },
          "signature_request_text": {
            "type": "string",
            "description": "Body text for the signature request email. Use __FULL_NAME__ for dynamic name insertion."
          },
          "final_contract_subject": {
            "type": "string",
            "description": "Subject line for the final signed contract email"
          },
          "final_contract_text": {
            "type": "string",
            "description": "Body text for the final signed contract email"
          },
          "cc_email_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email addresses to CC when sending the signed PDF"
          },
          "reply_to": {
            "type": "string",
            "description": "Custom reply-to address for emails"
          }
        }
      },
      "CustomBranding": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string",
            "description": "Custom company name displayed as the sender"
          },
          "logo_url": {
            "type": "string",
            "description": "Custom logo URL (recommended PNG, 400px)"
          }
        }
      },
      "DocumentElement": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of document element (e.g., text_header_one, text_normal, image)"
          },
          "text": {
            "type": "string",
            "description": "Text content for the element"
          },
          "image_base64": {
            "type": "string",
            "description": "Base64-encoded image data"
          }
        },
        "required": [
          "type"
        ]
      },
      "CreateContractRequest": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string",
            "description": "ID of the template to use"
          },
          "title": {
            "type": "string",
            "description": "Unique title for the contract"
          },
          "locale": {
            "type": "string",
            "description": "Language setting for the signer page and emails"
          },
          "metadata": {
            "type": "string",
            "description": "Custom data attached to the contract"
          },
          "expires_in_hours": {
            "type": "string",
            "description": "Expiry time in hours for the contract"
          },
          "custom_webhook_url": {
            "type": "string",
            "description": "Custom URL for webhook notifications"
          },
          "assigned_user_email": {
            "type": "string",
            "description": "Email of the user assigned to manage the contract"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels for grouping contracts"
          },
          "test": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Mark contract as demo when yes"
          },
          "save_as_draft": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Save as draft instead of sending when yes"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerInput"
            },
            "description": "List of signers for the contract"
          },
          "placeholder_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceholderField"
            },
            "description": "Placeholder fields to customize the template"
          },
          "signer_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerField"
            },
            "description": "Pre-filled signer input fields"
          },
          "emails": {
            "$ref": "#/components/schemas/EmailSettings"
          },
          "custom_branding": {
            "$ref": "#/components/schemas/CustomBranding"
          }
        },
        "required": [
          "template_id",
          "signers"
        ]
      },
      "ContractData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID for the contract"
          },
          "status": {
            "type": "string",
            "description": "Status of the contract",
            "enum": [
              "sent",
              "signed",
              "withdrawn"
            ]
          },
          "title": {
            "type": "string",
            "description": "Title of the contract"
          },
          "metadata": {
            "type": "string",
            "description": "Custom metadata"
          },
          "source": {
            "type": "string",
            "description": "Origin of the contract",
            "enum": [
              "api",
              "ui",
              "zapier"
            ]
          },
          "test": {
            "type": "string",
            "description": "Whether the contract is a test",
            "enum": [
              "yes",
              "no"
            ]
          },
          "contract_pdf_url": {
            "type": "string",
            "description": "URL to download the signed PDF (expires in 3 days)"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels assigned to the contract"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          }
        }
      },
      "CreateContractResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "queued"
          },
          "data": {
            "type": "object",
            "properties": {
              "contract": {
                "$ref": "#/components/schemas/ContractData"
              }
            }
          }
        }
      },
      "GetContractResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "contract": {
                "$ref": "#/components/schemas/ContractData"
              }
            }
          }
        }
      },
      "SignerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the signer"
          },
          "email": {
            "type": "string",
            "description": "Email address of the signer"
          },
          "mobile": {
            "type": "string",
            "description": "Mobile number of the signer"
          },
          "company_name": {
            "type": "string",
            "description": "Company name for the signer"
          },
          "signing_order": {
            "type": "string",
            "description": "Signing sequence order"
          },
          "auto_sign": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Auto-sign when yes"
          },
          "signature_request_delivery_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          "signed_document_delivery_method": {
            "type": "string",
            "enum": [
              "email",
              "sms",
              ""
            ]
          },
          "multi_factor_authentications": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms_verification_code",
                "email_verification_code",
                "photo_id"
              ]
            }
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect signer after signing"
          }
        }
      },
      "UpdateSignerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the signer"
          },
          "email": {
            "type": "string",
            "description": "Email address of the signer"
          },
          "mobile": {
            "type": "string",
            "description": "Mobile number of the signer"
          },
          "company_name": {
            "type": "string",
            "description": "Company name for the signer"
          },
          "signature_request_delivery_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          "signed_document_delivery_method": {
            "type": "string",
            "enum": [
              "email",
              "sms",
              ""
            ]
          },
          "multi_factor_authentications": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms_verification_code",
                "email_verification_code",
                "photo_id"
              ]
            }
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect signer after signing"
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the new template"
          },
          "document_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentElement"
            },
            "description": "Content of the template"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional labels for the template"
          }
        },
        "required": [
          "title",
          "document_elements"
        ]
      },
      "UpdateTemplateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the template"
          },
          "document_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentElement"
            },
            "description": "Content of the template"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional labels for the template"
          }
        }
      },
      "CopyTemplateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title for the new template copy"
          },
          "placeholder_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceholderField"
            },
            "description": "Placeholder fields to customize the copied template"
          },
          "target_api_key": {
            "type": "string",
            "description": "API secret token of another account to assign the template to"
          }
        },
        "required": [
          "title"
        ]
      },
      "CreateTemplateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "template_id": {
                  "type": "string",
                  "description": "ID of the created template"
                }
              }
            }
          }
        }
      },
      "GetTemplateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "template_id": {
                "type": "string",
                "description": "Unique ID of the template"
              },
              "title": {
                "type": "string",
                "description": "Title of the template"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Creation date and time"
              },
              "placeholder_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of placeholder field keys"
              },
              "signer_field_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of signer field IDs"
              },
              "document_elements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocumentElement"
                },
                "description": "Content elements of the template"
              }
            }
          }
        }
      },
      "ListTemplatesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "template_id": {
                  "type": "string",
                  "description": "Unique ID of the template"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the template"
                }
              }
            }
          }
        }
      },
      "AddCollaboratorRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the collaborator"
          },
          "email": {
            "type": "string",
            "description": "Email of the collaborator. Invitation sent when provided."
          }
        }
      },
      "Collaborator": {
        "type": "object",
        "properties": {
          "template_collaborator_id": {
            "type": "string",
            "description": "Unique ID of the collaborator"
          },
          "template_id": {
            "type": "string",
            "description": "ID of the template"
          },
          "name": {
            "type": "string",
            "description": "Name of the collaborator"
          },
          "email": {
            "type": "string",
            "description": "Email of the collaborator"
          },
          "template_collaborator_editor_url": {
            "type": "string",
            "description": "URL to access the template editor"
          }
        }
      },
      "AddCollaboratorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collaborator"
            }
          }
        }
      },
      "ListCollaboratorsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collaborator"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contracts",
      "description": "Manage contracts including creation, querying, withdrawal, and PDF preview"
    },
    {
      "name": "ContractSigners",
      "description": "Manage signers on a contract"
    },
    {
      "name": "Templates",
      "description": "Manage contract templates"
    },
    {
      "name": "TemplateCollaborators",
      "description": "Manage collaborators on templates"
    }
  ]
}