{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Test",
      "url": "https://portaltest.automatedsecurityis.com/gpstracking"
    },
    {
      "url": "https://portal.automatedsecurityis.com/gpstracking",
      "description": "Prod"
    }
  ],
  "info": {
    "description": "Creates or updates a planned shipment",
    "version": "1.0.0",
    "title": "Planned Shipment API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/asis-9cb/ASISPortalPlannedShipment/1.0.0/swagger.json",
    "contact": {}
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/plannedshipment": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Shipments"
        ],
        "summary": "adds or updates a planned shipment to the tracking queue",
        "responses": {
          "200": {
            "description": "Planned shipment added or updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "WasSuccessful": {
                      "type": "boolean"
                    },
                    "ReturnValue": {
                      "type": "object"
                    },
                    "OperationStatus": {
                      "type": "integer"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "ExtraData": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "WasSuccessful": true,
                      "ReturnValue": null,
                      "OperationStatus": 1,
                      "Messages": [],
                      "ExtraData": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          },
          "403": {
            "description": "User Forbidden"
          },
          "500": {
            "description": "Unhandled Server exception"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "headers": {
                    "type": "object",
                    "properties": {
                      "sender": {
                        "type": "string"
                      },
                      "receiver": {
                        "type": "string"
                      },
                      "documentType": {
                        "type": "string"
                      },
                      "uniqueId": {
                        "type": "string"
                      },
                      "referenceId": {
                        "type": "string"
                      },
                      "partnerType": {
                        "type": "string"
                      },
                      "metaBusinessOrg": {
                        "type": "string"
                      },
                      "environment": {
                        "type": "string"
                      },
                      "version": {
                        "type": "string"
                      }
                    }
                  },
                  "plannedShipment": {
                    "type": "object",
                    "properties": {
                      "shipmentId": {
                        "type": "string"
                      },
                      "deviceIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "scacCode": {
                        "type": "string"
                      },
                      "carrier": {
                        "type": "string"
                      },
                      "startDate": {
                        "type": "string"
                      },
                      "endDate": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "freightTerm": {
                        "type": "string"
                      },
                      "mode": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "totalWeight": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "uomCode": {
                            "type": "string"
                          }
                        }
                      },
                      "totalVolume": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "uomCode": {
                            "type": "string"
                          }
                        }
                      },
                      "totalNumberOfStops": {
                        "type": "integer"
                      },
                      "locations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "line1": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "provinceCode": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "countryCode": {
                                  "type": "string"
                                },
                                "line2": {
                                  "type": "string"
                                }
                              }
                            },
                            "contact": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "stops": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "estimatedPickupDate": {
                              "type": "string"
                            },
                            "earlyPickupDate": {
                              "type": "string"
                            },
                            "latePickupDate": {
                              "type": "string"
                            },
                            "locationId": {
                              "type": "string"
                            },
                            "shipUnitId": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "estimatedDeliveryDate": {
                              "type": "string"
                            },
                            "earlyDeliveryDate": {
                              "type": "string"
                            },
                            "lateDeliveryDate": {
                              "type": "string"
                            },
                            "StopAttributeString1": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "sEquipments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "equipmentDetails": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "truckDetails": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "trailerDetails": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "companyName": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "companyAddress": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "equipmentContact": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "driverContact": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "orders": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "orderShipFromLocationId": {
                                    "type": "string"
                                  },
                                  "orderFinalShipToLocationId": {
                                    "type": "string"
                                  },
                                  "earliestAcceptableDeliveryDate": {
                                    "type": "string"
                                  },
                                  "latestAcceptableDeliveryDate": {
                                    "type": "string"
                                  },
                                  "orderRefNums": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "shipUnits": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "transportHandlingUnit": {
                                          "type": "string"
                                        },
                                        "weight": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "number"
                                            },
                                            "uomCode": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "volume": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "number"
                                            },
                                            "uomCode": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "height": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "number"
                                            },
                                            "uomCode": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "width": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "number"
                                            },
                                            "uomCode": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "length": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "number"
                                            },
                                            "uomCode": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "shipUnitCount": {
                                          "type": "integer"
                                        },
                                        "packagedItems": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "lineNumber": {
                                                "type": "string"
                                              },
                                              "itemQuantity": {
                                                "type": "string"
                                              },
                                              "packagedItemRefNums": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "type": "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "involvedParties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "contact": {
                                    "type": "object",
                                    "properties": {
                                      "email": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "locationId": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "shipmentRefNums": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "shipmentRemarks": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "shipmentAttributeDate1": {
                              "type": "string"
                            },
                            "shipmentAttributeDate2": {
                              "type": "string"
                            },
                            "shipmentAttributeDate3": {
                              "type": "string"
                            },
                            "shipmentAttributeDate4": {
                              "type": "string"
                            },
                            "shipmentAttributeString1": {
                              "type": "string"
                            },
                            "shipmentAttributeString2": {
                              "type": "string"
                            },
                            "shipmentAttributeString3": {
                              "type": "string"
                            },
                            "shipmentAttributeString4": {
                              "type": "string"
                            },
                            "shipmentAttributeNumber1": {
                              "type": "string"
                            },
                            "shipmentAttributeNumber2": {
                              "type": "string"
                            },
                            "shipmentAttributeNumber3": {
                              "type": "string"
                            },
                            "shipmentAttributeNumber4": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "adds or updates a planned shipment to the tracking queue",
        "operationId": "post-plannedshipment"
      }
    }
  },
  "tags": [
    {
      "name": "Shipments"
    }
  ]
}
