{
  "openapi": "3.0.3",
  "info": {
    "title": "Flightcontrol API",
    "description": "The Flightcontrol API enables programmatic control over deployments, projects, environments, services, environment variables, CloudFront cache invalidation, scheduler jobs, AWS accounts, and custom domains.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://flightcontrol.dev/docs/reference/http-api"
  },
  "servers": [
    {
      "url": "https://api.flightcontrol.dev",
      "description": "Flightcontrol API"
    }
  ],
  "paths": {
    "/v1/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns a list of all projects.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The created project ID"
                    },
                    "organizationId": {
                      "type": "string",
                      "description": "The organization ID the project belongs to"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/projects/{projectId}/environments": {
      "post": {
        "operationId": "createEnvironment",
        "summary": "Create an environment",
        "description": "Creates a new environment within a project.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Environment created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/projects/{projectId}/environments/{environmentId}": {
      "post": {
        "operationId": "editEnvironment",
        "summary": "Edit an environment",
        "description": "Edits an existing environment within a project.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project ID"
          },
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The environment ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/projects/{projectId}/environments/{environmentId}/preview": {
      "post": {
        "operationId": "editPreviewEnvironment",
        "summary": "Edit preview environment settings",
        "description": "Edit the preview environment configuration for a project environment.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview environment updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/deploy-hook/{envId}/{secret}": {
      "get": {
        "operationId": "triggerDeployHook",
        "summary": "Trigger deployment via deploy hook",
        "description": "Triggers a new deployment for the specified environment using a deploy hook URL. The secret is generated when creating the deploy hook in the Flightcontrol dashboard.",
        "tags": [
          "Deployments"
        ],
        "security": [],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier for the environment"
          },
          {
            "name": "secret",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication secret generated when creating the deploy hook"
          },
          {
            "name": "commit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Git commit SHA to deploy a specific commit"
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Branch to deploy from. Required if specifying a commit."
          },
          {
            "name": "force",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Force deployment of all services regardless of watchPaths settings"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "true"
                    },
                    "deploymentId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid secret"
          }
        }
      }
    },
    "/v1/deployments": {
      "post": {
        "operationId": "createDeployment",
        "summary": "Create a deployment",
        "description": "Triggers a new deployment.",
        "tags": [
          "Deployments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deployment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/deployments/{deploymentId}": {
      "get": {
        "operationId": "getDeployment",
        "summary": "Get deployment status",
        "description": "Retrieve the status and details of a specific deployment.",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services": {
      "get": {
        "operationId": "getServices",
        "summary": "List services",
        "description": "Returns a paginated list of services with optional filtering.",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items to skip for pagination"
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items to return"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "web",
                "worker",
                "static",
                "scheduled"
              ]
            },
            "description": "Filter by service type"
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by project ID"
          },
          {
            "name": "isPreview",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter for preview services only"
          }
        ],
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}": {
      "get": {
        "operationId": "getService",
        "summary": "Get a service",
        "description": "Retrieve details of a specific service.",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/scaling": {
      "get": {
        "operationId": "getScaling",
        "summary": "Get scaling info",
        "description": "Get the current scaling configuration for a service.",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scaling information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScalingInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateScaling",
        "summary": "Update scaling",
        "description": "Update the scaling configuration for a service.",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScalingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scaling updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/swap-blue-green": {
      "post": {
        "operationId": "swapBlueGreen",
        "summary": "Swap blue-green environment",
        "description": "Swap the active and inactive environments for a blue-green deployment service.",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blue-green swap initiated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/env-variables": {
      "post": {
        "operationId": "createEnvironmentEnvVariables",
        "summary": "Create environment variables for an environment",
        "description": "Create or update environment variables at the environment level.",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvVariablesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment variables created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVariablesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/environments/{environmentId}/env-variables/status": {
      "get": {
        "operationId": "getEnvironmentEnvVariablesStatus",
        "summary": "Get environment variables deployment status",
        "description": "Check the deployment status of environment variables.",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The run ID returned from the env variables creation"
          }
        ],
        "responses": {
          "200": {
            "description": "Status information"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/env-variables": {
      "post": {
        "operationId": "createServiceEnvVariables",
        "summary": "Create environment variables for a service",
        "description": "Create or update environment variables at the service level.",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvVariablesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service environment variables created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVariablesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/env-variables/status": {
      "get": {
        "operationId": "getServiceEnvVariablesStatus",
        "summary": "Get service environment variables deployment status",
        "description": "Check the deployment status of service environment variables.",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status information"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/cloudfront/invalidation": {
      "post": {
        "operationId": "createCloudfrontInvalidation",
        "summary": "Create CloudFront cache invalidation",
        "description": "Invalidate the cache for certain content paths in AWS CloudFront.",
        "tags": [
          "CloudFront"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudfrontInvalidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invalidation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudfrontInvalidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cloudfront/invalidation/{invalidationId}": {
      "get": {
        "operationId": "getCloudfrontInvalidationStatus",
        "summary": "Get CloudFront invalidation status",
        "description": "Get the status of a CloudFront cache invalidation request.",
        "tags": [
          "CloudFront"
        ],
        "parameters": [
          {
            "name": "invalidationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invalidation status"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/job/{jobGivenId}/execution": {
      "post": {
        "operationId": "createJobExecution",
        "summary": "Create job execution",
        "description": "Create a job execution in a Flightcontrol managed scheduler service.",
        "tags": [
          "Scheduler"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobGivenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The given ID of the job"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job execution created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobExecutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/job-executions/{executionId}": {
      "get": {
        "operationId": "getJobExecution",
        "summary": "Get job execution",
        "description": "Get the status of a specific job execution.",
        "tags": [
          "Scheduler"
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job execution details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/aws-accounts": {
      "post": {
        "operationId": "createAwsAccount",
        "summary": "Create AWS account connection",
        "description": "Create a new AWS account connection.",
        "tags": [
          "AWS Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAwsAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AWS account connection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/aws-accounts/{awsAccountId}": {
      "get": {
        "operationId": "getAwsAccount",
        "summary": "Get AWS account",
        "description": "Retrieve details of a specific AWS account connection.",
        "tags": [
          "AWS Accounts"
        ],
        "parameters": [
          {
            "name": "awsAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AWS account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/services/{serviceId}/domain-certificate-groups": {
      "get": {
        "operationId": "getDomainCertificateGroups",
        "summary": "Get all domain certificate groups for a service",
        "description": "Returns all domain certificate groups associated with a service.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain certificate groups"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDomainCertificateGroup",
        "summary": "Create a domain certificate group",
        "description": "Create a new domain certificate group for a service.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain certificate group created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/domain-certificate-groups/{domainGroupId}": {
      "get": {
        "operationId": "getDomainCertificateGroup",
        "summary": "Get a domain certificate group",
        "description": "Retrieve details of a specific domain certificate group.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain certificate group details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDomainCertificateGroup",
        "summary": "Delete a domain certificate group",
        "description": "Delete an entire domain certificate group.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain certificate group deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/domain-certificate-groups/{domainGroupId}/domains": {
      "get": {
        "operationId": "getDomainsFromGroup",
        "summary": "Get domains from a group",
        "description": "Returns all domains within a specific domain certificate group.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addDomainsToGroup",
        "summary": "Add domains to a group",
        "description": "Add one or more domains to an existing domain certificate group.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domains added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/domains/{domainId}": {
      "get": {
        "operationId": "getDomain",
        "summary": "Get a single domain",
        "description": "Retrieve details of a specific domain.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/domain-certificate-groups/{domainGroupId}/domains/{managedDomainId}": {
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete a single domain",
        "description": "Delete a single domain from a domain certificate group.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "managedDomainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/domain-certificate-groups/{domainGroupId}/retry-attachment": {
      "post": {
        "operationId": "retryDomainGroupAttachment",
        "summary": "Retry domain group attachment",
        "description": "Retry attaching a domain certificate group that previously failed.",
        "tags": [
          "Custom Domains"
        ],
        "parameters": [
          {
            "name": "domainGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retry initiated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cl2kx7acm00003f6gobvidq2i"
          },
          "name": {
            "type": "string",
            "example": "My Project"
          },
          "repoUrl": {
            "type": "string",
            "example": "https://github.com/team/project"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name",
          "repoUrl",
          "awsAccountId",
          "codeSource",
          "configType"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The project display name"
          },
          "repoUrl": {
            "type": "string",
            "description": "Git repository URL",
            "example": "https://github.com/team/project"
          },
          "awsAccountId": {
            "type": "string",
            "description": "Flightcontrol AWS account connection ID"
          },
          "codeSource": {
            "type": "object",
            "description": "Git provider configuration",
            "properties": {
              "provider": {
                "type": "string",
                "enum": [
                  "github",
                  "gitlab",
                  "gitlab_self_hosted"
                ],
                "description": "The git provider to use"
              }
            },
            "required": [
              "provider"
            ]
          },
          "configType": {
            "type": "string",
            "enum": [
              "gui",
              "iac"
            ],
            "description": "Configuration type: 'gui' for dashboard-managed or 'iac' for infrastructure-as-code via flightcontrol.json"
          },
          "config": {
            "type": "object",
            "description": "Project configuration object. Required when configType is 'gui'. Follows flightcontrol.json schema."
          },
          "configFilePath": {
            "type": "string",
            "description": "Path to the flightcontrol.json config file. Required when configType is 'iac'."
          },
          "configFileBranch": {
            "type": "string",
            "description": "Git branch containing the config file. Required when configType is 'iac'."
          }
        }
      },
      "CreateEnvironmentRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The environment name"
          }
        }
      },
      "EditEnvironmentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The environment name"
          }
        }
      },
      "CreateDeploymentRequest": {
        "type": "object",
        "required": [
          "environmentId"
        ],
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "The environment to deploy to"
          },
          "imageTag": {
            "type": "string",
            "description": "Optional image tag override"
          },
          "imageSha": {
            "type": "string",
            "description": "Optional image SHA override"
          },
          "repositoryUrl": {
            "type": "string",
            "description": "Optional repository URL override"
          }
        }
      },
      "Deployment": {
        "type": "object",
        "properties": {
          "deploymentId": {
            "type": "string",
            "example": "clcpcxekt000lc9ojqtgtc26y"
          },
          "projectId": {
            "type": "string",
            "example": "cluagwibz000ka6p9uzas7p26"
          },
          "environmentId": {
            "type": "string"
          },
          "environmentGivenId": {
            "type": "string",
            "example": "production"
          },
          "isPreviewEnvironment": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "example": "2023-01-09 22:10:02.381"
          },
          "repoUrl": {
            "type": "string"
          },
          "gitCommit": {
            "type": "string"
          },
          "gitBranch": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "INPROGRESS",
              "SUCCESS",
              "ERROR",
              "CANCELLED"
            ]
          },
          "serviceDeployments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDeployment"
            }
          }
        }
      },
      "ServiceDeployment": {
        "type": "object",
        "properties": {
          "service": {
            "$ref": "#/components/schemas/ServiceRef"
          },
          "serviceDeploymentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "BUILDING",
              "DEPLOYING",
              "SUCCESS",
              "ERROR",
              "CANCELLED"
            ]
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ServiceRef": {
        "type": "object",
        "properties": {
          "serviceId": {
            "type": "string"
          },
          "serviceGivenId": {
            "type": "string"
          },
          "serviceName": {
            "type": "string"
          },
          "serviceDomain": {
            "type": "string"
          },
          "loadBalancerDomain": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cm2jl6r8p0000k08o5shg2z5a"
          },
          "name": {
            "type": "string",
            "example": "Web App"
          },
          "givenId": {
            "type": "string",
            "example": "web-app"
          },
          "type": {
            "type": "string",
            "example": "web"
          },
          "environmentId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "runtimeLogs": {
            "$ref": "#/components/schemas/RuntimeLogs"
          }
        }
      },
      "ServicesList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "total": {
            "type": "integer"
          },
          "skip": {
            "type": "integer"
          },
          "take": {
            "type": "integer"
          }
        }
      },
      "RuntimeLogs": {
        "type": "object",
        "properties": {
          "runtimeLogsUrl": {
            "type": "string"
          },
          "logGroupName": {
            "type": "string"
          }
        }
      },
      "ScalingInfo": {
        "type": "object",
        "properties": {
          "minInstances": {
            "type": "integer"
          },
          "maxInstances": {
            "type": "integer"
          },
          "targetCpuUtilization": {
            "type": "integer"
          }
        }
      },
      "UpdateScalingRequest": {
        "type": "object",
        "properties": {
          "minInstances": {
            "type": "integer"
          },
          "maxInstances": {
            "type": "integer"
          },
          "targetCpuUtilization": {
            "type": "integer"
          }
        }
      },
      "EnvVariablesRequest": {
        "type": "object",
        "required": [
          "envVariables"
        ],
        "properties": {
          "envVariables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of environment variables"
          }
        }
      },
      "EnvVariablesResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "description": "The run ID to check deployment status"
          }
        }
      },
      "CloudfrontInvalidationRequest": {
        "type": "object",
        "required": [
          "paths"
        ],
        "properties": {
          "paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Content paths to invalidate"
          }
        }
      },
      "CloudfrontInvalidationResponse": {
        "type": "object",
        "properties": {
          "invalidationId": {
            "type": "string"
          }
        }
      },
      "CreateJobExecutionRequest": {
        "type": "object",
        "properties": {
          "startCommand": {
            "description": "The start command override. Can be a string or array of strings.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "JobExecutionResponse": {
        "type": "object",
        "properties": {
          "jobExecutionId": {
            "type": "string",
            "example": "cl2kx7acm00003f6gobvidq2i"
          }
        }
      },
      "CreateAwsAccountRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of your AWS account connection"
          }
        }
      },
      "AwsAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cmadqj0k400000cjs6wwu2n5y"
          },
          "name": {
            "type": "string",
            "example": "My AWS Account"
          },
          "status": {
            "type": "string",
            "enum": [
              "AWAITING_CONNECTION",
              "CONNECTED",
              "ERROR"
            ]
          },
          "cloudFormation": {
            "$ref": "#/components/schemas/CloudFormationInfo"
          }
        }
      },
      "CloudFormationInfo": {
        "type": "object",
        "properties": {
          "consoleUrl": {
            "type": "string"
          },
          "template": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "stackName": {
                "type": "string"
              },
              "region": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateDomainGroupRequest": {
        "type": "object",
        "required": [
          "domains"
        ],
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of domains for the certificate group"
          }
        }
      },
      "AddDomainsRequest": {
        "type": "object",
        "required": [
          "domains"
        ],
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of domains to add"
          }
        }
      },
      "AddDomainsResponse": {
        "type": "object",
        "properties": {
          "createdDomains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainRef"
            }
          }
        }
      },
      "DomainRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your Flightcontrol API key. Include as 'Authorization: Bearer [API key]' header."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}