{
  "openapi": "3.0.3",
  "info": {
    "title": "SANS ISC DShield API",
    "version": "1.0.0",
    "description": "SANS Internet Storm Center DShield REST API providing IP intelligence, port analysis, threat data, domain information, honeypot data, and Microsoft patch information. Output available in XML, JSON, text, PHP, CSV, and TAB formats.",
    "x-jentic-source-url": "https://isc.sans.edu/api/"
  },
  "servers": [
    {
      "url": "https://isc.sans.edu/api",
      "description": "DShield API"
    }
  ],
  "paths": {
    "/ip/{ip}": {
      "get": {
        "operationId": "getIpSummary",
        "summary": "Get IP address summary",
        "description": "Retrieve summary threat data for a specific IP address.",
        "tags": [
          "IP Intelligence"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IP address to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "IP summary data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP"
          },
          "429": {
            "description": "Rate limited - wait 5 minutes before retrying"
          }
        }
      }
    },
    "/ipdetails/{ip}": {
      "get": {
        "operationId": "getIpDetails",
        "summary": "Get detailed IP reports",
        "description": "Retrieve detailed reports by date/time for a specific IP address.",
        "tags": [
          "IP Intelligence"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed IP reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/asnum/{asnum}/{limit}": {
      "get": {
        "operationId": "getAsnSummary",
        "summary": "Get AS number summary",
        "description": "Retrieve summary for an autonomous system number with optional record limit.",
        "tags": [
          "IP Intelligence"
        ],
        "parameters": [
          {
            "name": "asnum",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            },
            "description": "Max records to return"
          }
        ],
        "responses": {
          "200": {
            "description": "ASN summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/port/{port}": {
      "get": {
        "operationId": "getPortSummary",
        "summary": "Get port summary",
        "description": "Retrieve summary information for a specific port number.",
        "tags": [
          "Port Analysis"
        ],
        "parameters": [
          {
            "name": "port",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Port summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/portdate/{port}/{date}": {
      "get": {
        "operationId": "getPortByDate",
        "summary": "Get port data at specific date",
        "tags": [
          "Port Analysis"
        ],
        "parameters": [
          {
            "name": "port",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Port data for date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/porthistory/{port}/{start}/{end}": {
      "get": {
        "operationId": "getPortHistory",
        "summary": "Get port history over date range",
        "tags": [
          "Port Analysis"
        ],
        "parameters": [
          {
            "name": "port",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Port history data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/topports/{sortby}/{limit}/{date}": {
      "get": {
        "operationId": "getTopPorts",
        "summary": "Get top ports by date",
        "tags": [
          "Port Analysis"
        ],
        "parameters": [
          {
            "name": "sortby",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "records",
                "targets",
                "sources"
              ]
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top ports list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/topips/{sortby}/{limit}/{date}": {
      "get": {
        "operationId": "getTopIps",
        "summary": "Get top source IPs by date",
        "tags": [
          "IP Intelligence"
        ],
        "parameters": [
          {
            "name": "sortby",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "records",
                "attacks"
              ]
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top IPs list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/sources/{sortby}/{limit}/{date}": {
      "get": {
        "operationId": "getSources",
        "summary": "Get source IPs from last 30 days",
        "tags": [
          "IP Intelligence"
        ],
        "parameters": [
          {
            "name": "sortby",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ip",
                "count",
                "attacks",
                "firstseen",
                "lastseen"
              ]
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 10000
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source IPs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/threatfeeds": {
      "get": {
        "operationId": "listThreatFeeds",
        "summary": "List available threat feeds",
        "tags": [
          "Threat Data"
        ],
        "responses": {
          "200": {
            "description": "List of threat feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/threatlist/{feed}/{start}/{end}": {
      "get": {
        "operationId": "getThreatList",
        "summary": "Get IPs for a specific threat feed",
        "description": "Returns IPs for a specific feed, default 7-day window.",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat feed IPs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/threatlisthosts/{feed}": {
      "get": {
        "operationId": "getThreatListHosts",
        "summary": "Get hostnames for a threat feed",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat feed hostnames",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/threatcategory/{category}/{start}/{end}": {
      "get": {
        "operationId": "getThreatCategory",
        "summary": "Get IPs in a threat category",
        "description": "Returns IPs in a threat category, default 7-day window.",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IPs in category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/threatfeeds/perday/{start}/{end}": {
      "get": {
        "operationId": "getThreatFeedsPerDay",
        "summary": "Get total threat IPs per day",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily threat IP totals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/threatfeeds/feedperday/{start}/{end}/{feed}": {
      "get": {
        "operationId": "getThreatFeedPerDay",
        "summary": "Get threat feed breakdown by day",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "feed",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feed breakdown by day",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/recentdomains/{date}": {
      "get": {
        "operationId": "getRecentDomains",
        "summary": "Get domains first seen on date",
        "description": "Returns domains first seen on a specific date. 30-day limit.",
        "tags": [
          "Domain Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recently seen domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/recentdomainsbytld/{date}/{tld}": {
      "get": {
        "operationId": "getRecentDomainsByTld",
        "summary": "Get recent domains by TLD",
        "tags": [
          "Domain Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "tld",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TLD without leading dot"
          }
        ],
        "responses": {
          "200": {
            "description": "Domains by TLD",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/domainage/{domain}": {
      "get": {
        "operationId": "getDomainAge",
        "summary": "Get domain first-seen date",
        "tags": [
          "Domain Data"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain age info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/webhoneypotsummary/{date}": {
      "get": {
        "operationId": "getWebHoneypotSummary",
        "summary": "Get daily web honeypot summary",
        "tags": [
          "Honeypot Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Honeypot summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/webhoneypotreportsbyurl/{urlstring}/{date}": {
      "get": {
        "operationId": "getHoneypotReportsByUrl",
        "summary": "Get honeypot reports by URL string",
        "tags": [
          "Honeypot Data"
        ],
        "parameters": [
          {
            "name": "urlstring",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded string"
          },
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reports matching URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/webhoneypotreportsbyua/{useragent}/{date}": {
      "get": {
        "operationId": "getHoneypotReportsByUserAgent",
        "summary": "Get honeypot reports by user-agent",
        "tags": [
          "Honeypot Data"
        ],
        "parameters": [
          {
            "name": "useragent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded user-agent string"
          },
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reports matching user-agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/backscatter/{date}/{rows}": {
      "get": {
        "operationId": "getBackscatter",
        "summary": "Get SYN ACK backscatter data",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "rows",
            "in": "path",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backscatter data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/dailysummary/{start}/{end}": {
      "get": {
        "operationId": "getDailySummary",
        "summary": "Get daily targets, attacks, and sources totals",
        "tags": [
          "Historical Data"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Max 30 days from start"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily summary data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/cloudips": {
      "get": {
        "operationId": "getCloudIps",
        "summary": "Get current cloud provider subnets",
        "tags": [
          "IP Intelligence"
        ],
        "responses": {
          "200": {
            "description": "Cloud provider IP list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/cloudcidrs": {
      "get": {
        "operationId": "getCloudCidrs",
        "summary": "Get cloud provider subnets in CIDR notation",
        "tags": [
          "IP Intelligence"
        ],
        "responses": {
          "200": {
            "description": "Cloud CIDR list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/infocon": {
      "get": {
        "operationId": "getInfocon",
        "summary": "Get current threat level",
        "description": "Returns current threat level: green, yellow, orange, or red.",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Current infocon level",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "green",
                        "yellow",
                        "orange",
                        "red"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/handler": {
      "get": {
        "operationId": "getHandler",
        "summary": "Get handler on duty",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Current handler name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/intelfeed": {
      "get": {
        "operationId": "getIntelFeed",
        "summary": "Get daily summary of notable IPs",
        "tags": [
          "Threat Data"
        ],
        "responses": {
          "200": {
            "description": "Intel feed data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/glossary": {
      "get": {
        "operationId": "getGlossary",
        "summary": "Get glossary terms",
        "tags": [
          "Reference"
        ],
        "responses": {
          "200": {
            "description": "Glossary terms and definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/glossary/{term}": {
      "get": {
        "operationId": "searchGlossary",
        "summary": "Search glossary by term",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Whole or partial term to search"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching glossary entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/survivaltime/{date}": {
      "get": {
        "operationId": "getSurvivalTime",
        "summary": "Get average time between IP reports",
        "tags": [
          "Historical Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survival time in seconds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/getmspatch/{patchid}": {
      "get": {
        "operationId": "getMsPatch",
        "summary": "Get Microsoft patch details",
        "tags": [
          "Microsoft Patches"
        ],
        "parameters": [
          {
            "name": "patchid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Patch ID (e.g., MS16-023)"
          }
        ],
        "responses": {
          "200": {
            "description": "Patch details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/getmspatchcves/{patchid}": {
      "get": {
        "operationId": "getMsPatchCves",
        "summary": "Get CVEs for a Microsoft patch",
        "tags": [
          "Microsoft Patches"
        ],
        "parameters": [
          {
            "name": "patchid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CVE list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/getmspatchday/{date}": {
      "get": {
        "operationId": "getMsPatchDay",
        "summary": "Get Microsoft patches by date",
        "tags": [
          "Microsoft Patches"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patches for date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/getmspatchreplaces/{patchid}": {
      "get": {
        "operationId": "getMsPatchReplaces",
        "summary": "Get patches replaced by a given patch",
        "tags": [
          "Microsoft Patches"
        ],
        "parameters": [
          {
            "name": "patchid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replaced patches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/daily404summary/{start}/{end}": {
      "get": {
        "operationId": "getDaily404Summary",
        "summary": "Get daily 404 summary",
        "description": "Returns summary of 404 errors collected by web honeypots including authors, URLs, user agents, and sources.",
        "tags": [
          "Honeypot Data"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily 404 summary data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/daily404detail/{date}/{limit}": {
      "get": {
        "operationId": "getDaily404Detail",
        "summary": "Get detailed 404 reports",
        "description": "Returns detailed 404 entries including URL, user-agent, and source IP.",
        "tags": [
          "Honeypot Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed 404 data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/openiocsources/{date}/{records}/{page}": {
      "get": {
        "operationId": "getOpenIocSources",
        "summary": "Get OpenIOC firewall log sources",
        "description": "Returns OpenIOC XML-formatted firewall log data. Supports pagination.",
        "tags": [
          "Threat Data"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "records",
            "in": "path",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OpenIOC source data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/header_summary": {
      "get": {
        "operationId": "getHeaderSummary",
        "summary": "Get HTTP headers from web honeypots",
        "tags": [
          "Honeypot Data"
        ],
        "responses": {
          "200": {
            "description": "Header summary data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "userAgent": {
        "type": "apiKey",
        "in": "header",
        "name": "User-Agent",
        "description": "Custom User-Agent header recommended (email address for contact). Default user-agents are blocked."
      }
    },
    "schemas": {
      "IpSummary": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "attacks": {
            "type": "integer"
          },
          "maxdate": {
            "type": "string"
          },
          "mindate": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "maxrisk": {
            "type": "integer"
          },
          "asabusecontact": {
            "type": "string"
          },
          "as": {
            "type": "integer"
          },
          "asname": {
            "type": "string"
          },
          "ascountry": {
            "type": "string"
          },
          "assize": {
            "type": "integer"
          },
          "network": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": []
}