{
  "openapi": "3.0.1",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on Backend entity in Azure API Management deployment. The Backend entity in API Management represents a backend service that is configured to skip certification chain validation when using a self-signed certificate to test mutual certificate authentication.",
    "version": "2019-12-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimbackends.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "apimanagement-apimbackends",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends": {
      "get": {
        "tags": [
          "Backend"
        ],
        "description": "Lists a collection of backends in the specified service instance.",
        "operationId": "Backend_ListByService",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| title | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| url | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lists a collection of Backend entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextLink": {
                      "type": "string",
                      "description": "Next page link if any."
                    },
                    "value": {
                      "type": "array",
                      "description": "Backend values.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "properties": {
                            "required": [
                              "protocol",
                              "url"
                            ],
                            "type": "object",
                            "properties": {
                              "protocol": {
                                "type": "string",
                                "description": "Backend communication protocol.",
                                "enum": [
                                  "http",
                                  "soap"
                                ],
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "BackendProtocol",
                                  "values": [
                                    {
                                      "description": "The Backend is a RESTful service.",
                                      "value": "http"
                                    },
                                    {
                                      "description": "The Backend is a SOAP service.",
                                      "value": "soap"
                                    }
                                  ]
                                }
                              },
                              "url": {
                                "maxLength": 2000,
                                "minLength": 1,
                                "type": "string",
                                "description": "Runtime Url of the Backend."
                              }
                            },
                            "description": "Parameters supplied to the Create Backend operation."
                          }
                        },
                        "description": "Backend details."
                      }
                    }
                  },
                  "description": "Paged Backend list representation."
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListBackends": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "",
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/proxybackend",
                      "name": "proxybackend",
                      "properties": {
                        "credentials": {
                          "authorization": {
                            "parameter": "opensesma",
                            "scheme": "Basic"
                          },
                          "header": {
                            "x-my-1": [
                              "val1",
                              "val2"
                            ]
                          },
                          "query": {
                            "sv": [
                              "xx",
                              "bb",
                              "cc"
                            ]
                          }
                        },
                        "description": "description5308",
                        "protocol": "http",
                        "proxy": {
                          "password": "opensesame",
                          "url": "http://192.168.1.1:8080",
                          "username": "Contoso\\admin"
                        },
                        "tls": {
                          "validateCertificateChain": false,
                          "validateCertificateName": false
                        },
                        "url": "https://backendname2644/"
                      },
                      "type": "Microsoft.ApiManagement/service/backends"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend",
                      "name": "sfbackend",
                      "properties": {
                        "description": "Service Fabric Test App 1",
                        "properties": {
                          "serviceFabricCluster": {
                            "clientCertificatethumbprint": "EBA029198AA3E76EF0D70482626E5BCF148594A6",
                            "managementEndpoints": [
                              "https://somecluster.com"
                            ],
                            "maxPartitionResolutionRetries": 5,
                            "serverX509Names": [
                              {
                                "issuerCertificateThumbprint": "IssuerCertificateThumbprint1",
                                "name": "ServerCommonName1"
                              }
                            ]
                          }
                        },
                        "protocol": "http",
                        "url": "fabric:/mytestapp/mytestservice"
                      },
                      "type": "Microsoft.ApiManagement/service/backends"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "./definitions.json#/definitions/BackendContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendId}": {
      "get": {
        "tags": [
          "Backend"
        ],
        "description": "Gets the details of the backend specified by its identifier.",
        "operationId": "Backend_Get",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "backendId",
            "in": "path",
            "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The response body contains the specified Backend entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "properties": {
                      "required": [
                        "protocol",
                        "url"
                      ],
                      "type": "object",
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "description": "Backend communication protocol.",
                          "enum": [
                            "http",
                            "soap"
                          ],
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "BackendProtocol",
                            "values": [
                              {
                                "description": "The Backend is a RESTful service.",
                                "value": "http"
                              },
                              {
                                "description": "The Backend is a SOAP service.",
                                "value": "soap"
                              }
                            ]
                          }
                        },
                        "url": {
                          "maxLength": 2000,
                          "minLength": 1,
                          "type": "string",
                          "description": "Runtime Url of the Backend."
                        }
                      },
                      "description": "Parameters supplied to the Create Backend operation."
                    }
                  },
                  "description": "Backend details.",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Resource ID.",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Resource name.",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "Resource type for API Management resource.",
                          "readOnly": true
                        }
                      },
                      "description": "The Resource definition.",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetBackend": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "backendId": "sfbackend",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend",
                  "name": "sfbackend",
                  "properties": {
                    "description": "Service Fabric Test App 1",
                    "properties": {
                      "serviceFabricCluster": {
                        "clientCertificatethumbprint": "EBA029198AA3E76EF0D70482626E5BCF148594A6",
                        "managementEndpoints": [
                          "https://somecluster.com"
                        ],
                        "maxPartitionResolutionRetries": 5,
                        "serverX509Names": [
                          {
                            "issuerCertificateThumbprint": "IssuerCertificateThumbprint1",
                            "name": "ServerCommonName1"
                          }
                        ]
                      }
                    },
                    "protocol": "http",
                    "url": "fabric:/mytestapp/mytestservice"
                  },
                  "type": "Microsoft.ApiManagement/service/backends"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Backend"
        ],
        "description": "Creates or Updates a backend.",
        "operationId": "Backend_CreateOrUpdate",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "backendId",
            "in": "path",
            "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create parameters.",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "properties": {
                    "required": [
                      "protocol",
                      "url"
                    ],
                    "type": "object",
                    "properties": {
                      "protocol": {
                        "type": "string",
                        "description": "Backend communication protocol.",
                        "enum": [
                          "http",
                          "soap"
                        ],
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "BackendProtocol",
                          "values": [
                            {
                              "description": "The Backend is a RESTful service.",
                              "value": "http"
                            },
                            {
                              "description": "The Backend is a SOAP service.",
                              "value": "soap"
                            }
                          ]
                        }
                      },
                      "url": {
                        "maxLength": 2000,
                        "minLength": 1,
                        "type": "string",
                        "description": "Runtime Url of the Backend."
                      }
                    },
                    "description": "Parameters supplied to the Create Backend operation."
                  }
                },
                "description": "Backend details.",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Resource ID.",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Resource name.",
                        "readOnly": true
                      },
                      "type": {
                        "type": "string",
                        "description": "Resource type for API Management resource.",
                        "readOnly": true
                      }
                    },
                    "description": "The Resource definition.",
                    "x-ms-azure-resource": true
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The existing backend was successfully updated.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "properties": {
                      "required": [
                        "protocol",
                        "url"
                      ],
                      "type": "object",
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "description": "Backend communication protocol.",
                          "enum": [
                            "http",
                            "soap"
                          ],
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "BackendProtocol",
                            "values": [
                              {
                                "description": "The Backend is a RESTful service.",
                                "value": "http"
                              },
                              {
                                "description": "The Backend is a SOAP service.",
                                "value": "soap"
                              }
                            ]
                          }
                        },
                        "url": {
                          "maxLength": 2000,
                          "minLength": 1,
                          "type": "string",
                          "description": "Runtime Url of the Backend."
                        }
                      },
                      "description": "Parameters supplied to the Create Backend operation."
                    }
                  },
                  "description": "Backend details.",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Resource ID.",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Resource name.",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "Resource type for API Management resource.",
                          "readOnly": true
                        }
                      },
                      "description": "The Resource definition.",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Backend was successfully created.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "properties": {
                      "required": [
                        "protocol",
                        "url"
                      ],
                      "type": "object",
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "description": "Backend communication protocol.",
                          "enum": [
                            "http",
                            "soap"
                          ],
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "BackendProtocol",
                            "values": [
                              {
                                "description": "The Backend is a RESTful service.",
                                "value": "http"
                              },
                              {
                                "description": "The Backend is a SOAP service.",
                                "value": "soap"
                              }
                            ]
                          }
                        },
                        "url": {
                          "maxLength": 2000,
                          "minLength": 1,
                          "type": "string",
                          "description": "Runtime Url of the Backend."
                        }
                      },
                      "description": "Parameters supplied to the Create Backend operation."
                    }
                  },
                  "description": "Backend details.",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Resource ID.",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Resource name.",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "Resource type for API Management resource.",
                          "readOnly": true
                        }
                      },
                      "description": "The Resource definition.",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateBackendProxyBackend": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "backendId": "proxybackend",
              "parameters": {
                "properties": {
                  "credentials": {
                    "authorization": {
                      "parameter": "opensesma",
                      "scheme": "Basic"
                    },
                    "header": {
                      "x-my-1": [
                        "val1",
                        "val2"
                      ]
                    },
                    "query": {
                      "sv": [
                        "xx",
                        "bb",
                        "cc"
                      ]
                    }
                  },
                  "description": "description5308",
                  "protocol": "http",
                  "proxy": {
                    "password": "opensesame",
                    "url": "http://192.168.1.1:8080",
                    "username": "Contoso\\admin"
                  },
                  "tls": {
                    "validateCertificateChain": true,
                    "validateCertificateName": true
                  },
                  "url": "https://backendname2644/"
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/proxybackend",
                  "name": "proxybackend",
                  "properties": {
                    "credentials": {
                      "authorization": {
                        "parameter": "opensesma",
                        "scheme": "Basic"
                      },
                      "header": {
                        "x-my-1": [
                          "val1",
                          "val2"
                        ]
                      },
                      "query": {
                        "sv": [
                          "xx",
                          "bb",
                          "cc"
                        ]
                      }
                    },
                    "description": "description5308",
                    "protocol": "http",
                    "proxy": {
                      "password": "opensesame",
                      "url": "http://192.168.1.1:8080",
                      "username": "Contoso\\admin"
                    },
                    "tls": {
                      "validateCertificateChain": false,
                      "validateCertificateName": false
                    },
                    "url": "https://backendname2644/"
                  },
                  "type": "Microsoft.ApiManagement/service/backends"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/proxybackend",
                  "name": "proxybackend",
                  "properties": {
                    "credentials": {
                      "authorization": {
                        "parameter": "opensesma",
                        "scheme": "Basic"
                      },
                      "header": {
                        "x-my-1": [
                          "val1",
                          "val2"
                        ]
                      },
                      "query": {
                        "sv": [
                          "xx",
                          "bb",
                          "cc"
                        ]
                      }
                    },
                    "description": "description5308",
                    "protocol": "http",
                    "proxy": {
                      "password": "opensesame",
                      "url": "http://192.168.1.1:8080",
                      "username": "Contoso\\admin"
                    },
                    "tls": {
                      "validateCertificateChain": false,
                      "validateCertificateName": false
                    },
                    "url": "https://backendname2644/"
                  },
                  "type": "Microsoft.ApiManagement/service/backends"
                }
              }
            }
          },
          "ApiManagementCreateBackendServiceFabric": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "backendId": "sfbackend",
              "parameters": {
                "properties": {
                  "description": "Service Fabric Test App 1",
                  "properties": {
                    "serviceFabricCluster": {
                      "clientCertificatethumbprint": "EBA029198AA3E76EF0D70482626E5BCF148594A6",
                      "managementEndpoints": [
                        "https://somecluster.com"
                      ],
                      "maxPartitionResolutionRetries": 5,
                      "serverX509Names": [
                        {
                          "issuerCertificateThumbprint": "IssuerCertificateThumbprint1",
                          "name": "ServerCommonName1"
                        }
                      ]
                    }
                  },
                  "protocol": "http",
                  "url": "fabric:/mytestapp/mytestservice"
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend",
                  "name": "sfbackend",
                  "properties": {
                    "description": "Service Fabric Test App 1",
                    "properties": {
                      "serviceFabricCluster": {
                        "clientCertificatethumbprint": "EBA029198AA3E76EF0D70482626E5BCF148594A6",
                        "managementEndpoints": [
                          "https://somecluster.com"
                        ],
                        "maxPartitionResolutionRetries": 5,
                        "serverX509Names": [
                          {
                            "issuerCertificateThumbprint": "IssuerCertificateThumbprint1",
                            "name": "ServerCommonName1"
                          }
                        ]
                      }
                    },
                    "protocol": "http",
                    "url": "fabric:/mytestapp/mytestservice"
                  },
                  "type": "Microsoft.ApiManagement/service/backends"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/backends/sfbackend",
                  "name": "sfbackend",
                  "properties": {
                    "description": "Service Fabric Test App 1",
                    "properties": {
                      "serviceFabricCluster": {
                        "clientCertificatethumbprint": "EBA029198AA3E76EF0D70482626E5BCF148594A6",
                        "managementEndpoints": [
                          "https://somecluster.com"
                        ],
                        "maxPartitionResolutionRetries": 5,
                        "serverX509Names": [
                          {
                            "issuerCertificateThumbprint": "IssuerCertificateThumbprint1",
                            "name": "ServerCommonName1"
                          }
                        ]
                      }
                    },
                    "protocol": "http",
                    "url": "fabric:/mytestapp/mytestservice"
                  },
                  "type": "Microsoft.ApiManagement/service/backends"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "parameters"
      },
      "delete": {
        "tags": [
          "Backend"
        ],
        "description": "Deletes the specified backend.",
        "operationId": "Backend_Delete",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "backendId",
            "in": "path",
            "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The backend was successfully deleted.",
            "content": {}
          },
          "204": {
            "description": "The backend was successfully deleted.",
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementDeleteBackend": {
            "parameters": {
              "If-Match": "*",
              "api-version": "2019-12-01-preview",
              "backendId": "sfbackend",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "head": {
        "tags": [
          "Backend"
        ],
        "description": "Gets the entity state (Etag) version of the backend specified by its identifier.",
        "operationId": "Backend_GetEntityTag",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "backendId",
            "in": "path",
            "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Specified backend entity exists and current entity state version is present in the ETag header.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementHeadBackend": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "backendId": "sfbackend",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "headers": {
                  "etag": "AAAAAAAAAAa="
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Backend"
        ],
        "description": "Updates an existing backend.",
        "operationId": "Backend_Update",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "backendId",
            "in": "path",
            "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "type": "object",
                    "properties": {
                      "protocol": {
                        "type": "string",
                        "description": "Backend communication protocol.",
                        "enum": [
                          "http",
                          "soap"
                        ],
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "BackendProtocol",
                          "values": [
                            {
                              "description": "The Backend is a RESTful service.",
                              "value": "http"
                            },
                            {
                              "description": "The Backend is a SOAP service.",
                              "value": "soap"
                            }
                          ]
                        }
                      },
                      "url": {
                        "maxLength": 2000,
                        "minLength": 1,
                        "type": "string",
                        "description": "Runtime Url of the Backend."
                      }
                    },
                    "description": "Parameters supplied to the Update Backend operation."
                  }
                },
                "description": "Backend update parameters."
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The existing backend was successfully updated.",
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementUpdateBackend": {
            "parameters": {
              "If-Match": "*",
              "api-version": "2019-12-01-preview",
              "backendId": "proxybackend",
              "parameters": {
                "properties": {
                  "description": "description5308",
                  "tls": {
                    "validateCertificateChain": false,
                    "validateCertificateName": true
                  }
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "204": {}
            }
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendId}/reconnect": {
      "post": {
        "tags": [
          "BackendReconnect"
        ],
        "description": "Notifies the APIM proxy to create a new connection to the backend after the specified timeout. If no timeout was specified, timeout of 2 minutes is used.",
        "operationId": "Backend_Reconnect",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "backendId",
            "in": "path",
            "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Reconnect request parameters.",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "properties": {
                    "type": "object",
                    "properties": {
                      "after": {
                        "type": "string",
                        "description": "Duration in ISO8601 format after which reconnect will be initiated. Minimum duration of the Reconnect is PT2M.",
                        "format": "duration"
                      }
                    },
                    "description": "Properties to control reconnect requests."
                  }
                },
                "description": "Reconnect request parameters.",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Resource ID.",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Resource name.",
                        "readOnly": true
                      },
                      "type": {
                        "type": "string",
                        "description": "Resource type for API Management resource.",
                        "readOnly": true
                      }
                    },
                    "description": "The Resource definition.",
                    "x-ms-azure-resource": true
                  }
                ]
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "Reconnect request accepted.",
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementBackendReconnect": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "backendId": "proxybackend",
              "parameters": {
                "properties": {
                  "after": "PT3S"
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "202": {}
            }
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}