{
  "openapi": "3.0.3",
  "info": {
    "title": "PeerTube",
    "version": "8.1.0",
    "contact": {
      "name": "PeerTube Community",
      "url": "https://joinpeertube.org"
    },
    "license": {
      "name": "AGPLv3.0",
      "url": "https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE"
    },
    "x-logo": {
      "url": "https://joinpeertube.org/img/brand.png",
      "altText": "PeerTube Project Homepage"
    },
    "description": "The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite\nHTTP/REST library for your programming language to use PeerTube.\n\nSee the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few\nexamples of using the PeerTube API.\n\n# Authentication\n\nWhen you sign up for an account on a PeerTube instance, you are given the possibility\nto generate sessions on it, and authenticate there using an access token. Only __one\naccess token can currently be used at a time__.\n\n## Roles\n\nAccounts are given permissions based on their role. There are three roles on\nPeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.\n\n# Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure\nof the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.\n\n```\nHTTP 1.1 404 Not Found\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Video not found\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 404,\n  \"title\": \"Not Found\",\n  \"type\": \"about:blank\"\n}\n```\n\nWe provide error `type` (following RFC7807) and `code` (internal PeerTube code) values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/packages/models/src/server/server-error-code.enum.ts),\nbut it is still optional. Types are used to disambiguate errors that bear the same status code\nand are non-obvious:\n\n```\nHTTP 1.1 403 Forbidden\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Cannot get this video regarding follow constraints\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 403,\n  \"title\": \"Forbidden\",\n  \"type\": \"https://docs.joinpeertube.org/api-rest-reference.html#section/Errors/does_not_respect_follow_constraints\"\n}\n```\n\nHere a 403 error could otherwise mean that the video is private or blocklisted.\n\n### Validation errors\n\nEach parameter is evaluated on its own against a set of rules before the route validator\nproceeds with potential testing involving parameter combinations. Errors coming from validation\nerrors appear earlier and benefit from a more detailed error description:\n\n```\nHTTP 1.1 400 Bad Request\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Incorrect request parameters: id\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"instance\": \"/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180\",\n  \"invalid-params\": {\n    \"id\": {\n      \"location\": \"params\",\n      \"msg\": \"Invalid value\",\n      \"param\": \"id\",\n      \"value\": \"9c9de5e8-0a1e-484a-b099-e80766180\"\n    }\n  },\n  \"status\": 400,\n  \"title\": \"Bad Request\",\n  \"type\": \"about:blank\"\n}\n```\n\nWhere `id` is the name of the field concerned by the error, within the route definition.\n`invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and\n`invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`\nis about.\n\n### Deprecated error fields\n\nSome fields could be included with previous versions. They are still included but their use is deprecated:\n- `error`: superseded by `detail`\n\n# Rate limits\n\nWe are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:\n\n| Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |\n|------------------------------|---------------|--------------|\n| `/*`                         | 50            | 10 seconds   |\n| `POST /users/token`          | 15            | 5 minutes    |\n| `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |\n| `POST /users/ask-send-verify-email` | 3      | 5 minutes    |\n\nDepending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service\nlimit is announced by a `429 Too Many Requests` status code.\n\nYou can get details about the current state of your rate limit by reading the\nfollowing headers:\n\n| Header                  | Description                                                |\n|-------------------------|------------------------------------------------------------|\n| `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |\n| `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |\n| `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |\n| `Retry-After`           | Seconds to delay after the first `429` is received         |\n\n# CORS\n\nThis API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),\nallowing cross-domain communication from the browser for some routes:\n\n| Endpoint                    |\n|------------------------- ---|\n| `/api/*`                    |\n| `/download/*`               |\n| `/lazy-static/*`            |\n| `/.well-known/webfinger`    |\n\nIn addition, all routes serving ActivityPub are CORS-enabled for all origins.\n",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://peertube2.cpy.re",
      "description": "Live Test Server (live data - latest nightly version)"
    },
    {
      "url": "https://peertube3.cpy.re",
      "description": "Live Test Server (live data - latest RC version)"
    },
    {
      "url": "https://peertube.cpy.re",
      "description": "Live Test Server (live data - stable version)"
    }
  ],
  "paths": {
    "/static/web-videos/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/web-videos/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          },
          {
            "$ref": "#/components/parameters/reinjectVideoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/download/videos/generate/{videoId}": {
      "get": {
        "tags": [
          "Video Download"
        ],
        "summary": "Download video file",
        "description": "Generate a mp4 container that contains at most 1 video stream and at most 1 audio stream. Mainly used to merge the HLS audio only video file and the HLS video only resolution file.",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The video id",
            "schema": {
              "$ref": "#/components/schemas/Video/properties/id"
            }
          },
          {
            "name": "videoFileIds",
            "in": "query",
            "required": true,
            "description": "streams of video files to mux in the output",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/feeds/video-comments.{format}": {
      "get": {
        "tags": [
          "Video Feeds"
        ],
        "summary": "Comments on videos feeds",
        "operationId": "getSyndicatedComments",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "format expected (we focus on making `rss` the most feature-rich ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "rss",
                "rss2",
                "atom",
                "atom1",
                "json",
                "json1"
              ]
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "description": "limit listing comments to a specific video",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountName",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelId",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelName",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "default": "max-age=900"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Fri, 10 Apr 2026 23:17:44 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/82936e50-9560-42e7-9e4b-d96309f5c9c9.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Erwan Le Renard]]></title>\n            <link>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</link>\n            <guid>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</guid>\n            <pubDate>Fri, 10 Apr 2026 21:46:59 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> sujet utile et bien traité 👏</p>]]></content:encoded>\n            <dc:creator>Erwan Le Renard</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Florent Guillemot]]></title>\n            <link>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</link>\n            <guid>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</guid>\n            <pubDate>Fri, 10 Apr 2026 20:15:36 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Bizarre comme strat, il me semblait que c'était un coureur de jupons mais je me trompe peut être. Après en général les médias de gauche ne vont pas sur ce terrain là, donc c'est sans doute une forme de bluff</p>]]></content:encoded>\n            <dc:creator>Florent Guillemot</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Ranking Linux distributions for 2026: not your average tier list ! - Torsten Torsten]]></title>\n            <link>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</link>\n            <guid>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</guid>\n            <pubDate>Fri, 10 Apr 2026 12:48:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Can you have a look at VOID linux? It's the fastest serious linux I (almost noob) have ever used. Can be installed with gnome, kde and xfce. AND it is not forked from any other linux but is designed from scratch.</p>\n]]></content:encoded>\n            <dc:creator>Torsten Torsten</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[\"Nouvelle France\", vieux racismes - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</link>\n            <guid>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</guid>\n            <pubDate>Thu, 09 Apr 2026 17:12:26 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> C'est monstrueux. Je suis vieille, mais je n'avais jamais vécu une époque pareille. Que font les gens? Protester, c'est fini? On attend juste les prochains camps de concentration? Les socialeux n'ont pas fait mieux que la droite!</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Ranking Linux desktop environments for 2026 ! - Half]]></title>\n            <link>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</link>\n            <guid>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</guid>\n            <pubDate>Thu, 09 Apr 2026 14:30:23 GMT</pubDate>\n            <content:encoded><![CDATA[<p>How dare you putting GNOME into the top tier! No way to put it higher than \"never ever\" ... ...  except that I am using Phosh, which is basically GNOME for phones and running the default GNOME applications, which become better and better convergent with every new version and I actually enjoy it very much! So forget what I said and let it in top tier, please. 😃 It is kinda funny to see me enjoying KDE on desktop, GNOME on phone, but not vise versa. They definitely have all their places to shine.</p>\n]]></content:encoded>\n            <dc:creator>Half</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Dépeindre la mort (stop tomorrowland winter) - Extinction Rebellion Grenoble]]></title>\n            <link>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</link>\n            <guid>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</guid>\n            <pubDate>Wed, 08 Apr 2026 08:32:42 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@isaaac@media.krashboyz.org Il s'agit de dénoncer le festival \"TomorrowLand winter\", la version hiver du festival de musique belge TomorrowLand, qui a lieu à l'Alpe d'Huez chaque année</p>\n]]></content:encoded>\n            <dc:creator>Extinction Rebellion Grenoble</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Gruik]]></title>\n            <link>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</link>\n            <guid>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</guid>\n            <pubDate>Wed, 08 Apr 2026 02:56:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pas mal l'imitation Naheulbeuk</p>]]></content:encoded>\n            <dc:creator>Gruik</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Vignoli]]></title>\n            <link>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</link>\n            <guid>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</guid>\n            <pubDate>Tue, 07 Apr 2026 06:14:51 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Si c'était possible ! Ce serait une merveilleuse nouvelle. Espérons.</p>]]></content:encoded>\n            <dc:creator>Vignoli</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Lien Rag]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</guid>\n            <pubDate>Mon, 06 Apr 2026 22:12:05 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Lagasnerie vire libertarien ?\nY'a des éléments qui sont intéressants par leur caractère provocateur dans la vidéo, mais il escamote complètement que Nozick (d'après Wikipédia) prône un État minimal limité à la protection contre la force : en clair réduit à son armée/police/tribunal.</p><p>Soit exactement le programme de la droite libertarienne.</p>]]></content:encoded>\n            <dc:creator>Lien Rag</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</guid>\n            <pubDate>Mon, 06 Apr 2026 13:38:47 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> almost sounds like <a href=\"https://mastodon.social/tags/Microsoft\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Microsoft</span></a> knew there may be backlash against <a href=\"https://mastodon.social/tags/adinjection\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>adinjection</span></a> like that in <a href=\"https://mastodon.social/tags/github\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>github</span></a> but did it anyway to see the reaction... More evidence in support of <a href=\"https://mastodon.social/tags/FOSS\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>FOSS</span></a></p>]]></content:encoded>\n            <dc:creator>UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Emmanuel Florac]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</guid>\n            <pubDate>Mon, 06 Apr 2026 10:26:43 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Il ne définit pas la démocratie et utilise plein d'astuces rhétoriques du genre \"tout  le monde est pour la démocratie c'est louche\", c'est vrai ça, et aussi \"tout le monde est pour la vérité, c'est louche\" 😃</p>\n]]></content:encoded>\n            <dc:creator>Emmanuel Florac</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Surveillance généralisée : Big Macron is watching you - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</link>\n            <guid>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</guid>\n            <pubDate>Sun, 05 Apr 2026 17:03:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Quand tous les grévistes de la fonction publique ont été fichés, en mai 1968, on s'est aperçu que les fichiers de Vichy étaient toujours là. Numérisés, on peut en garder bien plus...</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Alejandro_P]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</guid>\n            <pubDate>Sun, 05 Apr 2026 12:35:06 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://datasci.social/@vartak\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>vartak</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \n🤷</p>]]></content:encoded>\n            <dc:creator>Alejandro_P</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nanook]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</guid>\n            <pubDate>Sun, 05 Apr 2026 02:48:23 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mastodon.tedomum.net/users/lebout2canap\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lebout2canap</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> It is a different use case when you are trying to replace windows for gaming verses administering a network. So Ubuntu thinks they are clever eliminating X support from Gnome, a bad move, but I use Mate anyway so won't affect me, and I've built it from scratch before so if they decided to screw it as well, that's an option.</p>\n]]></content:encoded>\n            <dc:creator>Nanook</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakob :peertube:]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</guid>\n            <pubDate>Sat, 04 Apr 2026 23:20:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Is there a good reason, why peertube is not mentioned in the description?</p>\n]]></content:encoded>\n            <dc:creator>jakob :peertube:</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Pacman]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</guid>\n            <pubDate>Sat, 04 Apr 2026 22:32:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Alert: There's some FOSS code here, but there are licensing, marketing or transparency issues.<br />\n<a href=\"https://isitreallyfoss.com/projects/onlyoffice/\" target=\"_blank\" rel=\"noopener noreferrer\">https://isitreallyfoss.com/projects/onlyoffice/</a></p>\n]]></content:encoded>\n            <dc:creator>Pacman</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nachiket Vartak]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</guid>\n            <pubDate>Sat, 04 Apr 2026 22:16:41 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mathstodon.xyz/@Alejandro_P\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>Alejandro_P</span></a></span></p><p>Actually, I am wondering why they were using Outlook in the first place. </p><p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span></p>]]></content:encoded>\n            <dc:creator>Nachiket Vartak</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - tracy anne]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</guid>\n            <pubDate>Sat, 04 Apr 2026 21:44:03 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Microsoft do this sort of thing, walk it back, then introduce it later in a more insidious manner. I do not use GitHub, because I could see this sort of thing happening. Not exactly this, of course, but this IS Microsoft we are talking about.</p>\n]]></content:encoded>\n            <dc:creator>tracy anne</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakeida]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</guid>\n            <pubDate>Sat, 04 Apr 2026 16:53:56 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Just a couple days ago I've been trying and failing to spin up an OnlyOffice container and now I hear this drama lmao</p>\n]]></content:encoded>\n            <dc:creator>jakeida</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</guid>\n            <pubDate>Sat, 04 Apr 2026 14:57:10 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il ne peut pas y avoir \"d'utopie neo-libérale\" coexistant avec d'autres, puisque le néo-libéralisme consiste en l'exploitation des autres.</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/rss+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Fri, 10 Apr 2026 23:17:44 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/82936e50-9560-42e7-9e4b-d96309f5c9c9.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Erwan Le Renard]]></title>\n            <link>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</link>\n            <guid>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</guid>\n            <pubDate>Fri, 10 Apr 2026 21:46:59 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> sujet utile et bien traité 👏</p>]]></content:encoded>\n            <dc:creator>Erwan Le Renard</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Florent Guillemot]]></title>\n            <link>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</link>\n            <guid>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</guid>\n            <pubDate>Fri, 10 Apr 2026 20:15:36 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Bizarre comme strat, il me semblait que c'était un coureur de jupons mais je me trompe peut être. Après en général les médias de gauche ne vont pas sur ce terrain là, donc c'est sans doute une forme de bluff</p>]]></content:encoded>\n            <dc:creator>Florent Guillemot</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Ranking Linux distributions for 2026: not your average tier list ! - Torsten Torsten]]></title>\n            <link>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</link>\n            <guid>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</guid>\n            <pubDate>Fri, 10 Apr 2026 12:48:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Can you have a look at VOID linux? It's the fastest serious linux I (almost noob) have ever used. Can be installed with gnome, kde and xfce. AND it is not forked from any other linux but is designed from scratch.</p>\n]]></content:encoded>\n            <dc:creator>Torsten Torsten</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[\"Nouvelle France\", vieux racismes - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</link>\n            <guid>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</guid>\n            <pubDate>Thu, 09 Apr 2026 17:12:26 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> C'est monstrueux. Je suis vieille, mais je n'avais jamais vécu une époque pareille. Que font les gens? Protester, c'est fini? On attend juste les prochains camps de concentration? Les socialeux n'ont pas fait mieux que la droite!</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Ranking Linux desktop environments for 2026 ! - Half]]></title>\n            <link>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</link>\n            <guid>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</guid>\n            <pubDate>Thu, 09 Apr 2026 14:30:23 GMT</pubDate>\n            <content:encoded><![CDATA[<p>How dare you putting GNOME into the top tier! No way to put it higher than \"never ever\" ... ...  except that I am using Phosh, which is basically GNOME for phones and running the default GNOME applications, which become better and better convergent with every new version and I actually enjoy it very much! So forget what I said and let it in top tier, please. 😃 It is kinda funny to see me enjoying KDE on desktop, GNOME on phone, but not vise versa. They definitely have all their places to shine.</p>\n]]></content:encoded>\n            <dc:creator>Half</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Dépeindre la mort (stop tomorrowland winter) - Extinction Rebellion Grenoble]]></title>\n            <link>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</link>\n            <guid>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</guid>\n            <pubDate>Wed, 08 Apr 2026 08:32:42 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@isaaac@media.krashboyz.org Il s'agit de dénoncer le festival \"TomorrowLand winter\", la version hiver du festival de musique belge TomorrowLand, qui a lieu à l'Alpe d'Huez chaque année</p>\n]]></content:encoded>\n            <dc:creator>Extinction Rebellion Grenoble</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Gruik]]></title>\n            <link>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</link>\n            <guid>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</guid>\n            <pubDate>Wed, 08 Apr 2026 02:56:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pas mal l'imitation Naheulbeuk</p>]]></content:encoded>\n            <dc:creator>Gruik</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Vignoli]]></title>\n            <link>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</link>\n            <guid>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</guid>\n            <pubDate>Tue, 07 Apr 2026 06:14:51 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Si c'était possible ! Ce serait une merveilleuse nouvelle. Espérons.</p>]]></content:encoded>\n            <dc:creator>Vignoli</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Lien Rag]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</guid>\n            <pubDate>Mon, 06 Apr 2026 22:12:05 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Lagasnerie vire libertarien ?\nY'a des éléments qui sont intéressants par leur caractère provocateur dans la vidéo, mais il escamote complètement que Nozick (d'après Wikipédia) prône un État minimal limité à la protection contre la force : en clair réduit à son armée/police/tribunal.</p><p>Soit exactement le programme de la droite libertarienne.</p>]]></content:encoded>\n            <dc:creator>Lien Rag</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</guid>\n            <pubDate>Mon, 06 Apr 2026 13:38:47 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> almost sounds like <a href=\"https://mastodon.social/tags/Microsoft\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Microsoft</span></a> knew there may be backlash against <a href=\"https://mastodon.social/tags/adinjection\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>adinjection</span></a> like that in <a href=\"https://mastodon.social/tags/github\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>github</span></a> but did it anyway to see the reaction... More evidence in support of <a href=\"https://mastodon.social/tags/FOSS\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>FOSS</span></a></p>]]></content:encoded>\n            <dc:creator>UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Emmanuel Florac]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</guid>\n            <pubDate>Mon, 06 Apr 2026 10:26:43 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Il ne définit pas la démocratie et utilise plein d'astuces rhétoriques du genre \"tout  le monde est pour la démocratie c'est louche\", c'est vrai ça, et aussi \"tout le monde est pour la vérité, c'est louche\" 😃</p>\n]]></content:encoded>\n            <dc:creator>Emmanuel Florac</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Surveillance généralisée : Big Macron is watching you - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</link>\n            <guid>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</guid>\n            <pubDate>Sun, 05 Apr 2026 17:03:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Quand tous les grévistes de la fonction publique ont été fichés, en mai 1968, on s'est aperçu que les fichiers de Vichy étaient toujours là. Numérisés, on peut en garder bien plus...</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Alejandro_P]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</guid>\n            <pubDate>Sun, 05 Apr 2026 12:35:06 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://datasci.social/@vartak\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>vartak</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \n🤷</p>]]></content:encoded>\n            <dc:creator>Alejandro_P</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nanook]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</guid>\n            <pubDate>Sun, 05 Apr 2026 02:48:23 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mastodon.tedomum.net/users/lebout2canap\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lebout2canap</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> It is a different use case when you are trying to replace windows for gaming verses administering a network. So Ubuntu thinks they are clever eliminating X support from Gnome, a bad move, but I use Mate anyway so won't affect me, and I've built it from scratch before so if they decided to screw it as well, that's an option.</p>\n]]></content:encoded>\n            <dc:creator>Nanook</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakob :peertube:]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</guid>\n            <pubDate>Sat, 04 Apr 2026 23:20:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Is there a good reason, why peertube is not mentioned in the description?</p>\n]]></content:encoded>\n            <dc:creator>jakob :peertube:</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Pacman]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</guid>\n            <pubDate>Sat, 04 Apr 2026 22:32:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Alert: There's some FOSS code here, but there are licensing, marketing or transparency issues.<br />\n<a href=\"https://isitreallyfoss.com/projects/onlyoffice/\" target=\"_blank\" rel=\"noopener noreferrer\">https://isitreallyfoss.com/projects/onlyoffice/</a></p>\n]]></content:encoded>\n            <dc:creator>Pacman</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nachiket Vartak]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</guid>\n            <pubDate>Sat, 04 Apr 2026 22:16:41 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mathstodon.xyz/@Alejandro_P\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>Alejandro_P</span></a></span></p><p>Actually, I am wondering why they were using Outlook in the first place. </p><p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span></p>]]></content:encoded>\n            <dc:creator>Nachiket Vartak</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - tracy anne]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</guid>\n            <pubDate>Sat, 04 Apr 2026 21:44:03 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Microsoft do this sort of thing, walk it back, then introduce it later in a more insidious manner. I do not use GitHub, because I could see this sort of thing happening. Not exactly this, of course, but this IS Microsoft we are talking about.</p>\n]]></content:encoded>\n            <dc:creator>tracy anne</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakeida]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</guid>\n            <pubDate>Sat, 04 Apr 2026 16:53:56 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Just a couple days ago I've been trying and failing to spin up an OnlyOffice container and now I hear this drama lmao</p>\n]]></content:encoded>\n            <dc:creator>jakeida</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</guid>\n            <pubDate>Sat, 04 Apr 2026 14:57:10 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il ne peut pas y avoir \"d'utopie neo-libérale\" coexistant avec d'autres, puisque le néo-libéralisme consiste en l'exploitation des autres.</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Fri, 10 Apr 2026 23:17:44 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/82936e50-9560-42e7-9e4b-d96309f5c9c9.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Erwan Le Renard]]></title>\n            <link>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</link>\n            <guid>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</guid>\n            <pubDate>Fri, 10 Apr 2026 21:46:59 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> sujet utile et bien traité 👏</p>]]></content:encoded>\n            <dc:creator>Erwan Le Renard</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Florent Guillemot]]></title>\n            <link>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</link>\n            <guid>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</guid>\n            <pubDate>Fri, 10 Apr 2026 20:15:36 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Bizarre comme strat, il me semblait que c'était un coureur de jupons mais je me trompe peut être. Après en général les médias de gauche ne vont pas sur ce terrain là, donc c'est sans doute une forme de bluff</p>]]></content:encoded>\n            <dc:creator>Florent Guillemot</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Ranking Linux distributions for 2026: not your average tier list ! - Torsten Torsten]]></title>\n            <link>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</link>\n            <guid>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</guid>\n            <pubDate>Fri, 10 Apr 2026 12:48:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Can you have a look at VOID linux? It's the fastest serious linux I (almost noob) have ever used. Can be installed with gnome, kde and xfce. AND it is not forked from any other linux but is designed from scratch.</p>\n]]></content:encoded>\n            <dc:creator>Torsten Torsten</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[\"Nouvelle France\", vieux racismes - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</link>\n            <guid>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</guid>\n            <pubDate>Thu, 09 Apr 2026 17:12:26 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> C'est monstrueux. Je suis vieille, mais je n'avais jamais vécu une époque pareille. Que font les gens? Protester, c'est fini? On attend juste les prochains camps de concentration? Les socialeux n'ont pas fait mieux que la droite!</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Ranking Linux desktop environments for 2026 ! - Half]]></title>\n            <link>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</link>\n            <guid>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</guid>\n            <pubDate>Thu, 09 Apr 2026 14:30:23 GMT</pubDate>\n            <content:encoded><![CDATA[<p>How dare you putting GNOME into the top tier! No way to put it higher than \"never ever\" ... ...  except that I am using Phosh, which is basically GNOME for phones and running the default GNOME applications, which become better and better convergent with every new version and I actually enjoy it very much! So forget what I said and let it in top tier, please. 😃 It is kinda funny to see me enjoying KDE on desktop, GNOME on phone, but not vise versa. They definitely have all their places to shine.</p>\n]]></content:encoded>\n            <dc:creator>Half</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Dépeindre la mort (stop tomorrowland winter) - Extinction Rebellion Grenoble]]></title>\n            <link>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</link>\n            <guid>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</guid>\n            <pubDate>Wed, 08 Apr 2026 08:32:42 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@isaaac@media.krashboyz.org Il s'agit de dénoncer le festival \"TomorrowLand winter\", la version hiver du festival de musique belge TomorrowLand, qui a lieu à l'Alpe d'Huez chaque année</p>\n]]></content:encoded>\n            <dc:creator>Extinction Rebellion Grenoble</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Gruik]]></title>\n            <link>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</link>\n            <guid>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</guid>\n            <pubDate>Wed, 08 Apr 2026 02:56:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pas mal l'imitation Naheulbeuk</p>]]></content:encoded>\n            <dc:creator>Gruik</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Vignoli]]></title>\n            <link>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</link>\n            <guid>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</guid>\n            <pubDate>Tue, 07 Apr 2026 06:14:51 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Si c'était possible ! Ce serait une merveilleuse nouvelle. Espérons.</p>]]></content:encoded>\n            <dc:creator>Vignoli</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Lien Rag]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</guid>\n            <pubDate>Mon, 06 Apr 2026 22:12:05 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Lagasnerie vire libertarien ?\nY'a des éléments qui sont intéressants par leur caractère provocateur dans la vidéo, mais il escamote complètement que Nozick (d'après Wikipédia) prône un État minimal limité à la protection contre la force : en clair réduit à son armée/police/tribunal.</p><p>Soit exactement le programme de la droite libertarienne.</p>]]></content:encoded>\n            <dc:creator>Lien Rag</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</guid>\n            <pubDate>Mon, 06 Apr 2026 13:38:47 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> almost sounds like <a href=\"https://mastodon.social/tags/Microsoft\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Microsoft</span></a> knew there may be backlash against <a href=\"https://mastodon.social/tags/adinjection\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>adinjection</span></a> like that in <a href=\"https://mastodon.social/tags/github\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>github</span></a> but did it anyway to see the reaction... More evidence in support of <a href=\"https://mastodon.social/tags/FOSS\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>FOSS</span></a></p>]]></content:encoded>\n            <dc:creator>UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Emmanuel Florac]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</guid>\n            <pubDate>Mon, 06 Apr 2026 10:26:43 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Il ne définit pas la démocratie et utilise plein d'astuces rhétoriques du genre \"tout  le monde est pour la démocratie c'est louche\", c'est vrai ça, et aussi \"tout le monde est pour la vérité, c'est louche\" 😃</p>\n]]></content:encoded>\n            <dc:creator>Emmanuel Florac</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Surveillance généralisée : Big Macron is watching you - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</link>\n            <guid>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</guid>\n            <pubDate>Sun, 05 Apr 2026 17:03:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Quand tous les grévistes de la fonction publique ont été fichés, en mai 1968, on s'est aperçu que les fichiers de Vichy étaient toujours là. Numérisés, on peut en garder bien plus...</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Alejandro_P]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</guid>\n            <pubDate>Sun, 05 Apr 2026 12:35:06 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://datasci.social/@vartak\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>vartak</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \n🤷</p>]]></content:encoded>\n            <dc:creator>Alejandro_P</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nanook]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</guid>\n            <pubDate>Sun, 05 Apr 2026 02:48:23 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mastodon.tedomum.net/users/lebout2canap\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lebout2canap</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> It is a different use case when you are trying to replace windows for gaming verses administering a network. So Ubuntu thinks they are clever eliminating X support from Gnome, a bad move, but I use Mate anyway so won't affect me, and I've built it from scratch before so if they decided to screw it as well, that's an option.</p>\n]]></content:encoded>\n            <dc:creator>Nanook</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakob :peertube:]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</guid>\n            <pubDate>Sat, 04 Apr 2026 23:20:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Is there a good reason, why peertube is not mentioned in the description?</p>\n]]></content:encoded>\n            <dc:creator>jakob :peertube:</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Pacman]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</guid>\n            <pubDate>Sat, 04 Apr 2026 22:32:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Alert: There's some FOSS code here, but there are licensing, marketing or transparency issues.<br />\n<a href=\"https://isitreallyfoss.com/projects/onlyoffice/\" target=\"_blank\" rel=\"noopener noreferrer\">https://isitreallyfoss.com/projects/onlyoffice/</a></p>\n]]></content:encoded>\n            <dc:creator>Pacman</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nachiket Vartak]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</guid>\n            <pubDate>Sat, 04 Apr 2026 22:16:41 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mathstodon.xyz/@Alejandro_P\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>Alejandro_P</span></a></span></p><p>Actually, I am wondering why they were using Outlook in the first place. </p><p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span></p>]]></content:encoded>\n            <dc:creator>Nachiket Vartak</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - tracy anne]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</guid>\n            <pubDate>Sat, 04 Apr 2026 21:44:03 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Microsoft do this sort of thing, walk it back, then introduce it later in a more insidious manner. I do not use GitHub, because I could see this sort of thing happening. Not exactly this, of course, but this IS Microsoft we are talking about.</p>\n]]></content:encoded>\n            <dc:creator>tracy anne</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakeida]]></title>\n            <link>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</link>\n            <guid>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</guid>\n            <pubDate>Sat, 04 Apr 2026 16:53:56 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Just a couple days ago I've been trying and failing to spin up an OnlyOffice container and now I hear this drama lmao</p>\n]]></content:encoded>\n            <dc:creator>jakeida</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Faire sédition : un projet pour la gauche - Christine Prat]]></title>\n            <link>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</link>\n            <guid>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</guid>\n            <pubDate>Sat, 04 Apr 2026 14:57:10 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il ne peut pas y avoir \"d'utopie neo-libérale\" coexistant avec d'autres, puisque le néo-libéralisme consiste en l'exploitation des autres.</p>]]></content:encoded>\n            <dc:creator>Christine Prat</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/atom+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\">\n    <id>https://peertube2.cpy.re</id>\n    <title>PeerTube Nightly</title>\n    <updated>2026-04-10T23:17:44.902Z</updated>\n    <generator>PeerTube - https://peertube2.cpy.re</generator>\n    <link rel=\"alternate\" href=\"https://peertube2.cpy.re\"/>\n    <link rel=\"self\" href=\"https://peertube2.cpy.re/feeds/video-comments.atom?scope=local\"/>\n    <subtitle>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</subtitle>\n    <logo>https://peertube2.cpy.re/lazy-static/avatars/82936e50-9560-42e7-9e4b-d96309f5c9c9.png</logo>\n    <icon>https://peertube2.cpy.re/lazy-static/avatars/abace30f-69ad-4ff2-a954-dea06c5db6eb.png</icon>\n    <rights>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</rights>\n    <entry>\n        <title type=\"html\"><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Erwan Le Renard]]></title>\n        <id>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741</id>\n        <link href=\"https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741\"/>\n        <updated>2026-04-10T21:46:59.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> sujet utile et bien traité 👏</p>]]></content>\n        <author>\n            <name>Erwan Le Renard</name>\n            <uri>https://piaille.fr/ap/users/116308157596203640</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Florent Guillemot]]></title>\n        <id>https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740</id>\n        <link href=\"https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740\"/>\n        <updated>2026-04-10T20:15:36.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Bizarre comme strat, il me semblait que c'était un coureur de jupons mais je me trompe peut être. Après en général les médias de gauche ne vont pas sur ce terrain là, donc c'est sans doute une forme de bluff</p>]]></content>\n        <author>\n            <name>Florent Guillemot</name>\n            <uri>https://kotlin.social/users/coreflodev</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Ranking Linux distributions for 2026: not your average tier list ! - Torsten Torsten]]></title>\n        <id>https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738</id>\n        <link href=\"https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738\"/>\n        <updated>2026-04-10T12:48:22.107Z</updated>\n        <content type=\"html\"><![CDATA[<p>Can you have a look at VOID linux? It's the fastest serious linux I (almost noob) have ever used. Can be installed with gnome, kde and xfce. AND it is not forked from any other linux but is designed from scratch.</p>\n]]></content>\n        <author>\n            <name>Torsten Torsten</name>\n            <uri>https://tube.tchncs.de/accounts/torsten_torsten</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[\"Nouvelle France\", vieux racismes - Christine Prat]]></title>\n        <id>https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737</id>\n        <link href=\"https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737\"/>\n        <updated>2026-04-09T17:12:26.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> C'est monstrueux. Je suis vieille, mais je n'avais jamais vécu une époque pareille. Que font les gens? Protester, c'est fini? On attend juste les prochains camps de concentration? Les socialeux n'ont pas fait mieux que la droite!</p>]]></content>\n        <author>\n            <name>Christine Prat</name>\n            <uri>https://mastodon.social/users/ChristinePrat</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Ranking Linux desktop environments for 2026 ! - Half]]></title>\n        <id>https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736</id>\n        <link href=\"https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736\"/>\n        <updated>2026-04-09T14:30:23.910Z</updated>\n        <content type=\"html\"><![CDATA[<p>How dare you putting GNOME into the top tier! No way to put it higher than \"never ever\" ... ...  except that I am using Phosh, which is basically GNOME for phones and running the default GNOME applications, which become better and better convergent with every new version and I actually enjoy it very much! So forget what I said and let it in top tier, please. 😃 It is kinda funny to see me enjoying KDE on desktop, GNOME on phone, but not vise versa. They definitely have all their places to shine.</p>\n]]></content>\n        <author>\n            <name>Half</name>\n            <uri>https://makertube.net/accounts/half</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Dépeindre la mort (stop tomorrowland winter) - Extinction Rebellion Grenoble]]></title>\n        <id>https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499</id>\n        <link href=\"https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499\"/>\n        <updated>2026-04-08T08:32:42.638Z</updated>\n        <content type=\"html\"><![CDATA[<p>@isaaac@media.krashboyz.org Il s'agit de dénoncer le festival \"TomorrowLand winter\", la version hiver du festival de musique belge TomorrowLand, qui a lieu à l'Alpe d'Huez chaque année</p>\n]]></content>\n        <author>\n            <name>Extinction Rebellion Grenoble</name>\n            <uri>https://tube.extinctionrebellion.fr/accounts/xr38</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Gruik]]></title>\n        <id>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730</id>\n        <link href=\"https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730\"/>\n        <updated>2026-04-08T02:56:07.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pas mal l'imitation Naheulbeuk</p>]]></content>\n        <author>\n            <name>Gruik</name>\n            <uri>https://piaille.fr/users/gruik</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Viktor Orbán : la fin de 15 ans de règne ? - Vignoli]]></title>\n        <id>https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723</id>\n        <link href=\"https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723\"/>\n        <updated>2026-04-07T06:14:51.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Si c'était possible ! Ce serait une merveilleuse nouvelle. Espérons.</p>]]></content>\n        <author>\n            <name>Vignoli</name>\n            <uri>https://mastodon.social/users/jeanclaude_vignoli</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Faire sédition : un projet pour la gauche - Lien Rag]]></title>\n        <id>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719</id>\n        <link href=\"https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719\"/>\n        <updated>2026-04-06T22:12:05.000Z</updated>\n        <content type=\"html\"><![CDATA[<p>Lagasnerie vire libertarien ?\nY'a des éléments qui sont intéressants par leur caractère provocateur dans la vidéo, mais il escamote complètement que Nozick (d'après Wikipédia) prône un État minimal limité à la protection contre la force : en clair réduit à son armée/police/tribunal.</p><p>Soit exactement le programme de la droite libertarienne.</p>]]></content>\n        <author>\n            <name>Lien Rag</name>\n            <uri>https://mastodon.tedomum.net/users/lienrag</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718\"/>\n        <updated>2026-04-06T13:38:47.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> almost sounds like <a href=\"https://mastodon.social/tags/Microsoft\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Microsoft</span></a> knew there may be backlash against <a href=\"https://mastodon.social/tags/adinjection\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>adinjection</span></a> like that in <a href=\"https://mastodon.social/tags/github\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>github</span></a> but did it anyway to see the reaction... More evidence in support of <a href=\"https://mastodon.social/tags/FOSS\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>FOSS</span></a></p>]]></content>\n        <author>\n            <name>UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️</name>\n            <uri>https://mastodon.social/ap/users/116249643047063678</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Faire sédition : un projet pour la gauche - Emmanuel Florac]]></title>\n        <id>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717</id>\n        <link href=\"https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717\"/>\n        <updated>2026-04-06T10:26:43.341Z</updated>\n        <content type=\"html\"><![CDATA[<p>Il ne définit pas la démocratie et utilise plein d'astuces rhétoriques du genre \"tout  le monde est pour la démocratie c'est louche\", c'est vrai ça, et aussi \"tout le monde est pour la vérité, c'est louche\" 😃</p>\n]]></content>\n        <author>\n            <name>Emmanuel Florac</name>\n            <uri>https://video.ploud.fr/accounts/emmanuel_florac</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Surveillance généralisée : Big Macron is watching you - Christine Prat]]></title>\n        <id>https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716</id>\n        <link href=\"https://peertube2.cpy.re/w/qD2kPVxTK92pt55vMUNjuY;threadId=184716\"/>\n        <updated>2026-04-05T17:03:04.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Quand tous les grévistes de la fonction publique ont été fichés, en mai 1968, on s'est aperçu que les fichiers de Vichy étaient toujours là. Numérisés, on peut en garder bien plus...</p>]]></content>\n        <author>\n            <name>Christine Prat</name>\n            <uri>https://mastodon.social/users/ChristinePrat</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Alejandro_P]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567\"/>\n        <updated>2026-04-05T12:35:06.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://datasci.social/@vartak\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>vartak</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \n🤷</p>]]></content>\n        <author>\n            <name>Alejandro_P</name>\n            <uri>https://mathstodon.xyz/users/Alejandro_P</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nanook]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184562\"/>\n        <updated>2026-04-05T02:48:23.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://mastodon.tedomum.net/users/lebout2canap\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lebout2canap</span></a></span> <span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> It is a different use case when you are trying to replace windows for gaming verses administering a network. So Ubuntu thinks they are clever eliminating X support from Gnome, a bad move, but I use Mate anyway so won't affect me, and I've built it from scratch before so if they decided to screw it as well, that's an option.</p>\n]]></content>\n        <author>\n            <name>Nanook</name>\n            <uri>https://friendica.eskimo.com/profile/nanook</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakob :peertube:]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184641\"/>\n        <updated>2026-04-04T23:20:44.621Z</updated>\n        <content type=\"html\"><![CDATA[<p>Is there a good reason, why peertube is not mentioned in the description?</p>\n]]></content>\n        <author>\n            <name>jakob :peertube:</name>\n            <uri>https://kino.schuerz.at/accounts/jakob</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Pacman]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184637\"/>\n        <updated>2026-04-04T22:32:54.917Z</updated>\n        <content type=\"html\"><![CDATA[<p>Alert: There's some FOSS code here, but there are licensing, marketing or transparency issues.<br />\n<a href=\"https://isitreallyfoss.com/projects/onlyoffice/\" target=\"_blank\" rel=\"noopener noreferrer\">https://isitreallyfoss.com/projects/onlyoffice/</a></p>\n]]></content>\n        <author>\n            <name>Pacman</name>\n            <uri>https://tilvids.com/accounts/gentle_breeze</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - Nachiket Vartak]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184567\"/>\n        <updated>2026-04-04T22:16:41.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://mathstodon.xyz/@Alejandro_P\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>Alejandro_P</span></a></span></p><p>Actually, I am wondering why they were using Outlook in the first place. </p><p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span></p>]]></content>\n        <author>\n            <name>Nachiket Vartak</name>\n            <uri>https://datasci.social/ap/users/115805400654243431</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - tracy anne]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184632\"/>\n        <updated>2026-04-04T21:44:03.139Z</updated>\n        <content type=\"html\"><![CDATA[<p>Microsoft do this sort of thing, walk it back, then introduce it later in a more insidious manner. I do not use GitHub, because I could see this sort of thing happening. Not exactly this, of course, but this IS Microsoft we are talking about.</p>\n]]></content>\n        <author>\n            <name>tracy anne</name>\n            <uri>https://tilvids.com/accounts/tracy_anne</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - jakeida]]></title>\n        <id>https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574</id>\n        <link href=\"https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184574\"/>\n        <updated>2026-04-04T16:53:56.419Z</updated>\n        <content type=\"html\"><![CDATA[<p>Just a couple days ago I've been trying and failing to spin up an OnlyOffice container and now I hear this drama lmao</p>\n]]></content>\n        <author>\n            <name>jakeida</name>\n            <uri>https://tilvids.com/accounts/jakeida</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Faire sédition : un projet pour la gauche - Christine Prat]]></title>\n        <id>https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573</id>\n        <link href=\"https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184573\"/>\n        <updated>2026-04-04T14:57:10.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il ne peut pas y avoir \"d'utopie neo-libérale\" coexistant avec d'autres, puisque le néo-libéralisme consiste en l'exploitation des autres.</p>]]></content>\n        <author>\n            <name>Christine Prat</name>\n            <uri>https://mastodon.social/users/ChristinePrat</uri>\n        </author>\n    </entry>\n</feed>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "nightly": {
                    "value": {
                      "version": "https://jsonfeed.org/version/1",
                      "title": "PeerTube Nightly",
                      "home_page_url": "https://peertube2.cpy.re",
                      "feed_url": "https://peertube2.cpy.re/feeds/video-comments.json?scope=local",
                      "description": "This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.",
                      "icon": "https://peertube2.cpy.re/lazy-static/avatars/82936e50-9560-42e7-9e4b-d96309f5c9c9.png",
                      "items": [
                        {
                          "id": "https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> sujet utile et bien traité 👏</p>",
                          "url": "https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184741",
                          "title": "Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Erwan Le Renard",
                          "date_modified": "2026-04-10T21:46:59.000Z",
                          "author": {
                            "name": "Erwan Le Renard",
                            "url": "https://piaille.fr/ap/users/116308157596203640"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Bizarre comme strat, il me semblait que c'était un coureur de jupons mais je me trompe peut être. Après en général les médias de gauche ne vont pas sur ce terrain là, donc c'est sans doute une forme de bluff</p>",
                          "url": "https://peertube2.cpy.re/w/h5VibrtXVJncNaRBAbdMEv;threadId=184740",
                          "title": "Bardella, la Princesse, Le Pen et les milliardaires : l’alliance pour 2027 - Florent Guillemot",
                          "date_modified": "2026-04-10T20:15:36.000Z",
                          "author": {
                            "name": "Florent Guillemot",
                            "url": "https://kotlin.social/users/coreflodev"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738",
                          "content_html": "<p>Can you have a look at VOID linux? It's the fastest serious linux I (almost noob) have ever used. Can be installed with gnome, kde and xfce. AND it is not forked from any other linux but is designed from scratch.</p>\n",
                          "url": "https://peertube2.cpy.re/w/kf1MzoTe7wWZdPBWL3pqnT;threadId=184738",
                          "title": "Ranking Linux distributions for 2026: not your average tier list ! - Torsten Torsten",
                          "date_modified": "2026-04-10T12:48:22.107Z",
                          "author": {
                            "name": "Torsten Torsten",
                            "url": "https://tube.tchncs.de/accounts/torsten_torsten"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> C'est monstrueux. Je suis vieille, mais je n'avais jamais vécu une époque pareille. Que font les gens? Protester, c'est fini? On attend juste les prochains camps de concentration? Les socialeux n'ont pas fait mieux que la droite!</p>",
                          "url": "https://peertube2.cpy.re/w/kdCcuqXEZw4EoZFadxEYHu;threadId=184737",
                          "title": "\"Nouvelle France\", vieux racismes - Christine Prat",
                          "date_modified": "2026-04-09T17:12:26.000Z",
                          "author": {
                            "name": "Christine Prat",
                            "url": "https://mastodon.social/users/ChristinePrat"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736",
                          "content_html": "<p>How dare you putting GNOME into the top tier! No way to put it higher than \"never ever\" ... ...  except that I am using Phosh, which is basically GNOME for phones and running the default GNOME applications, which become better and better convergent with every new version and I actually enjoy it very much! So forget what I said and let it in top tier, please. 😃 It is kinda funny to see me enjoying KDE on desktop, GNOME on phone, but not vise versa. They definitely have all their places to shine.</p>\n",
                          "url": "https://peertube2.cpy.re/w/dbaEEXwWhsJsJSg4xzijNK;threadId=184736",
                          "title": "Ranking Linux desktop environments for 2026 ! - Half",
                          "date_modified": "2026-04-09T14:30:23.910Z",
                          "author": {
                            "name": "Half",
                            "url": "https://makertube.net/accounts/half"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499",
                          "content_html": "<p>@isaaac@media.krashboyz.org Il s'agit de dénoncer le festival \"TomorrowLand winter\", la version hiver du festival de musique belge TomorrowLand, qui a lieu à l'Alpe d'Huez chaque année</p>\n",
                          "url": "https://peertube2.cpy.re/w/2zMJj84vXbTB2189zHbFFa;threadId=184499",
                          "title": "Dépeindre la mort (stop tomorrowland winter) - Extinction Rebellion Grenoble",
                          "date_modified": "2026-04-08T08:32:42.638Z",
                          "author": {
                            "name": "Extinction Rebellion Grenoble",
                            "url": "https://tube.extinctionrebellion.fr/accounts/xr38"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pas mal l'imitation Naheulbeuk</p>",
                          "url": "https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184730",
                          "title": "Viktor Orbán : la fin de 15 ans de règne ? - Gruik",
                          "date_modified": "2026-04-08T02:56:07.000Z",
                          "author": {
                            "name": "Gruik",
                            "url": "https://piaille.fr/users/gruik"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Si c'était possible ! Ce serait une merveilleuse nouvelle. Espérons.</p>",
                          "url": "https://peertube2.cpy.re/w/kESbQc9WKXzWpvNwgugqhz;threadId=184723",
                          "title": "Viktor Orbán : la fin de 15 ans de règne ? - Vignoli",
                          "date_modified": "2026-04-07T06:14:51.000Z",
                          "author": {
                            "name": "Vignoli",
                            "url": "https://mastodon.social/users/jeanclaude_vignoli"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719",
                          "content_html": "<p>Lagasnerie vire libertarien ?\nY'a des éléments qui sont intéressants par leur caractère provocateur dans la vidéo, mais il escamote complètement que Nozick (d'après Wikipédia) prône un État minimal limité à la protection contre la force : en clair réduit à son armée/police/tribunal.</p><p>Soit exactement le programme de la droite libertarienne.</p>",
                          "url": "https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184719",
                          "title": "Faire sédition : un projet pour la gauche - Lien Rag",
                          "date_modified": "2026-04-06T22:12:05.000Z",
                          "author": {
                            "name": "Lien Rag",
                            "url": "https://mastodon.tedomum.net/users/lienrag"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718",
                          "content_html": "<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> almost sounds like <a href=\"https://mastodon.social/tags/Microsoft\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Microsoft</span></a> knew there may be backlash against <a href=\"https://mastodon.social/tags/adinjection\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>adinjection</span></a> like that in <a href=\"https://mastodon.social/tags/github\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>github</span></a> but did it anyway to see the reaction... More evidence in support of <a href=\"https://mastodon.social/tags/FOSS\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>FOSS</span></a></p>",
                          "url": "https://peertube2.cpy.re/w/4zxTbEUAS5yYCDAFnAaCvs;threadId=184718",
                          "title": "Trouble for OpenSource Office Suites, Wayland fixes 2 major features & other Linux Weekly News - UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️",
                          "date_modified": "2026-04-06T13:38:47.000Z",
                          "author": {
                            "name": "UnitaryBennu 🏳️‍🌈✊🏻🏳️‍⚧️",
                            "url": "https://mastodon.social/ap/users/116249643047063678"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717",
                          "content_html": "<p>Il ne définit pas la démocratie et utilise plein d'astuces rhétoriques du genre \"tout  le monde est pour la démocratie c'est louche\", c'est vrai ça, et aussi \"tout le monde est pour la vérité, c'est louche\" 😃</p>\n",
                          "url": "https://peertube2.cpy.re/w/qJTFQEnP7TyWdS9Y5X1brm;threadId=184717",
[...]
