{
  "openapi": "3.0.3",
  "info": {
    "title": "QuickSchools API",
    "version": "1.0.0",
    "description": "QuickSchools.com is an Online School Management System. The REST API allows querying and modifying school data including students, teachers, parents, classes, sections, assignments, grades, and attendance.",
    "x-jentic-source-url": "http://apidocs.quickschools.com"
  },
  "servers": [
    {
      "url": "https://api.quickschools.com/sms/v1",
      "description": "QuickSchools API v1"
    }
  ],
  "paths": {
    "/schoolgroup": {
      "get": {
        "operationId": "getSchoolGroup",
        "summary": "Get school group",
        "description": "Returns details of the current user's SchoolGroup",
        "tags": [
          "SchoolGroups"
        ],
        "responses": {
          "200": {
            "description": "School group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/schools": {
      "get": {
        "operationId": "listSchools",
        "summary": "List schools",
        "description": "Returns the list of schools in the current user's SchoolGroup",
        "tags": [
          "Schools"
        ],
        "responses": {
          "200": {
            "description": "List of schools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/School"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/school": {
      "get": {
        "operationId": "getSchool",
        "summary": "Get current school",
        "description": "Returns the details of the school associated with the currently-authenticated user or apiKey",
        "tags": [
          "Schools"
        ],
        "responses": {
          "200": {
            "description": "School details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/semesters": {
      "get": {
        "operationId": "listSemesters",
        "summary": "List semesters",
        "description": "Returns the list of semesters",
        "tags": [
          "Semesters"
        ],
        "responses": {
          "200": {
            "description": "List of semesters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Semester"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/semesters/{semesterId}": {
      "get": {
        "operationId": "getSemester",
        "summary": "Get semester",
        "description": "Returns the details of the specified semester",
        "tags": [
          "Semesters"
        ],
        "parameters": [
          {
            "name": "semesterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semester details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Semester"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/classes": {
      "get": {
        "operationId": "listClasses",
        "summary": "List classes",
        "description": "Returns the list of classes (year levels like 1st Grade)",
        "tags": [
          "Classes"
        ],
        "responses": {
          "200": {
            "description": "List of classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Class"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/classes/{classId}": {
      "get": {
        "operationId": "getClass",
        "summary": "Get class",
        "description": "Returns the details of the specified class",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/homerooms": {
      "get": {
        "operationId": "listHomerooms",
        "summary": "List homerooms",
        "description": "Returns the list of homerooms",
        "tags": [
          "Homerooms"
        ],
        "responses": {
          "200": {
            "description": "List of homerooms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Homeroom"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/homerooms/{homeroomId}": {
      "get": {
        "operationId": "getHomeroom",
        "summary": "Get homeroom",
        "description": "Returns the details of the specified homeroom",
        "tags": [
          "Homerooms"
        ],
        "parameters": [
          {
            "name": "homeroomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Homeroom details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Homeroom"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/teachers": {
      "get": {
        "operationId": "listTeachers",
        "summary": "List teachers",
        "description": "Returns the list of all teachers. Supports search, employeeNumbers, showDeleted, and showHasLeft parameters.",
        "tags": [
          "Teachers"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by teacher name or employee name"
          },
          {
            "name": "employeeNumbers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of employee numbers"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include deleted teachers"
          },
          {
            "name": "showHasLeft",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include teachers who have left"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of additional fields"
          }
        ],
        "responses": {
          "200": {
            "description": "List of teachers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Teacher"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateTeacher",
        "summary": "Add or update teacher",
        "description": "Adds or updates a teacher record. If teacherName or employeeNumber matches an existing record, it will be updated.",
        "tags": [
          "Teachers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TeacherInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teacher created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Teacher"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "isExistingRecord": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/teachers/{teacherId}": {
      "get": {
        "operationId": "getTeacher",
        "summary": "Get teacher",
        "description": "Returns the details of the specified teacher",
        "tags": [
          "Teachers"
        ],
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of additional fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Teacher details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Teacher"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTeacher",
        "summary": "Delete or mark teacher as left",
        "description": "Marks the specified teacher as having left or deleted",
        "tags": [
          "Teachers"
        ],
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, marks as deleted instead of left"
          },
          {
            "name": "leaveDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Leave date in YYYY-MM-DD format"
          }
        ],
        "responses": {
          "200": {
            "description": "Teacher removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/students": {
      "get": {
        "operationId": "listStudents",
        "summary": "List students",
        "description": "Returns the list of all students. Supports search, studentNumbers, showDeleted, showHasLeft, classId, homeroomId, and parentId filtering.",
        "tags": [
          "Students"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by student name, number, or class"
          },
          {
            "name": "studentNumbers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of student numbers"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showHasLeft",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "classId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "homeroomId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of additional fields"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of students",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedStudentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateStudent",
        "summary": "Add or update student",
        "description": "Adds or updates a student record. If fullName or studentId matches an existing record, it will be updated.",
        "tags": [
          "Students"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/StudentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Student created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Student"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "isExistingRecord": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/students/{studentId}": {
      "get": {
        "operationId": "getStudent",
        "summary": "Get student",
        "description": "Returns the details of the specified student",
        "tags": [
          "Students"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Student"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteStudent",
        "summary": "Delete or mark student as left",
        "description": "Marks the student as Deleted or Has Left",
        "tags": [
          "Students"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "leaveDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/parents": {
      "get": {
        "operationId": "listParents",
        "summary": "List parents",
        "description": "Returns the list of all parents",
        "tags": [
          "Parents"
        ],
        "parameters": [
          {
            "name": "showDeleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Parent"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/parents/{parentId}": {
      "get": {
        "operationId": "getParent",
        "summary": "Get parent",
        "description": "Returns the details of the specified parent",
        "tags": [
          "Parents"
        ],
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateParent",
        "summary": "Update parent",
        "description": "Updates an existing parent",
        "tags": [
          "Parents"
        ],
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sections": {
      "get": {
        "operationId": "listSections",
        "summary": "List sections",
        "description": "Returns the list of all course sections for the current active semester",
        "tags": [
          "Sections"
        ],
        "parameters": [
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by semester"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSection",
        "summary": "Create section",
        "description": "Creates a course section",
        "tags": [
          "Sections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "classId": {
                    "type": "string"
                  },
                  "sectionName": {
                    "type": "string"
                  },
                  "sectionCode": {
                    "type": "string"
                  },
                  "creditHours": {
                    "type": "number"
                  },
                  "teacherIds": {
                    "type": "string",
                    "description": "JSON array of teacher IDs"
                  }
                },
                "required": [
                  "classId",
                  "sectionName",
                  "sectionCode",
                  "creditHours",
                  "teacherIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sections/{sectionId}": {
      "get": {
        "operationId": "getSection",
        "summary": "Get section",
        "description": "Returns the details of the specified course section",
        "tags": [
          "Sections"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Section details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateSection",
        "summary": "Update section",
        "description": "Updates an existing section",
        "tags": [
          "Sections"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "sectionName": {
                    "type": "string"
                  },
                  "sectionCode": {
                    "type": "string"
                  },
                  "creditHours": {
                    "type": "number"
                  },
                  "teacherIds": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sectionenrollments/{sectionId}": {
      "get": {
        "operationId": "getSectionEnrollments",
        "summary": "Get section enrollments",
        "description": "Returns the enrollments for a specific course section",
        "tags": [
          "SectionEnrollments"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Section enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SectionEnrollment"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "enrollStudentsInSection",
        "summary": "Enroll students in section",
        "description": "Enrolls students into a specific course section",
        "tags": [
          "SectionEnrollments"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentIds": {
                    "type": "string",
                    "description": "JSON array of student IDs"
                  }
                },
                "required": [
                  "studentIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Students enrolled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "unenrollStudentsFromSection",
        "summary": "Unenroll students from section",
        "description": "Unenrolls students from a specific course section",
        "tags": [
          "SectionEnrollments"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studentIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "JSON array of student IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Students unenrolled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sectionenrollments": {
      "post": {
        "operationId": "enrollStudentsInMultipleSections",
        "summary": "Enroll students in multiple sections",
        "description": "Enrolls students into multiple courses at once",
        "tags": [
          "SectionEnrollments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentIds": {
                    "type": "string",
                    "description": "JSON array of student IDs"
                  },
                  "sectionIds": {
                    "type": "string",
                    "description": "JSON array of section IDs"
                  }
                },
                "required": [
                  "studentIds",
                  "sectionIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Students enrolled in multiple sections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sections/{sectionId}/assignments": {
      "get": {
        "operationId": "listAssignments",
        "summary": "List assignments for section",
        "description": "Returns the list of assignments for a course section",
        "tags": [
          "Assignments"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sections/{sectionId}/assignments/{assignmentId}": {
      "get": {
        "operationId": "getAssignment",
        "summary": "Get assignment",
        "description": "Returns details of a specific assignment",
        "tags": [
          "Assignments"
        ],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assignment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/assignments/{assignmentId}/grades": {
      "get": {
        "operationId": "getAssignmentGrades",
        "summary": "Get assignment grades",
        "description": "Returns grades for a specific assignment",
        "tags": [
          "Grades"
        ],
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment grades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Grade"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/grades": {
      "get": {
        "operationId": "listGrades",
        "summary": "List grades",
        "description": "Returns grades",
        "tags": [
          "Grades"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grades list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/students/{studentId}/attendance": {
      "get": {
        "operationId": "getStudentAttendance",
        "summary": "Get student attendance",
        "description": "Returns attendance records for a specific student",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beginDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendanceRecord"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/students/{studentId}/attendance/{date}": {
      "get": {
        "operationId": "getStudentAttendanceByDate",
        "summary": "Get student attendance by date",
        "description": "Returns a single attendance record for a student on a specific date",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setStudentAttendance",
        "summary": "Set student attendance",
        "description": "Sets the attendance for a particular student on a date",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Attendance status (P, A, T, EA, ET)"
                  },
                  "teacherId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "status",
                  "teacherId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attendance set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteStudentAttendance",
        "summary": "Delete student attendance",
        "description": "Deletes the attendance for a particular date for the specified student",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/attendance": {
      "get": {
        "operationId": "listAttendanceDates",
        "summary": "List attendance dates",
        "description": "Returns a paged list of dates for which attendance was taken",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "beginDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/attendance/{date}": {
      "get": {
        "operationId": "getAttendanceByDate",
        "summary": "Get attendance by date",
        "description": "Returns a paged list of each student's attendance for the specified date",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance records for date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setBulkAttendance",
        "summary": "Set bulk attendance",
        "description": "Sets the attendance for a particular date for multiple students",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacherId": {
                    "type": "string"
                  },
                  "attendance": {
                    "type": "string",
                    "description": "JSON array of {studentId, status, description} objects"
                  }
                },
                "required": [
                  "teacherId",
                  "attendance"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attendance set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteBulkAttendance",
        "summary": "Delete bulk attendance",
        "description": "Deletes the attendance for a particular date for multiple students",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "studentIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "JSON array of student IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/roles": {
      "get": {
        "operationId": "listRoles",
        "summary": "List roles",
        "description": "Returns the list of available roles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/roles/user": {
      "get": {
        "operationId": "getUserRoles",
        "summary": "Get user roles",
        "description": "Returns the list of roles assigned to a particular user",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "student",
                "teacher",
                "parent"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "assignUserRoles",
        "summary": "Assign user roles",
        "description": "Assigns and unassigns roles for the specified user",
        "tags": [
          "Roles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "student",
                      "teacher",
                      "parent"
                    ]
                  },
                  "id": {
                    "type": "string"
                  },
                  "roleMetaIdsToAssign": {
                    "type": "string",
                    "description": "JSON array of role meta IDs"
                  },
                  "roleMetaIdsToUnassign": {
                    "type": "string",
                    "description": "JSON array of role meta IDs"
                  }
                },
                "required": [
                  "type",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Roles assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/studentsections/{studentId}": {
      "get": {
        "operationId": "getStudentSections",
        "summary": "Get student sections",
        "description": "Returns the sections a student is enrolled in",
        "tags": [
          "SectionEnrollments"
        ],
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student sections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/self": {
      "get": {
        "operationId": "getSelf",
        "summary": "Get current user",
        "description": "Returns the details of the logged in user",
        "tags": [
          "Self"
        ],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key for authentication. Can also use OAuth access token."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - user is not authenticated or lacks permission",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PagedList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "numberOfItems": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "numberOfPages": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "list": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PagedStudentList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "numberOfItems": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "numberOfPages": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Student"
            }
          }
        }
      },
      "SchoolGroup": {
        "type": "object",
        "properties": {
          "isPartOfSchoolGroup": {
            "type": "boolean"
          },
          "schoolGroupId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "billingSchoolId": {
            "type": "string"
          }
        }
      },
      "School": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "schoolCode": {
            "type": "string"
          },
          "schoolName": {
            "type": "string"
          },
          "principalName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Semester": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "semesterName": {
            "type": "string"
          },
          "yearId": {
            "type": "string"
          },
          "yearName": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "Class": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sortOrder": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "abbreviation": {
            "type": "string"
          }
        }
      },
      "Homeroom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "classId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "abbreviation": {
            "type": "string"
          },
          "homeroomTeacherName": {
            "type": "string"
          },
          "homeroomTeacherId": {
            "type": "string"
          }
        }
      },
      "Teacher": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          }
        }
      },
      "TeacherInput": {
        "type": "object",
        "properties": {
          "teacherName": {
            "type": "string"
          },
          "preferredName": {
            "type": "string"
          },
          "employeeNumber": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "teacherInitials": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          },
          "nationality": {
            "type": "string"
          },
          "maritalStatus": {
            "type": "string"
          },
          "employmentDate": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "cellPhone": {
            "type": "string"
          },
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "Student": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "preferredName": {
            "type": "string"
          },
          "classId": {
            "type": "string"
          },
          "classCode": {
            "type": "string"
          },
          "className": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          }
        }
      },
      "StudentInput": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "studentId": {
            "type": "string",
            "description": "Student number"
          },
          "preferredName": {
            "type": "string"
          },
          "enrollmentDate": {
            "type": "string",
            "format": "date"
          },
          "grade": {
            "type": "string"
          },
          "homeroomTeacherFullName": {
            "type": "string"
          },
          "homeroomName": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "fullAddress": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "cellPhone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "parent1Name": {
            "type": "string"
          },
          "parent1Relationship": {
            "type": "string"
          },
          "parent1Email": {
            "type": "string",
            "format": "email"
          },
          "parent1HomePhone": {
            "type": "string"
          },
          "parent1CellPhone": {
            "type": "string"
          }
        }
      },
      "Parent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          }
        }
      },
      "ParentInput": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "cellPhone": {
            "type": "string"
          },
          "homePhone": {
            "type": "string"
          },
          "businessPhone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Section": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sectionCode": {
            "type": "string"
          },
          "sectionName": {
            "type": "string"
          },
          "classId": {
            "type": "string"
          },
          "className": {
            "type": "string"
          },
          "teachers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "fullName": {
                  "type": "string"
                },
                "employeeNumber": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SectionEnrollment": {
        "type": "object",
        "properties": {
          "studentId": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "sectionId": {
            "type": "string"
          }
        }
      },
      "Assignment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "assignmentName": {
            "type": "string"
          },
          "sectionId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "maxPoints": {
            "type": "number"
          }
        }
      },
      "Grade": {
        "type": "object",
        "properties": {
          "studentId": {
            "type": "string"
          },
          "assignmentId": {
            "type": "string"
          },
          "grade": {
            "type": "string"
          },
          "points": {
            "type": "number"
          }
        }
      },
      "AttendanceRecord": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "description": "P (Present), A (Absent), T (Tardy), EA (Excused Absent), ET (Excused Tardy)"
          },
          "studentId": {
            "type": "string"
          },
          "remarks": {
            "type": "string"
          },
          "periods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "periodIndex": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                },
                "remarks": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "metaId": {
            "type": "string"
          },
          "roleName": {
            "type": "string"
          }
        }
      },
      "SelfUser": {
        "type": "object",
        "properties": {
          "address": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "fullName": {
            "type": "string"
          },
          "personType": {
            "type": "string",
            "enum": [
              "Student",
              "Parent",
              "Teacher"
            ]
          },
          "studentId": {
            "type": "string"
          },
          "parentId": {
            "type": "string"
          },
          "teacherId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "SchoolGroups",
      "description": "School group management"
    },
    {
      "name": "Schools",
      "description": "School information"
    },
    {
      "name": "Semesters",
      "description": "Semester management"
    },
    {
      "name": "Classes",
      "description": "Class/grade level management"
    },
    {
      "name": "Homerooms",
      "description": "Homeroom management"
    },
    {
      "name": "Teachers",
      "description": "Teacher management"
    },
    {
      "name": "Students",
      "description": "Student management"
    },
    {
      "name": "Parents",
      "description": "Parent management"
    },
    {
      "name": "Sections",
      "description": "Course section management"
    },
    {
      "name": "SectionEnrollments",
      "description": "Section enrollment management"
    },
    {
      "name": "Assignments",
      "description": "Assignment management"
    },
    {
      "name": "Grades",
      "description": "Grade management"
    },
    {
      "name": "Attendance",
      "description": "Attendance management"
    },
    {
      "name": "Roles",
      "description": "Role management"
    },
    {
      "name": "Self",
      "description": "Current user info"
    }
  ]
}