{
  "openapi": "3.0.3",
  "info": {
    "title": "Billsby API",
    "description": "Billsby subscription billing API. Manage customers, subscriptions, invoices, products, plans, cycles, add-ons, allowances, custom fields, and credit notes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://support.billsby.com/reference"
  },
  "servers": [
    {
      "url": "https://public.billsby.com/api/v1/rest/core",
      "description": "Billsby API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Subscriptions"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Credit Notes"
    },
    {
      "name": "Products"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Cycles"
    },
    {
      "name": "Add-ons"
    },
    {
      "name": "Allowances"
    },
    {
      "name": "Counters"
    },
    {
      "name": "Custom Fields"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "operationId": "listCustomers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create customer without subscription",
        "operationId": "createCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created"
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer details",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details"
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete customer",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted"
          }
        }
      }
    },
    "/customers/{customerId}/subscriptions": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer subscriptions",
        "operationId": "getCustomerSubscriptions",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions"
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Add subscription to existing customer",
        "operationId": "addSubscriptionToCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "integer"
                  },
                  "cycleId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created"
          }
        }
      }
    },
    "/customers/{customerId}/feature-tags": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer feature tags",
        "operationId": "getCustomerFeatureTags",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tags"
          }
        }
      }
    },
    "/customers/{customerId}/payment-logs": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer payment logs",
        "operationId": "getCustomerPaymentLogs",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment logs"
          }
        }
      }
    },
    "/customers/{customerId}/payment-update-request": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Request to update payment details",
        "operationId": "getPaymentUpdateRequest",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment update request"
          }
        }
      }
    },
    "/customers/{customerId}/payment-details": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update payment card token",
        "operationId": "updatePaymentDetails",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment details updated"
          }
        }
      }
    },
    "/customers/{customerId}/one-time-charge": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a one-time charge",
        "operationId": "createOneTimeCharge",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created"
          }
        }
      }
    },
    "/customers/{customerId}/gdpr": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Clear customer data (GDPR)",
        "operationId": "clearCustomerData",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer data cleared"
          }
        }
      }
    },
    "/customers/{customerId}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get customer invoices",
        "operationId": "getCustomerInvoices",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer invoices"
          }
        }
      }
    },
    "/customers/{customerId}/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get customer credit notes",
        "operationId": "getCustomerCreditNotes",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer credit notes"
          }
        }
      }
    },
    "/customers/{customerId}/custom-fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Get customer custom field responses",
        "operationId": "getCustomerCustomFields",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field responses"
          }
        }
      },
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Update customer custom field responses",
        "operationId": "updateCustomerCustomFields",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom fields updated"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "operationId": "listSubscriptions",
        "responses": {
          "200": {
            "description": "List of subscriptions"
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create new customer and subscription",
        "operationId": "createSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInput"
                  },
                  "planId": {
                    "type": "integer"
                  },
                  "cycleId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer and subscription created"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get subscription details",
        "operationId": "getSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details"
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Cancel subscription",
        "operationId": "cancelSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription cancelled"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/shipping-address": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get shipping address",
        "operationId": "getShippingAddress",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipping address"
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update shipping address",
        "operationId": "updateShippingAddress",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipping address updated"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/feature-tags": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get subscription feature tags",
        "operationId": "getSubscriptionFeatureTags",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tags"
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Add feature tags",
        "operationId": "addFeatureTags",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature tags added"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/feature-tags/{tagId}": {
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Delete feature tag",
        "operationId": "deleteFeatureTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tag deleted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/event-logs": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get event logs",
        "operationId": "getEventLogs",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event logs"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/plan": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Change plan",
        "operationId": "changePlan",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "integer"
                  },
                  "cycleId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/renewal-date": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update next renewal date",
        "operationId": "updateRenewalDate",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "renewalDate": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renewal date updated"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/add-ons": {
      "get": {
        "tags": [
          "Add-ons"
        ],
        "summary": "Get add-ons for subscription",
        "operationId": "getSubscriptionAddOns",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription add-ons"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/allowances": {
      "get": {
        "tags": [
          "Allowances"
        ],
        "summary": "Get allowances for subscription",
        "operationId": "getSubscriptionAllowances",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription allowances"
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get company invoices",
        "operationId": "getCompanyInvoices",
        "responses": {
          "200": {
            "description": "Company invoices"
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get individual invoice",
        "operationId": "getInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details"
          }
        }
      }
    },
    "/invoices/{invoiceId}/refund": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Refund an invoice",
        "operationId": "refundInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice refunded"
          }
        }
      }
    },
    "/invoices/{invoiceId}/reattempt": {
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Reattempt invoice payment",
        "operationId": "reattemptInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment reattempted"
          }
        }
      }
    },
    "/invoices/{invoiceId}/paid-offline": {
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Mark invoice as paid offline",
        "operationId": "markPaidOffline",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice marked as paid offline"
          }
        }
      }
    },
    "/invoices/{invoiceId}/written-off": {
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Write off invoice",
        "operationId": "writeOffInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice written off"
          }
        }
      }
    },
    "/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get company credit notes",
        "operationId": "getCompanyCreditNotes",
        "responses": {
          "200": {
            "description": "Company credit notes"
          }
        }
      }
    },
    "/credit-notes/{creditNoteId}/reattempt": {
      "put": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Reattempt credit note payment",
        "operationId": "reattemptCreditNote",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit note payment reattempted"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List products",
        "operationId": "listProducts",
        "responses": {
          "200": {
            "description": "List of products"
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a product",
        "operationId": "createProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created"
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product details",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details"
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update a product",
        "operationId": "updateProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plans",
        "operationId": "listPlans",
        "responses": {
          "200": {
            "description": "List of plans"
          }
        }
      },
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Create a plan",
        "operationId": "createPlan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "productId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plan created"
          }
        }
      }
    },
    "/plans/{planId}": {
      "put": {
        "tags": [
          "Plans"
        ],
        "summary": "Update a plan and cycle",
        "operationId": "updatePlan",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan updated"
          }
        }
      }
    },
    "/plans/order": {
      "put": {
        "tags": [
          "Plans"
        ],
        "summary": "Update plan order",
        "operationId": "updatePlanOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan order updated"
          }
        }
      }
    },
    "/cycles": {
      "post": {
        "tags": [
          "Cycles"
        ],
        "summary": "Create a cycle",
        "operationId": "createCycle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "integer"
                  },
                  "billingInterval": {
                    "type": "string"
                  },
                  "billingIntervalCount": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cycle created"
          }
        }
      }
    },
    "/add-ons": {
      "get": {
        "tags": [
          "Add-ons"
        ],
        "summary": "List available add-ons",
        "operationId": "listAddOns",
        "responses": {
          "200": {
            "description": "List of add-ons"
          }
        }
      }
    },
    "/add-ons/{addOnId}": {
      "get": {
        "tags": [
          "Add-ons"
        ],
        "summary": "Get add-on details",
        "operationId": "getAddOn",
        "parameters": [
          {
            "name": "addOnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add-on details"
          }
        }
      }
    },
    "/allowances": {
      "get": {
        "tags": [
          "Allowances"
        ],
        "summary": "List available allowances",
        "operationId": "listAllowances",
        "responses": {
          "200": {
            "description": "List of allowances"
          }
        }
      }
    },
    "/allowances/{allowanceId}": {
      "get": {
        "tags": [
          "Allowances"
        ],
        "summary": "Get allowance details",
        "operationId": "getAllowance",
        "parameters": [
          {
            "name": "allowanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Allowance details"
          }
        }
      }
    },
    "/counters/{counterId}": {
      "get": {
        "tags": [
          "Counters"
        ],
        "summary": "Get counter value",
        "operationId": "getCounter",
        "parameters": [
          {
            "name": "counterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Counter value"
          }
        }
      },
      "post": {
        "tags": [
          "Counters"
        ],
        "summary": "Update counter",
        "operationId": "updateCounter",
        "parameters": [
          {
            "name": "counterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Counter updated"
          }
        }
      }
    },
    "/custom-fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "List custom fields",
        "operationId": "listCustomFields",
        "responses": {
          "200": {
            "description": "List of custom fields"
          }
        }
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Create custom field",
        "operationId": "createCustomField",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created"
          }
        }
      }
    },
    "/custom-fields/{customFieldId}": {
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Update custom field",
        "operationId": "updateCustomField",
        "parameters": [
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "companyName": {
            "type": "string"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerInput": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "companyName": {
            "type": "string"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          }
        }
      }
    }
  }
}