{
  "openapi": "3.0.3",
  "info": {
    "title": "Billsby API",
    "description": "The Billsby API allows you to programmatically manage customers, subscriptions, invoices, products, plans, and more in your Billsby account.",
    "version": "1.0.0",
    "contact": {
      "name": "Billsby Support",
      "url": "https://support.billsby.com"
    }
  },
  "servers": [
    {
      "url": "https://api.billsby.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Customer management operations"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription management operations"
    },
    {
      "name": "Invoices",
      "description": "Invoice and credit note operations"
    },
    {
      "name": "Products",
      "description": "Product, plan, and cycle management"
    },
    {
      "name": "Add-ons",
      "description": "Add-on and allowance management"
    },
    {
      "name": "Custom Fields",
      "description": "Custom field management"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "tags": ["Customers"],
        "summary": "List customers",
        "description": "Retrieve a list of all customers",
        "operationId": "listCustomers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Customers"],
        "summary": "Create customer without subscription",
        "description": "Create a new customer without an associated subscription",
        "operationId": "createCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": ["Customers"],
        "summary": "Get customer details",
        "description": "Retrieve details for a specific customer",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Customers"],
        "summary": "Update customer",
        "description": "Update an existing customer's details",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Customers"],
        "summary": "Delete customer",
        "description": "Delete a customer",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully"
          }
        }
      }
    },
    "/customers/{customerId}/subscriptions": {
      "get": {
        "tags": ["Customers"],
        "summary": "Get customer subscriptions",
        "description": "Retrieve all subscriptions for a customer",
        "operationId": "getCustomerSubscriptions",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/charges": {
      "post": {
        "tags": ["Customers"],
        "summary": "Create one-time charge",
        "description": "Create a one-time charge for a customer",
        "operationId": "createCharge",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Charge amount"
                  },
                  "description": {
                    "type": "string",
                    "description": "Charge description"
                  }
                },
                "required": ["amount"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Charge created successfully"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "List subscriptions",
        "description": "Retrieve a list of all subscriptions",
        "operationId": "listSubscriptions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Create subscription with new customer",
        "description": "Create a new subscription and customer",
        "operationId": "createSubscriptionWithCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "Get subscription details",
        "description": "Retrieve details for a specific subscription",
        "operationId": "getSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "The subscription ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "summary": "Cancel subscription",
        "description": "Cancel an active subscription",
        "operationId": "cancelSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "The subscription ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription cancelled successfully"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/plan": {
      "put": {
        "tags": ["Subscriptions"],
        "summary": "Change subscription plan",
        "description": "Change the plan for an existing subscription",
        "operationId": "changeSubscriptionPlan",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "The subscription ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "string",
                    "description": "New plan ID"
                  }
                },
                "required": ["planId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed successfully"
          }
        }
      }
    },
    "/invoices/customer/{customerId}": {
      "get": {
        "tags": ["Invoices"],
        "summary": "Get customer invoices",
        "description": "Retrieve all invoices for a customer",
        "operationId": "getCustomerInvoices",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "tags": ["Invoices"],
        "summary": "Get invoice",
        "description": "Retrieve a specific invoice",
        "operationId": "getInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "description": "The invoice ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}/refund": {
      "post": {
        "tags": ["Invoices"],
        "summary": "Refund invoice",
        "description": "Issue a refund for an invoice",
        "operationId": "refundInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "description": "The invoice ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Refund amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed successfully"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "description": "Retrieve all products",
        "operationId": "listProducts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create product",
        "description": "Create a new product",
        "operationId": "createProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product details",
        "description": "Retrieve details for a specific product",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "The product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Products"],
        "summary": "Update product",
        "description": "Update an existing product",
        "operationId": "updateProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "The product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "tags": ["Products"],
        "summary": "List plans",
        "description": "Retrieve all plans",
        "operationId": "listPlans",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create plan",
        "description": "Create a new plan",
        "operationId": "createPlan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plan created successfully"
          }
        }
      }
    },
    "/custom-fields": {
      "get": {
        "tags": ["Custom Fields"],
        "summary": "List custom fields",
        "description": "Retrieve all custom fields",
        "operationId": "listCustomFields",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customFields": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomField"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Custom Fields"],
        "summary": "Create custom field",
        "description": "Create a new custom field",
        "operationId": "createCustomField",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication. Add your API key from Settings > Configuration > API keys and webhooks"
      }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique customer identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "company": {
            "type": "string",
            "description": "Company name",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Customer creation timestamp"
          }
        }
      },
      "CustomerCreate": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "company": {
            "type": "string",
            "description": "Company name",
            "nullable": true
          }
        }
      },
      "CustomerUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "company": {
            "type": "string",
            "description": "Company name",
            "nullable": true
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique subscription identifier"
          },
          "customerId": {
            "type": "string",
            "description": "Associated customer ID"
          },
          "planId": {
            "type": "string",
            "description": "Current plan ID"
          },
          "status": {
            "type": "string",
            "enum": ["active", "cancelled", "expired", "paused"],
            "description": "Subscription status"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Subscription start date"
          },
          "nextRenewalDate": {
            "type": "string",
            "format": "date",
            "description": "Next renewal date",
            "nullable": true
          }
        }
      },
      "SubscriptionCreate": {
        "type": "object",
        "required": ["planId", "customer"],
        "properties": {
          "planId": {
            "type": "string",
            "description": "Plan ID"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerCreate"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique invoice identifier"
          },
          "customerId": {
            "type": "string",
            "description": "Associated customer ID"
          },
          "amount": {
            "type": "number",
            "description": "Invoice amount"
          },
          "status": {
            "type": "string",
            "enum": ["paid", "unpaid", "refunded", "written_off"],
            "description": "Invoice status"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "Invoice due date"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Invoice creation timestamp"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique product identifier"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Product creation timestamp"
          }
        }
      },
      "ProductCreate": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description",
            "nullable": true
          }
        }
      },
      "ProductUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description",
            "nullable": true
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique plan identifier"
          },
          "productId": {
            "type": "string",
            "description": "Associated product ID"
          },
          "name": {
            "type": "string",
            "description": "Plan name"
          },
          "price": {
            "type": "number",
            "description": "Plan price"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          }
        }
      },
      "PlanCreate": {
        "type": "object",
        "required": ["productId", "name", "price"],
        "properties": {
          "productId": {
            "type": "string",
            "description": "Associated product ID"
          },
          "name": {
            "type": "string",
            "description": "Plan name"
          },
          "price": {
            "type": "number",
            "description": "Plan price"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "default": "USD"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique custom field identifier"
          },
          "name": {
            "type": "string",
            "description": "Field name"
          },
          "type": {
            "type": "string",
            "enum": ["text", "number", "boolean", "date"],
            "description": "Field data type"
          }
        }
      },
      "CustomFieldCreate": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name"
          },
          "type": {
            "type": "string",
            "enum": ["text", "number", "boolean", "date"],
            "description": "Field data type"
          }
        }
      }
    }
  }
}
