{
  "openapi": "3.0.3",
  "info": {
    "title": "Respaid API",
    "description": "Respaid helps you collect your unsettled receivables using AI, achieved amicably, preserving your brand and client relationships. This API provides Zapier integration endpoints for campaign management, webhook subscriptions, and user information.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.respaid.com"
  },
  "servers": [
    {
      "url": "https://backend.widr.app",
      "description": "Respaid API server"
    }
  ],
  "paths": {
    "/api/zapier/actions/gmail": {
      "post": {
        "operationId": "createDemoCampaign",
        "summary": "Create demo campaign",
        "description": "Creates a new demo campaign via Gmail integration.",
        "tags": [
          "Actions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/actions/cancel_process": {
      "post": {
        "operationId": "cancelProcessSequence",
        "summary": "Cancel processing the sequence",
        "description": "Cancels the processing of a sequence identified by its code, with a specified reason.",
        "tags": [
          "Actions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sequence processing cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/webhook/subscribe": {
      "post": {
        "operationId": "subscribeToEvent",
        "summary": "Subscribe to an event",
        "description": "Subscribes to a specific event type by providing a target URL for webhook delivery.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully subscribed to the event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/webhook/unsubscribe": {
      "delete": {
        "operationId": "unsubscribeFromEvent",
        "summary": "Unsubscribe from an event",
        "description": "Unsubscribes from a previously subscribed webhook event.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unsubscribed from the event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/webhook/list": {
      "get": {
        "operationId": "listWebhookEvents",
        "summary": "List webhook events",
        "description": "Retrieves a list of webhook events filtered by type.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "The type of events to list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEventListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid type parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user information",
        "description": "Retrieves information about the currently authenticated user.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Tokens are generated from the Respaid user dashboard."
      }
    },
    "schemas": {
      "CancelProcessRequest": {
        "type": "object",
        "required": [
          "code",
          "reason"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "The code identifying the sequence to cancel"
          },
          "reason": {
            "type": "string",
            "description": "The reason for cancelling the sequence"
          }
        }
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "required": [
          "event_type",
          "target_url"
        ],
        "properties": {
          "event_type": {
            "type": "string",
            "description": "The type of event to subscribe to"
          },
          "target_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to receive webhook notifications"
          }
        }
      },
      "ActionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the action was successful"
          },
          "message": {
            "type": "string",
            "description": "A message describing the result"
          }
        }
      },
      "WebhookSubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The subscription identifier"
          },
          "event_type": {
            "type": "string",
            "description": "The subscribed event type"
          },
          "target_url": {
            "type": "string",
            "format": "uri",
            "description": "The target URL for webhook delivery"
          }
        }
      },
      "WebhookEventListResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            },
            "description": "List of webhook events"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The event identifier"
          },
          "type": {
            "type": "string",
            "description": "The event type"
          },
          "target_url": {
            "type": "string",
            "format": "uri",
            "description": "The target URL for the event"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The user identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The user's email address"
          },
          "name": {
            "type": "string",
            "description": "The user's name"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "message": {
            "type": "string",
            "description": "Additional details about the error"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Actions",
      "description": "Campaign and process management actions"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    },
    {
      "name": "User",
      "description": "User information"
    }
  ]
}