{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Warehouse Management System",
    "title": "WMS API",
    "contact": {},
    "version": "2.2.1",
    "x-jentic-source-url": "https://learn-api.erply.com/new-apis/wms-api"
  },
  "host": "wms-api.erply.com",
  "basePath": "/",
  "paths": {
    "/v1/analytics": {
      "post": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "The `eventType` can be one of the following: `START` for start order process, `END` for end of oreder process, `IN`, `OUT`, `REPLACE`, `RETURN`, `EXPIRED`\nYou can send any event if and only if the `START` event has been sent and after `END` event you can not send anything\n\nThe `documentType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.\n\nIn case of `START` or `END` events binInventoryRecordId value can be 0",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Analytics events"
        ],
        "summary": "Add analytics events",
        "operationId": "addAnalyticsEvents",
        "parameters": [
          {
            "description": "Event",
            "name": "Event",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/analyticsmodels.CreateBinInventoryEvent"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/analyticsmodels.TBinInventoryEvent"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/analytics/bin-replacement-efficiency": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Analytics events"
        ],
        "summary": "Get bin replacement efficiency",
        "operationId": "getBinReplacementEfficiency",
        "parameters": [
          {
            "type": "string",
            "description": "Employee IDs in comma seperated format",
            "name": "employeeIds",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start timestamp. Format: Unix time",
            "name": "endTimestamp",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start timestamp. Format: Unix time",
            "name": "startTimestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Warehouse IDs in comma seperated format",
            "name": "warehouseIds",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/analyticsmodels.BinReplacementEfficiency"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/analytics/inbound-efficiency": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Analytics events"
        ],
        "summary": "Get inbound efficiency",
        "operationId": "getInboundEfficiency",
        "parameters": [
          {
            "type": "string",
            "description": "Bin codes in comma seperated format",
            "name": "binCodes",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End timestamp. Format: Unix time",
            "name": "endTimestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Product IDs in comma seperated format",
            "name": "productIds",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start timestamp. Format: Unix time",
            "name": "startTimestamp",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/analyticsmodels.InboundEfficiency"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/analytics/picking-efficiency": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Analytics events"
        ],
        "summary": "Get picking efficiency",
        "operationId": "getPickingEfficiency",
        "parameters": [
          {
            "type": "string",
            "description": "Bin codes in comma seperated format",
            "name": "binCodes",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start timestamp. Format: Unix time",
            "name": "endTimestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Product IDs in comma seperated format",
            "name": "productIds",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start timestamp. Format: Unix time",
            "name": "startTimestamp",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/analyticsmodels.PickingEfficiency"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/analytics/product-picking-efficiency": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Analytics events"
        ],
        "summary": "Get product picking efficiency",
        "operationId": "getProductPickingEfficiency",
        "parameters": [
          {
            "type": "string",
            "description": "Employee IDs in comma seperated format",
            "name": "employeeIds",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End timestamp. Format: Unix time",
            "name": "endTimestamp",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start timestamp. Format: Unix time",
            "name": "startTimestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Warehouse IDs in comma seperated format",
            "name": "warehouseIds",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/analyticsmodels.ProductPickingEfficiency"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/analytics/{documentId}/{documentType}": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "The `documentType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Analytics events"
        ],
        "summary": "Get summary",
        "operationId": "getSummary",
        "parameters": [
          {
            "type": "integer",
            "description": "Document Id",
            "name": "documentId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Document Type",
            "name": "documentType",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/analyticsmodels.BinInventorySummary"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/batch": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get list of batches",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Batch"
        ],
        "summary": "Get list of batches",
        "operationId": "getBatchList",
        "parameters": [
          {
            "type": "string",
            "name": "batchCode",
            "in": "query"
          },
          {
            "type": "string",
            "name": "productId",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/batchmodels.TBinInventoryBatch"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Create a new batch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Batch"
        ],
        "summary": "Create a new batch",
        "operationId": "addBatch",
        "parameters": [
          {
            "description": "Batch",
            "name": "Batch",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/batchmodels.BatchCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/batchmodels.TBinInventoryBatch"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/batch/{id}": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get Bin by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Batch"
        ],
        "summary": "Get Batch by Id",
        "operationId": "getBatchById",
        "parameters": [
          {
            "type": "integer",
            "description": "Batch Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/batchmodels.TBinInventoryBatch"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Update batch and add batch codes. Leave \"batchId\" empty if you want to add more batch codes.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Batch"
        ],
        "summary": "Update batch and codes",
        "operationId": "updateBatch",
        "parameters": [
          {
            "type": "integer",
            "description": "Batch Id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Batch",
            "name": "Batch",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/batchmodels.BatchUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/batchmodels.TBinInventoryBatch"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Delete batch and batch codes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Batch"
        ],
        "summary": "Delete batch and batch codes",
        "operationId": "deleteBatch",
        "parameters": [
          {
            "type": "integer",
            "description": "Batch Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.OperationInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get Bin List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Get Bin list",
        "operationId": "getBinList",
        "parameters": [
          {
            "type": "boolean",
            "name": "active",
            "in": "query"
          },
          {
            "type": "string",
            "name": "aisle",
            "in": "query"
          },
          {
            "type": "string",
            "name": "allowedProduct",
            "in": "query"
          },
          {
            "type": "string",
            "name": "code",
            "in": "query"
          },
          {
            "type": "string",
            "name": "equipmentNeeded",
            "in": "query"
          },
          {
            "type": "string",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "name": "order",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "name": "preferred",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "warehouseId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/binmodels.TBin"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Add Bin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Add Bin",
        "operationId": "addBin",
        "parameters": [
          {
            "description": "Bin",
            "name": "Bin",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/binmodels.TBin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/binmodels.TBin"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin-inventory": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Possible to order by field and sort by ASC or DESC. Add order like that ?order=binId ASC\nSearch multiple binID's and productID's like that ?binId=1,3,5,6&productId=2,5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory"
        ],
        "summary": "Get list of bin inventories",
        "operationId": "getBinInventoryList",
        "parameters": [
          {
            "type": "boolean",
            "name": "aggregateBySerialNo",
            "in": "query"
          },
          {
            "type": "string",
            "name": "binId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "minimumAmount",
            "in": "query"
          },
          {
            "type": "string",
            "name": "order",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "name": "preferred",
            "in": "query"
          },
          {
            "type": "string",
            "name": "productId",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "showBatchesQuantities",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "showLotQuantities",
            "in": "query"
          },
          {
            "type": "string",
            "name": "warehouseId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bininventorymodels.LBinInventoryRes"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin-inventory-record": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get bin inventory record list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "summary": "Get bin inventory record list",
        "operationId": "getBinInventoryRecordList",
        "parameters": [
          {
            "type": "string",
            "description": "Inclusive",
            "name": "addedFrom",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Inclusive",
            "name": "addedTo",
            "in": "query"
          },
          {
            "type": "string",
            "name": "binId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "bundleId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "name": "order",
            "in": "query"
          },
          {
            "type": "string",
            "name": "packageId",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "name": "productId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "referenceId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "referenceType",
            "in": "query"
          },
          {
            "type": "string",
            "name": "serialNo",
            "in": "query"
          },
          {
            "type": "string",
            "name": "warehouseId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bininventoryrecordmodels.BinInventoryRecordListItem"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "The `referenceType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.\nIf you add `referenceType`, then `referenceId` parameter is a mandatory field. Or, if you add `referenceId`, then `referenceType` parameter is a mandatory field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "summary": "Create Bin inventory record",
        "operationId": "createBinInventoryRecord",
        "parameters": [
          {
            "description": "Record",
            "name": "BinInventoryRecord",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bininventoryrecordmodels.CreateBinInventoryRecord"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bininventoryrecordmodels.CreateBinInventoryRecord"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin-inventory-record/bulk": {
      "delete": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Bin Inventory Record bulk delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "summary": "Bin Inventory Record bulk delete",
        "operationId": "deleteBulkBinInventoryRecord",
        "parameters": [
          {
            "description": "Bin Inventory records Ids",
            "name": "id",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bininventoryrecordmodels.BinInventoryRecordBulkDelete"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.OperationStatusWithID"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin-inventory-record/{id}": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get bin inventory records",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "summary": "Get bin inventory records",
        "operationId": "getBinInventoryRecordById",
        "parameters": [
          {
            "type": "integer",
            "description": "Bin inventory record ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/bininventoryrecordmodels.BinInventoryRecordListItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "The `referenceType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.\nIf you add `referenceType`, then `referenceId` parameter is a mandatory field. Or, if you add `referenceId`, then `referenceType` parameter is a mandatory field.\nNB: The following fields cannot be updated: `ID`, `BinID`, `ProductID`, `BatchID`, `Amount`.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "summary": "Update bin inventory record",
        "operationId": "updateBinInventoryRecord",
        "parameters": [
          {
            "type": "integer",
            "description": "bin inventory record ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "JSON object",
            "name": "batch",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/bininventoryrecordmodels.UpdateBinInventoryRecord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/bininventoryrecordmodels.UpdateBinInventoryRecord"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Delete Bin Inventory Record",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "summary": "Delete Bin Inventory Record",
        "operationId": "deleteBinInventoryRecord",
        "parameters": [
          {
            "type": "integer",
            "description": "Bin Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.OperationInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin/bulk": {
      "put": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Bulk bin update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Bulk bin update",
        "operationId": "bulkUpdateBin",
        "parameters": [
          {
            "description": "Bin",
            "name": "Bin",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/binmodels.BinBulkUpdate"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.OperationStatusWithID"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Bulk bin add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Bulk bin add",
        "operationId": "bulkAddBin",
        "parameters": [
          {
            "description": "Bin",
            "name": "Bin",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/binmodels.TBin"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.OperationStatusWithID"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/bin/{id}": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get Bin by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Get Bin",
        "operationId": "getBinById",
        "parameters": [
          {
            "type": "integer",
            "description": "Bin Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/binmodels.TBin"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Update Bin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Update Bin",
        "operationId": "updateBin",
        "parameters": [
          {
            "type": "integer",
            "description": "Bin Id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Bin",
            "name": "Bin",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/binmodels.BinUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/binmodels.TBin"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Delete Bin by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bin"
        ],
        "summary": "Delete Bin",
        "operationId": "deleteBin",
        "parameters": [
          {
            "type": "integer",
            "description": "Bin Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/binmodels.BinID"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/stocktaking": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get list of Stocktaking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktaking"
        ],
        "summary": "Get list of Stocktaking",
        "operationId": "getStocktakingList",
        "parameters": [
          {
            "type": "integer",
            "name": "binId",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "finished",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "userId",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "warehouseId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stocktakingmodels.TStocktaking"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Create stocktaking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktaking"
        ],
        "summary": "Create stocktaking",
        "operationId": "addStocktaking",
        "parameters": [
          {
            "description": "Stocktaking",
            "name": "Stocktaking",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stocktakingmodels.StocktakingCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/stocktakingmodels.TStocktaking"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/stocktaking/{id}": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get Stocktaking by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktaking"
        ],
        "summary": "Get Stocktaking",
        "operationId": "getStocktakingById",
        "parameters": [
          {
            "type": "integer",
            "description": "Stocktaking Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/stocktakingmodels.TStocktaking"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Update Stocktaking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktaking"
        ],
        "summary": "Update Stocktaking",
        "operationId": "updateStocktaking",
        "parameters": [
          {
            "type": "integer",
            "description": "Bin Id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Stocktaking",
            "name": "Stocktaking",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stocktakingmodels.StocktakingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/stocktakingmodels.TStocktaking"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Delete Stocktaking by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktaking"
        ],
        "summary": "Delete Stocktaking",
        "operationId": "deleteStocktaking",
        "parameters": [
          {
            "type": "integer",
            "description": "Stocktaking Id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.OperationInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    },
    "/v1/stocktaking/{id}/stocktaking-record": {
      "get": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Get list of Stocktaking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "StocktakingRecord"
        ],
        "summary": "Get list of Stocktaking",
        "operationId": "getStocktakingRecordList",
        "parameters": [
          {
            "type": "integer",
            "description": "Stocktaking ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Batch ID",
            "name": "batchId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Product ID",
            "name": "productId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stocktakingrecordmodels.TStocktakingRecord"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "description": "Update Stocktaking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "StocktakingRecord"
        ],
        "summary": "Update Stocktaking",
        "operationId": "updateStocktakingRecord",
        "parameters": [
          {
            "type": "integer",
            "description": "Stocktaking Id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "StocktakingRecord",
            "name": "StocktakingRecord",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stocktakingrecordmodels.StocktakingRecordUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/stocktakingrecordmodels.TStocktakingRecord"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/cerrors.ErrorResp"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "analyticsmodels.BinInventorySummary": {
      "type": "object",
      "properties": {
        "averageProcessDuration": {
          "type": "integer"
        },
        "closeTimestamp": {
          "type": "integer"
        },
        "openTimestamp": {
          "type": "integer"
        },
        "processDuration": {
          "type": "integer"
        },
        "status": {
          "type": "string"
        },
        "summary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/analyticsmodels.BinInventorySummaryItem"
          }
        }
      }
    },
    "analyticsmodels.BinInventorySummaryItem": {
      "type": "object",
      "properties": {
        "duration": {
          "type": "integer"
        },
        "employeeId": {
          "type": "integer"
        },
        "eventType": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "referenceRecordId": {
          "type": "integer"
        },
        "timestamp": {
          "type": "integer"
        }
      }
    },
    "analyticsmodels.BinReplacementEfficiency": {
      "type": "object",
      "properties": {
        "averageReplaceTime": {
          "type": "integer"
        },
        "employeeId": {
          "type": "integer"
        },
        "productId": {
          "type": "integer"
        },
        "replacedQuantity": {
          "type": "string"
        },
        "totalReplaceTime": {
          "type": "integer"
        }
      }
    },
    "analyticsmodels.CreateBinInventoryEvent": {
      "type": "object",
      "properties": {
        "binInventoryRecordId": {
          "type": "integer"
        },
        "documentId": {
          "type": "integer"
        },
        "documentType": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        }
      }
    },
    "analyticsmodels.InboundEfficiency": {
      "type": "object",
      "properties": {
        "binCode": {
          "type": "string"
        },
        "documentId": {
          "type": "integer"
        },
        "documentType": {
          "type": "string"
        },
        "duration": {
          "type": "integer"
        },
        "employeeId": {
          "type": "integer"
        },
        "openTimestamp": {
          "type": "integer"
        },
        "orderPickingTotalTime": {
          "type": "integer"
        },
        "pickTimestamp": {
          "type": "integer"
        },
        "pickedQuantity": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        }
      }
    },
    "analyticsmodels.PickingEfficiency": {
      "type": "object",
      "properties": {
        "binCode": {
          "type": "string"
        },
        "documentId": {
          "type": "integer"
        },
        "documentType": {
          "type": "string"
        },
        "duration": {
          "type": "integer"
        },
        "employeeId": {
          "type": "integer"
        },
        "openTimestamp": {
          "type": "integer"
        },
        "orderPickingTotalTime": {
          "type": "integer"
        },
        "pickTimestamp": {
          "type": "integer"
        },
        "pickedQuantity": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        }
      }
    },
    "analyticsmodels.ProductPickingEfficiency": {
      "type": "object",
      "properties": {
        "averagePickingTime": {
          "type": "integer"
        },
        "employeeId": {
          "type": "integer"
        },
        "productGroupId": {
          "type": "integer"
        },
        "productId": {
          "type": "integer"
        },
        "totalPickingTime": {
          "type": "integer"
        }
      }
    },
    "analyticsmodels.TBinInventoryEvent": {
      "type": "object",
      "properties": {
        "documentId": {
          "type": "integer"
        },
        "documentType": {
          "type": "integer"
        },
        "employeeId": {
          "type": "integer"
        },
        "eventDuration": {
          "type": "integer"
        },
        "eventType": {
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "referenceRecordId": {
          "type": "integer"
        },
        "timestamp": {
          "type": "integer"
        }
      }
    },
    "batchmodels.BatchCreate": {
      "type": "object",
      "properties": {
        "batchCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expiryDate": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        }
      }
    },
    "batchmodels.BatchUpdate": {
      "type": "object",
      "properties": {
        "batchCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/batchmodels.TBinInventoryBatchCode"
          }
        },
        "expiryDate": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        }
      }
    },
    "batchmodels.TBinInventoryBatch": {
      "type": "object",
      "properties": {
        "added": {
          "type": "integer"
        },
        "addedById": {
          "type": "integer"
        },
        "batchCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/batchmodels.TBinInventoryBatchCode"
          }
        },
        "changed": {
          "type": "integer"
        },
        "changedById": {
          "type": "integer"
        },
        "expiryDate": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "productId": {
          "type": "integer"
        },
        "quantity": {
          "type": "number"
        }
      }
    },
    "batchmodels.TBinInventoryBatchCode": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer"
        },
        "code": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        }
      }
    },
    "bininventorymodels.LBinInventoryRes": {
      "type": "object",
      "properties": {
        "added": {
          "type": "integer"
        },
        "addedBy": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "binCode": {
          "type": "string"
        },
        "binId": {
          "type": "integer"
        },
        "changed": {
          "type": "integer"
        },
        "changedBy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "preferred": {
          "type": "boolean"
        },
        "productCode1": {
          "type": "string"
        },
        "productCode2": {
          "type": "string"
        },
        "productCode3": {
          "type": "string"
        },
        "productCode4": {
          "type": "string"
        },
        "productCode5": {
          "type": "string"
        },
        "productCode6": {
          "type": "string"
        },
        "productCode7": {
          "type": "string"
        },
        "productCode8": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        },
        "quantitiesBySerial": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/bininventoryrecordmodels.SerialQuantity"
          }
        },
        "quantitiesInBatches": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/bininventoryrecordmodels.BatchQuantity"
          }
        },
        "quantitiesInLots": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/lotmodels.LotQuantity"
          }
        },
        "warehouseId": {
          "type": "integer"
        }
      }
    },
    "bininventoryrecordmodels.BatchQuantity": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer"
        },
        "quantity": {
          "type": "number"
        }
      }
    },
    "bininventoryrecordmodels.BinInventoryRecordBulkDelete": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        }
      }
    },
    "bininventoryrecordmodels.BinInventoryRecordListItem": {
      "type": "object",
      "properties": {
        "added": {
          "type": "integer"
        },
        "addedBy": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "batchId": {
          "type": "integer"
        },
        "binCode": {
          "type": "string"
        },
        "binId": {
          "type": "integer"
        },
        "bundleId": {
          "type": "integer"
        },
        "bundleName": {
          "type": "string"
        },
        "changed": {
          "type": "integer"
        },
        "changedBy": {
          "type": "string"
        },
        "customName": {
          "type": "string"
        },
        "documentRowId": {
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "orgperIdDat": {
          "type": "integer"
        },
        "packageId": {
          "type": "integer"
        },
        "prodAmortTypeId": {
          "type": "integer"
        },
        "productCode": {
          "type": "string"
        },
        "productCode2": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        },
        "recordTime": {
          "type": "integer"
        },
        "referenceId": {
          "type": "integer"
        },
        "referenceType": {
          "type": "string"
        },
        "returnReasonID": {
          "type": "integer"
        },
        "serialNo": {
          "type": "string"
        },
        "warehouseId": {
          "type": "integer"
        }
      }
    },
    "bininventoryrecordmodels.CreateBinInventoryRecord": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number"
        },
        "batchId": {
          "type": "integer"
        },
        "binCode": {
          "type": "string"
        },
        "binId": {
          "type": "integer"
        },
        "bundleId": {
          "type": "integer"
        },
        "bundleName": {
          "type": "string"
        },
        "customName": {
          "type": "string"
        },
        "documentRowId": {
          "type": "integer"
        },
        "lotId": {
          "type": "integer"
        },
        "orgperIdDat": {
          "type": "integer"
        },
        "packageId": {
          "type": "integer"
        },
        "prodAmortTypeId": {
          "type": "integer"
        },
        "productCode": {
          "type": "string"
        },
        "productCode2": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        },
        "recordTime": {
          "type": "integer"
        },
        "referenceId": {
          "type": "integer"
        },
        "referenceType": {
          "type": "string"
        },
        "returnReasonID": {
          "type": "integer"
        },
        "serialNo": {
          "type": "string"
        },
        "warehouseId": {
          "type": "integer"
        }
      }
    },
    "bininventoryrecordmodels.SerialQuantity": {
      "type": "object",
      "properties": {
        "quantity": {
          "type": "number"
        },
        "serialNumber": {
          "type": "string"
        }
      }
    },
    "bininventoryrecordmodels.UpdateBinInventoryRecord": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer"
        },
        "binCode": {
          "type": "string"
        },
        "binId": {
          "type": "integer"
        },
        "bundleId": {
          "type": "integer"
        },
        "bundleName": {
          "type": "string"
        },
        "customName": {
          "type": "string"
        },
        "documentRowId": {
          "type": "integer"
        },
        "orgperIdDat": {
          "type": "integer"
        },
        "packageId": {
          "type": "integer"
        },
        "prodAmortTypeId": {
          "type": "integer"
        },
        "productCode": {
          "type": "string"
        },
        "productCode2": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        },
        "recordTime": {
          "description": "Amount          null.Float  `swaggertype:\"number\"  json:\"amount\"`",
          "type": "integer"
        },
        "referenceId": {
          "type": "integer"
        },
        "referenceType": {
          "type": "string"
        },
        "returnReasonID": {
          "type": "integer"
        },
        "serialNo": {
          "type": "string"
        },
        "warehouseId": {
          "type": "integer"
        }
      }
    },
    "binmodels.BinBulkUpdate": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean"
        },
        "aisle": {
          "type": "string"
        },
        "allowedProduct": {
          "type": "string"
        },
        "binOrder": {
          "type": "integer"
        },
        "code": {
          "type": "string"
        },
        "equipmentNeeded": {
          "type": "string"
        },
        "height": {
          "type": "number"
        },
        "id": {
          "type": "integer"
        },
        "length": {
          "type": "number"
        },
        "loadCapacity": {
          "type": "number"
        },
        "maximumAmount": {
          "type": "number"
        },
        "preferred": {
          "type": "boolean"
        },
        "replenishmentMinimum": {
          "type": "number"
        },
        "warehouseId": {
          "type": "integer"
        },
        "width": {
          "type": "number"
        }
      }
    },
    "binmodels.BinID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        }
      }
    },
    "binmodels.BinUpdate": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean"
        },
        "aisle": {
          "type": "string"
        },
        "allowedProduct": {
          "type": "string"
        },
        "binOrder": {
          "type": "integer"
        },
        "code": {
          "type": "string"
        },
        "equipmentNeeded": {
          "type": "string"
        },
        "height": {
          "type": "number"
        },
        "length": {
          "type": "number"
        },
        "loadCapacity": {
          "type": "number"
        },
        "maximumAmount": {
          "type": "number"
        },
        "preferred": {
          "type": "boolean"
        },
        "replenishmentMinimum": {
          "type": "number"
        },
        "warehouseId": {
          "type": "integer"
        },
        "width": {
          "type": "number"
        }
      }
    },
    "binmodels.TBin": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean"
        },
        "aisle": {
          "type": "string"
        },
        "allowedProduct": {
          "type": "string"
        },
        "binOrder": {
          "type": "integer"
        },
        "code": {
          "type": "string"
        },
        "equipmentNeeded": {
          "type": "string"
        },
        "height": {
          "type": "number"
        },
        "id": {
          "type": "integer"
        },
        "length": {
          "type": "number"
        },
        "loadCapacity": {
          "type": "number"
        },
        "maximumAmount": {
          "type": "number"
        },
        "preferred": {
          "type": "boolean"
        },
        "replenishmentMinimum": {
          "type": "number"
        },
        "warehouseId": {
          "type": "integer"
        },
        "width": {
          "type": "number"
        }
      }
    },
    "cerrors.ErrorResp": {
      "type": "object",
      "properties": {
        "action": {
          "description": "HTTP status code",
          "type": "string"
        },
        "error": {
          "description": "Human readable message",
          "type": "string"
        }
      }
    },
    "lotmodels.LotQuantity": {
      "type": "object",
      "properties": {
        "lotId": {
          "type": "integer"
        },
        "quantity": {
          "type": "number"
        }
      }
    },
    "models.OperationInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        }
      }
    },
    "models.OperationStatusWithID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "statusCode": {
          "description": "Operation Status code - equivalent to http 2xx codes series",
          "type": "integer"
        },
        "statusMessage": {
          "description": "Operation status message if exist",
          "type": "string"
        }
      }
    },
    "stocktakingmodels.StocktakingCreate": {
      "type": "object",
      "properties": {
        "binId": {
          "type": "integer"
        }
      }
    },
    "stocktakingmodels.StocktakingUpdate": {
      "type": "object",
      "properties": {
        "finished": {
          "type": "boolean"
        }
      }
    },
    "stocktakingmodels.TStocktaking": {
      "type": "object",
      "properties": {
        "added": {
          "type": "integer"
        },
        "addedById": {
          "type": "integer"
        },
        "binId": {
          "type": "integer"
        },
        "changed": {
          "type": "integer"
        },
        "changedById": {
          "type": "integer"
        },
        "finished": {
          "type": "boolean"
        },
        "id": {
          "type": "integer"
        },
        "stocktakingRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/stocktakingrecordmodels.TStocktakingRecord"
          }
        },
        "warehouseId": {
          "type": "integer"
        }
      }
    },
    "stocktakingrecordmodels.StocktakingRecordUpdate": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer"
        },
        "countedQuantity": {
          "type": "number"
        },
        "productId": {
          "type": "integer"
        }
      }
    },
    "stocktakingrecordmodels.TStocktakingRecord": {
      "type": "object",
      "properties": {
        "added": {
          "type": "integer"
        },
        "addedById": {
          "type": "integer"
        },
        "batchId": {
          "type": "integer"
        },
        "changed": {
          "type": "integer"
        },
        "changedById": {
          "type": "integer"
        },
        "countedQuantity": {
          "type": "number"
        },
        "id": {
          "type": "integer"
        },
        "productId": {
          "type": "integer"
        },
        "recordedQuantity": {
          "type": "number"
        },
        "stocktakingId": {
          "type": "integer"
        }
      }
    }
  },
  "securityDefinitions": {
    "ErplyClientCode": {
      "type": "apiKey",
      "name": "Clientcode",
      "in": "header"
    },
    "ErplySession": {
      "type": "apiKey",
      "name": "Sessionkey",
      "in": "header"
    }
  },
  "tags": [
    {
      "name": "Analytics events",
      "description": "Warehouse analytics and efficiency tracking events"
    },
    {
      "name": "Batch",
      "description": "Batch management for inventory items"
    },
    {
      "name": "Bin",
      "description": "Warehouse bin/location management"
    },
    {
      "name": "Bin Inventory",
      "description": "Bin inventory summary and listings"
    },
    {
      "name": "Bin Inventory Record",
      "description": "Individual bin inventory record management"
    },
    {
      "name": "Stocktaking",
      "description": "Stocktaking/inventory count sessions"
    },
    {
      "name": "StocktakingRecord",
      "description": "Individual stocktaking record management"
    }
  ]
}