{
  "openapi": "3.0.3",
  "info": {
    "title": "Hivelight API",
    "version": "1.0.0",
    "description": "Hivelight legal practice management API for managing matters, users, tasks, webhooks, workflows, and workspaces.",
    "x-jentic-source-url": "https://developers.hivelight.com/guides/authentication/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.hivelight.com"
    }
  ],
  "paths": {
    "/api/matters": {
      "get": {
        "operationId": "listMatters",
        "summary": "List all matters",
        "tags": [
          "Matters"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all matters"
      },
      "post": {
        "operationId": "createMatter",
        "summary": "Create a new matter",
        "tags": [
          "Matters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matter created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a new matter"
      }
    },
    "/api/matters/{matterid}": {
      "get": {
        "operationId": "getMatter",
        "summary": "Fetch a specific matter",
        "tags": [
          "Matters"
        ],
        "parameters": [
          {
            "name": "matterid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Fetch a specific matter"
      },
      "post": {
        "operationId": "updateMatter",
        "summary": "Modify matter details",
        "tags": [
          "Matters"
        ],
        "parameters": [
          {
            "name": "matterid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Modify matter details"
      },
      "delete": {
        "operationId": "deleteMatter",
        "summary": "Remove a matter",
        "tags": [
          "Matters"
        ],
        "parameters": [
          {
            "name": "matterid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove a matter"
      }
    },
    "/api/matters/{matterid}/archive": {
      "post": {
        "operationId": "archiveMatter",
        "summary": "Archive a matter",
        "tags": [
          "Matters"
        ],
        "parameters": [
          {
            "name": "matterid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Archive a matter"
      },
      "delete": {
        "operationId": "restoreMatter",
        "summary": "Restore archived matter",
        "tags": [
          "Matters"
        ],
        "parameters": [
          {
            "name": "matterid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Restored"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Restore archived matter"
      }
    },
    "/api/matters/{matterid}/notes": {
      "post": {
        "operationId": "addMatterNote",
        "summary": "Add note to matter",
        "tags": [
          "Matters"
        ],
        "parameters": [
          {
            "name": "matterid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note added"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add note to matter"
      }
    },
    "/api/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List workspace users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List workspace users"
      }
    },
    "/api/users/{userid}": {
      "get": {
        "operationId": "getUser",
        "summary": "Retrieve a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve a user"
      }
    },
    "/api/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List tasks"
      }
    },
    "/api/tasks/{taskid}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a task"
      }
    },
    "/api/tasks/{taskid}/status": {
      "post": {
        "operationId": "updateTaskStatus",
        "summary": "Update task status",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update task status"
      }
    },
    "/api/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Register webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Register webhook"
      }
    },
    "/api/webhooks/{webhookid}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Retrieve webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve webhook"
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Remove webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove webhook"
      }
    },
    "/api/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List workflows",
        "tags": [
          "Workflows"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List workflows"
      }
    },
    "/api/workflows/{workflowid}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get workflow details",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflowid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get workflow details"
      }
    },
    "/api/workspace": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Retrieve current workspace",
        "tags": [
          "Workspace"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve current workspace"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Matters"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Workflows"
    },
    {
      "name": "Workspace"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
