{
  "openapi": "3.0.3",
  "info": {
    "title": "Blues Notehub API",
    "description": "The Notehub API allows you to programmatically interact with Blues Notehub to manage projects, devices, fleets, events, routes, monitors, firmware updates, billing, and usage data.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://dev.blues.io/api-reference/"
  },
  "servers": [
    {
      "url": "https://api.notefile.net",
      "description": "Notehub Production API"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "generateOAuthToken",
        "tags": [
          "Authorization"
        ],
        "summary": "Generate an OAuth bearer token",
        "description": "Generate an OAuth bearer token that can be used to authenticate subsequent Notehub API requests.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "Must be set to client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID from the Programmatic API access section of a Notehub project"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret from the Programmatic API access section of a Notehub project"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing-accounts": {
      "get": {
        "operationId": "getBillingAccounts",
        "tags": [
          "Billing Accounts"
        ],
        "summary": "Get billing accounts",
        "description": "Retrieves an array of Notehub billing accounts tied to an authentication token.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingAccount"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "getProjects",
        "tags": [
          "Projects"
        ],
        "summary": "Get all projects",
        "description": "Retrieve all projects accessible to the authenticated user.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project",
        "description": "Establish a new project within your account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "billing_account_uid"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Project name"
                  },
                  "billing_account_uid": {
                    "type": "string",
                    "description": "Billing account UID to associate with the project"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectUID}": {
      "get": {
        "operationId": "getProject",
        "tags": [
          "Projects"
        ],
        "summary": "Get a project",
        "description": "Fetch details about a specific project by its identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "Remove an existing project permanently.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{productUID}/project": {
      "get": {
        "operationId": "getProjectByProduct",
        "tags": [
          "Projects"
        ],
        "summary": "Get project by product UID",
        "description": "Retrieve project information using a product identifier.",
        "parameters": [
          {
            "name": "productUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/clone": {
      "post": {
        "operationId": "cloneProject",
        "tags": [
          "Projects"
        ],
        "summary": "Clone a project",
        "description": "Duplicate a project with optional route and fleet exclusion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "billing_account_uid"
                ],
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "billing_account_uid": {
                    "type": "string"
                  },
                  "disable_clone_routes": {
                    "type": "boolean"
                  },
                  "disable_clone_fleets": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project cloned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/members": {
      "get": {
        "operationId": "getProjectMembers",
        "tags": [
          "Projects"
        ],
        "summary": "Get project members",
        "description": "List all collaborators assigned to the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectMember"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/products": {
      "get": {
        "operationId": "getProducts",
        "tags": [
          "Products"
        ],
        "summary": "Get all products",
        "description": "Retrieve all products associated with the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "tags": [
          "Products"
        ],
        "summary": "Create a product",
        "description": "Create a new product under the specified project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_uid",
                  "label"
                ],
                "properties": {
                  "product_uid": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "fleet_uids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "disable_devices": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/products/{productUID}": {
      "delete": {
        "operationId": "deleteProduct",
        "tags": [
          "Products"
        ],
        "summary": "Delete a product",
        "description": "Remove a product from the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "productUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets": {
      "get": {
        "operationId": "getFleets",
        "tags": [
          "Fleets"
        ],
        "summary": "Get all fleets",
        "description": "List all fleets within the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fleets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Fleet"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFleet",
        "tags": [
          "Fleets"
        ],
        "summary": "Create a fleet",
        "description": "Create a new fleet in the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fleet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fleet"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets/{fleetUID}": {
      "get": {
        "operationId": "getFleet",
        "tags": [
          "Fleets"
        ],
        "summary": "Get a fleet",
        "description": "Retrieve information about a specific fleet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fleet"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFleet",
        "tags": [
          "Fleets"
        ],
        "summary": "Update a fleet",
        "description": "Modify an existing fleet's properties.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fleet updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fleet"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFleet",
        "tags": [
          "Fleets"
        ],
        "summary": "Delete a fleet",
        "description": "Remove a fleet from the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices": {
      "get": {
        "operationId": "getDevices",
        "tags": [
          "Devices"
        ],
        "summary": "Get project devices",
        "description": "Retrieve devices associated with a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}": {
      "get": {
        "operationId": "getDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Get a device",
        "description": "Retrieve single device information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device",
        "description": "Remove a device from a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Device deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable": {
      "post": {
        "operationId": "disableDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Disable a device",
        "description": "Prevent a device from connecting to Notehub.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Device disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable": {
      "post": {
        "operationId": "enableDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Enable a device",
        "description": "Allow a disabled device to reconnect to Notehub.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Device enabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_variables": {
      "get": {
        "operationId": "getDeviceEnvironmentVariables",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get device environment variables",
        "description": "Fetch device-level environment variables.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setDeviceEnvironmentVariables",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Set device environment variables",
        "description": "Configure device-level environment variables.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariables"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variables updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_variables/{key}": {
      "delete": {
        "operationId": "deleteDeviceEnvironmentVariable",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Delete a device environment variable",
        "description": "Remove a specific environment variable from a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/envVarKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Variable deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_hierarchy": {
      "get": {
        "operationId": "getDeviceEnvironmentHierarchy",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get device environment hierarchy",
        "description": "View all environment variables across device, fleet, and project levels.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/health-log": {
      "get": {
        "operationId": "getDeviceHealthLog",
        "tags": [
          "Devices"
        ],
        "summary": "Get device health log",
        "description": "Access device health records.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/plans": {
      "get": {
        "operationId": "getDevicePlans",
        "tags": [
          "Devices"
        ],
        "summary": "Get device service plans",
        "description": "Retrieve device service plans.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/latest": {
      "get": {
        "operationId": "getDeviceLatestEvents",
        "tags": [
          "Devices"
        ],
        "summary": "Get latest device events",
        "description": "Fetch the most recent device events.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/sessions": {
      "get": {
        "operationId": "getDeviceSessions",
        "tags": [
          "Devices"
        ],
        "summary": "Get device sessions",
        "description": "Retrieve device connection sessions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/signal": {
      "post": {
        "operationId": "signalDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Send signal to device",
        "description": "Transmit a signal to a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signal sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/provision": {
      "post": {
        "operationId": "provisionDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Provision a device",
        "description": "Initialize a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/files": {
      "get": {
        "operationId": "getDeviceNotefiles",
        "tags": [
          "Notes"
        ],
        "summary": "List notefiles on device",
        "description": "List all notefiles on a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDeviceNotefile",
        "tags": [
          "Notes"
        ],
        "summary": "Delete a notefile",
        "description": "Remove a notefile from a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Notefile deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}": {
      "post": {
        "operationId": "addQueueNote",
        "tags": [
          "Notes"
        ],
        "summary": "Add a queue note",
        "description": "Add a note to a queue notefile on a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/notefileID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}/changes": {
      "get": {
        "operationId": "getNoteChanges",
        "tags": [
          "Notes"
        ],
        "summary": "Get note changes",
        "description": "View note modifications in a notefile.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/notefileID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}/{noteID}": {
      "post": {
        "operationId": "createDatabaseNote",
        "tags": [
          "Notes"
        ],
        "summary": "Create a database note",
        "description": "Create a database note on a device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/notefileID"
          },
          {
            "$ref": "#/components/parameters/noteID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getNote",
        "tags": [
          "Notes"
        ],
        "summary": "Get a note",
        "description": "Retrieve a specific note from a notefile.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/notefileID"
          },
          {
            "$ref": "#/components/parameters/noteID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateNote",
        "tags": [
          "Notes"
        ],
        "summary": "Update a note",
        "description": "Modify an existing note.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/notefileID"
          },
          {
            "$ref": "#/components/parameters/noteID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNote",
        "tags": [
          "Notes"
        ],
        "summary": "Delete a note",
        "description": "Delete a note from a notefile.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/notefileID"
          },
          {
            "$ref": "#/components/parameters/noteID"
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/fleets": {
      "get": {
        "operationId": "getDeviceFleets",
        "tags": [
          "Fleets"
        ],
        "summary": "Get device fleets",
        "description": "Identify which fleets a specific device belongs to.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fleets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "assignDeviceToFleets",
        "tags": [
          "Fleets"
        ],
        "summary": "Assign device to fleets",
        "description": "Assign a device to one or more fleets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fleets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device assigned to fleets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeDeviceFromFleets",
        "tags": [
          "Fleets"
        ],
        "summary": "Remove device from fleets",
        "description": "Remove device membership from specified fleets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fleets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device removed from fleets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/public-key": {
      "get": {
        "operationId": "getDevicePublicKey",
        "tags": [
          "Devices"
        ],
        "summary": "Get device public key",
        "description": "Obtain a device's public key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/public-keys": {
      "get": {
        "operationId": "getDevicesPublicKeys",
        "tags": [
          "Devices"
        ],
        "summary": "Get multiple device public keys",
        "description": "Retrieve public keys for multiple devices.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/devices": {
      "get": {
        "operationId": "getFleetDevices",
        "tags": [
          "Fleets"
        ],
        "summary": "Get fleet devices",
        "description": "List devices in a specific fleet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/environment_variables": {
      "get": {
        "operationId": "getProjectEnvironmentVariables",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get project environment variables",
        "description": "List all environment variables defined at the project level.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setProjectEnvironmentVariables",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Set project environment variables",
        "description": "Define or update project-level environment variables.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariables"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variables updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/environment_variables/{key}": {
      "delete": {
        "operationId": "deleteProjectEnvironmentVariable",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Delete a project environment variable",
        "description": "Remove a specific environment variable from the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/envVarKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Variable deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/environment_hierarchy": {
      "get": {
        "operationId": "getProjectEnvironmentHierarchy",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get project environment hierarchy",
        "description": "Obtain the hierarchical structure of project environment variables.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_variables": {
      "get": {
        "operationId": "getFleetEnvironmentVariables",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get fleet environment variables",
        "description": "Retrieve all environment variables assigned to a specific fleet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setFleetEnvironmentVariables",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Set fleet environment variables",
        "description": "Set or modify fleet-level environment variables.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariables"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variables updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_variables/{key}": {
      "delete": {
        "operationId": "deleteFleetEnvironmentVariable",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Delete a fleet environment variable",
        "description": "Delete an environment variable from a fleet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          },
          {
            "$ref": "#/components/parameters/envVarKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Variable deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_hierarchy": {
      "get": {
        "operationId": "getFleetEnvironmentHierarchy",
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get fleet environment hierarchy",
        "description": "Access the hierarchical structure for fleet-specific environment variables.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/events": {
      "get": {
        "operationId": "getProjectEvents",
        "tags": [
          "Events"
        ],
        "summary": "Get project events",
        "description": "Retrieve an array of Notehub events filtered by project or product UID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Events per request"
          },
          {
            "name": "pageNum",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by device identifiers"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "best_id",
                "device_serial",
                "device_uid",
                "captured",
                "modified"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          },
          {
            "name": "dateType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "captured",
                "uploaded"
              ]
            },
            "description": "Date field to filter on"
          },
          {
            "name": "systemFilesOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return only system notefiles"
          },
          {
            "name": "files",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited notefile names"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "fleetUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by fleet UIDs"
          },
          {
            "name": "selectFields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/events-cursor": {
      "get": {
        "operationId": "getProjectEventsByCursor",
        "tags": [
          "Events"
        ],
        "summary": "Get project events by cursor",
        "description": "Retrieve events using cursor-based pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            },
            "description": "Records to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from previous next_cursor value"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          },
          {
            "name": "fleetUID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fleet identifier"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by device identifiers"
          },
          {
            "name": "systemFilesOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return only system notefiles"
          },
          {
            "name": "files",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited notefile names"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events": {
      "get": {
        "operationId": "getFleetEvents",
        "tags": [
          "Events"
        ],
        "summary": "Get fleet events",
        "description": "Retrieve events filtered by fleet UID within a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/fleetUID"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Events per request"
          },
          {
            "name": "pageNum",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by device identifiers"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/events/{eventUID}/route-logs": {
      "get": {
        "operationId": "getEventRouteLogs",
        "tags": [
          "Events"
        ],
        "summary": "Get route logs by event",
        "description": "Retrieve route logs associated with a specific event.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "eventUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Event unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/routes": {
      "get": {
        "operationId": "getRoutes",
        "tags": [
          "Routes"
        ],
        "summary": "Get all routes",
        "description": "Retrieves an array of routes associated with a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "routes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Route"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRoute",
        "tags": [
          "Routes"
        ],
        "summary": "Create a route",
        "description": "Create a new route within a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/routes/{routeUID}": {
      "get": {
        "operationId": "getRoute",
        "tags": [
          "Routes"
        ],
        "summary": "Get a route",
        "description": "Fetches a single route by its identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/routeUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateRoute",
        "tags": [
          "Routes"
        ],
        "summary": "Update a route",
        "description": "Modifies an existing route configuration.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/routeUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRoute",
        "tags": [
          "Routes"
        ],
        "summary": "Delete a route",
        "description": "Delete a single route by its RouteUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/routeUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Route deleted"
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/routes/{routeUID}/route-logs": {
      "get": {
        "operationId": "getRouteLogs",
        "tags": [
          "Routes"
        ],
        "summary": "Get route logs",
        "description": "Get an array of route logs associated with a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/routeUID"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Logs per request"
          },
          {
            "name": "pageNum",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by device"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "event"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp end"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RouteLog"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/monitors": {
      "get": {
        "operationId": "getMonitors",
        "tags": [
          "Monitors"
        ],
        "summary": "Get all monitors",
        "description": "Get all alert monitors for a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Monitor"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "tags": [
          "Monitors"
        ],
        "summary": "Create a monitor",
        "description": "Create an alert monitor for a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/monitors/{monitorUID}": {
      "get": {
        "operationId": "getMonitor",
        "tags": [
          "Monitors"
        ],
        "summary": "Get a monitor",
        "description": "Get an alert monitor for a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/monitorUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMonitor",
        "tags": [
          "Monitors"
        ],
        "summary": "Update a monitor",
        "description": "Update an alert monitor for a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/monitorUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "tags": [
          "Monitors"
        ],
        "summary": "Delete a monitor",
        "description": "Delete an alert monitor for a Notehub project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/monitorUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/global-transformation": {
      "post": {
        "operationId": "setGlobalTransformation",
        "tags": [
          "Projects"
        ],
        "summary": "Set global transformation",
        "description": "Define a global JSONata transformation rule.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transformation set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/global-transformation/enable": {
      "post": {
        "operationId": "enableGlobalTransformation",
        "tags": [
          "Projects"
        ],
        "summary": "Enable global transformation",
        "description": "Activate the global transformation rule.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transformation enabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/global-transformation/disable": {
      "post": {
        "operationId": "disableGlobalTransformation",
        "tags": [
          "Projects"
        ],
        "summary": "Disable global transformation",
        "description": "Deactivate the global transformation rule.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transformation disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/firmware": {
      "get": {
        "operationId": "getFirmware",
        "tags": [
          "Firmware"
        ],
        "summary": "List available firmware",
        "description": "List available firmware versions for deployment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firmware": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/status": {
      "get": {
        "operationId": "getDFUStatus",
        "tags": [
          "Firmware"
        ],
        "summary": "Get DFU status",
        "description": "Check current firmware update status for all project devices.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/firmwareType"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/history": {
      "get": {
        "operationId": "getDFUHistory",
        "tags": [
          "Firmware"
        ],
        "summary": "Get DFU history",
        "description": "Retrieve device firmware update history across the project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/firmwareType"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/dfu/{firmwareType}/status": {
      "get": {
        "operationId": "getDeviceDFUStatus",
        "tags": [
          "Firmware"
        ],
        "summary": "Get device DFU status",
        "description": "Check firmware update status for a specific device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/firmwareType"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/devices/{deviceUID}/dfu/{firmwareType}/history": {
      "get": {
        "operationId": "getDeviceDFUHistory",
        "tags": [
          "Firmware"
        ],
        "summary": "Get device DFU history",
        "description": "Obtain DFU history for a single device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "$ref": "#/components/parameters/deviceUID"
          },
          {
            "$ref": "#/components/parameters/firmwareType"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/usage/data": {
      "get": {
        "operationId": "getDataUsage",
        "tags": [
          "Usage"
        ],
        "summary": "Get data usage",
        "description": "Retrieve data usage in bytes for a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            },
            "description": "Aggregation timeframe"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by DeviceUIDs"
          },
          {
            "name": "fleetUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by FleetUIDs"
          },
          {
            "name": "aggregate",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "device",
                "fleet",
                "project"
              ],
              "default": "device"
            },
            "description": "Group results by level"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum data points to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/usage/events": {
      "get": {
        "operationId": "getEventsUsage",
        "tags": [
          "Usage"
        ],
        "summary": "Get events usage",
        "description": "Retrieve event counts for a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            },
            "description": "Aggregation timeframe"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by DeviceUIDs"
          },
          {
            "name": "fleetUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by FleetUIDs"
          },
          {
            "name": "aggregate",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "device",
                "fleet",
                "project"
              ],
              "default": "device"
            },
            "description": "Group results by level"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/usage/route-logs": {
      "get": {
        "operationId": "getRouteUsage",
        "tags": [
          "Usage"
        ],
        "summary": "Get route usage",
        "description": "Retrieve route execution statistics for a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            },
            "description": "Aggregation timeframe"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          },
          {
            "name": "routeUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by RouteUIDs"
          },
          {
            "name": "aggregate",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "route",
                "project"
              ],
              "default": "route"
            },
            "description": "Group results by level"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectOrProductUID}/usage/sessions": {
      "get": {
        "operationId": "getSessionsUsage",
        "tags": [
          "Usage"
        ],
        "summary": "Get sessions usage",
        "description": "Retrieve session metrics for a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectOrProductUID"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            },
            "description": "Aggregation timeframe"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          },
          {
            "name": "deviceUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by DeviceUIDs"
          },
          {
            "name": "fleetUID",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by FleetUIDs"
          },
          {
            "name": "aggregate",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "device",
                "fleet",
                "project"
              ],
              "default": "device"
            },
            "description": "Group results by level"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsUsageResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use a Personal Access Token or OAuth bearer token obtained from /oauth2/token"
      }
    },
    "parameters": {
      "projectUID": {
        "name": "projectUID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Project unique identifier"
      },
      "projectOrProductUID": {
        "name": "projectOrProductUID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Project or Product unique identifier"
      },
      "deviceUID": {
        "name": "deviceUID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Device unique identifier"
      },
      "fleetUID": {
        "name": "fleetUID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Fleet unique identifier"
      },
      "routeUID": {
        "name": "routeUID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Route unique identifier"
      },
      "monitorUID": {
        "name": "monitorUID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Monitor unique identifier"
      },
      "notefileID": {
        "name": "notefileID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Notefile identifier"
      },
      "noteID": {
        "name": "noteID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Note identifier"
      },
      "envVarKey": {
        "name": "key",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Environment variable key"
      },
      "firmwareType": {
        "name": "firmwareType",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Firmware type identifier"
      }
    },
    "schemas": {
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth bearer token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until the token expires"
          },
          "token_type": {
            "type": "string",
            "description": "Token type, always 'bearer'"
          }
        }
      },
      "BillingAccount": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Globally unique billing account identifier"
          },
          "name": {
            "type": "string",
            "description": "Billing account name"
          },
          "role": {
            "type": "string",
            "enum": [
              "billing_admin",
              "billing_manager",
              "project_creator"
            ],
            "description": "User role on the billing account"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "administrative_contact": {
            "type": "object"
          },
          "technical_contact": {
            "type": "object"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "ProjectMember": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "auto_provision_fleets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disable_devices_by_default": {
            "type": "boolean"
          }
        }
      },
      "Fleet": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "serial_number": {
            "type": "string"
          },
          "provisioned": {
            "type": "string",
            "format": "date-time"
          },
          "last_activity": {
            "type": "string",
            "format": "date-time"
          },
          "contact": {
            "type": "object"
          },
          "product_uid": {
            "type": "string"
          },
          "fleet_uids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disabled": {
            "type": "boolean"
          }
        }
      },
      "EnvironmentVariables": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "Key-value pairs of environment variables"
      },
      "Event": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "session": {
            "type": "string"
          },
          "best_id": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "sn": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "app": {
            "type": "string"
          },
          "received": {
            "type": "number"
          },
          "req": {
            "type": "string"
          },
          "when": {
            "type": "number"
          },
          "file": {
            "type": "string"
          },
          "body": {
            "type": "object"
          },
          "best_location_type": {
            "type": "string"
          },
          "best_lat": {
            "type": "number"
          },
          "best_lon": {
            "type": "number"
          }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "through": {
            "type": "string"
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "disabled": {
            "type": "boolean"
          },
          "schema": {
            "type": "object"
          }
        }
      },
      "RouteCreate": {
        "type": "object",
        "required": [
          "label",
          "type"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Route name"
          },
          "disabled": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "description": "Service type (e.g., http, mqtt, aws-iot-analytics)"
          },
          "schema": {
            "type": "object",
            "properties": {
              "fleets": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "filter": {
                "type": "object"
              },
              "transform": {
                "type": "object"
              },
              "throttle_ms": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              },
              "http_headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "timeout": {
                "type": "integer"
              }
            }
          }
        }
      },
      "RouteLog": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
[...]
