{
  "openapi": "3.0.3",
  "info": {
    "title": "Quickeast (Adgogo) Open API",
    "description": "Adgogo Open API for managing ads, leads, and reports.",
    "version": "1.0.0",
    "contact": {
      "name": "Adgogo",
      "url": "https://adgogo.readme.io"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingjentic/openapis-specs/refs/heads/import/adgo.co/open-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://open.adgo.co/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/ad/list": {
      "post": {
        "operationId": "getAdList",
        "summary": "Get Ad List",
        "description": "Retrieves paginated list of advertisements with performance metrics.",
        "tags": [
          "Ads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformId": {
                    "type": "integer",
                    "description": "Filter by platform"
                  },
                  "status": {
                    "type": "string",
                    "description": "Ad status filter"
                  },
                  "pageNo": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated ad list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads/list": {
      "post": {
        "operationId": "getLeads",
        "summary": "Get Leads",
        "description": "Retrieves lead records generated from ad campaigns.",
        "tags": [
          "Leads"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformId": {
                    "type": "integer"
                  },
                  "beginDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2022-10-01"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2022-10-30"
                  },
                  "pageNo": {
                    "type": "integer",
                    "default": 1
                  },
                  "pageSize": {
                    "type": "integer",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated lead list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/report/get": {
      "post": {
        "operationId": "getReport",
        "summary": "Get Report Data",
        "description": "Retrieves comprehensive report data filtered by period and campaign details.",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformId": {
                    "type": "integer"
                  },
                  "campaignId": {
                    "type": "string"
                  },
                  "adId": {
                    "type": "string"
                  },
                  "beginDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "pageNo": {
                    "type": "integer",
                    "default": 1
                  },
                  "pageSize": {
                    "type": "integer",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "AccessKey"
      }
    },
    "schemas": {
      "AdListResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "placement": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "spend": {
                  "type": "number"
                },
                "budget": {
                  "type": "number"
                },
                "impressions": {
                  "type": "integer"
                },
                "clicks": {
                  "type": "integer"
                },
                "conversions": {
                  "type": "integer"
                },
                "cpm": {
                  "type": "number"
                },
                "ctr": {
                  "type": "number"
                },
                "cpc": {
                  "type": "number"
                },
                "cpl": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "LeadListResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "contactInfo": {
                  "type": "object"
                },
                "campaignDetails": {
                  "type": "object"
                },
                "landingPageUrl": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "qualified": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "AccessKeyAuth": []
    }
  ]
}