{
  "openapi": "3.0.3",
  "info": {
    "title": "California Open Data SODA API",
    "version": "1.0.0",
    "description": "Socrata Open Data API (SODA) for the California state open data portal. Provides access to datasets, metadata, and catalog search functionality powered by the Socrata platform.",
    "x-jentic-source-url": "https://data.ca.gov/api"
  },
  "servers": [
    {
      "url": "https://data.ca.gov",
      "description": "California state open data portal"
    }
  ],
  "paths": {
    "/resource/{dataset_id}.json": {
      "get": {
        "operationId": "querydataset",
        "summary": "Query a dataset",
        "description": "Query records from a specific dataset using SoQL (Socrata Query Language) parameters.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the dataset (e.g., xxxx-xxxx)"
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Columns to return, similar to SQL SELECT"
          },
          {
            "name": "$where",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter conditions, similar to SQL WHERE"
          },
          {
            "name": "$order",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to order results by, with optional ASC/DESC"
          },
          {
            "name": "$group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Column to group results by, similar to SQL GROUP BY"
          },
          {
            "name": "$having",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter on grouped results, similar to SQL HAVING"
          },
          {
            "name": "$limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 50000
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "$offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "$q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search query across all text fields"
          },
          {
            "name": "$query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full SoQL query string"
          },
          {
            "name": "$$exclude_system_fields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Exclude system fields from results"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing app token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appToken": []
          },
          {}
        ]
      }
    },
    "/api/catalog/v1": {
      "get": {
        "operationId": "searchcatalog",
        "summary": "Search the dataset catalog",
        "description": "Search for datasets in the portal catalog with various filters.",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search query"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category name"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tag name"
          },
          {
            "name": "only",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "datasets",
                "maps",
                "calendars",
                "links",
                "href",
                "filters",
                "files"
              ]
            },
            "description": "Filter by asset type"
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by domain"
          },
          {
            "name": "search_context",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Domain to use as search context"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "page_views_total",
                "page_views_last_month",
                "newest",
                "oldest"
              ]
            },
            "description": "Sort order for results"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appToken": []
          },
          {}
        ]
      }
    },
    "/api/views/{dataset_id}.json": {
      "get": {
        "operationId": "getdatasetmetadata",
        "summary": "Get dataset metadata",
        "description": "Retrieve metadata for a specific dataset including name, description, columns, and other properties.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the dataset (e.g., xxxx-xxxx)"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset metadata retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appToken": []
          },
          {}
        ]
      }
    },
    "/api/views.json": {
      "get": {
        "operationId": "listdatasets",
        "summary": "List datasets",
        "description": "List available datasets on the portal with optional filtering.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "getByIds",
                "getDefaultView"
              ]
            },
            "description": "Method for retrieving views"
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List of dataset IDs to retrieve"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of results per page"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include total count in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Datasets listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appToken": []
          },
          {}
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "appToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-App-Token",
        "description": "Socrata application token. Optional but recommended to avoid throttling."
      }
    },
    "schemas": {
      "DatasetRecord": {
        "type": "object",
        "additionalProperties": true,
        "description": "A record from a dataset. Properties vary by dataset schema."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CatalogSearchResponse": {
        "type": "object",
        "properties": {
          "resultSetSize": {
            "type": "integer",
            "description": "Total number of matching results"
          },
          "timings": {
            "type": "object",
            "properties": {
              "serviceMillis": {
                "type": "integer"
              },
              "searchMillis": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogResult"
            }
          }
        }
      },
      "CatalogResult": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "parent_fxf": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "description": {
                "type": "string"
              },
              "attribution": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "columns_name": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "columns_field_name": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "columns_datatype": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "page_views_last_week": {
                "type": "integer"
              },
              "page_views_last_month": {
                "type": "integer"
              },
              "page_views_total": {
                "type": "integer"
              },
              "download_count": {
                "type": "integer"
              }
            }
          },
          "classification": {
            "type": "object",
            "properties": {
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "domain_category": {
                "type": "string"
              },
              "domain_tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              }
            }
          },
          "permalink": {
            "type": "string"
          },
          "link": {
            "type": "string"
          }
        }
      },
      "DatasetMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dataset unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Dataset name"
          },
          "description": {
            "type": "string",
            "description": "Dataset description"
          },
          "category": {
            "type": "string",
            "description": "Dataset category"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dataset tags"
          },
          "attribution": {
            "type": "string",
            "description": "Data attribution"
          },
          "attributionLink": {
            "type": "string",
            "description": "Attribution URL"
          },
          "license": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "termsLink": {
                "type": "string"
              }
            }
          },
          "owner": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "fieldName": {
                  "type": "string"
                },
                "dataTypeName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "position": {
                  "type": "integer"
                },
                "width": {
                  "type": "integer"
                }
              }
            }
          },
          "createdAt": {
            "type": "integer",
            "description": "Creation timestamp (epoch)"
          },
          "viewLastModified": {
            "type": "integer",
            "description": "Last modification timestamp (epoch)"
          },
          "rowsUpdatedAt": {
            "type": "integer",
            "description": "Rows last updated timestamp (epoch)"
          },
          "viewCount": {
            "type": "integer",
            "description": "Total view count"
          },
          "downloadCount": {
            "type": "integer",
            "description": "Total download count"
          },
          "viewType": {
            "type": "string",
            "description": "Type of view (tabular, etc.)"
          }
        }
      }
    }
  },
  "security": [
    {
      "appToken": []
    },
    {}
  ],
  "tags": [
    {
      "name": "Catalog",
      "description": "Operations related to Catalog"
    },
    {
      "name": "Datasets",
      "description": "Operations related to Datasets"
    },
    {
      "name": "Metadata",
      "description": "Operations related to Metadata"
    }
  ]
}