{
  "openapi": "3.0.3",
  "info": {
    "title": "Ecotrak API",
    "version": "2.0",
    "description": "Ecotrak is a facility and asset management software. This API provides endpoints for managing invoices, work orders, assets, users, locations, and service provider operations.",
    "x-jentic-source-url": "https://api-docs.ecotrak.com/"
  },
  "servers": [
    {
      "url": "https://api.ecotrak.com",
      "description": "Ecotrak API"
    },
    {
      "url": "https://auth.ecotrak.com",
      "description": "Ecotrak Auth"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "Login",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Using Client Credentials flow to retrieve an access token.\nThis page will give you an overview of OAuth 2.0 and specifically client_credential flow. The Client Credentials flow is recommended for use in machine-to-machine authentication. Your application will need to securely store it’s Client ID and Secret and pass those in exchange for an access token. At a high-level, the flow only has two steps:\n\nYour application passes its client credentials to your Ecotrak authorization server.\n\nIf the cre",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "example": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "example": "<YOUR CLIENT ID>"
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "<YOUR CLIENT SECRET>"
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/invoices/{invoice_id}": {
      "get": {
        "operationId": "get_v1_invoices_invoice_id",
        "summary": "Single Invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint retrieves the details of a specific invoice identified by the provided ID. If the invoice category is noted as \"Inventory\" then the invoice is for a Purchase Order. Any other category value will be connected to an asset\nRequest Body\nThis endpoint does not require a request body.\nResponse Body\n\n\n\nProperty\nType\nDescription\nNotes (Asset vs Purchase Order / Inventory)\n\n\n\n\nid\nint\nInvoice resource ID\nShared\n\n\nstatus\nstring\nCurrent status of the invoice\nShared\n\n\napproved_date\ndate\nThe dat",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/invoices": {
      "get": {
        "operationId": "get_v1_invoices",
        "summary": "Yesterday's Approved Invoices",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve Invoices That were approved Yesterday\nCalling this endpoint will collect all invoices that were approved yesterday based on UTC. This endpoint can only be called by a customer. If the invoice category is noted as \"Inventory\" then the invoice is for a Purchase Order. Any other category value will be connected to an asset\nRequest\nThe request does not require a request body. It only requires the following parameters:\n\nNo request parameters are needed.\n\nResponse Body\n\n\n\nProperty\nType\nDescri"
      },
      "put": {
        "operationId": "put_v1_invoices",
        "summary": "Create Invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Preventiative Maintenance Invoice\nThis API endpoint is used to create an invoice associated with a specific Work Order assigned to the authenticated account. This method requires the invoice:create permission for the account and is exclusively available for service providers.\nParameters\n\nwork_order_id (integer, required): Ecotrak's Work Order resource id.\n\ninvoice_number (string): Service Provider's internal invoice number.\n\nmaterial (decimal, required): Material charges for the invoice.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "work_order_id": "<id of the associated work order>",
                "invoice_number": "123-abc",
                "material": 345.67,
                "labor": 234.16,
                "tax": 0,
                "freight": 0,
                "other": 0,
                "invoice_date": "2019-10-13"
              }
            }
          }
        }
      }
    },
    "/v1/invoices/search": {
      "get": {
        "operationId": "get_v1_invoices_search",
        "summary": "Search Invoices",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Invoice Search\nInvoices search currently supports searching by approved date. Results are bound by the date passed in. Example, a request made for January 9, 2019 will retrieve approved invoices for January 9, 2019 12:01 AM through 11:59 PM. If the invoice category is noted as \"Inventory\" then the invoice is for a Purchase Order. Any other category value will be connected to an asset\nRequest\n\nMethod: GET\n\nEndpoint: https://api.ecotrak.com/v1/invoices/search\n\nQuery Parameters:\n\napproved_date (opt",
        "parameters": [
          {
            "name": "approved_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024-01-01"
          },
          {
            "name": "exclude_location_type_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ]
      }
    },
    "/invoice/{id}/payments": {
      "post": {
        "operationId": "post_invoice_id_payments",
        "summary": "Invoice Payment",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Invoice Payments\nThis endpoint allows the user to submit payments for a specific invoice identified by the id parameter.\nRequest Body\n\nThe request body should be in JSON format and should contain the following parameters:\n\nsupplier (string): The name of the supplier.\n\nRequired\n\n\necoid (number): The unique identifier for the invoice in the Ecotrak system.\n\nRequired\n\n\npaymentMethod (string): The method of payment (e.g., credit card, bank transfer).\n\nRequired\n\n\ncheckNumber (string): The check numbe",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": [
                {
                  "supplier": "supplier1",
                  "ecoid": 606686,
                  "paymentMethod": "credit card",
                  "checkNumber": "1234566",
                  "paymentDate": "2024-03-21",
                  "paymentStatus": "Completed",
                  "invoiceNumber": "67153-s",
                  "paymentAmount": 90,
                  "invoiceStatus": "PAID"
                }
              ]
            }
          }
        }
      }
    },
    "/v2/invoice/{invoice_id}/status": {
      "put": {
        "operationId": "put_v2_invoice_invoice_id_status",
        "summary": "Approve/Reject Invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nAllow customers to approve/reject in their own system and have their system update Ecotrak with the decision.\nRequest Parameters\nParameters\n\n\n\nParameter\nType\nRequired\nDescription\n\n\n\n\ninvoiceId\nint . Path Parameter\nYes\nThis must be the ecotrak ID\n\n\nstatus\nstring . Body Parameter\nYes\nThe available options are “APPROVED” OR “REJECTED”.\n\n\nreason\nstring. Body Parameter\nConditionally\nIf you are rejecting an invoice you must include a reason. This reason will be visible on the UI to the cus",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "status": "REJECTED",
                "reason": "The total is above the agreed cost"
              }
            }
          }
        }
      }
    },
    "/v2/invoice/": {
      "post": {
        "operationId": "post_v2_invoice",
        "summary": "Submit Invoice - Not Required",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to create an invoice as Not Required. It requires various user details and validates the input based on specific business rules.\nRequest Parameters\nBody Parameters\n\n\n\nParameter\nType\nRequired\nDescription\n\n\n\n\nworkOrderId\nint\nYes\nEcotrak work order id. The work order must be assigned to your company and\n\n\nnotRequired\nint\nYes\nCurrently, all invoices submitted here must be not required. The expected value is 1\n\n\ninvoiceNumber\nstring\nNo\nEnsure this value is unique for",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "workorder_id": 123,
                "not_required": "1",
                "invoice_number": "1234-dd",
                "invoice_date": "2025-01-01",
                "warranty_used": 0,
                "warranty_not_used_reason": "Not Covered under warranty"
              }
            }
          }
        }
      }
    },
    "/v2/invoice/processed": {
      "post": {
        "operationId": "post_v2_invoice_processed",
        "summary": "Processed Invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process Invoice Request\nThis endpoint allows users to process invoices by submitting a list of invoice IDs along with a specified process date. Upon successful processing, the API will return a confirmation message.\nRequest\n\nMethod: POST\n\nURL: https://api.ecotrak.com/v2/invoice/processed\n\nRequest Body: The request body must be in JSON format and should contain an array of objects where each object includes:\n\ninvoice_ids (array of integers): A list of invoice IDs that you want to process.\n\nproces",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": [
                {
                  "invoice_ids": [
                    3155305
                  ],
                  "process_date": "2025-07-26T12:31"
                },
                {
                  "invoice_ids": [
                    3151361,
                    3078345
                  ],
                  "process_date": "2025-07-27T12:31"
                }
              ]
            }
          }
        }
      }
    },
    "/v2/workorder": {
      "post": {
        "operationId": "post_v2_workorder",
        "summary": "Create Work Order",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Work Order\nThis endpoint allows the creation of a new work order by the customer or a linked partner.\nPayload\n\n\n\nName\nData Type\nRequired\nDetails\n\n\n\n\nmanaged_asset_id\nint\nYes\nThe ID of the managed asset for which the work order is being created. The provided ID must correspond to an active asset, belong to an active company, and not be associated with an inactive or onHold location.\n\n\nproblem\nstring\nYes\nA description of the problem being reported. Only specific values are accepted, and the",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "description": "Freezer temperature has been > than 15.8°F for 11 minutes.",
                "problem": "Too Hot",
                "managed_asset_id": 3083142
              }
            }
          }
        }
      }
    },
    "/v1/workorders/{id}": {
      "get": {
        "operationId": "get_v1_workorders_id",
        "summary": "Single Work Order",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint retrieves a specific work order by its ID.\nRequest\n\nPath parameter \"id\": The ID of the work order to be retrieved.\n\nResponse\n\n\n\nProperty\nType\nDescription\n\n\n\n\nid\nint\nUnique ID of the work order\n\n\ntitle\nstring\nA short description of the work order\n\n\ncustomerId\nint\nCustomer ID associated with this work order\n\n\nserviceRequestId\nint\nRelated service request ID\n\n\ndescription\nstring\nDetailed description of the work order\n\n\nnte\nstring\nOriginal Not-To-Exceed limit for costs\n\n\nraisedNte\nstrin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_workorders_id",
        "summary": "Update Work Order",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint allows updating a specific work order by sending an HTTP PUT request to the specified URL. The request should include the work order ID in the URL and a payload in the raw request body, which can include the updated status and current estimated time of arrival (ETA).\nThis endpoint works for service providers exclusively.\nRequest Body\n\nwork_order_id (string): The ID of the work order to be updated.\n\nstatus (string): The updated status of the work order.\n\nAvailable next status option",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "work_order_id": "123-abc",
                "status": "ACCEPTED",
                "current_eta": "2025-05-02T13:00:00.00+00:00"
              }
            }
          }
        }
      }
    },
    "/v1/workorders": {
      "get": {
        "operationId": "get_v1_workorders",
        "summary": "Work Orders",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve Workorders\nThis endpoint allows you to retrieve a list of workorders that were updated today.\nRequest\n\nMethod: GET\n\nURL: https://api.ecotrak.com/v1/workorders\n\n\nResponse\nResponse\n\n\n\nProperty\nType\nDescription\n\n\n\n\nid\nint\nUnique ID of the work order\n\n\ntitle\nstring\nA short description of the work order\n\n\ncustomerId\nint\nCustomer ID associated with this work order\n\n\nserviceRequestId\nint\nRelated service request ID\n\n\ndescription\nstring\nDetailed description of the work order\n\n\nnte\nstring\nOrigina"
      }
    },
    "/v1/workorders/search": {
      "get": {
        "operationId": "get_v1_workorders_search",
        "summary": "Search Work Order",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Workorders Search\nThis endpoint is used to search for workorders based on status and updated date.\nRequest Parameters\n\nstatus (optional): Filter workorders by status.\n\nAllowed Options\n\nACCEPTED\n\nPENDING_SP_ACCEPTANCE\n\nREJECTED\n\nCOMPLETED\n\nENROUTE\n\nARRIVED\n\nPENDING_PARTS\n\nPROPOSAL_SUBMITTED\n\nPROPOSAL_APPROVED\n\nRETURN_VISIT_REQUIRED\n\nSUBMITTING_PROPOSAL\n\nCANCELLED\n\nREASSIGN\n\nUNASSIGNED\n\nNOT_FIXED\n\nPROPOSAL_REJECTED\n\n\n\n\n\nupdated_date (optional): Filter workorders by the updated date.\n\ncreated_date ",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "CANCELLED"
          },
          {
            "name": "updated_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2025-03-13"
          }
        ]
      }
    },
    "/v2/workorder/{workorder_id}/status": {
      "put": {
        "operationId": "put_v2_workorder_workorder_id_status",
        "summary": "Customer Work Order Status Change",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nAllow customers to change the status of a work order to Not Fixed or Cancelled\nRequest Parameters\nParameters\n\n\n\nParameter\nType\nRequired\nDescription\n\n\n\n\nworkOrderId\nint . Path Parameter\nYes\nThis must be the ecotrak ID\n\n\nstatus\nstring . Body Parameter\nYes\nThe available options are “CANCELLED” OR “NOT_FIXED”.\n\n\nreason\nstring. Body Parameter\nYes\nThis reason will be visible on the UI to the customer and Service Provider\n\n\n\nResponse\nSuccess Response (200 OK)\n{\n    \"status\": 200,\n    \"messa",
        "parameters": [
          {
            "name": "workorder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "status": "CANCELLED",
                "reason": "The night gnomes fixed the fride and now it is working"
              }
            }
          }
        }
      }
    },
    "/v2/asset": {
      "get": {
        "operationId": "get_v2_asset",
        "summary": "Managed Assets",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get Assets\nRetrieve managed assets for the authenticated customer (or an authorized connected partner) with rich filtering and pagination.\n\nEndpoint\nGET https://api.ecotrak.com/v2/asset\nReturns only Managed Assets. Scoping and permissions are enforced server-side.\n\nAuthorization\nThis request uses OAuth 2.0.\nRequired permission (scope/claim): GET_ALL_ASSET\n\nRequest Query Parameters (Input)\nAll parameters are optional. Unless noted, string filters are case-insensitive “contains” (partial match). C"
      }
    },
    "/v2/user": {
      "post": {
        "operationId": "post_v2_user",
        "summary": "Create User",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to create a new user within the system. It requires various user details and validates the input based on specific business rules.\nRequest Parameters\nBody Parameters\n\n\n\nParameter\nType\nRequired\nDescription\n\n\n\n\ncompany_id\nint\nYes\nMust match the token user’s company or be one of their internal tech companies with an active status.\n\n\nemail\nstring\nYes\nMust be in a valid email format and unique within the system.\n\n\nfirst_name\nstring\nYes\nUser’s first name.\n\n\nlast_name\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "company_id": 123,
                "email": "test22@ecotrak.com",
                "first_name": "Tom",
                "last_name": "Bombidil",
                "job_title_id": 1,
                "sso_user": false,
                "password": "asd123$F",
                "timezone": "CST",
                "nte_limit": 1500.36
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_v2_user",
        "summary": "View Users",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to filter and search users for your company and any linked internal technician companies.\nResponse\nSuccess Response (200 OK)\n{\n  [\n    \"id\": 1530554,\n    \"first_name\": \"Carrol\",\n    \"last_name\": \"King\",\n    \"email\": \"cking@carrolsbk.com\",\n    \"company_id\": 1530476,\n    \"sso_user\": true,\n    \"timezone\": \"America/Los_Angeles\",\n    \"status\": 1,\n    \"nte\": 10000,\n    \"job_title\": {\n        \"id\": 1706200,\n        \"name\": \"Facilities Manager\"\n                }    \n  ]"
      }
    },
    "/v2/user/{user_id}": {
      "get": {
        "operationId": "get_v2_user_user_id",
        "summary": "View User Details",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to view a user within the system.\nRequest Parameters\nBody Parameters\nNone\nResponse\nSuccess Response (200 OK)\n{\n    \"id\": 1540288,\n    \"first_name\": \"Test19\",\n    \"last_name\": \"ExtEndpoint\",\n    \"email\": \"test2124@flynn.com\",\n    \"company_id\": 15309,\n    \"sso_user\": false,\n    \"timezone\": \"CST\",\n    \"status\": 1,\n    \"nte\": 1500.36,\n    \"job_title\": {\n        \"id\": 684,\n        \"name\": \"Accounting Manager\"\n    },\n    \"organizations\": [\n        {\n            \"id\": ",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v2_user_user_id",
        "summary": "Edit User",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to edit a user within the system. It requires various user details and validates the input based on specific business rules.\nRequest Parameters\nBody Parameters (Only send the fields that need to be updated)\n\n\n\nParameter\nType\nRequired\nDescription\n\n\n\n\ncompany_id\nint\nYes\nMust match the token user’s company or be one of their internal tech companies with an active status.\n\n\nemail\nstring\nYes\nMust be in a valid email format and unique within the system.\n\n\nfirst_name\ns",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "email": "test19@ecorak.com",
                "first_name": "Kvothe",
                "last_name": "Arliden",
                "job_title_id": 1,
                "sso_user": false,
                "timezone": "CST",
                "nte_limit": 1500.36
              }
            }
          }
        }
      }
    },
    "/v2/user/{user_id}/location": {
      "get": {
        "operationId": "get_v2_user_user_id_location",
        "summary": "View User Location Assignment",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to view a user’s location assignments within the system.\nRequest Parameters\nBody Parameters\nNone\nResponse\nSuccess Response (200 OK)\n{\n   data : [\n        {\n            \"id\": 300,\n            \"organization_id\": 11776,\n            \"company_id\": 580,\n            \"name\": \"Brentwood\",\n            \"store_number\": \"1009\",\n            \"mailing_address\": {\n                \"line_1\": \"1234 Main St\",\n                \"line_2\": \"\",\n                \"city_name\": \"Los Angeles\",\n",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v2_user_user_id_location",
        "summary": "Edit User's Assigned Locations",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to edit a user’s location assignments within the system. It requires various user details and validates the input based on specific business rules.\nRequest Parameters\nBody Parameters\n\n\n\nParameter\nType\nRequired\nDescription\nWarning\n\n\n\n\n\n\n\n\nParameter\nType\nRequired\nDescription\nWarning\n\n\n\n\norg_id\nArray of ints\nYes\nIds passed here will be assigned to the user. If a Region is passed, that user will gain access to all the locations under the region\nWe will update the us",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "org_ids": [
                  5,
                  42
                ]
              }
            }
          }
        }
      }
    },
    "/v2/jobtitle": {
      "get": {
        "operationId": "get_v2_jobtitle",
        "summary": "View Job Titles",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to filter and search jobtitles for your company and any linked internal technician companies.\nRequest Parameters\nBody Parameters (Passing multiple params will be treated as AND logic)\n\n\n\nParameter\nType\nDescription\n\n\n\n\nname\nstring\nReturn all job titles that contain the text given\n\n\ncompany_id\ncomma separated ints\nReturn all records related to the company IDs passed. If none are passed then the return will include for every applicable company\n\n\nstatus\nboolean (act",
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "10"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          },
          {
            "name": "job_title_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "123"
          }
        ]
      }
    },
    "/v2/location": {
      "get": {
        "operationId": "get_v2_location",
        "summary": "View Location",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to filter and search locations for your company\nRequest Parameters\nBody Parameters (Passing multiple params will be treated as AND logic)\n\n\n\nParameter\nType\nDescription\n\n\n\n\nname\nstring\nReturn all job titles that contain the text given\n\n\nlocation_id\ncomma separated ints\nReturn all records related to the location IDs passed. If none are passed then the return will include for every applicable company\n\n\nstatus\nboolean (active/inactive)\nReturn all records related to ",
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Obi-Wan"
          },
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "17"
          },
          {
            "name": "concept_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2"
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "202"
          }
        ]
      }
    },
    "/v2/location/{location_id}": {
      "put": {
        "operationId": "put_v2_location_location_id",
        "summary": "Edit Location",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to edit a location within the system. It requires various user details and validates the input based on specific business rules.\nRequest Parameters\nBody Parameters (Only send the fields that need to be updated)\n\n\n\nParameter\nType\nDescription\n\n\n\n\nname\nstring\nlocation name\n\n\nconcept\nint\nEcotrak Location Group ID\n\n\norganization_id\nint\nEcotrak organization id\n\n\nstore_number\nstring\nlocation store number\n\n\nlegal_entity\nstring\nlocation legal entity\n\n\nmailing_address.lin",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Mines of Moria",
                "concept_id": 2,
                "organization_id": 3,
                "store_number": "AB12",
                "legal_entity": "test-1",
                "mailing_address": {
                  "line_1": "3026 Melon Way",
                  "line_2": "Lake Front",
                  "city": "Moria",
                  "country": "US",
                  "state": "Mist Mountains",
                  "zip_code": "12345"
                }
              }
            }
          }
        }
      }
    },
    "/v2/location/concept": {
      "get": {
        "operationId": "get_v2_location_concept",
        "summary": "View Concepts",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to view concepts within the system. Concepts allow locations to be group together.\nRequest Parameters\nBody Parameters\nNone\nResponse\nSuccess Response (200 OK)\n{\n   data : [\n        {\n            \"id\": 2390,\n            \"name\": \"Ace Car Wash\",\n            \"company_id\": 580,\n            \"status\": 1,\n        }\n    ]\n}"
      }
    },
    "/v2/org": {
      "get": {
        "operationId": "get_v2_org",
        "summary": "View Organization Structure",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Description\nThis endpoint is used to view a company’s location organization (Region and District) within the system.\nRequest Parameters\nBody Parameters\nNone\nResponse\nSuccess Response (200 OK)\n[\n    {\n        \"id\": 293,\n        \"name\": \"Ecotrak\",\n        \"company_id\": 1516407,\n        \"organization_type\": \"Company\",\n        \"parent_id\": null,\n        \"children\": [\n            {\n                \"id\": 47518,\n                \"name\": \"Region1\",\n                \"company_id\": 1516407,\n                \""
      },
      "post": {
        "operationId": "post_v2_org",
        "summary": "Create Organization Node",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint allows the user to create an organization Division, District or Region node. This endpoint will create division, region, or district org types.\nRequest Body\n\nname Required (string): The updated name of the organization branch.\n\nparent_id Optional (integer): The ID of the parent organization branch.\n\nThe new parent_id must follow the rules below:\n\nDistricts must have region parents\n\nregions must have division parents\n\nDivisions can only have company type parent\n\n\n\nThe field also acc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Test-District-Updated",
                "parent_id": 1234,
                "organization_type": "DISTRICT"
              }
            }
          }
        }
      }
    },
    "/v2/org/{org_id}": {
      "put": {
        "operationId": "put_v2_org_org_id",
        "summary": "Edit Organization Structure",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Organization\nThis endpoint allows the user to update an organization District or Region objects. This endpoint will only edit division, region, or district org types.\nRequest Body\n\nname Required (string): The updated name of the organization branch.\n\nparent_id Optional (integer): The ID of the parent organization branch.\n\nThe new parent_id must follow the rules below:\n\nDistricts must have region parents\n\nregions must have division parents\n\nDivisions can only have company type parent\n\n\n\nTh",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/service-providers/{sp_id}": {
      "put": {
        "operationId": "put_v1_service_providers_sp_id",
        "summary": "External Data",
        "tags": [
          "Service Provider"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Service Provider Details\nThis endpoint allows the user to update the details of a service provider.\nRequest Body\n\nvendor_id (string): The ID of the vendor.\n\nexternal_data (object): Additional external data.\n\nvalue in object must be a json\n\n\n\nResponse\nThe response for this request is a JSON object conforming to the following schema:\n{ \n    \"service_provider\": {\n        \"id\": 5449,\n        \"vendor_id\": 123456,\n        \"company_name\": DMW Group LLC DBA Darnold Plumbing,\n        \"first_name\":",
        "parameters": [
          {
            "name": "sp_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "vendor_id": "123456",
                "external_data": {
                  "site_code": "TEST",
                  "supplier_number": "123456"
                }
              }
            }
          }
        }
      }
    },
    "/v2/service-provider": {
      "get": {
        "operationId": "get_v2_service_provider",
        "summary": "Service Provider Search",
        "tags": [
          "Service Provider"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Endpoint Description\nThis endpoint retrieves service provider information based on specific query parameters. It allows users to filter the results by various criteria such as vendor ID, name, service provider ID, and status.\nRequest Parameters\n\nmissing_vendor_id (integer): Filters results to include only service providers with a specified missing vendor ID. If a 1 is passed we will show only service providers missing a vendor id\n\nname (string): The name of the service provider to search for.\n\ns",
        "parameters": [
          {
            "name": "missing_vendor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Henry"
          },
          {
            "name": "sp_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "176"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ]
      }
    },
    "/company/updated/profile": {
      "get": {
        "operationId": "get_company_updated_profile",
        "summary": "GET Recent Updated SP Profiles",
        "tags": [
          "Service Provider"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This API will return a list of service providers that have updated their profile information or rates and terms by an defined set of days.\nParams\n\nvalue (int) - Checks if any SP Company updated its profile or rates and terms in last \"value\" of days period.\n\nReturn\n\n\n\nField Name\nNullable\nData Type\nHidden if Null\n\n\n\n\nid\nNo\nnumber\nNo\n\n\nname\nNo\nstring\nNo\n\n\nemail\nNo\nstring\nNo\n\n\nphone\nNo\nstring\nNo\n\n\nphoneExt\nYes\nstring\nNo\n\n\nfein\nNo\nstring\nNo\n\n\ncreatedAt\nNo\nDate\nNo\n\n\nupdatedAt\nNo\nDate\nNo\n\n\ncompanyType\n",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "10"
          }
        ]
      }
    },
    "/api/workorders/{work_order_id}/document": {
      "get": {
        "operationId": "get_api_workorders_work_order_id_document",
        "summary": "Work Order Documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve Work Order Document\nThis endpoint retrieves the document associated with a specific work order.\nRequest\nRequest Path Parameters\n\nwork_order_id (string, required) - The unique identifier of the work order.\n\nRequest Query Parametets\n\nraw_data (Boolean, Optional) - When true is passed, the return will contain the file raw data as base 64 instead of a link\n\nResponse\n{\n    \"documents\": [\n        {\n            \"id\": 4920813,\n            \"thumbnailPath\": \"{download_link}\",\n            \"fileNam",
        "parameters": [
          {
            "name": "work_order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_api_workorders_work_order_id_document",
        "summary": "Add Work Order Documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Work Order Document Upload\nThis endpoint allows the user to upload a document for a specific work order.\nRequest Body (form-data)\n\ndescription (required)\n\ndocumentTypeId (required) - Always send 31\n\nfile (required)\n\n\nResponse\n{\n    \"documents\": [\n        {\n            \"id\": 4922044,\n            \"documentType\": \"Document\",\n            \"description\": \"test\",\n            \"typeDescription\": \"Work Order\",\n            \"fileName\": \"{attachment_url}\",\n            \"dateCreated\": \"2025-03-12T20:24:18.000Z",
        "parameters": [
          {
            "name": "work_order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/proposals/{proposal_id}/document": {
      "get": {
        "operationId": "get_api_proposals_proposal_id_document",
        "summary": "Proposal Documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get Proposal Document\nThis endpoint retrieves the document for a specific proposal.\nRequest\nRequest Parameters\n\nproposal_id (path) : The unique identifier of the proposal.\n\nRequest Query Parametets\n\nraw_data (Boolean, Optional) - When true is passed, the return will contain the file raw data as base 64 instead of a link\n\nResponse\n{\n    \"documents\": [\n        {\n            \"id\": 4920813,\n            \"thumbnailPath\": \"{download_link}\",\n            \"fileName\": \"{download_link}\",\n            \"descri",
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "raw_data",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ]
      },
      "post": {
        "operationId": "post_api_proposals_proposal_id_document",
        "summary": "Add Proposal Documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Proposal Document\nThis endpoint allows the user to upload a document for a specific proposal.\nRequest Body\n\ndescription (required)\n\ndocumentTypeId (required)\n\nfile (required)\n\n\nResponse\n{\n    \"documents\": [\n        {\n            \"id\": 4920813,\n            \"thumbnailPath\": \"{download_link}\",\n            \"fileName\": \"{download_link}\",\n            \"description\": \"\",\n            \"documentType\": \"photo\"\n        }\n    ]\n}",
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/invoices/{invoice_id}/attachments": {
      "get": {
        "operationId": "get_api_invoices_invoice_id_attachments",
        "summary": "Invoice Attachments",
        "tags": [
          "Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve Invoice Attachments\nThis endpoint retrieves the attachments associated with a specific invoice.\nRequest\n\ninvoice_id (string, required) - The unique identifier of the invoice.\n\nRequest Query Parametets\n\nraw_data (Boolean, Optional) - When true is passed, the return will contain the file raw data as base 64 instead of a link\n\nResponse\n{\n    \"attachments\": [\n        {\n            \"id\": 4920813,\n            \"thumbnailPath\": \"{download_link}\",\n            \"fileName\": \"{download_link}\",\n     ",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_api_invoices_invoice_id_attachments",
        "summary": "Add Invoice Attachments",
        "tags": [
          "Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Invoice Attachment\nThis endpoint allows the user to upload a document for a specific invoice.\nRequest Body (form-data)\n\ndescription (required)\n\ndocumentTypeId (required) - Always send 12\n\nfile (required)\n\n\nResponse\n{\n    \"documents\": [\n        {\n            \"id\": 4922044,\n            \"documentType\": \"Document\",\n            \"description\": \"test\",\n            \"typeDescription\": \"Work Order\",\n            \"fileName\": \"{attachment_url}\",\n            \"dateCreated\": \"2025-03-12T20:24:18.000Z\",\n    ",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/assets/{asset_id}/attachments": {
      "get": {
        "operationId": "get_api_assets_asset_id_attachments",
        "summary": "Asset Attachments",
        "tags": [
          "Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get Asset Attachments\nThis endpoint retrieves the attachments associated with a specific asset.\nRequest Parameters:\n\nasset_id (path parameter) - The unique identifier of the asset.\n\nRequest Query Parametets\n\nraw_data (Boolean, Optional) - When true is passed, the return will contain the file raw data as base 64 instead of a link\n\nResponse\n[\n    {\n        \"id\": 1,\n        \"documentType\": \"photo\",\n        \"description\": \"\",\n        \"typeDescription\": \"Profile Photo for the Asset\",\n        \"fileNam",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_api_assets_asset_id_attachments",
        "summary": "Add Asset Attachments",
        "tags": [
          "Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Asset Document Upload\nThis endpoint allows the user to upload a document for a specific asset.\nRequest Body (form-data)\n\ndescription (required)\n\ndocumentTypeId (required) - Always send 9\n\nfile (required)\n\n\nResponse\n\n{\n    \"documents\": [\n        {\n            \"id\": 4922044,\n            \"documentType\": \"Document\",\n            \"description\": \"test\",\n            \"typeDescription\": \"Work Order\",\n            \"fileName\": \"{attachment_url}\",\n            \"dateCreated\": \"2025-03-12T20:24:18.000Z\",\n       ",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/webhook": {
      "get": {
        "operationId": "get_api_webhook",
        "summary": "View Webhook Configuration",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "View Webhook Configuration\nThis endpoint retrieves the notes for a specific work order identified by its ID.\nResponse\n[\n    {\n        \"createdBy\": 1,\n        \"createdAt\": \"2024-10-16T17:44:33.000Z\",\n        \"updatedBy\": 1,\n        \"updatedAt\": \"2024-10-23T21:24:23.000Z\",\n        \"id\": 1,\n        \"name\": \"asset\",\n        \"url\": \"https://webhook.site/778c64e7-dec3-4671-9895-eae94f566906\",\n        \"companyId\": 123,\n        \"permissionId\": 1311,\n        \"status\": 1,\n        \"header\": null,\n        \""
      },
      "post": {
        "operationId": "post_api_webhook",
        "summary": "Connect to Webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Connect to Webhook\nThis API endpoint allows you to create a webhook by sending an HTTP POST request to the specified URL. The request should include the name, URL, action, method, retry count, client ID, and secret in the payload.\nRequest Body\n\nname (string): The name of the asset.\n\nurl (string): The URL where the webhook will be sent.\n\naction (string): The action to trigger the webhook.\n\nWEBHOOK_API_SURVEYOR_ADD_ASSET\n\nWEBHOOK_WORKORDER_COMMENT\n\nWEBHOOK_INVOICE_COMMENT\n\nWEBHOOK_PROPOSAL_COMMENT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "asset_Edited",
                "url": "https://webhook.site/123",
                "action": "WEBHOOK_INVOICE_COMMENT",
                "method": "put",
                "retryCount": 1,
                "clientId": "CLIENT_ID_KEY_PHRASE",
                "secret": "SECRET_KEY_PHRASE"
              }
            }
          }
        }
      }
    },
    "/api/webhook/{webhook_id}": {
      "get": {
        "operationId": "get_api_webhook_webhook_id",
        "summary": "View a single Webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This API endpoint retrieves the details of a specific webhook identified by the provided webhook ID.\nResponse\n[\n    {\n        \"createdBy\": 1,\n        \"createdAt\": \"2024-10-16T17:44:33.000Z\",\n        \"updatedBy\": 1,\n        \"updatedAt\": \"2024-10-23T21:24:23.000Z\",\n        \"id\": 1,\n        \"name\": \"asset\",\n        \"url\": \"https://webhook.site/778c64e7-dec3-4671-9895-eae94f566906\",\n        \"companyId\": 123,\n        \"permissionId\": 1311,\n        \"status\": 1,\n        \"header\": null,\n        \"method\":",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "operationId": "delete_api_webhook_webhook_id",
        "summary": "Delete a Webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete Webhook\nThis endpoint is used to delete a specific webhook by providing the webhook ID\nRequest Body\nThis request does not require a request body.\nResponse\nThe response for this request will just be a 200 or 400 code",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/webhook/9": {
      "patch": {
        "operationId": "patch_api_webhook_9",
        "summary": "Edit an Existing Webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Webhook Endpoint\nThis endpoint allows you to update a specific webhook by providing the webhook ID.\nRequest Body\n\nname: (string) text, a name for the endpoint\n\nurl: (string) The endpoint we will invoke when an action occurs\n\naction: (string) Type of action you wish to register for.\n\nOptions:\n\nWEBHOOK_WORKORDER_COMMENT\n\nWEBHOOK_INVOICE_COMMENT\n\nWEBHOOK_PROPOSAL_COMMENT\n\nWEBHOOK_WORKORDER_ACTIVITY\n\nWEBHOOK_INVOICE_ACTIVITY\n\n\n\n\n\nstatus: (int) Pass 1 to turn on. Pass 0 to turn off.\n\nmethod: (",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "asset_Edited",
                "url": "https://webhook.site/123",
                "companyId": 123,
                "action": "WEBHOOK_INVOICE_COMMENT",
                "status": 0,
                "method": "put",
                "retryCount": 1
              }
            }
          }
        }
      }
    },
    "/v1/invoices/{invoice_id}/note/{note_id}": {
      "get": {
        "operationId": "get_v1_invoices_invoice_id_note_note_id",
        "summary": "Single Invoice Note",
        "tags": [
          "Invoice Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint retrieves a specific note with the given ID for the invoice specified.\nRequest\n\ninvoice_id (path parameter) : The ID of the invoice for which the note is being retrieved.\n\nnote_id (path parameter) : The ID of the specific note being retrieved.\n\n\nResponse\n\n\n\nProperty\nType\n\n\n\n\nid\nInteger\n\n\ninvoice_id\nInteger\n\n\ndescription\nString\n\n\ncreate_date\nDate\n\n\n\n\n{\n    \"note\": {\n        \"id\": 41,\n        \"invoice_id\": 1234,\n        \"description\": \"Karla says this system is amazing. \",\n        \"c",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_invoices_invoice_id_note_note_id",
        "summary": "Update Invoice Note",
        "tags": [
          "Invoice Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Invoice Note\nThis endpoint allows you to update a specific note for a particular invoice.\nThis endpoint works for service providers exclusively.\nRequest Body\n\ndescription (string, Required): The descriptive text for the note.\n\nResponse\n\n\n\nProperty\nType\n\n\n\n\nid\nInteger\n\n\ninvoice_id\nInteger\n\n\ndescription\nString\n\n\ncreate_date\nDate\n\n\n\n{\n    \"note\": {\n        \"id\": 41,\n        \"invoice_id\": 1234,\n        \"description\": \"Karla says this system is amazing. \",\n        \"created_date\": \"2016-10-13T1",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "description": "Note descriptive text"
              }
            }
          }
        }
      }
    },
    "/v1/invoices/{id}/note": {
      "get": {
        "operationId": "get_v1_invoices_id_note",
        "summary": "All Invoice Notes",
        "tags": [
          "Invoice Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve Invoice Note\nThis endpoint retrieves the note associated with a specific invoice.\nRequest\nRequest Parameters\n\nid (path) : The unique identifier of the invoice.\n\nResponse\nReturn will be an array of all notes found for a given invoice\n\n\n\nProperty\nType\n\n\n\n\nid\nInteger\n\n\ninvoice_id\nInteger\n\n\ndescription\nString\n\n\ncreate_date\nDate\n\n\n\n{\n    \"note\": {\n        \"id\": 41,\n        \"invoice_id\": 1234,\n        \"description\": \"Karla says this system is amazing. \",\n        \"created_date\": \"2016-10-13T19",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_invoices_id_note",
        "summary": "Create Invoice Note",
        "tags": [
          "Invoice Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Invoice Note\nThis endpoint allows you to add a note to a specific invoice identified by its ID.\nRequest Body\n\ndescription (string, required): The descriptive text for the note.\n\nResponse\n\n\n\nProperty\nType\n\n\n\n\nid\nInteger\n\n\ninvoice_id\nInteger\n\n\ndescription\nString\n\n\ncreate_date\nDate\n\n\n\n{\n    \"note\": {\n        \"id\": 41,\n        \"invoice_id\": 1234,\n        \"description\": \"Karla says this system is amazing. \",\n        \"created_date\": \"2016-10-13T19:40:02.000+0000\",\n        \"updated_date\": \"2016-10-",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "description": "Note descriptive text"
              }
            }
          }
        }
      }
    },
    "/v1/workorders/{id}/status": {
      "put": {
        "operationId": "put_v1_workorders_id_status",
        "summary": "Update Work Order Status",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Work Order Status\nThis endpoint allows the client to update the status of a specific work order.\nRequest Body\n\nstatus (string, required): The new status to be assigned to the work order.\n\nAllowed options\n\nACCEPTED\n\nARRIVED\n\nSOFT_COMPLETED\n\nENROUTE\n\nNOT_FIXED\n\nPENDING_PARTS\n\nREJECTED\n\nRETURN_VISIT_REQUIRED\n\nSUBMITTING_PROPOSAL\n\n\n\n\n\n\nResponse\n{\n    \"work_order\": {\n        \"id\": 320,\n        \"work_order_id\": null,\n        \"proposal_id\": 0,\n        \"status\": \"Accepted\",\n        \"asset_type_na",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "status": "ACCEPTED"
              }
            }
          }
        }
      }
    },
    "/v1/workorders/{id}/eta": {
      "put": {
        "operationId": "put_v1_workorders_id_eta",
        "summary": "Update Work Order ETA",
        "tags": [
          "Work Order"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Workorder ETA\nThis endpoint is used to update the estimated time of arrival (ETA) for a specific work order.\nRequest Body\n\ncurrent_eta (string): The updated estimated time of arrival in ISO 8601 format.\n\nResponse\nThe response will contain the updated details of the work order, including the new ETA.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "current_eta": "2025-10-03T13:00:00.00+00:00"
              }
            }
          }
        }
      }
    },
    "/v1/workorders/{work_order_id}/note/{note_id}": {
      "get": {
        "operationId": "get_v1_workorders_work_order_id_note_note_id",
        "summary": "Work Order Note",
        "tags": [
          "Work Order Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint retrieves a specific note for a particular work order. It is an HTTP GET request to the specified URL.\nRequest Parameters\n\nwork_order_id (path): The ID of the work order for which the note is being retrieved.\n\nnote_id (path): The ID of the specific note to be retrieved.\n\n\nResponse\n{\n    \"note\": {\n        \"id\": 41,\n        \"work_order_id\": 1234,\n        \"description\": \"Karla says this system is amazing.\",\n        \"created_date\": \"2016-10-13T19:40:02.000+0000\",\n        \"updated_date\"",
        "parameters": [
          {
            "name": "work_order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_workorders_work_order_id_note_note_id",
        "summary": "Update Work Order Note",
        "tags": [
          "Work Order Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Work Order Note\nAdd Note to Work Order\nThis endpoint allows the user to add a note to a specific work order. All updatable fields should be included in the update irrespective of changing the current value. If a value of an updatable field is not present or set to null the value will be persisted as a null value. If an updatable field is not present in the body of the update, then the value of the missing field will be set to null.This endpoint works for service providers exclusively.  \nR",
        "parameters": [
          {
            "name": "work_order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "description": "Note descriptive text"
              }
            }
          }
        }
      }
    },
    "/v1/workorders/{id}/note": {
      "get": {
        "operationId": "get_v1_workorders_id_note",
        "summary": "Work Order Notes",
        "tags": [
          "Work Order Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint retrieves the notes for a specific work order identified by its ID.\nRequest\n\nPath parameter\n\nid: The ID of the work order.\n\n\n\nResponse\n{\n    \"note\": {\n        \"id\": 41,\n        \"work_order_id\": 1234,\n        \"description\": \"Karla says this system is amazing.\",\n        \"created_date\": \"2016-10-13T19:40:02.000+0000\",\n        \"updated_date\": \"2016-10-13T19:46:51.000+0000\"\n    }\n}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_workorders_id_note",
        "summary": "Create Work Order Note",
        "tags": [
          "Work Order Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Note to Work Order\nThis endpoint allows the user to add a note to a specific work order.\nRequest Body\n\ndescription (string, required): Note descriptive text\n\nResponse\n{\n    \"note\": {\n        \"id\": 41,\n        \"work_order_id\": 1234,\n        \"description\": \"Karla says this system is amazing.\",\n        \"created_date\": \"2016-10-13T19:40:02.000+0000\",\n        \"updated_date\": \"2016-10-13T19:46:51.000+0000\"\n    }\n}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "description": "I will be right over after picking up parts from Home Depot"
              }
            }
          }
        }
      }
    },
    "/api/surveyor/asset": {
      "post": {
        "operationId": "post_api_surveyor_asset",
        "summary": "Bulk Upload New Assets",
        "tags": [
          "Asset Upload for Surveying"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Bulk Upload New Assets\nAs part of this endpoint, after uploading the assets, we will map any warranties that match the assets manufacturer and model. This API does support webhook as the call will be completed asynchronously. The Webhook will contain the data related to the assets that were created. If you wish to sign up for the webhook, please let us know the target URI, required headers and API Method\nParams (Body form-data)\n\nassetTypeId (Asset Group)\n\nEnsure the passed value is active for th"
      }
    },
    "/api/surveyor/branches/{customerId}": {
      "get": {
        "operationId": "get_api_surveyor_branches_customerId",
        "summary": "GET Customer Locations",
        "tags": [
          "Asset Upload for Surveying"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This API endpoint retrieves the branches for a specific customer ID.\nRequest\n\ncustomerId (int): Ecotrak Customer ID\n\nResponse\nThe response will be a JSON array containing branch details. Each branch object includes the following properties:\n\ncreatedBy (number): The ID of the user who created the branch.\n\ncreatedAt (string): The date and time when the branch was created.\n\nupdatedBy (number): The ID of the user who last updated the branch.\n\nupdatedAt (string): The date and time when the branch was",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/surveyor/asset/{customerId}": {
      "get": {
        "operationId": "get_api_surveyor_asset_customerId",
        "summary": "GET Company Meta Data",
        "tags": [
          "Asset Upload for Surveying"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "GET /api/surveyor/asset/:customerId\nThis endpoint retrieves meta-data for a specific customer.\nRequest\nNo request body is required for this endpoint.\n\n:customerId (path parameter) - The ID of the customer for whom the asset information is being retrieved.\n\nResponse\nThe response for this request is a JSON object with the following schema:\n{\n  \"Areas\": [\n    {\n      \"id\": 0,\n      \"name\": \"\"\n    }\n  ],\n  \"assetGroups\": [\n    {\n      \"id\": 0,\n      \"name\": \"\"\n    }\n  ],\n  \"assetGroupNames\": [\n    {",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/surveyor/qr/validate": {
      "post": {
        "operationId": "post_api_surveyor_qr_validate",
        "summary": "Validate QR Code",
        "tags": [
          "Asset Upload for Surveying"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This API endpoint is used to validate a QR code for the surveyor. The HTTP POST request should be made to https://api.ecotrak.com/api/surveyor/qr/validate with the raw request body containing the \"qrCodeUrl\" parameter.\nPayload\nqrCodeUrl (string) : text provided after scanning a qr code\nResponse\n\nformatValidation\n\nIf the url is approved by Ecotrak, the value will be true\n\n\navailable\n\nif the ID in the url is unused, the value will be true\n\nIf formatValidation is false, availble will always be fals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "qrCodeUrl": "https://app.ecotrak.com/api/qr/asset/3708"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.ecotrak.com/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Asset Upload for Surveying"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Attachments"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Invoice Notes"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Location"
    },
    {
      "name": "Service Provider"
    },
    {
      "name": "User"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Work Order"
    },
    {
      "name": "Work Order Notes"
    }
  ]
}