{
  "openapi": "3.0.3",
  "info": {
    "title": "Appodeal Reporting API",
    "version": "v2",
    "description": "Appodeal Reporting API for retrieving ad monetization statistics and managing applications.",
    "x-jentic-source-url": "https://docs.appodeal.com/reporting/reporting-api"
  },
  "servers": [
    {
      "url": "https://api-services.appodeal.com/api/v2",
      "description": "Appodeal API production server"
    }
  ],
  "paths": {
    "/stats_api": {
      "get": {
        "operationId": "getstatistics",
        "summary": "Request ad monetization statistics",
        "description": "Retrieve statistics data in JSON format. Returns a task_id for asynchronous processing.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "User ID for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-mm-dd format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-mm-dd format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "app[]",
            "in": "query",
            "description": "Application key or 'ALL'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country[]",
            "in": "query",
            "description": "ISO 2-character country code or 'ALL'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network[]",
            "in": "query",
            "description": "Network identifier. Can specify multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "detalisation[]",
            "in": "query",
            "description": "Breakdown/granularity options",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "app",
                "country",
                "network",
                "banner_type",
                "segment",
                "placement",
                "include_shared_apps",
                "skip_direct"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics task initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid api_key or user_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check_status": {
      "get": {
        "operationId": "checktaskstatus",
        "summary": "Check the status of a statistics task",
        "description": "Track the readiness of a previously submitted statistics request.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "description": "Task identifier from the initial stats request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/output_result": {
      "get": {
        "operationId": "gettaskresults",
        "summary": "Retrieve statistics results",
        "description": "Download prepared statistics data after task completion.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "description": "Task identifier from the initial stats request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "post": {
        "operationId": "manageapplications",
        "summary": "List, create, or update applications",
        "description": "Search for existing applications, create new ones, or update existing application settings.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppManageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for authentication, used together with user_id query parameter"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Non-zero error code"
          },
          "message": {
            "type": "string",
            "description": "Error description"
          }
        }
      },
      "StatsTaskResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "0 for success"
          },
          "message": {
            "type": "string"
          },
          "task_id": {
            "type": "string",
            "description": "Identifier for tracking the asynchronous statistics task"
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "0 for success/ready, non-zero for pending or error"
          },
          "message": {
            "type": "string",
            "description": "Status description"
          }
        }
      },
      "StatsResultResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "0 for success"
          },
          "message": {
            "type": "string"
          },
          "download_url": {
            "type": "string",
            "description": "Optional URL to download results as a file"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatsRecord"
            }
          }
        }
      },
      "StatsRecord": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date of the record (when detalisation includes date)"
          },
          "app_key": {
            "type": "string",
            "description": "Application key (when detalisation includes app)"
          },
          "app_name": {
            "type": "string",
            "description": "Application name (when detalisation includes app)"
          },
          "country_code": {
            "type": "string",
            "description": "ISO country code (when detalisation includes country)"
          },
          "network": {
            "type": "string",
            "description": "Ad network name (when detalisation includes network)"
          },
          "requests": {
            "type": "number",
            "description": "Number of ad requests"
          },
          "fills": {
            "type": "number",
            "description": "Number of ad fills"
          },
          "impressions": {
            "type": "number",
            "description": "Number of ad impressions"
          },
          "fillrate": {
            "type": "number",
            "description": "Fill rate percentage"
          },
          "clicks": {
            "type": "number",
            "description": "Number of clicks"
          },
          "ctr": {
            "type": "number",
            "description": "Click-through rate"
          },
          "revenue": {
            "type": "number",
            "description": "Revenue in USD"
          },
          "ecpm": {
            "type": "number",
            "description": "Effective cost per mille"
          }
        }
      },
      "AppManageRequest": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "integer",
            "description": "Platform: 1=Google, 2=Amazon, 4=iOS",
            "enum": [
              1,
              2,
              4
            ]
          },
          "bundle_id": {
            "type": "string",
            "description": "Package/bundle identifier (required for create)"
          },
          "name": {
            "type": "string",
            "description": "Application name"
          },
          "app_key": {
            "type": "string",
            "description": "Existing application key (required for update)"
          },
          "is_game": {
            "type": "integer",
            "description": "1 for games, 0 for apps",
            "enum": [
              0,
              1
            ]
          },
          "orientation": {
            "type": "string",
            "description": "App orientation",
            "enum": [
              "both",
              "landscape",
              "portrait"
            ]
          },
          "is_for_kids": {
            "type": "integer",
            "description": "1 if COPPA-targeted",
            "enum": [
              0,
              1
            ]
          },
          "coppa": {
            "type": "integer",
            "description": "1 if COPPA compliant",
            "enum": [
              0,
              1
            ]
          },
          "filter_mature_content": {
            "type": "integer",
            "description": "1 to filter adult ads",
            "enum": [
              0,
              1
            ]
          }
        }
      },
      "AppResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "0 for success"
          },
          "message": {
            "type": "string",
            "description": "Result description"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "Operations related to Applications"
    },
    {
      "name": "Statistics",
      "description": "Operations related to Statistics"
    }
  ]
}