{
  "openapi": "3.0.0",
  "info": {
    "description": "Used to Authenticate",
    "version": "1.0.0-oas3",
    "title": "Authentication API",
    "contact": {
      "email": "gagan.s@appgallop.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AppGallop/Authorization/1.0.0-oas3/swagger.json"
  },
  "tags": [
    {
      "name": "users",
      "description": "Users can use this API to authenticate themselves on appGallop API platform."
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Generate token",
        "description": "Adds an item to the system",
        "responses": {
          "200": {
            "description": "token created"
          },
          "401": {
            "description": "unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/credentials"
              }
            }
          },
          "description": "User Credentials"
        },
        "operationId": "post-authenticate"
      }
    }
  },
  "components": {
    "schemas": {
      "credentials": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "xyz@appgallop.com"
          },
          "password": {
            "type": "string",
            "example": "Password@123"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.appgallop.com/Appgallop-APICenter"
    }
  ]
}
