{
  "openapi": "3.0.3",
  "info": {
    "title": "Ambee Air Quality API",
    "version": "1.0.0",
    "description": "Real-time, historical, and forecast air quality data by coordinates, postal code, city, or country. Provides AQI, pollutant concentrations (CO, NO2, O3, PM10, PM2.5, SO2).",
    "x-jentic-source-url": "https://docs.ambeedata.com"
  },
  "servers": [
    {
      "url": "https://api.ambeedata.com"
    }
  ],
  "paths": {
    "/latest/by-lat-lng": {
      "get": {
        "operationId": "getLatestByLatLng",
        "summary": "Latest air quality by coordinates",
        "description": "Get air quality data using geographic coordinates.",
        "tags": [
          "Latest"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Longitude"
          }
        ],
        "responses": {
          "200": {
            "description": "Air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/latest/by-postal-code": {
      "get": {
        "operationId": "getLatestByPostalCode",
        "summary": "Latest air quality by postal code",
        "description": "Get air quality data using postal code.",
        "tags": [
          "Latest"
        ],
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Postal code"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "3-letter ISO country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/latest/by-city": {
      "get": {
        "operationId": "getLatestByCity",
        "summary": "Latest air quality by city",
        "description": "Get air quality data by city name.",
        "tags": [
          "Latest"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Number of records"
          }
        ],
        "responses": {
          "200": {
            "description": "Air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/latest/by-country-code": {
      "get": {
        "operationId": "getLatestByCountryCode",
        "summary": "Latest air quality by country",
        "description": "Get air quality data by ISO country code.",
        "tags": [
          "Latest"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "3-letter ISO country code"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Number of records"
          }
        ],
        "responses": {
          "200": {
            "description": "Air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history/by-lat-lng": {
      "get": {
        "operationId": "getHistoryByLatLng",
        "summary": "Historical air quality by coordinates",
        "description": "Get historical air quality data using geographic coordinates.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start timestamp (YYYY-MM-DD hh:mm:ss)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End timestamp (YYYY-MM-DD hh:mm:ss)"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history/by-postal-code": {
      "get": {
        "operationId": "getHistoryByPostalCode",
        "summary": "Historical air quality by postal code",
        "description": "Get historical air quality data using postal code.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start timestamp (YYYY-MM-DD hh:mm:ss)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End timestamp (YYYY-MM-DD hh:mm:ss)"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/aq/by-lat-lng": {
      "get": {
        "operationId": "getForecastByLatLng",
        "summary": "Air quality forecast by coordinates",
        "description": "Get 48-hour air quality forecasts by geographic coordinates. Updated every 12 hours.",
        "tags": [
          "Forecast"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AirQualityResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "stations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AirQualityStation"
            }
          }
        }
      },
      "AirQualityStation": {
        "type": "object",
        "properties": {
          "CO": {
            "type": "number",
            "description": "Carbon monoxide concentration"
          },
          "NO2": {
            "type": "number",
            "description": "Nitrogen dioxide concentration"
          },
          "OZONE": {
            "type": "number",
            "description": "Ozone concentration"
          },
          "PM10": {
            "type": "number",
            "description": "Particulate matter <10um"
          },
          "PM25": {
            "type": "number",
            "description": "Particulate matter <2.5um"
          },
          "SO2": {
            "type": "number",
            "description": "Sulfur dioxide concentration"
          },
          "AQI": {
            "type": "integer",
            "description": "Air Quality Index"
          },
          "aqiInfo": {
            "type": "object",
            "properties": {
              "pollutant": {
                "type": "string"
              },
              "concentration": {
                "type": "number"
              },
              "category": {
                "type": "string"
              }
            }
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}