{
  "openapi": "3.0.3",
  "info": {
    "title": "Autobound API",
    "version": "2.0.0",
    "description": "Autobound API for generating personalized sales content including cold outbound emails and openers based on prospect and seller information.",
    "x-jentic-source-url": "https://autobound-api.readme.io/docs/autobound-api-documentation",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.autobound.ai/api/external"
    }
  ],
  "paths": {
    "/generate-content/v2.0": {
      "post": {
        "operationId": "generateContent",
        "summary": "Generate personalized sales content",
        "description": "Generates personalized sales content (emails, openers, etc.) based on prospect and seller information",
        "tags": [
          "Content Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contactEmail",
          "userEmail",
          "contentType"
        ],
        "properties": {
          "contactEmail": {
            "type": "string",
            "format": "email",
            "description": "Prospect email address"
          },
          "userEmail": {
            "type": "string",
            "format": "email",
            "description": "Seller email address"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "COLD_OUTBOUND_EMAIL",
              "COLD_OUTBOUND_OPENER"
            ],
            "description": "Type of content to generate"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "default": 1,
            "description": "Number of unique content pieces"
          },
          "generationModel": {
            "type": "string",
            "enum": [
              "turbo",
              "ultra"
            ],
            "description": "AI model to use"
          },
          "additionalContext": {
            "type": "string",
            "description": "Custom instructions for generation"
          },
          "salesAsset": {
            "type": "string",
            "description": "Content/instructions for AI incorporation"
          }
        }
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "contentList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "contentItemId": {
                  "type": "string"
                },
                "includedInsights": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "insightsUsed": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "valuePropsUsed": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "templateId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key obtained from sales@autobound.ai"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Content Generation"
    }
  ]
}
