{
  "openapi": "3.0.3",
  "info": {
    "title": "ZapCap API",
    "description": "ZapCap is a REST API for programmatically adding high-quality animated subtitles to videos. Process videos in 48 languages with up to 99.9% transcription accuracy, and transform them using 20+ designer templates.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://platform.zapcap.ai/docs/quickstart"
  },
  "servers": [
    {
      "url": "https://api.zapcap.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/videos": {
      "post": {
        "tags": [
          "Videos"
        ],
        "summary": "Upload a video file",
        "description": "Upload a video file directly to ZapCap for processing. Supports MP4 and QuickTime formats.",
        "operationId": "uploadVideo",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The video file to upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/videos/url": {
      "post": {
        "tags": [
          "Videos"
        ],
        "summary": "Upload a video by URL",
        "description": "Upload a video by providing a URL to the video file.",
        "operationId": "uploadVideoByUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoUrlUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get available templates",
        "description": "Retrieve a list of all available subtitle templates.",
        "operationId": "getTemplates",
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{videoId}/task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a video task",
        "description": "Create a processing task for a video using a specified template. The task processes the video asynchronously.",
        "operationId": "createVideoTask",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The ID of the uploaded video",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{videoId}/task/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get video task status",
        "description": "Check the status and results of a video processing task.",
        "operationId": "getVideoTask",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The ID of the uploaded video",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{videoId}/task/{taskId}/approve-transcript": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Approve transcript",
        "description": "Approve the transcript for a video task. Required if autoApprove was not set to true when creating the task.",
        "operationId": "approveTranscript",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The ID of the uploaded video",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript approved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key obtained from the ZapCap dashboard"
      }
    },
    "schemas": {
      "VideoUploadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Upload status",
            "example": "uploaded"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique ID of the uploaded video",
            "example": "cd97a23f-6c6d-4af7-ad66-b04ed4bb1c5e"
          },
          "storageId": {
            "type": "string",
            "description": "The storage identifier",
            "example": "storage-123"
          }
        }
      },
      "VideoUrlUploadRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the video to upload",
            "example": "https://example.com/path/to/video.mp4"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the template"
          },
          "name": {
            "type": "string",
            "description": "The name of the template"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": [
          "templateId"
        ],
        "properties": {
          "templateId": {
            "type": "string",
            "description": "The ID of the template to use"
          },
          "autoApprove": {
            "type": "boolean",
            "description": "Whether to automatically approve the transcript",
            "default": false
          },
          "language": {
            "type": "string",
            "description": "The language of the video (ISO 639-1 code)",
            "example": "en"
          }
        }
      },
      "CreateTaskResponse": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "format": "uuid",
            "description": "The unique ID of the created task",
            "example": "54abe67d-be14-4c78-800b-01d12bcfaaa6"
          }
        }
      },
      "TaskStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The task ID"
          },
          "status": {
            "type": "string",
            "description": "Current status of the task",
            "enum": [
              "pending",
              "transcribing",
              "completed",
              "failed"
            ]
          },
          "transcript": {
            "type": "string",
            "format": "uri",
            "description": "Download URL for the transcript"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Download URL for the processed video"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Videos",
      "description": "Video upload and management"
    },
    {
      "name": "Templates",
      "description": "Template management"
    },
    {
      "name": "Tasks",
      "description": "Video processing tasks"
    }
  ]
}