{
  "openapi": "3.0.3",
  "info": {
    "title": "Antsroute API",
    "description": "This public API allows you to synchronize your data with Antsroute. After subscribing to Antsroute with the proper plan, you will be able to generate an API key for using this API. <br>Then you will be able to directly create service/delivery/collect in Antsroute planning or basket. It will also be easy to retrieve current status of your service(s)/delivery(s)/collect(s).<br><br> In order to use this API, you need an API key you can generate in your Antsroute account ( in Antsroute, click on your top right name and select API Key ). This API Key has to be added as a HTTP Header ( \"cakey\" ) for all your requests.To be able to test the API directly from this page, first click on the <b>Authorize<b> button below and paste your API key.",
    "version": "v0.0.1",
    "x-jentic-source-url": "https://app.antsroute.com/v3/api-docs/public"
  },
  "servers": [
    {
      "url": "https://app.antsroute.com"
    }
  ],
  "paths": {
    "/capi/skill/{id}": {
      "get": {
        "tags": [
          "Skill"
        ],
        "summary": "Get the skill by id",
        "description": "This method allows to get the skill with the corresponding id.",
        "operationId": "getSkill",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Skill successfully get",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Skill"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Skill"
        ],
        "summary": "Update a skill in Antsroute.",
        "description": "This method allow to update a skill in Antsroute.",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateSkill"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Skill successfully update",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Skill"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Skill"
        ],
        "summary": "Delete a skill by id in Antsroute.",
        "description": "This method allow to delete a skill in Antsroute.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Skill successfully deleted"
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/unschedule": {
      "put": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Put plan orders in the basket",
        "operationId": "putOrdersToBasketById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanOrderSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order successfully put to basket",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/id/{id}": {
      "get": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Get a service/delivery/collect by Antsroute id.",
        "description": "This method allow to get a service/delivery/collect with Antsroute id.",
        "operationId": "getOrderById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order/Delivery/Collect successfully get",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Update an order by Antsroute id",
        "description": "This method allows to update an order",
        "operationId": "updatePlanOrderById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdatePublic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order successfully updated",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Delete a service/delivery/collect by Antsroute id. If the current state is CREATED ( service/delivery/collect in basket ), then deletion will fully delete data from your database, otherwise service/delivery/collect will be archived as DELETED ",
        "description": "This method allows to delete a service/delivery/collect with Antsroute id.",
        "operationId": "deleteOrderById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "description": "This boolean allows to define if  the order has to be definitively deleted from your database",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "cancelIfRouteStarted",
            "in": "query",
            "description": "This boolean allows to cancel the order if this one is not yet terminated and in a started route",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order/Delivery/Collect successfully get",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Update order by id.",
        "description": "Update order by id",
        "operationId": "patchOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderPatchPublic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OrderPatchPublic"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/id/{id}/schedule/{scheduledDate}": {
      "put": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Plan a service/delivery/collect for a specific day by Antsroute id.",
        "description": "This method allow to schedule a service/delivery/collect with a specific date. This operation won't be allowed if service/delivery/collect is already in a started/terminated route. Depending of the state : <ul><li>PLANNED: if the route is not started, the service/delivery/collect will be remove from the route and move as unassigned at the given date</li><li>CONFIRMED: operation not allowed</li><li>PENDING: operation not allowed</li><li>UNASSIGNED: the service/delivery/collect will move as unassigned at the given date</li><li>CANCELED: the service/delivery/collect will move as unassigned at the given date</li><li>DONE: operation not allowed</li><li>DELETED: the service/delivery/collect will be unarchived and moved as unassigned at the given date</li></ul>",
        "operationId": "scheduleOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "scheduledDate",
            "in": "path",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order/Delivery/Collect successfully scheduled",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/external-id/{externalId}": {
      "get": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Get a service/delivery/collect by external id",
        "description": "This method allow to get a service/delivery/collect with external id",
        "operationId": "getOrderByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order/Delivery/Collect successfully get",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Update custom fields, comments and child comments from an order by external id",
        "description": "This method allows to update custom fields, comments and child comments from an order",
        "operationId": "updatePlanOrderByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdatePublic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order successfully updated",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Delete a service/delivery/collect by external id",
        "description": "Delete a service/delivery/collect by external id. If the current state is CREATED ( service/delivery/collect in basket ), then deletion will fully delete data from your database, otherwise service/delivery/collect will be archived as DELETED ",
        "operationId": "deleteOrderByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "description": "This boolean allows to define if  the order has to be definitively deleted from your database",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "cancelIfRouteStarted",
            "in": "query",
            "description": "This boolean allows to cancel the order if this one is not yet terminated and in a started route",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order/Delivery/Collect successfully deleted",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Update order by external id.",
        "description": "Update order by external id",
        "operationId": "patchOrderByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderPatchPublic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OrderPatchPublic"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/external-id/unschedule": {
      "put": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Put plan orders in the basket",
        "operationId": "putOrdersToBasketByExternalId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalPlanOrderSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Order successfully put to basket",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/item-type/{reference}": {
      "put": {
        "tags": [
          "Item type"
        ],
        "summary": "Update an item type in Antsroute.",
        "description": "This method allow to update an item type in Antsroute. Please verify that the item type management option is activated in settings of the corresponding site.",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Item type successfully update",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ItemType"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Item type"
        ],
        "summary": "Delete an item type by unique reference in Antsroute.",
        "description": "This method allow to delete an item type in Antsroute. Please verify that the item type management option is activated in settings of the corresponding site.",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Item type successfully deleted"
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/customer/id/{id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Get a customer by Antsroute id",
        "description": "Find a customer by Antsroute id",
        "operationId": "getCustomerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeSectors",
            "in": "query",
            "description": "Return sectors assigned to this customer",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Customer successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Customer"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "Update customer attributes by Antsroute id",
        "description": "Update attributes for customer with specified Antsroute id",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Customer successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Customer"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete customer by Antsroute id",
        "description": "Delete a customer by Antsroute id (customer history is preserved)",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Customer successfully deleted",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/customer/id/{customerId}/absences/{absenceId}": {
      "put": {
        "tags": [
          "Customer absences"
        ],
        "summary": "Update customer absence",
        "operationId": "updateAbsence",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAbsence"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAbsence"
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer absences"
        ],
        "summary": "Delete customer absence",
        "operationId": "deleteAbsence",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/customer/external-id/{externalId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Get customer by external id",
        "description": "Get a customer by external id",
        "operationId": "getCustomerByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSectors",
            "in": "query",
            "description": "Return sectors assigned to this customer",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Customer successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Customer"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "Update customer attributes by external id",
        "description": "Update attributes for customer by external id",
        "operationId": "updateCustomer_1",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Customer successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Customer"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete customer by external id",
        "description": "Delete a customer by external id (customer history is preserved)",
        "operationId": "deleteCustomerByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Customer successfully deleted",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/agent/{agentEmail}/skills": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get the agent additional skills plan by date range",
        "description": "This method allows to get the agent additional skills by date range.",
        "operationId": "getAgentAdditionalSkills",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Agent hourly additional skills successfully get",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HourlyPlan"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Update or create agent additional skills in Antsroute.",
        "description": "This method allow to update or create agent additional skills in Antsroute.",
        "operationId": "updateAgentAdditionalSkills",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HourlyPlan_AdditionalSkillsInWorkingHourDay"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Agent hourly additional skills successfully updated or created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HourlyPlan"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/agent/{agentEmail}/hourly-plans": {
      "get": {
        "tags": [
          "Agent Hourly Plan"
        ],
        "summary": "Get the agent hourly plan by date range",
        "description": "This method allows to get the agent hourly plan by date range.",
        "operationId": "getAgentHourlyPlan",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Agent hourly plan successfully get",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HourlyPlan"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Agent Hourly Plan"
        ],
        "summary": "Update or create agent hourly plan in Antsroute.",
        "description": "This method allow to update or create agent hourly plan in Antsroute.",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HourlyPlan_Public"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Agent hourly plan successfully updated or created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HourlyPlan"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/agent/{agentEmail}/absences/{absenceId}": {
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Update agent absence",
        "operationId": "updateAbsence_1",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAbsence_Public"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Absence_Public"
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Agent"
        ],
        "summary": "Delete agent absence",
        "operationId": "deleteAbsence_1",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/skill": {
      "get": {
        "tags": [
          "Skill"
        ],
        "summary": "Get all skills",
        "description": "This method allows to get all skills.",
        "operationId": "getSkill_1",
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Skill successfully get",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Skill"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Create a skill in Antsroute.",
        "description": "This method allow to create a skill in Antsroute.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateSkill"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Skill successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Skill"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/route/{agentEmail}/{date}": {
      "get": {
        "tags": [
          "Route"
        ],
        "summary": "Get route by agent and date.",
        "description": "Get route by agent and date.",
        "operationId": "getRouteByAgentEmailAndDate",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Route successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Route"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Route"
        ],
        "summary": "Create route by agent, date and list of orders.",
        "description": "Create route by agent, date and list of orders.",
        "operationId": "createRoute",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "description": "Well formed email address of the agent who must execute the route",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "firstName.lastName@antsroute.com"
          },
          {
            "name": "date",
            "in": "path",
            "description": "Schedule date of the route. It will be added to the planning at the corresponding date. This date must be in the future. format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Set to true if want to replace the current route.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoute"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Route successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Route"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Route"
        ],
        "summary": "Delete a route by agent and date.",
        "description": "Delete a route by agent and date.",
        "operationId": "deleteRouteByAgentAndDate",
        "parameters": [
          {
            "name": "agentEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "format: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "description": "This boolean allows to define if orders in route has to be definitively deleted from your database or archived in DELETED state",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Route successfully deleted"
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/search-availabilities": {
      "post": {
        "tags": [
          "Search availabilities and validate one in your planning"
        ],
        "summary": "Search service/delivery/collect availabilities in your planning",
        "description": "This method allows you to search availabilities for a service/delivery/collect in your planning between the provided dates and for the requested timeslots. Response will contain a list of available date/timeslot pairs. <br>Those availabilities will be reserved and valid for the duration returned in response. This duration validity can be configured in optimization settings of your site in Antsroute. Once one availability is validated, all others are released.<br>If none of the returned availabilities is useful, DON'T FORGET TO CANCEL THIS SEARCH REQUEST TO RELEASE ALL RESERVED AVAILABILITIES. <br><br>This method allows you to search a maximum of 12 date/timeslot pairs. For example, searching availabilities for 3 timeslots between 2022-01-01 and 2022-01-03 accounts for 3 * 3 = 9 pairs.",
        "operationId": "checkOrderAvailabilities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchOrderAvailabilities"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "List of valid availabilities",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SearchOrderAvailabilitiesResults"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/search-availabilities/validate": {
      "post": {
        "tags": [
          "Search availabilities and validate one in your planning"
        ],
        "summary": "Validate one service/delivery/collect searched availability in your planning",
        "description": "This method allows you to validate one of the searched availabilities in your planning.",
        "operationId": "validateOneAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateOneAvailability"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Order/Delivery/Collect availability successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SearchOrderAvailabilitiesResult"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/planning": {
      "post": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Create a service/delivery/collect in the planning at the corresponding given date.",
        "description": "This method allow to create a service/delivery/collect in the planning at the corresponding given date.",
        "operationId": "createPlanningOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlanningOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Order/Delivery/Collect successfully created",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/id/{id}/attachments": {
      "post": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Add an attachment to an order by Antsroute id",
        "description": "This method allow to add an attachment to an order.",
        "operationId": "uploadAttachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "attachment"
                ]
              }
            }
          }
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {}
            }
          },
          "413": {
            "description": "File size too big.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Attachment successfully created",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "cakey": []
          }
        ]
      }
    },
    "/capi/order/external-id/{externalId}/attachments": {
      "post": {
        "tags": [
          "Service/Delivery/Collect"
        ],
        "summary": "Add an attachment to an order by external id",
        "description": "This method allow to add an attachment to an order.",
        "operationId": "uploadAttachment_1",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "attachment"
                ]
              }
            }
          }
        },
        "responses": {
          "405": {
            "description": "Unsupported operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Json parse error",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "An error occurs during processing of the request.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Bad API key authentication",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Action forbidden.",
            "content": {
              "application/json": {}
[...]
