{
  "openapi": "3.0.3",
  "info": {
    "title": "Magic Heidi Swiss Invoice QR Code API",
    "version": "1.0.0",
    "description": "API for generating Swiss invoices with QR codes in PDF format.",
    "x-jentic-source-url": "https://github.com/magic-heidi/swiss-invoice-qr-code-api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://europe-west6-magic-heidi.cloudfunctions.net"
    }
  ],
  "paths": {
    "/create_invoice_abstract_v1d": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create a Swiss invoice with QR code",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "400": {
            "description": "Malformed request"
          },
          "500": {
            "description": "Server error"
          }
        },
        "description": "Create a Swiss invoice with QR code"
      }
    }
  },
  "components": {
    "schemas": {
      "InvoiceInput": {
        "type": "object",
        "required": [
          "user_details",
          "customer_details",
          "invoice_items"
        ],
        "properties": {
          "user_details": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "iban": {
                "type": "string"
              }
            }
          },
          "customer_details": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "city": {
                "type": "string"
              }
            }
          },
          "invoice_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "unit_price": {
                  "type": "number"
                }
              }
            }
          },
          "invoice_number": {
            "type": "string"
          },
          "invoice_date": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "fr",
              "de",
              "it",
              "en"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR",
              "CHF"
            ]
          },
          "vat_enabled": {
            "type": "boolean"
          },
          "vat_percentage": {
            "type": "number"
          },
          "vat_number": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "maxLength": 140
          },
          "qr_only": {
            "type": "boolean"
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "expires": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Invoices"
    }
  ]
}
