{
  "swagger": "2.0",
  "info": {
    "title": "MPos POS Servicios",
    "description": "MPos POS Servicios API",
    "version": "1.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/visanet/api.mposposservices/1.1/swagger.json",
    "contact": {}
  },
  "host": "api.posservicios.quiputech.com",
  "schemes": [
    "https"
  ],
  "basePath": "/v1",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/terminal/{terminalId}/functions": {
      "get": {
        "summary": "Get functions for a Terminal Id",
        "parameters": [
          {
            "name": "terminalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Function definition",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Company"
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "terminal"
        ],
        "description": "Get functions for a Terminal Id",
        "operationId": "get-terminal-by-terminalid-functions"
      }
    },
    "/terminal/{terminalId}/functions/{functionId}": {
      "post": {
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "terminalId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Function"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "terminal"
        ],
        "description": "POST /terminal/{terminalId}/functions/{functionId}",
        "operationId": "post-terminal-by-terminalid-functions-by-functionid"
      },
      "get": {
        "summary": "Get function definition for a Terminal Id",
        "parameters": [
          {
            "name": "functionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "terminalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Function definition",
            "schema": {
              "$ref": "#/definitions/Function"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "terminal"
        ],
        "description": "Get function definition for a Terminal Id",
        "operationId": "get-terminal-by-terminalid-functions-by-functionid"
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "base64": {
          "type": "string"
        }
      }
    },
    "Function": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "initialScreen": {
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        },
        "vouchers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Voucher"
          }
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Library"
          }
        },
        "screens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Screen"
          }
        }
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "functions": {
          "$ref": "#/definitions/Data"
        }
      }
    },
    "Data": {
      "type": "array",
      "items": {
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "isArray": {
            "type": "boolean"
          }
        }
      }
    },
    "Service": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "function": {
          "type": "string"
        },
        "requestData": {
          "$ref": "#/definitions/Data"
        },
        "responseData": {
          "$ref": "#/definitions/Data"
        }
      }
    },
    "Library": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "function": {
          "type": "string"
        },
        "requestData": {
          "$ref": "#/definitions/Data"
        },
        "responseData": {
          "$ref": "#/definitions/Data"
        }
      }
    },
    "Popup": {
      "type": "object",
      "properties": {
        "screenId": {
          "type": "string"
        },
        "requestData": {
          "$ref": "#/definitions/Data"
        },
        "responseData": {
          "$ref": "#/definitions/Data"
        }
      }
    },
    "Screen": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "POPUP",
            "REPORT",
            "FORM",
            "PAD"
          ]
        },
        "templates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Template"
          }
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Field"
          }
        },
        "isFinal": {
          "type": "boolean"
        },
        "outputData": {
          "$ref": "#/definitions/Data"
        },
        "onloadAction": {
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "string"
              },
              "loadingCaption": {
                "type": "string"
              },
              "service": {
                "$ref": "#/definitions/Service"
              },
              "library": {
                "$ref": "#/definitions/Library"
              },
              "popup": {
                "$ref": "#/definitions/Popup"
              },
              "conditions": {
                "type": "array",
                "items": {
                  "properties": {
                    "statusCode": {
                      "type": "string"
                    },
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Voucher": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "next": {
          "type": "string"
        },
        "voucherTemplate": {
          "type": "string"
        }
      }
    },
    "Template": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "type": "string"
              },
              "template": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Field": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TEXT",
            "NUMBER",
            "DATE",
            "EMAIL",
            "BOOLEAN",
            "PASSWORD",
            "TEMPLATE",
            "BUTTON",
            "CANCEL",
            "PAD"
          ]
        },
        "label": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "readonly": {
          "type": "boolean"
        },
        "validationMessage": {
          "type": "string"
        },
        "maxLength": {
          "type": "number",
          "format": "int32"
        },
        "dateFormat": {
          "type": "string"
        },
        "buttonImageId": {
          "type": "string"
        },
        "actionId": {
          "type": "string"
        },
        "variableId": {
          "type": "string"
        },
        "templateId": {
          "type": "string"
        },
        "selectorId": {
          "type": "string"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "terminal"
    }
  ]
}
