{
  "openapi": "3.0.3",
  "info": {
    "title": "Genius Sports Data API",
    "description": "The Genius Sports Data API provides access to real-time and historical sports data including match state, statistics, and live data for American Football, Basketball, Football (Soccer), and Tennis. The API uses OAuth 2.0 for authentication and requires both access tokens and API keys for requests.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://sportsdata.api.geniussports.com/docs/basic-usage"
  },
  "servers": [
    {
      "url": "https://auth.api.geniussports.com",
      "description": "Authentication server"
    },
    {
      "url": "https://platform.matchstate.api.geniussports.com",
      "description": "Match state and live data"
    },
    {
      "url": "https://statistics.api.geniussports.com",
      "description": "Statistics server"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "summary": "Get OAuth2 access token",
        "description": "Obtains an access token using OAuth2 client credentials flow. The client ID and secret must be Base64 encoded and passed in the Authorization header.",
        "operationId": "getAccessToken",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "OAuth2 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your client ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          }
        },
        "security": []
      }
    },
    "/api/v2/sources/{source}/sports/{sportId}/fixtures/{fixtureId}/liveaccess/matchstate/enhanced": {
      "get": {
        "summary": "Get enhanced match state",
        "description": "Retrieves enhanced match state data for a specific fixture. Requires both Bearer token authentication and API key.",
        "operationId": "getEnhancedMatchState",
        "tags": [
          "Match State"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GeniusPremium",
                "GeniusLiveStats",
                "GeniusSportsInPlay",
                "GeniusScoresheet",
                "Infront"
              ]
            },
            "description": "Data source provider"
          },
          {
            "name": "sportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                4,
                10,
                17,
                24
              ]
            },
            "description": "Sport ID (4: Basketball, 10: Football/Soccer, 17: American Football, 24: Tennis)"
          },
          {
            "name": "fixtureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique fixture identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with match state data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchState"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token/API key"
          },
          "404": {
            "description": "Fixture not found"
          }
        }
      }
    },
    "/api/v2/sources/{source}/sports/{sportId}/fixtures/{fixtureId}": {
      "get": {
        "summary": "Get fixture details",
        "description": "Retrieves detailed information about a specific fixture including teams, venue, and schedule information.",
        "operationId": "getFixture",
        "tags": [
          "Fixtures"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GeniusPremium",
                "GeniusLiveStats",
                "GeniusSportsInPlay",
                "GeniusScoresheet",
                "Infront"
              ]
            },
            "description": "Data source provider"
          },
          {
            "name": "sportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                4,
                10,
                17,
                24
              ]
            },
            "description": "Sport ID (4: Basketball, 10: Football/Soccer, 17: American Football, 24: Tennis)"
          },
          {
            "name": "fixtureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique fixture identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fixture details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fixture"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token/API key"
          },
          "404": {
            "description": "Fixture not found"
          }
        }
      }
    },
    "/api/v2/sources/{source}/sports/{sportId}/fixtures/{fixtureId}/statistics": {
      "get": {
        "summary": "Get fixture statistics",
        "description": "Retrieves statistical data for a specific fixture including team and player statistics.",
        "operationId": "getFixtureStatistics",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GeniusPremium",
                "GeniusLiveStats",
                "GeniusSportsInPlay",
                "GeniusScoresheet",
                "Infront"
              ]
            },
            "description": "Data source provider"
          },
          {
            "name": "sportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                4,
                10,
                17,
                24
              ]
            },
            "description": "Sport ID (4: Basketball, 10: Football/Soccer, 17: American Football, 24: Tennis)"
          },
          {
            "name": "fixtureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique fixture identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fixture statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statistics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token/API key"
          },
          "404": {
            "description": "Fixture not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.api.geniussports.com/oauth2/token",
            "scopes": {}
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key required for all data requests"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Bearer token for API requests"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "description": "Token validity in seconds"
          }
        }
      },
      "MatchState": {
        "type": "object",
        "description": "Enhanced match state data including live scores, statistics, and game events",
        "properties": {
          "fixtureId": {
            "type": "string",
            "description": "Unique fixture identifier"
          },
          "sportId": {
            "type": "integer",
            "description": "Sport identifier"
          },
          "source": {
            "type": "string",
            "description": "Data source provider"
          },
          "matchState": {
            "type": "object",
            "description": "Current state of the match"
          }
        }
      },
      "Fixture": {
        "type": "object",
        "description": "Fixture details including teams, venue, and schedule information",
        "properties": {
          "fixtureId": {
            "type": "string",
            "description": "Unique fixture identifier"
          },
          "sportId": {
            "type": "integer",
            "description": "Sport identifier"
          },
          "source": {
            "type": "string",
            "description": "Data source provider"
          },
          "homeTeam": {
            "type": "object",
            "description": "Home team information",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "awayTeam": {
            "type": "object",
            "description": "Away team information",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "venue": {
            "type": "object",
            "description": "Venue information"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled start time"
          }
        }
      },
      "Statistics": {
        "type": "object",
        "description": "Statistical data for a fixture including team and player statistics",
        "properties": {
          "fixtureId": {
            "type": "string",
            "description": "Unique fixture identifier"
          },
          "sportId": {
            "type": "integer",
            "description": "Sport identifier"
          },
          "teamStatistics": {
            "type": "array",
            "description": "Team-level statistics",
            "items": {
              "type": "object"
            }
          },
          "playerStatistics": {
            "type": "array",
            "description": "Player-level statistics",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [],
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth2 authentication endpoints"
    },
    {
      "name": "Match State",
      "description": "Live match state and data endpoints"
    },
    {
      "name": "Fixtures",
      "description": "Fixture information and details"
    },
    {
      "name": "Statistics",
      "description": "Statistical data for fixtures and players"
    }
  ]
}