{
  "openapi": "3.0.3",
  "info": {
    "title": "nocnoc API",
    "description": "nocnoc provides e-commerce and marketplace management APIs for products, orders, and package fulfillment.",
    "version": "2.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.nocnoc.com/api/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "summary": "List Products",
        "description": "Retrieve a paginated list of products.",
        "tags": [
          "Products"
        ],
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products retrieved successfully"
          },
          "401": {
            "description": "Authentication failure - missing or invalid API key"
          }
        }
      },
      "post": {
        "summary": "Create Product",
        "description": "Create a new product with full details including SKU, name, description, pricing, and inventory.",
        "tags": [
          "Products"
        ],
        "operationId": "createProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sku",
                  "name"
                ],
                "properties": {
                  "sku": {
                    "type": "string",
                    "description": "Unique product SKU"
                  },
                  "name": {
                    "type": "string",
                    "description": "Product name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Product description"
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "Product price"
                  },
                  "stock": {
                    "type": "integer",
                    "description": "Available stock quantity"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of image URLs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully"
          },
          "400": {
            "description": "Validation error or malformed request"
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/products/sku/{sku}": {
      "get": {
        "summary": "Get Product by SKU",
        "description": "Retrieve detailed information about a specific product by its SKU.",
        "tags": [
          "Products"
        ],
        "operationId": "getProductBySku",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product SKU"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details retrieved successfully"
          },
          "404": {
            "description": "Product not found"
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      },
      "patch": {
        "summary": "Update Product Stock and Pricing",
        "description": "Update the stock quantity and pricing information for a product.",
        "tags": [
          "Products"
        ],
        "operationId": "updateProductStockAndPricing",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product SKU"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stock": {
                    "type": "integer",
                    "description": "Updated stock quantity"
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "Updated price"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/products/": {
      "post": {
        "summary": "Create Product Using ASIN",
        "description": "Create a new product by providing an Amazon ASIN. Product details will be fetched automatically.",
        "tags": [
          "Products"
        ],
        "operationId": "createProductFromAsin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asin"
                ],
                "properties": {
                  "asin": {
                    "type": "string",
                    "description": "Amazon ASIN"
                  },
                  "marketplace": {
                    "type": "string",
                    "description": "Amazon marketplace (e.g., US, UK, DE)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created from ASIN successfully"
          },
          "400": {
            "description": "Invalid ASIN or marketplace"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List Orders",
        "description": "Retrieve a list of orders with optional filtering by status and date range.",
        "tags": [
          "Orders"
        ],
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "shipped",
                "delivered",
                "cancelled"
              ]
            },
            "description": "Filter by order status"
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter orders from this date"
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter orders up to this date"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders retrieved successfully"
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/orders/{order_id}/cancellation": {
      "post": {
        "summary": "Cancel Order",
        "description": "Request cancellation for a specific order.",
        "tags": [
          "Orders"
        ],
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order ID to cancel"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for cancellation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancellation requested successfully"
          },
          "400": {
            "description": "Order cannot be cancelled"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/packages": {
      "post": {
        "summary": "Create Package",
        "description": "Create a child package with items or a parent package from subpackages.",
        "tags": [
          "Packages"
        ],
        "operationId": "createPackage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "description": "Create child package with items",
                    "required": [
                      "order_id",
                      "items"
                    ],
                    "properties": {
                      "order_id": {
                        "type": "string",
                        "description": "Associated order ID"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "sku": {
                              "type": "string"
                            },
                            "quantity": {
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "tracking_number": {
                        "type": "string"
                      },
                      "carrier": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Create parent package from subpackages",
                    "required": [
                      "order_id",
                      "subpackages"
                    ],
                    "properties": {
                      "order_id": {
                        "type": "string"
                      },
                      "subpackages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of child package IDs"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Package created successfully"
          },
          "400": {
            "description": "Invalid package data"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. All endpoints require this header."
      }
    }
  },
  "tags": [
    {
      "name": "Orders"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Products"
    }
  ]
}
