{
  "openapi": "3.0.3",
  "info": {
    "title": "PureChecker API",
    "version": "1.0.0",
    "description": "Email verification API for validating single and bulk email addresses.",
    "x-jentic-source-url": "https://purechecker.com/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://purechecker.com/api/v1"
    }
  ],
  "paths": {
    "/{email}": {
      "get": {
        "operationId": "verifySingleEmail",
        "summary": "Verify single email",
        "description": "Validates a single email address and returns detailed verification results.",
        "tags": [
          "Email Verification"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Email address to verify",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk-check": {
      "post": {
        "operationId": "verifyBulkEmails",
        "summary": "Verify bulk emails",
        "description": "Validates multiple email addresses simultaneously.",
        "tags": [
          "Email Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmailVerificationResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "syntax_valid": {
            "type": "boolean"
          },
          "risk": {
            "type": "string"
          },
          "mx_found": {
            "type": "boolean"
          }
        }
      },
      "BulkVerificationResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailVerificationResult"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyUserId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-user-id"
      },
      "apiKeySecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-secret-key"
      }
    }
  },
  "security": [
    {
      "apiKeyUserId": [],
      "apiKeySecret": []
    }
  ],
  "tags": [
    {
      "name": "Email Verification"
    }
  ]
}
