{
  "openapi": "3.0.3",
  "info": {
    "title": "HRnest API Documentation",
    "description": "# General #\n The HRnest API allows you to: \n* Get holiday request data\n* Manage work timetables\n* Get registered working time\n* Get business trips data\n* Manage employee accounts\n\nWe’re still adding more functions, if you have any suggestions - do not hesitate to let us know! <br><br>\n# API Endpoint #\nIn all REST API calls, include the URL to the API service: <br><br> __[https://api.hrnest.io](https://api.hrnest.io)__ <br><br>\n# Authentication \n All request you want to send to our API must contain authentication information according to __HTTP Basic Authentication__.\n\n __Username__ and __password (API key)__ you will find in HRnest panel in the API configuration section. \n\n Note: _Employee_ methods require additional permission for the API key (contact us if you want to use these methods).\n\n# Get started #\n To start using HRnest API and platform, you’ll need to create an account. Go to the [sign up page](https://hrnest.io/Account/Register?lng=en) to create your company account.<br><br>",
    "termsOfService": "https://hrnest.io/terms",
    "contact": {
      "name": "Contact us",
      "url": "https://hrnest.com/contact-us",
      "email": ""
    },
    "version": "2.0",
    "x-jentic-source-url": "https://api.hrnest.io/docs/v2/api.json"
  },
  "servers": [
    {
      "url": "https://api.hrnest.io"
    }
  ],
  "paths": {
    "/api/v2/Businesstrip": {
      "get": {
        "tags": [
          "Businesstrip"
        ],
        "summary": "Get business trips",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get business trips by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get business trips by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get business trips that are later or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get business trips that are earlier or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns business trips list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinesstripResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Businesstrip"
      }
    },
    "/api/v2/Calendar": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarResultModel"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Calendar"
      }
    },
    "/api/v2/Calendar/Users": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarEmployeeResultModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Calendar_Users"
      }
    },
    "/api/v2/Calendar/Items": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "parameters": [
          {
            "name": "filter.calendarId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DayType"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarItemModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Calendar_Items"
      }
    },
    "/api/v2/Company": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Return company data",
        "responses": {
          "200": {
            "description": "Returns company data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Company"
      }
    },
    "/api/v2/Company/Departments": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get company departments",
        "responses": {
          "200": {
            "description": "Returns departments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepartmentsResultModel"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Company_Departments"
      }
    },
    "/api/v2/Company/IsWorkingday": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Check if specified day is a working day",
        "parameters": [
          {
            "name": "search.date",
            "in": "query",
            "description": "Date to check; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns working day info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Company_IsWorkingday"
      }
    },
    "/api/v2/Employee/{userId}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Return employee data",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Employee Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an employee data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeResultModel"
                }
              }
            }
          },
          "400": {
            "description": "Requested data is not a valid UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee user not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Employee_byUserid"
      }
    },
    "/api/v2/Employee/Search": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Return employee data",
        "parameters": [
          {
            "name": "search.userId",
            "in": "query",
            "description": "Find employee by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search.login",
            "in": "query",
            "description": "Find employee by the employee login",
            "schema": {
              "maxLength": 255,
              "minLength": 4,
              "type": "string"
            }
          },
          {
            "name": "search.idNumber",
            "in": "query",
            "description": "Find employee by the custom employee ID",
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "search.additionalId",
            "in": "query",
            "description": "Find employee by the additional employee ID",
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "search.email",
            "in": "query",
            "description": "Find employee by the employee email",
            "schema": {
              "maxLength": 256,
              "minLength": 3,
              "pattern": "^(?(\")(\".+?(?<!\\\\)\"@)|(([0-9a-z]((\\.(?!\\.))|[-!#\\$%&'\\*\\+/=\\?\\^`\\{\\}\\|~\\w])*)(?<=[0-9a-z])@))(?(\\[)(\\[(\\d{1,3}\\.){3}\\d{1,3}\\])|(([0-9a-z][-0-9a-z]*[0-9a-z]*\\.)+[a-z0-9][\\-a-z0-9]{0,22}[a-z0-9]))$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an employee data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeResultModel"
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not a valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee user not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Employee user is not unique",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Employee_Search"
      }
    },
    "/api/v2/Employee": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employees data matching the specified filters",
        "parameters": [
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get employees by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.managerId",
            "in": "query",
            "description": "Get employees by the superior ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.isManager",
            "in": "query",
            "description": "Get employees that are a superior or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter.isActive",
            "in": "query",
            "description": "Get employees that are a active or not",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employees list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Employee"
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create employee user",
        "requestBody": {
          "description": "Request containing the employee data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreateModelApiCreateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreateModelApiCreateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreateModelApiCreateModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created employee data"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Employee user can't be created because of some conflicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_Employee"
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Change employee user",
        "requestBody": {
          "description": "Request containing the search and the employee data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelEmployeeChangeModelApiChangeModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelEmployeeChangeModelApiChangeModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelEmployeeChangeModelApiChangeModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee user data was successfully changed"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee user was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Employee user can't be changed because of some conflicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "put_Employee"
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Remove employee user",
        "requestBody": {
          "description": "Request containing the search data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee user was successfully removed"
          },
          "202": {
            "description": "Employee user has already been removed"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee user was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Employee user can't be removed because of some conflicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "delete_Employee"
      }
    },
    "/api/v2/Employee/Absences": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get absent employees infos matching the specified filters",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get absences by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get absences by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get absences that are later or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get absences that are earlier or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns absences list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencesResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Employee_Absences"
      }
    },
    "/api/v2/Employee/Deactivate": {
      "patch": {
        "tags": [
          "Employee"
        ],
        "summary": "Deactivate employee user",
        "requestBody": {
          "description": "Request containing the search data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee user was successfully deactivated"
          },
          "202": {
            "description": "Employee user is inactive"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee user was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Employee user is not unique",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "patch_Employee_Deactivate"
      }
    },
    "/api/v2/Employee/Activate": {
      "patch": {
        "tags": [
          "Employee"
        ],
        "summary": "Activate employee user",
        "requestBody": {
          "description": "Request containing the search data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSearchModelApiSearchModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee user was successfully activated"
          },
          "202": {
            "description": "Employee user is active"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee user was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Employee user is not unique",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "patch_Employee_Activate"
      }
    },
    "/api/v2/Employee/StartWork": {
      "patch": {
        "tags": [
          "Employee"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorktimeSearchModelStartWorkModelApiChangeModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorktimeSearchModelStartWorkModelApiChangeModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorktimeSearchModelStartWorkModelApiChangeModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "patch_Employee_StartWork"
      }
    },
    "/api/v2/Employee/EndWork": {
      "patch": {
        "tags": [
          "Employee"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorktimeSearchModelEndWorkModelApiChangeModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorktimeSearchModelEndWorkModelApiChangeModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorktimeSearchModelEndWorkModelApiChangeModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "patch_Employee_EndWork"
      }
    },
    "/api/v2/Employee/CalendarItems": {
      "get": {
        "tags": [
          "Employee"
        ],
        "parameters": [
          {
            "name": "filter.calendarId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DayType"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarItemModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Employee_CalendarItems"
      }
    },
    "/api/v2/Employee/WorkHours": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employees work hours list according to the specified restrictions",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get work hours by the employee user ID; if not set get work hours for all employees",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.date",
            "in": "query",
            "description": "Get work hours valid for a given date; if not set get all work hours",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employees work hours list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkHoursResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "406": {
            "description": "Requested data are not valid"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Employee_WorkHours"
      }
    },
    "/api/v2/HolidayPlan": {
      "get": {
        "tags": [
          "HolidayPlan"
        ],
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HolidayPlansResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_HolidayPlan"
      }
    },
    "/api/v2/ICal": {
      "get": {
        "tags": [
          "ICal"
        ],
        "summary": "Export calendar events in the iCal format",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get events by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get events by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get events that are later or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get events that are earlier or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns calendar events list"
          },
          "406": {
            "description": "Requested data are not valid",
            "content": {
              "text/calendar": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "text/calendar": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_ICal"
      }
    },
    "/api/v2/ICal/User": {
      "get": {
        "tags": [
          "ICal"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/calendar": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "text/calendar": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_ICal_User"
      }
    },
    "/api/v2/ICal/Company": {
      "get": {
        "tags": [
          "ICal"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/calendar": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "text/calendar": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_ICal_Company"
      }
    },
    "/api/v2/Personalfile/Contracts": {
      "get": {
        "tags": [
          "Personalfile"
        ],
        "summary": "Get contracts list be specified restrictions",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get personal items by the employee user ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.type",
            "in": "query",
            "description": "Get personal items by the item type",
            "schema": {
              "$ref": "#/components/schemas/ContractsType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns contracts list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "406": {
            "description": "Requested data are not valid"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Personalfile_Contracts"
      }
    },
    "/api/v2/Personalfile/OshTrainings": {
      "get": {
        "tags": [
          "Personalfile"
        ],
        "summary": "Get OSH trainings list be specified restrictions",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get personal items by the employee user ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.type",
            "in": "query",
            "description": "Get personal items by the item type",
            "schema": {
              "$ref": "#/components/schemas/OshTrainingType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns OSH trainings list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OshTrainingModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "406": {
            "description": "Requested data are not valid"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Personalfile_OshTrainings"
      }
    },
    "/api/v2/Personalfile/HealthExaminations": {
      "get": {
        "tags": [
          "Personalfile"
        ],
        "summary": "Get health examinations list be specified restrictions",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get personal items by the employee user ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.type",
            "in": "query",
            "description": "Get personal items by the item type",
            "schema": {
              "$ref": "#/components/schemas/HealthExaminationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns health examinations list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HealthExaminationModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "406": {
            "description": "Requested data are not valid"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Personalfile_HealthExaminations"
      }
    },
    "/api/v2/Project": {
      "get": {
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/UserId"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProjectStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Project"
      }
    },
    "/api/v2/Project/Execution": {
      "get": {
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "filter.projectId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/UserId"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectExecutionResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Project_Execution"
      }
    },
    "/api/v2/Request/{requestNumber}": {
      "get": {
        "tags": [
          "Request"
        ],
        "summary": "Return request data",
        "parameters": [
          {
            "name": "requestNumber",
            "in": "path",
            "description": "Request unique number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResultModel"
                }
              }
            }
          },
          "400": {
            "description": "Requested data is not a valid request number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Request_byRequestnumber"
      }
    },
    "/api/v2/Request": {
      "get": {
        "tags": [
          "Request"
        ],
        "parameters": [
          {
            "name": "filter.typeId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/HolidayType"
            }
          },
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter.status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RequestStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RequestsResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Request"
      }
    },
    "/api/v2/Request/AvailableTypes": {
      "get": {
        "tags": [
          "Request"
        ],
        "summary": "Get available request types",
        "responses": {
          "200": {
            "description": "Returns request types list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableTypesResultModel"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Request_AvailableTypes"
      }
    },
    "/api/v2/Taf": {
      "get": {
        "tags": [
          "Taf"
        ],
        "summary": "Get Travel Authorization Forms",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get TAFs by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get TAFs by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get TAFs that are later or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get TAFs that are earlier or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Travel Authorization Forms list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TafResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Taf"
      }
    },
    "/api/v2/Timetable": {
      "get": {
        "tags": [
          "Timetable"
        ],
        "summary": "Get timetables data matching the specified filters",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get timetables by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get timetables that are later or equal to the date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get timetables that are earlier or equal to the date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.status",
            "in": "query",
            "description": "Get timetables that have specified status",
            "schema": {
              "$ref": "#/components/schemas/TimetableStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns timetables list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimetablesResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Timetable"
      },
      "post": {
        "tags": [
          "Timetable"
        ],
        "summary": "Create a timetable",
        "requestBody": {
          "description": "Timetable data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableCreateModelApiCreateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableCreateModelApiCreateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableCreateModelApiCreateModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created timetable ID"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_Timetable"
      }
    },
    "/api/v2/Timetable/Items": {
      "get": {
        "tags": [
          "Timetable"
        ],
        "summary": "Get active items of timetable of the specified ID",
        "parameters": [
          {
            "name": "search.timetableId",
            "in": "query",
            "description": "Search timetable by its ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get timetable items by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get timetable items by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get timetable items that are later or equal to the date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get timetable items that are earlier or equal to the date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns timetable items list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimetableItemsResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Timetable not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Timetable_Items"
      }
    },
    "/api/v2/Timetable/Employees": {
      "get": {
        "tags": [
          "Timetable"
        ],
        "summary": "Get employees of timetable of the specified ID",
        "parameters": [
          {
            "name": "search.timetableId",
            "in": "query",
            "description": "Search timetable by its ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns timetable employees list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimetableEmployeesResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requested data are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Timetable not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Timetable_Employees"
      }
    },
    "/api/v2/Timetable/Status": {
      "patch": {
        "tags": [
          "Timetable"
        ],
        "summary": "Change timetable status",
        "requestBody": {
          "description": "Request containing the search data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableStatusSearchModelTimetableStatusSetModelApiChangeModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableStatusSearchModelTimetableStatusSetModelApiChangeModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableStatusSearchModelTimetableStatusSetModelApiChangeModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timetable status successfully changed"
          },
          "202": {
            "description": "Timetable already has specified status"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Timetable was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Specified timetable status cannot be set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "patch_Timetable_Status"
      }
    },
    "/api/v2/Timetable/Item": {
      "post": {
        "tags": [
          "Timetable"
        ],
        "summary": "Replace a timetable item",
        "requestBody": {
          "description": "Request data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableItemSearchModelTimetableItemChangeModelApiChangeModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableItemSearchModelTimetableItemChangeModelApiChangeModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TimetableItemSearchModelTimetableItemChangeModelApiChangeModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created timetable item ID"
          },
          "202": {
            "description": "Timetable item already exists"
          },
          "400": {
            "description": "Provided data are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Timetable not found or user is not assigned to timetable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Timetable cannot be edited or timetable item conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_Timetable_Item"
      }
    },
    "/api/v2/Worktime": {
      "get": {
        "tags": [
          "Worktime"
        ],
        "summary": "Get registered work time",
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "description": "Get Registered worktimes by the employee user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "description": "Get Registered worktimes by the employee department ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "description": "Get Registered worktimes that are later or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "description": "Get Registered worktimes that are earlier or equal to the date; default = Today",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns work time list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorktimeResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "406": {
            "description": "Requested data are not valid"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Worktime"
      }
    },
    "/api/v2/Worktime/PaidOvertime": {
      "get": {
        "tags": [
          "Worktime"
        ],
        "parameters": [
          {
            "name": "filter.userId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter.departmentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter.organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.dateFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter.dateTo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaidOvertimeResultModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_Worktime_PaidOvertime"
      }
    }
  },
  "components": {
    "schemas": {
      "AbsenceType": {
        "enum": [
          "NotSet",
          "Plan",
          "Other",
          "Nothing"
        ],
        "type": "string"
      },
      "AbsencesResultModel": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "dateFrom": {
            "type": "string",
            "format": "date"
          },
          "dateTo": {
            "type": "string",
            "format": "date"
          },
          "requestTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/UserResultModel"
          }
        },
        "additionalProperties": false
      },
      "AvailableTypesResultModel": {
        "type": "object",
        "properties": {
          "employment": {
            "type": "boolean"
          },
          "otherContract": {
            "type": "boolean"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "BusinesstripResultModel": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "Business trip number",
            "nullable": true,
            "readOnly": true
          },
          "userId": {
            "type": "string",
            "description": "Employee user ID",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "description": "Business trip date",
            "format": "date"
          },
          "dateFrom": {
            "type": "string",
            "description": "Business trip beginning date",
            "format": "date"
          },
          "dateTo": {
            "type": "string",
            "description": "Business trip ending date",
            "format": "date"
          },
          "totalCosts": {
            "type": "number",
            "description": "Total costs",
            "format": "double",
            "nullable": true
          },
          "totalCostsWithCompanyPayments": {
            "type": "number",
            "description": "Total costs of a business trip with company payments, e.g. with a company card",
            "format": "double",
            "nullable": true
          },
          "advancePaid": {
            "type": "number",
            "description": "The value of the advance paid to the employee",
            "format": "double",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/UserResultModel"
          }
        },
        "additionalProperties": false,
        "description": "Business trips item data"
      },
      "CalendarEmployeeResultModel": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "user": {
            "$ref": "#/components/schemas/UserResultModel"
          }
        },
        "additionalProperties": false
      },
      "CalendarItemModel": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DayType"
          },
          "date": {
            "type": "string",
            "format": "date"
          }
        },
        "additionalProperties": false
      },
      "CalendarResultModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CompanyResultModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Company ID",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "Company email",
            "nullable": true
          },
          "login": {
            "type": "string",
            "description": "Company admin login",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Company data"
      },
      "ContractModel": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "Employee user ID",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/ContractsType"
          },
          "subType": {
            "$ref": "#/components/schemas/PersonalitemSubtype"
          },
          "name": {
            "type": "string",
            "description": "Personal item name",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "Contract creation date and time",
            "format": "date-time",
            "nullable": true
          },
          "dateFrom": {
            "type": "string",
            "description": "Contract beginning date",
            "format": "date",
            "nullable": true
          },
          "dateTo": {
            "type": "string",
            "description": "Contract ending date",
            "format": "date",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "description": "Personal item comments",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/UserResultModel"
          }
        },
        "additionalProperties": false,
        "description": "Contract result data"
      },
      "ContractType": {
        "enum": [
          "ContractOfEmployment",
          "SoleTrader",
          "ContractOrder",
          "ContractWork",
          "Internship",
          "Contract",
          "Other",
          "AppointmentOfBoardMember"
        ],
        "type": "string"
      },
      "ContractsType": {
        "enum": [
          "ContractOfEmployment",
          "SoleTrader",
          "ContractOrder",
          "ContractWork",
          "Internship",
          "TemporaryJob",
          "Contract",
          "AppendixAneks",
          "ChangeOfEmploymentTermsNotice",
          "NDA",
          "Other"
        ],
        "type": "string"
      },
      "Country": {
        "enum": [
          "Afghanistan",
          "Albania",
          "Algeria",
          "Andorra",
          "Angola",
          "SaudiArabia",
          "Argentina",
          "Armenia",
          "Australia",
          "Austria",
          "Azerbaijan",
          "Bangladesh",
          "Belgium",
          "Belarus",
          "BosniaandHerzegovina",
          "Brazil",
          "Bulgaria",
          "Chile",
          "China",
          "Croatia",
          "Cyprus",
          "CzechRepublic",
          "Denmark",
          "Egypt",
          "Ecuador",
          "Estonia",
          "Ethiopia",
          "Finland",
          "France",
          "Greece",
          "Georgia",
          "Spain",
          "India",
          "Indonesia",
          "Iraq",
          "Iran",
          "Ireland",
          "Iceland",
          "Israel",
          "Japan",
          "Yemen",
          "Jordan",
          "Cambodia",
          "Canada",
          "Qatar",
          "Kazakhstan",
          "Kenya",
          "Kyrgyzstan",
          "Columbia",
          "Congo",
          "SouthKorea",
          "NorthKorea",
          "CostaRica",
          "Cuba",
          "Kuwait",
          "Laos",
          "Lebanon",
          "Libya",
          "Liechtenstein",
          "Lithuania",
          "Luxembourg",
          "Latvia",
          "Macedonia",
          "Malaysia",
          "Malta",
          "Morocco",
          "Mexico",
          "Moldova",
          "Monaco",
          "Mongolia",
          "Netherlands",
          "Germany",
          "Nigeria",
          "Norway",
          "NewZealand",
          "Oman",
          "Pakistan",
          "PalestinianNationalAuthority",
          "Panama",
          "Peru",
          "Portugal",
          "SouthAfrica",
          "Russia",
          "Romania",
          "SanMarino",
          "Senegal",
          "RepublicofSerbia",
          "RepublicofMontenegro",
          "Singapore",
          "Slovakia",
          "Slovenia",
          "UnitedStatesofAmerica",
          "Syria",
          "Switzerland",
          "Sweden",
          "Tajikistan",
          "Thailand",
          "Tanzania",
          "Tunisia",
          "Turkey",
          "Turkmenistan",
          "Ukraine",
          "Uruguay",
          "Uzbekistan",
          "Venezuela",
          "Hungary",
          "GreatBritain",
          "Vietnam",
          "Italy",
          "IvoryCoast",
          "Zimbabwe",
          "UnitedArabEmirates",
          "Other",
          "Poland",
          "Philippines",
          "Guinea",
          "Taiwan",
          "Benin",
          "Haiti",
          "Ghana"
        ],
        "type": "string"
      },
      "DayType": {
        "enum": [
          "Customday",
          "Weekend",
          "Bankday"
        ],
        "type": "string"
      },
      "DelegationType": {
        "enum": [
          "Domestic",
          "Foreign"
        ],
        "type": "string"
      },
      "DepartmentResultModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Department ID",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Department name",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Employee department data"
      },
      "DepartmentsResultModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Department ID",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Department name",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Departments item data"
      },
      "EmployeeChangeModel": {
        "required": [
          "firstName",
          "language",
          "lastName"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "maxLength": 25,
            "minLength": 1,
            "type": "string",
            "description": "Employee first name"
          },
          "lastName": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Employee last name"
          },
          "position": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Employee position",
            "nullable": true
          },
          "departmentId": {
            "type": "integer",
            "description": "Employee department ID",
            "format": "int32",
            "nullable": true
          },
          "organization": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Employee organization name",
            "nullable": true
          },
          "idNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Employee custom ID number",
            "nullable": true
          },
          "additionalId": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Employee additional ID",
            "nullable": true
          },
          "language": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Employee language code"
          },
          "email": {
            "maxLength": 256,
            "minLength": 3,
            "pattern": "^(?(\")(\".+?(?<!\\\\)\"@)|(([0-9a-z]((\\.(?!\\.))|[-!#\\$%&'\\*\\+/=\\?\\^`\\{\\}\\|~\\w])*)(?<=[0-9a-z])@))(?(\\[)(\\[(\\d{1,3}\\.){3}\\d{1,3}\\])|(([0-9a-z][-0-9a-z]*[0-9a-z]*\\.)+[a-z0-9][\\-a-z0-9]{0,22}[a-z0-9]))$",
            "type": "string",
            "description": "Employee email",
            "nullable": true
          },
          "pidentifier": {
            "maxLength": 11,
            "minLength": 1,
            "type": "string",
            "description": "Employee pidentifier",
            "nullable": true
          },
          "isManager": {
            "type": "boolean",
            "description": "Is employee a superior"
          },
          "needManager": {
            "type": "boolean",
            "description": "Does superior is required for the employee"
          },
          "managerId": {
            "type": "string",
            "description": "Employee superior ID",
            "format": "uuid",
            "nullable": true
          },
          "salaried": {
            "type": "boolean",
            "description": "Is employee salaried"
          },
          "contractType": {
            "$ref": "#/components/schemas/ContractType"
          },
          "comments": {
            "maxLength": 250,
            "minLength": 1,
            "type": "string",
            "description": "Comments",
            "nullable": true
          },
          "login": {
            "maxLength": 100,
            "minLength": 2,
            "pattern": "^[^<>\\s]+$",
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Data to change an employee"
      },
      "EmployeeCreateModel": {
        "required": [
          "firstName",
          "language",
          "lastName"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "maxLength": 25,
            "minLength": 1,
            "type": "string",
            "description": "Employee first name"
          },
          "lastName": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Employee last name"
          },
          "position": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Employee position",
            "nullable": true
          },
          "departmentId": {
            "type": "integer",
            "description": "Employee department ID",
            "format": "int32",
            "nullable": true
          },
          "organization": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Employee organization name",
            "nullable": true
          },
          "idNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Employee custom ID number",
            "nullable": true
          },
          "additionalId": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Employee additional ID",
            "nullable": true
          },
          "language": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Employee language code"
          },
          "email": {
            "maxLength": 256,
            "minLength": 3,
            "pattern": "^(?(\")(\".+?(?<!\\\\)\"@)|(([0-9a-z]((\\.(?!\\.))|[-!#\\$%&'\\*\\+/=\\?\\^`\\{\\}\\|~\\w])*)(?<=[0-9a-z])@))(?(\\[)(\\[(\\d{1,3}\\.){3}\\d{1,3}\\])|(([0-9a-z][-0-9a-z]*[0-9a-z]*\\.)+[a-z0-9][\\-a-z0-9]{0,22}[a-z0-9]))$",
            "type": "string",
            "description": "Employee email",
            "nullable": true
          },
          "pidentifier": {
            "maxLength": 11,
            "minLength": 1,
            "type": "string",
            "description": "Employee pidentifier",
            "nullable": true
          },
          "isManager": {
            "type": "boolean",
            "description": "Is employee a superior"
          },
          "needManager": {
            "type": "boolean",
            "description": "Does superior is required for the employee"
          },
          "managerId": {
            "type": "string",
            "description": "Employee superior ID",
            "format": "uuid",
            "nullable": true
          },
          "salaried": {
            "type": "boolean",
            "description": "Is employee salaried"
          },
          "contractType": {
            "$ref": "#/components/schemas/ContractType"
          },
          "comments": {
            "maxLength": 250,
            "minLength": 1,
            "type": "string",
            "description": "Comments",
            "nullable": true
          },
          "login": {
            "maxLength": 100,
            "minLength": 2,
            "pattern": "^[^<>\\s]+$",
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Data to create an employee"
      },
      "EmployeeCreateModelApiCreateModel": {
        "type": "object",
        "properties": {
          "model": {
            "$ref": "#/components/schemas/EmployeeCreateModel"
          }
        },
        "additionalProperties": false,
        "description": "API request model to save provided data as new entities"
      },
      "EmployeeResultModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Employee user ID",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "Employee email",
            "nullable": true
          },
          "login": {
            "type": "string",
            "description": "Employee login",
            "nullable": true
          },
          "pidentifier": {
            "type": "string",
            "description": "Employee pidentifier",
            "nullable": true
          },
[...]
