{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "Api encargada de la administracion de la seguridad",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Visanet Security",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.security/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.security/v1"
    }
  ],
  "paths": {
    "/security": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Security"
        ],
        "description": "RESTful API to manage security tokens.",
        "operationId": "authorize",
        "summary": "Retrieve access token"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API to manage security tokens.",
      "name": "Security"
    }
  ]
}