{
  "openapi": "3.0.3",
  "info": {
    "title": "Fixer API",
    "description": "Foreign exchange rates API providing real-time and historical exchange rate data for 170 world currencies. Powered by data from the European Central Bank and 15+ other sources.",
    "version": "1.0.0",
    "contact": {
      "name": "Fixer",
      "url": "https://fixer.io"
    }
  },
  "servers": [
    {
      "url": "https://data.fixer.io/api",
      "description": "Production server (HTTPS - paid plans)"
    },
    {
      "url": "http://data.fixer.io/api",
      "description": "Production server (HTTP - free plan)"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/latest": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Returns real-time exchange rate data updated every 60 seconds to every 60 minutes depending on your subscription plan.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (default: EUR). Non-EUR bases require a paid plan.",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output (e.g., USD,GBP,JPY).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "latest"
        ]
      }
    },
    "/{date}": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns historical exchange rate data for a specific past date. Data is available for all dates since 1999.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "The date for historical rates (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (default: EUR).",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          }
        },
        "tags": [
          "default"
        ]
      }
    },
    "/symbols": {
      "get": {
        "operationId": "getSymbols",
        "summary": "Get supported currency symbols",
        "description": "Returns all available currencies with their codes and full names.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with currency symbols.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "symbols"
        ]
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency amounts",
        "description": "Converts an amount from one currency to another. Optionally provide a date for historical conversion.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The three-letter currency code to convert from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The three-letter currency code to convert to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount to convert.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Optional date for historical conversion (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          }
        },
        "tags": [
          "convert"
        ]
      }
    },
    "/timeseries": {
      "get": {
        "operationId": "getTimeseries",
        "summary": "Get time-series exchange rates",
        "description": "Returns daily historical exchange rate data between two specified dates. Maximum timeframe of 365 days.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (default: EUR).",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful time-series response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeseriesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "timeseries"
        ]
      }
    },
    "/fluctuation": {
      "get": {
        "operationId": "getFluctuation",
        "summary": "Get currency fluctuation data",
        "description": "Returns fluctuation data between two specified dates, including change and percentage change for each currency.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (default: EUR).",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful fluctuation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluctuationResponse"
                }
              }
            }
          }
        },
        "tags": [
          "fluctuation"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "RatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the rates."
          },
          "base": {
            "type": "string",
            "description": "The base currency."
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Object containing exchange rates keyed by currency code."
          }
        }
      },
      "HistoricalResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "timestamp": {
            "type": "integer"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "SymbolsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "symbols": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Object mapping currency codes to currency names."
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "rate": {
                "type": "number"
              }
            }
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "result": {
            "type": "number"
          }
        }
      },
      "TimeseriesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timeseries": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Object keyed by date, each containing exchange rates."
          }
        }
      },
      "FluctuationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "fluctuation": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number"
                },
                "end_rate": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "change_pct": {
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "tags": [
    {
      "name": "convert"
    },
    {
      "name": "default"
    },
    {
      "name": "fluctuation"
    },
    {
      "name": "latest"
    },
    {
      "name": "symbols"
    },
    {
      "name": "timeseries"
    }
  ]
}
