{
  "openapi": "3.0.3",
  "info": {
    "title": "Email on Acid API",
    "version": "5.0.0",
    "description": "Email on Acid provides email testing and analytics services. The API allows creating email tests, retrieving test results across various email clients, and managing spam testing.",
    "x-jentic-source-url": "https://www.emailonacid.com/email-testing-api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.emailonacid.com/v5",
      "description": "Email on Acid API v5"
    }
  ],
  "tags": [
    {
      "name": "Email Tests",
      "description": "Create and manage email rendering tests"
    },
    {
      "name": "Spam Tests",
      "description": "Spam filter testing"
    },
    {
      "name": "Clients",
      "description": "Email client information"
    }
  ],
  "paths": {
    "/email/tests": {
      "get": {
        "operationId": "listTests",
        "summary": "List email tests",
        "tags": [
          "Email Tests"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailTest"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List email tests"
      },
      "post": {
        "operationId": "createTest",
        "summary": "Create an email test",
        "description": "Submit HTML email content for rendering tests across various email clients.",
        "tags": [
          "Email Tests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTestCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/email/tests/{testId}": {
      "get": {
        "operationId": "getTest",
        "summary": "Get test details",
        "tags": [
          "Email Tests"
        ],
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test details and results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get test details"
      },
      "delete": {
        "operationId": "deleteTest",
        "summary": "Delete a test",
        "tags": [
          "Email Tests"
        ],
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a test"
      }
    },
    "/email/tests/{testId}/results/{clientId}": {
      "get": {
        "operationId": "getTestResultForClient",
        "summary": "Get test result for specific client",
        "tags": [
          "Email Tests"
        ],
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client-specific result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get test result for specific client"
      }
    },
    "/email/tests/{testId}/reprocess": {
      "post": {
        "operationId": "reprocessTest",
        "summary": "Reprocess a test",
        "tags": [
          "Email Tests"
        ],
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reprocessing started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Reprocess a test"
      }
    },
    "/email/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List available email clients",
        "description": "Get list of all available email clients for testing.",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "Available clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clients": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailClient"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/spam/tests": {
      "post": {
        "operationId": "createSpamTest",
        "summary": "Create spam test",
        "tags": [
          "Spam Tests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpamTestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spam test created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpamTestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create spam test"
      }
    },
    "/spam/tests/{testId}": {
      "get": {
        "operationId": "getSpamTest",
        "summary": "Get spam test results",
        "tags": [
          "Spam Tests"
        ],
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spam test results"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get spam test results"
      }
    }
  },
  "components": {
    "schemas": {
      "EmailTest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "completed": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "EmailTestCreateRequest": {
        "type": "object",
        "required": [
          "subject",
          "html"
        ],
        "properties": {
          "subject": {
            "type": "string",
            "description": "Email subject"
          },
          "html": {
            "type": "string",
            "description": "HTML email content"
          },
          "clients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of client IDs to test"
          },
          "transfer_encoding": {
            "type": "string",
            "enum": [
              "7bit",
              "8bit",
              "quoted-printable",
              "base64"
            ]
          },
          "charset": {
            "type": "string"
          },
          "free_test": {
            "type": "boolean"
          },
          "reference_id": {
            "type": "string"
          }
        }
      },
      "EmailTestCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "reference_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "EmailTestResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "completed": {
            "type": "boolean"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientResult"
            }
          }
        }
      },
      "ClientResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "client": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "screenshots": {
            "type": "object",
            "properties": {
              "default": {
                "type": "string",
                "format": "uri"
              },
              "thumbnail": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "status": {
            "type": "string"
          },
          "status_details": {
            "type": "object"
          }
        }
      },
      "EmailClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "client": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "default": {
            "type": "boolean"
          }
        }
      },
      "SpamTestCreateRequest": {
        "type": "object",
        "required": [
          "subject",
          "html"
        ],
        "properties": {
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          }
        }
      },
      "SpamTestResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}
