{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "bobby@onskyline.com",
      "name": "Skyline API Team",
      "url": "http://onskyline.io"
    },
    "description": "Accounts services allows the retrieval of a list of account, details of an account, manipulation of an existing account and deletion of an account.",
    "license": {
      "name": "Skyline",
      "url": "https://onskyline.com/licenses/skyline"
    },
    "termsOfService": "http://onskyline.io/terms/",
    "title": "Accounts",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegmergius/accounts/0.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://onskyline.io/api"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "parameters": [
          {
            "description": "Token to be passed as a header value",
            "in": "header",
            "name": "access_token",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountsResponse"
                }
              }
            },
            "description": "Returns a list of accounts"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Client Error"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Returns all accounts for a particular user",
        "operationId": "accountList"
      }
    },
    "/accounts/healthCheck": {
      "get": {
        "parameters": [
          {
            "description": "Token to be passed as a header value",
            "in": "header",
            "name": "access_token",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthCheckResponse"
                }
              }
            },
            "description": "Returns a summary of an account"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Client Error"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Returns a health check summary",
        "operationId": "accountHealthCheck"
      }
    },
    "/accounts/{accountKey}": {
      "get": {
        "parameters": [
          {
            "description": "Token to be passed as a header value",
            "in": "header",
            "name": "access_token",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Account Key",
            "in": "path",
            "name": "accountKey",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/summaryResponse"
                }
              }
            },
            "description": "Returns a summary of an account"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Client Error"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Returns a summary of an account",
        "operationId": "accountSummary"
      }
    }
  },
  "components": {
    "schemas": {
      "accountsAccount": {
        "properties": {
          "accountKey": {
            "type": "string"
          },
          "actions": {
            "$ref": "#/components/schemas/accountsActions"
          },
          "balance": {
            "$ref": "#/components/schemas/balance"
          },
          "category": {
            "type": "string"
          },
          "classification": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "hideInSummary": {
            "type": "boolean"
          },
          "maskedAccount": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountsActions": {
        "properties": {
          "details": {
            "$ref": "#/components/schemas/accountsDetail"
          },
          "options": {
            "items": {
              "$ref": "#/components/schemas/accountsOption"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "accountsDetail": {
        "properties": {
          "action": {
            "type": "string"
          },
          "params": {
            "$ref": "#/components/schemas/accountsDetailParam"
          },
          "service": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountsDetailParam": {
        "properties": {
          "accountKey": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountsOption": {
        "properties": {
          "action": {
            "type": "string"
          },
          "params": {
            "$ref": "#/components/schemas/accountsOptionParam"
          },
          "service": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountsOptionParam": {
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "date": {
            "format": "date",
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountsResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "result": {
            "$ref": "#/components/schemas/accountsResults"
          }
        },
        "type": "object"
      },
      "accountsResults": {
        "properties": {
          "accounts": {
            "items": {
              "$ref": "#/components/schemas/accountsAccount"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "balance": {
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "error": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "errorMetadata": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "errorResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/errorMetadata"
          }
        },
        "type": "object"
      },
      "healthCheckResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "result": {
            "$ref": "#/components/schemas/healthCheckResults"
          }
        },
        "type": "object"
      },
      "healthCheckResults": {
        "properties": {
          "time": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "metadata": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "type": "array"
          },
          "paging": {
            "$ref": "#/components/schemas/paging"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/warning"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "paging": {
        "properties": {
          "count": {
            "format": "int64",
            "type": "integer"
          },
          "limit": {
            "format": "int64",
            "type": "integer"
          },
          "offset": {
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "offset",
          "count",
          "limit"
        ],
        "type": "object"
      },
      "summaryAccount": {
        "properties": {
          "accountKey": {
            "type": "string"
          },
          "balances": {
            "items": {
              "$ref": "#/components/schemas/balance"
            },
            "type": "array"
          },
          "category": {
            "type": "string"
          },
          "classification": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "details": {
            "$ref": "#/components/schemas/summaryDetails"
          },
          "locale": {
            "type": "string"
          },
          "maskedAccount": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "summaryDetails": {
        "properties": {
          "detailsList": {
            "items": {
              "$ref": "#/components/schemas/summaryDetailsList"
            },
            "type": "array"
          },
          "historyList": {
            "items": {
              "$ref": "#/components/schemas/summaryHistoryList"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "summaryDetailsList": {
        "properties": {
          "description": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "summaryHistoryList": {
        "properties": {
          "_date": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "summaryResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "result": {
            "$ref": "#/components/schemas/summaryResults"
          }
        },
        "type": "object"
      },
      "summaryResults": {
        "properties": {
          "account": {
            "$ref": "#/components/schemas/summaryAccount"
          }
        },
        "type": "object"
      },
      "warning": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "accounts"
    }
  ]
}