{
  "openapi": "3.0.3",
  "info": {
    "title": "IPinfo API",
    "version": "1.0.0",
    "description": "IP address geolocation and network information API providing location, ASN, company, privacy detection, and more.",
    "x-jentic-source-url": "https://ipinfo.io/developers"
  },
  "servers": [
    {
      "url": "https://api.ipinfo.io"
    }
  ],
  "paths": {
    "/lite/{ip}": {
      "get": {
        "operationId": "getIpLite",
        "summary": "Get lite IP information",
        "description": "Returns basic IP information available on the free tier including ASN, country, and continent.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address"
          }
        ],
        "responses": {
          "200": {
            "description": "Lite IP information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/lite": {
      "get": {
        "operationId": "getMyIpLite",
        "summary": "Get lite information for requesting IP",
        "description": "Returns basic IP information for the requesting client's IP address.",
        "tags": [
          "IP Lookup"
        ],
        "responses": {
          "200": {
            "description": "Lite IP information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/lookup/{ip}": {
      "get": {
        "operationId": "getIpLookup",
        "summary": "Get full IP lookup information",
        "description": "Returns comprehensive IP information including geolocation, ASN details, and anonymity detection (Core/Plus plans).",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address"
          }
        ],
        "responses": {
          "200": {
            "description": "Full IP lookup information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/lookup": {
      "get": {
        "operationId": "getMyIpLookup",
        "summary": "Get full lookup information for requesting IP",
        "description": "Returns comprehensive IP information for the requesting client's IP address.",
        "tags": [
          "IP Lookup"
        ],
        "responses": {
          "200": {
            "description": "Full IP lookup information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/lookup/{ip}/{field}": {
      "get": {
        "operationId": "getIpField",
        "summary": "Get a specific field for an IP address",
        "description": "Returns a single field value as plain text for the specified IP address.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address"
          },
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specific field to retrieve (e.g., city, country, org)"
          }
        ],
        "responses": {
          "200": {
            "description": "Field value as plain text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Field not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LiteResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "asn": {
            "type": "string",
            "description": "Autonomous System Number"
          },
          "as_name": {
            "type": "string",
            "description": "AS name"
          },
          "as_domain": {
            "type": "string",
            "description": "AS domain"
          },
          "country_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "continent_code": {
            "type": "string"
          },
          "continent": {
            "type": "string"
          }
        }
      },
      "LookupResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "asn": {
            "type": "string"
          },
          "as_name": {
            "type": "string"
          },
          "as_domain": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "continent_code": {
            "type": "string"
          },
          "continent": {
            "type": "string"
          },
          "geo": {
            "$ref": "#/components/schemas/GeoInfo"
          },
          "as": {
            "type": "object",
            "properties": {
              "asn": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "anonymous": {
            "type": "object",
            "properties": {
              "is_proxy": {
                "type": "boolean"
              },
              "is_vpn": {
                "type": "boolean"
              },
              "is_tor": {
                "type": "boolean"
              }
            }
          },
          "is_anonymous": {
            "type": "boolean"
          },
          "is_hosting": {
            "type": "boolean"
          },
          "is_mobile": {
            "type": "boolean"
          },
          "is_satellite": {
            "type": "boolean"
          }
        }
      },
      "GeoInfo": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      },
      "tokenParam": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "Token query parameter authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "tokenParam": []
    }
  ]
}