{
  "swagger": "2.0",
  "info": {
    "description": "**API merchant**\n\n*Version 1.0*\n- Merchant Data.",
    "version": "1.3",
    "title": "API Merchant",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.merchant/1.3/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.merchant/v1",
  "tags": [
    {
      "name": "Merchant API",
      "description": "RESTful API for Visanet Merchant Information"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/querybyRUC": {
      "post": {
        "tags": [
          "Merchant API"
        ],
        "summary": "Query merchant",
        "description": "Query merchant",
        "operationId": "getInformationbyRUC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Business info to query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MerchantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MerchantResponse"
            }
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ResponseHeader"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/list/{operation}/{initPage}/{finalPage}": {
      "get": {
        "tags": [
          "Merchant API"
        ],
        "summary": "RetrieveMerchant",
        "description": "RetrieveMerchant",
        "operationId": "list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "type": "string",
            "description": "Tipo de operaci\u00f3n (T:TOTAL,M: MODIFICADOS Y NUEVOS)",
            "required": true
          },
          {
            "name": "initPage",
            "in": "path",
            "type": "string",
            "description": "P\u00e1gina de inicio",
            "required": true
          },
          {
            "name": "finalPage",
            "in": "path",
            "type": "string",
            "description": "P\u00e1gina de fin",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ResponseHeader"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/getTotal/{operation}": {
      "get": {
        "tags": [
          "Merchant API"
        ],
        "summary": "RetrieveTotal",
        "description": "RetrieveTotal",
        "operationId": "listTotal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "type": "string",
            "description": "Tipo de operaci\u00f3n (T:TOTAL,M: MODIFICADOS y NUEVOS)",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveTotalResponse"
            }
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ResponseHeader"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/update": {
      "post": {
        "tags": [
          "Merchant API"
        ],
        "summary": "update",
        "description": "update",
        "operationId": "update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ResponseHeader"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "MerchantRequest": {
      "type": "object",
      "required": [
        "businessId",
        "externalId",
        "companyId",
        "functionId"
      ],
      "properties": {
        "businessId": {
          "type": "string",
          "maxLength": 20,
          "description": "RUC"
        },
        "externalId": {
          "type": "string",
          "maxLength": 6,
          "description": "Id de transacci\u00f3n"
        },
        "companyId": {
          "type": "string",
          "maxLength": 3,
          "description": "N\u00famero de empresa, ser\u00e1 '165'"
        },
        "functionId": {
          "type": "string",
          "description": "Id de la funci\u00f3n, ser\u00e1 '651'"
        }
      }
    },
    "MerchantResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/ResponseHeader"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MerchantItem"
          }
        }
      }
    },
    "MerchantItem": {
      "type": "object",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "C\u00f3digo de comercio"
        },
        "geoLocationCode": {
          "type": "string",
          "description": "C\u00f3digo Ubigeo Administrativo"
        },
        "addressMerchant": {
          "type": "string",
          "description": "Direcci\u00f3n Administrativa"
        },
        "affiliationDate": {
          "type": "string",
          "description": "Fecha de Alta de afiliaci\u00f3n"
        },
        "currency": {
          "type": "string",
          "enum": [
            "PEN",
            "USD"
          ]
        },
        "businessId": {
          "type": "string",
          "description": "RUC"
        },
        "geoLocationCodeCommercial": {
          "type": "string",
          "description": "C\u00f3digo Ubigeo Comercial"
        },
        "addressMerchantCommercial": {
          "type": "string",
          "description": "Direcci\u00f3n Comercial"
        },
        "descGeoLocationAmin": {
          "type": "string",
          "description": "Descripci\u00f3n de ubigeo administrativo"
        },
        "descGeoLocationComercial": {
          "type": "string",
          "description": "Descripci\u00f3n de ubigeo comercial"
        },
        "status": {
          "type": "string",
          "description": "Estado del comercio"
        },
        "descMCCNational": {
          "type": "string",
          "description": "Descripci\u00f3n del MCC Nacional"
        },
        "descMCCInternational": {
          "type": "string",
          "description": "Descripci\u00f3n del MCC Internacional"
        },
        "telephoneNumber": {
          "type": "string",
          "description": "Tel\u00e9fono"
        },
        "bank": {
          "type": "string",
          "description": "Banco"
        },
        "accountNumber": {
          "type": "string",
          "description": "N\u00famero de cuenta"
        },
        "marketNiche": {
          "type": "string",
          "description": "Segmento del mercado"
        },
        "codeMCInternational": {
          "type": "string",
          "description": "C\u00f3digo MCC Internacional"
        }
      }
    },
    "MerchantItemList": {
      "type": "object",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "C\u00f3digo de comercio"
        },
        "geoLocationCode": {
          "type": "string",
          "description": "C\u00f3digo Uigeo Administrativo"
        },
        "addressMerchant": {
          "type": "string",
          "description": "Direcci\u00f3n Administrativa"
        },
        "affiliationDate": {
          "type": "string",
          "description": "Fecha de Alta de afiliaci\u00f3n"
        },
        "currency": {
          "type": "string",
          "enum": [
            "PEN",
            "USD"
          ]
        },
        "businessId": {
          "type": "string",
          "description": "RUC"
        },
        "geoLocationCodeCommercial": {
          "type": "string",
          "description": "C\u00f3digo Ubigeo Comercial"
        },
        "addressMerchantCommercial": {
          "type": "string",
          "description": "Direcci\u00f3n Comercial"
        },
        "tradeName": {
          "type": "string",
          "description": "razon Social"
        },
        "merchantName": {
          "type": "string",
          "description": "Nombre Comercial"
        },
        "bank": {
          "type": "string",
          "description": "banco"
        },
        "codeBank": {
          "type": "string"
        },
        "accountNumber": {
          "type": "string",
          "description": "numeroCuenta"
        },
        "legalRepresentant": {
          "type": "string",
          "description": "representanteLegal1"
        },
        "emailLegalRepresentant": {
          "type": "string",
          "description": "emailrepresentanteLegal1"
        },
        "telephoneNumber": {
          "type": "string",
          "description": "telefonoAdministrativo"
        },
        "descMCCInternational": {
          "type": "string",
          "description": "descmccInternacional"
        },
        "codeMCInternational": {
          "type": "string"
        },
        "descMCCNational": {
          "type": "string"
        },
        "codeMCNational": {
          "type": "string"
        },
        "codeState": {
          "type": "string"
        },
        "codeCommercialGroup": {
          "type": "string"
        },
        "emailCommercialGroup": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "economicGroup": {
          "type": "string"
        },
        "marketNiche": {
          "type": "string"
        }
      }
    },
    "RetrieveResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/ResponseHeader"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MerchantItemList"
          }
        }
      }
    },
    "RetrieveTotalResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/ResponseHeader"
        },
        "number": {
          "type": "integer"
        }
      }
    },
    "UpdateResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/ResponseHeader"
        },
        "numberUpdate": {
          "type": "integer",
          "description": "cantidad de comercios actualizados"
        }
      }
    },
    "ResponseHeader": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "executionDate": {
          "type": "integer",
          "format": "int64"
        },
        "transactionUUID": {
          "type": "string"
        }
      }
    }
  }
}
