{
  "openapi": "3.0.3",
  "info": {
    "title": "PandaScore API",
    "description": "PandaScore provides historical and real-time statistics for 13+ major esports titles including League of Legends, Counter-Strike, Dota 2, Valorant, Overwatch, and more. Access data on leagues, matches, players, teams, tournaments, and series across all supported games.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://developers.pandascore.co/"
  },
  "servers": [
    {
      "url": "https://api.pandascore.co",
      "description": "PandaScore API server"
    }
  ],
  "tags": [
    { "name": "Incidents", "description": "Track additions, changes, and deletions across all resources" },
    { "name": "Leagues", "description": "Esports leagues" },
    { "name": "Matches", "description": "Match data including past, running, and upcoming" },
    { "name": "Players", "description": "Player profiles and statistics" },
    { "name": "Series", "description": "Series/seasons within leagues" },
    { "name": "Teams", "description": "Team profiles and rosters" },
    { "name": "Tournaments", "description": "Tournament data and brackets" },
    { "name": "Videogames", "description": "Supported video game titles" }
  ],
  "paths": {
    "/incidents": {
      "get": {
        "operationId": "listIncidents",
        "summary": "List all changes, additions, and deletions",
        "description": "Returns a combined list of all resource changes including creations, updates, and deletions.",
        "tags": ["Incidents"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of incidents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Incident" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/additions": {
      "get": {
        "operationId": "listAdditions",
        "summary": "List additions",
        "description": "Returns the latest resource additions (newly created objects).",
        "tags": ["Incidents"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of additions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Incident" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/changes": {
      "get": {
        "operationId": "listChanges",
        "summary": "List changes",
        "description": "Returns the latest resource modifications.",
        "tags": ["Incidents"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Incident" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/deletions": {
      "get": {
        "operationId": "listDeletions",
        "summary": "List deletions",
        "description": "Returns the latest resource deletions.",
        "tags": ["Incidents"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of deletions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Incident" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leagues": {
      "get": {
        "operationId": "listLeagues",
        "summary": "List leagues",
        "description": "Returns a paginated list of esports leagues across all supported video games.",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of leagues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/League" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}": {
      "get": {
        "operationId": "getLeague",
        "summary": "Get a league",
        "description": "Returns details for a specific league by ID or slug.",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "leagueIdOrSlug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "League details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/League" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}/matches": {
      "get": {
        "operationId": "getLeagueMatches",
        "summary": "Get matches for a league",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "leagueIdOrSlug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of matches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Match" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}/matches/past": {
      "get": {
        "operationId": "getLeaguePastMatches",
        "summary": "Get past matches for a league",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "leagueIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of past matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}/matches/running": {
      "get": {
        "operationId": "getLeagueRunningMatches",
        "summary": "Get running matches for a league",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "leagueIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of running matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}/matches/upcoming": {
      "get": {
        "operationId": "getLeagueUpcomingMatches",
        "summary": "Get upcoming matches for a league",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "leagueIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of upcoming matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}/series": {
      "get": {
        "operationId": "getLeagueSeries",
        "summary": "List series for a league",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "leagueIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of series",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Series" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leagues/{leagueIdOrSlug}/tournaments": {
      "get": {
        "operationId": "getLeagueTournaments",
        "summary": "Get tournaments for a league",
        "tags": ["Leagues"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "leagueIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of tournaments",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tournament" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/matches": {
      "get": {
        "operationId": "listMatches",
        "summary": "List matches",
        "description": "Returns a paginated list of matches across all games.",
        "tags": ["Matches"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/matches/{matchIdOrSlug}": {
      "get": {
        "operationId": "getMatch",
        "summary": "Get a match",
        "tags": ["Matches"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "matchIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Match details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Match" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/matches/past": {
      "get": {
        "operationId": "listPastMatches",
        "summary": "List past matches",
        "tags": ["Matches"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of past matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/matches/running": {
      "get": {
        "operationId": "listRunningMatches",
        "summary": "List running matches",
        "tags": ["Matches"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of running matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/matches/upcoming": {
      "get": {
        "operationId": "listUpcomingMatches",
        "summary": "List upcoming matches",
        "tags": ["Matches"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of upcoming matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/players": {
      "get": {
        "operationId": "listPlayers",
        "summary": "List players",
        "description": "Returns a paginated list of esports players.",
        "tags": ["Players"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of players",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Player" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/players/{playerIdOrSlug}": {
      "get": {
        "operationId": "getPlayer",
        "summary": "Get a player",
        "tags": ["Players"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "playerIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Player details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Player" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/series": {
      "get": {
        "operationId": "listSeries",
        "summary": "List series",
        "tags": ["Series"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of series",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Series" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/series/{serieIdOrSlug}": {
      "get": {
        "operationId": "getSeries",
        "summary": "Get a series",
        "tags": ["Series"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "serieIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Series details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Series" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/series/{serieIdOrSlug}/matches": {
      "get": {
        "operationId": "getSeriesMatches",
        "summary": "Get matches for a series",
        "tags": ["Series"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "serieIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/series/{serieIdOrSlug}/tournaments": {
      "get": {
        "operationId": "getSeriesTournaments",
        "summary": "Get tournaments for a series",
        "tags": ["Series"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "serieIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of tournaments",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tournament" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "tags": ["Teams"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Team" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/teams/{teamIdOrSlug}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get a team",
        "tags": ["Teams"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "teamIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Team" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/tournaments": {
      "get": {
        "operationId": "listTournaments",
        "summary": "List tournaments",
        "tags": ["Tournaments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of tournaments",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tournament" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/tournaments/{tournamentIdOrSlug}": {
      "get": {
        "operationId": "getTournament",
        "summary": "Get a tournament",
        "tags": ["Tournaments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "tournamentIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Tournament details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tournament" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/tournaments/{tournamentIdOrSlug}/matches": {
      "get": {
        "operationId": "getTournamentMatches",
        "summary": "Get matches for a tournament",
        "tags": ["Tournaments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "tournamentIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of matches",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/tournaments/{tournamentIdOrSlug}/teams": {
      "get": {
        "operationId": "getTournamentTeams",
        "summary": "Get teams for a tournament",
        "tags": ["Tournaments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "tournamentIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Team" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/videogames": {
      "get": {
        "operationId": "listVideogames",
        "summary": "List video games",
        "description": "Returns a list of all supported esports video games.",
        "tags": ["Videogames"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of video games",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Videogame" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/videogames/{videogameIdOrSlug}": {
      "get": {
        "operationId": "getVideogame",
        "summary": "Get a video game",
        "tags": ["Videogames"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "videogameIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Video game details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Videogame" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/videogames/{videogameIdOrSlug}/leagues": {
      "get": {
        "operationId": "getVideogameLeagues",
        "summary": "Get leagues for a video game",
        "tags": ["Videogames"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "videogameIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of leagues",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/League" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/videogames/{videogameIdOrSlug}/series": {
      "get": {
        "operationId": "getVideogameSeries",
        "summary": "Get series for a video game",
        "tags": ["Videogames"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "videogameIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of series",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Series" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/videogames/{videogameIdOrSlug}/tournaments": {
      "get": {
        "operationId": "getVideogameTournaments",
        "summary": "Get tournaments for a video game",
        "tags": ["Videogames"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "videogameIdOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/perPage" }
        ],
        "responses": {
          "200": {
            "description": "List of tournaments",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tournament" } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "PandaScore API access token. Obtain from the PandaScore developer dashboard."
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number for pagination",
        "schema": { "type": "integer", "minimum": 1, "default": 1 }
      },
      "perPage": {
        "name": "per_page",
        "in": "query",
        "required": false,
        "description": "Number of items per page (1-100)",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid bearer token",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - insufficient permissions",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Incident": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "change_type": {
            "type": "string",
            "enum": ["creation", "deletion", "update"]
          },
          "type": {
            "type": "string",
            "enum": ["match", "league", "serie", "tournament", "team", "player"]
          },
          "modified_at": { "type": "string", "format": "date-time" },
          "object": {
            "type": "object",
            "description": "The full resource object (varies by type)"
          }
        }
      },
      "League": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "image_url": { "type": "string", "nullable": true },
          "url": { "type": "string", "nullable": true },
          "modified_at": { "type": "string", "format": "date-time" },
          "videogame": { "$ref": "#/components/schemas/Videogame" },
          "series": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Series" }
          }
        },
        "required": ["id", "name", "slug", "modified_at"]
      },
      "Match": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["not_started", "running", "finished", "canceled", "postponed"]
          },
          "match_type": {
            "type": "string",
            "enum": ["best_of", "custom", "first_to", "ow_best_of"]
          },
          "number_of_games": { "type": "integer" },
          "begin_at": { "type": "string", "format": "date-time", "nullable": true },
          "end_at": { "type": "string", "format": "date-time", "nullable": true },
          "modified_at": { "type": "string", "format": "date-time" },
          "winner": { "$ref": "#/components/schemas/Team" },
          "opponents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "opponent": { "$ref": "#/components/schemas/Team" },
                "type": { "type": "string" }
              }
            }
          },
          "league": { "$ref": "#/components/schemas/League" },
          "serie": { "$ref": "#/components/schemas/Series" },
          "tournament": { "$ref": "#/components/schemas/Tournament" },
          "videogame": { "$ref": "#/components/schemas/Videogame" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "team_id": { "type": "integer" },
                "score": { "type": "integer" }
              }
            }
          }
        },
        "required": ["id", "name", "slug", "status", "modified_at"]
      },
      "Player": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "first_name": { "type": "string", "nullable": true },
          "last_name": { "type": "string", "nullable": true },
          "nationality": { "type": "string", "nullable": true },
          "image_url": { "type": "string", "nullable": true },
          "role": { "type": "string", "nullable": true },
          "birthday": { "type": "string", "format": "date", "nullable": true },
          "current_team": { "$ref": "#/components/schemas/Team" },
          "current_videogame": { "$ref": "#/components/schemas/Videogame" },
          "modified_at": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "slug"]
      },
      "Series": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string", "nullable": true },
          "slug": { "type": "string" },
          "full_name": { "type": "string" },
          "season": { "type": "string", "nullable": true },
          "year": { "type": "integer", "nullable": true },
          "begin_at": { "type": "string", "format": "date-time", "nullable": true },
          "end_at": { "type": "string", "format": "date-time", "nullable": true },
          "modified_at": { "type": "string", "format": "date-time" },
          "league": { "$ref": "#/components/schemas/League" },
          "videogame": { "$ref": "#/components/schemas/Videogame" }
        },
        "required": ["id", "slug", "full_name"]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "acronym": { "type": "string", "nullable": true },
          "image_url": { "type": "string", "nullable": true },
          "location": { "type": "string", "nullable": true },
          "modified_at": { "type": "string", "format": "date-time" },
          "players": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Player" }
          },
          "current_videogame": { "$ref": "#/components/schemas/Videogame" }
        },
        "required": ["id", "name", "slug"]
      },
      "Tournament": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "begin_at": { "type": "string", "format": "date-time", "nullable": true },
          "end_at": { "type": "string", "format": "date-time", "nullable": true },
          "modified_at": { "type": "string", "format": "date-time" },
          "tier": { "type": "string", "nullable": true },
          "prizepool": { "type": "string", "nullable": true },
          "league": { "$ref": "#/components/schemas/League" },
          "serie": { "$ref": "#/components/schemas/Series" },
          "videogame": { "$ref": "#/components/schemas/Videogame" },
          "teams": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Team" }
          }
        },
        "required": ["id", "name", "slug"]
      },
      "Videogame": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        },
        "required": ["id", "name", "slug"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
