{
  "openapi": "3.0.3",
  "info": {
    "title": "Clarifai API",
    "version": "2.0.0",
    "description": "Clarifai provides AI-powered visual recognition, NLP, and general ML model inference. The API supports predictions (image classification, object detection, text analysis), model management, input management, search, and workflow orchestration. The API is accessible via gRPC and HTTP+JSON channels. Authentication uses Personal Access Tokens (PAT) or API keys.",
    "x-jentic-source-url": "https://docs.clarifai.com/compute/inference/clarifai/api-legacy/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.clarifai.com"
    }
  ],
  "tags": [
    {
      "name": "Predictions",
      "description": "Make predictions using models"
    },
    {
      "name": "Models",
      "description": "Model management"
    },
    {
      "name": "Inputs",
      "description": "Input data management"
    },
    {
      "name": "Concepts",
      "description": "Concept/label management"
    },
    {
      "name": "Search",
      "description": "Visual and semantic search"
    },
    {
      "name": "Workflows",
      "description": "Workflow orchestration"
    }
  ],
  "paths": {
    "/v2/users/{userId}/apps/{appId}/models/{modelId}/outputs": {
      "post": {
        "operationId": "postModelOutputs",
        "summary": "Predict using a model",
        "description": "Make predictions using a specified model. Send one or more inputs (images, text, video) and receive model outputs. Supports up to 128 images per call, with each file under 20MB.",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user ID that owns the model"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app ID containing the model"
          },
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model ID to use for prediction"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostModelOutputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostModelOutputsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid PAT or API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/models/{modelId}/versions/{versionId}/outputs": {
      "post": {
        "operationId": "postModelVersionOutputs",
        "summary": "Predict using a specific model version",
        "description": "Make predictions using a specific version of a model.",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specific model version ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostModelOutputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostModelOutputsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "description": "List all models in an app.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postModels",
        "summary": "Create a model",
        "description": "Create a new model in an app.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/models/{modelId}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get a model",
        "description": "Get details of a specific model.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteModel",
        "summary": "Delete a model",
        "description": "Delete a model from an app.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/inputs": {
      "post": {
        "operationId": "postInputs",
        "summary": "Add inputs",
        "description": "Add one or more inputs (images, text, video) to an app for indexing and training.",
        "tags": [
          "Inputs"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inputs added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostInputsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listInputs",
        "summary": "List inputs",
        "description": "List inputs in an app.",
        "tags": [
          "Inputs"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inputs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInputsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/inputs/{inputId}": {
      "get": {
        "operationId": "getInput",
        "summary": "Get an input",
        "description": "Get details of a specific input.",
        "tags": [
          "Inputs"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Input details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleInputResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteInput",
        "summary": "Delete an input",
        "description": "Delete a specific input from an app.",
        "tags": [
          "Inputs"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Input deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/searches": {
      "post": {
        "operationId": "postSearches",
        "summary": "Search inputs",
        "description": "Search for inputs using visual similarity, concepts, or metadata filters.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSearchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/workflows/{workflowId}/results": {
      "post": {
        "operationId": "postWorkflowResults",
        "summary": "Run a workflow",
        "description": "Execute a workflow on one or more inputs. A workflow chains multiple models together.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWorkflowResultsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{userId}/apps/{appId}/concepts": {
      "get": {
        "operationId": "listConcepts",
        "summary": "List concepts",
        "description": "List all concepts in an app.",
        "tags": [
          "Concepts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of concepts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConceptsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postConcepts",
        "summary": "Create concepts",
        "description": "Create one or more concepts in an app.",
        "tags": [
          "Concepts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostConceptsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Concepts created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConceptsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "patAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal Access Token (PAT) or API Key. Format: 'Key {your_pat_or_api_key}'"
      }
    },
    "schemas": {
      "PostModelOutputsRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          }
        },
        "required": [
          "inputs"
        ]
      },
      "Input": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/Image"
          },
          "text": {
            "$ref": "#/components/schemas/Text"
          },
          "video": {
            "$ref": "#/components/schemas/Video"
          },
          "concepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Concept"
            }
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Publicly accessible image URL"
          },
          "base64": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded image data"
          }
        }
      },
      "Text": {
        "type": "object",
        "properties": {
          "raw": {
            "type": "string",
            "description": "Raw text input"
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "base64": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "Concept": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number",
            "description": "Confidence value between 0 and 1"
          }
        }
      },
      "PostModelOutputsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Output"
            }
          }
        }
      },
      "Output": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          },
          "model": {
            "$ref": "#/components/schemas/ModelSummary"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ModelSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "model_version": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "PostModelsRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "output_info": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Data"
                  }
                }
              }
            }
          }
        }
      },
      "SingleModelResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "model": {
            "$ref": "#/components/schemas/ModelSummary"
          }
        }
      },
      "ListModelsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelSummary"
            }
          }
        }
      },
      "PostInputsRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          }
        }
      },
      "PostInputsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          }
        }
      },
      "ListInputsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          }
        }
      },
      "SingleInputResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "input": {
            "$ref": "#/components/schemas/Input"
          }
        }
      },
      "PostSearchesRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "ands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Data"
                        }
                      }
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Data"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "hits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "number"
                },
                "input": {
                  "$ref": "#/components/schemas/Input"
                }
              }
            }
          }
        }
      },
      "PostWorkflowResultsRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          }
        }
      },
      "WorkflowResultsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Output"
                  }
                }
              }
            }
          }
        }
      },
      "PostConceptsRequest": {
        "type": "object",
        "properties": {
          "concepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Concept"
            }
          }
        }
      },
      "ListConceptsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "concepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Concept"
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "patAuth": []
    }
  ]
}
