{
  "openapi": "3.0.3",
  "info": {
    "title": "Reed Job Search API",
    "description": "Reed.co.uk's Jobseeker API allows searching for jobs and retrieving job details from one of the UK's largest job boards.",
    "version": "1.0.0",
    "contact": {
      "name": "Reed Developer Support",
      "url": "https://www.reed.co.uk/developers"
    },
    "x-jentic-source-url": "https://www.reed.co.uk/developers/Jobseeker"
  },
  "servers": [
    {
      "url": "https://www.reed.co.uk/api/1.0",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Job search and details operations"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchJobs",
        "summary": "Search for jobs",
        "description": "Runs a search of all jobs on reed.co.uk and returns a list of jobs matching the specified parameters.",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "description": "Search keywords or terms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "description": "Location to search for jobs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "distanceFromLocation",
            "in": "query",
            "description": "Distance in miles from the specified location. Default is 10.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "employerId",
            "in": "query",
            "description": "Filter by employer ID. Cannot be used with employerProfileId.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employerProfileId",
            "in": "query",
            "description": "Filter by employer profile ID. Cannot be used with employerId.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "permanent",
            "in": "query",
            "description": "Filter for permanent jobs.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filter for contract jobs.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "temp",
            "in": "query",
            "description": "Filter for temporary jobs.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "partTime",
            "in": "query",
            "description": "Filter for part-time jobs.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fullTime",
            "in": "query",
            "description": "Filter for full-time jobs.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "minimumSalary",
            "in": "query",
            "description": "Minimum salary filter.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maximumSalary",
            "in": "query",
            "description": "Maximum salary filter.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "postedByRecruitmentAgency",
            "in": "query",
            "description": "Filter for jobs posted by recruitment agencies.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "postedByDirectEmployer",
            "in": "query",
            "description": "Filter for jobs posted by direct employers.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "graduate",
            "in": "query",
            "description": "Filter for graduate jobs.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "resultsToTake",
            "in": "query",
            "description": "Number of results to return. Maximum and default is 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "resultsToSkip",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful job search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJobDetails",
        "summary": "Get job details",
        "description": "Returns complete job information for the specified job ID. If no job matches, a blank job is returned.",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the job.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful job details response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Job not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication. Use your API key as the username and leave the password empty."
      }
    },
    "schemas": {
      "JobSearchResult": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "integer",
            "description": "Unique job identifier."
          },
          "employerId": {
            "type": "integer",
            "description": "Employer identifier."
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer."
          },
          "employerProfileId": {
            "type": "integer",
            "nullable": true,
            "description": "Employer profile identifier."
          },
          "jobTitle": {
            "type": "string",
            "description": "Title of the job."
          },
          "description": {
            "type": "string",
            "description": "Brief description of the job."
          },
          "locationName": {
            "type": "string",
            "description": "Job location."
          },
          "minimumSalary": {
            "type": "number",
            "nullable": true,
            "description": "Minimum salary. Null if salary is hidden."
          },
          "maximumSalary": {
            "type": "number",
            "nullable": true,
            "description": "Maximum salary. Null if salary is hidden."
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "Salary currency."
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the job listing expires."
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the job was posted."
          },
          "jobUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the job listing on reed.co.uk."
          }
        }
      },
      "JobSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSearchResult"
            }
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of matching jobs."
          }
        }
      },
      "JobDetail": {
        "type": "object",
        "properties": {
          "employerId": {
            "type": "integer",
            "description": "Employer identifier."
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer."
          },
          "jobTitle": {
            "type": "string",
            "description": "Title of the job."
          },
          "jobDescription": {
            "type": "string",
            "description": "Full HTML description of the job."
          },
          "locationName": {
            "type": "string",
            "description": "Job location."
          },
          "minimumSalary": {
            "type": "number",
            "nullable": true,
            "description": "Minimum salary."
          },
          "maximumSalary": {
            "type": "number",
            "nullable": true,
            "description": "Maximum salary."
          },
          "yearlyMinimumSalary": {
            "type": "number",
            "nullable": true,
            "description": "Annualized minimum salary."
          },
          "yearlyMaximumSalary": {
            "type": "number",
            "nullable": true,
            "description": "Annualized maximum salary."
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "Salary currency code."
          },
          "salaryType": {
            "type": "string",
            "nullable": true,
            "description": "Type of salary (e.g. per annum, per day)."
          },
          "contractType": {
            "type": "string",
            "nullable": true,
            "description": "Type of contract."
          },
          "jobType": {
            "type": "string",
            "nullable": true,
            "description": "Type of job (full-time, part-time, etc.)."
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the job listing expires."
          },
          "externalUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "External application URL."
          },
          "jobUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the job listing on reed.co.uk."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  }
}
