{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Warehouse Management System",
    "title": "WMS API",
    "version": "2.2.1",
    "x-jentic-source-url": "https://learn-api.erply.com/new-apis/wms-api"
  },
  "servers": [
    {
      "url": "https://wms-api.erply.com/"
    }
  ],
  "paths": {
    "/v1/analytics": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analyticsmodels.TBinInventoryEvent"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Analytics events"
        ],
        "description": "The `eventType` can be one of the following: `START` for start order process, `END` for end of oreder process, `IN`, `OUT`, `REPLACE`, `RETURN`, `EXPIRED`\nYou can send any event if and only if the `START` event has been sent and after `END` event you can not send anything\n\nThe `documentType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.\n\nIn case of `START` or `END` events binInventoryRecordId value can be 0",
        "operationId": "addAnalyticsEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analyticsmodels.CreateBinInventoryEvent"
              }
            }
          },
          "description": "Event",
          "required": true
        },
        "summary": "Add analytics events"
      }
    },
    "/v1/analytics/bin-replacement-efficiency": {
      "get": {
        "parameters": [
          {
            "description": "Employee IDs in comma seperated format",
            "in": "query",
            "name": "employeeIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start timestamp. Format: Unix time",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Start timestamp. Format: Unix time",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Warehouse IDs in comma seperated format",
            "in": "query",
            "name": "warehouseIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/analyticsmodels.BinReplacementEfficiency"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Analytics events"
        ],
        "operationId": "getBinReplacementEfficiency",
        "summary": "Get bin replacement efficiency"
      }
    },
    "/v1/analytics/inbound-efficiency": {
      "get": {
        "parameters": [
          {
            "description": "Bin codes in comma seperated format",
            "in": "query",
            "name": "binCodes",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End timestamp. Format: Unix time",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Product IDs in comma seperated format",
            "in": "query",
            "name": "productIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start timestamp. Format: Unix time",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/analyticsmodels.InboundEfficiency"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Analytics events"
        ],
        "operationId": "getInboundEfficiency",
        "summary": "Get inbound efficiency"
      }
    },
    "/v1/analytics/picking-efficiency": {
      "get": {
        "parameters": [
          {
            "description": "Bin codes in comma seperated format",
            "in": "query",
            "name": "binCodes",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start timestamp. Format: Unix time",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Product IDs in comma seperated format",
            "in": "query",
            "name": "productIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start timestamp. Format: Unix time",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/analyticsmodels.PickingEfficiency"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Analytics events"
        ],
        "operationId": "getPickingEfficiency",
        "summary": "Get picking efficiency"
      }
    },
    "/v1/analytics/product-picking-efficiency": {
      "get": {
        "parameters": [
          {
            "description": "Employee IDs in comma seperated format",
            "in": "query",
            "name": "employeeIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End timestamp. Format: Unix time",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Start timestamp. Format: Unix time",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Warehouse IDs in comma seperated format",
            "in": "query",
            "name": "warehouseIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/analyticsmodels.ProductPickingEfficiency"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Analytics events"
        ],
        "operationId": "getProductPickingEfficiency",
        "summary": "Get product picking efficiency"
      }
    },
    "/v1/analytics/{documentId}/{documentType}": {
      "get": {
        "parameters": [
          {
            "description": "Document Id",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Document Type",
            "in": "path",
            "name": "documentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analyticsmodels.BinInventorySummary"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Analytics events"
        ],
        "description": "The `documentType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.",
        "operationId": "getSummary",
        "summary": "Get summary"
      }
    },
    "/v1/batch": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "batchCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "productId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/batchmodels.TBinInventoryBatch"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Batch"
        ],
        "description": "Get list of batches",
        "operationId": "getBatchList",
        "summary": "Get list of batches"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batchmodels.TBinInventoryBatch"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Batch"
        ],
        "description": "Create a new batch",
        "operationId": "addBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/batchmodels.BatchCreate"
              }
            }
          },
          "description": "Batch",
          "required": true
        },
        "summary": "Create a new batch"
      }
    },
    "/v1/batch/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Batch Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.OperationInfo"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Batch"
        ],
        "description": "Delete batch and batch codes",
        "operationId": "deleteBatch",
        "summary": "Delete batch and batch codes"
      },
      "get": {
        "parameters": [
          {
            "description": "Batch Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batchmodels.TBinInventoryBatch"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Batch"
        ],
        "description": "Get Bin by Id",
        "operationId": "getBatchById",
        "summary": "Get Batch by Id"
      },
      "put": {
        "parameters": [
          {
            "description": "Batch Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batchmodels.TBinInventoryBatch"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Batch"
        ],
        "description": "Update batch and add batch codes. Leave \"batchId\" empty if you want to add more batch codes.",
        "operationId": "updateBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/batchmodels.BatchUpdate"
              }
            }
          },
          "description": "Batch",
          "required": true
        },
        "summary": "Update batch and codes"
      }
    },
    "/v1/bin": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "active",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "aisle",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "allowedProduct",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "equipmentNeeded",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "preferred",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "warehouseId",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/binmodels.TBin"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Get Bin List",
        "operationId": "getBinList",
        "summary": "Get Bin list"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/binmodels.TBin"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Add Bin",
        "operationId": "addBin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/binmodels.TBin"
              }
            }
          },
          "description": "Bin",
          "required": true
        },
        "summary": "Add Bin"
      }
    },
    "/v1/bin-inventory": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "aggregateBySerialNo",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "binId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minimumAmount",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "preferred",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "productId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showBatchesQuantities",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showLotQuantities",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "warehouseId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/bininventorymodels.LBinInventoryRes"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory"
        ],
        "description": "Possible to order by field and sort by ASC or DESC. Add order like that ?order=binId ASC\nSearch multiple binID's and productID's like that ?binId=1,3,5,6&productId=2,5",
        "operationId": "getBinInventoryList",
        "summary": "Get list of bin inventories"
      }
    },
    "/v1/bin-inventory-record": {
      "get": {
        "parameters": [
          {
            "description": "Inclusive",
            "in": "query",
            "name": "addedFrom",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Inclusive",
            "in": "query",
            "name": "addedTo",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "binId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bundleId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "packageId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "productId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "referenceId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "referenceType",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "serialNo",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "warehouseId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/bininventoryrecordmodels.BinInventoryRecordListItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "description": "Get bin inventory record list",
        "operationId": "getBinInventoryRecordList",
        "summary": "Get bin inventory record list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/bininventoryrecordmodels.CreateBinInventoryRecord"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "description": "The `referenceType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.\nIf you add `referenceType`, then `referenceId` parameter is a mandatory field. Or, if you add `referenceId`, then `referenceType` parameter is a mandatory field.",
        "operationId": "createBinInventoryRecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/bininventoryrecordmodels.CreateBinInventoryRecord"
                },
                "type": "array"
              }
            }
          },
          "description": "Record",
          "required": true
        },
        "summary": "Create Bin inventory record"
      }
    },
    "/v1/bin-inventory-record/bulk": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/models.OperationStatusWithID"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "description": "Bin Inventory Record bulk delete",
        "operationId": "deleteBulkBinInventoryRecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/bininventoryrecordmodels.BinInventoryRecordBulkDelete"
                },
                "type": "array"
              }
            }
          },
          "description": "Bin Inventory records Ids",
          "required": true
        },
        "summary": "Bin Inventory Record bulk delete"
      }
    },
    "/v1/bin-inventory-record/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Bin Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.OperationInfo"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "description": "Delete Bin Inventory Record",
        "operationId": "deleteBinInventoryRecord",
        "summary": "Delete Bin Inventory Record"
      },
      "get": {
        "parameters": [
          {
            "description": "Bin inventory record ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bininventoryrecordmodels.BinInventoryRecordListItem"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "description": "Get bin inventory records",
        "operationId": "getBinInventoryRecordById",
        "summary": "Get bin inventory records"
      },
      "put": {
        "parameters": [
          {
            "description": "bin inventory record ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bininventoryrecordmodels.UpdateBinInventoryRecord"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin Inventory Record"
        ],
        "description": "The `referenceType` can be one of the following: `SALES_DOCUMENT`, `PURCHASE_DOCUMENT`, `INVENTORY_REGISTRATION`, `INVENTORY_WRITE_OFF`, `INVENTORY_TRANSFER`, `ASSIGNMENT`.\nIf you add `referenceType`, then `referenceId` parameter is a mandatory field. Or, if you add `referenceId`, then `referenceType` parameter is a mandatory field.\nNB: The following fields cannot be updated: `ID`, `BinID`, `ProductID`, `BatchID`, `Amount`.",
        "operationId": "updateBinInventoryRecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bininventoryrecordmodels.UpdateBinInventoryRecord"
              }
            }
          },
          "description": "JSON object",
          "required": true
        },
        "summary": "Update bin inventory record"
      }
    },
    "/v1/bin/bulk": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/models.OperationStatusWithID"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Bulk bin add",
        "operationId": "bulkAddBin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/binmodels.TBin"
                },
                "type": "array"
              }
            }
          },
          "description": "Bin",
          "required": true
        },
        "summary": "Bulk bin add"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/models.OperationStatusWithID"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Bulk bin update",
        "operationId": "bulkUpdateBin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/binmodels.BinBulkUpdate"
                },
                "type": "array"
              }
            }
          },
          "description": "Bin",
          "required": true
        },
        "summary": "Bulk bin update"
      }
    },
    "/v1/bin/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Bin Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/binmodels.BinID"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Delete Bin by Id",
        "operationId": "deleteBin",
        "summary": "Delete Bin"
      },
      "get": {
        "parameters": [
          {
            "description": "Bin Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/binmodels.TBin"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Get Bin by Id",
        "operationId": "getBinById",
        "summary": "Get Bin"
      },
      "put": {
        "parameters": [
          {
            "description": "Bin Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/binmodels.TBin"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Bin"
        ],
        "description": "Update Bin",
        "operationId": "updateBin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/binmodels.BinUpdate"
              }
            }
          },
          "description": "Bin",
          "required": true
        },
        "summary": "Update Bin"
      }
    },
    "/v1/stocktaking": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "binId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "finished",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "userId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "warehouseId",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/stocktakingmodels.TStocktaking"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Stocktaking"
        ],
        "description": "Get list of Stocktaking",
        "operationId": "getStocktakingList",
        "summary": "Get list of Stocktaking"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stocktakingmodels.TStocktaking"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Stocktaking"
        ],
        "description": "Create stocktaking",
        "operationId": "addStocktaking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stocktakingmodels.StocktakingCreate"
              }
            }
          },
          "description": "Stocktaking",
          "required": true
        },
        "summary": "Create stocktaking"
      }
    },
    "/v1/stocktaking/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Stocktaking Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.OperationInfo"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Stocktaking"
        ],
        "description": "Delete Stocktaking by Id",
        "operationId": "deleteStocktaking",
        "summary": "Delete Stocktaking"
      },
      "get": {
        "parameters": [
          {
            "description": "Stocktaking Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stocktakingmodels.TStocktaking"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Stocktaking"
        ],
        "description": "Get Stocktaking by Id",
        "operationId": "getStocktakingById",
        "summary": "Get Stocktaking"
      },
      "put": {
        "parameters": [
          {
            "description": "Bin Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stocktakingmodels.TStocktaking"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "Stocktaking"
        ],
        "description": "Update Stocktaking",
        "operationId": "updateStocktaking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stocktakingmodels.StocktakingUpdate"
              }
            }
          },
          "description": "Stocktaking",
          "required": true
        },
        "summary": "Update Stocktaking"
      }
    },
    "/v1/stocktaking/{id}/stocktaking-record": {
      "get": {
        "parameters": [
          {
            "description": "Stocktaking ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Batch ID",
            "in": "query",
            "name": "batchId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Product ID",
            "in": "query",
            "name": "productId",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/stocktakingrecordmodels.TStocktakingRecord"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "StocktakingRecord"
        ],
        "description": "Get list of Stocktaking",
        "operationId": "getStocktakingRecordList",
        "summary": "Get list of Stocktaking"
      },
      "put": {
        "parameters": [
          {
            "description": "Stocktaking Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stocktakingrecordmodels.TStocktakingRecord"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cerrors.ErrorResp"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "ErplySession": []
          },
          {
            "ErplyClientCode": []
          }
        ],
        "tags": [
          "StocktakingRecord"
        ],
        "description": "Update Stocktaking",
        "operationId": "updateStocktakingRecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stocktakingrecordmodels.StocktakingRecordUpdate"
              }
            }
          },
          "description": "StocktakingRecord",
          "required": true
        },
        "summary": "Update Stocktaking"
      }
    }
  },
  "components": {
    "schemas": {
      "analyticsmodels.BinInventorySummary": {
        "properties": {
          "averageProcessDuration": {
            "type": "integer"
          },
          "closeTimestamp": {
            "type": "integer"
          },
          "openTimestamp": {
            "type": "integer"
          },
          "processDuration": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "summary": {
            "items": {
              "$ref": "#/components/schemas/analyticsmodels.BinInventorySummaryItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "analyticsmodels.BinInventorySummaryItem": {
        "properties": {
          "duration": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "eventType": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "referenceRecordId": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "analyticsmodels.BinReplacementEfficiency": {
        "properties": {
          "averageReplaceTime": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "productId": {
            "type": "integer"
          },
          "replacedQuantity": {
            "type": "string"
          },
          "totalReplaceTime": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "analyticsmodels.CreateBinInventoryEvent": {
        "properties": {
          "binInventoryRecordId": {
            "type": "integer"
          },
          "documentId": {
            "type": "integer"
          },
          "documentType": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "analyticsmodels.InboundEfficiency": {
        "properties": {
          "binCode": {
            "type": "string"
          },
          "documentId": {
            "type": "integer"
          },
          "documentType": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "openTimestamp": {
            "type": "integer"
          },
          "orderPickingTotalTime": {
            "type": "integer"
          },
          "pickTimestamp": {
            "type": "integer"
          },
          "pickedQuantity": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "analyticsmodels.PickingEfficiency": {
        "properties": {
          "binCode": {
            "type": "string"
          },
          "documentId": {
            "type": "integer"
          },
          "documentType": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "openTimestamp": {
            "type": "integer"
          },
          "orderPickingTotalTime": {
            "type": "integer"
          },
          "pickTimestamp": {
            "type": "integer"
          },
          "pickedQuantity": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "analyticsmodels.ProductPickingEfficiency": {
        "properties": {
          "averagePickingTime": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "productGroupId": {
            "type": "integer"
          },
          "productId": {
            "type": "integer"
          },
          "totalPickingTime": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "analyticsmodels.TBinInventoryEvent": {
        "properties": {
          "documentId": {
            "type": "integer"
          },
          "documentType": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "eventDuration": {
            "type": "integer"
          },
          "eventType": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "referenceRecordId": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "batchmodels.BatchCreate": {
        "properties": {
          "batchCodes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "expiryDate": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "batchmodels.BatchUpdate": {
        "properties": {
          "batchCodes": {
            "items": {
              "$ref": "#/components/schemas/batchmodels.TBinInventoryBatchCode"
            },
            "type": "array"
          },
          "expiryDate": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "batchmodels.TBinInventoryBatch": {
        "properties": {
          "added": {
            "type": "integer"
          },
          "addedById": {
            "type": "integer"
          },
          "batchCodes": {
            "items": {
              "$ref": "#/components/schemas/batchmodels.TBinInventoryBatchCode"
            },
            "type": "array"
          },
          "changed": {
            "type": "integer"
          },
          "changedById": {
            "type": "integer"
          },
          "expiryDate": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "productId": {
            "type": "integer"
          },
          "quantity": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "batchmodels.TBinInventoryBatchCode": {
        "properties": {
          "batchId": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bininventorymodels.LBinInventoryRes": {
        "properties": {
          "added": {
            "type": "integer"
          },
          "addedBy": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "binCode": {
            "type": "string"
          },
          "binId": {
            "type": "integer"
          },
          "changed": {
            "type": "integer"
          },
          "changedBy": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "preferred": {
            "type": "boolean"
          },
          "productCode1": {
            "type": "string"
          },
          "productCode2": {
            "type": "string"
          },
          "productCode3": {
            "type": "string"
          },
          "productCode4": {
            "type": "string"
          },
          "productCode5": {
            "type": "string"
          },
          "productCode6": {
            "type": "string"
          },
          "productCode7": {
            "type": "string"
          },
          "productCode8": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          },
          "quantitiesBySerial": {
            "items": {
              "$ref": "#/components/schemas/bininventoryrecordmodels.SerialQuantity"
            },
            "type": "array"
          },
          "quantitiesInBatches": {
            "items": {
              "$ref": "#/components/schemas/bininventoryrecordmodels.BatchQuantity"
            },
            "type": "array"
          },
          "quantitiesInLots": {
            "items": {
              "$ref": "#/components/schemas/lotmodels.LotQuantity"
            },
            "type": "array"
          },
          "warehouseId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bininventoryrecordmodels.BatchQuantity": {
        "properties": {
          "batchId": {
            "type": "integer"
          },
          "quantity": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "bininventoryrecordmodels.BinInventoryRecordBulkDelete": {
        "properties": {
          "id": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bininventoryrecordmodels.BinInventoryRecordListItem": {
        "properties": {
          "added": {
            "type": "integer"
          },
          "addedBy": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "batchId": {
            "type": "integer"
          },
          "binCode": {
            "type": "string"
          },
          "binId": {
            "type": "integer"
          },
          "bundleId": {
            "type": "integer"
          },
          "bundleName": {
            "type": "string"
          },
          "changed": {
            "type": "integer"
          },
          "changedBy": {
            "type": "string"
          },
          "customName": {
            "type": "string"
          },
          "documentRowId": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "orgperIdDat": {
            "type": "integer"
          },
          "packageId": {
            "type": "integer"
          },
          "prodAmortTypeId": {
            "type": "integer"
          },
          "productCode": {
            "type": "string"
          },
          "productCode2": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          },
          "recordTime": {
            "type": "integer"
          },
          "referenceId": {
            "type": "integer"
          },
          "referenceType": {
            "type": "string"
          },
          "returnReasonID": {
            "type": "integer"
          },
          "serialNo": {
            "type": "string"
          },
          "warehouseId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bininventoryrecordmodels.CreateBinInventoryRecord": {
        "properties": {
          "amount": {
            "type": "number"
          },
          "batchId": {
            "type": "integer"
          },
          "binCode": {
            "type": "string"
          },
          "binId": {
            "type": "integer"
          },
          "bundleId": {
            "type": "integer"
          },
          "bundleName": {
            "type": "string"
          },
          "customName": {
            "type": "string"
          },
          "documentRowId": {
            "type": "integer"
          },
          "lotId": {
            "type": "integer"
          },
          "orgperIdDat": {
            "type": "integer"
          },
          "packageId": {
            "type": "integer"
          },
          "prodAmortTypeId": {
            "type": "integer"
          },
          "productCode": {
            "type": "string"
          },
          "productCode2": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          },
          "recordTime": {
            "type": "integer"
          },
          "referenceId": {
            "type": "integer"
          },
          "referenceType": {
            "type": "string"
          },
          "returnReasonID": {
            "type": "integer"
          },
          "serialNo": {
            "type": "string"
          },
          "warehouseId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bininventoryrecordmodels.SerialQuantity": {
        "properties": {
          "quantity": {
            "type": "number"
          },
          "serialNumber": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "bininventoryrecordmodels.UpdateBinInventoryRecord": {
        "properties": {
          "batchId": {
            "type": "integer"
          },
          "binCode": {
            "type": "string"
          },
          "binId": {
            "type": "integer"
          },
          "bundleId": {
            "type": "integer"
          },
          "bundleName": {
            "type": "string"
          },
          "customName": {
            "type": "string"
          },
          "documentRowId": {
            "type": "integer"
          },
          "orgperIdDat": {
            "type": "integer"
          },
          "packageId": {
            "type": "integer"
          },
          "prodAmortTypeId": {
            "type": "integer"
          },
          "productCode": {
            "type": "string"
          },
          "productCode2": {
            "type": "string"
          },
          "productId": {
            "type": "integer"
          },
          "recordTime": {
            "description": "Amount          null.Float  `swaggertype:\"number\"  json:\"amount\"`",
            "type": "integer"
          },
          "referenceId": {
            "type": "integer"
          },
          "referenceType": {
            "type": "string"
          },
          "returnReasonID": {
            "type": "integer"
          },
          "serialNo": {
            "type": "string"
          },
          "warehouseId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "binmodels.BinBulkUpdate": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "aisle": {
            "type": "string"
          },
          "allowedProduct": {
            "type": "string"
          },
          "binOrder": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "equipmentNeeded": {
            "type": "string"
          },
          "height": {
            "type": "number"
          },
          "id": {
            "type": "integer"
          },
          "length": {
            "type": "number"
          },
          "loadCapacity": {
            "type": "number"
          },
          "maximumAmount": {
            "type": "number"
          },
          "preferred": {
            "type": "boolean"
          },
          "replenishmentMinimum": {
            "type": "number"
          },
          "warehouseId": {
            "type": "integer"
          },
          "width": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "binmodels.BinID": {
        "properties": {
          "id": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "binmodels.BinUpdate": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "aisle": {
            "type": "string"
          },
          "allowedProduct": {
            "type": "string"
          },
          "binOrder": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "equipmentNeeded": {
            "type": "string"
          },
          "height": {
            "type": "number"
          },
          "length": {
            "type": "number"
          },
          "loadCapacity": {
            "type": "number"
          },
          "maximumAmount": {
            "type": "number"
          },
          "preferred": {
            "type": "boolean"
          },
          "replenishmentMinimum": {
            "type": "number"
          },
          "warehouseId": {
            "type": "integer"
          },
          "width": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "binmodels.TBin": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "aisle": {
            "type": "string"
          },
          "allowedProduct": {
            "type": "string"
          },
          "binOrder": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "equipmentNeeded": {
            "type": "string"
          },
          "height": {
            "type": "number"
          },
          "id": {
            "type": "integer"
          },
          "length": {
            "type": "number"
          },
          "loadCapacity": {
            "type": "number"
          },
          "maximumAmount": {
            "type": "number"
          },
          "preferred": {
            "type": "boolean"
          },
          "replenishmentMinimum": {
            "type": "number"
          },
          "warehouseId": {
            "type": "integer"
          },
          "width": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "cerrors.ErrorResp": {
        "properties": {
          "action": {
            "description": "HTTP status code",
            "type": "string"
          },
          "error": {
            "description": "Human readable message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "lotmodels.LotQuantity": {
        "properties": {
          "lotId": {
            "type": "integer"
          },
          "quantity": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "models.OperationInfo": {
        "properties": {
          "id": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "models.OperationStatusWithID": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "statusCode": {
            "description": "Operation Status code - equivalent to http 2xx codes series",
            "type": "integer"
          },
          "statusMessage": {
            "description": "Operation status message if exist",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stocktakingmodels.StocktakingCreate": {
        "properties": {
          "binId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stocktakingmodels.StocktakingUpdate": {
        "properties": {
          "finished": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "stocktakingmodels.TStocktaking": {
        "properties": {
          "added": {
            "type": "integer"
          },
          "addedById": {
            "type": "integer"
          },
          "binId": {
            "type": "integer"
          },
          "changed": {
            "type": "integer"
          },
          "changedById": {
            "type": "integer"
          },
          "finished": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "stocktakingRecords": {
            "items": {
              "$ref": "#/components/schemas/stocktakingrecordmodels.TStocktakingRecord"
            },
            "type": "array"
          },
          "warehouseId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stocktakingrecordmodels.StocktakingRecordUpdate": {
        "properties": {
          "batchId": {
            "type": "integer"
          },
          "countedQuantity": {
            "type": "number"
          },
          "productId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stocktakingrecordmodels.TStocktakingRecord": {
        "properties": {
          "added": {
            "type": "integer"
          },
          "addedById": {
            "type": "integer"
          },
          "batchId": {
            "type": "integer"
          },
          "changed": {
            "type": "integer"
          },
          "changedById": {
[...]
