{
  "openapi": "3.0.3",
  "info": {
    "description": "Simple API documentation for Zapier",
    "version": "1.0.0",
    "title": "Beetribe - Zapier API documentation",
    "contact": {
      "email": "beekeeper@beetribe.io"
    },
    "x-jentic-source-url": "https://app.swaggerhub.com/apis-docs/BEEKEEPER_1/BeeTribe/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.beetribe.io"
    }
  ],
  "paths": {
    "/zapier-auth": {
      "post": {
        "tags": [
          "Zapier"
        ],
        "summary": "Authentication to BeeTribe.io for zapier",
        "operationId": "login",
        "description": "Authentication to BeeTribe.io for Zapier\n",
        "requestBody": {
          "description": "Authentication Token",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/AuthRes"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/AuthRes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zapier-getqueens": {
      "get": {
        "tags": [
          "Zapier"
        ],
        "summary": "Get Queens in BeeTribe for Zapier",
        "operationId": "getqueens",
        "description": "Get Queens in BeeTribe for Zapier\n",
        "responses": {
          "200": {
            "description": "Hives Array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chat"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/master-endpoint": {
      "post": {
        "tags": [
          "BeeTribe"
        ],
        "summary": "Revoke or Send access to group(s) ou channel(s)",
        "operationId": "queenAccess",
        "description": "Send or Revoke hive access\n",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "Send membership or kick action",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "inviteBees",
                "kickBee"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "user to control",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueenAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation success message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Auth": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "format": "token",
            "example": "abcdefghijklmnopqrstuvwxyz123"
          }
        }
      },
      "AuthRes": {
        "type": "object",
        "properties": {
          "auth": {
            "type": "boolean"
          }
        }
      },
      "Chat": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "QueenAction": {
        "description": "chain telegram",
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "chats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Message": {
        "description": "return on kick or invite",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "requestBodies": {
      "Auth": {
        "description": "Authentication body to send",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Auth"
            }
          }
        }
      },
      "QueenAction": {
        "description": "id of chats",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/components/schemas/QueenAction"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "X-TOKEN",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Zapier",
      "description": "Endpoint for zapier to auth and trigger to get data for dropdown"
    },
    {
      "name": "BeeTribe",
      "description": "Operations available to regular developers"
    }
  ]
}