{
  "openapi": "3.0.3",
  "info": {
    "title": "Actionstep API",
    "description": "Actionstep practice management platform API. Combined from individual endpoint specifications.",
    "version": "1.0",
    "x-jentic-source-url": "https://docs.actionstep.com/endpoint-resources/"
  },
  "servers": [
    {
      "url": "https://api.actionstep.com/api/rest"
    }
  ],
  "paths": {
    "/actionbillsettings": {
      "get": {
        "description": "Returns a summary of bill settings for all matters.",
        "tags": [
          "Action Bill Settings"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActionBillSettings"
                }
              }
            }
          }
        }
      }
    },
    "/actionbillsettings/{id}": {
      "get": {
        "description": "Returns a summary of bill settings for an individual matter.",
        "tags": [
          "Action Bill Settings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a matter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1930
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionBillSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates the bill settings for a single matter.",
        "tags": [
          "Action Bill Settings"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateActionBillSettings"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a matter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1930
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionBillSettings"
                }
              }
            }
          }
        }
      }
    },
    "/actionfolders": {
      "get": {
        "description": "Returns the collection of all folders for all Matters. For information on how to construct requests filtering by various properties, please refer to the API Developer Portal.",
        "tags": [
          "Action Folders"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActionFolders"
                }
              }
            }
          }
        }
      }
    },
    "/actionfolders/{id}": {
      "get": {
        "description": "Returns a single Matter folder.",
        "tags": [
          "Action Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a Matter folder.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1050
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionFolder"
                }
              }
            }
          }
        }
      }
    },
    "/actionnetdocssettings": {
      "get": {
        "description": "Returns the collection of NetDocuments Settings for all matters.",
        "tags": [
          "Action NetDocuments Settings"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActionNetdocumentsSettings"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new NetDocuments settings record.",
        "tags": [
          "Action NetDocuments Settings"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateActionNetDocumentsSettings"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNetDocumentsSettings"
                }
              }
            }
          }
        }
      }
    },
    "/actionnetdocssettings/{id}": {
      "get": {
        "description": "Returns a single NetDocuments settings record.",
        "tags": [
          "Action NetDocuments Settings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single NetDocuments settings record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 568
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNetDocumentsSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single NetDocuments settings record.",
        "tags": [
          "Action NetDocuments Settings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single NetDocuments settings record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 568
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateActionNetDocumentsSettings"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNetDocumentsSettings"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single NetDocuments settings record.",
        "tags": [
          "Action NetDocuments Settings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single NetDocuments settings record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 568
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/actionparticipants": {
      "get": {
        "description": "Returns a collection of Matter participants. For information on how to construct requests filtering by various properties, please refer to the API Developer Portal.",
        "tags": [
          "Action Participants"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActionParticipants"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new Matter participant.",
        "tags": [
          "Action Participants"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateActionParticipants"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionParticipants"
                }
              }
            }
          }
        }
      }
    },
    "/actionparticipants/{id}": {
      "get": {
        "description": "Returns a single Matter participant.",
        "tags": [
          "Action Participants"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a Matter Participant. The identifier is a composite value composed from the Matter identifier, the participant type identifier, and the participant identifier, separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1024--31--11"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionParticipants"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Removes a participant from a Matter.",
        "tags": [
          "Action Participants"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for an Matter participant. The identifier is a composite value composed from the Matter identifier, the participant type identifier, and the participant identifier, separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1024--31--11"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No content."
          }
        }
      }
    },
    "/actions": {
      "get": {
        "description": "Returns a collection of Matters. For information on how to construct requests filtering by various properties on a Matter please refer to the API Developer Portal.",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActions"
                }
              }
            }
          }
        }
      }
    },
    "/actions/{id}": {
      "get": {
        "description": "Returns a single Matter.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a Matter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 113
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update the properties of a Matter.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a Matter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 113
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAction"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          }
        }
      }
    },
    "/actiontypeparticipanttypes": {
      "get": {
        "description": "Returns the collection of all participant types for all matter types.",
        "tags": [
          "Action Type Participant Types"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActionTypeParticipantTypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Add an existing participant type to an existing matter type.",
        "tags": [
          "Action Type Participant Types"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateActionTypeParticipantType"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateActionTypeParticipantType"
                }
              }
            }
          }
        }
      }
    },
    "/actiontypeparticipanttypes/{id}": {
      "get": {
        "description": "Returns a single matter type participant type record.",
        "tags": [
          "Action Type Participant Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single record. The identifier is composed from the matter type identifier and the participant type identifier separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "14--54"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionTypeParticipantType"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single matter type participant type record.",
        "tags": [
          "Action Type Participant Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single record. The identifier is composed from the matter type identifier and the participant type identifier separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "14--54"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateActionTypeParticipantType"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionTypeParticipantType"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single matter type participant type record.",
        "tags": [
          "Action Type Participant Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single record. The identifier is composed from the matter type identifier and the participant type identifier separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "14--54"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/actiontypes": {
      "get": {
        "description": "Returns a collection of Matter types. For information on how to construct requests filtering by various properties on a Matter type please refer to the API Developer Portal.",
        "tags": [
          "ActionTypes"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActionTypes"
                }
              }
            }
          }
        }
      }
    },
    "/bills": {
      "get": {
        "description": "Returns a collection of bills (invoices). For information on how to construct requests filtering by various properties, please refer to the API Developer Portal.",
        "tags": [
          "Bills"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedBills"
                }
              }
            }
          }
        }
      }
    },
    "/contactdocuments": {
      "get": {
        "description": "Returns the collection of all contact documents.",
        "tags": [
          "Contact Documents"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedContactDocuments"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new contact document.",
        "tags": [
          "Contact Documents"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateContactDocument"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDocument"
                }
              }
            }
          }
        }
      }
    },
    "/contactdocuments/{id}": {
      "get": {
        "description": "Returns a single contact document.",
        "tags": [
          "Contact Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact document.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 568
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDocument"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single contact document.",
        "tags": [
          "Contact Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact document.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 568
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateContactDocument"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDocument"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single contact document",
        "tags": [
          "Contact Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact document.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 568
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/contactfolders": {
      "get": {
        "description": "Returns the collection of all contact folders.",
        "tags": [
          "Contact Folders"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedContactFolders"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new contact folder.",
        "tags": [
          "Contact Folders"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateContactFolder"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFolder"
                }
              }
            }
          }
        }
      }
    },
    "/contactfolders/{id}": {
      "get": {
        "description": "Returns a single contact folder record.",
        "tags": [
          "Contact Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact folder record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 7384
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFolder"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single folder.",
        "tags": [
          "Contact Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact folder record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 7384
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateContactFolder"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFolder"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single contact folder record.",
        "tags": [
          "Contact Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact folder record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 7384
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/contactnotes": {
      "get": {
        "description": "Returns a collection of contact notes.",
        "tags": [
          "Contact Notes"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedContactNotes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new contact note.",
        "tags": [
          "Contact Notes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateContactNote"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      }
    },
    "/contactnotes/{id}": {
      "get": {
        "description": "Returns a single contact note.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a contact note.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 9287
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a contact note.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a contact note.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateContactNote"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a contact note.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a contact note.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/contactrelationships": {
      "get": {
        "description": "Returns the collection of all contact relationships.",
        "tags": [
          "Contact Relationships"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedContactRelationships"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new contact relationship.",
        "tags": [
          "Contact Relationships"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateContactRelationship"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactRelationship"
                }
              }
            }
          }
        }
      }
    },
    "/contactrelationships/{id}": {
      "get": {
        "description": "Returns a single contact relationship record.",
        "tags": [
          "Contact Relationships"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact relationship record. The identifier is composed from the relationship, fromContact, and toContact properties separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "Father-41854-845258"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRelationship"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single contact relationship record.",
        "tags": [
          "Contact Relationships"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single contact relationship record. The identifier is composed from the relationship, fromContact, and toContact properties separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "Father-41854-845258"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/culturalidentity": {
      "get": {
        "description": "Returns the list of available cultural identity values.",
        "tags": [
          "Cultural Identity"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCulturalIdentity"
                }
              }
            }
          }
        }
      }
    },
    "/datacollectionfielddropdownchoices": {
      "get": {
        "description": "Returns the collection of all data collection field dropdown choice records.",
        "tags": [
          "Data Collection Field Dropdown Choices"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDataCollectionFieldDropdownChoices"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new data collection field dropdown choice record.",
        "tags": [
          "Data Collection Field Dropdown Choices"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDataCollectionFieldDropdownChoiceRecord"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionFieldDropdownChoiceRecord"
                }
              }
            }
          }
        }
      }
    },
    "/datacollectionfielddropdownchoices/{id}": {
      "get": {
        "description": "Returns a single data collection field dropdown choice record.",
        "tags": [
          "Data Collection Field Dropdown Choices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single data collection field dropdown choice record. Note the unique identifier is a composite primary key comprising of the data collection identifier, the data field name, and the name associated with the dropdown choice, delimited by '--'.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "230--CarColor--Red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionFieldDropdownChoiceRecord"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single data collection field dropdown choice record.",
        "tags": [
          "Data Collection Field Dropdown Choices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single data collection field dropdown choice record. Note the unique identifier is a composite primary key comprising of the data collection identifier, the data field name, and the name associated with the dropdown choice, delimited by '--'.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "230--CarColor--Red"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDataCollectionFieldDropdownChoiceRecord"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionFieldDropdownChoiceRecord"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single data collection field dropdown choice record.",
        "tags": [
          "Data Collection Field Dropdown Choices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single data collection field dropdown choice record. Note the unique identifier is a composite primary key comprising of the data collection identifier, the data field name, and the name associated with the dropdown choice, delimited by '--'.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "230--CarColor--Red"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/datacollectionfields": {
      "get": {
        "description": "Returns a collection of data collection fields.",
        "tags": [
          "Data Collection Fields"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDataCollectionFields"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new data collection field.",
        "tags": [
          "Data Collection Fields"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDataCollectionField"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionField"
                }
              }
            }
          }
        }
      }
    },
    "/datacollectionfield/{id}": {
      "get": {
        "description": "Returns a single data collection field.",
        "tags": [
          "Data Collection Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection field. Please note this is a composite identifier composed from the data collection unique identifier and the data field name separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "100--ContractDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionField"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a data collection field.",
        "tags": [
          "Data Collection Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection field. Please note this is a composite identifier composed from the data collection unique identifier and the data field name separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "100--ContractDate"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDataCollectionField"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionField"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a data collection field.",
        "tags": [
          "Data Collection Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection field. Please note this is a composite identifier composed from the data collection unique identifier and the data field name separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "100--ContractDate"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/datacollectionrecords": {
      "get": {
        "description": "Returns a collection of data collection records.",
        "tags": [
          "Data Collection Records"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDataCollectionRecords"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new data collection record.",
        "tags": [
          "Data Collection Records"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDataCollectionRecord"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionRecord"
                }
              }
            }
          }
        }
      }
    },
    "/datacollectionrecords/{id}": {
      "get": {
        "description": "Returns a single data collection record.",
        "tags": [
          "Data Collection Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 380
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionRecord"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a data collection record.",
        "tags": [
          "Data Collection Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/datacollectionrecordvalues": {
      "get": {
        "description": "Returns a collection of data collection record values.",
        "tags": [
          "Data Collection Record Values"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDataCollectionRecordValues"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new data collection record value.",
        "tags": [
          "Data Collection Record Values"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDataCollectionRecordValue"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionRecordValue"
                }
              }
            }
          }
        }
      }
    },
    "/datacollectionrecordvalues/{id}": {
      "get": {
        "description": "Returns a single data collection record value.",
        "tags": [
          "Data Collection Record Values"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection record value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 380
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionRecordValue"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a data collection record value.",
        "tags": [
          "Data Collection Record Values"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection record value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDataCollectionRecordValue"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollectionRecordValue"
                }
              }
            }
          }
        }
      }
    },
    "/datacollections": {
      "get": {
        "description": "Returns a collection of data collections.",
        "tags": [
          "Data Collections"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDataCollections"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new data collection.",
        "tags": [
          "Data Collections"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDataCollection"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollection"
                }
              }
            }
          }
        }
      }
    },
    "/datacollection/{id}": {
      "get": {
        "description": "Returns a single data collection.",
        "tags": [
          "Data Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 380
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollection"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a data collection.",
        "tags": [
          "Data Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDataCollection"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCollection"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a data collection.",
        "tags": [
          "Data Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a data collection.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/disabilitystatus": {
      "get": {
        "description": "Returns the list of available disability status values.",
        "tags": [
          "Disability Status"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDisabilityStatus"
                }
              }
            }
          }
        }
      }
    },
    "/disbursements": {
      "get": {
        "description": "Returns a collection of disbursements. For information on how to construct requests filtering by various properties, please refer to the API Developer Portal.",
        "tags": [
          "Disbursements"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDisbursements"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new disbursement.",
        "tags": [
          "Disbursements"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDisbursement"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          }
        }
      }
    },
    "/disbursements/{id}": {
      "get": {
        "description": "Returns a single disbursement.",
        "tags": [
          "Disbursements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a disbursement.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 7630
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a disbursement",
        "tags": [
          "Disbursements"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDisbursement"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a disbursement.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 7630
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a disbursement.",
        "tags": [
          "Disbursements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a disbursement.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 7630
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/filenotes": {
      "get": {
        "description": "Returns a collection of file notes.",
        "tags": [
          "File Notes"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedFileNotes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new file note.",
        "tags": [
          "File Notes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateFileNote"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileNote"
                }
              }
            }
          }
        }
      }
    },
    "/filenotes/{id}": {
      "get": {
        "description": "Returns a single file note.",
        "tags": [
          "File Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a file note.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 9287
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileNote"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a file note.",
        "tags": [
          "File Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a file note.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateFileNote"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileNote"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a file note.",
        "tags": [
          "File Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a file note.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/gendertypes": {
      "get": {
        "description": "Returns a list of custom gender types.",
        "tags": [
          "Gender Types"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedGenderTypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new custom gender type.",
        "tags": [
          "Gender Types"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateGenderType"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenderType"
                }
              }
            }
          }
        }
      }
    },
    "/gendertypes/{genderTypeName}": {
      "get": {
        "description": "Returns a single custom gender type.",
        "tags": [
          "Gender Types"
        ],
        "parameters": [
          {
            "name": "genderTypeName",
            "in": "path",
            "description": "Name of the custom gender type.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Transgender"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenderType"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a single custom gender type.",
        "tags": [
          "Gender Types"
        ],
        "parameters": [
          {
            "name": "genderTypeName",
            "in": "path",
            "description": "Name of the custom gender type.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Transgender"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateGenderType"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenderType"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a custom gender type. Please note - you cannot delete a custom gender type if it is already assigned to an existing participant record.",
        "tags": [
          "Gender Types"
        ],
        "parameters": [
          {
            "name": "genderTypeName",
            "in": "path",
            "description": "Name of the custom gender type.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Transgender"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No content."
          }
        }
      }
    },
    "/participantadditionalnotificationmethods": {
      "get": {
        "description": "Returns a list of all Participant Additional Notification Methods.",
        "tags": [
          "Participant Additional Notification Methods"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/participantadditionalnotificationmethods"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new Participant Additional Notification Method.",
        "tags": [
          "Participant Additional Notification Methods"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateParticipantAdditionalNotificationMethod"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantAdditionalNotificationMethod"
                }
              }
            }
          }
        }
      }
    },
    "/participantadditionalnotificationmethods/{id}": {
      "get": {
        "description": "Returns a single Participant Additional Notification Method.",
        "tags": [
          "Participant Additional Notification Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Participant Additional Notification Method.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 5410
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantAdditionalNotificationMethod"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single Participant Additional Notification Method record.",
        "tags": [
          "Participant Additional Notification Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single Participant Additional Notification Method record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 1176
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateParticipantAdditionalNotificationMethod"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantAdditionalNotificationMethod"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single Participant Additional Notification Method record.",
        "tags": [
          "Participant Additional Notification Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Participant Additional Notification Method record.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 5410
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No content."
          }
        }
      }
    },
    "/participantdatafielddropdownchoices": {
      "get": {
        "description": "Returns a list of Participant Data Field Dropdown Choices.",
        "tags": [
          "Participant Data Field Dropdown Choices"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantDataFieldDropdownChoices"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new participant data field dropdown choice.",
        "tags": [
          "Participant Data Field Dropdown Choices"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateParticipantDataFieldDropdownChoice"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantDataFieldDropdownChoice"
                }
              }
            }
          }
        }
      }
    },
    "/participantdatafielddropdownchoices/{id}": {
      "get": {
        "description": "Returns a single participant data field dropdown choice.",
        "tags": [
          "Participant Data Field Dropdown Choices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the participant data field dropdown choice. This is a composite key composed from the participant data field identifier and the choice item's name, separated by '--'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "637--Colour"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantDataFieldDropdownChoice"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a single participant data field dropdown choice.",
        "tags": [
          "Participant Data Field Dropdown Choices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the participant data field dropdown choice. This is a composite key composed from the participant data field identifier and the choice item's name, separated by '--'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "637--Colour"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateParticipantDataFieldDropdownChoice"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantDataFieldDropdownChoice"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single participant data field dropdown choice.",
        "tags": [
          "Participant Data Field Dropdown Choices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the participant data field dropdown choice. This is a composite key composed from the participant data field identifier and the choice item's name, separated by '--'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "637--Colour"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No content."
          }
        }
      }
    },
    "/participantdefaulttypes": {
      "get": {
        "description": "Returns a list of participant default types for each Contact.",
        "tags": [
          "Participant Default Types"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedParticipantDefaultTypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Add an existing participant default type to an existing Contact.",
        "tags": [
          "Participant Default Types"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AddParticipantDefaultType"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantDefaultType"
                }
              }
            }
          }
        }
      }
    },
    "/participantdefaulttypes/{id}": {
      "delete": {
        "description": "Removes a participant default type from a Contact.",
        "tags": [
          "Participant Default Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a participant default type. The identifier is a composite value composed from the participant (contact) identifier and the participant type identifier, separated by \"--\".",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1024--31"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No content."
          }
        }
      }
    },
    "/participantrelationshiptypes": {
      "get": {
        "description": "Returns a list of all Participant Relationship Types.",
        "tags": [
          "Participant Relationship Types"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/participantrelationshiptypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new participant relationship type.",
        "tags": [
          "Participant Relationship Types"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateParticipantRelationshipType"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantRelationshipType"
                }
              }
            }
          }
        }
      }
    },
    "/participantrelationshiptypes/{id}": {
      "get": {
        "description": "Returns a single participant relationship type.",
        "tags": [
          "Participant Relationship Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the participant relationship type. This is a composite key composed from the category and relationship properties, separated by '--'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "IndividualToIndividual--Acquaintance"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantRelationshipType"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single participant relationship type.",
        "tags": [
          "Participant Relationship Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the participant relationship type. This is a composite key composed from the category and relationship properties, separated by '--'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "IndividualToIndividual--Acquaintance"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No content."
          }
        }
      }
    },
    "/participants": {
      "get": {
        "description": "Returns a collection of participants. For information on how to construct requests filtering by various properties, please refer to the API Developer Portal.",
        "tags": [
          "Participants"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedParticipants"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new participant.",
        "tags": [
          "Participants"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateParticipant"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                }
              }
            }
          }
        }
      }
    },
    "/participants/{id}": {
      "get": {
        "description": "Returns a single participant.",
        "tags": [
          "Participants"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a Participant.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 7630
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a participant",
        "tags": [
          "Participants"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateParticipant"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a participant.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 7630
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                }
              }
            }
          }
        }
      }
    },
    "/participanttypedatafields": {
      "get": {
        "description": "Returns the collection of all participant type data fields.",
        "tags": [
          "Participant Type Data Fields"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedParticipantTypeDataFields"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new participant type data field.",
        "tags": [
          "Participant Type Data Fields"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateParticipantTypeDataField"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantTypeDataField"
                }
              }
            }
          }
        }
      }
    },
    "/participanttypedatafields/{id}": {
      "get": {
        "description": "Returns a single participant type data field record.",
        "tags": [
          "Participant Type Data Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single participant type data field record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 7384
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantTypeDataField"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single participant type data field record.",
        "tags": [
          "Participant Type Data Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single participant type data field record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 7384
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateParticipantTypeDataField"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantTypeDataField"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single participant type data field record.",
        "tags": [
          "Participant Type Data Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single participant type data field record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 7384
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/phonerecords": {
      "get": {
        "description": "Returns the collection of all phone records.",
        "tags": [
          "Phone Records"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedPhoneRecords"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new phone record.",
        "tags": [
          "Phone Records"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreatePhoneRecord"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneRecord"
                }
              }
            }
          }
        }
      }
    },
    "/phonerecords/{id}": {
      "get": {
        "description": "Returns a single phone record.",
        "tags": [
          "Phone Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single phone record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 1176
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneRecord"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single phone record.",
        "tags": [
          "Phone Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single phone record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 1176
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdatePhoneRecord"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneRecord"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single phone record.",
        "tags": [
          "Phone Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single phone record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 1176
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/primarylanguage": {
      "get": {
        "description": "Returns the list of available primary languages.",
        "tags": [
          "Primary Language"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedPrimaryLanguage"
                }
              }
            }
          }
        }
      }
    },
    "/quickcodes": {
      "get": {
        "description": "Returns the collection of all Quick Codes.",
        "tags": [
          "Quick Codes"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedQuickCodes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new Quick Code.",
        "tags": [
          "Quick Codes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateQuickCode"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickCode"
                }
              }
            }
          }
        }
      }
    },
    "/quickcodes/{id}": {
      "get": {
        "description": "Returns a single Quick Code.",
        "tags": [
          "Quick Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single Quick Code.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 300
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickCode"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single Quick Code.",
        "tags": [
          "Quick Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single Quick Code.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "integer"
            },
            "example": 300
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateQuickCode"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickCode"
                }
              }
            }
          }
        }
      }
    },
    "/resthooks": {
      "get": {
        "description": "Returns a collection of REST hooks.",
        "tags": [
          "REST Hooks"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedRESTHooks"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new REST hook.",
        "tags": [
          "REST Hooks"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateRESTHook"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESTHook"
                }
              }
            }
          }
        }
      }
    },
    "/resthooks/{id}": {
      "get": {
        "description": "Returns a single REST hook.",
        "tags": [
          "REST Hooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a REST hook.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 9287
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESTHook"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a REST hook.",
        "tags": [
          "REST Hooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a REST hook.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateRESTHook"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESTHook"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a REST hook.",
        "tags": [
          "REST Hooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a REST hook.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "description": "Returns a collection of tasks",
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTasks"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new task.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateTask"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "description": "Returns a single task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 9287
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateTask"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/timeentries": {
      "get": {
        "description": "Returns a collection of time entries.",
        "tags": [
          "Time Entries"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTimeEntries"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new time entry.",
        "tags": [
          "Time Entries"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateTimeEntry"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          }
        }
      }
    },
    "/timeentries/{id}": {
      "get": {
        "description": "Returns a single time entry.",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a time entry.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 9287
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a time entry.",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a time entry.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateTimeEntry"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a time entry.",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a time entry.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 608
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    },
    "/utbmscodes": {
      "get": {
        "description": "Returns the collection of all UTBMS codes.",
        "tags": [
          "UTBMS Codes"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedUTBMSCodes"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new UTBMS code.",
        "tags": [
          "UTBMS Codes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateUTBMSCode"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UTBMSCode"
                }
              }
            }
          }
        }
      }
    },
    "/utbmscodes/{id}": {
      "get": {
        "description": "Returns a single UTBMS code.",
        "tags": [
          "UTBMS Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single UTBMS code.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "A100"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UTBMSCode"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a single UTBMS code.",
        "tags": [
          "UTBMS Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single UTBMS code.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "A100"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateUTBMSCode"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UTBMSCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single UTBMS code.",
        "tags": [
          "UTBMS Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a single UTBMS code.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "A100"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, No Content."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PagedActionBillSettings": {
        "type": "object",
        "properties": {
          "actionbillsettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionBillSettings"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PageMetaData"
          }
        }
      },
      "PageMetaData": {
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/PagingData"
          }
        }
      },
      "PagingData": {
        "type": "object",
        "properties": {
          "UTBMSCodes": {
            "$ref": "#/components/schemas/UTBMSCodesPageData"
          }
        }
      },
      "ActionBillSettingsPageData": {
        "type": "object",
        "properties": {
          "recordCount": {
            "description": "The total number of matter bill settings returned by the underlying query.",
            "type": "integer",
            "example": 360
          },
          "pageCount": {
            "description": "The total number of pages generated by the underlying query.",
            "type": "integer",
            "example": 8
          },
          "page": {
            "description": "The page number for this page of matter bill settings.",
            "type": "integer",
            "example": 2
          },
          "pageSize": {
            "description": "Page size.",
            "type": "integer",
            "example": 50
          },
          "prevPage": {
            "description": "A URL to the previous page of matter bill settings.",
            "type": "string",
            "example": "https://ap-southeast-2.actionstep.com/api/rest/actionbillsettings?page=1"
          },
          "nextPage": {
            "description": "A URL to the next page of matter bill settings.",
            "type": "string",
            "example": "https://ap-southeast-2.actionstep.com/api/rest/actionbillsettings?page=3"
          }
        }
      },
      "ActionBillSettings": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the matter to which the bill settings are associated.",
            "example": 5850,
            "type": "integer"
          },
          "billType": {
            "description": "Indicates the billing arrangement being applied to the matter.",
            "enum": [
              "Hourly",
              "Fixed fee"
            ],
            "example": "Hourly",
            "type": "string"
          },
          "sendToEmailAddress": {
[...]
