{
  "openapi": "3.0.3",
  "info": {
    "title": "Springer Nature API",
    "description": "Access metadata, abstracts, and full-text content for millions of scientific documents from Springer Nature.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://dev.springernature.com"
  },
  "servers": [
    {
      "url": "https://api.springernature.com",
      "description": "Springer Nature API Server"
    }
  ],
  "paths": {
    "/meta/v2/json": {
      "get": {
        "operationId": "searchMetadata",
        "summary": "Search metadata records",
        "description": "Retrieve versioned metadata for articles, chapters, and protocols matching the search query.",
        "tags": [
          "Meta"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (e.g., keyword:test, doi:10.1007/..., year:2020)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": false,
            "description": "Start position for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful metadata search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/meta/v1/json": {
      "get": {
        "operationId": "searchMetadataV1",
        "summary": "Search metadata records (v1)",
        "description": "Retrieve basic metadata for articles, chapters, and protocols matching the search query.",
        "tags": [
          "Meta"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": false,
            "description": "Start position for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful metadata search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/openaccess/json": {
      "get": {
        "operationId": "searchOpenAccessMetadata",
        "summary": "Search open access metadata",
        "description": "Retrieve metadata for open access articles matching the search query.",
        "tags": [
          "OpenAccess"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (e.g., keyword:test)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": false,
            "description": "Start position for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful open access metadata search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/openaccess/jats": {
      "get": {
        "operationId": "searchOpenAccessFullText",
        "summary": "Search open access full text",
        "description": "Access full-text content in JATS XML format for open access articles and chapters.",
        "tags": [
          "OpenAccess"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": false,
            "description": "Start position for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful full-text search results in JATS XML format",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/xmldata/jats": {
      "get": {
        "operationId": "getFullTextJats",
        "summary": "Get full text in JATS XML",
        "description": "Access full-text content in JATS XML format for articles and chapters based on special agreement.",
        "tags": [
          "FullText"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (e.g., year:2018)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful full-text results in JATS XML format",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key obtained from the Springer Nature Developer Portal"
      }
    },
    "schemas": {
      "MetadataSearchResponse": {
        "type": "object",
        "properties": {
          "apiMessage": {
            "type": "string",
            "description": "API confirmation message"
          },
          "query": {
            "type": "string",
            "description": "Echo of the submitted search query"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultInfo"
            }
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentRecord"
            }
          }
        }
      },
      "ResultInfo": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of matching records"
          },
          "start": {
            "type": "integer",
            "description": "Starting position"
          },
          "pageLength": {
            "type": "integer",
            "description": "Number of results per page"
          },
          "recordsDisplayed": {
            "type": "integer",
            "description": "Count of records returned"
          }
        }
      },
      "DocumentRecord": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the document"
          },
          "doi": {
            "type": "string",
            "description": "Digital Object Identifier"
          },
          "publicationName": {
            "type": "string",
            "description": "Name of the publication"
          },
          "publicationDate": {
            "type": "string",
            "description": "Date of publication"
          },
          "creators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "creator": {
                  "type": "string"
                }
              }
            }
          },
          "abstract": {
            "type": "string",
            "description": "Abstract of the document"
          },
          "url": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "format": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Meta",
      "description": "Versioned metadata for journal articles, book chapters, and protocols"
    },
    {
      "name": "OpenAccess",
      "description": "Metadata and full-text content for open access publications"
    },
    {
      "name": "FullText",
      "description": "Full-text content in JATS XML format"
    }
  ]
}