{
  "openapi": "3.0.3",
  "info": {
    "title": "Quip Automation API",
    "description": "The Quip Automation API allows you to automate processes and integrate Quip with other products and services. You can use the API to create, read, update, and delete documents, spreadsheets, folders, and messages in Quip.",
    "version": "1.0.0",
    "contact": {
      "name": "Quip",
      "url": "https://quip.com/dev/automation/documentation"
    }
  },
  "servers": [
    {
      "url": "https://platform.quip.com",
      "description": "Quip Platform API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/1/users/current": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user",
        "description": "Returns the user corresponding to the authenticated access token.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "description": "Returns the user with the given ID.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user ID or email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get users",
        "description": "Returns a list of users with the given IDs.",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of user IDs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/users/contacts": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get contacts",
        "description": "Returns a list of the authenticated user's contacts.",
        "operationId": "getContacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/users/update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "Updates the authenticated user's profile.",
        "operationId": "updateUser",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_picture_url": {
                    "type": "string",
                    "description": "URL of the new profile picture."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/1/users/subdomain": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get subdomain",
        "description": "Returns the company subdomain for the authenticated user.",
        "operationId": "getSubdomain",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subdomain": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/users/current/threads": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user threads",
        "description": "Returns the threads the current user has access to.",
        "operationId": "getCurrentUserThreads",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Thread"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/{id}": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Get thread",
        "description": "Returns the thread with the given ID.",
        "operationId": "getThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The thread ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "404": {
            "description": "Thread not found"
          }
        }
      }
    },
    "/1/threads": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Get threads",
        "description": "Returns a list of threads with the given IDs.",
        "operationId": "getThreads",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of thread IDs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Thread"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Create document",
        "description": "Creates a new document or spreadsheet.",
        "operationId": "createThread",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The HTML content of the new document."
                  },
                  "format": {
                    "type": "string",
                    "description": "The format of the content field.",
                    "enum": [
                      "html",
                      "markdown"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the new document."
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of thread to create.",
                    "enum": [
                      "document",
                      "spreadsheet"
                    ]
                  },
                  "member_ids": {
                    "type": "string",
                    "description": "Comma-separated list of user IDs to add as members."
                  },
                  "folder_ids": {
                    "type": "string",
                    "description": "Comma-separated list of folder IDs to add this document to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/recent": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Get recent threads",
        "description": "Returns the recently accessed threads for the authenticated user.",
        "operationId": "getRecentThreads",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of threads to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_updated_usec",
            "in": "query",
            "description": "Only return threads updated before this timestamp in microseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Thread"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/search": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Search threads",
        "description": "Searches for threads matching the given query.",
        "operationId": "searchThreads",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "only_match_titles",
            "in": "query",
            "description": "Only search thread titles.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Thread"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/delete": {
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Delete thread",
        "description": "Deletes the specified thread.",
        "operationId": "deleteThread",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "thread_id"
                ],
                "properties": {
                  "thread_id": {
                    "type": "string",
                    "description": "The ID of the thread to delete."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/1/threads/{thread_id}/export/pdf": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Export thread as PDF",
        "description": "Exports the thread as a PDF document.",
        "operationId": "exportThreadPdf",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/{thread_id}/export/pdf/async": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Export thread as PDF (async)",
        "description": "Starts an asynchronous export of the thread as PDF.",
        "operationId": "exportThreadPdfAsync",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export task started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/{thread_id}/export/xlsx": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Export thread as XLSX",
        "description": "Exports the spreadsheet thread as an XLSX file.",
        "operationId": "exportThreadXlsx",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XLSX file",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/{thread_id}/export/docx": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Export thread as DOCX",
        "description": "Exports the document thread as a DOCX file.",
        "operationId": "exportThreadDocx",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DOCX file",
            "content": {
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/1/threads/export/async": {
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Check async export status",
        "description": "Checks the status of an asynchronous export request.",
        "operationId": "checkAsyncExport",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "request_id"
                ],
                "properties": {
                  "request_id": {
                    "type": "string",
                    "description": "The ID of the async export request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "download_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/folders/{id}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get folder",
        "description": "Returns the folder with the given ID.",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The folder ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        }
      }
    },
    "/1/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get folders",
        "description": "Returns a list of folders with the given IDs.",
        "operationId": "getFolders",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of folder IDs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/folders/new": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create folder",
        "description": "Creates a new folder.",
        "operationId": "createFolder",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the new folder."
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "The ID of the parent folder."
                  },
                  "color": {
                    "type": "string",
                    "description": "The folder color.",
                    "enum": [
                      "manila",
                      "red",
                      "orange",
                      "green",
                      "blue"
                    ]
                  },
                  "member_ids": {
                    "type": "string",
                    "description": "Comma-separated list of user IDs to add as members."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        }
      }
    },
    "/1/folders/update": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Update folder",
        "description": "Updates an existing folder.",
        "operationId": "updateFolder",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "folder_id"
                ],
                "properties": {
                  "folder_id": {
                    "type": "string",
                    "description": "The ID of the folder to update."
                  },
                  "title": {
                    "type": "string",
                    "description": "The new title."
                  },
                  "color": {
                    "type": "string",
                    "description": "The new color."
                  },
                  "add_members": {
                    "type": "string",
                    "description": "Comma-separated list of user IDs to add."
                  },
                  "remove_members": {
                    "type": "string",
                    "description": "Comma-separated list of user IDs to remove."
                  },
                  "add_folder_ids": {
                    "type": "string",
                    "description": "Comma-separated list of sub-folder IDs to add."
                  },
                  "remove_folder_ids": {
                    "type": "string",
                    "description": "Comma-separated list of sub-folder IDs to remove."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        }
      }
    },
    "/1/messages/{thread_id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get messages",
        "description": "Returns the messages in the given thread.",
        "operationId": "getMessages",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "description": "The thread ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of messages to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_created_usec",
            "in": "query",
            "description": "Only return messages created before this timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/messages/new": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Create message",
        "description": "Posts a new message to a thread's conversation.",
        "operationId": "createMessage",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "thread_id",
                  "content"
                ],
                "properties": {
                  "thread_id": {
                    "type": "string",
                    "description": "The thread ID."
                  },
                  "content": {
                    "type": "string",
                    "description": "The message content."
                  },
                  "frame": {
                    "type": "string",
                    "description": "The annotation frame, if applicable.",
                    "enum": [
                      "bubble",
                      "card",
                      "line"
                    ]
                  },
                  "section_id": {
                    "type": "string",
                    "description": "The section ID to annotate."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/1/blob/{thread_id}": {
      "post": {
        "tags": [
          "Blobs"
        ],
        "summary": "Upload blob",
        "description": "Uploads a blob (file) to the specified thread.",
        "operationId": "uploadBlob",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "blob": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/blob/{thread_id}/{blob_id}": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "Get blob",
        "description": "Returns the blob (file) with the given ID from the specified thread.",
        "operationId": "getBlob",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blob_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blob content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/1/websockets/new": {
      "post": {
        "tags": [
          "Websockets"
        ],
        "summary": "Create websocket connection",
        "description": "Creates a new websocket URL for real-time updates.",
        "operationId": "createWebsocket",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The websocket URL to connect to."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/limited_session": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create limited session",
        "description": "Creates a limited session for embedding Quip content.",
        "operationId": "createLimitedSession",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "thread_id": {
                    "type": "string",
                    "description": "The thread ID to create a session for."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string"
                    },
                    "session_secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/oauth/access_token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Get access token",
        "description": "Exchanges an authorization code for an access token.",
        "operationId": "getAccessToken",
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "code",
                  "redirect_uri",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "The authorization code."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "The redirect URI."
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/oauth/login": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth login",
        "description": "Redirects the user to the Quip login page for OAuth authorization.",
        "operationId": "oauthLogin",
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code",
                "token"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to login page"
          }
        }
      }
    },
    "/1/oauth/verify_token": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Verify token",
        "description": "Verifies the current access token and returns token info.",
        "operationId": "verifyToken",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_valid": {
                      "type": "boolean"
                    },
                    "user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/oauth/revoke": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Revoke token",
        "description": "Revokes the current access token.",
        "operationId": "revokeToken",
        "responses": {
          "200": {
            "description": "Token revoked"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token or OAuth2 access token."
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The user's unique ID."
          },
          "name": {
            "type": "string",
            "description": "The user's full name."
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The user's email addresses."
          },
          "profile_picture_url": {
            "type": "string",
            "description": "URL of the user's profile picture."
          },
          "subdomain": {
            "type": "string",
            "description": "The user's company subdomain."
          },
          "desktop_folder_id": {
            "type": "string",
            "description": "The user's desktop folder ID."
          },
          "archive_folder_id": {
            "type": "string",
            "description": "The user's archive folder ID."
          },
          "starred_folder_id": {
            "type": "string",
            "description": "The user's starred folder ID."
          },
          "private_folder_id": {
            "type": "string",
            "description": "The user's private folder ID."
          },
          "shared_folder_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The user's shared folder IDs."
          },
          "group_folder_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The user's group folder IDs."
          },
          "disabled": {
            "type": "boolean"
          },
          "created_usec": {
            "type": "integer",
            "format": "int64"
          },
          "updated_usec": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Thread": {
        "type": "object",
        "properties": {
          "thread": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "link": {
                "type": "string"
              },
              "created_usec": {
                "type": "integer",
                "format": "int64"
              },
              "updated_usec": {
                "type": "integer",
                "format": "int64"
              },
              "type": {
                "type": "string",
                "enum": [
                  "document",
                  "spreadsheet"
                ]
              },
              "author_id": {
                "type": "string"
              },
              "sharing": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string"
                  },
                  "company_mode": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "html": {
            "type": "string",
            "description": "The thread's HTML content."
          },
          "shared_folder_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expanded_user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "invited_user_emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "folder": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "color": {
                "type": "string"
              },
              "parent_id": {
                "type": "string"
              },
              "created_usec": {
                "type": "integer",
                "format": "int64"
              },
              "updated_usec": {
                "type": "integer",
                "format": "int64"
              },
              "creator_id": {
                "type": "string"
              }
            }
          },
          "member_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "thread_id": {
                  "type": "string"
                },
                "folder_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "author_id": {
            "type": "string"
          },
          "author_name": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "created_usec": {
            "type": "integer",
            "format": "int64"
          },
          "updated_usec": {
            "type": "integer",
            "format": "int64"
          },
          "annotation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "highlight_section_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Blobs"
    },
    {
      "name": "Folders"
    },
    {
      "name": "Messages"
    },
    {
      "name": "OAuth"
    },
    {
      "name": "Threads"
    },
    {
      "name": "Users"
    },
    {
      "name": "Websockets"
    }
  ]
}
