{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This API enables an application or service (by extension and organization) access the mapped resources that it has been granted to.",
    "title": "Auth",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mkhisa7/auth/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.equitybankgroup.com/identity-sandbox/v1-sandbox"
    }
  ],
  "paths": {
    "/merchant-token": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request - Please ensure the request is valid."
          },
          "401": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Please check the Authorization header."
          },
          "404": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found - Please check the URL."
          },
          "500": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error - Please try later."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "auth"
        ],
        "description": "An application's client id and secret can be found in the My Apps section of this portal. Please contact Equity Bank for merchant credentials.",
        "operationId": "Get-Merchant-Access-Token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "grant_type": {
                    "description": "OAuth 2.0 Grant Type - must be 'password'.",
                    "type": "string"
                  },
                  "merchant": {
                    "description": "Merchant Username, provided by Equity Bank.",
                    "type": "string"
                  },
                  "password": {
                    "description": "API Key, obtained after successful onboarding on the Merchant Portal.",
                    "type": "string"
                  },
                  "service": {
                    "description": "The API resource that the Merchant has subscribed to during onboarding on the Merchant Portal.",
                    "type": "string"
                  },
                  "username": {
                    "description": "Merchant Code, obtained after successful onboarding on the Merchant Portal.",
                    "type": "string"
                  }
                },
                "required": [
                  "username"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Provide Client and Merchant Credentials to obtain an Access Token."
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "properties": {
          "access_token": {
            "description": "The generated access token.",
            "type": "string"
          },
          "expires_in": {
            "description": "The duration in seconds after which the token expires, the default is 3599 (59 minutes and 59 seconds).",
            "type": "number"
          },
          "issued_at": {
            "description": "A numeric timestamp of the date and time the token was generated.",
            "type": "number"
          },
          "token_type": {
            "description": "The type of token generated, the default is \"bearer\".",
            "type": "string"
          }
        },
        "required": [
          "token_type",
          "issued_at",
          "expires_in",
          "access_token"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "code": {
            "description": "An error code that identifies the error.",
            "type": "string"
          },
          "error": {
            "description": "The error encountered while processing the request.",
            "type": "string"
          },
          "message": {
            "description": "A short description of the error.",
            "type": "string"
          }
        },
        "required": [
          "code",
          "error",
          "message"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "description": "HTTP Basic Authentication using a Client Id and Client Secret.",
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "tags": [
    {
      "name": "auth"
    }
  ]
}