{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "ApexBankIntegration API",
    "description": "API для создания нового контракта в Apex Bank",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DARKNESS6345122_1/Apexbank/2.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://rest.aic.uz/api/ins"
    }
  ],
  "paths": {
    "/apexbank/contract_new/{productCode}": {
      "post": {
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.ContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "description": "Код ответа",
                      "example": "0"
                    },
                    "result_message": {
                      "type": "string",
                      "description": "Описание ответа",
                      "example": "Успешная обработка запроса"
                    },
                    "invoice_id": {
                      "type": "integer",
                      "description": "Invoice id",
                      "example": 991380
                    },
                    "insurance_sum": {
                      "type": "number",
                      "description": "Страховая сумма - обеспечение",
                      "example": 12500000
                    },
                    "premium": {
                      "type": "number",
                      "description": "Сумма страховой премии к оплате",
                      "example": 125000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/get_policy/{productCode}": {
      "post": {
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.GetPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "description": "Код ответа",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "description": "Описание ответа",
                      "example": "Успешная обработка запроса"
                    },
                    "invoice_id": {
                      "type": "integer",
                      "description": "Идентификатор счета",
                      "example": 991380
                    },
                    "paid_sum": {
                      "type": "number",
                      "format": "double",
                      "description": "Оплаченная сумма",
                      "example": 125000.12
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "Серия и номер полиса",
                      "example": "AB1234567"
                    },
                    "policy_file": {
                      "type": "object",
                      "description": "Полис",
                      "properties": {
                        "policy_check": {
                          "type": "string",
                          "description": "Ссылка на полис",
                          "example": "example.com"
                        },
                        "file_name": {
                          "type": "string",
                          "description": "Имя файла",
                          "example": "policy_file.pdf"
                        },
                        "file_body_b64": {
                          "type": "string",
                          "description": "Закодированное в base64 содержимое файла",
                          "example": "UEsDBBQAAAAIA..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/confirm_payment/{productCode}": {
      "post": {
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.ConfirmPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.ConfirmPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/region_id": {
      "get": {
        "summary": "Получение ID областей",
        "tags": [
          "Handbook"
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "region_id": {
                            "type": "integer",
                            "description": "ID области"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование области на русском языке"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование области на узбекском языке"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/district_id": {
      "get": {
        "summary": "Получение ID районов",
        "tags": [
          "Handbook"
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "district_id": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование района на узбекском языке"
                          },
                          "region_id": {
                            "type": "number",
                            "description": "ID области"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/policy_list": {
      "get": {
        "summary": "Получение списка полисов",
        "tags": [
          "Handbook"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "begin",
            "description": "Начальная дата периода создания полиса в формате DD.MM.YYYY",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end",
            "description": "Конечная дата периода создания полиса в формате DD.MM.YYYY",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reg_number": {
                            "type": "string",
                            "description": "Номер кредитного договора"
                          },
                          "reg_date": {
                            "type": "string",
                            "format": "date",
                            "description": "Дата начала кредитного договора"
                          },
                          "invoice_id": {
                            "type": "integer",
                            "description": "invoice id"
                          },
                          "credit_amount": {
                            "type": "number",
                            "format": "double",
                            "description": "Сумма кредита"
                          },
                          "insurance_sum": {
                            "type": "number",
                            "description": "Страховая сумма"
                          },
                          "premium": {
                            "type": "number",
                            "description": "Страховая премия"
                          },
                          "policy_create_date": {
                            "type": "string",
                            "format": "date",
                            "description": "Дата создания полиса"
                          },
                          "policy_begin": {
                            "type": "string",
                            "format": "date",
                            "description": "Дата начала полиса"
                          },
                          "policy_end": {
                            "type": "string",
                            "format": "date",
                            "description": "Дата окончания полиса"
                          },
                          "client_name": {
                            "type": "string",
                            "description": "ФИО клиента"
                          },
                          "client_phone": {
                            "type": "string",
                            "description": "Номер телефона клиента"
                          },
                          "status": {
                            "type": "string",
                            "description": "Статус полиса"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "IN.Common.DTO.Apex.Contract.Borrower": {
        "type": "object",
        "properties": {
          "pini": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "description": "ПИНФЛ",
            "example": "12345678901234"
          },
          "passport_ser": {
            "type": "string",
            "description": "Серия паспорта",
            "example": "AB"
          },
          "passport_num": {
            "type": "string",
            "maxLength": 9,
            "description": "Номер паспорта",
            "example": "123456789"
          },
          "gender": {
            "type": "integer",
            "maxLength": 1,
            "description": "Пол (0 - женский, 1 - мужской)",
            "example": 1
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "description": "Дата рождения в формате ДД.ММ.ГГГГ",
            "example": "01.01.2000"
          },
          "firstname": {
            "type": "string",
            "description": "Имя",
            "example": "IVAN"
          },
          "lastname": {
            "type": "string",
            "description": "Фамилия",
            "example": "IVANOV"
          },
          "middlename": {
            "type": "string",
            "description": "Отчество клиента (В случие отсутсвия необходимо отправлять \"XXX\")",
            "example": "IVANOVICH"
          },
          "region_id": {
            "type": "number",
            "description": "ID области",
            "example": 10
          },
          "district_id": {
            "type": "number",
            "description": "ID района",
            "example": 1001
          },
          "address": {
            "type": "string",
            "description": "Адрес",
            "example": "Улица, дом, квартира"
          },
          "phone": {
            "type": "string",
            "maxLength": 12,
            "minLength": 12,
            "description": "Номер телефона",
            "example": "+79991234567"
          },
          "status": {
            "type": "integer",
            "maxLength": 1,
            "minLength": 1,
            "description": "Может быть 0 или 1, соответственно 0 - без льготы, а 1 - льготный",
            "example": "1"
          }
        },
        "required": [
          "pini",
          "passport_ser",
          "passport_num",
          "phone",
          "status",
          "gender",
          "address",
          "birth_date",
          "firstname",
          "lastname",
          "middlename",
          "region_id",
          "district_id"
        ]
      },
      "IN.Common.DTO.Apex.Contract.ContractRequest": {
        "type": "object",
        "properties": {
          "insurer": {
            "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.Insurer"
          },
          "borrower": {
            "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.Borrower"
          },
          "credit_contract": {
            "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.CreditContract"
          },
          "insured_sum": {
            "type": "number",
            "format": "double",
            "description": "Страховая сумма",
            "example": 1000000
          }
        },
        "required": [
          "insurer",
          "borrower",
          "credit_contract",
          "insured_sum"
        ]
      },
      "IN.Common.DTO.Apex.Contract.CreditContract": {
        "type": "object",
        "properties": {
          "reg_number": {
            "type": "string",
            "maxLength": 100,
            "description": "Номер кредитного договора",
            "example": "123456789"
          },
          "reg_date": {
            "type": "string",
            "format": "date",
            "description": "Дата начало кредитного договора в формате ДД.ММ.ГГГГ",
            "example": "01.01.2024"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "Дата окончания кредитного договора в формате ДД.ММ.ГГГГ",
            "example": "01.01.2026"
          },
          "credit_amount": {
            "type": "number",
            "format": "double",
            "description": "Сумма кредита",
            "example": 500000
          }
        },
        "required": [
          "reg_number",
          "reg_date",
          "end_date",
          "credit_amount"
        ]
      },
      "IN.Common.DTO.Apex.Contract.Insurer": {
        "type": "object",
        "properties": {
          "tin": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9,
            "description": "ИНН",
            "example": "123456789"
          },
          "phone": {
            "type": "string",
            "maxLength": 12,
            "minLength": 12,
            "nullable": true,
            "description": "Номер телефона страхователя",
            "example": "+79991234567"
          },
          "email": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Email страхователя",
            "example": "example@domain.com"
          }
        },
        "required": [
          "tin",
          "phone"
        ]
      },
      "IN.Common.DTO.Apex.Contract.ConfirmPaymentRequest": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string",
            "description": "Код отделения банка в который производится оплата",
            "example": "01041"
          },
          "id": {
            "type": "integer",
            "description": "Идентификатор банковской выписки",
            "example": "677340363"
          },
          "state": {
            "type": "integer",
            "description": "Идентификатор состояния выписки",
            "example": "3"
          },
          "v_date": {
            "type": "string",
            "description": "Дата осуществление оплаты в формате ГГГГ-ММ-ДД ЧЧ:ММ:СС.МС",
            "example": "2025-04-28 19:47:59.9"
          },
          "bank_cl": {
            "type": "string",
            "description": "Код отделения банка с которого производится оплата",
            "example": "01041"
          },
          "acc_cl": {
            "type": "string",
            "description": "Номер банковского счета с которого производится оплата",
            "example": "20208000500906785186"
          },
          "name_cl": {
            "type": "string",
            "description": "Наименование плательщика от имени которого производится оплата",
            "example": "ISMAILOV DJAVLON MARUFOVICH"
          },
          "bank_co": {
            "type": "string",
            "description": "Код отделения банка на который производится оплата",
            "example": "01041"
          },
          "acc_co": {
            "type": "string",
            "description": "Номер банковского счета на который производится оплата",
            "example": "20208000500906785186"
          },
          "name_co": {
            "type": "string",
            "description": "Наименование получателя на которого производится оплата",
            "example": "AJ APEX INSURANCE"
          },
          "summa": {
            "type": "number",
            "format": "double",
            "description": "Сумма оплаты",
            "example": 3476027.4
          },
          "purpose": {
            "type": "string",
            "description": "Описание платежного назначения",
            "example": "00646-Оплата за страховой полис для получения кредита. invoice_id - 1612187"
          },
          "invoice_id": {
            "type": "integer",
            "description": "Invoice id",
            "example": 1612187
          }
        },
        "required": [
          "branch",
          "id",
          "state",
          "v_date",
          "bank_cl",
          "acc_cl",
          "name_cl",
          "bank_co",
          "acc_co",
          "name_co",
          "summa",
          "purpose",
          "invoice_id"
        ]
      },
      "IN.Common.DTO.Apex.Contract.ConfirmPaymentResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "description": "Код ответа",
            "example": 0
          },
          "result_message": {
            "type": "string",
            "description": "Описание ответа",
            "example": "Успешная обработка запроса"
          },
          "invoice_id": {
            "type": "integer",
            "description": "Идентификатор счета",
            "example": 991380
          },
          "paid_sum": {
            "type": "number",
            "format": "double",
            "description": "Оплаченная сумма",
            "example": 125000.12
          },
          "policy_no": {
            "type": "string",
            "description": "Серия и номер полиса",
            "example": "AB1234567"
          },
          "policy_file": {
            "type": "object",
            "description": "Полис",
            "properties": {
              "policy_check": {
                "type": "string",
                "description": "Ссылка на полис",
                "example": "example.com"
              },
              "file_name": {
                "type": "string",
                "description": "Имя файла",
                "example": "policy_file.pdf"
              },
              "file_body_b64": {
                "type": "string",
                "description": "Закодированное в base64 содержимое файла",
                "example": "UEsDBBQAAAAIA..."
              }
            }
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "nullable": false,
            "description": "Код ошибки"
          },
          "result_message": {
            "type": "string",
            "nullable": false,
            "description": "Описание ошибки"
          }
        }
      },
      "IN.Common.DTO.Apex.Contract.GetPolicyRequest": {
        "type": "object",
        "properties": {
          "reg_number": {
            "type": "string",
            "description": "Номер кредитного договора",
            "example": "123456789"
          }
        },
        "required": [
          "reg_number"
        ]
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}