{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "you@your-company.com"
    },
    "description": "API server della web-app per il Consiglio Regionale Veneto",
    "title": "Web App Regione API",
    "version": "1.1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tesistiAnonimi/API-swagger2-0/1.1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.site.com/v1"
    }
  ],
  "paths": {
    "/api/categorie": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Categoria"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/RispostaAPI"
                    }
                  ]
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Permette di ottenere l'elenco di tutte le categorie presenti nel database",
        "operationId": "CategoriaGet",
        "summary": "getCategorie"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Sintassi non corretta"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Categoria gia' esistente"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Permette di aggiungere una nuova categoria al database",
        "operationId": "CategoriaPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Categoria"
              }
            }
          },
          "description": "Nome della nuova categoria"
        },
        "summary": "addCategoria"
      }
    },
    "/api/categorie/{nomeCategoria}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Risorsa non trovata"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Elimina in modo permanente una categoria dal database. I documenti appartenenti a tale categoria vengono automaticamente spostati nella categoria Nessuna Categoria.",
        "operationId": "CategoriaByNomeCategoriaDelete",
        "summary": "deleteCSV"
      },
      "get": {
        "parameters": [
          {
            "description": "nome della categoria dei file csv da visualizzare",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "pagina precedente o successiva",
            "in": "query",
            "name": "skip",
            "required": false,
            "schema": {
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "quanti elementi per pagina",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/RispostaAPI"
                    }
                  ]
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Risorsa non trovata"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Permette di ottenere l'elenco dei file csv appartenenti alla categoria selezionata",
        "operationId": "CategoriaByNomeCategoriaGet",
        "summary": "getCSVinCategory"
      },
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Un documento con lo stesso nome in questa categoria gia' presente"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Categoria non trovata"
          },
          "417": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Esecuzione non riuscita"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Permette il caricamento del file csv nel database nella categoria selezionata",
        "operationId": "CategoriaByNomeCategoriaPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "nomeFile": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/CSV"
                  }
                ]
              }
            }
          },
          "description": "File CSV da caricare"
        },
        "summary": "loadCSV"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Una categoria con lo stesso nome esiste gia'"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Permette di modificare il nome della categoria",
        "operationId": "CategoriaByNomeCategoriaPut",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Categoria"
              }
            }
          },
          "description": "Nuovo nome per la categoria"
        },
        "summary": "modifyCategory"
      }
    },
    "/api/csv/{nomeCategoria}/{nomeCSV}": {
      "delete": {
        "parameters": [
          {
            "description": "nome della categoria dei file csv da visualizzare",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "nome del file csv",
            "in": "path",
            "name": "nomeCSV",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "417": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Esecuzione non riuscita"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Effettua la cancellazione del file csv in maniera permanente.",
        "operationId": "CSVByNomeCategoriaAndNomeCSVDelete",
        "summary": "deleteCSV"
      },
      "get": {
        "parameters": [
          {
            "description": "nome della categoria dei file csv da visualizzare",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "nome del file csv",
            "in": "path",
            "name": "nomeCSV",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "pagina precedente o successiva",
            "in": "query",
            "name": "skip",
            "required": false,
            "schema": {
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "type": "number"
            }
          },
          {
            "description": "quanti elementi per pagina",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Risorsa non trovata"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Restituisce un numero limitato di righe del csv, in base ai parametri skip e limit",
        "operationId": "CSVByNomeCategoriaAndNomeCSVGet",
        "summary": "getCSV"
      },
      "put": {
        "parameters": [
          {
            "description": "nome della categoria dei file csv da visualizzare",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "nome del file csv",
            "in": "path",
            "name": "nomeCSV",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Risorsa non trovata"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Modifica del file csv. Un booleano indica se e' da modificare la categoria di appartenenza del file CSV oppure se sono da modificare le righe.",
        "operationId": "CSVByNomeCategoriaAndNomeCSVPut",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "cambioCategoria": {
                        "type": "boolean"
                      },
                      "nomeCategoria": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/CSV"
                  }
                ]
              }
            }
          },
          "description": "Oggetto con le modifiche. Se il booleano <i>cambioCategoria</i> ha valore true, allora viene modificata la categoria di appartenenza del file csv, altrimenti viene aggiornato il file con le righe passate nell'oggetto"
        },
        "summary": "updateCSV"
      }
    },
    "/api/grafico/{nomeCategoria}/{nomeCSV}": {
      "get": {
        "parameters": [
          {
            "description": "nome della categoria in cui é presente il file",
            "in": "path",
            "name": "nomeCategoria",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "nome del file csv",
            "in": "path",
            "name": "nomeCSV",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "la colonna di cui visualizzare il grafico",
            "in": "query",
            "name": "colonna",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/InfoGrafico"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/RispostaAPI"
                    }
                  ]
                }
              }
            },
            "description": "Ok",
            "headers": {}
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Risorsa non trovata"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RispostaAPI"
                }
              }
            },
            "description": "Errore interno"
          }
        },
        "tags": [
          "utenti"
        ],
        "deprecated": false,
        "description": "Produce i dati per la visualizzazione del grafico",
        "operationId": "GraficoByNomeCategoriaAndNomeCSVGet",
        "summary": "getGraphInfo"
      }
    }
  },
  "components": {
    "schemas": {
      "CSV": {
        "properties": {
          "rows": {
            "items": {
              "type": "object"
            },
            "type": "array"
          }
        },
        "title": "Struttura CSV",
        "type": "object"
      },
      "Categoria": {
        "example": "Energia",
        "type": "string"
      },
      "InfoGrafico": {
        "properties": {
          "conteggi": {
            "example": [
              46,
              58
            ],
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "etichette": {
            "example": [
              "label 1",
              "label 2"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "titolo": {
            "example": "nome colonna 1",
            "type": "string"
          }
        },
        "title": "Informazioni Grafico",
        "type": "object"
      },
      "RispostaAPI": {
        "properties": {
          "codice": {
            "type": "number"
          },
          "messaggioErrore": {
            "type": "string"
          }
        },
        "title": "Risposta API",
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "description": "Operazioni disponinbili a tutti gli utenti",
      "name": "utenti"
    }
  ]
}