{
  "openapi": "3.0.0",
  "info": {
    "title": "Sensus REST API projects",
    "version": "1.0.0-oas3",
    "description": "# Apresenta\u00e7\u00e3o\n\nDocumenta\u00e7\u00e3o para utiliza\u00e7\u00e3o da REST API Sensus Customers.\n\n# Autentica\u00e7\u00e3o\n\u00c9 necess\u00e1rio uma chave/token como Header para autenticar e fazer requisi\u00e7\u00f5es a esta API. O nome do Header da chave/token \u00e9 'x_api_key'.\n\nPara gerar a chave/token da sua organiza\u00e7\u00e3o:\n1) Fa\u00e7a login no <a href=\"https://app.sensusonline.net/sensus/\" target=\"_blank\">Sensus CRM</a>\n2) Navegue Home/Configurar/Organiza\u00e7\u00e3o\n3) Edite a sua organiza\u00e7\u00e3o, clique na aba API e verifique no campo 'Chave/Token' se a chave/token j\u00e1 foi gerada. Caso j\u00e1 tenha sido gerada \u00e9 esta a chave/token que deve ser utilizada nos requests das APIs.\n4) Caso a chave/token n\u00e3o tenha sido gerada ou voc\u00ea queira gerar uma nova chave/token, clique no bot\u00e3o 'Gerar nova Chave/Token' e salve.\n5) Al\u00e9m da chave/token \u00e9 necess\u00e1rio cadastrar o endere\u00e7o IP de onde ser\u00e3o gerados requests para as APIs. Localize o bloco 'Lista IPs permitidos', adicione o endere\u00e7o IP do local de onde vai disparar os requests para as APIs e salve.\n\n# Error Codes\n**420-490 \u2013 Validations**\n\nPar\u00e2metros e/ou configura\u00e7\u00f5es n\u00e3o encontrados ou fora do padr\u00e3o\n\n**400 \u2013 Bad Request**\n\nDados enviados de forma incorreta ou fora do padr\u00e3o\n\n**403 \u2013 Forbidden**\n\nSem autoriza\u00e7\u00e3o suficiente para acessar o recurso desejado",
    "contact": {
      "name": "Sensus support team",
      "email": "support@sensusit.com",
      "url": "http://app.sensusonline.net/iclient/"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SensusX/API-sensus-projects/1.0.0-oas3/swagger.json"
  },
  "paths": {
    "/created/{creation_date}": {
      "get": {
        "description": "Retrieve records from projects api according to creation_date parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "creation_date",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query projects by creation date",
        "tags": [
          "Projects"
        ],
        "operationId": "get-created-by-creation-date"
      }
    },
    "/project/{project_name}": {
      "get": {
        "description": "Retrieve records from projects api according project_name entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_name",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query projects by project name",
        "tags": [
          "Projects"
        ],
        "operationId": "get-project-by-project-name"
      }
    },
    "/tasks/{project_id}": {
      "get": {
        "description": "Retrieve records from projects api according project_id entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query projects by project id",
        "tags": [
          "Projects"
        ],
        "operationId": "get-tasks-by-project-id"
      }
    },
    "/updated/{update_date}": {
      "get": {
        "description": "Retrieve records from projects api according to update_date parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "update_date",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query projects by update date",
        "tags": [
          "Projects"
        ],
        "operationId": "get-updated-by-update-date"
      }
    }
  },
  "servers": [
    {
      "url": "https://app.sensusonline.net/webapi/proee/projects"
    }
  ],
  "tags": [
    {
      "name": "Projects"
    }
  ]
}
