{
  "openapi": "3.0.3",
  "info": {
    "title": "Maya API",
    "description": "Maya payment platform API for processing payments, managing wallets, tokenization, and financial services in the Philippines. Supports checkout, Pix payments, vault tokenization, remittances, and bill payments.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.maya.ph/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.maya.ph",
      "description": "Maya production API server"
    },
    {
      "url": "https://sandbox-api.maya.ph",
      "description": "Maya sandbox API server for testing"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/v1/checkout": {
      "post": {
        "summary": "Create checkout session",
        "description": "Create a Maya Checkout session for payment processing",
        "operationId": "createCheckout",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/payments": {
      "post": {
        "summary": "Process payment",
        "description": "Process a payment using Maya Wallet",
        "operationId": "createPayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "summary": "List payments",
        "description": "Retrieve list of payments",
        "operationId": "listPayments",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/payments/{paymentId}": {
      "get": {
        "summary": "Get payment details",
        "description": "Retrieve details of a specific payment",
        "operationId": "getPayment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/vault/tokens": {
      "post": {
        "summary": "Create payment token",
        "description": "Tokenize payment credentials using Maya Vault",
        "operationId": "createToken",
        "tags": [
          "Vault"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/payment-links": {
      "post": {
        "summary": "Create payment link",
        "description": "Generate a shareable payment link",
        "operationId": "createPaymentLink",
        "tags": [
          "Payment Links"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List payment links",
        "description": "Retrieve list of payment links",
        "operationId": "listPaymentLinks",
        "tags": [
          "Payment Links"
        ],
        "responses": {
          "200": {
            "description": "List of payment links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentLink"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/remittances": {
      "post": {
        "summary": "Send remittance",
        "description": "Send direct transfer to Maya wallet",
        "operationId": "sendRemittance",
        "tags": [
          "Remittances"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemittanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remittance sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemittanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/transfers": {
      "post": {
        "summary": "Create unified transfer",
        "description": "Process interbank fund transfer",
        "operationId": "createTransfer",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/bills/payments": {
      "post": {
        "summary": "Pay bill",
        "description": "Process bill payment",
        "operationId": "payBill",
        "tags": [
          "Bills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bill payment processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPaymentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/invoices": {
      "post": {
        "summary": "Create email invoice",
        "description": "Send invoice via email",
        "operationId": "createInvoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "basic",
        "description": "API key authentication. Use your API key as the username in HTTP Basic Auth."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad request - Invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "totalAmount",
          "buyer",
          "items"
        ],
        "properties": {
          "totalAmount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "currency": {
                "type": "string",
                "default": "PHP"
              }
            }
          },
          "buyer": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "redirectUrl": {
            "type": "object",
            "properties": {
              "success": {
                "type": "string"
              },
              "failure": {
                "type": "string"
              },
              "cancel": {
                "type": "string"
              }
            }
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "checkoutId": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "totalAmount",
          "redirectUrl"
        ],
        "properties": {
          "totalAmount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "redirectUrl": {
            "type": "object",
            "properties": {
              "success": {
                "type": "string"
              },
              "failure": {
                "type": "string"
              }
            }
          },
          "requestReferenceNumber": {
            "type": "string"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "verificationUrl": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SUCCESS",
              "FAILED",
              "EXPIRED"
            ]
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "paymentTokenId"
        ],
        "properties": {
          "paymentTokenId": {
            "type": "string"
          },
          "cardDetails": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              },
              "expMonth": {
                "type": "string"
              },
              "expYear": {
                "type": "string"
              },
              "cvc": {
                "type": "string"
              }
            }
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "paymentTokenId": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "PaymentLinkRequest": {
        "type": "object",
        "required": [
          "amount",
          "description"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "default": "PHP"
          },
          "description": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentLinkResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "RemittanceRequest": {
        "type": "object",
        "required": [
          "amount",
          "recipient"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "recipient": {
            "type": "object",
            "properties": {
              "phone": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          }
        }
      },
      "RemittanceResponse": {
        "type": "object",
        "properties": {
          "remittanceId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TransferRequest": {
        "type": "object",
        "required": [
          "amount",
          "destination"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "destination": {
            "type": "object",
            "properties": {
              "bankCode": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              }
            }
          }
        }
      },
      "TransferResponse": {
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "BillPaymentRequest": {
        "type": "object",
        "required": [
          "billerId",
          "amount",
          "accountNumber"
        ],
        "properties": {
          "billerId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "accountNumber": {
            "type": "string"
          }
        }
      },
      "BillPaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "receiptNumber": {
            "type": "string"
          }
        }
      },
      "InvoiceRequest": {
        "type": "object",
        "required": [
          "amount",
          "email",
          "description"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "invoiceId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Bills"
    },
    {
      "name": "Checkout"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Payment Links"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Remittances"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Vault"
    }
  ]
}
