{
  "openapi": "3.0.3",
  "info": {
    "title": "HERE Geocoding & Search API",
    "description": "HERE Geocoding & Search API provides endpoints for geocoding addresses, reverse geocoding coordinates, discovering places, and searching for locations. Part of the HERE Maps platform for digital mapping and location services.",
    "version": "1.0.0",
    "contact": {
      "name": "HERE Technologies",
      "url": "https://developer.here.com"
    },
    "x-jentic-source-url": "https://developer.here.com"
  },
  "servers": [
    {
      "url": "https://geocode.search.hereapi.com/v1",
      "description": "Geocoding & Search API"
    },
    {
      "url": "https://revgeocode.search.hereapi.com/v1",
      "description": "Reverse Geocoding API"
    },
    {
      "url": "https://autosuggest.search.hereapi.com/v1",
      "description": "Autosuggest API"
    },
    {
      "url": "https://browse.search.hereapi.com/v1",
      "description": "Browse API"
    },
    {
      "url": "https://lookup.search.hereapi.com/v1",
      "description": "Lookup API"
    },
    {
      "url": "https://discover.search.hereapi.com/v1",
      "description": "Discover API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Geocode",
      "description": "Forward geocoding - convert addresses to coordinates"
    },
    {
      "name": "Reverse Geocode",
      "description": "Reverse geocoding - convert coordinates to addresses"
    },
    {
      "name": "Autosuggest",
      "description": "Search suggestions as you type"
    },
    {
      "name": "Discover",
      "description": "Free-form search for places and addresses"
    },
    {
      "name": "Browse",
      "description": "Browse places by category around a location"
    },
    {
      "name": "Lookup",
      "description": "Look up a place by its HERE ID"
    }
  ],
  "paths": {
    "/geocode": {
      "get": {
        "tags": ["Geocode"],
        "summary": "Geocode an address",
        "description": "Converts a free-text address into geographic coordinates and a complete address object.",
        "operationId": "geocode",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Free-text query for the address to geocode",
            "schema": { "type": "string" }
          },
          {
            "name": "qq",
            "in": "query",
            "description": "Qualified query with structured address components (e.g., city=Berlin;country=Germany)",
            "schema": { "type": "string" }
          },
          {
            "name": "in",
            "in": "query",
            "description": "Search within a geographic area (circle, bbox, or countryCode)",
            "schema": { "type": "string" }
          },
          {
            "name": "at",
            "in": "query",
            "description": "Center of search context as lat,lng",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language for result text and address formatting (BCP 47)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/revgeocode": {
      "get": {
        "tags": ["Reverse Geocode"],
        "summary": "Reverse geocode coordinates",
        "description": "Converts geographic coordinates into the nearest address.",
        "operationId": "reverseGeocode",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": true,
            "description": "Location as lat,lng",
            "schema": { "type": "string" }
          },
          {
            "name": "in",
            "in": "query",
            "description": "Search within a geographic area",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": { "type": "integer", "default": 1, "maximum": 100 }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language for result text (BCP 47)",
            "schema": { "type": "string" }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Filter by result type (e.g., address, street, city)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocoding response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/autosuggest": {
      "get": {
        "tags": ["Autosuggest"],
        "summary": "Get search suggestions",
        "description": "Provides search suggestions as the user types. Returns a mix of places, addresses, and query completions.",
        "operationId": "autosuggest",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Partial search query text",
            "schema": { "type": "string" }
          },
          {
            "name": "at",
            "in": "query",
            "required": true,
            "description": "Center of search context as lat,lng",
            "schema": { "type": "string" }
          },
          {
            "name": "in",
            "in": "query",
            "description": "Search within a geographic area",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "termsLimit",
            "in": "query",
            "description": "Maximum number of query term suggestions",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful autosuggest response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AutosuggestResponse" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/discover": {
      "get": {
        "tags": ["Discover"],
        "summary": "Search for places",
        "description": "Free-form search for places, addresses, and geographic features.",
        "operationId": "discover",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Free-text search query",
            "schema": { "type": "string" }
          },
          {
            "name": "at",
            "in": "query",
            "description": "Center of search context as lat,lng",
            "schema": { "type": "string" }
          },
          {
            "name": "in",
            "in": "query",
            "description": "Search within a geographic area",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/browse": {
      "get": {
        "tags": ["Browse"],
        "summary": "Browse places by category",
        "description": "Browse places by category around a specified location.",
        "operationId": "browse",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": true,
            "description": "Center of search as lat,lng",
            "schema": { "type": "string" }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated list of category IDs to filter by",
            "schema": { "type": "string" }
          },
          {
            "name": "in",
            "in": "query",
            "description": "Search within a geographic area",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by place name",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful browse response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/lookup": {
      "get": {
        "tags": ["Lookup"],
        "summary": "Lookup a place by ID",
        "description": "Look up a place by its HERE ID to get full details.",
        "operationId": "lookup",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "HERE place ID",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful lookup response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Place" }
              }
            }
          },
          "404": {
            "description": "Place not found"
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "HERE API key obtained from the HERE Developer portal"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer token"
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Place" }
          }
        }
      },
      "AutosuggestResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AutosuggestItem" }
          },
          "queryTerms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "term": { "type": "string" },
                "replaces": { "type": "string" },
                "start": { "type": "integer" },
                "end": { "type": "integer" }
              }
            }
          }
        }
      },
      "AutosuggestItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string", "description": "Display title" },
          "id": { "type": "string", "description": "HERE place ID" },
          "resultType": { "type": "string", "description": "Type of result" },
          "address": { "$ref": "#/components/schemas/Address" },
          "position": { "$ref": "#/components/schemas/Position" },
          "distance": { "type": "integer", "description": "Distance in meters from search center" },
          "highlights": {
            "type": "object",
            "properties": {
              "title": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "start": { "type": "integer" },
                    "end": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "title": { "type": "string", "description": "Display title for the result" },
          "id": { "type": "string", "description": "Unique HERE place ID" },
          "resultType": {
            "type": "string",
            "description": "Type of result",
            "enum": ["houseNumber", "addressBlock", "street", "intersection", "administrativeArea", "locality", "place", "chainQuery", "categoryQuery"]
          },
          "houseNumberType": { "type": "string", "enum": ["PA", "interpolated"] },
          "address": { "$ref": "#/components/schemas/Address" },
          "position": { "$ref": "#/components/schemas/Position" },
          "access": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Position" },
            "description": "Access points for navigation"
          },
          "distance": { "type": "integer", "description": "Distance in meters" },
          "mapView": { "$ref": "#/components/schemas/MapView" },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Category" }
          },
          "contacts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Contact" }
          },
          "openingHours": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "array", "items": { "type": "string" } },
                "isOpen": { "type": "boolean" }
              }
            }
          },
          "scoring": {
            "type": "object",
            "properties": {
              "queryScore": { "type": "number" },
              "fieldScore": {
                "type": "object",
                "properties": {
                  "country": { "type": "number" },
                  "city": { "type": "number" },
                  "streets": { "type": "array", "items": { "type": "number" } },
                  "houseNumber": { "type": "number" },
                  "postalCode": { "type": "number" }
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "label": { "type": "string", "description": "Full formatted address" },
          "countryCode": { "type": "string" },
          "countryName": { "type": "string" },
          "stateCode": { "type": "string" },
          "state": { "type": "string" },
          "county": { "type": "string" },
          "city": { "type": "string" },
          "district": { "type": "string" },
          "street": { "type": "string" },
          "houseNumber": { "type": "string" },
          "postalCode": { "type": "string" }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "lat": { "type": "number", "format": "double", "description": "Latitude" },
          "lng": { "type": "number", "format": "double", "description": "Longitude" }
        }
      },
      "MapView": {
        "type": "object",
        "properties": {
          "west": { "type": "number", "format": "double" },
          "south": { "type": "number", "format": "double" },
          "east": { "type": "number", "format": "double" },
          "north": { "type": "number", "format": "double" }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "primary": { "type": "boolean" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": { "type": "string" }
              }
            }
          },
          "www": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": { "type": "string" }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "integer" },
          "title": { "type": "string" },
          "code": { "type": "string" },
          "cause": { "type": "string" },
          "action": { "type": "string" }
        }
      }
    }
  }
}
