{
  "openapi": "3.0.3",
  "info": {
    "title": "CE-Go API",
    "version": "1.0.0",
    "description": "CE-Go is an event management platform for Continuing Education (CE/CEU) events. The API provides access to events, courses, and user registrations.",
    "x-jentic-source-url": "https://help.ce-go.com/article/837-ce-go-api-documentation-for-zapier"
  },
  "servers": [
    {
      "url": "https://app.ce-go.com/api/v3/zapier"
    }
  ],
  "paths": {
    "/conferences": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Retrieve a list of events with optional filtering by status, date range, and event type.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event status"
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter events starting from this date"
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter events ending before this date"
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event type"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/courses": {
      "get": {
        "operationId": "listCourses",
        "summary": "List courses",
        "description": "Retrieve a list of courses with optional filtering by status.",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by course status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of courses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conferences/{eventId}/users": {
      "get": {
        "operationId": "listEventUsers",
        "summary": "List users for an event",
        "description": "Retrieve registered users for a specific event.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Event ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by user registration status"
          },
          {
            "name": "evaluation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by evaluation status"
          },
          {
            "name": "registered_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter users registered from this date"
          },
          {
            "name": "registered_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter users registered to this date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of event users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/courses/{courseId}/users": {
      "get": {
        "operationId": "listCourseUsers",
        "summary": "List users for a course",
        "description": "Retrieve registered users for a specific course.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Course ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by user registration status"
          },
          {
            "name": "evaluation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by evaluation status"
          },
          {
            "name": "registered_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter users registered from this date"
          },
          {
            "name": "registered_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter users registered to this date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of course users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conferences/users": {
      "get": {
        "operationId": "listUsersFromEvents",
        "summary": "List users from events",
        "description": "Retrieve users across events with optional event ID filter.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by event ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by status"
          },
          {
            "name": "evaluation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by evaluation"
          },
          {
            "name": "registered_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "From registration date"
          },
          {
            "name": "registered_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "To registration date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/courses/users": {
      "get": {
        "operationId": "listUsersFromCourses",
        "summary": "List users from courses",
        "description": "Retrieve users across courses with optional course ID filter.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by course ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by status"
          },
          {
            "name": "evaluation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by evaluation"
          },
          {
            "name": "registered_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "From registration date"
          },
          {
            "name": "registered_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "To registration date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/subscribe": {
      "post": {
        "operationId": "subscribeWebhook",
        "summary": "Subscribe to a webhook",
        "description": "Create a new webhook subscription for event notifications.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/unsubscribe/{subscriptionId}": {
      "delete": {
        "operationId": "unsubscribeWebhook",
        "summary": "Unsubscribe from a webhook",
        "description": "Remove an existing webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Subscription ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription removed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/samples/event-ended": {
      "get": {
        "operationId": "getWebhookSample",
        "summary": "Get webhook sample data",
        "description": "Retrieve sample webhook payload for the event-ended event type.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Sample webhook payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "integer",
            "description": "Unique event identifier"
          },
          "event_name": {
            "type": "string",
            "description": "Name of the event"
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event start date and time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event end date and time"
          },
          "timezone": {
            "type": "string",
            "description": "Event timezone"
          },
          "event_type": {
            "type": "string",
            "description": "Type of event"
          },
          "registered_users_count": {
            "type": "integer",
            "description": "Number of registered users"
          },
          "attended_users_count": {
            "type": "integer",
            "description": "Number of attended users"
          },
          "location": {
            "type": "string",
            "description": "Event location"
          },
          "event_days": {
            "type": "integer",
            "description": "Number of event days"
          }
        }
      },
      "Course": {
        "type": "object",
        "properties": {
          "course_id": {
            "type": "integer",
            "description": "Unique course identifier"
          },
          "course_name": {
            "type": "string",
            "description": "Name of the course"
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "description": "Course start date and time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "description": "Course end date and time"
          },
          "timezone": {
            "type": "string",
            "description": "Course timezone"
          },
          "registered_users_count": {
            "type": "integer",
            "description": "Number of registered users"
          }
        }
      },
      "EventUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Registration ID"
          },
          "user_id": {
            "type": "integer",
            "description": "User ID"
          },
          "name": {
            "type": "string",
            "description": "User full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "evaluation": {
            "type": "string",
            "description": "Evaluation status"
          },
          "status": {
            "type": "string",
            "description": "Registration status"
          },
          "address": {
            "type": "string",
            "description": "User address"
          },
          "license": {
            "type": "string",
            "description": "License number"
          },
          "registered_at": {
            "type": "string",
            "format": "date-time",
            "description": "Registration date and time"
          }
        }
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "required": [
          "target_url",
          "event"
        ],
        "properties": {
          "target_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notifications"
          },
          "event": {
            "type": "string",
            "description": "Event type to subscribe to"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subscription ID"
          },
          "target_url": {
            "type": "string",
            "description": "Webhook target URL"
          },
          "event": {
            "type": "string",
            "description": "Subscribed event type"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Event management operations"
    },
    {
      "name": "Courses",
      "description": "Course management operations"
    },
    {
      "name": "Users",
      "description": "User registration operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    }
  ]
}