{
  "openapi": "3.0.3",
  "info": {
    "title": "ChatBot API",
    "version": "2.0.0",
    "description": "ChatBot API allows you to manage chatbot stories, users, and access conversation reports. Stories are conversation scenarios between customers and the bot. Users represent the people who chat with the bot.",
    "x-jentic-source-url": "https://www.chatbot.com/docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.chatbot.com",
      "description": "ChatBot API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Stories",
      "description": "Manage chatbot stories"
    },
    {
      "name": "Users",
      "description": "Manage chatbot users"
    },
    {
      "name": "Reports",
      "description": "Access conversation reports"
    }
  ],
  "paths": {
    "/v2/stories": {
      "get": {
        "operationId": "listStories",
        "summary": "List all stories",
        "description": "Returns a list of all stories on your account.",
        "tags": [
          "Stories"
        ],
        "responses": {
          "200": {
            "description": "List of stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StorySummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createStory",
        "summary": "Create new story",
        "description": "Creates a new ChatBot story on your account.",
        "tags": [
          "Stories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Story created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stories/{storyId}": {
      "get": {
        "operationId": "getStory",
        "summary": "Get single story",
        "description": "Returns a single story content.",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "storyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Story details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Story"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateStory",
        "summary": "Update existing story",
        "description": "Updates your ChatBot story metadata.",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "storyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Story ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Story updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteStory",
        "summary": "Delete story",
        "description": "Deletes story with selected ID.",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "storyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Story deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List all users",
        "description": "Returns list of User objects.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 40
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "sort[field]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "lastSeen"
              ]
            }
          },
          {
            "name": "sort[order]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "match",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "any"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create user",
        "description": "Creates new user.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get single user",
        "description": "Returns single User details.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update user",
        "description": "Update User data.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete user",
        "description": "Delete single user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/segments": {
      "post": {
        "operationId": "addUserSegments",
        "summary": "Add segments to user",
        "description": "Adds one or more segments to User.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of segment IDs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segments added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateUserSegments",
        "summary": "Update segments",
        "description": "Override user segments.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of segment IDs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segments updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeUserSegments",
        "summary": "Remove segments",
        "description": "Removes one or more segments from User.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of segment IDs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segments removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/ban": {
      "put": {
        "operationId": "banUser",
        "summary": "Ban or unban user",
        "description": "Marks User as banned or unbanned.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "banned"
                ],
                "properties": {
                  "banned": {
                    "type": "boolean",
                    "description": "Whether to ban or unban the user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User ban status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/export": {
      "post": {
        "operationId": "exportUsers",
        "summary": "Export users",
        "description": "Streams CSV rows of user data.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportUsersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV stream of user data",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/conversations": {
      "get": {
        "operationId": "getConversationsReport",
        "summary": "Get conversations report",
        "description": "Returns list of conversation data points.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last7days",
                "last30days",
                "thisMonth",
                "lastMonth",
                "last3Months",
                "thisYear",
                "lastYear"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "year",
                "month",
                "day",
                "hour"
              ]
            },
            "description": "Time dimension"
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group by storyId or source"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "messenger",
                "livechat",
                "livechat3",
                "slack",
                "widget",
                "app",
                "custom"
              ]
            },
            "description": "Filter by source"
          },
          {
            "name": "storyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/conversations.paid": {
      "get": {
        "operationId": "getPaidConversationsReport",
        "summary": "Get paid conversations report",
        "description": "Returns list of paid conversation data points.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last7days",
                "last30days",
                "thisMonth",
                "lastMonth",
                "last3Months",
                "thisYear",
                "lastYear"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "year",
                "month",
                "day",
                "hour"
              ]
            },
            "description": "Time dimension"
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group by storyId or source"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "messenger",
                "livechat",
                "livechat3",
                "slack",
                "widget",
                "app",
                "custom"
              ]
            },
            "description": "Filter by source"
          },
          {
            "name": "storyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/conversations.messages": {
      "get": {
        "operationId": "getConversationMessagesReport",
        "summary": "Get conversation messages report",
        "description": "Returns list of conversation message data points.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last7days",
                "last30days",
                "thisMonth",
                "lastMonth",
                "last3Months",
                "thisYear",
                "lastYear"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "year",
                "month",
                "day",
                "hour"
              ]
            },
            "description": "Time dimension"
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group by storyId or source"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "messenger",
                "livechat",
                "livechat3",
                "slack",
                "widget",
                "app",
                "custom"
              ]
            },
            "description": "Filter by source"
          },
          {
            "name": "storyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/conversations.avg": {
      "get": {
        "operationId": "getAverageConversationsReport",
        "summary": "Get average conversations report",
        "description": "Returns list of average conversation data points.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last7days",
                "last30days",
                "thisMonth",
                "lastMonth",
                "last3Months",
                "thisYear",
                "lastYear"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "year",
                "month",
                "day",
                "hour"
              ]
            },
            "description": "Time dimension"
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group by storyId or source"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "messenger",
                "livechat",
                "livechat3",
                "slack",
                "widget",
                "app",
                "custom"
              ]
            },
            "description": "Filter by source"
          },
          {
            "name": "storyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/conversations.heatmap": {
      "get": {
        "operationId": "getBusiestPeriodReport",
        "summary": "Get busiest period report",
        "description": "Returns busiest period heatmap data.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last7days",
                "last30days",
                "thisMonth",
                "lastMonth",
                "last3Months",
                "thisYear",
                "lastYear"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -720,
              "maximum": 720,
              "default": 0
            },
            "description": "Timezone offset in minutes"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "messenger",
                "livechat",
                "livechat3",
                "slack",
                "widget",
                "app",
                "custom"
              ]
            },
            "description": "Filter by source"
          },
          {
            "name": "storyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeatmapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/conversations.interactions": {
      "get": {
        "operationId": "getInteractionsPopularityReport",
        "summary": "Get interactions popularity report",
        "description": "Returns list of interactions with usage data.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last7days",
                "last30days",
                "thisMonth",
                "lastMonth",
                "last3Months",
                "thisYear",
                "lastYear"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "year",
                "month",
                "day",
                "hour"
              ]
            },
            "description": "Time dimension"
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group by storyId or source"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "messenger",
                "livechat",
                "livechat3",
                "slack",
                "widget",
                "app",
                "custom"
              ]
            },
            "description": "Filter by source"
          },
          {
            "name": "storyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by story ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Developer access token"
      }
    },
    "schemas": {
      "StorySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Story ID"
          },
          "name": {
            "type": "string",
            "description": "Story name"
          },
          "description": {
            "type": "string",
            "description": "Story description"
          },
          "version": {
            "type": "integer",
            "description": "Story version"
          },
          "published": {
            "type": "boolean",
            "description": "Whether story is published"
          },
          "integrations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of integrations"
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Story": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "published": {
            "type": "boolean"
          },
          "integrations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "settings": {
            "$ref": "#/components/schemas/StorySettings"
          },
          "state": {
            "type": "object"
          },
          "history": {
            "type": "object",
            "properties": {
              "undo": {
                "type": "boolean"
              },
              "redo": {
                "type": "boolean"
              }
            }
          },
          "diagram": {
            "$ref": "#/components/schemas/DiagramNode"
          }
        }
      },
      "StorySettings": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "number",
            "format": "float"
          },
          "language": {
            "type": "string"
          },
          "compact": {
            "type": "boolean"
          },
          "ignoreAttachments": {
            "type": "boolean"
          },
          "navigation": {
            "type": "string"
          }
        }
      },
      "DiagramNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagramNode"
            }
          }
        }
      },
      "CreateStoryRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Story name"
          },
          "description": {
            "type": "string",
            "description": "Story description"
          }
        }
      },
      "UserAttributes": {
        "type": "object",
        "properties": {
          "default_email": {
            "type": "string"
          },
          "default_name": {
            "type": "string"
          },
          "default_url": {
            "type": "string"
          },
          "default_avatar": {
            "type": "string"
          },
          "default_language": {
            "type": "string"
          },
          "default_timezone": {
            "type": "string"
          },
          "default_gender": {
            "type": "string"
          },
          "default_ip": {
            "type": "string"
          },
          "default_city": {
            "type": "string"
          },
          "default_region": {
            "type": "string"
          },
          "default_country": {
            "type": "string"
          },
          "default_referrer": {
            "type": "string"
          },
          "default_username": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "UserSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "banned": {
            "type": "boolean"
          },
          "attributes": {
            "$ref": "#/components/schemas/UserAttributes"
          },
          "conversations": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "banned": {
            "type": "boolean"
          },
          "attributes": {
            "$ref": "#/components/schemas/UserAttributes"
          },
          "sessionAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "conversations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date-time"
                },
                "firstMessage": {
                  "type": "string"
                }
              }
            }
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UsersListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserSummary"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": [
          "attributes"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "description": "User ID (not required when default_email is provided)"
          },
          "segments": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Segment ID or array of segment IDs"
          },
          "attributes": {
            "$ref": "#/components/schemas/UserAttributes"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "required": [
          "attributes"
        ],
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/UserAttributes"
          }
        }
      },
      "ExportUsersRequest": {
        "type": "object",
        "properties": {
          "sort": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "enum": [
                  "createdAt",
                  "lastSeen"
                ]
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            }
          },
          "match": {
            "type": "string",
            "enum": [
              "all",
              "any"
            ]
          },
          "users": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of user IDs (max 1000). Not allowed with filters/match."
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "default_name",
                "default_email",
                "createdAt",
                "lastSeen",
                "default_source",
                "default_url",
                "userId",
                "default_avatar",
                "default_language",
                "default_timezone",
                "default_gender",
                "default_ip",
                "default_city",
                "default_region",
                "default_country",
                "default_referrer",
                "default_username"
              ]
            }
          }
        }
      },
      "ReportDataPoint": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "ReportSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "min": {
            "type": "number"
          },
          "max": {
            "type": "number"
          },
          "avg": {
            "type": "number"
          }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportDataPoint"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/ReportSummary"
          }
        }
      },
      "HeatmapResponse": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "day": {
                "type": "integer"
              },
              "hour": {
                "type": "integer"
              },
              "value": {
                "type": "integer"
              },
              "usage": {
                "type": "number"
              }
            }
          }
        }
      },
      "InteractionsResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "parentId": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "usage": {
              "type": "number"
            },
            "value": {
              "type": "integer"
            }
          }
        }
      },
      "CreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      }
    }
  }
}
