{
  "swagger": "2.0",
  "info": {
    "description": "Ambev MES Integration\nMethods:\n  \u2022 Apontamento Mip\n  \u2022 Apontamento Producao\n  \u2022 Movimentos Pendentes\n  \u2022 Producao\n",
    "version": "1.0.0",
    "title": "Ambev PO7.5 MES Integration",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Partner evt/IT",
      "email": "contato@evtit.com",
      "url": "http://www.evtit.com/"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/evt-Ambev_Fabr/Ambev_PO7.5_MES/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Developer: Daniel G. Alexandre",
    "url": "mailto:daniel.dgatech@gmail.com"
  },
  "host": "sappodev.la.interbrew.net:50000",
  "basePath": "/RESTAdapter",
  "tags": [
    {
      "name": "MES",
      "description": "Everything about MES integration for Ambev"
    },
    {
      "name": "mes"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/mes/ApontamentoMip": {
      "post": {
        "tags": [
          "mes"
        ],
        "summary": "Dados de Apontamentos MIP",
        "operationId": "mesPostApontamentoMip_OB_Sync",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApontamentoMip_req"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/postApontamentoMip_res"
            }
          },
          "400": {
            "description": "bad request",
            "schema": {
              "$ref": "#/definitions/postApontamentoMip_exc"
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "description": "Dados de Apontamentos MIP"
      }
    },
    "/v1/mes/ApontamentoProducao": {
      "post": {
        "tags": [
          "mes"
        ],
        "summary": "Dados de Apontamentos",
        "operationId": "mesPostApontamentoProducao_OB_Sync",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApontamentoProducao_req"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/postApontamentoProducao_res"
            }
          },
          "400": {
            "description": "bad request",
            "schema": {
              "$ref": "#/definitions/postApontamentoProducao_exc"
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "description": "Dados de Apontamentos"
      }
    },
    "/v1/mes/MovimentosPendentes": {
      "post": {
        "tags": [
          "mes"
        ],
        "summary": "Dados de Movimenta\u00e7\u00f5es",
        "operationId": "mesPostMovimentosPendentes_OB_Sync",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postMovimentosPendentes_req"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/postMovimentosPendentes_res"
            }
          },
          "400": {
            "description": "bad request",
            "schema": {
              "$ref": "#/definitions/postMovimentosPendentes_exc"
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "description": "Dados de Movimenta\u00e7\u00f5es"
      }
    },
    "/v1/mes/Producao": {
      "post": {
        "tags": [
          "mes"
        ],
        "summary": "Dados de Producao",
        "operationId": "mesPostProducao_OB_Sync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postProducao_req"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/postProducao_res"
            }
          },
          "400": {
            "description": "bad request",
            "schema": {
              "$ref": "#/definitions/postProducao_exc"
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "description": "Dados de Producao"
      }
    }
  },
  "securityDefinitions": {
    "po75_auth": {
      "type": "basic"
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "postApontamentoMip_req": {
      "title": "postApontamentoMip_req",
      "description": "",
      "type": "object",
      "properties": {
        "CENTROCUSTO": {
          "description": "Centro de custo",
          "type": "string",
          "maxLength": 10
        },
        "CENTROPRODUCAO": {
          "description": "Centro",
          "type": "string",
          "maxLength": 4
        },
        "CONTARAZAO": {
          "description": "N\u00ba conta do Raz\u00e3o",
          "type": "string",
          "maxLength": 10
        },
        "DATA_LANC": {
          "description": "Posting Date in the Document",
          "type": "string",
          "format": "date"
        },
        "DEPOSITO": {
          "description": "Dep\u00f3sito",
          "type": "string",
          "maxLength": 4
        },
        "DIVISAO": {
          "description": "Divis\u00e3o",
          "type": "string",
          "maxLength": 4
        },
        "LOTE": {
          "description": "N\u00famero do lote",
          "type": "string",
          "maxLength": 10
        },
        "MATERIAL": {
          "description": "Texto breve de material com denom.campo 'Material'",
          "type": "string",
          "maxLength": 40
        },
        "QUANTIDADE": {
          "description": "Quantidade na unidade de medida do registro",
          "type": "string",
          "maxLength": 40
        }
      },
      "xml": {
        "name": "postApontamentoMip_req"
      }
    },
    "postApontamentoMip_res": {
      "title": "postApontamentoMip_res",
      "description": "",
      "type": "object",
      "properties": {
        "RETORNO": {
          "description": "Retorno",
          "type": "string"
        }
      },
      "xml": {
        "name": "postApontamentoMip_res"
      }
    },
    "postApontamentoMip_exc": {
      "type": "object",
      "properties": {
        "standard": {
          "type": "object",
          "properties": {
            "faultText": {
              "type": "string"
            },
            "faultUrl": {
              "type": "string"
            },
            "faultDetail": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/faultDetail_list"
              }
            }
          }
        },
        "aditional": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string"
            },
            "Text": {
              "type": "string"
            },
            "Message": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string"
                },
                "Number": {
                  "type": "string"
                }
              }
            },
            "Attributes": {
              "type": "object",
              "properties": {
                "V1": {
                  "type": "string"
                },
                "V2": {
                  "type": "string"
                },
                "V3": {
                  "type": "string"
                },
                "V4": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "postApontamentoMip_exc"
      }
    },
    "postApontamentoProducao_req": {
      "title": "postApontamentoProducao_req",
      "description": "",
      "type": "object",
      "properties": {
        "CENTROPRODUCAO": {
          "description": "Centro de Producao",
          "type": "string",
          "maxLength": 4
        },
        "CONFIRMACAO_PARCIAL": {
          "description": "Single-Character Indicator",
          "type": "string",
          "maxLength": 1
        },
        "DATAFIM": {
          "description": "Data-base do fim",
          "type": "string",
          "format": "date"
        },
        "DATAINICIO": {
          "description": "Data de Inicio",
          "type": "string",
          "format": "date"
        },
        "DATALANCAMENTO": {
          "description": "Data de Lancamento",
          "type": "string",
          "format": "date"
        },
        "DATAVENCIMENTO": {
          "description": "Data de Vencimento",
          "type": "string",
          "format": "date"
        },
        "DEPOSITO": {
          "description": "Dep\u00f3sito",
          "type": "string",
          "maxLength": 4
        },
        "ID_USUARIO_MES": {
          "description": "Character Field Length = 10",
          "type": "string",
          "maxLength": 10
        },
        "LOTE": {
          "description": "N\u00famero do lote",
          "type": "string",
          "maxLength": 10
        },
        "MATERIAL": {
          "description": "Codigo do Material",
          "type": "string",
          "maxLength": 18
        },
        "NUMERO_DA_ORDEM": {
          "description": "Numero da Ordem",
          "type": "string",
          "maxLength": 12
        },
        "QUANTIDADE": {
          "description": "Quantidade Mestre",
          "type": "number",
          "format": "double"
        },
        "QUANTIDADE_PARCIAL": {
          "description": "Quantidade Parcial",
          "type": "number",
          "format": "double"
        },
        "TIPORDEM": {
          "description": "Tipo de ordem para ordens de produ\u00e7\u00e3o",
          "type": "string",
          "maxLength": 4
        },
        "T_MOTIVO_WORKFLOW": {
          "$ref": "#/definitions/T_MOTIVO_WORKFLOW"
        },
        "VERSAO": {
          "description": "Vers\u00e3o de produ\u00e7\u00e3o",
          "type": "string",
          "maxLength": 4
        },
        "T_LISTATECNICA": {
          "$ref": "#/definitions/T_LISTATECNICA"
        },
        "T_TRATAMENTOERROS": {
          "$ref": "#/definitions/T_TRATAMENTOERROS"
        }
      },
      "xml": {
        "name": "postApontamentoProducao_req"
      }
    },
    "postApontamentoProducao_res": {
      "title": "postApontamentoProducao_res",
      "description": "",
      "type": "object",
      "properties": {
        "DESCRICAO": {
          "description": "Descricao do Processamento",
          "type": "string"
        },
        "ORDEMCRIADA": {
          "description": "Coment\u00e1rio",
          "type": "string"
        },
        "T_LISTATECNICA": {
          "$ref": "#/definitions/T_LISTATECNICA"
        },
        "T_TRATAMENTOERROS": {
          "$ref": "#/definitions/T_TRATAMENTOERROS"
        }
      },
      "xml": {
        "name": "postApontamentoProducao_res"
      }
    },
    "postApontamentoProducao_exc": {
      "type": "object",
      "properties": {
        "standard": {
          "type": "object",
          "properties": {
            "faultText": {
              "type": "string"
            },
            "faultUrl": {
              "type": "string"
            },
            "faultDetail": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/faultDetail_list"
              }
            }
          }
        },
        "aditional": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string"
            },
            "Text": {
              "type": "string"
            },
            "Message": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string"
                },
                "Number": {
                  "type": "string"
                }
              }
            },
            "Attributes": {
              "type": "object",
              "properties": {
                "V1": {
                  "type": "string"
                },
                "V2": {
                  "type": "string"
                },
                "V3": {
                  "type": "string"
                },
                "V4": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "postApontamentoProducao_exc"
      }
    },
    "postMovimentosPendentes_req": {
      "type": "object",
      "properties": {
        "CENTROPRODUCAO": {
          "type": "string",
          "maxLength": 4
        },
        "DATAFIM": {
          "type": "string",
          "format": "date"
        },
        "DATAINICIO": {
          "type": "string",
          "format": "date"
        },
        "DATALANCAMENTO": {
          "type": "string",
          "format": "date"
        },
        "DATAVENCIMENTO": {
          "type": "string",
          "format": "date"
        },
        "DEPOSITO": {
          "type": "string",
          "maxLength": 4
        },
        "LOTE": {
          "type": "string",
          "maxLength": 10
        },
        "MATERIAL": {
          "type": "string",
          "maxLength": 18
        },
        "QUANTIDADE": {
          "type": "number",
          "format": "double"
        },
        "TIPORDEM": {
          "type": "string",
          "maxLength": 4
        },
        "VERSAO": {
          "type": "string",
          "maxLength": 4
        },
        "T_LISTATECNICA": {
          "$ref": "#/definitions/T_LISTATECNICA"
        },
        "T_LOG": {
          "$ref": "#/definitions/T_LOG"
        }
      },
      "xml": {
        "name": "postMovimentosPendentes_req"
      }
    },
    "postMovimentosPendentes_res": {
      "type": "object",
      "properties": {
        "DESCRICAO": {
          "type": "string"
        },
        "ORDEMCRIADA": {
          "type": "string"
        },
        "T_LOGWORKFLOW": {
          "$ref": "#/definitions/T_LOGWORKFLOW"
        },
        "T_LOG_ERRO": {
          "$ref": "#/definitions/T_LOG_ERRO"
        },
        "T_LISTATECNICA": {
          "$ref": "#/definitions/T_LISTATECNICA"
        },
        "T_LOG": {
          "$ref": "#/definitions/T_LOG"
        }
      },
      "xml": {
        "name": "postMovimentosPendentes_res"
      }
    },
    "postMovimentosPendentes_exc": {
      "type": "object",
      "properties": {
        "standard": {
          "type": "object",
          "properties": {
            "faultText": {
              "type": "string"
            },
            "faultUrl": {
              "type": "string"
            },
            "faultDetail": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/faultDetail_list"
              }
            }
          }
        },
        "aditional": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string"
            },
            "Text": {
              "type": "string"
            },
            "Message": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string"
                },
                "Number": {
                  "type": "string"
                }
              }
            },
            "Attributes": {
              "type": "object",
              "properties": {
                "V1": {
                  "type": "string"
                },
                "V2": {
                  "type": "string"
                },
                "V3": {
                  "type": "string"
                },
                "V4": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "postMovimentosPendentes_exc"
      }
    },
    "postProducao_req": {
      "type": "object",
      "properties": {
        "CENT": {
          "type": "string",
          "description": "Centro"
        },
        "DEPO": {
          "type": "string",
          "description": "Deposito"
        },
        "LOTE": {
          "type": "string",
          "description": "Numero do Lote"
        },
        "MATE": {
          "type": "string",
          "description": "Codigo do Material"
        },
        "MATERIAL": {
          "type": "object",
          "properties": {
            "item": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ZPPPROD"
              }
            }
          }
        }
      },
      "xml": {
        "name": "postProducao_req"
      }
    },
    "postProducao_res": {
      "type": "object",
      "properties": {
        "MATERIAL": {
          "type": "object",
          "properties": {
            "item": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ZPPPROD"
              }
            }
          }
        }
      },
      "xml": {
        "name": "postProducao_res"
      }
    },
    "postProducao_exc": {
      "type": "object",
      "properties": {
        "standard": {
          "type": "object",
          "properties": {
            "faultText": {
              "type": "string"
            },
            "faultUrl": {
              "type": "string"
            },
            "faultDetail": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/faultDetail_list"
              }
            }
          }
        },
        "aditional": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string"
            },
            "Text": {
              "type": "string"
            },
            "Message": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string"
                },
                "Number": {
                  "type": "string"
                }
              }
            },
            "Attributes": {
              "type": "object",
              "properties": {
                "V1": {
                  "type": "string"
                },
                "V2": {
                  "type": "string"
                },
                "V3": {
                  "type": "string"
                },
                "V4": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "postProducao_exc"
      }
    },
    "T_LOG_ERRO": {
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ZEPM_LOG_ERRO"
          }
        }
      }
    },
    "ZEPM_LOG_ERRO": {
      "type": "object",
      "properties": {
        "MATERIAL": {
          "description": "Material Number",
          "type": "string",
          "maxLength": 18
        },
        "DENOMINACAO": {
          "description": "Material Description (Short Text)",
          "type": "string",
          "maxLength": 40
        },
        "COD_ERRO": {
          "type": "integer",
          "format": "int32"
        },
        "ERRO": {
          "type": "string",
          "maxLength": 50
        }
      }
    },
    "T_LOGWORKFLOW": {
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ZEPM_LOG_WORKFLOW"
          }
        }
      }
    },
    "ZEPM_LOG_WORKFLOW": {
      "type": "object",
      "properties": {
        "MATERIAL": {
          "description": "Material Number",
          "type": "string",
          "maxLength": 18
        },
        "DENOMINACAO": {
          "description": "Material Description (Short Text)",
          "type": "string",
          "maxLength": 40
        },
        "PERC_MAXIMO": {
          "type": "number",
          "format": "double"
        },
        "MAXIMO_PERMITIDO": {
          "description": "Quantity in Unit of Entry",
          "type": "number",
          "format": "double"
        },
        "QTD_WF": {
          "description": "Quantity in Unit of Entry",
          "type": "number",
          "format": "double"
        }
      }
    },
    "T_LISTATECNICA": {
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/STPOX"
          }
        }
      }
    },
    "T_LOG": {
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ZEPM_LOG_ESTOQ_PEND"
          }
        }
      }
    },
    "STPOX": {
      "type": "object",
      "properties": {
        "STUFE": {
          "description": "Level (in multi-level BOM explosions)",
          "type": "number",
          "format": "double"
        },
        "WEGXX": {
          "description": "Path (Predecessor)",
          "type": "number",
          "format": "double"
        },
        "BMTYP": {
          "description": "BOM category",
          "type": "string",
          "maxLength": 1
        },
        "TTIDX": {
          "description": "Index in category table",
          "type": "integer",
          "format": "int32"
        },
        "VWEGX": {
          "description": "Path (for multi-level BOM explosions)",
          "type": "number",
          "format": "double"
        },
        "OJTXB": {
          "description": "Object description (assembly)",
          "type": "string",
          "maxLength": 40
        },
        "BAUSF": {
          "description": "Assembly Scrap Used (in Percent)",
          "type": "number",
          "format": "double"
        },
        "STLAN": {
          "description": "BOM Usage",
          "type": "string",
          "maxLength": 1
        },
        "STLAL": {
          "description": "Alternative BOM",
          "type": "string",
          "maxLength": 2
        },
        "ALTST": {
          "type": "string",
          "maxLength": 1
        },
        "VARST": {
          "type": "string",
          "maxLength": 1
        },
        "KBAUS": {
          "type": "string",
          "maxLength": 1
        },
        "LOEKZ": {
          "description": "Deletion Indicator (Header)",
          "type": "string",
          "maxLength": 1
        },
        "OJTXP": {
          "description": "Object description (item)",
          "type": "string",
          "maxLength": 40
        },
        "MTART": {
          "description": "Material Type",
          "type": "string",
          "maxLength": 4
        },
        "WERKS": {
          "description": "Plant",
          "type": "string",
          "maxLength": 4
        },
        "VERID": {
          "description": "Production Version",
          "type": "string",
          "maxLength": 4
        },
        "VPSTA": {
          "description": "Maintenance status of complete material",
          "type": "string",
          "maxLength": 15
        },
        "FSTAT": {
          "description": "Maintenance status",
          "type": "string",
          "maxLength": 15
        },
        "MMEIN": {
          "description": "Base Unit of Measure",
          "type": "string",
          "maxLength": 3
        },
        "BWTTY": {
          "description": "Valuation Category",
          "type": "string",
          "maxLength": 1
        },
        "VPRSV": {
          "description": "Price control indicator",
          "type": "string",
          "maxLength": 1
        },
        "STPRS": {
          "description": "Standard price",
          "type": "number",
          "format": "double"
        },
        "VERPR": {
          "description": "Moving Average Price/Periodic Unit Price",
          "type": "number",
          "format": "double"
        },
        "PREIH": {
          "description": "Price Unit (Compoonent Material)",
          "type": "number",
          "format": "double"
        },
        "SBDKZ": {
          "description": "Dependent requirements ind. for individual and coll. reqmts",
          "type": "string",
          "maxLength": 1
        },
        "XCHAR": {
          "description": "Batch management indicator (internal)",
          "type": "string",
          "maxLength": 1
        },
        "KZECH": {
          "description": "Determination of batch entry in the production/process order",
          "type": "string",
          "maxLength": 1
        },
        "KZWSM": {
          "description": "Units of measure usage",
          "type": "string",
          "maxLength": 1
        },
        "MMSTA": {
          "description": "Plant-Specific Material Status",
          "type": "string",
          "maxLength": 2
        },
        "MMSTD": {
          "description": "Date from which the plant-specific material status is valid",
          "type": "string",
          "format": "date"
        },
        "MSTAE": {
          "description": "Cross-Plant Material Status",
          "type": "string",
          "maxLength": 2
        },
        "MSTDE": {
          "description": "Date from which the cross-plant material status is valid",
          "type": "string",
          "format": "date"
        },
        "ZEINR": {
          "description": "Document number (without document management system)",
          "type": "string",
          "maxLength": 22
        },
        "ZEIVR": {
          "description": "Document version (without Document Management system)",
          "type": "string",
          "maxLength": 2
        },
        "ZEIAR": {
          "description": "Document type (without Document Management system)",
          "type": "string",
          "maxLength": 3
        },
        "ZEIFO": {
          "description": "Page format of document (without Document Management system)",
          "type": "string",
          "maxLength": 4
        },
        "BLATT": {
          "description": "Page number of document (without Document Management system)",
          "type": "string",
          "maxLength": 3
        },
        "BLANZ": {
          "description": "Number of sheets (without Document Management system)",
          "type": "string",
          "maxLength": 3,
          "pattern": "\\\\d+"
        },
        "DISST": {
          "description": "Low-Level Code",
          "type": "string",
          "maxLength": 3
        },
        "DISMM": {
          "description": "MRP Type",
          "type": "string",
          "maxLength": 2
        },
        "SERNP": {
          "description": "Serial Number Profile",
          "type": "string",
          "maxLength": 4
        },
        "MNGLG": {
          "description": "Calculated Component Quantity in Base Unit of Measure",
          "type": "number",
          "format": "double"
        },
        "MNGKO": {
          "description": "Calculated Component Quantity in Component Unit of Measure",
          "type": "number",
          "format": "double"
        },
        "MSIGN": {
          "description": "+/- sign",
          "type": "string",
          "maxLength": 1
        },
        "AUSSS": {
          "description": "Assembly Scrap (Component Material)",
          "type": "number",
          "format": "double"
        },
        "KAUSF": {
          "description": "Component Scrap (Component Material)",
          "type": "number",
          "format": "double"
        },
        "SOBSL": {
          "description": "Special procurement type",
          "type": "string",
          "maxLength": 2
        },
        "SOBSK": {
          "description": "Special Procurement Type for Costing",
          "type": "string",
          "maxLength": 2
        },
        "KZAUS": {
          "description": "Discontinuation indicator",
          "type": "string",
          "maxLength": 1
        },
        "AUSDT": {
          "description": "Effective-Out Date",
          "type": "string",
          "format": "date"
        },
        "NFMAT": {
          "description": "Follow-Up Material",
          "type": "string",
          "maxLength": 18
        },
        "RGEKZ": {
          "type": "string",
          "maxLength": 1
        },
        "KZDKZ": {
          "description": "Documentation required indicator",
          "type": "string",
          "maxLength": 1
        },
        "UMREZ": {
          "description": "Numerator for Conversion to Base Units of Measure",
          "type": "number",
          "format": "double"
        },
        "UMREN": {
          "description": "Denominator for conversion to base units of measure",
          "type": "number",
          "format": "double"
        },
        "LGPRO": {
          "description": "Issue Storage Location",
          "type": "string",
          "maxLength": 4
        },
        "PRCTR": {
          "description": "Profit Center",
          "type": "string",
          "maxLength": 10
        },
        "REVLV": {
          "description": "Revision Level",
          "type": "string",
          "maxLength": 2
        },
        "KZEFF": {
          "description": "Assign effectivity parameter values/ override change numbers",
          "type": "string",
          "maxLength": 1
        },
        "KZKFG": {
          "description": "Configurable Material",
          "type": "string",
          "maxLength": 1
        },
        "MCUOB": {
          "description": "Configuration (Material Variants)",
          "type": "string",
          "maxLength": 18,
          "pattern": "\\\\d+"
        },
        "CUOBJ": {
          "description": "Configuration (internal object number)",
          "type": "string",
          "maxLength": 18,
          "pattern": "\\\\d+"
        },
        "NCONF": {
          "description": "Configured on multiple levels",
          "type": "string",
          "maxLength": 1
        },
        "FBSKZ": {
          "description": "procured externally",
          "type": "string",
          "maxLength": 1
        },
        "STAWN": {
          "description": "Commodity Code/Import Code Number for Foreign Trade",
          "type": "string",
          "maxLength": 17
        },
        "PREFE": {
          "description": "Preference indicator in export/import",
          "type": "string",
          "maxLength": 1
        },
        "MSCHG": {
          "description": "Bulk Material (Component Material)",
          "type": "string",
          "maxLength": 1
        },
        "FXPRU": {
          "description": "Fixed-Price Co-Product",
          "type": "string",
          "maxLength": 1
        },
        "MATMK": {
          "description": "Material Group",
          "type": "string",
          "maxLength": 9
        },
        "STABK": {
          "description": "Status of a document (language-dependent)",
          "type": "string",
          "maxLength": 2
        },
        "DOSTX": {
          "description": "Description of document status",
          "type": "string",
          "maxLength": 16
        },
        "STLTY": {
          "description": "BOM category",
          "type": "string",
          "maxLength": 1
        },
        "STLNR": {
          "description": "Bill of material",
          "type": "string",
          "maxLength": 8
        },
        "STLKN": {
          "description": "BOM item node number",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "STPOZ": {
          "description": "Internal counter",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "STVKN": {
          "description": "Inherited node number of BOM item",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "DATUV": {
          "description": "Valid-from/to date",
          "type": "string",
          "format": "date"
        },
        "TECHV": {
          "description": "Technical status from",
          "type": "string",
          "maxLength": 12
        },
        "AENNR": {
          "description": "Change Number",
          "type": "string",
          "maxLength": 12
        },
        "ANDAT": {
          "description": "Date record created on",
          "type": "string",
          "format": "date"
        },
        "ANNAM": {
          "description": "User who created record",
          "type": "string",
          "maxLength": 12
        },
        "AEDAT": {
          "description": "Changed On",
          "type": "string",
          "format": "date"
        },
        "AENAM": {
          "description": "Name of Person Who Changed Object",
          "type": "string",
          "maxLength": 12
        },
        "IDNRK": {
          "description": "BOM component",
          "type": "string",
          "maxLength": 18
        },
        "PSWRK": {
          "description": "Issuing plant",
          "type": "string",
          "maxLength": 4
        },
        "POSTP": {
          "description": "Item category",
          "type": "string",
          "maxLength": 1
        },
        "POSNR": {
          "description": "BOM Item Number",
          "type": "string",
          "maxLength": 4
        },
        "SORTF": {
          "description": "Sort String",
          "type": "string",
          "maxLength": 10
        },
        "MEINS": {
          "description": "Component unit of measure",
          "type": "string",
          "maxLength": 3
        },
        "MENGE": {
          "description": "Component quantity",
          "type": "number",
          "format": "double"
        },
        "FMENG": {
          "description": "Fixed qty",
          "type": "string",
          "maxLength": 1
        },
        "AUSCH": {
          "description": "Component Scrap (Component)",
          "type": "number",
          "format": "double"
        },
        "AVOAU": {
          "description": "Operation scrap",
          "type": "number",
          "format": "double"
        },
        "NETAU": {
          "description": "Net scrap",
          "type": "string",
          "maxLength": 1
        },
        "SCHGT": {
          "description": "Bulk Material",
          "type": "string",
          "maxLength": 1
        },
        "BEIKZ": {
          "description": "Material Provision Indicator",
          "type": "string",
          "maxLength": 1
        },
        "ERSKZ": {
          "description": "spare part",
          "type": "string",
          "maxLength": 1
        },
        "RVREL": {
          "description": "item relevant to sales",
          "type": "string",
          "maxLength": 1
        },
        "SANFE": {
          "description": "item relevant to production",
          "type": "string",
          "maxLength": 1
        },
        "SANIN": {
          "description": "item relevant to plant maintenance",
          "type": "string",
          "maxLength": 1
        },
        "SANKA": {
          "description": "Indicator for Relevancy to Costing",
          "type": "string",
          "maxLength": 1
        },
        "SANKO": {
          "description": "item relevant to engineering",
          "type": "string",
          "maxLength": 1
        },
        "SANVS": {
          "description": "high-level configuration",
          "type": "string",
          "maxLength": 1
        },
        "STKKZ": {
          "description": "PM assembly indicator",
          "type": "string",
          "maxLength": 1
        },
        "REKRI": {
          "description": "BOM is recursive",
          "type": "string",
          "maxLength": 1
        },
        "REKRS": {
          "description": "recursiveness allowed",
          "type": "string",
          "maxLength": 1
        },
        "CADPO": {
          "description": "CAD Indicator",
          "type": "string",
          "maxLength": 1
        },
        "NLFZT": {
          "description": "Lead-time offset",
          "type": "number",
          "format": "double"
        },
        "NLFZV": {
          "description": "Lead-time offset for operation",
          "type": "number",
          "format": "double"
        },
        "NLFMV": {
          "description": "Unit for lead-time offset for operation",
          "type": "string",
          "maxLength": 3
        },
        "VERTI": {
          "description": "Distribution key for component consumption",
          "type": "string",
          "maxLength": 4
        },
        "ALPOS": {
          "description": "alternative item",
          "type": "string",
          "maxLength": 1
        },
        "EWAHR": {
          "description": "Usage probability in % (alternative item)",
          "type": "number",
          "format": "double"
        },
        "EKGRP": {
          "description": "Purchasing Group",
          "type": "string",
          "maxLength": 3
        },
        "LIFZT": {
          "description": "Delivery time in days",
          "type": "number",
          "format": "double"
        },
        "LIFNR": {
          "description": "Account Number of Vendor or Creditor",
          "type": "string",
          "maxLength": 10
        },
        "PREIS": {
          "description": "Price",
          "type": "number",
          "format": "double"
        },
        "PEINH": {
          "description": "Price Unit",
          "type": "number",
          "format": "double"
        },
        "WAERS": {
          "description": "Currency Key",
          "type": "string",
          "maxLength": 5
        },
        "SAKTO": {
          "description": "Cost element",
          "type": "string",
          "maxLength": 10
        },
        "ROANZ": {
          "description": "Number of variable-size items",
          "type": "number",
          "format": "double"
        },
        "ROMS1": {
          "description": "Size 1",
          "type": "number",
          "format": "double"
        },
        "ROMS2": {
          "description": "Size 2",
          "type": "number",
          "format": "double"
        },
        "ROMS3": {
          "description": "Size 3",
          "type": "number",
          "format": "double"
        },
        "ROMEI": {
          "description": "Unit of measure for sizes 1 to 3",
          "type": "string",
          "maxLength": 3
        },
        "ROMEN": {
          "description": "Quantity of variable-size item",
          "type": "number",
          "format": "double"
        },
        "RFORM": {
          "description": "Formula key",
          "type": "string",
          "maxLength": 2
        },
        "UPSKZ": {
          "description": "sub-items exist",
          "type": "string",
          "maxLength": 1
        },
        "LTXSP": {
          "description": "The long text was stored in this language",
          "type": "string",
          "maxLength": 1
        },
        "POTX1": {
          "description": "BOM Item Text (Line 1)",
          "type": "string",
          "maxLength": 40
        },
        "POTX2": {
          "description": "BOM item text (line 2)",
          "type": "string",
          "maxLength": 40
        },
        "OBJTY": {
          "description": "Object type (BOM item)",
          "type": "string",
          "maxLength": 1
        },
        "ITMMK": {
          "description": "Material Group",
          "type": "string",
          "maxLength": 9
        },
        "WEBAZ": {
          "description": "Goods Receipt Processing Time in Days",
          "type": "number",
          "format": "double"
        },
        "DOKAR": {
          "description": "Document Type",
          "type": "string",
          "maxLength": 3
        },
        "DOKNR": {
          "description": "Document number",
          "type": "string",
          "maxLength": 25
        },
        "DOKVR": {
          "description": "Document Version",
          "type": "string",
          "maxLength": 2
        },
        "DOKTL": {
          "description": "Document Part",
          "type": "string",
          "maxLength": 3
        },
        "CSSTR": {
          "description": "Average material purity in %",
          "type": "number",
          "format": "double"
        },
        "CLASS": {
          "description": "Class number",
          "type": "string",
          "maxLength": 18
        },
        "KLART": {
          "description": "Class Type",
          "type": "string",
          "maxLength": 3
        },
        "INTRM": {
          "description": "Intra Material",
          "type": "string",
          "maxLength": 18
        },
        "POTPR": {
          "description": "Item Category (Bill of Material)",
          "type": "string",
          "maxLength": 1
        },
        "EKORG": {
          "description": "Purchasing Organization",
          "type": "string",
          "maxLength": 4
        },
        "CLOBK": {
          "description": "Required Component",
          "type": "string",
          "maxLength": 1
        },
        "CLMUL": {
          "description": "Multiple Selection Allowed",
          "type": "string",
          "maxLength": 1
        },
        "CVIEW": {
          "description": "Organizational Area",
          "type": "string",
          "maxLength": 10
        },
        "KNOBJ": {
          "description": "Number of Object with Assigned Dependencies",
          "type": "string",
          "maxLength": 18,
          "pattern": "\\\\d+"
        },
        "LGORT": {
          "description": "Storage Location",
          "type": "string",
          "maxLength": 4
        },
        "PRVBE": {
          "description": "Supply Area",
          "type": "string",
          "maxLength": 10
        },
        "KZKUP": {
          "description": "co-product",
          "type": "string",
          "maxLength": 1
        },
        "DATUB": {
          "description": "Valid-to date",
          "type": "string",
          "format": "date"
        },
        "AENRA": {
          "description": "Change Number To",
          "type": "string",
          "maxLength": 12
        },
        "AMGLG": {
          "description": "Calculated Scrap Quantity in Base Unit of Measure",
          "type": "number",
          "format": "double"
        },
        "AMGKO": {
          "description": "Calculated Scrap Quantity in Component Unit of Measure",
          "type": "number",
          "format": "double"
        },
        "DUMPS": {
          "description": "Phantom item indicator",
          "type": "string",
          "maxLength": 1
        },
        "XTLTY": {
          "description": "BOM Category (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XTLNR": {
          "description": "BOM Number (Next Level)",
          "type": "string",
          "maxLength": 8
        },
        "XTLAN": {
          "description": "BOM Usage (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XTLAL": {
          "description": "BOM Alternative (Next Level)",
          "type": "string",
          "maxLength": 2
        },
        "XISDT": {
          "description": "Indic. History after Date (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XISSR": {
          "description": "Indic. History after Techn. Status (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XMENG": {
          "description": "Bill of Materials Base Quantity (Next Level)",
          "type": "number",
          "format": "double"
        },
        "XMEIN": {
          "description": "Bill of Material Base Unit of Measure (Next Level)",
          "type": "string",
          "maxLength": 3
        },
        "XALTS": {
          "description": "Alternatives (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XVARS": {
          "description": "Indic. Variants (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XKBAU": {
          "description": "Configurable BOM (Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "XLOEK": {
          "description": "Deletion indicator (Header; Next Level)",
          "type": "string",
          "maxLength": 1
        },
        "AUSNM": {
          "description": "Exception",
          "type": "string",
          "maxLength": 4
        },
        "HDNFO": {
          "description": "header info record",
          "type": "string",
          "maxLength": 1
        },
        "AFFLG": {
          "description": "BOM explosion suppressed",
          "type": "string",
          "maxLength": 1
        },
        "LTFLG": {
          "description": "suppress display",
          "type": "string",
          "maxLength": 1
        },
        "NLFLG": {
          "description": "not kept in stock",
          "type": "string",
          "maxLength": 1
        },
        "INDEX": {
          "description": "Index of Internal Tables",
          "type": "integer",
          "format": "int32"
        },
        "SUMKZ": {
          "description": "Totals record indicator",
          "type": "string",
          "maxLength": 1
        },
        "AUFST": {
          "description": "Order level",
          "type": "string",
          "maxLength": 2,
          "pattern": "\\\\d+"
        },
        "AUFWG": {
          "description": "Order path",
          "type": "string",
          "maxLength": 2,
          "pattern": "\\\\d+"
        },
        "BAUST": {
          "description": "Assembly order level",
          "type": "string",
          "maxLength": 2,
          "pattern": "\\\\d+"
        },
        "BAUWG": {
          "description": "Assembly order path",
          "type": "string",
          "maxLength": 2,
          "pattern": "\\\\d+"
        },
        "ASTOV": {
          "description": "Order level",
          "type": "number",
          "format": "double"
        },
        "AWGOV": {
          "description": "Order path",
          "type": "number",
          "format": "double"
        },
        "BSTOV": {
          "description": "Assembly order level",
          "type": "number",
          "format": "double"
        },
        "BWGOV": {
          "description": "Assembly order path",
          "type": "number",
          "format": "double"
        },
        "NLINK": {
          "description": "Edge in the exploded BOM tree",
          "type": "string",
          "maxLength": 6,
          "pattern": "\\\\d+"
        },
        "ALPST": {
          "description": "Alternative item strategy",
          "type": "string",
          "maxLength": 1
        },
        "ALPRF": {
          "description": "Alternative item ranking order",
          "type": "string",
          "maxLength": 2,
          "pattern": "\\\\d+"
        },
        "ALPGR": {
          "description": "Alternative item group",
          "type": "string",
          "maxLength": 2
        },
        "DSPST": {
          "description": "Explosion type",
          "type": "string",
          "maxLength": 2
        },
        "KZNFP": {
          "description": "Follow-Up Item",
          "type": "string",
          "maxLength": 1
        },
        "NFGRP": {
          "description": "Follow-up group",
          "type": "string",
          "maxLength": 2
        },
        "NFEAG": {
          "description": "Discontinuation group",
          "type": "string",
          "maxLength": 2
        },
        "KZCLB": {
          "description": "classification as selection condition",
          "type": "string",
          "maxLength": 1
        },
        "CLSZU": {
          "description": "Classification number",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "ITMID": {
          "description": "External identification of an item",
          "type": "string",
          "maxLength": 8
        },
        "ALEKZ": {
          "description": "ALE indicator",
          "type": "string",
          "maxLength": 1
        },
        "GUIDX": {
          "description": "Global identification of an item's change status",
          "type": "string",
          "format": "binary"
        },
        "ITSOB": {
          "description": "Special procurement type for BOM item",
          "type": "string",
          "maxLength": 2
        },
        "RFPNT": {
          "description": "Reference point for BOM transfer",
          "type": "string",
          "maxLength": 20
        },
        "SOBMX": {
          "description": "Special procurement type (combination of matMst. and item)",
          "type": "string",
          "maxLength": 2
        },
        "MATKL": {
          "description": "Material Group",
          "type": "string",
          "maxLength": 9
        },
        "INSTS": {
          "description": "Instance number within DDB (configuration)",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "INSTP": {
          "description": "Instance number within DDB (configuration)",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "KSTTY": {
          "description": "BOM category of original sales order BOM item",
          "type": "string",
          "maxLength": 1
        },
        "KSTNR": {
          "description": "Bill of material for original sales order BOM item",
          "type": "string",
          "maxLength": 8
        },
        "KSTKN": {
          "description": "Node number of original sales order BOM item",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "KSTPZ": {
          "description": "Counter for original sales order BOM item",
          "type": "string",
          "maxLength": 8,
          "pattern": "\\\\d+"
        },
        "CAALT": {
          "description": "Alternative BOM",
          "type": "string",
          "maxLength": 2
        },
        "STLTY_W": {
          "description": "BOM category",
          "type": "string",
          "maxLength": 1
        },
        "STLNR_W": {
          "description": "Bill of material",
          "type": "string",
          "maxLength": 8
        },
        "CUFACTOR": {
          "description": "Number of CU Instances",
          "type": "string",
          "maxLength": 6,
          "pattern": "\\\\d+"
        },
        "FUNCID": {
          "description": "FID (Function Identifier)",
          "type": "string",
          "maxLength": 40
        }
      }
    },
    "ZEPM_LOG_ESTOQ_PEND": {
      "type": "object",
      "properties": {
        "MATNR": {
          "description": "Material Number",
          "type": "string",
          "maxLength": 18
        },
        "LOG": {
          "description": "Text Field",
          "type": "string",
          "maxLength": 50
        },
        "STATUS": {
          "description": "Text",
          "type": "string",
          "maxLength": 50
        }
      }
    },
    "ZPPPROD": {
      "type": "object",
      "properties": {
        "MATKL": {
          "type": "string",
          "description": "Grupo de Mateiral"
        },
        "ERFMG": {
          "type": "number",
          "description": "Qtde Entrada em unidades"
        }
      },
      "xml": {
        "name": "ZPPPROD"
      }
    },
    "faultDetail_list": {
      "type": "object",
      "properties": {
        "severity": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "xml": {
        "name": "faultDetail_list"
      }
    },
    "T_TRATAMENTOERROS": {
      "title": "T_TRATAMENTOERROS",
      "description": "",
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ZPPRAPPERROS"
          }
        }
      }
    },
    "ZPPRAPPERROS": {
      "title": "ZPPRAPPERROS",
      "description": "",
      "type": "object",
      "properties": {
        "MANDT": {
          "description": "Client",
          "type": "string",
          "maxLength": 3
        },
        "CODIGO": {
          "description": "Integer 1",
          "type": "integer",
          "format": "int32"
        },
        "INFORMACAO": {
          "description": "Char255",
          "type": "string",
          "maxLength": 255
        },
        "ADICIONAL": {
          "description": "Character field of length 40",
          "type": "string",
          "maxLength": 40
        },
        "ADICIONAL2": {
          "description": "Character field of length 40",
          "type": "string",
          "maxLength": 40
        }
      }
    },
    "ZEPM_MOTIVO_WORKFLOW": {
      "title": "ZEPM_MOTIVO_WORKFLOW",
      "description": "",
      "type": "object",
      "properties": {
        "MATERIAL": {
          "type": "string",
          "maxLength": 18
        },
        "MOTIVO": {
          "type": "string",
          "maxLength": 40
        }
      }
    },
    "T_MOTIVO_WORKFLOW": {
      "title": "T_MOTIVO_WORKFLOW",
      "description": "",
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ZEPM_MOTIVO_WORKFLOW"
          }
        }
      }
    }
  }
}
