{
  "openapi": "3.0.0",
  "info": {
    "title": "API do consumidor.gov.br",
    "description": "## Como solicitar acesso à API: \n1. Cadastrar o seu CPF no sistema através do link: [consumidor.gov.br](https://www.consumidor.gov.br) ; \n2. Informar via e-mail para [suporte.fornecedor@consumidor.gov.br](suporte.fornecedor@consumidor.gov.br), o CNPJ do fornecedor que será vinculado ao CPF cadastrado. \n## Como gerar um token JWT: \n Para gerar um token JWT é necessário ter em mão os seguintes códigos: \n* cliente_id \n* code \n* cliente_secret \n\n Esses dados podem ser obtidos através do sistema quando logado como gestor. Para isso, basta clicar em 'Acesso Restrito para Gestores e Empresas' localizado no rodapé da página. \n\n Após feito o login como gestor, é necessário clicar em 'Menu'⟶'Cadastro'⟶'Editar'. Neste ponto, ao rolar a página até o final é possível observar os códigos necessários para a geração do Token JWT. \n### Observação \n1. Os códigos mencionados acima são chaves identificadoras, permanentes e imutáveis requeridas para a geração do Token. \n2. O Token é uma chave autorizadora, temporária e mutável que expira em 24 horas. \n## Documentação complementar: \n* [https://consumidor.gov.br/pages/principal/documentacao-rest](https://consumidor.gov.br/pages/principal/documentacao-rest)",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/consumidor.gov.br/api-consumidor/1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.consumidor.gov.br/api/servico",
      "description": "Servidor de Teste"
    }
  ],
  "paths": {
    "/seguranca/empresa/token": {
      "post": {
        "description": "Endpoint de autenticação que retorna Token JWT. \n\nÉ necessário login com o Token gerado para acessar as demais funcionalidades da API.",
        "tags": [
          "Autenticação"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "client_credentials"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response_200_token"
                }
              }
            }
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        }
      }
    },
    "/reclamacoes/listar": {
      "get": {
        "description": "Serviço que retorna a listagem de reclamações com filtragem dos dados. Os parâmetros de filtragem são opcionais, e por isso, devem ser passados como parâmetros da requisição, podendo ser omitidos caso não sejam utilizados.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "$ref": "#/components/parameters/numero_protocolo_param"
          },
          {
            "$ref": "#/components/parameters/codigoTipoTramiteReclamacao"
          },
          {
            "$ref": "#/components/parameters/codigoSituacaoReclamacao"
          },
          {
            "$ref": "#/components/parameters/numAvaliacao"
          },
          {
            "$ref": "#/components/parameters/nomeReclamante"
          },
          {
            "$ref": "#/components/parameters/cpfReclamante"
          },
          {
            "$ref": "#/components/parameters/siglaRegiao"
          },
          {
            "$ref": "#/components/parameters/siglaUF"
          },
          {
            "$ref": "#/components/parameters/codigoMunicipio"
          },
          {
            "$ref": "#/components/parameters/notaConsumidor"
          },
          {
            "$ref": "#/components/parameters/codigoMeioConsumo"
          },
          {
            "$ref": "#/components/parameters/textoReferenciaFornecedor"
          },
          {
            "$ref": "#/components/parameters/dataIniPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataFimPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataIniPrazo"
          },
          {
            "$ref": "#/components/parameters/dataFimPrazo"
          },
          {
            "$ref": "#/components/parameters/horaInicialPeriodo"
          },
          {
            "$ref": "#/components/parameters/horaFinalPeriodo"
          },
          {
            "$ref": "#/components/parameters/codigoGrupoEconomico"
          },
          {
            "$ref": "#/components/parameters/codigoArea"
          },
          {
            "$ref": "#/components/parameters/codigoAssunto"
          },
          {
            "$ref": "#/components/parameters/codigoProblema"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_listar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/detalhe": {
      "get": {
        "description": "Serviço que retorna os detalhes de uma única reclamação. Serão retornados os dados dos trâmites e as informações sobre o consumidor e o gestor da reclamação. Os anexos dos trâmites estarão sem os bytes do arquivo, sendo necessário acesso a outro recurso para baixar os bytes.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_detalhe"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/cadastros/subsidiarias/listar": {
      "get": {
        "description": "Serviço que retorna as empresas que fazem parte do grupo econômico vinculado ao CPF autorizado.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_subsidiarias"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/baixar": {
      "get": {
        "description": "Serviço que retorna arquivo em base 64 de um relatório com os detalhes da reclamação dado um número de protocolo.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/tramite/{numeroTramite}/anexo/{numeroAnexo}/baixar": {
      "get": {
        "description": "Serviço que retorna arquivo em base 64 de um anexo existente em um dado tramite.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroTramite",
            "in": "path",
            "description": "Código interno do tramite (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroAnexo",
            "in": "path",
            "description": "Código interno do anexo (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/complementar": {
      "post": {
        "description": "Serviço para complementar uma reclamação.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Número do protocolo que identifica uma única reclamação.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\"texto\": \"Prezado consumidor, estamos avaliando sua reclamação e logo mais entraremos em contato.\"}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/responder": {
      "post": {
        "description": "Serviço para responder uma reclamação ao consumidor.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Número do protocolo que identifica uma única reclamação.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\"texto\": \"A empresa agradece a paciência na resolução do conflito\"}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/redirecionar": {
      "post": {
        "description": "Serviço para redirecionar uma reclamação para outra empresa de mesmo grupo econômico.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Número do protocolo que identifica uma única reclamação.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "texto": {
                    "type": "string",
                    "example": "Redicionando da empreda Planeta Operacional para a empresa Planeta Financeira por envolver assuntos de pagamento"
                  },
                  "identificacaoEmpresaGrupo": {
                    "type": "number",
                    "example": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/recusar": {
      "post": {
        "description": "Serviço para encaminhar uma reclamação para análise do gestor.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Número do protocolo que identifica uma única reclamação.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\"texto\": \"O consumidor se confundiu. A nossa empresa Planeta não trabalha com vendas de produtos de pescaria.\"}"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orgao/reclamacoes/listar": {
      "get": {
        "description": "Serviço que retorna a listagem de reclamações com filtragem dos dados. Os parâmetros de filtragem são opcionais, e por isso, devem ser passados como parâmetros da requisição, podendo ser omitidos caso não sejam utilizados.",
        "tags": [
          "Órgãos de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "$ref": "#/components/parameters/numero_protocolo_param"
          },
          {
            "$ref": "#/components/parameters/codigoTipoTramiteReclamacao"
          },
          {
            "$ref": "#/components/parameters/codigoSituacaoReclamacao"
          },
          {
            "$ref": "#/components/parameters/numAvaliacao"
          },
          {
            "$ref": "#/components/parameters/nomeReclamante"
          },
          {
            "$ref": "#/components/parameters/cpfReclamante"
          },
          {
            "$ref": "#/components/parameters/siglaRegiao"
          },
          {
            "$ref": "#/components/parameters/siglaUF"
          },
          {
            "$ref": "#/components/parameters/codigoMunicipio"
          },
          {
            "$ref": "#/components/parameters/notaConsumidor"
          },
          {
            "$ref": "#/components/parameters/codigoMeioConsumo"
          },
          {
            "$ref": "#/components/parameters/textoReferenciaFornecedor"
          },
          {
            "$ref": "#/components/parameters/dataIniPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataFimPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataIniPrazo"
          },
          {
            "$ref": "#/components/parameters/dataFimPrazo"
          },
          {
            "$ref": "#/components/parameters/horaInicialPeriodo"
          },
          {
            "$ref": "#/components/parameters/horaFinalPeriodo"
          },
          {
            "$ref": "#/components/parameters/codigoGrupoEconomico"
          },
          {
            "$ref": "#/components/parameters/codigoArea"
          },
          {
            "$ref": "#/components/parameters/codigoAssunto"
          },
          {
            "$ref": "#/components/parameters/codigoProblema"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_listar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/orgao/{numeroProtocolo}/detalhe": {
      "get": {
        "description": "Serviço que retorna os detalhes de uma única reclamação. Serão retornados os dados dos trâmites e as informações sobre o consumidor e o gestor da reclamação. Os anexos dos trâmites estarão sem os bytes do arquivo, sendo necessário acesso a outro recurso para baixar os bytes.",
        "tags": [
          "Órgãos de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_detalhe"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/orgao/reclamacao/{numeroProtocolo}/baixar": {
      "get": {
        "description": "Serviço que retorna arquivo em base 64 de um relatório com os detalhes da reclamação dado um número de protocolo.",
        "tags": [
          "Órgãos de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/orgao/{numeroProtocolo}/situacao": {
      "get": {
        "description": "Serviço que retorna a situação de um dado numero de protocolo.",
        "tags": [
          "Órgãos de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_situacao"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/orgao/reclamacao/{numeroProtocolo}/tramite/{numeroTramite}/anexo/{numeroAnexo}/baixar": {
      "get": {
        "description": "Serviço que retorna arquivo em base 64 de um anexo existente em um dado tramite.",
        "tags": [
          "Órgãos de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroTramite",
            "in": "path",
            "description": "Código interno do tramite (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroAnexo",
            "in": "path",
            "description": "Código interno do anexo (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inválido ou inexistente.\n\n CPF do usuário autorizado inexistente ou inválido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes parâmetros."
          }
        }
      }
    },
    "/orgao/obter/situacoes": {
      "post": {
        "description": "Serviço que retorna as situações de uma lista de protocolos passada no corpo da requisição.",
        "tags": [
          "Órgãos de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "example": [
                  20211200000008600,
                  20211200000008596
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_situacoes"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "codigoTipoTramiteReclamacao": {
        "name": "codigoTipoTramiteReclamacao",
        "in": "query",
        "description": "Código de um tipo de trâmite das reclamações, sendo: Sendo 1) Abertura da reclamação, 2)Visualizada pelo fornecedor, 3) Resposta do fornecedor, 4) Avaliação do consumidor, 5)Reclamação finalizada, 6) Complemento da reclamação, 7) Ativação do fornecedor indicado, 8) Reclamação encaminhada para análise do gestor, 9) Reclamação devolvida para a empresa, 10) Redirecionamento da reclamação, 11) Edição de conteúdo, 12) Prazo expirado para análise da recusa, 13) Recusa forncecedor indicado, 14) Prazo expirado para avaliação, 15) Interação do gestor, 16) Reclamação cancelada pelo gestor,  17) Prazo expirado para resposta, 18) Reclamação excluída",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoSituacaoReclamacao": {
        "name": "codigoSituacaoReclamacao",
        "in": "query",
        "description": "Código de uma situação das reclamações, sendo  1) Aberta, 2) Em análise pelo gestor,  3) Em análise pelo fornecedor, 4) Respondida, 5) Não Respondida, 6) Finalizada avaliada, 7) Finalizada não avaliada, 8) Cancelada, 9) Encerrada, 10) Fornecedor em credenciamento",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "numAvaliacao": {
        "name": "numAvaliacao",
        "in": "query",
        "description": "Referente à conclusão da avaliação. sendo: 1) Resolvida, 2) Não Resolvida, 3) Não Avaliada",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true,
          "enum": [
            1,
            2,
            3
          ]
        }
      },
      "nomeReclamante": {
        "name": "nomeReclamante",
        "in": "query",
        "description": "Nome do reclamante das reclamações. Assume prefixos e sufixos. Por exemplo:o nome 'João' poderá retornar 'João Paulo' e 'Antônio João'",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "cpfReclamante": {
        "name": "cpfReclamante",
        "in": "query",
        "description": "CPF do reclamante das reclamações. Somente os números.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "siglaRegiao": {
        "name": "siglaRegiao",
        "in": "query",
        "description": "Sigla da região dos endereços das reclamações. SE, S, CO, N, NE",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true,
          "enum": [
            "SE",
            "S",
            "CO",
            "N",
            "NE"
          ]
        }
      },
      "siglaUF": {
        "name": "siglaUF",
        "in": "query",
        "description": "Sigla do estado dos endereços das reclamações. Ex: PA, SP, MS, DF",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "codigoMunicipio": {
        "name": "codigoMunicipio",
        "in": "query",
        "description": "Código do município dos endereços das reclamações. https://www.ibge.gov.br/explica/codigos-dos-municipios.php",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "notaConsumidor": {
        "name": "notaConsumidor",
        "in": "query",
        "description": "Avaliação que o consumidor fez em relação ao atendimento (1 a 5).",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true,
          "enum": [
            1,
            2,
            3,
            4,
            5
          ]
        }
      },
      "codigoMeioConsumo": {
        "name": "codigoMeioConsumo",
        "in": "query",
        "description": "Código do meio de consumo (campo 'Como Comprou/Contratou'), sendo: 1) Internet, 2)Loja física, 3) Telefone, 4) Catálogo, 5) Domicílio, 6) Ganhei de presente, 7) Stand, feiras e eventos, 8) Não comprei / contratei, 9) SMS / Mensagem de texto",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true,
          "enum": [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9
          ]
        }
      },
      "textoReferenciaFornecedor": {
        "name": "textoReferenciaFornecedor",
        "in": "query",
        "description": "Texto livre de referência nas reclamações.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataIniPeriodo": {
        "name": "dataIniPeriodo",
        "in": "query",
        "description": "Data inicial da abertura das reclamações, no formato 'dd-MM-yyyy'. É obrigatório caso a data final for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataFimPeriodo": {
        "name": "dataFimPeriodo",
        "in": "query",
        "description": "Data final da abertura das reclamações, no formato 'dd-MM-yyyy'. É obrigatório caso a data inicial for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataIniPrazo": {
        "name": "dataIniPrazo",
        "in": "query",
        "description": "Data inicial do prazo das reclamações, no formato 'dd-MM-yyyy'. Não há opção com horas. É obrigatório caso a data final do prazo for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataFimPrazo": {
        "name": "dataFimPrazo",
        "in": "query",
        "description": "Data final do prazo das reclamações, no formato 'dd-MM-yyyy'. Não há opção com horas. É obrigatório caso a data inicial do prazo for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "horaInicialPeriodo": {
        "name": "horaInicialPeriodo",
        "in": "query",
        "description": "Hora referente a data inicial da abertura das reclamações, no formato 'HH:mm:ss'. Caso não preenchida assumirá '00:00:00'.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "horaFinalPeriodo": {
        "name": "horaFinalPeriodo",
        "in": "query",
        "description": "Hora referente a data final da abertura das reclamações, no formato 'HH:mm:ss'. Caso não preenchida assumirá '23:59:59'.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "codigoGrupoEconomico": {
        "name": "codigoGrupoEconomico",
        "in": "query",
        "description": "Código do grupo ecônomico do fornecedor das reclamações.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoArea": {
        "name": "codigoArea",
        "in": "query",
        "description": "Código da área das reclamações.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoAssunto": {
        "name": "codigoAssunto",
        "in": "query",
        "description": "Código do assunto relacionado com a área.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoProblema": {
        "name": "codigoProblema",
        "in": "query",
        "description": "Código do problema relacionado com o assunto.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "host_param": {
        "name": "Host",
        "in": "header",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "nullable": false,
          "default": "api.consumidor.gov.br"
        }
      },
      "user_agent_param": {
        "name": "User-Agent",
        "in": "header",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "default": "api-consumidor"
        }
      },
      "versao_param": {
        "name": "versao",
        "in": "header",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "default": "1.0"
        }
      },
      "cpf_autorizado_param": {
        "name": "cpfAutorizado",
        "in": "header",
        "description": "CPF do usuário autorizado. Deve ser um usuário válido ativo da credenciada",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer"
        }
      },
      "numero_protocolo_param": {
        "name": "numeroProtocolo",
        "in": "query",
        "description": "Número do protocolo, que identifica uma única reclamação",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "schemas": {
      "response_201_created": {
        "properties": {
          "tipo": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "integer"
          },
          "protocoloReclamacao": {
            "type": "string"
          }
        }
      },
      "response_200_listar": {
        "properties": {
          "protocolo": {
            "type": "string"
          },
          "situacao": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "meioConsumo": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "prazo": {
            "type": "string"
          },
          "prazoManifestacao": {
            "type": "string"
          },
          "nomeCampoPrazo": {
            "type": "string"
          },
          "dataAbertura": {
            "type": "string"
          },
          "area": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "assunto": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "problema": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "reclamante": {
            "type": "object",
            "properties": {
              "numeroIdentificacao": {
                "type": "string"
              },
              "nome": {
                "type": "string"
              },
              "estado": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "logradouro": {
                "type": "string"
              },
              "bairro": {
                "type": "string"
              },
              "numeroComplemento": {
                "type": "string"
              },
              "dataNascimento": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "telefones": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "reclamado": {
            "type": "object",
            "properties": {
              "numeroIdentificacao": {
                "type": "string"
              },
              "nome": {
                "type": "string"
              },
              "estado": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "logradouro": {
                "type": "string"
              },
              "bairro": {
                "type": "string"
              },
              "numeroComplemento": {
                "type": "string"
              },
              "dataNascimento": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "telefones": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "mediador": {
            "type": "object",
            "properties": {
              "numeroIdentificacao": {
                "type": "string"
              },
              "nome": {
                "type": "string"
              },
              "estado": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "logradouro": {
                "type": "string"
              },
              "bairro": {
                "type": "string"
              },
              "numeroComplemento": {
                "type": "string"
              },
              "dataNascimento": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "telefones": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "tramites": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "number"
                },
                "tipo": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "number"
                    },
                    "descricao": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "string"
                },
                "autor": {
                  "type": "string"
                },
                "protocoloReclamacao": {
                  "type": "string"
                },
                "textos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "texto": {
                        "type": "string"
                      },
                      "tipo": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "descricao": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "anexos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "number"
                      },
                      "nome": {
                        "type": "string"
                      },
                      "tamanho": {
                        "type": "number"
                      },
                      "arquivoBase64": {
                        "type": "string"
                      },
                      "acao": {
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "acoes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "method": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "response_200_detalhe": {
        "properties": {
          "dado": {
            "type": "object",
            "properties": {
              "protocolo": {
                "type": "string"
              },
              "situacao": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "meioConsumo": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "prazo": {
                "type": "string"
              },
              "prazoManifestacao": {
                "type": "string"
              },
              "nomeCampoPrazo": {
                "type": "string"
              },
              "dataAbertura": {
                "type": "string"
              },
              "area": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "assunto": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "problema": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "reclamante": {
                "type": "object",
                "properties": {
                  "numeroIdentificacao": {
                    "type": "string"
                  },
                  "nome": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "logradouro": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "numeroComplemento": {
                    "type": "string"
                  },
                  "dataNascimento": {
                    "type": "string"
                  },
                  "documento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "reclamado": {
                "type": "object",
                "properties": {
                  "numeroIdentificacao": {
                    "type": "string"
                  },
                  "nome": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "logradouro": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "numeroComplemento": {
                    "type": "string"
                  },
                  "dataNascimento": {
                    "type": "string"
                  },
                  "documento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "mediador": {
                "type": "object",
                "properties": {
                  "numeroIdentificacao": {
                    "type": "string"
                  },
                  "nome": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "logradouro": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "numeroComplemento": {
                    "type": "string"
                  },
                  "dataNascimento": {
                    "type": "string"
                  },
                  "documento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "tramites": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "number"
                    },
                    "tipo": {
                      "type": "object",
                      "properties": {
                        "codigo": {
                          "type": "number"
                        },
                        "descricao": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "string"
                    },
                    "autor": {
                      "type": "string"
                    },
                    "protocoloReclamacao": {
                      "type": "string"
                    },
                    "textos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "texto": {
                            "type": "string"
                          },
                          "tipo": {
                            "type": "object",
                            "properties": {
                              "codigo": {
                                "type": "number"
                              },
                              "descricao": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "anexos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "nome": {
                            "type": "string"
                          },
                          "tamanho": {
                            "type": "number"
                          },
                          "arquivoBase64": {
                            "type": "string"
                          },
                          "acao": {
                            "type": "object",
                            "properties": {
                              "rel": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "method": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "acoes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "rel": {
                      "type": "string"
                    },
                    "href": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "response_200_baixar": {
        "properties": {
          "dado": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "nome": {
                "type": "string"
              },
              "tamanho": {
                "type": "number"
              },
              "arquivoBase64": {
                "type": "string"
              }
            }
          }
        }
      },
      "response_200_situacao": {
        "properties": {
          "dado": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          }
        }
      },
      "response_200_situacoes": {
        "properties": {
          "dados": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "protocolo": {
                  "type": "number"
                },
                "situacaoNegociacaoReclamacao": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "response_200_subsidiarias": {
        "properties": {
          "dados": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "number"
                },
                "descricao": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "response_200_token": {
        "properties": {
          "expires_in": {
            "type": "integer",
            "description": "Tempo em segundos que o Token irá expirar.",
            "example": 28800
          },
          "access_token": {
            "type": "string",
            "description": "Token temporário da credenciada. Deve ser utilizado nos demais acessos.",
            "example": "b895ec3c0e14d76967b564e2fa795862"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Access token is missing or invalid"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}