{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure DevOps Resource Provider",
    "title": "Azure DevOps",
    "version": "2019-07-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/devops/2019-07-01-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-ms-code-generation-settings": {
      "name": "DevOpsClient"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devops/resource-manager/Microsoft.DevOps/preview/2019-07-01-preview/devops.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "devops",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DevOps/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "The list of supported operations has been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all the operations supported by Microsoft.DevOps resource provider.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get a list of operations supported by Microsoft.DevOps resource provider": {
            "parameters": {
              "api-version": "2019-07-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Registers the specified subscription with Microsoft.DevOps resource provider and enables the creation of Pipelines",
                        "operation": "Register for Microsoft.DevOps",
                        "provider": "Microsoft DevOps",
                        "resource": "register"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.DevOps/register/action"
                    },
                    {
                      "display": {
                        "description": "Creates or Updates any Pipeline",
                        "operation": "Create or Update Pipeline",
                        "provider": "Microsoft DevOps",
                        "resource": "Pipelines"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.DevOps/pipelines/write"
                    },
                    {
                      "display": {
                        "description": "Reads any Pipeline",
                        "operation": "Read Pipeline",
                        "provider": "Microsoft DevOps",
                        "resource": "Pipelines"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.DevOps/pipelines/read"
                    },
                    {
                      "display": {
                        "description": "Deletes any Pipeline",
                        "operation": "Delete Pipeline",
                        "provider": "Microsoft DevOps",
                        "resource": "Pipelines"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.DevOps/pipelines/delete"
                    },
                    {
                      "display": {
                        "description": "Reads any PipelineTemplateDefinition",
                        "operation": "Read PipelineTemplateDefinition",
                        "provider": "Microsoft DevOps",
                        "resource": "PipelineTemplateDefinitions"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.DevOps/pipelineTemplateDefinitions/read"
                    }
                  ]
                },
                "description": "The list of supported operations has been fetched successfully."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.DevOps/pipelineTemplateDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineTemplateDefinitionListResult"
                }
              }
            },
            "description": "The pipeline template definitions have been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PipelineTemplateDefinitions"
        ],
        "description": "Lists all pipeline templates which can be used to configure an Azure Pipeline.",
        "operationId": "PipelineTemplateDefinitions_List",
        "x-ms-examples": {
          "Get the list of pipeline template definitions": {
            "parameters": {
              "api-version": "2019-07-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "description": "Template for configuring CI/CD pipeline for ASP.Net app on Azure windows app service",
                      "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp",
                      "inputs": [
                        {
                          "description": "Authorization for Azure ARM endpoints.",
                          "id": "azureAuth",
                          "possibleValues": [],
                          "type": "String"
                        },
                        {
                          "description": "Id of subscription where azure resources will be created.",
                          "id": "subscriptionId",
                          "possibleValues": [],
                          "type": "String"
                        },
                        {
                          "description": "A resource group is a collection of resources that share the same lifecycle, permissions, and policies. Name of resource group which should contain web app.",
                          "id": "resourceGroup",
                          "possibleValues": [],
                          "type": "String"
                        },
                        {
                          "description": "Name of web app to be created",
                          "id": "webAppName",
                          "possibleValues": [],
                          "type": "String"
                        },
                        {
                          "description": "Choose the Azure region that's right for you and your customers.",
                          "id": "location",
                          "possibleValues": [],
                          "type": "String"
                        },
                        {
                          "description": "Details of cost and compute resource associated with the web app",
                          "id": "appServicePlan",
                          "possibleValues": [
                            {
                              "displayValue": "P1 Premium (1 Core, 1.75 GB RAM)",
                              "value": "P1 Premium"
                            },
                            {
                              "displayValue": "P2 Premium (2 Core, 3.5 GB RAM)",
                              "value": "P2 Premium"
                            },
                            {
                              "displayValue": "P3 Premium (4 Core, 7 GB RAM)",
                              "value": "P3 Premium"
                            },
                            {
                              "displayValue": "S1 Standard (1 Core, 1.75 GB RAM)",
                              "value": "S1 Standard"
                            },
                            {
                              "displayValue": "S2 Standard (2 Core, 3.5 GB RAM)",
                              "value": "S2 Standard"
                            },
                            {
                              "displayValue": "S3 Standard (4 Core, 7 GB RAM)",
                              "value": "S3 Standard"
                            },
                            {
                              "displayValue": "B1 Basic (1 Core, 1.75 GB RAM)",
                              "value": "B1 Basic"
                            },
                            {
                              "displayValue": "B2 Basic (2 Core, 3.5 GB RAM)",
                              "value": "B2 Basic"
                            },
                            {
                              "displayValue": "B3 Basic (4 Core, 7 GB RAM)",
                              "value": "B3 Basic"
                            },
                            {
                              "displayValue": "F1 Free",
                              "value": "F1 Free"
                            },
                            {
                              "displayValue": "D1 Shared",
                              "value": "D1 Shared"
                            }
                          ],
                          "type": "String"
                        },
                        {
                          "description": "Collect application monitoring data using Application Insights.",
                          "id": "appInsightLocation",
                          "possibleValues": [],
                          "type": "String"
                        }
                      ]
                    }
                  ]
                },
                "description": "The pipeline template definitions have been fetched successfully."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOps/pipelines": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineListResult"
                }
              }
            },
            "description": "The Azure Pipelines have been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Lists all Azure Pipelines under the specified subscription.",
        "operationId": "Pipelines_ListBySubscription",
        "x-ms-examples": {
          "List all Azure pipelines under the specified subscription": {
            "parameters": {
              "api-version": "2019-07-01-preview",
              "subscriptionId": "{subscriptionId}"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline",
                      "location": "South India",
                      "name": "myAspNetWebAppPipeline",
                      "properties": {
                        "bootstrapConfiguration": {
                          "template": {
                            "parameters": {
                              "appInsightLocation": "South India",
                              "appServicePlan": "S1 Standard",
                              "azureAuth": null,
                              "location": "South India",
                              "resourceGroup": "myAspNetWebAppPipeline-rg",
                              "subscriptionId": "{subscriptionId}",
                              "webAppName": "myAspNetWebApp"
                            },
                            "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                          }
                        },
                        "organization": {
                          "name": "myAspNetWebAppPipeline-org"
                        },
                        "project": {
                          "name": "myAspNetWebAppPipeline-project"
                        }
                      },
                      "type": "Microsoft.DevOps/pipelines"
                    },
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg1/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline1",
                      "location": "South India",
                      "name": "myAspNetWebAppPipeline1",
                      "properties": {
                        "bootstrapConfiguration": {
                          "template": {
                            "parameters": {
                              "appInsightLocation": "South India",
                              "appServicePlan": "S1 Standard",
                              "azureAuth": null,
                              "location": "South India",
                              "resourceGroup": "myAspNetWebAppPipeline-rg",
                              "subscriptionId": "{subscriptionId}",
                              "webAppName": "myAspNetWebApp"
                            },
                            "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                          }
                        },
                        "organization": {
                          "name": "myAspNetWebAppPipeline-org1"
                        },
                        "project": {
                          "name": "myAspNetWebAppPipeline-project1"
                        }
                      },
                      "type": "Microsoft.DevOps/pipelines"
                    }
                  ]
                },
                "description": "The Azure Pipelines have been fetched successfully."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineListResult"
                }
              }
            },
            "description": "The Azure Pipelines have been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Lists all Azure Pipelines under the specified resource group.",
        "operationId": "Pipelines_ListByResourceGroup",
        "x-ms-examples": {
          "List all Azure Pipelines under the specified resource group": {
            "parameters": {
              "api-version": "2019-07-01-preview",
              "resourceGroupName": "myAspNetWebAppPipeline-rg",
              "subscriptionId": "{subscriptionId}"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline",
                      "location": "South India",
                      "name": "myAspNetWebAppPipeline",
                      "properties": {
                        "bootstrapConfiguration": {
                          "template": {
                            "parameters": {
                              "appInsightLocation": "South India",
                              "appServicePlan": "S1 Standard",
                              "azureAuth": null,
                              "location": "South India",
                              "resourceGroup": "myAspNetWebAppPipeline-rg",
                              "subscriptionId": "{subscriptionId}",
                              "webAppName": "myAspNetWebApp"
                            },
                            "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                          }
                        },
                        "organization": {
                          "name": "myAspNetWebAppPipeline-org"
                        },
                        "project": {
                          "name": "myAspNetWebAppPipeline-project"
                        }
                      },
                      "type": "Microsoft.DevOps/pipelines"
                    }
                  ]
                },
                "description": "The Azure Pipelines has been fetched successfully."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines/{pipelineName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "The Azure Pipeline has been deleted successfully."
          },
          "204": {
            "description": "The Azure Pipeline is not found or has been deleted already."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Deletes an Azure Pipeline.",
        "operationId": "Pipelines_Delete",
        "x-ms-examples": {
          "Get an existing Azure pipeline": {
            "parameters": {
              "api-version": "2019-07-01-preview",
              "pipelineName": "myAspNetWebAppPipeline",
              "resourceGroupName": "myAspNetWebAppPipeline-rg",
              "subscriptionId": "{subscriptionId}"
            },
            "responses": {
              "200": {
                "description": "The Azure Pipeline has been deleted successfully."
              },
              "204": {
                "description": "The Azure Pipeline is not found or has been deleted already."
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource in ARM.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            },
            "description": "The Azure Pipeline has been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Gets an existing Azure Pipeline.",
        "operationId": "Pipelines_Get",
        "x-ms-examples": {
          "Get an existing Azure pipeline": {
            "parameters": {
              "api-version": "2019-07-01-preview",
              "pipelineName": "myAspNetWebAppPipeline",
              "resourceGroupName": "myAspNetWebAppPipeline-rg",
              "subscriptionId": "{subscriptionId}"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline",
                  "location": "South India",
                  "name": "myAspNetWebAppPipeline",
                  "properties": {
                    "bootstrapConfiguration": {
                      "template": {
                        "parameters": {
                          "appInsightLocation": "South India",
                          "appServicePlan": "S1 Standard",
                          "azureAuth": null,
                          "location": "South India",
                          "resourceGroup": "myAspNetWebAppPipeline-rg",
                          "subscriptionId": "{subscriptionId}",
                          "webAppName": "myAspNetWebApp"
                        },
                        "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                      }
                    },
                    "organization": {
                      "name": "myAspNetWebAppPipeline-org"
                    },
                    "project": {
                      "name": "myAspNetWebAppPipeline-project"
                    }
                  },
                  "type": "Microsoft.DevOps/pipelines"
                },
                "description": "The Azure Pipeline has been configured successfully."
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            },
            "description": "The Azure Pipeline has been updated successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Updates the properties of an Azure Pipeline. Currently, only tags can be updated.",
        "operationId": "Pipelines_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineUpdateParameters"
              }
            }
          },
          "description": "The request payload containing the properties to update in the Azure Pipeline.",
          "required": true
        },
        "x-ms-examples": {
          "Get an existing Azure pipeline": {
            "parameters": {
              "api-version": "2019-07-01-preview",
              "pipelineName": "myAspNetWebAppPipeline",
              "resourceGroupName": "myAspNetWebAppPipeline-rg",
              "subscriptionId": "{subscriptionId}",
              "updateOperationParameters": {
                "tags": {
                  "tagKey": "tagvalue"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey": "tagvalue"
                  },
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline",
                  "location": "South India",
                  "name": "myAspNetWebAppPipeline",
                  "properties": {
                    "bootstrapConfiguration": {
                      "template": {
                        "parameters": {
                          "appInsightLocation": "South India",
                          "appServicePlan": "S1 Standard",
                          "azureAuth": null,
                          "location": "South India",
                          "resourceGroup": "myAspNetWebAppPipeline-rg",
                          "subscriptionId": "{subscriptionId}",
                          "webAppName": "myAspNetWebApp"
                        },
                        "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                      }
                    },
                    "organization": {
                      "name": "myAspNetWebAppPipeline-org"
                    },
                    "project": {
                      "name": "myAspNetWebAppPipeline-project"
                    }
                  },
                  "type": "Microsoft.DevOps/pipelines"
                },
                "description": "The Azure Pipeline has been updated successfully."
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource in ARM.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            },
            "description": "The Azure Pipeline has been configured successfully."
          },
          "202": {
            "description": "The request has been accepted for processing and the Azure Pipeline will be configured asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Creates or updates an Azure Pipeline.",
        "operationId": "Pipelines_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pipeline"
              }
            }
          },
          "description": "The request payload to create the Azure Pipeline.",
          "required": true
        },
        "x-ms-examples": {
          "Create an Azure pipeline to deploy a sample ASP.Net application to Azure web-app": {
            "parameters": {
              "api-version": "2019-07-01-preview",
              "createOperationParameters": {
                "tags": {},
                "location": "South India",
                "properties": {
                  "bootstrapConfiguration": {
                    "template": {
                      "parameters": {
                        "appInsightLocation": "South India",
                        "appServicePlan": "S1 Standard",
                        "azureAuth": "{\"scheme\":\"ServicePrincipal\",\"parameters\":{\"tenantid\":\"{subscriptionTenantId}\",\"objectid\":\"{appObjectId}\",\"serviceprincipalid\":\"{appId}\",\"serviceprincipalkey\":\"{appSecret}\"}}",
                        "location": "South India",
                        "resourceGroup": "myAspNetWebAppPipeline-rg",
                        "subscriptionId": "{subscriptionId}",
                        "webAppName": "myAspNetWebApp"
                      },
                      "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                    }
                  },
                  "organization": {
                    "name": "myAspNetWebAppPipeline-org"
                  },
                  "project": {
                    "name": "myAspNetWebAppPipeline-project"
                  }
                }
              },
              "pipelineName": "myAspNetWebAppPipeline",
              "resourceGroupName": "myAspNetWebAppPipeline-rg",
              "subscriptionId": "{subscriptionId}"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline",
                  "location": "South India",
                  "name": "myAspNetWebAppPipeline",
                  "properties": {
                    "bootstrapConfiguration": {
                      "template": {
                        "parameters": {
                          "appInsightLocation": "South India",
                          "appServicePlan": "S1 Standard",
                          "azureAuth": null,
                          "location": "South India",
                          "resourceGroup": "myAspNetWebAppPipeline-rg",
                          "subscriptionId": "{subscriptionId}",
                          "webAppName": "myAspNetWebApp"
                        },
                        "id": "ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp"
                      }
                    },
                    "organization": {
                      "name": "myAspNetWebAppPipeline-org"
                    },
                    "project": {
                      "name": "myAspNetWebAppPipeline-project"
                    }
                  },
                  "type": "Microsoft.DevOps/pipelines"
                },
                "description": "The Azure Pipeline has been configured successfully."
              },
              "202": {
                "description": "The request has been accepted for processing and the Azure Pipeline will be configured asynchronously.",
                "headers": {
                  "location": "https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/myAspNetWebAppPipeline-rg/providers/Microsoft.DevOps/pipelines/myAspNetWebAppPipeline/operations/{operationId}",
                  "retry-after": "5"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "API version to be used with the HTTP request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "Name of the resource group within the Azure subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Authorization": {
        "description": "Authorization info used to access a resource (like code repository).",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Authorization parameters corresponding to the authorization type.",
            "type": "object"
          },
          "authorizationType": {
            "description": "Type of authorization.",
            "enum": [
              "personalAccessToken"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AuthorizationType"
            }
          }
        },
        "required": [
          "authorizationType"
        ],
        "type": "object"
      },
      "BootstrapConfiguration": {
        "description": "Configuration used to bootstrap a Pipeline.",
        "properties": {
          "repository": {
            "$ref": "#/components/schemas/CodeRepository",
            "description": "Repository containing the source code for the pipeline."
          },
          "template": {
            "$ref": "#/components/schemas/PipelineTemplate",
            "description": "Template used to bootstrap the pipeline."
          }
        },
        "required": [
          "template"
        ],
        "type": "object"
      },
      "CloudError": {
        "description": "An error response from the Pipelines Resource Provider.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody",
            "description": "Details of the error from the Pipelines Resource Provider."
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "CloudErrorBody": {
        "description": "An error response from the Pipelines Resource Provider.",
        "properties": {
          "code": {
            "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
            "type": "string"
          },
          "details": {
            "description": "A list of additional details about the error.",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "type": "array"
          },
          "message": {
            "description": "A message describing the error, intended to be suitable for display in a user interface.",
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error. For example, the name of the property in error or the method where the error occurred.",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "CodeRepository": {
        "description": "Repository containing the source code for a pipeline.",
        "properties": {
          "authorization": {
            "$ref": "#/components/schemas/Authorization",
            "description": "Authorization info to access the code repository."
          },
          "defaultBranch": {
            "description": "Default branch used to configure Continuous Integration (CI) in the pipeline.",
            "type": "string"
          },
          "id": {
            "description": "Unique immutable identifier of the code repository.",
            "type": "string"
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Repository-specific properties.",
            "type": "object",
            "x-ms-client-flatten": true
          },
          "repositoryType": {
            "description": "Type of code repository.",
            "enum": [
              "gitHub",
              "vstsGit"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CodeRepositoryType"
            }
          }
        },
        "required": [
          "repositoryType",
          "id",
          "defaultBranch"
        ],
        "type": "object"
      },
      "InputDescriptor": {
        "description": "Representation of a pipeline template input parameter.",
        "properties": {
          "description": {
            "description": "Description of the input parameter.",
            "type": "string"
          },
          "id": {
            "description": "Identifier of the input parameter.",
            "type": "string"
          },
          "possibleValues": {
            "description": "List of possible values for the input parameter.",
            "items": {
              "$ref": "#/components/schemas/InputValue"
            },
            "type": "array"
          },
          "type": {
            "description": "Data type of the value of the input parameter.",
            "enum": [
              "String",
              "SecureString",
              "Int",
              "Bool",
              "Authorization"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "InputDataType"
            }
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object"
      },
      "InputValue": {
        "description": "Representation of a pipeline template input parameter value.",
        "properties": {
          "displayValue": {
            "description": "Description of the input parameter value.",
            "type": "string"
          },
          "value": {
            "description": "Value of an input parameter.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Properties of an Operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplayValue",
            "description": "Display information of the operation.",
            "x-ms-client-flatten": true
          },
          "isDataAction": {
            "description": "Indicates whether the operation applies to data-plane.",
            "type": "string"
          },
          "name": {
            "description": "Name of the operation.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplayValue": {
        "description": "Display information of an operation.",
        "properties": {
          "description": {
            "description": "Friendly description of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "Friendly name of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "provider": {
            "description": "Friendly name of the resource provider.",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "description": "Friendly name of the resource type the operation applies to.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of a request to list all operations supported by Microsoft.DevOps resource provider.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of operations, if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of operations supported by Microsoft.DevOps resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "OrganizationReference": {
        "description": "Reference to an Azure DevOps Organization.",
        "properties": {
          "id": {
            "description": "Unique immutable identifier for the Azure DevOps Organization.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the Azure DevOps Organization.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Pipeline": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Azure DevOps Pipeline used to configure Continuous Integration (CI) & Continuous Delivery (CD) for Azure resources.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PipelineProperties",
            "description": "Custom properties of the Pipeline.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "PipelineListResult": {
        "description": "Result of a request to list all Azure Pipelines under a given scope.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of Pipelines, if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of pipelines.",
            "items": {
              "$ref": "#/components/schemas/Pipeline"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PipelineProperties": {
        "description": "Custom properties of a Pipeline.",
        "properties": {
          "bootstrapConfiguration": {
            "$ref": "#/components/schemas/BootstrapConfiguration",
            "description": "Configuration used to bootstrap the Pipeline."
          },
          "organization": {
            "$ref": "#/components/schemas/OrganizationReference",
            "description": "Reference to the Azure DevOps Organization containing the Pipeline."
          },
          "pipelineId": {
            "description": "Unique identifier of the Azure Pipeline within the Azure DevOps Project.",
            "readOnly": true,
            "type": "integer"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectReference",
            "description": "Reference to the Azure DevOps Project containing the Pipeline."
          }
        },
        "required": [
          "organization",
          "project",
          "bootstrapConfiguration"
        ],
        "type": "object"
      },
      "PipelineTemplate": {
        "description": "Template used to bootstrap the pipeline.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dictionary of input parameters used in the pipeline template.",
            "type": "object"
          },
          "id": {
            "description": "Unique identifier of the pipeline template.",
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "PipelineTemplateDefinition": {
        "description": "Definition of a pipeline template.",
        "properties": {
          "description": {
            "description": "Description of the pipeline enabled by the template.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the pipeline template.",
            "type": "string"
          },
          "inputs": {
            "description": "List of input parameters required by the template to create a pipeline.",
            "items": {
              "$ref": "#/components/schemas/InputDescriptor"
            },
            "type": "array"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "PipelineTemplateDefinitionListResult": {
        "description": "Result of a request to list all pipeline template definitions.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of pipeline template definitions, if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of pipeline template definitions.",
            "items": {
              "$ref": "#/components/schemas/PipelineTemplateDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PipelineUpdateParameters": {
        "description": "Request payload used to update an existing Azure Pipeline.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dictionary of key-value pairs to be set as tags on the Azure Pipeline. This will overwrite any existing tags.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "ProjectReference": {
        "description": "Reference to an Azure DevOps Project.",
        "properties": {
          "id": {
            "description": "Unique immutable identifier of the Azure DevOps Project.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the Azure DevOps Project.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "An Azure Resource Manager (ARM) resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource Tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource Location",
            "type": "string"
          },
          "name": {
            "description": "Resource Name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource Type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}