{
  "openapi": "3.0.3",
  "info": {
    "title": "AppsFlyer API",
    "version": "1.0",
    "description": "AppsFlyer API for mobile attribution, analytics, and marketing automation. Provides access to raw data reports, measurement APIs, SKAN APIs, ROI analytics, and audience management. Authentication varies by endpoint - some use Bearer tokens, others use API keys.",
    "x-jentic-source-url": "https://dev.appsflyer.com/hc/docs/api"
  },
  "servers": [
    {
      "url": "https://hq1.appsflyer.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/apps/v1.0/list": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List apps",
        "description": "Retrieve list of apps associated with the account",
        "operationId": "listApps",
        "responses": {
          "200": {
            "description": "List of apps retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/App"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/raw-data/export/app/{app_id}/installs/v5": {
      "get": {
        "tags": [
          "Raw Data"
        ],
        "summary": "Get install data",
        "description": "Pull raw install data for an app",
        "operationId": "getRawInstalls",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App identifier"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Install data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Install"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/raw-data/export/app/{app_id}/in-app-events/v5": {
      "get": {
        "tags": [
          "Raw Data"
        ],
        "summary": "Get in-app events data",
        "description": "Pull raw in-app events data for an app",
        "operationId": "getRawEvents",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App identifier"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Event data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InAppEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/raw-data/export/app/{app_id}/uninstalls/v5": {
      "get": {
        "tags": [
          "Raw Data"
        ],
        "summary": "Get uninstall data",
        "description": "Pull raw uninstall data for an app",
        "operationId": "getRawUninstalls",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App identifier"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Uninstall data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Uninstall"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/inappevent/{app_id}": {
      "post": {
        "tags": [
          "Server-to-Server Events"
        ],
        "summary": "Send in-app event",
        "description": "Send server-to-server in-app event for mobile attribution",
        "operationId": "sendInAppEvent",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/aggregate/v2.0/partners_by_date/app/{app_id}": {
      "get": {
        "tags": [
          "Aggregate Reports"
        ],
        "summary": "Get partners report by date",
        "description": "Retrieve aggregate partner performance data by date",
        "operationId": "getPartnersByDate",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App identifier"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Partners report retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PartnerReport"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/aggregate/v2.0/geo_by_date/app/{app_id}": {
      "get": {
        "tags": [
          "Aggregate Reports"
        ],
        "summary": "Get geo report by date",
        "description": "Retrieve aggregate geographic performance data by date",
        "operationId": "getGeoByDate",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App identifier"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Geo report retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GeoReport"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/v1.0/users": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "List users",
        "description": "Retrieve list of users in the account",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "List of users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Create user",
        "description": "Create a new user in the account",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/v1.0/users/{user_id}": {
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete user",
        "description": "Remove a user from the account",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication for API access"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication (format: 'ApiKey YOUR_API_KEY')"
      }
    },
    "schemas": {
      "App": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "string",
            "description": "App identifier"
          },
          "app_name": {
            "type": "string",
            "description": "App name"
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ],
            "description": "Platform type"
          },
          "bundle_id": {
            "type": "string",
            "description": "Bundle or package ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Install": {
        "type": "object",
        "properties": {
          "attributed_touch_type": {
            "type": "string"
          },
          "attributed_touch_time": {
            "type": "string",
            "format": "date-time"
          },
          "install_time": {
            "type": "string",
            "format": "date-time"
          },
          "event_time": {
            "type": "string",
            "format": "date-time"
          },
          "event_name": {
            "type": "string"
          },
          "media_source": {
            "type": "string"
          },
          "campaign": {
            "type": "string"
          },
          "af_prt": {
            "type": "string"
          },
          "appsflyer_id": {
            "type": "string"
          },
          "advertising_id": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "InAppEvent": {
        "type": "object",
        "properties": {
          "appsflyer_id": {
            "type": "string"
          },
          "customer_user_id": {
            "type": "string"
          },
          "event_time": {
            "type": "string",
            "format": "date-time"
          },
          "event_name": {
            "type": "string"
          },
          "event_value": {
            "type": "string"
          },
          "event_revenue": {
            "type": "number"
          },
          "event_revenue_currency": {
            "type": "string"
          },
          "media_source": {
            "type": "string"
          },
          "campaign": {
            "type": "string"
          }
        }
      },
      "Uninstall": {
        "type": "object",
        "properties": {
          "appsflyer_id": {
            "type": "string"
          },
          "event_time": {
            "type": "string",
            "format": "date-time"
          },
          "install_time": {
            "type": "string",
            "format": "date-time"
          },
          "media_source": {
            "type": "string"
          },
          "campaign": {
            "type": "string"
          }
        }
      },
      "EventRequest": {
        "type": "object",
        "required": [
          "appsflyer_id",
          "eventName",
          "eventTime"
        ],
        "properties": {
          "appsflyer_id": {
            "type": "string",
            "description": "AppsFlyer device ID"
          },
          "customer_user_id": {
            "type": "string",
            "description": "Customer user ID"
          },
          "eventName": {
            "type": "string",
            "description": "Event name"
          },
          "eventTime": {
            "type": "string",
            "format": "date-time",
            "description": "Event timestamp"
          },
          "eventValue": {
            "type": "object",
            "description": "Event value parameters",
            "additionalProperties": true
          },
          "eventRevenue": {
            "type": "number",
            "description": "Revenue value"
          },
          "eventCurrency": {
            "type": "string",
            "description": "Currency code (e.g., USD)"
          }
        }
      },
      "PartnerReport": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "media_source": {
            "type": "string"
          },
          "installs": {
            "type": "integer"
          },
          "clicks": {
            "type": "integer"
          },
          "impressions": {
            "type": "integer"
          },
          "cost": {
            "type": "number"
          },
          "revenue": {
            "type": "number"
          }
        }
      },
      "GeoReport": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "country_code": {
            "type": "string"
          },
          "installs": {
            "type": "integer"
          },
          "sessions": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserInput": {
        "type": "object",
        "required": [
          "email",
          "role"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Apps",
      "description": "Application management"
    },
    {
      "name": "Raw Data",
      "description": "Raw data pull APIs for installs, events, and uninstalls"
    },
    {
      "name": "Aggregate Reports",
      "description": "Aggregate analytics and reports"
    },
    {
      "name": "Server-to-Server Events",
      "description": "Server-to-server event tracking"
    },
    {
      "name": "User Management",
      "description": "User and account management"
    }
  ]
}