{
  "openapi": "3.0.3",
  "info": {
    "title": "Quick Scraper API",
    "description": "Quick Scraper API handles proxy servers, browsers, and CAPTCHA so that you can get the HTML from any website with an easy API call. Supports JavaScript rendering, custom headers, geographic location targeting, premium residential proxies, device type selection, and parser addons.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://quickscraper.co/docs"
  },
  "servers": [
    {
      "url": "https://api.quickscraper.co",
      "description": "Production server"
    }
  ],
  "paths": {
    "/parse": {
      "get": {
        "tags": [
          "Scraping"
        ],
        "operationId": "scrapeUrl",
        "summary": "Scrape a URL",
        "description": "Fetch the raw HTML content of any URL. Supports JavaScript rendering, custom headers, geographic targeting, device type emulation, premium residential proxies, and parser addons. Each request is retried until completed (up to 60 seconds). Limit is 2MB per request.",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "Your API access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL to scrape",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "render",
            "in": "query",
            "required": false,
            "description": "Set to true to render JavaScript using a headless Chrome instance (paid plans only)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "keep_headers",
            "in": "query",
            "required": false,
            "description": "Set to true to pass through original request headers (user agents, cookies, etc.)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "description": "Geographic location for the request. Supported: us, ca, gb, de, fr, es, br, mx, in, jp, cn, au, it, nl, sg. Enterprise plans support additional countries.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ca",
                "gb",
                "de",
                "fr",
                "es",
                "br",
                "mx",
                "in",
                "jp",
                "cn",
                "au",
                "it",
                "nl",
                "sg"
              ]
            }
          },
          {
            "name": "premium",
            "in": "query",
            "required": false,
            "description": "Set to true to use premium residential proxy pools",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "device_type",
            "in": "query",
            "required": false,
            "description": "Device type to emulate",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile"
              ]
            }
          },
          {
            "name": "parser",
            "in": "query",
            "required": false,
            "description": "Parser addon to apply to the response for structured data extraction",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully scraped the URL. Returns raw HTML content of the page.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "Raw HTML content of the scraped page"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - free plan limit exceeded (1,000 requests)"
          },
          "404": {
            "description": "Target URL not found (charged 5 credits)"
          },
          "429": {
            "description": "Too many requests - concurrent connection limit exceeded"
          },
          "500": {
            "description": "Internal server error - all retry attempts failed within 60 seconds"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "API access token passed as query parameter"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Scraping",
      "description": "Web scraping operations"
    }
  ]
}