{
  "openapi": "3.0.3",
  "info": {
    "title": "QuickScraper API",
    "description": "Web scraping API that handles proxies, browsers, and CAPTCHAs. Supports JavaScript rendering, geographic targeting, and device emulation.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://quickscraper.co/docs"
  },
  "servers": [
    {
      "url": "https://api.quickscraper.co",
      "description": "QuickScraper API Production"
    }
  ],
  "paths": {
    "/parse": {
      "get": {
        "operationId": "parsewebpage",
        "summary": "Parse a webpage",
        "description": "Scrape and parse a webpage. Returns the raw HTML content of the requested page. Supports JavaScript rendering, geographic targeting, premium proxies, and device emulation. Automatic retry mechanism with up to 60 seconds timeout.",
        "tags": [
          "Scraping"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "API access token for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target webpage URL to scrape.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "render",
            "in": "query",
            "description": "Set to true to enable JavaScript rendering for dynamic pages.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "keep_headers",
            "in": "query",
            "description": "Preserve custom request headers.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Geographic targeting country code.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ca",
                "gb",
                "de",
                "fr",
                "es",
                "br",
                "mx",
                "in",
                "jp",
                "cn",
                "au",
                "it",
                "nl",
                "sg"
              ]
            }
          },
          {
            "name": "premium",
            "in": "query",
            "description": "Enable premium residential proxy pool.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "device_type",
            "in": "query",
            "description": "Device type emulation.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile"
              ]
            }
          },
          {
            "name": "parserSubscriptionId",
            "in": "query",
            "description": "Parser addon identifier for structured data extraction.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with scraped HTML content.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "Raw HTML content of the requested page."
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "512": {
            "description": "Timeout error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "513": {
            "description": "Forbidden - target page blocked access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "514": {
            "description": "Rate limiting by target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "515": {
            "description": "Target page not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "516": {
            "description": "Bad request to target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "517": {
            "description": "Generic scraping failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "API access token passed as query parameter."
      }
    }
  },
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Scraping",
      "description": "Operations related to Scraping"
    }
  ]
}