{
  "openapi": "3.0.3",
  "info": {
    "title": "Glibl",
    "description": "API for Glibl, digitize all business cards, yours and others.\nWelcome to the Global API documentation. Some routes require OAuth 2.0 authentication.\n\n**Today we do not allow you to create a new application yourself.**\n\nIn order to use the API, please contact us at [contact@glibl.fr](mailto:contact@glibl.fr) to generate a new third-party application authorized to consume API resources. \nWe will review your request and provide you with a `CLIENT_ID` and a `SECRET_ID`.",
    "termsOfService": "https://glibl.fr/terms-of-service/",
    "contact": {
      "email": "sebastien.doutre@glibl.fr"
    },
    "version": "5.8.0",
    "x-jentic-source-url": "https://api.glibl.fr/api/doc"
  },
  "servers": [
    {
      "url": "https://api.glibl.fr",
      "description": "Glibl API"
    }
  ],
  "paths": {
    "/v4/test": {
      "get": {
        "tags": [
          "Default"
        ],
        "summary": "Test connected user",
        "description": "Check if user is fully connected to the API.",
        "operationId": "get_app_api_test",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "message": {
                        "description": "Info message",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email of connected user",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-contact-all": {
      "get": {
        "tags": [
          "Team Manager"
        ],
        "summary": "Get all collaborator's contact",
        "description": "Get all collaborator's contact. Namely, your own contacts are integrated. **Team Manager licence is required.**",
        "operationId": "get_collaborator_contact_list_v4",
        "parameters": [
          {
            "name": "Glibl-App-Area",
            "in": "header",
            "description": "The field used to limit area",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "team-manager"
          },
          {
            "name": "X-LICENCE-KEY",
            "in": "header",
            "description": "The field used to get the licence",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "contacts": {
                      "description": "Contact list",
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "ID of contact",
                            "type": "string",
                            "example": "c59506b4-a506-11ec-9935-acde48001122"
                          },
                          "firstname": {
                            "description": "First name of contact",
                            "type": "string",
                            "example": "John"
                          },
                          "lastname": {
                            "description": "Last name of contact",
                            "type": "string",
                            "example": "Doe"
                          },
                          "adress1": {
                            "description": "First address line",
                            "type": "string",
                            "example": "96 California road"
                          },
                          "adress2": {
                            "description": "Second address line",
                            "type": "string",
                            "example": ""
                          },
                          "adress3": {
                            "description": "Last address line",
                            "type": "string",
                            "example": ""
                          },
                          "zip": {
                            "description": "ZIP code",
                            "type": "string",
                            "example": "62-9541F"
                          },
                          "city": {
                            "description": "City",
                            "type": "string",
                            "example": "New York"
                          },
                          "country": {
                            "description": "Country",
                            "type": "string",
                            "example": "US"
                          },
                          "tel1": {
                            "description": "Phone number 1",
                            "type": "string",
                            "example": "0123456789"
                          },
                          "tel2": {
                            "description": "Phone number 2",
                            "type": "string",
                            "example": "0123456789"
                          },
                          "mobile": {
                            "description": "Mobile number",
                            "type": "string",
                            "example": "0123456789"
                          },
                          "fax": {
                            "description": "Fax",
                            "type": "string",
                            "example": "0123456789"
                          },
                          "email": {
                            "description": "email adress",
                            "type": "string",
                            "example": "contact@photografix.com"
                          },
                          "firm": {
                            "description": "Company Name",
                            "type": "string",
                            "example": "Photografix"
                          },
                          "function": {
                            "description": "Function in company",
                            "type": "string",
                            "example": ""
                          },
                          "internet": {
                            "description": "Company website",
                            "type": "string",
                            "example": "Executive Director"
                          },
                          "link": {
                            "description": "List of other links",
                            "type": "array",
                            "items": {
                              "properties": {
                                "label": {
                                  "description": "Title of link",
                                  "type": "string",
                                  "example": "Instagram"
                                },
                                "value": {
                                  "description": "Value",
                                  "type": "string",
                                  "example": "https://google.com"
                                },
                                "type": {
                                  "description": "Type of link (google, slack,...",
                                  "type": "string",
                                  "example": "instagram"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "logo": {
                            "description": "Link to the logo",
                            "type": "string",
                            "example": "https://glibl.fr/addcard/icon?f=_1681909027.544949.png&size=512x512&p=fdca7c81360fdc9b8c6afd0"
                          },
                          "card_front": {
                            "description": "Link to the front of the business card",
                            "type": "string",
                            "example": "https://glibl.fr/card-preview?c=4f0cbaca-d169-11ec-b7d1-acde48001122"
                          },
                          "share_link": {
                            "description": "Share link",
                            "type": "string",
                            "example": "https://glibl.fr/addcard?cardId=4f0cbaca-d169-11ec-b7d1-acde48001122"
                          },
                          "created_at": {
                            "description": "Creation date",
                            "type": "string",
                            "example": "2022-05-11T20:31:07Z"
                          },
                          "updated_at": {
                            "description": "Last update",
                            "type": "string",
                            "example": "2022-05-11T20:31:07Z"
                          },
                          "collaborator_firstname": {
                            "description": "First name of the employee attached to this contact",
                            "type": "string",
                            "example": "Sarah"
                          },
                          "collaborator_lastname": {
                            "description": "Last name of the employee attached to this contact",
                            "type": "string",
                            "example": "Connor"
                          },
                          "collaborator_email": {
                            "description": "Email of the employee attached to this contact",
                            "type": "string",
                            "example": "contact@thermacontrol.com"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-contact/count/{c_id}": {
      "get": {
        "tags": [
          "Team Manager"
        ],
        "summary": "Returns the number of contact creations in total and for the current month.",
        "description": "This is the total number of contacts acquired for the employee. **Team Manager licence is required.**",
        "operationId": "get_collaborator_contact_count_v4",
        "parameters": [
          {
            "name": "Glibl-App-Area",
            "in": "header",
            "description": "The field used to limit area",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "team-manager"
          },
          {
            "name": "X-LICENCE-KEY",
            "in": "header",
            "description": "The field used to get the licence",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_team",
            "in": "query",
            "description": "Recovery of statistics for the individual employee or their entire team. Default : true (entire team)",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "description": "Total number of contacts acquired",
                      "type": "integer",
                      "example": 20
                    },
                    "lastMonth": {
                      "description": "Total number of contacts acquired on last month",
                      "type": "integer",
                      "example": 5
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-contact/count-per-month/{c_id}": {
      "get": {
        "tags": [
          "Team Manager"
        ],
        "summary": "Returns the team's monthly contact creation statistics.",
        "description": "The statistics are calculated between n* years (or a single 01/2024 -> 12/2024). The start and end year are passed as query parameter [start: string, end: string]. **Team Manager licence is required.**",
        "operationId": "get_collaborator_contact_count_per_month_v4",
        "parameters": [
          {
            "name": "Glibl-App-Area",
            "in": "header",
            "description": "The field used to limit area",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "team-manager"
          },
          {
            "name": "X-LICENCE-KEY",
            "in": "header",
            "description": "The field used to get the licence",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start year. By default it is the current year",
            "schema": {
              "type": "string"
            },
            "example": "2024"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End year. By default it is the current year",
            "schema": {
              "type": "string"
            },
            "example": "2025"
          },
          {
            "name": "all_team",
            "in": "query",
            "description": "Recovery of statistics for the individual employee or their entire team. Default : true (entire team)",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "year": {
                        "description": "Year",
                        "type": "integer",
                        "example": 2024
                      },
                      "month": {
                        "description": "Month",
                        "type": "integer",
                        "example": 1
                      },
                      "quantity": {
                        "description": "Number of contacts acquired",
                        "type": "integer",
                        "example": 5
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-stats/card-shares/{c_id}": {
      "get": {
        "tags": [
          "Team Manager"
        ],
        "summary": "Returns a user's or team's card sharing statistics.",
        "description": "Statistics are calculated between 12 months of the current year by default.\n        Warning: limit the data reported over 3 years for performance reasons. **Team Manager licence is required.**",
        "operationId": "get_collaborator_stats_card_shares_v4",
        "parameters": [
          {
            "name": "Glibl-App-Area",
            "in": "header",
            "description": "The field used to limit area",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "team-manager"
          },
          {
            "name": "X-LICENCE-KEY",
            "in": "header",
            "description": "The field used to get the licence",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date. By default it is the current date",
            "schema": {
              "type": "string"
            },
            "example": "2024-12-24"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date. By default it is the current date",
            "schema": {
              "type": "string"
            },
            "example": "2024-12-28"
          },
          {
            "name": "all_team",
            "in": "query",
            "description": "Recovery of statistics for the individual employee or their entire team. Default : true (entire team)",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "viewOfPage": {
                        "description": "Number of views",
                        "type": "integer",
                        "example": "88"
                      },
                      "visitor": {
                        "description": "Number of visits",
                        "type": "integer",
                        "example": "67"
                      },
                      "entry": {
                        "description": "Number of entries",
                        "type": "integer",
                        "example": "66"
                      },
                      "singleVisitor": {
                        "description": "Number of unique visitors",
                        "type": "integer",
                        "example": "63"
                      },
                      "singleEntry": {
                        "description": "Number of unique entries",
                        "type": "integer",
                        "example": "60"
                      },
                      "entryAt": {
                        "description": "Entry date",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-23 14:00:32"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-stats/card-shares-count/{c_id}": {
      "get": {
        "tags": [
          "Team Manager"
        ],
        "summary": "Returns a user's or team's card sharing totals.",
        "description": "The values returned are the overall totals and for the current month. **Team Manager licence is required.**",
        "operationId": "get_collaborator_stats_card_shares_count_v4",
        "parameters": [
          {
            "name": "Glibl-App-Area",
            "in": "header",
            "description": "The field used to limit area",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "team-manager"
          },
          {
            "name": "X-LICENCE-KEY",
            "in": "header",
            "description": "The field used to get the licence",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_team",
            "in": "query",
            "description": "Recovery of statistics for the individual employee or their entire team. Default : true (entire team)",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "description": "Total card sharing",
                      "properties": {
                        "viewOfPage": {
                          "description": "Number of views",
                          "type": "integer",
                          "example": "88"
                        },
                        "visitor": {
                          "description": "Number of visits",
                          "type": "integer",
                          "example": "67"
                        },
                        "entry": {
                          "description": "Number of entries",
                          "type": "integer",
                          "example": "66"
                        },
                        "singleVisitor": {
                          "description": "Number of unique visitors",
                          "type": "integer",
                          "example": "63"
                        },
                        "singleEntry": {
                          "description": "Number of unique entries",
                          "type": "integer",
                          "example": "60"
                        }
                      },
                      "type": "object"
                    },
                    "lastMonth": {
                      "description": "Total card sharing on last month",
                      "properties": {
                        "viewOfPage": {
                          "description": "Number of views",
                          "type": "integer",
                          "example": "88"
                        },
                        "visitor": {
                          "description": "Number of visits",
                          "type": "integer",
                          "example": "67"
                        },
                        "entry": {
                          "description": "Number of entries",
                          "type": "integer",
                          "example": "66"
                        },
                        "singleVisitor": {
                          "description": "Number of unique visitors",
                          "type": "integer",
                          "example": "63"
                        },
                        "singleEntry": {
                          "description": "Number of unique entries",
                          "type": "integer",
                          "example": "60"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-stats/card-visits/{c_id}": {
      "get": {
        "tags": [
          "Team Manager"
        ],
        "summary": "Returns a user's or team's card visits statistics.",
        "description": "Statistics are calculated between 12 months of the current year by default.\n        Warning: limit the data reported over 3 years for performance reasons. **Team Manager licence is required.**",
        "operationId": "get_collaborator_stats_card_visits_v4",
        "parameters": [
          {
            "name": "Glibl-App-Area",
            "in": "header",
            "description": "The field used to limit area",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "team-manager"
          },
          {
            "name": "X-LICENCE-KEY",
            "in": "header",
            "description": "The field used to get the licence",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date. By default it is the current date",
            "schema": {
              "type": "string"
            },
            "example": "2024-12-24"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date. By default it is the current date",
            "schema": {
              "type": "string"
            },
            "example": "2024-12-28"
          },
          {
            "name": "all_team",
            "in": "query",
            "description": "Recovery of statistics for the individual employee or their entire team. Default : true (entire team)",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "Id",
                        "type": "string",
                        "example": "01940cf2-54a7-718c-bccd-12b0ec89ec0d"
                      },
                      "ressourceKey": {
                        "description": "Ressource key",
                        "type": "string",
                        "example": "HGF6859F68G9D0GB"
                      },
                      "visitorType": {
                        "description": "Visitor type",
                        "type": "integer",
                        "example": "1"
                      },
                      "continent": {
                        "description": "Continent",
                        "type": "string",
                        "example": "Europe"
                      },
                      "continentCode": {
                        "description": "Continent code",
                        "type": "string",
                        "example": "eur"
                      },
                      "country": {
                        "description": "Country",
                        "type": "string",
                        "example": "France"
                      },
                      "countryCode": {
                        "description": "Code country",
                        "type": "string",
                        "example": "fr"
                      },
                      "region": {
                        "description": "Region",
                        "type": "string",
                        "example": "Auvergne-Rhône-Alpes"
                      },
                      "regionCode": {
                        "description": "Code region",
                        "type": "string",
                        "example": "ARA"
                      },
                      "city": {
                        "description": "City",
                        "type": "string",
                        "example": "Lyon"
                      },
                      "location": {
                        "description": "Location",
                        "type": "string",
                        "example": "Lyon, Auvergne-Rhône-Alpes, France"
                      },
                      "coordinates": {
                        "properties": {
                          "longitude": {
                            "description": "Longitude",
                            "type": "number",
                            "format": "float",
                            "example": 4.836
                          },
                          "latitude": {
                            "description": "Latitude",
                            "type": "number",
                            "format": "float",
                            "example": 45.764
                          }
                        },
                        "type": "object"
                      },
                      "entryAt": {
                        "description": "Entry date",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-23 14:00:32"
                      },
                      "createdAt": {
                        "description": "Creation date",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-23 14:00:32"
                      },
                      "updatedAt": {
                        "description": "Modification date",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-23 14:00:32"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/collaborator-stats/team-stats": {
      "get": {
        "summary": "Retourne toutes les statistiques de l'équipe d'un manager\nSeul les compteurs sont envoyés, pas les données complétes.",
        "description": "Ce sont les mêmes données que pour le rapport hebdomadaire, mais pour une période donnée.\nSi aucune date founie, on prend l'ensemble des données (sauf pour la moyenne de contact par mois qui est calculée\nsur l'année en cours ou l'année de la période donnée).",
        "operationId": "get_team_stats_v4",
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "options": {
        "summary": "Retourne toutes les statistiques de l'équipe d'un manager\nSeul les compteurs sont envoyés, pas les données complétes.",
        "description": "Ce sont les mêmes données que pour le rapport hebdomadaire, mais pour une période donnée.\nSi aucune date founie, on prend l'ensemble des données (sauf pour la moyenne de contact par mois qui est calculée\nsur l'année en cours ou l'année de la période donnée).",
        "operationId": "options_team_stats_v4",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v4/contact/add": {
      "post": {
        "tags": [
          "Contact and profile"
        ],
        "summary": "Add new contact",
        "description": "Add a new contact / card to your contact list. This new contact is a Glibl card or a scanned card.",
        "operationId": "post_add_contact_v4",
        "requestBody": {
          "description": "Contact to be added",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "card_id": {
                    "description": "Card ID",
                    "type": "string",
                    "example": "1eddeab9-8c6a-6932-b124-471d804285ed"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Code message",
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "Card added successfully."
                    },
                    "contact_id": {
                      "description": "ID of a new contact added",
                      "type": "string",
                      "example": "1eddeab9-8c6a-6932-b124-471d8042ae99"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/contact/togglefavorite": {
      "patch": {
        "tags": [
          "Contact and profile"
        ],
        "summary": "Set contact favorite",
        "description": "Update a contact / card to your favorite.",
        "operationId": "patch_toggle_favorite_contact_v4",
        "requestBody": {
          "description": "Toggle a contact / card to favorite",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contact_id": {
                    "description": "Contact ID",
                    "type": "string",
                    "example": "1eddeab9-8c6a-6932-b124-471d8042ae99"
                  },
                  "is_favorite": {
                    "description": "Favorite status",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Code message",
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "Business card successfully added to your favorites."
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/contact": {
      "get": {
        "tags": [
          "Contact and profile"
        ],
        "summary": "Get list of contact",
        "description": "Get paginated list of your contact.",
        "operationId": "get_get_contact_v4",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "Display mode card or list. Default mode : list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting by. Default sorting : lastname.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sens",
            "in": "query",
            "description": "Sort order by ASC or DESC. Default sort order : asc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Use this field to search a contact.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v4/miscellaneous/team-manager/release/{version}": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Get Team Manager release note",
        "description": "Get a specific release note of the team-manager",
        "operationId": "get_team_manager_release_info_v4",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "Version of the release note",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "name": {
                      "description": "Name of the user",
                      "type": "string",
                      "example": "John Doe"
                    },
                    "createdAt": {
                      "description": "Creation date of the release note",
                      "type": "string",
                      "format": "date-time",
                      "example": "2022-05-11T20:31:07Z"
                    },
                    "htmlContent": {
                      "description": "Content of the release note",
                      "type": "string",
                      "example": "<p>This is a release note</p>"
                    },
                    "version": {
                      "description": "Version of the release note",
                      "type": "string",
                      "example": "1.0.0"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/profil": {
      "get": {
        "tags": [
          "Contact and profile"
        ],
        "summary": "Get profil data",
        "description": "Get your Glibl profil data.",
        "operationId": "get_get_profil_v4",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Code message",
                      "type": "integer",
                      "example": 200
                    },
                    "profil": {
                      "description": "Profil data",
                      "properties": {
                        "firstname": {
                          "description": "First name of contact",
                          "type": "string",
                          "example": "John"
                        },
                        "lastname": {
                          "description": "Last name of contact",
                          "type": "string",
                          "example": "Doe"
                        },
                        "adress1": {
                          "description": "First address line",
                          "type": "string",
                          "example": "96 California road"
                        },
                        "adress2": {
                          "description": "Second address line",
                          "type": "string",
                          "example": ""
                        },
                        "adress3": {
                          "description": "Last address line",
                          "type": "string",
                          "example": ""
                        },
                        "zip": {
                          "description": "ZIP code",
                          "type": "string",
                          "example": "62-9541F"
                        },
                        "city": {
                          "description": "City",
                          "type": "string",
                          "example": "New York"
                        },
                        "country": {
                          "description": "Country",
                          "type": "string",
                          "example": "US"
                        },
                        "tel1": {
                          "description": "Phone number 1",
                          "type": "string",
                          "example": "0123456789"
                        },
                        "tel2": {
                          "description": "Phone number 2",
                          "type": "string",
                          "example": "0123456789"
                        },
                        "mobile": {
                          "description": "Mobile number",
                          "type": "string",
                          "example": "0123456789"
                        },
                        "fax": {
                          "description": "Fax",
                          "type": "string",
                          "example": "0123456789"
                        },
                        "email": {
                          "description": "email adress",
                          "type": "string",
                          "example": "contact@photografix.com"
                        },
                        "firm": {
                          "description": "Company Name",
                          "type": "string",
                          "example": "Photografix"
                        },
                        "function": {
                          "description": "Function in company",
                          "type": "string",
                          "example": ""
                        },
                        "avatar": {
                          "description": "Avatar",
                          "type": "string",
                          "example": ""
                        },
                        "logo": {
                          "description": "Logo",
                          "type": "string",
                          "example": ""
                        },
                        "webpage": {
                          "description": "Company website",
                          "type": "string",
                          "example": "Executive Director"
                        },
                        "link": {
                          "description": "List of other links",
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "description": "link ID",
                                "type": "string",
                                "example": "1eddeac8-4276-6a4c-a110-f94f35bb88f8"
                              },
                              "label": {
                                "description": "Title of link",
                                "type": "string",
                                "example": "Instagram"
                              },
                              "value": {
                                "description": "Value",
                                "type": "string",
                                "example": "https://google.com"
                              },
                              "type": {
                                "description": "Type of link (google, slack,...",
                                "type": "string",
                                "example": "instagram"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v4/user": {
      "get": {
        "tags": [
          "Default"
        ],
        "summary": "Get user credentials",
        "description": "Get user credentials like first name and last name.",
        "operationId": "get_user_v4",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Code message",
                      "type": "integer",
                      "example": 200
                    },
                    "user": {
                      "description": "User credentials",
                      "properties": {
                        "id": {
                          "description": "User ID",
                          "type": "string",
                          "example": "1eddeab9-8c6a-6932-b124-471d8042ae99"
                        },
                        "email": {
                          "description": "User's email",
                          "type": "string",
                          "example": "kevin.pilate@club-fitness.com"
                        },
                        "profilId": {
                          "description": "User' profil ID",
                          "type": "string",
                          "example": "1eddeab9-8c6b-609e-903f-471d8042ae99"
                        },
                        "firstname": {
                          "description": "Firstname",
                          "type": "string",
                          "example": "Kevin"
                        },
                        "lastname": {
                          "description": "Lastname",
                          "type": "string",
                          "example": "Pilate"
                        },
                        "logo": {
                          "description": "Logo file name",
                          "type": "string",
                          "example": "6c3242d97_1702476290.296034.png"
                        },
                        "avatar": {
                          "description": "Avatar file name",
                          "type": "string",
                          "example": "6c3242d97_1702476290.296034.png"
                        },
                        "roles": {
                          "description": "User\\s roles",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "ROLE_USER"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/authorize",
            "tokenUrl": "/token",
            "refreshUrl": "/token",
            "scopes": {
              "read_email": "Grants read-only access to basic information about your account like email, firstname, lastname, profil ID, roles and logo filename.",
              "admin_contact": "Full control of your contact.",
              "read_contact": "Grants read-only access to the contact list and detail.",
              "write_contact": "Grants read/write access to the contact list and detail. Allow you to favorite a contact or delete a contact.",
              "admin_profil": "Full control of your profil.",
              "read_profil": "Grants read-only access to profile data.",
              "write_profil": "Grants read/write access to profile data. Edit profile information or change the card template.",
              "admin_tm_contact": "Full access to the contact list and collaborators' contact. Allow the addition and deletion of a contact or the change of collaborator.",
              "read_tm_contact": "Grants read-only access to the contact list and collaborators' contact details.",
              "write_tm_contact": "Grants read/write access to the contact list and collaborators' contact details. Allow the addition of a contact or the change of collaborator.",
              "admin_tm_collaborator": "Full access of collaborators.",
              "read_tm_collaborator": "Grants read-only access to the list and details of collaborators.",
              "write_tm_collaborator": "Grants read/write access to the list and the details of collaborators.",
              "admin_tm_enrollment": "Full access to the enrollments. Allow the deletion and archiving of an enrollment.",
              "read_tm_enrollment": "Grants read-only access to the list and details of enrollments.",
              "write_tm_enrollment": "Grants read/write access to the list and details of enrollments. Allow the archiving of an enrollment."
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": [
        "read_email",
        "admin_contact",
        "read_contact",
        "write_contact",
        "admin_profil",
        "read_profil",
        "write_profil",
        "admin_tm_contact",
        "read_tm_contact",
        "write_tm_contact",
        "admin_tm_collaborator",
        "read_tm_collaborator",
        "write_tm_collaborator",
        "admin_tm_enrollment",
        "read_tm_enrollment",
        "write_tm_enrollment"
      ]
    }
  ],
  "tags": [
    {
      "name": "Default",
      "description": "Email information and other basic credentials informations."
    },
    {
      "name": "Miscellaneous",
      "description": "Miscellaneous data (All App)"
    },
    {
      "name": "Contact and profile",
      "description": "Contact and profile data (Glibl App)"
    },
    {
      "name": "Team Manager",
      "description": "Access to Team Manager data",
      "externalDocs": {
        "description": "Find out more about Team Manager",
        "url": "https://glibl.fr/teammanager/"
      }
    }
  ],
  "externalDocs": {
    "description": "Find out more about Glibl",
    "url": "https://glibl.fr"
  }
}