{
  "openapi": "3.0.0",
  "info": {
    "description": "Chatbot app calls SAP PO 7.5 Integration\nMethods:\n  <br>» Data Forn Ext\n  <br>» Data Forn Int\n\n  1.2.0-oas3 (07/10/2019):\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;• Added Production URL Server\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;• Structure T_NF\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added AUGDT\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added NF\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;• Structure T_PEDIDO\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added XBLNR_NF\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added EINDT_NF\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added XBLNR_MIGO\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;• Structure T_REQUISICAO\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added FRGKZ\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added FRGDT      \n  \n  1.1.0-oas3 (19/09/2019):\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;• Structure T_FORNECEDOR\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added NAME1\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added BANKL\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;• Structure T_PEDIDO\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; added FRGKE\n  \n  1.0.0-oas3 (04/09/2019): Creation\n",
    "version": "1.2.0-oas3",
    "title": "Ambev PO7.5 ChatBot Integration",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Partner evt/IT",
      "email": "contato@evtit.com",
      "url": "http://www.evtit.com/"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/evt-Ambev_Fabr/Ambev_PO7.5_ChatBot/1.2.0-oas3/swagger.json"
  },
  "servers": [
    {
      "url": "https://sappodev.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Development server (DP1) - External URL"
    },
    {
      "url": "https://sappoqas.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Quality server (QP1) - External URL"
    },
    {
      "url": "https://sappoprd.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Production server (PP1) - External URL"
    }
  ],
  "paths": {
    "/v1/chatbot/FornExt": {
      "post": {
        "tags": [
          "chatbot"
        ],
        "summary": "Data Forn External",
        "operationId": "chatbotPostDataFornExt_OB_Sync",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postDataFornExt_res"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postDataFornExt_exc"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDataFornExt_req"
              }
            }
          },
          "required": true
        },
        "description": "Data Forn External"
      }
    },
    "/v1/chatbot/FornInt": {
      "post": {
        "tags": [
          "chatbot"
        ],
        "summary": "Data Forn Internal",
        "operationId": "chatbotPostDataFornInt_OB_Sync",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postDataFornInt_res"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postDataFornInt_exc"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDataFornInt_req"
              }
            }
          },
          "required": true
        },
        "description": "Data Forn Internal"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "po75_auth": {
        "type": "http",
        "scheme": "basic"
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    },
    "schemas": {
      "postDataFornExt_req": {
        "type": "object",
        "properties": {
          "I_CNPJ": {
            "type": "string",
            "description": "Nº ID fiscal 1",
            "maxLength": 16
          },
          "I_CPF": {
            "type": "string",
            "description": "Nº ID fiscal 2",
            "maxLength": 11
          },
          "I_NF": {
            "type": "string",
            "description": "Nº da NF-e de nove posições",
            "maxLength": 9
          }
        },
        "title": "postDataFornExt_req",
        "xml": {
          "name": "postDataFornExt_req"
        },
        "description": ""
      },
      "postDataFornExt_res": {
        "type": "object",
        "properties": {
          "T_FORNECEDOR": {
            "$ref": "#/components/schemas/T_FORNECEDOR"
          },
          "T_NF": {
            "$ref": "#/components/schemas/T_NF"
          },
          "T_PEDIDO": {
            "$ref": "#/components/schemas/T_PEDIDO"
          },
          "T_RETURN": {
            "$ref": "#/components/schemas/T_RETURN"
          }
        },
        "title": "postDataFornExt_res",
        "xml": {
          "name": "postDataFornExt_res"
        },
        "description": ""
      },
      "postDataFornExt_exc": {
        "type": "object",
        "properties": {
          "standard": {
            "$ref": "#/components/schemas/exc_standard"
          }
        },
        "xml": {
          "name": "postApontamentoMip_exc"
        }
      },
      "postDataFornInt_req": {
        "type": "object",
        "properties": {
          "I_BANFN": {
            "type": "string",
            "description": "Nº requisição de compra",
            "maxLength": 10
          },
          "I_BNFPO": {
            "type": "string",
            "description": "Nº do item da requisição de compra",
            "maxLength": 5,
            "pattern": "\\\\d+"
          },
          "I_EBELN": {
            "type": "string",
            "description": "Nº do documento de compras",
            "maxLength": 10
          },
          "I_EBELP": {
            "type": "string",
            "description": "Nº item do documento de compra",
            "maxLength": 5,
            "pattern": "\\\\d+"
          },
          "I_NFENUM": {
            "type": "string",
            "description": "Nº da NF-e de nove posições",
            "maxLength": 9
          }
        },
        "title": "postDataFornInt_req",
        "xml": {
          "name": "postDataFornInt_req"
        },
        "description": ""
      },
      "postDataFornInt_res": {
        "type": "object",
        "properties": {
          "T_FORNECEDOR": {
            "$ref": "#/components/schemas/T_FORNECEDOR"
          },
          "T_NF": {
            "$ref": "#/components/schemas/T_NF"
          },
          "T_PEDIDO": {
            "$ref": "#/components/schemas/T_PEDIDO"
          },
          "T_REQUISICAO": {
            "$ref": "#/components/schemas/T_REQUISICAO"
          },
          "T_RETURN": {
            "$ref": "#/components/schemas/T_RETURN"
          }
        },
        "title": "postDataFornInt_res",
        "xml": {
          "name": "postDataFornInt_res"
        },
        "description": ""
      },
      "postDataFornInt_exc": {
        "type": "object",
        "properties": {
          "standard": {
            "$ref": "#/components/schemas/exc_standard"
          }
        },
        "xml": {
          "name": "postDataFornInt_exc"
        }
      },
      "exc_standard": {
        "properties": {
          "faultText": {
            "type": "string"
          },
          "faultUrl": {
            "type": "string"
          },
          "faultDetail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/faultDetail_list"
            }
          }
        }
      },
      "faultDetail_list": {
        "type": "object",
        "properties": {
          "severity": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "xml": {
          "name": "faultDetail_list"
        }
      },
      "T_FORNECEDOR": {
        "type": "object",
        "properties": {
          "item": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZCHATBOT_FORNECEDOR"
            }
          }
        }
      },
      "T_NF": {
        "type": "object",
        "properties": {
          "item": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZCHATBOT_NF"
            }
          }
        }
      },
      "T_PEDIDO": {
        "type": "object",
        "properties": {
          "item": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZCHATBOT_PEDIDO"
            }
          }
        }
      },
      "T_REQUISICAO": {
        "type": "object",
        "properties": {
          "item": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZCHATBOT_REQUISICAO"
            }
          }
        }
      },
      "T_RETURN": {
        "type": "object",
        "properties": {
          "item": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZCHATBOT_RETORNO"
            }
          }
        }
      },
      "ZCHATBOT_FORNECEDOR": {
        "type": "object",
        "properties": {
          "LIFNR": {
            "type": "string",
            "description": "Nº conta do fornecedor",
            "maxLength": 10
          },
          "STCD1": {
            "type": "string",
            "description": "Nº ID fiscal 1",
            "maxLength": 16
          },
          "SMTP_ADDR": {
            "type": "string",
            "description": "Endereço de e-mail",
            "maxLength": 241
          },
          "STRAS": {
            "type": "string",
            "description": "Rua e nº",
            "maxLength": 30
          },
          "ERDAT": {
            "type": "string",
            "format": "date",
            "description": "Data de criação do registro"
          },
          "BANKN": {
            "type": "string",
            "description": "Nº conta bancária",
            "maxLength": 18
          },
          "LOEVM": {
            "type": "string",
            "description": "Código de eliminação",
            "maxLength": 1
          },
          "NAME1": {
            "type": "string",
            "description": "Name 1"
          },
          "BANKL": {
            "type": "string",
            "description": "Bank Number"
          }
        }
      },
      "ZCHATBOT_NF": {
        "type": "object",
        "properties": {
          "DOCNUM": {
            "type": "string",
            "description": "Nº documento",
            "maxLength": 10,
            "pattern": "\\\\d+"
          },
          "STATU": {
            "type": "string",
            "description": "Status",
            "maxLength": 1
          },
          "AUGCP": {
            "type": "string",
            "format": "date",
            "description": "Data de entrada da compensação"
          },
          "ZLSPR": {
            "type": "string",
            "description": "Chave para o bloqueio de pagamento",
            "maxLength": 1
          },
          "DOCDAT": {
            "type": "string",
            "format": "date",
            "description": "Data do documento"
          },
          "AUGDT": {
            "type": "string",
            "format": "date",
            "description": "Clearing Date"
          },
          "NF": {
            "type": "string",
            "description": "Reference Document Number"
          }
        }
      },
      "ZCHATBOT_PEDIDO": {
        "type": "object",
        "properties": {
          "EBELN": {
            "type": "string",
            "description": "Nº do documento de compras",
            "maxLength": 10
          },
          "EBELP": {
            "type": "string",
            "description": "Nº item do documento de compra",
            "maxLength": 5,
            "pattern": "\\\\d+"
          },
          "LOEKZ": {
            "type": "string",
            "description": "Marcação de eliminação",
            "maxLength": 1
          },
          "STATU": {
            "type": "string",
            "description": "Status da solicitação de cotação",
            "maxLength": 1
          },
          "BEDAT": {
            "type": "string",
            "format": "date",
            "description": "Data do pedido"
          },
          "EINDT": {
            "type": "string",
            "format": "date",
            "description": "Data de remessa do item"
          },
          "XBLNR": {
            "type": "string",
            "description": "Nº documento de referência",
            "maxLength": 16
          },
          "BLDAT": {
            "type": "string",
            "format": "date",
            "description": "Data no documento"
          },
          "WADAT_IST": {
            "type": "string",
            "format": "date",
            "description": "Data real do movimento de mercadorias"
          },
          "NETDT": {
            "type": "string",
            "format": "date",
            "description": "Vencimento líquido"
          },
          "FRGKE": {
            "type": "string",
            "description": "Release Indicator. Purchasing Document"
          },
          "XBLNR_NF": {
            "type": "string",
            "description": "Reference Document Number"
          },
          "EINDT_NF": {
            "type": "string",
            "format": "date",
            "description": "item Delivery Date"
          },
          "XBLNR_MIGO": {
            "type": "string",
            "description": "Reference Document Number"
          }
        }
      },
      "ZCHATBOT_REQUISICAO": {
        "type": "object",
        "properties": {
          "BANFN": {
            "type": "string",
            "description": "Nº requisição de compra",
            "maxLength": 10
          },
          "BNFPO": {
            "type": "string",
            "description": "Nº do item da requisição de compra",
            "maxLength": 5,
            "pattern": "\\\\d+"
          },
          "STATU": {
            "type": "string",
            "description": "Status de processamento da requisição de compra",
            "maxLength": 1
          },
          "BANPR": {
            "type": "string",
            "description": "Estado do processamento da requisição de compra",
            "maxLength": 2
          },
          "BLCKD": {
            "type": "string",
            "description": "Requisição de compra bloqueada",
            "maxLength": 1
          },
          "EBAKZ": {
            "type": "string",
            "description": "Requisição de compra concluída",
            "maxLength": 1
          },
          "LOEKZ": {
            "type": "string",
            "description": "Marcação de eliminação",
            "maxLength": 1
          },
          "BADAT": {
            "type": "string",
            "format": "date",
            "description": "Data da solicitação"
          },
          "FRGKZ": {
            "type": "string",
            "description": "Release Indicator"
          },
          "FRGDT": {
            "type": "string",
            "format": "date",
            "description": "Purchase Requisition Release Date"
          }
        }
      },
      "ZCHATBOT_RETORNO": {
        "type": "object",
        "properties": {
          "MESSAGE": {
            "type": "string",
            "description": "Message Text",
            "maxLength": 220
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "chatbot",
      "description": "Everything about Chatbot integration for Ambev"
    }
  ],
  "externalDocs": {
    "description": "Developer: Daniel G. Alexandre",
    "url": "mailto:daniel.dgatech@gmail.com"
  }
}