{
  "openapi": "3.0.3",
  "info": {
    "title": "Keyword Tool API",
    "version": "2.0.0",
    "description": "Keyword Tool API provides keyword research data including search volume, CPC, competition metrics, and keyword suggestions across multiple search engines (Google, Bing, YouTube, Amazon, Instagram, TikTok, and more). Supports competitor analysis and quota monitoring.",
    "x-jentic-source-url": "https://keywordtool.io/api"
  },
  "servers": [
    {
      "url": "https://api.keywordtool.io"
    }
  ],
  "paths": {
    "/v2/search/volume/google": {
      "post": {
        "operationId": "getGoogleSearchVolume",
        "summary": "Get Google search volume",
        "description": "Retrieve exact search volume, CPC, and competition data for keywords from Google Ads.",
        "tags": [
          "Search Volume"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchVolumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchVolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/volume/bing": {
      "post": {
        "operationId": "getBingSearchVolume",
        "summary": "Get Bing search volume",
        "description": "Retrieve exact search volume data for keywords from Bing.",
        "tags": [
          "Search Volume"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchVolumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchVolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/search/volume/youtube": {
      "post": {
        "operationId": "getYoutubeSearchVolume",
        "summary": "Get YouTube search volume",
        "description": "Retrieve estimated search volume data for keywords from YouTube.",
        "tags": [
          "Search Volume"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchVolumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchVolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/search/volume/amazon": {
      "post": {
        "operationId": "getAmazonSearchVolume",
        "summary": "Get Amazon search volume",
        "description": "Retrieve search volume data for keywords from Amazon.",
        "tags": [
          "Search Volume"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchVolumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchVolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/search/suggestions/{provider}": {
      "post": {
        "operationId": "getKeywordSuggestions",
        "summary": "Get keyword suggestions",
        "description": "Retrieve keyword suggestions, questions, prepositions, and related terms from the specified search engine provider.",
        "tags": [
          "Suggestions"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Search engine provider (google, youtube, bing, amazon, ebay, instagram, tiktok, pinterest, etsy, naver, google-trends, perplexity, app-store, play-store, x).",
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "youtube",
                "bing",
                "amazon",
                "ebay",
                "instagram",
                "tiktok",
                "pinterest",
                "etsy",
                "naver",
                "google-trends",
                "perplexity",
                "app-store",
                "play-store",
                "x"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/analyze-competitors/google": {
      "post": {
        "operationId": "analyzeCompetitors",
        "summary": "Analyze competitor keywords",
        "description": "Analyze competitor website keywords with search volume and CPC data from Google.",
        "tags": [
          "Competitor Analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeCompetitorsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Competitor analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchVolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/quota": {
      "get": {
        "operationId": "getQuota",
        "summary": "Get API quota",
        "description": "Returns remaining API usage within the rolling 24-hour window.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quota information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchVolumeRequest": {
        "type": "object",
        "required": [
          "keyword"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "description": "API key for authentication."
          },
          "keyword": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 1000,
            "description": "Array of keywords to look up (1-1000 items)."
          },
          "metrics_location": {
            "type": "string",
            "description": "Location code for metrics."
          },
          "metrics_language": {
            "type": "string",
            "description": "Language code for metrics."
          },
          "metrics_network": {
            "type": "string",
            "description": "Network filter (google, googlesearchpartners)."
          },
          "metrics_currency": {
            "type": "string",
            "description": "Currency code for CPC data."
          },
          "output": {
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "default": "json",
            "description": "Output format."
          }
        }
      },
      "SuggestionsRequest": {
        "type": "object",
        "required": [
          "keyword"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "description": "API key for authentication."
          },
          "keyword": {
            "type": "string",
            "description": "Seed keyword for suggestions."
          },
          "type": {
            "type": "string",
            "enum": [
              "suggestions",
              "questions",
              "prepositions",
              "related"
            ],
            "default": "suggestions",
            "description": "Type of suggestions to return."
          },
          "category": {
            "type": "string",
            "description": "Category filter."
          },
          "country": {
            "type": "string",
            "description": "Country code filter."
          },
          "language": {
            "type": "string",
            "description": "Language code filter."
          },
          "exclude": {
            "type": "string",
            "description": "Keywords to exclude from results."
          },
          "metrics": {
            "type": "boolean",
            "description": "Include volume/CPC/competition metrics.",
            "default": false
          },
          "metrics_location": {
            "type": "string"
          },
          "metrics_language": {
            "type": "string"
          },
          "output": {
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "default": "json"
          }
        }
      },
      "AnalyzeCompetitorsRequest": {
        "type": "object",
        "required": [
          "keyword"
        ],
        "properties": {
          "apikey": {
            "type": "string"
          },
          "keyword": {
            "type": "string",
            "description": "Competitor URL to analyze."
          },
          "exclude": {
            "type": "string",
            "description": "Keywords to exclude."
          },
          "metrics_location": {
            "type": "string"
          },
          "metrics_language": {
            "type": "string"
          },
          "metrics_network": {
            "type": "string"
          },
          "metrics_currency": {
            "type": "string"
          }
        }
      },
      "SearchVolumeResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/KeywordMetrics"
            }
          }
        }
      },
      "KeywordMetrics": {
        "type": "object",
        "properties": {
          "volume": {
            "type": "integer",
            "description": "Monthly search volume."
          },
          "cpc": {
            "type": "number",
            "description": "Cost per click."
          },
          "competition": {
            "type": "number",
            "description": "Competition level (0-1)."
          },
          "trend": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Monthly search volume trend data."
          }
        }
      },
      "SuggestionsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of suggested keywords."
          }
        }
      },
      "QuotaResponse": {
        "type": "object",
        "properties": {
          "remaining": {
            "type": "integer",
            "description": "Remaining API requests in the 24-hour window."
          },
          "limit": {
            "type": "integer",
            "description": "Total daily request limit."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyBody": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key passed as query parameter or in request body."
      }
    }
  },
  "security": [
    {
      "apiKeyBody": []
    }
  ]
}