{
  "openapi": "3.0.3",
  "info": {
    "title": "Icecat RESTful service",
    "version": "3",
    "termsOfService": "https://bo.icecat.biz/home/termsofservice",
    "x-jentic-source-url": "https://bo.icecat.biz/restful/v3/swagger.json"
  },
  "servers": [
    {
      "url": "https://bo.icecat.biz/restful/v3"
    }
  ],
  "paths": {
    "/Validation/Email": {
      "post": {
        "summary": "Validation",
        "description": "Email validation",
        "tags": [
          "Validation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Email": {
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": [
                  "Email"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true,
          "description": "Request body"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "IsValid": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "IsValid"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/SlaUserListCoverage/{TaskId}": {
      "get": {
        "summary": "SlaUserListCoverage",
        "description": "SlaUserListCoverage",
        "tags": [
          "SlaUserListCoverage"
        ],
        "parameters": [
          {
            "name": "TaskId",
            "in": "path",
            "description": "Internal TaskId of coverage",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "Batch": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Mpn": {
                                "description": "Manufacturer part number.",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 60
                              },
                              "ExternalSupplierName": {
                                "description": "External brand name",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "SupplierIsMapped": {
                                "description": "Display brand is mapped or not",
                                "type": "boolean"
                              },
                              "ProductData": {
                                "description": "Product data",
                                "type": "object",
                                "properties": {
                                  "ProductId": {
                                    "type": "integer",
                                    "maximum": 2147483647,
                                    "minimum": 1,
                                    "description": "Internal Icecat product identifier."
                                  },
                                  "Quality": {
                                    "description": "Product quality",
                                    "type": "string",
                                    "enum": [
                                      "ICECAT",
                                      "SUPPLIER",
                                      "NOEDITOR"
                                    ]
                                  }
                                },
                                "required": [
                                  "ProductId",
                                  "Quality"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "Mpn",
                              "ExternalSupplierName",
                              "SupplierIsMapped"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 0,
                          "maxItems": 30000
                        },
                        "Status": {
                          "description": "Task status",
                          "type": "string",
                          "enum": [
                            "Wait",
                            "InProgress",
                            "Done",
                            "Error",
                            "Deleted"
                          ]
                        }
                      },
                      "required": [
                        "Batch",
                        "Status"
                      ]
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/BrandOrganizations/{BrandId}": {
      "get": {
        "summary": "Gets all brand organizations.",
        "description": "Gets all brand organizations.",
        "tags": [
          "BrandOrganizations"
        ],
        "parameters": [
          {
            "name": "BrandId",
            "in": "path",
            "description": "Internal Icecat brand identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "MetadataOrganizations",
            "in": "query",
            "description": "Adds metadata to the response. Values - 1 (true) or 0 (false). Default value - 0.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "MetadataCategories",
            "in": "query",
            "description": "Adds metadata to the response. Values - 1 (true) or 0 (false). Default value - 0.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "MetadataUsers",
            "in": "query",
            "description": "Adds metadata to the response. Values - 1 (true) or 0 (false). Default value - 0.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "Owner": {
                          "description": "Brand owner.",
                          "type": "object",
                          "properties": {
                            "OrganizationId": {
                              "description": "Organization unique identifier.",
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                              "minLength": 36,
                              "maxLength": 36
                            },
                            "EditorUserId": {
                              "type": "integer",
                              "maximum": 2147483647,
                              "minimum": 1,
                              "description": "Internal Icecat User identifier."
                            },
                            "Categories": {
                              "description": "Categories linked with the owner.",
                              "type": "array",
                              "items": {
                                "description": "Category linked with the owner.",
                                "type": "object",
                                "properties": {
                                  "OwnerCategoryId": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]{0,19}$",
                                    "description": "Owner category ID."
                                  },
                                  "CategoryId": {
                                    "description": "Internal Icecat category identifier. List of them could be obtained from category REST API",
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 2147483647
                                  },
                                  "EditorUserId": {
                                    "type": "integer",
                                    "maximum": 2147483647,
                                    "minimum": 1,
                                    "description": "Internal Icecat User identifier."
                                  },
                                  "CreatedAt": {
                                    "description": "Entity creation date and time in the 'YYYY-MM-DD HH:MM:SS' format.",
                                    "type": "string",
                                    "minLength": 19,
                                    "maxLength": 19
                                  }
                                },
                                "required": [
                                  "OwnerCategoryId",
                                  "CategoryId",
                                  "EditorUserId",
                                  "CreatedAt"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 0,
                              "maxItems": 100,
                              "uniqueItems": true
                            },
                            "CreatedAt": {
                              "description": "Entity creation date and time in the 'YYYY-MM-DD HH:MM:SS' format.",
                              "type": "string",
                              "minLength": 19,
                              "maxLength": 19
                            }
                          },
                          "required": [
                            "OrganizationId",
                            "Categories",
                            "EditorUserId",
                            "CreatedAt"
                          ],
                          "additionalProperties": false
                        },
                        "Licensees": {
                          "description": "The list of brand licensees.",
                          "type": "array",
                          "items": {
                            "description": "Brand licensee.",
                            "type": "object",
                            "properties": {
                              "LicenseeId": {
                                "type": "string",
                                "pattern": "^[1-9][0-9]{0,19}$",
                                "description": "Licensee ID."
                              },
                              "OrganizationId": {
                                "description": "Organization unique identifier.",
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                                "minLength": 36,
                                "maxLength": 36
                              },
                              "EditorUserId": {
                                "type": "integer",
                                "maximum": 2147483647,
                                "minimum": 1,
                                "description": "Internal Icecat User identifier."
                              },
                              "Categories": {
                                "description": "Categories linked with the licensee.",
                                "type": "array",
                                "items": {
                                  "description": "Category linked with the licensee.",
                                  "type": "object",
                                  "properties": {
                                    "LicenseeCategoryId": {
                                      "type": "string",
                                      "pattern": "^[1-9][0-9]{0,19}$",
                                      "description": "Licensee category ID."
                                    },
                                    "CategoryId": {
                                      "description": "Internal Icecat category identifier. List of them could be obtained from category REST API",
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 2147483647
                                    },
                                    "EditorUserId": {
                                      "type": "integer",
                                      "maximum": 2147483647,
                                      "minimum": 1,
                                      "description": "Internal Icecat User identifier."
                                    },
                                    "CreatedAt": {
                                      "description": "Entity creation date and time in the 'YYYY-MM-DD HH:MM:SS' format.",
                                      "type": "string",
                                      "minLength": 19,
                                      "maxLength": 19
                                    }
                                  },
                                  "required": [
                                    "LicenseeCategoryId",
                                    "CategoryId",
                                    "EditorUserId",
                                    "CreatedAt"
                                  ],
                                  "additionalProperties": false
                                },
                                "minItems": 0,
                                "maxItems": 100,
                                "uniqueItems": true
                              },
                              "CreatedAt": {
                                "description": "Entity creation date and time in the 'YYYY-MM-DD HH:MM:SS' format.",
                                "type": "string",
                                "minLength": 19,
                                "maxLength": 19
                              }
                            },
                            "required": [
                              "OrganizationId",
                              "Categories",
                              "EditorUserId",
                              "CreatedAt"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 0,
                          "maxItems": 100,
                          "uniqueItems": true
                        },
                        "Representatives": {
                          "description": "The list of brand representatives.",
                          "type": "array",
                          "items": {
                            "description": "Brand representative.",
                            "type": "object",
                            "properties": {
                              "RepresentativeId": {
                                "type": "string",
                                "pattern": "^[1-9][0-9]{0,19}$",
                                "description": "Representative ID."
                              },
                              "OrganizationId": {
                                "description": "Organization unique identifier.",
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                                "minLength": 36,
                                "maxLength": 36
                              },
                              "EditorUserId": {
                                "type": "integer",
                                "maximum": 2147483647,
                                "minimum": 1,
                                "description": "Internal Icecat User identifier."
                              },
                              "Categories": {
                                "description": "Categories linked with the representative.",
                                "type": "array",
                                "items": {
                                  "description": "Category linked with the representative.",
                                  "type": "object",
                                  "properties": {
                                    "RepresentativeCategoryId": {
                                      "type": "string",
                                      "pattern": "^[1-9][0-9]{0,19}$",
                                      "description": "Representative category ID."
                                    },
                                    "CategoryId": {
                                      "description": "Internal Icecat category identifier. List of them could be obtained from category REST API",
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 2147483647
                                    },
                                    "EditorUserId": {
                                      "type": "integer",
                                      "maximum": 2147483647,
                                      "minimum": 1,
                                      "description": "Internal Icecat User identifier."
                                    },
                                    "CreatedAt": {
                                      "description": "Entity creation date and time in the 'YYYY-MM-DD HH:MM:SS' format.",
                                      "type": "string",
                                      "minLength": 19,
                                      "maxLength": 19
                                    }
                                  },
                                  "required": [
                                    "RepresentativeCategoryId",
                                    "CategoryId",
                                    "EditorUserId",
                                    "CreatedAt"
                                  ],
                                  "additionalProperties": false
                                },
                                "minItems": 0,
                                "maxItems": 100,
                                "uniqueItems": true
                              },
                              "CreatedAt": {
                                "description": "Entity creation date and time in the 'YYYY-MM-DD HH:MM:SS' format.",
                                "type": "string",
                                "minLength": 19,
                                "maxLength": 19
                              }
                            },
                            "required": [
                              "OrganizationId",
                              "Categories",
                              "EditorUserId",
                              "CreatedAt"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 0,
                          "maxItems": 100,
                          "uniqueItems": true
                        }
                      },
                      "required": [
                        "Licensees",
                        "Representatives"
                      ],
                      "additionalProperties": false
                    },
                    "Metadata": {
                      "type": "object",
                      "properties": {
                        "Organizations": {
                          "description": "Organization metadata.",
                          "type": "array",
                          "items": {
                            "description": "Organization.",
                            "type": "object",
                            "properties": {
                              "OrganizationId": {
                                "description": "Organization unique identifier.",
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                                "minLength": 36,
                                "maxLength": 36
                              },
                              "Name": {
                                "description": "Organization name.",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "CountryId": {
                                "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                                "type": "integer",
                                "minimum": 2,
                                "maximum": 500
                              },
                              "State": {
                                "description": "Address state name.",
                                "type": "string",
                                "minLength": 0,
                                "maxLength": 100
                              },
                              "City": {
                                "description": "Address city name.",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100
                              },
                              "Street": {
                                "description": "Address street name.",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100
                              },
                              "HouseNumber": {
                                "description": "Address house number.",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 20
                              },
                              "ZIP": {
                                "description": "Address ZIP code.",
                                "type": "string",
                                "minLength": 0,
                                "maxLength": 15
                              },
                              "URLs": {
                                "description": "Organization's web site list.",
                                "type": "array",
                                "minItems": 1,
                                "maxItems": 8,
                                "uniqueItems": true,
                                "items": {
                                  "description": "Valid URI",
                                  "type": "string",
                                  "format": "uri",
                                  "pattern": "^(https?|s?ftp)://"
                                }
                              },
                              "IsActive": {
                                "type": "boolean",
                                "description": "Activeness status."
                              }
                            },
                            "required": [
                              "OrganizationId",
                              "Name",
                              "CountryId",
                              "State",
                              "City",
                              "Street",
                              "HouseNumber",
                              "ZIP",
                              "URLs",
                              "IsActive"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 0,
                          "maxItems": 1000,
                          "uniqueItems": true
                        },
                        "Users": {
                          "description": "User metadata.",
                          "type": "array",
                          "items": {
                            "description": "User.",
                            "type": "object",
                            "properties": {
                              "UserId": {
                                "type": "integer",
                                "maximum": 2147483647,
                                "minimum": 1,
                                "description": "Internal Icecat User identifier."
                              },
                              "Login": {
                                "type": "string",
                                "description": "User login",
                                "minLength": 1,
                                "maxLength": 40
                              }
                            },
                            "required": [
                              "UserId",
                              "Login"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 0,
                          "maxItems": 1000,
                          "uniqueItems": true
                        },
                        "Categories": {
                          "description": "Category metadata.",
                          "type": "array",
                          "items": {
                            "description": "Icecat category.",
                            "type": "object",
                            "properties": {
                              "CategoryId": {
                                "description": "Internal Icecat category identifier. List of them could be obtained from category REST API",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 2147483647
                              },
                              "Name": {
                                "description": "Category name.",
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 200
                              }
                            },
                            "required": [
                              "CategoryId",
                              "Name"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 0,
                          "maxItems": 1000,
                          "uniqueItems": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/Sla": {
      "get": {
        "summary": "Returns all Sla",
        "description": "Returns all Sla",
        "tags": [
          "Sla"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of Sla",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "SlaId": {
                            "type": "integer",
                            "maximum": 2147483647,
                            "minimum": 1,
                            "description": "Id of SLA"
                          },
                          "Value": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 7,
                            "description": "Value of SLA"
                          },
                          "Disabled": {
                            "type": "boolean",
                            "description": "Status of SLA"
                          }
                        },
                        "required": [
                          "SlaId",
                          "Value",
                          "Disabled"
                        ],
                        "additionalProperties": false
                      }
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Nothing to return"
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      },
      "post": {
        "summary": "Creates new Sla",
        "description": "Creates new Sla",
        "tags": [
          "Sla"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Value": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000000,
                    "description": "Value of SLA"
                  }
                },
                "required": [
                  "Value"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true,
          "description": "SLA data object"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "SlaId": {
                          "type": "integer",
                          "maximum": 2147483647,
                          "minimum": 1,
                          "description": "Id of SLA"
                        },
                        "Message": {
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 255,
                          "description": "Message"
                        }
                      },
                      "required": [
                        "SlaId",
                        "Message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/ATS/{ProductId}/Booking": {
      "put": {
        "summary": "Create or replace booking by product ID.",
        "description": "Create or replace booking by product ID.",
        "tags": [
          "ATS"
        ],
        "parameters": [
          {
            "name": "ProductId",
            "in": "path",
            "description": "Internal Icecat product identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "UserId": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1,
                    "description": "Booking User identifier."
                  }
                },
                "required": [
                  "UserId"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true,
          "description": "Request body"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "404": {
            "description": "Requested content are not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/ProductLifeCycles": {
      "get": {
        "summary": "Get life cycle information for requested product.",
        "description": "Get lifecycle information for requested product.",
        "tags": [
          "ProductLifeCycles"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          },
          {
            "name": "ProductId",
            "in": "query",
            "description": "Internal Icecat product identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]{0,9}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "description": "List of life cycles.",
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 2147483647,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "LifeCycleId": {
                            "description": "Product life cycle identifier.",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 2147483647
                          },
                          "ProductId": {
                            "type": "integer",
                            "maximum": 2147483647,
                            "minimum": 1,
                            "description": "Internal Icecat product identifier."
                          },
                          "CountryId": {
                            "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                            "type": "integer",
                            "minimum": 2,
                            "maximum": 500
                          },
                          "ReleaseDate": {
                            "description": "Release date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                            "type": "string",
                            "minLength": 0,
                            "maxLength": 10
                          },
                          "EndOfLifeDate": {
                            "description": "End of life date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                            "type": "string",
                            "minLength": 0,
                            "maxLength": 10
                          }
                        },
                        "required": [
                          "LifeCycleId",
                          "ProductId",
                          "CountryId",
                          "ReleaseDate",
                          "EndOfLifeDate"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "204": {
            "description": "Nothing to return"
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      },
      "post": {
        "summary": "Create new product life cycle.",
        "description": "Create new product life cycle.",
        "tags": [
          "ProductLifeCycles"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ProductId": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1,
                    "description": "Internal Icecat product identifier."
                  },
                  "CountryId": {
                    "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 500
                  },
                  "ReleaseDate": {
                    "description": "Release date in the DD-MM-YYYY format.",
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10
                  },
                  "EndOfLifeDate": {
                    "description": "End of life date in the DD-MM-YYYY format.",
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10
                  }
                },
                "required": [
                  "ProductId",
                  "CountryId"
                ],
                "minProperties": 3,
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "LifeCycleId": {
                          "description": "Product life cycle identifier.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 2147483647
                        },
                        "ProductId": {
                          "type": "integer",
                          "maximum": 2147483647,
                          "minimum": 1,
                          "description": "Internal Icecat product identifier."
                        },
                        "CountryId": {
                          "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                          "type": "integer",
                          "minimum": 2,
                          "maximum": 500
                        },
                        "ReleaseDate": {
                          "description": "Release date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 10
                        },
                        "EndOfLifeDate": {
                          "description": "End of life date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 10
                        }
                      },
                      "required": [
                        "LifeCycleId",
                        "ProductId",
                        "CountryId",
                        "ReleaseDate",
                        "EndOfLifeDate"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      },
      "put": {
        "summary": "Create or update product life cycle.",
        "description": "Create or update product life cycle.",
        "tags": [
          "ProductLifeCycles"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ProductId": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1,
                    "description": "Internal Icecat product identifier."
                  },
                  "CountryId": {
                    "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 500
                  },
                  "ReleaseDate": {
                    "description": "Release date in the DD-MM-YYYY format.",
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10
                  },
                  "EndOfLifeDate": {
                    "description": "End of life date in the DD-MM-YYYY format.",
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10
                  }
                },
                "required": [
                  "ProductId",
                  "CountryId"
                ],
                "minProperties": 3,
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "LifeCycleId": {
                          "description": "Product life cycle identifier.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 2147483647
                        },
                        "ProductId": {
                          "type": "integer",
                          "maximum": 2147483647,
                          "minimum": 1,
                          "description": "Internal Icecat product identifier."
                        },
                        "CountryId": {
                          "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                          "type": "integer",
                          "minimum": 2,
                          "maximum": 500
                        },
                        "ReleaseDate": {
                          "description": "Release date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 10
                        },
                        "EndOfLifeDate": {
                          "description": "End of life date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 10
                        }
                      },
                      "required": [
                        "LifeCycleId",
                        "ProductId",
                        "CountryId",
                        "ReleaseDate",
                        "EndOfLifeDate"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "LifeCycleId": {
                          "description": "Product life cycle identifier.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 2147483647
                        },
                        "ProductId": {
                          "type": "integer",
                          "maximum": 2147483647,
                          "minimum": 1,
                          "description": "Internal Icecat product identifier."
                        },
                        "CountryId": {
                          "description": "Internal Icecat country identifier. List of them could be obtained from countries REST API",
                          "type": "integer",
                          "minimum": 2,
                          "maximum": 500
                        },
                        "ReleaseDate": {
                          "description": "Release date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 10
                        },
                        "EndOfLifeDate": {
                          "description": "End of life date in the DD-MM-YYYY format or an empty string if the date does not exist.",
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 10
                        }
                      },
                      "required": [
                        "LifeCycleId",
                        "ProductId",
                        "CountryId",
                        "ReleaseDate",
                        "EndOfLifeDate"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/multimedia/{ProductId}/{Policy}": {
      "put": {
        "summary": "Changes several multimedia objects of product according to policy.",
        "description": "Changes several multimedia objects of product according to policy.",
        "tags": [
          "Multimedia"
        ],
        "parameters": [
          {
            "name": "ProductId",
            "in": "path",
            "description": "Id of product",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4294967295
            }
          },
          {
            "name": "Policy",
            "in": "path",
            "description": "Defines how to replace butch of multimedia objects",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "replaceAll",
                "replaceOwn",
                "createOrSkip",
                "replaceAllByType"
              ],
              "minimum": 1,
              "maximum": 255
            }
          },
          {
            "name": "Allow202",
            "in": "query",
            "description": "Enable async processing mode. When set to 1, the request will be processed asynchronously and return HTTP 202 Accepted with ApiAsyncRequestId.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/multimediaPUTPolicy"
              }
            }
          },
          "required": true,
          "description": "Array of multimedia object"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multimediaPUTPolicyOk"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multimediaPUTPolicyAccepted"
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/BrandOrganizations/{BrandId}/Owner/Categories/{OwnerCategoryId}": {
      "delete": {
        "summary": "Unlinks the category from the owner.",
        "description": "Unlinks the category from the owner.",
        "tags": [
          "BrandOrganizations"
        ],
        "parameters": [
          {
            "name": "BrandId",
            "in": "path",
            "description": "Internal Icecat brand identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "OwnerCategoryId",
            "in": "path",
            "description": "Owner category ID.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]{0,19}$"
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "404": {
            "description": "Requested content are not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/UserMedia/Videos/{VideoId}/AgeRatings/{AgeRatingId}": {
      "patch": {
        "summary": "User media",
        "description": "User media",
        "tags": [
          "UserMedia"
        ],
        "parameters": [
          {
            "name": "VideoId",
            "in": "path",
            "description": "Video ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AgeRatingId",
            "in": "path",
            "description": "Internal Icecat Age rating ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AgeRatingValueId": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2147483647,
                    "description": "Internal Icecat Age rating value ID"
                  }
                },
                "required": [
                  "AgeRatingValueId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      },
      "delete": {
        "summary": "User media",
        "description": "User media",
        "tags": [
          "UserMedia"
        ],
        "parameters": [
          {
            "name": "VideoId",
            "in": "path",
            "description": "Internal Icecat Video ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AgeRatingId",
            "in": "path",
            "description": "Internal Icecat Age rating ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/AI/Text": {
      "post": {
        "summary": "Get translate or generate alternative text using defined rules for AI models.",
        "description": "Get translate or generate alternative text using defined rules for AI models.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Body for AI text generation and translation.",
                "type": "object",
                "properties": {
                  "OriginalLanguageId": {
                    "description": "Internal Icecat language identifier",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300
                  },
                  "TargetLanguageId": {
                    "description": "Internal Icecat language identifier",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300
                  },
                  "Text": {
                    "type": "string",
                    "description": "Original text to be translated or generated. Required for translations and optional for generations.",
                    "minLength": 1
                  },
                  "RuleId": {
                    "type": "string",
                    "pattern": "^[1-9][0-9]{0,19}$",
                    "description": "Identifier of AI rule."
                  }
                },
                "required": [
                  "OriginalLanguageId",
                  "TargetLanguageId",
                  "Text",
                  "RuleId"
                ],
                "additionalProperties": false
              }
            }
          },
          "description": "Request body."
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "Text": {
                          "type": "string",
                          "description": "Translated or generated text result.",
                          "minLength": 1
                        },
                        "ExecutionTime": {
                          "type": "number",
                          "description": "Execution time of response from third-party AI API in milliseconds."
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "Text",
                        "ExecutionTime"
                      ]
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/UserMedia/Videos/{VideoId}/Languages": {
      "post": {
        "summary": "User media",
        "description": "User media",
        "tags": [
          "UserMedia"
        ],
        "parameters": [
          {
            "name": "VideoId",
            "in": "path",
            "description": "Video ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "LanguageId": {
                    "description": "Internal Icecat language identifier",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300
                  }
                },
                "required": [
                  "LanguageId"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "LanguageId": {
                          "description": "Video`s language ID",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 300
                        }
                      },
                      "required": [
                        "LanguageId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "Data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/SlaUserListCoverage": {
      "post": {
        "summary": "SlaUserListCoverage",
        "description": "SlaUserListCoverage",
        "tags": [
          "SlaUserListCoverage"
        ],
        "parameters": [
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Batch": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Mpn": {
                          "description": "Manufacturer part number.",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 60
                        },
                        "ExternalSupplierName": {
                          "description": "External brand name",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "Mpn",
                        "ExternalSupplierName"
                      ],
                      "additionalProperties": false
                    },
                    "uniqueItems": true,
                    "minItems": 1,
                    "maxItems": 30000
                  }
                },
                "required": [
                  "Batch"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "TaskId": {
                          "description": "Internal TaskId of coverage",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 2147483647
                        }
                      },
                      "required": [
                        "TaskId"
                      ]
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Some of parameters is not valid or was not inputted. See returned message for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultErrors"
                }
              }
            }
          },
          "401": {
            "description": "Your AccessKey is not valid any more",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "403": {
            "description": "You are not assigned to this content!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "500": {
            "description": "This should never happens. Report such cases to support@icecat.biz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defaultError"
                }
              }
            }
          },
          "default": {
            "description": "This should never happens. Report such cases to support@icecat.biz"
          }
        }
      }
    },
    "/ProductDescriptions/{ProductDescriptionId}": {
      "get": {
        "summary": "Get description in product by product description ID.",
        "description": "Get description in product by product description ID.",
        "tags": [
          "ProductDescriptions"
        ],
        "parameters": [
          {
            "name": "ProductDescriptionId",
            "in": "path",
            "description": "ID of product description.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "AccessKey",
            "in": "query",
            "description": "Access key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 26,
              "maxLength": 48
            }
          },
          {
            "name": "SessionType",
            "in": "query",
            "description": "Type of session",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rest",
                "Rest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "ProductDescriptionId": {
                          "type": "integer",
                          "description": "ID of product description.",
                          "minimum": 1,
                          "maximum": 2147483647
                        },
                        "ProductId": {
                          "type": "integer",
                          "maximum": 2147483647,
                          "minimum": 1,
                          "description": "Internal Icecat product identifier."
                        },
                        "LanguageId": {
                          "description": "Internal Icecat language identifier",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 32767
                        },
                        "ShortDescription": {
                          "type": "string",
                          "description": "Long product name.",
                          "minLength": 1,
                          "maxLength": 3000
                        },
                        "LongDescription": {
                          "type": "string",
                          "description": "Marketing text.",
[...]
