{
  "openapi": "3.0.3",
  "info": {
    "termsOfService": "https://iterable.com/terms/",
    "title": "Iterable API",
    "version": "1.8",
    "x-jentic-source-url": "https://api.iterable.com/api-docs"
  },
  "servers": [
    {
      "url": "https://api.iterable.com/"
    }
  ],
  "paths": {
    "/api/auth/jwts/invalidate": {
      "post": {
        "summary": "Invalidate all JWTs issued for a user",
        "description": "Invalidates all JWTs issued for a given user before the current time or a specified time.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "Invalidate JWT",
        "tags": [
          "users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateJwtRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns": {
      "get": {
        "summary": "List campaign metadata",
        "description": "Get metadata about campaigns in a project. Use <code>page</code> and <code>pageSize</code> parameters to paginate results. If the unpaginated campaigns API is allowed for your project, then all campaigns are returned if no pagination parameters are provided. The unpaginated behavior is deprecated and may be removed in the future. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "campaigns",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starting at 1).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page (defaults to 20, maximum of 1000).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort campaigns by, with optional direction prefix. Use - for descending, + or no prefix for ascending. Campaigns can be sorted by id, name, createdAt, updatedAt, or startAt. Examples: -createdAt, +name, id",
            "schema": {
              "type": "string",
              "default": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/abort": {
      "post": {
        "summary": "Abort a campaign",
        "description": "Abort a campaign given a campaign ID",
        "operationId": "abort campaign",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/activateTriggered": {
      "post": {
        "summary": "Activate a triggered campaign",
        "description": "Activate a triggered campaign given a campaign ID",
        "operationId": "activate triggered campaign",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "403": {
            "description": "API triggered campaign activation is not enabled for your project"
          }
        }
      }
    },
    "/api/campaigns/archive": {
      "post": {
        "summary": "Archive campaigns",
        "description": "Archives one or more campaigns. This endpoint behaves the same as the archive feature in the UI. Scheduled or recurring campaigns will be cancelled, and running campaigns will be aborted.Archived campaigns will be hidden from the Campaigns page, but can still be viewed in the Archived tab.<b>Rate limit</b>: 5 requests/second, per API key.",
        "operationId": "archive campaigns",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkArchiveCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Campaigns archived successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/campaigns/cancel": {
      "post": {
        "summary": "Cancel a scheduled or recurring campaign",
        "description": "Cancel a campaign given a campaign ID",
        "operationId": "cancel campaign",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/create": {
      "post": {
        "summary": "Create a campaign",
        "description": "Creates a new blast or triggered campaign from an existing template. This endpoint can create email, push notification, web push notification, SMS, in-app message, and embedded message campaigns. <strong>Important note</strong>: Global suppression lists are <strong>not</strong> automatically added to campaigns created from this endpoint. To include a global suppression list, include it in the <code>suppressionListIds</code> request parameter. To learn more about creating a campaign with this API, see our <a href=\"https://support.iterable.com/hc/articles/204780579#post-api-campaigns-create\">API Overview</a>.",
        "operationId": "create campaign",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/deactivateTriggered": {
      "post": {
        "summary": "Deactivate a triggered campaign",
        "description": "Deactivate a triggered campaign given a campaign ID",
        "operationId": "Deactivate triggered campaign",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "403": {
            "description": "API triggered campaign deactivation is not enabled for your project"
          }
        }
      }
    },
    "/api/campaigns/metrics": {
      "get": {
        "summary": "Get metrics for campaigns",
        "description": "Get metrics for a single campaign or multiple campaigns. <b>Rate limit</b>: 10 requests/minute, per project.",
        "operationId": "metrics",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "description": "Campaign(s) to export",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          {
            "name": "startDateTime",
            "in": "query",
            "description": "Export starting from (>=).  Accepted formats include YYYY-MM-DD and other ISO 8601 formats.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2018-06-25"
            }
          },
          {
            "name": "endDateTime",
            "in": "query",
            "description": "Export ending at (<).  Accepted formats include YYYY-MM-DD and other ISO 8601 formats.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2018-07-25"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/recurring/{id}/childCampaigns": {
      "get": {
        "summary": "Get child campaigns of a recurring campaign",
        "description": "Get child campaigns generated by a recurring campaign. Use <code>page</code> and <code>pageSize</code> parameters to paginate results. If the unpaginated campaigns API is allowed for your project, then all child campaigns are returned if no pagination parameters are provided. The unpaginated behavior is deprecated and may be removed in the future. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "child campaigns",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starting at 1).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page (defaults to 20, maximum of 1000).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort campaigns by, with optional direction prefix. Use - for descending, + or no prefix for ascending. Campaigns can be sorted by id, name, createdAt, updatedAt, or startAt. Examples: -createdAt, +name, id",
            "schema": {
              "type": "string",
              "default": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/trigger": {
      "post": {
        "summary": "Trigger a campaign",
        "description": "Trigger a campaign given lists",
        "operationId": "trigger campaign",
        "tags": [
          "campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/campaigns/{campaignId}/schedule": {
      "post": {
        "summary": "Schedule existing campaign to be sent",
        "operationId": "schedule campaign",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "403": {
            "description": "API scheduling campaigns is not enabled for your project"
          }
        }
      }
    },
    "/api/campaigns/{campaignId}/send": {
      "post": {
        "summary": "Send existing campaign now",
        "operationId": "send campaign",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/{id}": {
      "get": {
        "summary": "Get a campaign",
        "description": "Get a campaign by ID. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "getCampaign",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDetails"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/api/catalogs": {
      "get": {
        "summary": "Get catalog names",
        "description": "Get catalog names. <br/><br/><b>Rate limit</b>: 100 requests/second, per API key.",
        "operationId": "listCatalogs",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to list (starting at 1).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to display per page (defaults to 10).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of catalogs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}": {
      "delete": {
        "summary": "Delete a catalog",
        "description": "Delete the catalog with the specified name. Also deletes all collections that reference the specified catalog.",
        "operationId": "deleteCatalog",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      },
      "post": {
        "summary": "Create a catalog",
        "description": "Create a catalog. Each catalog in a project must have a unique name. Catalog names can be no longer than 255 characters and must contain only alphanumeric characters and dashes.",
        "operationId": "createCatalog",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "201": {
            "description": "Catalog created"
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}/fieldMappings": {
      "get": {
        "summary": "Get field mappings for a catalog",
        "description": "Field mappings (field to data types) and undefined fields of a catalog",
        "operationId": "getFieldMappings",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field mappings for catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogFieldMappingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Catalog not found"
          }
        }
      },
      "put": {
        "summary": "Set a catalog's field mappings (data types)",
        "description": "Set a catalog's field mappings (data types). After being set, a given field's data type may not be changed. Valid types: boolean, date, geo_location, long, double, object, and string.",
        "operationId": "updateFieldTypes",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogMappingsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Catalog field mappings updated"
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}/items": {
      "delete": {
        "summary": "Bulk delete catalog items",
        "description": "Asynchronous. Delete the specified catalog items from the catalog.",
        "operationId": "bulkDeleteCatalogItems",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogBulkDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "202": {
            "description": "Bulk delete catalog items request received."
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      },
      "get": {
        "summary": "Get the catalog items for a catalog",
        "description": "Get the catalog items for a catalog. <br/><br/><b>Rate limit</b>: 100 requests/second, per API key.",
        "operationId": "listCatalogItems",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to list (starting at 1).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to display per page (defaults to 10).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Field by which results should be ordered. To also use the sortAscending parameter, this field must have a defined type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortAscending",
            "in": "query",
            "description": "Sort results by ascending (Defaults to false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Items in the catalog that satisfy the request restraints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Catalog not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Bulk create catalog items",
        "description": "Asynchronous. Create up to 1000 catalog items with a single request. Each of a catalog's items must have a unique ID that contains only alphanumeric characters and dashes and has a maximum length of 255 characters. If the catalog already contains an item with the same ID as one provided in the request body, the item in the catalog will be completely overwritten, unless replaceUploadedFieldsOnly is set to true. Do not use periods in field names.<br/><br/><b>Rate limit</b>: 100 requests/second, per API key.",
        "operationId": "bulkUpdateCatalogItems",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogBulkUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "202": {
            "description": "Request to bulk upload items received"
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Catalog not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}/items/{itemId}": {
      "delete": {
        "summary": "Delete a catalog item",
        "description": "Asynchronous. Deletes the specified item from the catalog. Data may not be deleted immediately.",
        "operationId": "deleteCatalogItem",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "Catalog item id [Alphanumeric, dashes, case sensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "202": {
            "description": "Received request to deleted item. Use GET /api/catalogs/{catalogName}/items/{itemId} to verify completion."
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      },
      "get": {
        "summary": "Get a specific catalog item",
        "description": "Get a specific catalog item from the given catalog.",
        "operationId": "getCatalogItem",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "Catalog item id [Alphanumeric, dashes, case sensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog Item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItemWithProperties"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "No catalog item at specified location"
          }
        }
      },
      "patch": {
        "summary": "Create or update a catalog item",
        "description": "Asynchronous. Create or update the specified catalog item in the given catalog. A catalog item's ID must be unique, contain only alphanumeric characters and dashes, and have a maximum length of 255 characters. If the catalog item already exists, its fields will be updated with the values provided in the request body. Previously existing fields not included in the request body will remain as is. Do not use periods in field names.",
        "operationId": "partialUpdateCatalogItem",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogUpdateItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "202": {
            "description": "Catalog item update request received. Use GET /api/catalogs/{catalogName}/items/{itemId} to verify completion."
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      },
      "put": {
        "summary": "Create or replace a catalog item",
        "description": "Asynchronous. Create or replace the specified catalog item in the given catalog. A catalog item's ID must be unique, contain only alphanumeric characters and dashes, and have a maximum length of 255 characters. If the catalog item already exists, it will be replaced by the value provided in the request body. Do not use periods in field names.<br/><br/><b>Rate limit</b>: 1000 requests/second, per API key.",
        "operationId": "indexCatalogItem",
        "tags": [
          "catalogs"
        ],
        "parameters": [
          {
            "name": "catalogName",
            "in": "path",
            "description": "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "Catalog item id [Alphanumeric, dashes, case sensitive, 255 characters max]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogIndexItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "202": {
            "description": "Catalog item update request received. Use GET /api/catalogs/{catalogName}/items/{itemId} to verify completion."
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/channels": {
      "get": {
        "summary": "Get channels",
        "description": "Get all message channels within the project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "channels",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/commerce/trackPurchase": {
      "post": {
        "summary": "Track a purchase",
        "description": "Track purchase events. <code>shoppingCartItems</code> field on the user profile is cleared. User profile is also updated if it already exists (created otherwise) using the user request field. Also, note that there is a soft limit on the number of unique fields a user can have (default is 1,000). Types of data fields must match the types sent in previous requests, across all data fields in the project.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackPurchase",
        "tags": [
          "commerce"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackPurchaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "409": {
            "description": "Email/userId conflict"
          }
        }
      }
    },
    "/api/commerce/updateCart": {
      "post": {
        "summary": "Update a user's shopping cart items",
        "description": "Update the <code>shoppingCartItems</code> field on the user profile with shopping cart items. User profile is updated if it already exists (created otherwise) via the user field. Types of data fields must match the types sent in previous requests, across all data fields in the project.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "updateCart",
        "tags": [
          "commerce"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "409": {
            "description": "Email/userId conflict"
          }
        }
      }
    },
    "/api/email/cancel": {
      "post": {
        "summary": "Cancel an email to a user",
        "description": "Cancels an email to a specific user. Request must include a <code>campaignId</code> and an <code>email</code> or <code>userId</code>, or just a <code>scheduledMessageId</code>.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "cancel",
        "tags": [
          "email"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelScheduledMessageRequest - campaignId OR scheduledMessageId are required"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/email/target": {
      "post": {
        "summary": "Send an email to an email address",
        "description": "Send an email to a specific email address. Request data fields will override user profile data fields. A reference to the user profile is provided via the <code>profile</code> field, to help resolve field collisions.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "target",
        "tags": [
          "email"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/email/viewInBrowser": {
      "get": {
        "summary": "View a previously sent email",
        "description": "View a rendered version of a previously sent email.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.<br/><br/><b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "viewInBrowser",
        "tags": [
          "email"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "user's email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "user's userId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "id of sent message",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Data feed error encountered"
          },
          "422": {
            "description": "Empty catalog collection encountered"
          }
        }
      }
    },
    "/api/embedded-messaging/events/click": {
      "post": {
        "summary": "Track an embedded message click",
        "description": "This endpoint tracks a click on an embedded message. It creates an <code>embeddedClick</code> event.<br/><br/>For test messages (proofs), no events are created.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "embedded-track-click",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddedClickRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/embedded-messaging/events/received": {
      "post": {
        "summary": "Track an embedded message received event",
        "description": "This endpoint tracks that a given embedded message was received on a device. It creates an <code>embeddedReceived</code> event in Iterable. <br/><br/>An <code>embeddedReceived</code> event indicates that a device has retrieved a message. It does not mean that the message has been displayed.<br/><br/>Iterable's SDKs automatically call this endpoint for each embedded message they retrieve. If you're not using an SDK, call this endpoint once per embedded message you retrieve from Iterable's API.<br/><br/>For test messages (proofs), no events are created.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "embedded-track-received",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddedReceivedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/embedded-messaging/events/session": {
      "post": {
        "summary": "Track an embedded message session and related impressions",
        "description": "This endpoint tracks a single <code>embeddedSession</code> event, and one <code>embeddedImpression</code> event for each of the session's impressions. <br/><br/>An <code>embeddedSession</code> event represents a period of time when a user is viewing a page or a screen where embedded messages can be displayed (in one or many placements).<br/><br/>An <code>embeddedImpression</code> event represents the number of times a given embedded message was visible during the session, and the total amount of time the message was visible (in seconds) across all those appearances.<br/><br/>This endpoint does not create events for test messages (proofs).<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "embedded-track-impression",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddedSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/embedded-messaging/messages": {
      "get": {
        "summary": "Get a user's embedded messages",
        "description": "This endpoint returns embedded messages for which the specified user is eligible, grouped by <code>placementId</code>.<br/><br/>By default, it returns data for all placements that have messages for the user. To constrain the response to specific placements, provide one or more <code>placementIds</code> query parameters.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "messages",
        "tags": [
          "Embedded Messaging"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "User identifier. Provide an email or a userId, but not both.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User identifier. Provide a userId or an email, but not both.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The platform of the app for which to retrieve embedded messages: iOS, Android, or Web (case-sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sdkVersion",
            "in": "query",
            "description": "Iterable SDK version (e.g., 6.5.0).",
            "schema": {
              "type": "string",
              "default": "None"
            }
          },
          {
            "name": "packageName",
            "in": "query",
            "description": "The package name of the app for which to retrieve embedded messages.",
            "schema": {
              "type": "string",
              "default": "None"
            }
          },
          {
            "name": "placementIds",
            "in": "query",
            "description": "Placements to include in the response, even if they don't have embedded messages for the user. When no placementIds are specified, the response includes all embedded messages for which the user is eligible.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          {
            "name": "currentMessageIds",
            "in": "query",
            "description": "IDs of embedded messages already retrieved by the device making the request. If the user is no longer eligible for a specified message, that message will be omitted from the API response. Otherwise, it will be present, but without an elements field.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/byUserId/{userId}": {
      "get": {
        "summary": "Get user events by userId",
        "description": "Get events for a specific user, by <code>userId</code>.<br/><br/>On Iterable's API Documentation page, this endpoint does not work for <code>userId</code> values that contain a <code>/</code> character. In such cases, you can still call this endpoint with a tool like curl or Postman, or from your code. To learn how, read <a href=\"https://support.iterable.com/hc/articles/360043464871#using-api-keys\">Using API keys</a>.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.<br/><br/><b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "User events by userId",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "UserId of the user whose events you are retrieving.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of events to retrieve.  (Max is 200)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/inAppConsume": {
      "post": {
        "summary": "Consume or delete an in-app message",
        "description": "Consumes or deletes an in-app message from the server. Use this API if your app does not use one of Iterable’s mobile SDKs, since they call it automatically. If an incoming in-app message is not configured to use the mobile inbox, use this API to \"consume\" it from the server queue after the user sees it. Otherwise, call this API when the user explicitly deletes an inbox-enabled message (by clicking a delete button in its content, swiping it in the inbox, etc.). If you pass a deleteAction value to this endpoint, Iterable generates an inAppDelete event; otherwise, it does not.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "inAppConsume",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InAppConsumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/track": {
      "post": {
        "summary": "Track an event",
        "description": "Events are created asynchronously and <b>processed separately from single event (non-bulk) endpoint</b>. To make sure events are tracked in order, send them all to the same endpoint (either bulk or non-bulk). <br/><br/>There is a soft limit (default is 8,000) on the number of unique fields a custom event can have. For events of the same name, identically named data fields must be of the same type.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.<br/><br/><b>Rate limit</b>: 2000 requests/second, per project.<br/><br/>",
        "operationId": "track",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackBulk": {
      "post": {
        "summary": "Bulk track events",
        "description": "Events are created asynchronously and <b>processed separately from single event (non-bulk) endpoint</b>. To make sure events are tracked in order, send them all to the same endpoint (either bulk or non-bulk). <br/><br/>There is a soft limit (default is 8,000) on the number of unique fields a custom event can have. For events of the same name, identically named data fields must be of the same type.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.<br/><br/><b>Rate limit</b>: 10 requests/second, per project.",
        "operationId": "trackBulk",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkTrackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkTrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppClick": {
      "post": {
        "summary": "Track an in-app message click",
        "description": "Creates an inAppClick event for the specified user, message, and URL. When not using one of Iterable’s mobile SDKs, call this endpoint when a user taps on a button or link in an in-app message.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackInAppClick",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InAppClickRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppClose": {
      "post": {
        "summary": "Track the closing of an in-app message",
        "description": "Creates an inAppClose event for a specific user and in-app message. When not using Iterable's mobile SDKs, call this endpoint to indicate that the user tapped a close button, link or back button to close a particular in app-message.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackInAppClose",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InAppCloseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppDelivery": {
      "post": {
        "summary": "Track the delivery of an in-app message",
        "description": "Creates an inAppDelivery event for a specific user, device, and message. When not using Iterable's mobile SDKs, call this endpoint to indicate that a particular message has been delivered to a particular device for a particular user. Take care not to call this endpoint multiple times for the same message/device/user combination.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackInAppDelivery",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InAppDeliveryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppOpen": {
      "post": {
        "summary": "Track an in-app message open",
        "description": "Creates an inAppOpen event for the specified user and message, and marks the message as having been read. When not using one of Iterable’s mobile SDKs, call this endpoint when a mobile app displays an in-app message to a user.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackInAppOpen",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InAppOpenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackPushOpen": {
      "post": {
        "summary": "Track a mobile push open",
        "description": "Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackPushOpen",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackPushOpenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackWebPushClick": {
      "post": {
        "summary": "Track a web push click",
        "description": "Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "trackWebPushClick",
        "tags": [
          "events"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebPushClickEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/events/{email}": {
      "get": {
        "summary": "Get user events",
        "description": "Get events for a specific user, by <code>email</code>.<br/><br/>On Iterable's API Documentation page, this endpoint does not work for <code>email</code> values that contain a <code>/</code> character. In such cases, you can still call this endpoint with a tool like curl or Postman, or from your code. To learn how, read <a href=\"https://support.iterable.com/hc/articles/360043464871#using-api-keys\">Using API keys</a>.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.<br/><br/><b>Rate limit</b>: 100 requests/second, per project.",
        "operationId": "User events",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email of the user whose events you are retrieving.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of events to retrieve.  (Max is 200)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/experiments/metrics": {
      "get": {
        "summary": "Get metrics for experiments",
        "description": "Get metrics for a single experiment or for multiple experiments. Note that we currently only support exporting email experiment metrics.",
        "operationId": "metrics",
        "tags": [
          "experiments"
        ],
        "parameters": [
          {
            "name": "experimentId",
            "in": "query",
            "description": "Experiment to export. Specify multiple experimentId query parameters to export multiple experiments.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Campaign whose experiments you want to export. Specify multiple campaignId query parameters to export multiple campaigns.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          {
            "name": "startDateTime",
            "in": "query",
            "description": "export starting from (>=)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2018-06-25"
            }
          },
          {
            "name": "endDateTime",
            "in": "query",
            "description": "export ending at (<=)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2018-07-25"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/export/data.csv": {
      "get": {
        "summary": "Export data to CSV",
        "description": "Export campaign analytics data in CSV format. Use of either 'range' or 'startDateTime' and 'endDateTime' is required.<br/><b>Rate limit</b>: 4 requests/minute, per project.",
        "operationId": "exportDataCsv",
        "tags": [
          "export"
        ],
        "parameters": [
          {
            "name": "dataTypeName",
            "in": "query",
            "description": "Data type name.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "emailSend",
                "emailOpen",
                "emailClick",
                "hostedUnsubscribeClick",
                "emailComplaint",
                "emailBounce",
                "emailSendSkip",
                "pushSend",
                "pushOpen",
                "pushUninstall",
                "pushBounce",
                "pushSendSkip",
                "inAppSend",
                "inAppOpen",
                "inAppClick",
                "inAppClose",
                "inAppDelete",
                "inAppDelivery",
                "inAppSendSkip",
                "inAppRecall",
                "inboxSession",
                "inboxMessageImpression",
                "smsSend",
                "smsBounce",
                "smsClick",
                "smsReceived",
                "smsSendSkip",
                "webPushSend",
                "webPushClick",
                "webPushSendSkip",
                "rcsSend",
                "rcsSendSkip",
                "emailSubscribe",
                "emailUnSubscribe",
                "purchase",
                "customEvent",
                "user",
                "smsUsageInfo",
                "embeddedSend",
                "embeddedSendSkip",
                "embeddedClick",
                "embeddedReceived",
                "embeddedImpression",
                "embeddedSession",
                "unknownSession",
                "journeyExit",
                "whatsAppBounce",
                "whatsAppClick",
                "whatsAppReceived",
                "whatsAppSeen",
                "whatsAppSend",
                "whatsAppSendSkip",
                "whatsAppUsageInfo"
              ]
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "date range, uses UTC time",
            "schema": {
              "type": "string",
              "enum": [
                "Today",
                "Yesterday",
                "BeforeToday",
                "All"
              ],
              "default": "Today"
            }
          },
          {
            "name": "delimiter",
            "in": "query",
            "description": "CSV file delimiter",
            "schema": {
              "type": "string",
              "default": ","
            }
          },
          {
            "name": "startDateTime",
            "in": "query",
            "description": "Export starting from (>=) (yyyy-MM-dd HH:mm:ss [ZZ])",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDateTime",
            "in": "query",
            "description": "Export ending at (<) (yyyy-MM-dd HH:mm:ss [ZZ])",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omitFields",
            "in": "query",
            "description": "Fields to omit (comma separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyFields",
            "in": "query",
            "description": "Only export these fields (comma separated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Only export data from this campaign",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/data.json": {
      "get": {
        "summary": "Export data to JSON",
        "description": "Export campaign analytics data in JSON format, one entry per line. Use of either 'range' or 'startDateTime' and 'endDateTime' is required.<br/><b>Rate limit</b>: 4 requests/minute, per project.",
        "operationId": "exportDataJson",
        "tags": [
          "export"
        ],
        "parameters": [
          {
            "name": "dataTypeName",
            "in": "query",
            "description": "Data type name.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "emailSend",
                "emailOpen",
                "emailClick",
                "hostedUnsubscribeClick",
                "emailComplaint",
                "emailBounce",
                "emailSendSkip",
                "pushSend",
                "pushOpen",
                "pushUninstall",
                "pushBounce",
                "pushSendSkip",
                "inAppSend",
                "inAppOpen",
                "inAppClick",
                "inAppClose",
                "inAppDelete",
                "inAppDelivery",
                "inAppSendSkip",
                "inAppRecall",
                "inboxSession",
                "inboxMessageImpression",
                "smsSend",
                "smsBounce",
                "smsClick",
                "smsReceived",
                "smsSendSkip",
                "webPushSend",
                "webPushClick",
                "webPushSendSkip",
                "rcsSend",
                "rcsSendSkip",
                "emailSubscribe",
                "emailUnSubscribe",
                "purchase",
                "customEvent",
                "user",
                "smsUsageInfo",
                "embeddedSend",
                "embeddedSendSkip",
                "embeddedClick",
                "embeddedReceived",
                "embeddedImpression",
                "embeddedSession",
                "unknownSession",
                "journeyExit",
                "whatsAppBounce",
                "whatsAppClick",
                "whatsAppReceived",
                "whatsAppSeen",
                "whatsAppSend",
                "whatsAppSendSkip",
                "whatsAppUsageInfo"
              ]
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "date range, uses UTC time",
            "schema": {
              "type": "string",
              "enum": [
                "Today",
                "Yesterday",
                "BeforeToday",
                "All"
              ],
              "default": "Today"
            }
          },
          {
            "name": "startDateTime",
            "in": "query",
            "description": "Export starting from (>=) (yyyy-MM-dd HH:mm:ss [ZZ])",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDateTime",
            "in": "query",
            "description": "Export ending at (<) (yyyy-MM-dd HH:mm:ss [ZZ])",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omitFields",
            "in": "query",
            "description": "Fields to omit (comma separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyFields",
            "in": "query",
            "description": "Only export these fields (comma separated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Only export data from this campaign",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/x-json-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/jobs": {
      "get": {
        "summary": "Get export jobs",
        "description": "Return a list of recent export jobs. Only includes jobs for the current project and not other projects.",
        "operationId": "getExportJobs",
        "tags": [
          "export"
        ],
        "parameters": [
          {
            "name": "jobState",
            "in": "query",
            "description": "Filter results to only include jobs in the specified state",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/export/start": {
      "post": {
        "summary": "Start export",
        "description": "Start a data export. The export processes as a background job. Use the \"Get export files\" endpoint to check export status by <code>jobId</code> and obtain file download links.<br/><br/><b>Rate limit</b>: 1 request/second, per organization. <br/><b>Concurrent request limit</b>: Up to 4 exports process at a time, per organization. Additional requests are queued.",
        "operationId": "startExport",
        "tags": [
          "export"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartExportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartExportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/export/userEvents": {
      "get": {
        "summary": "Export user events",
        "description": "Export all events (in JSON) for the user specified by <code>email</code> or <code>userId</code>. One event per line.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "exportUserEvents",
        "tags": [
          "export"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Export by user's email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Export by user's ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCustomEvents",
            "in": "query",
            "description": "Include Custom Events",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/x-json-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/{jobId}": {
      "delete": {
        "summary": "Cancel export",
        "description": "Cancel a queued or running export created with the \"Start export\" endpoint. <br/><b>Rate limit</b>: 1 request/second, per project.",
        "operationId": "cancelExport",
        "tags": [
          "export"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the export job. Use the jobId returned from the \"Start export\" endpoint.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/api/export/{jobId}/files": {
      "get": {
        "summary": "Get export files",
        "description": "Get the job status and files for an export started with the \"Start export\" endpoint. <br/><br/>Occasionally, a job status may change from running to enqueued because it had to restart. When this happens, the job maintains progress and begins where it previously stopped. Iterable uses exponential backoff for retries.<br/><br/>Files are added to the list as the export job is running. Paginate through the files by using the last file name in the response as the <code>startAfter</code> value for the next request.  Each file is up to 10MB. Exports are limited to 100GB in total size. <br/><br/><b>Rate limit</b>: 1 request/second, per organization. <br/><b>Concurrent request limit</b>: Up to 4 exports process at a time, per organization. Additional requests are queued.",
        "operationId": "getExportFiles",
        "tags": [
          "export"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the export job. Use the jobId returned from the \"Start export\" endpoint.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startAfter",
            "in": "query",
            "description": "Skip file names up to and including this value. Use for paginating over the files in the export.",
            "schema": {
              "type": "string",
              "default": "None"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobStatusAndFiles"
                }
              }
            }
          }
        }
      }
    },
    "/api/inApp/cancel": {
      "post": {
        "summary": "Cancel a scheduled in-app message",
        "description": "Cancels the sending of a scheduled in-app message to a specific user.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "cancel",
        "tags": [
          "In-app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelScheduledMessageRequest - campaignId OR scheduledMessageId are required"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/getMessages": {
      "get": {
        "summary": "Get a user's in-app messages",
        "description": "Get a user's in-app messages. This endpoint always returns the user's non-selective (not app-specific) in-app messages; to also fetch app-specific in-app messages, include a <code>packageName</code> and <code>platform</code> in the request. This endpoint returns new messages and messages that have already been saved to a mobile inbox, and each message has a <code>read</code> field to indicate whether or not it has already been seen.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "getMessages",
        "tags": [
          "In-app"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email address of the user for which to fetch in-app messages. Specify either an email or a userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "The userId of the user for which to fetch in-app messages. Specify either an email or a userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of in-app messages to fetch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The platform of the app for which to retrieve selective in-app messages: iOS, Android, Web, or OTT (case-sensitive).",
            "schema": {
              "type": "string",
              "enum": [
                "iOS",
                "Android",
                "Web",
                "OTT"
              ],
              "default": "None"
            }
          },
          {
            "name": "SDKVersion",
            "in": "query",
            "description": "Iterable SDK version (e.g., 6.2.17)",
            "schema": {
              "type": "string",
              "default": "None"
            }
          },
          {
            "name": "packageName",
            "in": "query",
            "description": "The package name of the app for which to retrieve selective in-app messages.",
            "schema": {
              "type": "string",
              "default": "None"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInAppMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/getPriorityMessage": {
      "get": {
        "summary": "Get a user's most relevant in-app message",
        "description": "Get a user's most relevant in-app message.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "getPriorityMessage",
        "tags": [
          "In-app"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email address of the user for which to fetch in-app messages. Specify either an email or a userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "The userId of the user for which to fetch in-app messages. Specify either an email or a userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The platform of the app for which to retrieve selective in-app messages: iOS, Android, Web, or OTT (case-sensitive).",
            "schema": {
              "type": "string",
              "enum": [
                "iOS",
                "Android",
                "Web",
                "OTT"
              ],
              "default": "None"
            }
          },
          {
            "name": "SDKVersion",
            "in": "query",
            "description": "Iterable SDK version (e.g., 6.2.17)",
            "schema": {
              "type": "string",
              "default": "None"
            }
          },
          {
            "name": "packageName",
            "in": "query",
            "description": "The package name of the app for which to retrieve selective in-app messages.",
            "schema": {
              "type": "string",
              "default": "None"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInAppMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/target": {
      "post": {
        "summary": "Send an in-app notification to a user",
        "description": "Send an in-app notification to a specific user. Request data fields will override user profile data fields. A reference to the user profile is provided via the <code>profile</code> field, to help resolve field collisions.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "target",
        "tags": [
          "In-app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetInAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/web/getMessages": {
      "get": {
        "summary": "Get a user's web in-app messages",
        "description": "Get a user's web in-app messages. This endpoint always returns the user's non-selective (not app-specific) web in-app messages; to also fetch web app-specific in-app messages, include a <code>packageName</code> in the request. This endpoint returns new messages and messages that have already been saved to a mobile inbox, and each message has a <code>read</code> field to indicate whether or not it has already been seen.<br/><br/>Learn about <a href=\"https://support.iterable.com/hc/articles/29156459027348\">identifying users by <code>userId</code> and <code>email</code></a>.",
        "operationId": "getMessages",
        "tags": [
          "In-app-web"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email address of the user for which to fetch in-app messages. Specify either an email or a userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "The userId of the user for which to fetch in-app messages. Specify either an email or a userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of web in-app messages to fetch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SDKVersion",
            "in": "query",
            "description": "Iterable SDK version (e.g., 6.2.17)",
            "schema": {
              "type": "string",
              "default": "None"
            }
          },
          {
            "name": "packageName",
            "in": "query",
            "description": "The package name of the app for which to retrieve selective web in-app messages.",
            "schema": {
              "type": "string",
              "default": "None"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInAppMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/journeys": {
      "get": {
        "summary": "Get journeys (workflows)",
        "description": "Get a list of the journeys within your project.",
        "operationId": "getJourneys",
        "tags": [
[...]
