{
  "openapi": "3.0.3",
  "info": {
    "title": "Currencylayer API",
    "description": "Real-time and historical exchange rate data API. Provides live currency quotes, historical rates, currency conversion, timeframe queries, and rate change data for 168 world currencies.",
    "version": "1.0.0",
    "contact": {
      "name": "Currencylayer",
      "url": "https://currencylayer.com"
    }
  },
  "servers": [
    {
      "url": "https://api.currencylayer.com",
      "description": "Production server (HTTPS - paid plans)"
    },
    {
      "url": "http://api.currencylayer.com",
      "description": "Production server (HTTP - free plan)"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/live": {
      "get": {
        "operationId": "getLiveRates",
        "summary": "Get live exchange rates",
        "description": "Returns real-time exchange rate data for all available or specified currencies. Rates are updated every 60 seconds to every 60 minutes depending on your plan.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output (e.g., USD,EUR,GBP).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source currency for the rates (default: USD). Requires paid plan for non-USD sources.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to 1 for cleaner JSON formatting.",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with live rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveResponse"
                }
              }
            }
          }
        },
        "tags": [
          "live"
        ]
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns historical exchange rate data for a specific date.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The date for historical rates (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source currency (default: USD).",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          }
        },
        "tags": [
          "historical"
        ]
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency amounts",
        "description": "Converts an amount from one currency to another using real-time or historical exchange rates.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The currency code to convert from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "The currency code to convert to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount to convert.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Optional date for historical conversion (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          }
        },
        "tags": [
          "convert"
        ]
      }
    },
    "/timeframe": {
      "get": {
        "operationId": "getTimeframeRates",
        "summary": "Get rates for a timeframe",
        "description": "Returns daily exchange rate data within a specified timeframe (maximum 365 days).",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date of the timeframe (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date of the timeframe (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source currency (default: USD).",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful timeframe response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeframeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "timeframe"
        ]
      }
    },
    "/change": {
      "get": {
        "operationId": "getRateChange",
        "summary": "Get rate change data",
        "description": "Returns the change (margin and percentage) of one or more currencies between two specified dates.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date (format: YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source currency (default: USD).",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful change response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "change"
        ]
      }
    },
    "/list": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List supported currencies",
        "description": "Returns a list of all supported currencies with their codes and names.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of currencies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "list"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "LiveResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the rates."
          },
          "source": {
            "type": "string",
            "description": "The source currency."
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Object containing currency pair quotes (e.g., USDEUR: 0.85)."
          }
        }
      },
      "HistoricalResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "timestamp": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "quote": {
                "type": "number"
              }
            }
          },
          "result": {
            "type": "number"
          }
        }
      },
      "TimeframeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timeframe": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Object keyed by date, each containing currency pair quotes."
          }
        }
      },
      "ChangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "change": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number"
                },
                "end_rate": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "change_pct": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "currencies": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Object mapping currency codes to currency names."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "tags": [
    {
      "name": "change"
    },
    {
      "name": "convert"
    },
    {
      "name": "historical"
    },
    {
      "name": "list"
    },
    {
      "name": "live"
    },
    {
      "name": "timeframe"
    }
  ]
}
