{
  "openapi": "3.0.3",
  "info": {
    "title": "Web of Trust (WOT) Reputation API",
    "description": "The Web of Trust (WOT) API provides website reputation and safety scores. It allows you to check the trustworthiness and child safety ratings of websites based on community feedback and machine learning algorithms.",
    "version": "2.0.0",
    "contact": {
      "name": "WOT Services",
      "url": "https://www.mywot.com"
    }
  },
  "servers": [
    {
      "url": "https://scorecard.api.mywot.com/v3",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/targets": {
      "get": {
        "operationId": "getTargetReputation",
        "summary": "Get website reputation",
        "description": "Retrieve reputation scores and safety ratings for one or more target websites. Returns trustworthiness and child safety confidence scores, categories, and blacklist status.",
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target domain or URL to check (e.g., example.com). Multiple targets can be specified by repeating this parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Reputation data for the requested targets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TargetReputation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - API key does not have access"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "targets"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-user-token",
        "description": "API token obtained from the WOT developer portal"
      }
    },
    "schemas": {
      "TargetReputation": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "description": "The target domain that was checked"
          },
          "safety": {
            "type": "object",
            "description": "Safety reputation scores",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "SAFE",
                  "UNSAFE",
                  "SUSPICIOUS",
                  "UNKNOWN"
                ],
                "description": "Overall safety status"
              },
              "reputations": {
                "type": "integer",
                "description": "Reputation score (0-100)"
              },
              "confidence": {
                "type": "integer",
                "description": "Confidence level of the score (0-100)"
              }
            }
          },
          "childSafety": {
            "type": "object",
            "description": "Child safety reputation scores",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "SAFE",
                  "UNSAFE",
                  "SUSPICIOUS",
                  "UNKNOWN"
                ],
                "description": "Child safety status"
              },
              "reputations": {
                "type": "integer",
                "description": "Child safety score (0-100)"
              },
              "confidence": {
                "type": "integer",
                "description": "Confidence level (0-100)"
              }
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Category identifier"
                },
                "name": {
                  "type": "string",
                  "description": "Category name"
                },
                "confidence": {
                  "type": "integer",
                  "description": "Confidence of categorization (0-100)"
                }
              }
            },
            "description": "Content categories detected for this target"
          },
          "blacklists": {
            "type": "object",
            "description": "Blacklist status information",
            "properties": {
              "isBlacklisted": {
                "type": "boolean",
                "description": "Whether the target appears on any blacklists"
              },
              "blacklists": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "targets"
    }
  ]
}
