{
  "openapi": "3.0.3",
  "info": {
    "title": "Django Packages",
    "version": "3.0.0",
    "description": "REST API for Django Packages, a directory of reusable apps, sites, tools, and more for Django projects.",
    "x-jentic-source-url": "https://djangopackages.org/api/v3/"
  },
  "servers": [
    {
      "url": "https://djangopackages.org/api/v3"
    }
  ],
  "paths": {
    "/categories/": {
      "get": {
        "operationId": "listCategories",
        "summary": "List all categories",
        "description": "Returns a paginated list of package categories.",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "objects": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/categories/{slug}/": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get a category by slug",
        "description": "Returns a single category resource.",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Category not found"
          }
        }
      }
    },
    "/grids/": {
      "get": {
        "operationId": "listGrids",
        "summary": "List all grids",
        "description": "Returns a paginated list of comparison grids.",
        "tags": [
          "Grids"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "objects": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Grid"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/grids/{slug}/": {
      "get": {
        "operationId": "getGrid",
        "summary": "Get a grid by slug",
        "description": "Returns a single comparison grid resource.",
        "tags": [
          "Grids"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grid"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Grid not found"
          }
        }
      }
    },
    "/packages/": {
      "get": {
        "operationId": "listPackages",
        "summary": "List all packages",
        "description": "Returns a paginated list of Django packages.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "objects": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Package"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/packages/{slug}/": {
      "get": {
        "operationId": "getPackage",
        "summary": "Get a package by slug",
        "description": "Returns a single Django package resource.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Package"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/users/": {
      "get": {
        "operationId": "listUsers",
        "summary": "List all users",
        "description": "Returns a paginated list of users who have contributed to Django Packages.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "objects": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/users/{id}/": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user by ID",
        "description": "Returns a single user resource.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Number of results to return per page",
        "schema": {
          "type": "integer",
          "default": 20
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Index of the first result to return",
        "schema": {
          "type": "integer",
          "default": 0
        }
      }
    },
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "offset": {
            "type": "integer"
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "absolute_url": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "title_plural": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "resource_uri": {
            "type": "string"
          },
          "show_pypi": {
            "type": "boolean"
          }
        }
      },
      "Grid": {
        "type": "object",
        "properties": {
          "absolute_url": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_locked": {
            "type": "boolean"
          },
          "header": {
            "type": "boolean"
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of package API URIs"
          },
          "resource_uri": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "absolute_url": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "resource_uri": {
            "type": "string"
          }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "absolute_url": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "description": "API URI of the category"
          },
          "commit_list": {
            "type": "string",
            "description": "Comma-separated list of commit counts"
          },
          "commits_over_52": {
            "type": "string",
            "description": "Comma-separated weekly commit counts over 52 weeks"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "API URI of the creator"
          },
          "documentation_url": {
            "type": "string"
          },
          "grids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of grid API URIs"
          },
          "last_fetched": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified_by": {
            "type": "string",
            "nullable": true
          },
          "participants": {
            "type": "string",
            "description": "Comma-separated list of participant names"
          },
          "pypi_url": {
            "type": "string"
          },
          "pypi_version": {
            "type": "string",
            "nullable": true
          },
          "repo_description": {
            "type": "string"
          },
          "repo_forks": {
            "type": "integer"
          },
          "repo_url": {
            "type": "string"
          },
          "repo_watchers": {
            "type": "integer"
          },
          "resource_uri": {
            "type": "string"
          },
          "usage_count": {
            "type": "integer"
          }
        }
      }
    }
  }
}